Repository mantidproject/mantid, pull requests merged in 2018-05, with the labels that each got.

#22249 Incorrect angle used in conversion to Q in RRO
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/SpecularReflectionPositionCorrect2.cpp
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  Framework/Algorithms/test/SpecularReflectionPositionCorrect2Test.h
  docs/source/release/v3.13.0/reflectometry.rst
Labels: Component: Reflectometry, Misc: Bug

#22351 Fixed instrument view crash bug
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/PanelsSurface.cpp
Labels: Component: GUI, Misc: Bug

#22339 SANS user file parse mask time
  scripts/SANS/sans/user_file/state_director.py
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/test/SANS/user_file/user_file_parser_test.py
Labels: Component: Python, Component: SANS

#22337 Convert the workspace into distribution in DirectILLReduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLReductionTest.py
  docs/source/diagrams/DirectILLReduction-v1_wkflw.dot
  docs/source/release/v3.13.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#22185 Reflectometry Q resolution calculation
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryMomentumTransfer.h
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
  Framework/Algorithms/test/ReflectometryMomentumTransferTest.h
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/release/v3.13.0/reflectometry.rst
Labels: Component: Reflectometry

#22281 ISIS Powder PEARL - revert instrument settings to default after every method call
  Testing/SystemTests/tests/analysis/ISIS_PowderPearlTest.py
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  docs/source/techniques/ISISPowder-Tutorials.rst
  scripts/Diffraction/isis_powder/pearl.py
Labels: Component: Diffraction, Component: Python

#22340 New WANDPowderReduction Algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
  docs/source/algorithms/WANDPowderReduction-v1.rst
  docs/source/images/WANDPowderReduction_MaskAngle.png
  docs/source/images/WANDPowderReduction_silicon_powder.png
  docs/source/images/WANDPowderReduction_silicon_powder_d.png
  docs/source/images/WANDPowderReduction_silicon_powder_q.png
  docs/source/release/v3.13.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#22016 LoadSampleShape algorithm for STL files
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleShape.h
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/test/LoadSampleShapeTest.h
  Framework/Geometry/test/MeshObjectTest.h
  Testing/Data/UnitTest/cube.stl.md5
  Testing/Data/UnitTest/cylinder.stl.md5
  Testing/Data/UnitTest/invalid_keyword.stl.md5
  Testing/Data/UnitTest/invalid_solid.stl.md5
  Testing/Data/UnitTest/invalid_triangle.stl.md5
  Testing/Data/UnitTest/invalid_vertex.stl.md5
  Testing/Data/UnitTest/tube.stl.md5
  docs/source/algorithms/LoadSampleShape-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/framework.rst
  docs/source/release/v3.13.0/muon.rst
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
Labels: Component: Framework

#22364 Fix segfault when seeAlso overridden in Python
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/PySequenceToVector.h
  Framework/PythonInterface/mantid/api/src/PythonAlgorithm/AlgorithmAdapter.cpp
Labels: Component: Python

#22001 Improve beam stop masking in DirectILLDiagnostics
  Framework/Algorithms/src/BinaryOperation.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  docs/source/release/v3.13.0/direct_inelastic.rst
  instrument/masks/IN5_Mask.xml
Labels: Component: Direct Inelastic, Misc: Bug

#22382 ISIS Powder prevent infinite recursion when deep-copying instrument settings object
  scripts/Diffraction/isis_powder/routines/instrument_settings.py
Labels: Component: Diffraction, Component: Python, Quality: System Tests

#22390 Update inputsplitter.py
  qt/python/mantidqt/widgets/codeeditor/inputsplitter.py
Labels: Component: Python, Component: Workbench, Misc: Bug

#22298 Refactor MuonMaxEnt in Frequency Domain Analysis
  scripts/Muon/maxent_model.py
  scripts/Muon/maxent_presenter.py
  scripts/Muon/maxent_view.py
  scripts/Muon/message_box.py
  scripts/Muon/model_constructor.py
  scripts/Muon/thread_model.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/MaxEntModel_test.py
  scripts/test/Muon/MaxEntPresenter_test.py
Labels: Component: Muon, Misc: Maintenance

#22116 Remove the EPPWorkspace input property from DirectILLCollectData
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/diagrams/DirectILLCollectData-v1_wkflw.dot
  docs/source/release/v3.13.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#22386 Prevent crash - missing error handling in `RunCombinationHelper`
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/src/RunCombinationHelpers/RunCombinationHelper.cpp
  Framework/Algorithms/test/ConjoinXRunsTest.h
  Framework/Algorithms/test/RunCombinationHelperTest.h
  Framework/SINQ/test/PoldiIndexKnownCompoundsTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
Labels: Component: Framework, Misc: Bug

#22392 Carpenter corrections
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CalculateCarpenterSampleCorrection.h
  Framework/Algorithms/inc/MantidAlgorithms/CarpenterSampleCorrection.h
  Framework/Algorithms/inc/MantidAlgorithms/MonteCarloAbsorption.h
  Framework/Algorithms/src/CalculateCarpenterSampleCorrection.cpp
  Framework/Algorithms/src/CarpenterSampleCorrection.cpp
  Framework/Algorithms/src/MultipleScatteringCylinderAbsorption.cpp
  Framework/Algorithms/test/CalculateCarpenterSampleCorrectionTest.h
  Framework/Algorithms/test/CarpenterSampleCorrectionTest.h
  Framework/PythonInterface/plugins/algorithms/PearlMCAbsorption.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Testing/SystemTests/tests/analysis/reference/PG3_4844_reference.gsa.md5
  docs/source/algorithms/AbsorptionCorrection-v1.rst
  docs/source/algorithms/CalculateCarpenterSampleCorrection-v1.rst
  docs/source/algorithms/CarpenterSampleCorrection-v1.rst
  docs/source/algorithms/MayersSampleCorrection-v1.rst
  docs/source/concepts/MultipleScattering.rst
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework

#22366 Muon algorithms and dead detectors
  Framework/Algorithms/src/CalMuonDetectorPhases.cpp
  Framework/Algorithms/src/PhaseQuadMuon.cpp
  Framework/Algorithms/src/RemoveExpDecay.cpp
  Framework/Algorithms/test/PhaseQuadMuonTest.h
  Framework/PythonInterface/plugins/algorithms/MuonMaxent.py
  Framework/PythonInterface/test/python/plugins/algorithms/MuonMaxEntTest.py
  docs/source/algorithms/CalMuonDetectorPhases-v1.rst
  docs/source/algorithms/MuonMaxent-v1.rst
  docs/source/algorithms/PhaseQuad-v1.rst
  docs/source/algorithms/RemoveExpDecay-v1.rst
  docs/source/release/v3.13.0/muon.rst
  scripts/Muon/MaxentTools/dead_detector_handler.py
  scripts/Muon/MaxentTools/multimaxalpha.py
Labels: Component: Muon

#22360 Add RCut WCut to ISIS Sans Gui's
  docs/source/release/v3.13.0/sans.rst
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.cpp
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.ui
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Component: GUI, Component: SANS

#22342 IndexProperty now valid if workspace pointer is null
  Framework/API/src/IndexProperty.cpp
Labels: Component: Framework

#22388 Add background scale to WANDPowderReduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
  docs/source/algorithms/WANDPowderReduction-v1.rst
  docs/source/images/WANDPowderReduction_silicon_powder_bkg.png
Labels: Component: Diffraction, Group: Powder

#22424 Pd calib fit peaks 22286
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/inc/MantidAlgorithms/PDCalibration.h
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/src/PDCalibration.cpp
  Framework/Algorithms/test/FitPeaksTest.h
  Framework/Algorithms/test/PDCalibrationTest.h
  docs/source/algorithms/FitPeaks-v1.rst
  docs/source/algorithms/PDCalibration-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Diffraction, Group: Powder

#22422 Improve handling of TableColumns with non-numerical entries
  Framework/API/inc/MantidAPI/Column.h
  Framework/API/test/FunctionDomainGeneralTest.h
  Framework/DataObjects/inc/MantidDataObjects/PeakColumn.h
  Framework/DataObjects/inc/MantidDataObjects/TableColumn.h
  Framework/DataObjects/inc/MantidDataObjects/VectorColumn.h
  Framework/DataObjects/src/PeakColumn.cpp
  Framework/DataObjects/test/PeakColumnTest.h
  Framework/DataObjects/test/TableColumnTest.h
  Framework/DataObjects/test/VectorColumnTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
  MantidPlot/src/Mantid/MantidTable.cpp
  docs/source/concepts/TableWorkspaces.rst
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework, Misc: Bug

#22405 Muon Analysis workspace bugs
  docs/source/release/v3.13.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Muon

#22312 Architecture for Muon Analysis version 2
  scripts/Muon/GUI/__init__.py
  scripts/Muon/GUI/dock/__init__.py
  scripts/Muon/GUI/dock/dock_view.py
  scripts/Muon/GUI/dock/dock_widget.py
  scripts/Muon/GUI/dummy/__init__.py
  scripts/Muon/GUI/dummy/dummy_presenter.py
  scripts/Muon/GUI/dummy/dummy_view.py
  scripts/Muon/GUI/dummy/dummy_widget.py
  scripts/Muon/GUI/dummy_label/__init__.py
  scripts/Muon/GUI/dummy_label/dummy_label_presenter.py
  scripts/Muon/GUI/dummy_label/dummy_label_view.py
  scripts/Muon/GUI/dummy_label/dummy_label_widget.py
  scripts/Muon_Analysis_2.py
Labels: Component: GUI

#22284 Update Mantid to use OpenGL target.
  CMakeLists.txt
  Framework/Geometry/CMakeLists.txt
  MantidPlot/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
Labels: Component: Framework, Component: GUI, Quality: Code Quality

#22434 fixed OSX failing doc test (muon)
  docs/source/algorithms/CalMuonDetectorPhases-v1.rst
Labels: Component: Documentation

#22445 Add WAND_Parameters.xml so that MergeRuns does the right thing
  instrument/WAND_Parameters.xml
Labels: Component: Diffraction, Group: Powder

#22430 Robustness improvements to Python fit functions
  Framework/API/inc/MantidAPI/IFunction1D.h
  Framework/API/inc/MantidAPI/IFunction1D.tcc
  Framework/API/inc/MantidAPI/IPeakFunction.h
  Framework/API/src/IFunction.cpp
  Framework/API/src/IFunction1D.cpp
  Framework/API/src/IPeakFunction.cpp
  Framework/PythonInterface/inc/MantidPythonInterface/api/FitFunctions/IFunction1DAdapter.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/FitFunctions/IFunctionAdapter.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/FitFunctions/IPeakFunctionAdapter.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/NumpyFunctions.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Environment/CallMethod.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/kernel.h
  Framework/PythonInterface/mantid/api/src/Exports/FunctionFactory.cpp
  Framework/PythonInterface/mantid/api/src/FitFunctions/IFunction1DAdapter.cpp
  Framework/PythonInterface/mantid/api/src/FitFunctions/IFunctionAdapter.cpp
  Framework/PythonInterface/mantid/api/src/FitFunctions/IPeakFunctionAdapter.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/CloneToNumpy.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/DateAndTime.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/NDArrayToVector.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/NumpyFunctions.cpp
  Framework/PythonInterface/mantid/kernel/src/kernel.cpp.in
  Framework/PythonInterface/test/cpp/CMakeLists.txt
  Framework/PythonInterface/test/cpp/FunctionAdapterTestCommon.h
  Framework/PythonInterface/test/cpp/IFunction1DAdapterTest.h
  Framework/PythonInterface/test/cpp/IPeakFunctionAdapterTest.h
  Framework/PythonInterface/test/cpp/PropertyWithValueFactoryTest.h
  Framework/PythonInterface/test/cpp/PySequenceToVectorTest.h
  Framework/PythonInterface/test/cpp/PythonAlgorithmInstantiatorTest.h
  Framework/PythonInterface/test/cpp/PythonObjectInstantiatorTest.h
  Framework/PythonInterface/test/python/mantid/api/FunctionFactoryTest.py
  Framework/PythonInterface/test/python/mantid/api/IFunction1DTest.py
  Framework/PythonInterface/test/python/mantid/api/IPeakFunctionTest.py
  docs/source/release/v3.13.0/framework.rst
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Component: Fitting, Component: Framework

#22440 Fix 2 for calMuonDetectorPhases doc
  docs/source/algorithms/CalMuonDetectorPhases-v1.rst
Labels: Component: Documentation

#22454 Add progress to LoadWAND using progress of child algorithms
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
Labels: Component: Diffraction, Group: Powder, Group: Single Crystal

#22306 New source positions for IN5, IN6
  docs/source/release/v3.13.0/direct_inelastic.rst
  instrument/IN5_Definition.xml
  instrument/IN6_Definition.xml
Labels: Component: Direct Inelastic

#22278 Improve DirectILLDiagnostics reporting, default reduction options for IN4 and IN6
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/algorithms/DirectILLDiagnostics-v1.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
  instrument/IN4_Parameters.xml
  instrument/IN6_Parameters.xml
Labels: Component: Direct Inelastic

#22461 Fix broken performance test
  Framework/Algorithms/test/DiffractionFocussing2Test.h
Labels: Misc: Bug

#22462 Add option to PredictPeaks to Calculate Goniometer For CW
  Framework/Crystal/src/PredictPeaks.cpp
  Framework/Crystal/test/PredictPeaksTest.h
  docs/source/algorithms/PredictPeaks-v1.rst
Labels: Component: Diffraction, Group: Single Crystal

#17174 Algorithms H-I updated with HistogramData
  Framework/Algorithms/inc/MantidAlgorithms/He3TubeEfficiency.h
  Framework/Algorithms/inc/MantidAlgorithms/IQTransform.h
  Framework/Algorithms/inc/MantidAlgorithms/InterpolatingRebin.h
  Framework/Algorithms/src/HRPDSlabCanAbsorption.cpp
  Framework/Algorithms/src/He3TubeEfficiency.cpp
  Framework/Algorithms/src/IQTransform.cpp
  Framework/Algorithms/src/IdentifyNoisyDetectors.cpp
  Framework/Algorithms/src/IntegrateByComponent.cpp
  Framework/Algorithms/src/Integration.cpp
  Framework/Algorithms/src/InterpolatingRebin.cpp
  Framework/Algorithms/src/InvertMask.cpp
  Framework/Algorithms/test/HRPDSlabCanAbsorptionTest.h
  Framework/Algorithms/test/He3TubeEfficiencyTest.h
  Framework/Algorithms/test/IQTransformTest.h
  Framework/Algorithms/test/IdentifyNoisyDetectorsTest.h
  Framework/Algorithms/test/IntegrateByComponentTest.h
  Framework/Algorithms/test/InterpolatingRebinTest.h
  Framework/Algorithms/test/InvertMaskTest.h
Labels: Component: Framework, Misc: Maintenance

#22453 Add wavelength parameter to WAND²
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  docs/source/concepts/PeaksWorkspace.rst
  instrument/WAND_Parameters.xml
Labels: Component: Diffraction, Group: Single Crystal

#22253 Updated reduction packaging to include wavelength ranges
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCalculateTransmission.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSConvertToWavelength.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateWavelengthAndPixelAdjustment.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSNormalizeToMonitor.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCalculateTransmissionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCreateWavelengthAndPixelAdjustmentTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSNormalizeToMonitorTest.py
  Testing/SystemTests/tests/analysis/SANS2DMultiPeriod.py
  Testing/SystemTests/tests/analysis/SANSBatchReductionTest.py
  Testing/SystemTests/tests/analysis/reference/SANS2D_event_slice_referance_t1.00_T3.00.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_event_slice_referance_t3.00_T5.00.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_wavelength_range_1.0_2.0.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_wavelength_range_2.0_3.0.nxs.md5
  docs/source/release/v3.13.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/common/constants.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/calculate_transmission.py
  scripts/SANS/sans/state/normalize_to_monitor.py
  scripts/SANS/sans/state/state_base.py
  scripts/SANS/sans/state/wavelength.py
  scripts/SANS/sans/state/wavelength_and_pixel_adjustment.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/SANS/sans/test_helper/test_director.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/state_director.py
  scripts/test/SANS/command_interface/command_interface_state_director_test.py
  scripts/test/SANS/common/general_functions_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/state/calculate_transmission_test.py
  scripts/test/SANS/state/normalize_to_monitor_test.py
  scripts/test/SANS/state/wavelength_and_pixel_adjustment_test.py
  scripts/test/SANS/state/wavelength_test.py
  scripts/test/SANS/user_file/state_director_test.py
Labels: Component: Python, Component: SANS

#22335 Add thickness and event slices to table
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  MantidPlot/src/ApplicationWindow.cpp
  docs/source/interfaces/ISIS SANS v2.rst
  docs/source/release/v3.13.0/sans.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmHintStrategy.h
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/sans_data_processor_gui_algorithm.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/main_presenter_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/sans_data_processor_gui_algorithm_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS

#21532 Workflow algorithms for ILL reflectometers
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCor.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCorTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPolarizationCor-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/algorithms/ReflectometryILLSumForeground-v1.rst
  docs/source/diagrams/ReflectometryILLConvertToQ-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLPolarizationCor-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLPreprocess-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLSumForeground-v1_wkflw.dot
  docs/source/release/v3.13.0/reflectometry.rst
  instrument/D17_Parameters.xml
Labels: Component: Reflectometry

#22444 Bugs in python fit functions
  Framework/API/inc/MantidAPI/MultiDomainFunction.h
  Framework/API/src/MultiDomainFunction.cpp
  Framework/API/test/MultiDomainFunctionTest.h
  Framework/Algorithms/src/FitPeak.cpp
  Framework/PythonInterface/mantid/__init__.py
  Framework/PythonInterface/mantid/api/src/Exports/FunctionFactory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeakFunction.cpp
  Framework/PythonInterface/mantid/fitfunctions.py
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/test/python/mantid/FitFunctionsTest.py
  docs/source/release/v3.13.0/framework.rst
  scripts/test/CrystalFieldMultiSiteTest.py
Labels: Component: Fitting, Component: Python, Misc: Bug

#22350 Engineering GUI replace CSV fitting output with HDF5
  Framework/DataHandling/inc/MantidDataHandling/SaveDiffFittingAscii.h
  Framework/DataHandling/src/SaveDiffFittingAscii.cpp
  Framework/PythonInterface/plugins/algorithms/EnggSaveSinglePeakFitResultsToHDF5.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/EnggSaveSinglePeakFitResultsToHDF5Test.py
  docs/source/algorithms/EnggSaveSinglePeakFitResultsToHDF5-v1.rst
  docs/source/diagrams/EnggSaveSinglePeakFitResultsToHDF5MultiRunHierarchy.dot
  docs/source/diagrams/EnggSaveSinglePeakFitResultsToHDF5SingleRunHierarchy.dot
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v3.13.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresWorker.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffFittingView.h
  qt/scientific_interfaces/EnggDiffraction/RunLabel.cpp
  qt/scientific_interfaces/EnggDiffraction/RunLabel.h
  qt/scientific_interfaces/test/EnggDiffFittingModelMock.h
  qt/scientific_interfaces/test/EnggDiffFittingPresenterTest.h
Labels: Component: Diffraction, Component: GUI

#22483 Eliminate workbench warning about the order of initialization
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: GUI, Component: Workbench

#22489 Fix Load Dialog Using Cached Result When Invalid Filename is supplied
  docs/source/release/v3.13.0/ui.rst
  qt/widgets/common/src/MWRunFiles.cpp
Labels: Component: GUI

#22457 Transverse filed (TF) fit functions
  Framework/API/inc/MantidAPI/FunctionProperty.h
  Framework/API/src/FunctionProperty.cpp
  Framework/CMakeLists.txt
  Framework/CurveFitting/src/Algorithms/EstimatePeakErrors.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/VesuvioCalculateGammaBackground.cpp
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  Framework/MDAlgorithms/src/EvaluateMDFunction.cpp
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/ConvertFitFunctionForMuonTFAsymmetry.h
  Framework/Muon/src/ConvertFitFunctionForMuonTFAsymmetry.cpp
  Framework/Muon/test/CMakeLists.txt
  Framework/Muon/test/ConvertFitFunctionForMuonTFAsymmetryTest.h
  Framework/PythonInterface/mantid/api/src/Exports/FunctionProperty.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IqtFitMultiple.py
  docs/source/algorithms/ConvertFitFunctionForMuonTFAsymmetry-v1.rst
  docs/source/release/v3.13.0/muon.rst
Labels: Component: Muon

#22488 SANSMask to have MaskedWorkspace
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSMask.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSMaskTest.py
  docs/source/release/v3.13.0/sans.rst
Labels: Component: SANS, Misc: Easy

#22494 IndirectILLEnergyTransfer: fix the sign in the formula
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Testing/SystemTests/tests/analysis/ILLIndirectReductionQENS.py
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_QENS.nxs.md5
  docs/source/release/v3.13.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic, Misc: Bug, Misc: Easy

#22485 Fix CropToComponent documentation
  docs/source/algorithms/CropToComponent-v1.rst
Labels: Component: Documentation, Misc: Easy

#22491 Workbench Script Progress Reporting
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: Workbench

#22476 Fix missing spaces in ArrayProperty reference pages in Python documentation
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayProperty.cpp
Labels: Component: Documentation

#22503 Fix right-click segfault in new workbench
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/widgets/src/_widgetscore.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench, Priority: High

#22367 Engineering GUI implement new model for EnggVanadiumCorrections
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.h
  qt/scientific_interfaces/EnggDiffraction/EnggVanadiumCorrectionsModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggVanadiumCorrectionsModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggVanadiumCorrectionsModel.h
  qt/scientific_interfaces/test/EnggDiffractionPresenterTest.h
  qt/scientific_interfaces/test/EnggVanadiumCorrectionsModelTest.h
Labels: Component: Diffraction, Component: GUI

#22393 9816 force instrument masking
  docs/source/release/v3.13.0/sans.rst
  scripts/SANS/SANSUtility.py
  scripts/SANS/isis_reduction_steps.py
Labels: Component: SANS

#22411 Updating issue and PR templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  dev-docs/source/GitWorkflow.rst
  dev-docs/source/IssueTracking.rst
Labels: Misc: Maintenance

#22452 Muon - ApplyMuonDetectorGrouping Algorithm
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/ApplyMuonDetectorGrouping.h
  Framework/Muon/inc/MantidMuon/MuonAlgorithmHelper.h
  Framework/Muon/src/ApplyMuonDetectorGrouping.cpp
  Framework/Muon/src/MuonAlgorithmHelper.cpp
  Framework/Muon/test/ApplyMuonDetectorGroupingTest.h
  Framework/Muon/test/CMakeLists.txt
  Framework/Muon/test/MuonAlgorithmHelperTest.h
  docs/source/algorithms/ApplyMuonDetectorGrouping-v1.rst
Labels: Component: Muon

#21769 Set matplotlib figure background to white by default in new workbench
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plotting/setup.py
Labels: Component: Workbench

#22512 Fix warning braces around scalar initializer.
  qt/widgets/common/test/Batch/QtAdaptedModelTest.h
Labels: Component: GUI, Misc: Clang
