Repository mantidproject/mantid, pull requests merged in 2018-03, with the labels that each got.

#21908 Fix and simplify error handling for external interfaces
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Misc: Bug, Priority: High

#21286 Reconnect VSI Peaks Table to onSortPeaks.
  docs/source/release/v3.12.0/ui.rst
  qt/paraview_ext/VatesAPI/inc/MantidVatesAPI/CompositePeaksPresenterVsi.h
  qt/paraview_ext/VatesAPI/src/CompositePeaksPresenterVsi.cpp
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/inc/MantidVatesSimpleGuiViewWidgets/PeaksTableControllerVsi.h
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/src/PeaksTableControllerVsi.cpp
Labels: Group: Vates, Misc: Bug

#21831 Added DET/OVERLAP option to user file parser
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSStitch.py
  docs/source/release/v3.12.0/lowq.rst
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.cpp
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.ui
  scripts/SANS/ISISCommandInterface.py
  scripts/SANS/SANSBatchMode.py
  scripts/SANS/isis_reduction_steps.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/state_director.py
  scripts/SANS/sans/user_file/user_file_parser.py
Labels: Component: GUI, Component: Python, Component: SANS

#21793 Adjust slit positions in LoadILLReflectometry
  Framework/DataHandling/inc/MantidDataHandling/LoadILLReflectometry.h
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  docs/source/release/v3.12.0/reflectometry.rst
Labels: Component: Reflectometry

#21897 Indirect - Refactor release notes and add image of new style for Indirect Fitting Tabs
  docs/source/images/Indirect_ConvFit_3_12_release.png
  docs/source/release/v3.12.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic, Misc: Maintenance

#21909 Add KafkaEventListener to ZOOM
  docs/source/release/v3.12.0/framework.rst
  instrument/Facilities.xml
Labels: Component: Live Data

#21904 Fix up Diffraction release notes 3.12
  docs/source/images/engineering_gsas_gui.PNG
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction

#21898 MR reduction: add dQ estimate
  Framework/PythonInterface/plugins/algorithms/MRInspectData.py
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
  docs/source/release/v3.12.0/reflectometry.rst
Labels: Component: Reflectometry

#21487 Fit funtion for EISF of alkyl chains
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/EISFDiffSphereAlkylTest.py
Labels: Component: Fitting

#21914 Fix ExternalInterfaces install command for macOS
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Priority: High

#21840 Python plotting utilities for direct geometry
  docs/source/release/v3.12.0/direct_inelastic.rst
  docs/source/techniques/Directtools Python module.rst
  scripts/CMakeLists.txt
  scripts/directtools/__init__.py
  scripts/test/directtools/CMakeLists.txt
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Python

#21922 Update LoadWAND masking and WAND² IDF
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/LoadWANDTest.py
  docs/source/algorithms/LoadWAND-v1.rst
  instrument/WAND_Definition_2018_02_20.xml
Labels: Component: Diffraction

#21910 Fix Vesuvio system tests
  Testing/SystemTests/tests/analysis/VesuvioCommandsTest.py
  Testing/SystemTests/tests/analysis/VesuvioLoadingTest.py
  scripts/Inelastic/vesuvio/commands.py
  scripts/Inelastic/vesuvio/loading.py
Labels: Priority: High, Quality: System Tests

#21927 muon release notes for 3.12
  docs/source/images/muon_release_3_12.png
  docs/source/release/v3.12.0/muon.rst
Labels: Component: Documentation, Component: Muon

#20922 Indirect - Elwin - Add check in case of invalid value within IPF file
  qt/scientific_interfaces/Indirect/Elwin.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#21386 EISFDiffCylinder fit function
  Framework/PythonInterface/plugins/functions/EISFDiffCylinder.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/EISFDiffCylinderTest.py
  Framework/PythonInterface/test/python/plugins/functions/MsdTestHelper.py
  docs/source/fitfunctions/EISFDiffCylinder.rst
  docs/source/release/v3.12.0/framework.rst
Labels: Component: Fitting

#21918 Error reporting of multidata fits
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/src/FunctionBrowser.cpp
Labels: Component: Fitting, Component: GUI, Component: Muon, Misc: Bug

#21920 Only package MantidQt for Qt 4
  buildconfig/CMake/QtTargetFunctions.cmake
Labels: Priority: High

#21934 Update WAND² IDF again
  instrument/WAND_Definition_2018_02_20.xml
Labels: Priority: High

#21813 Fixed results table in muon analysis to always use numeric values when needed
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableCreator.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableCreator.h
  qt/scientific_interfaces/test/MuonAnalysisResultTableCreatorTest.h
Labels: Component: Muon

#21923 Stop the resetting of group/pair selection in muon analysis
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon

#21932 Adding a help button to the sans V2 GUI
  docs/source/images/ISIS_SANS_312.png
  docs/source/release/v3.12.0/sans.rst
  scripts/Interface/ui/sans_isis/icons/centre.png
  scripts/Interface/ui/sans_isis/icons/diagnostic.png
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
Labels: Component: GUI, Component: SANS, Quality: Documentation

#21942 Fix invalid date string in catalog search
  qt/widgets/common/src/CatalogHelper.cpp
Labels: Component: GUI, Misc: Bug, Misc: Easy

#21938 Fix a bug where threads don't exit
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Misc: Easy

#21930 Fix tooltip colours on RHEL7
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
Labels: Component: GUI, Misc: Bug, Priority: High

#21933 Period selection muon analysis goes blank
  docs/source/release/v3.12.0/muon.rst
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon

#21949 MRInspectData: Fix logger bug
  Framework/PythonInterface/plugins/algorithms/MRInspectData.py
Labels: Component: Reflectometry, Misc: Bug, Priority: High

#21951 Change conversion to seconds
  scripts/FilterEvents/eventFilterGUI.py
Labels: Misc: Bug

#21762 Set transmission runs based on run angle
  Framework/TestHelpers/inc/MantidTestHelpers/DataProcessorTestHelper.h
  Framework/TestHelpers/src/DataProcessorTestHelper.cpp
  docs/source/release/v3.12.0/reflectometry.rst
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/IReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsWidget.ui
  qt/scientific_interfaces/test/ReflDataProcessorPresenterTest.h
  qt/scientific_interfaces/test/ReflMainWindowPresenterTest.h
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
  qt/scientific_interfaces/test/ReflSettingsTabPresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/AbstractTreeModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorMainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GenerateNotebook.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GenericDataProcessorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GenericDataProcessorPresenterRowReducerWorker.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/MockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/OneLevelTreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/PostprocessingStep.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/ProcessingAlgorithm.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/QOneLevelTreeModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/QTwoLevelTreeModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/TreeData.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/TreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/TwoLevelTreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/WorkspaceNameUtils.h
  qt/widgets/common/src/DataProcessorUI/GenerateNotebook.cpp
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/OneLevelTreeManager.cpp
  qt/widgets/common/src/DataProcessorUI/PostprocessingStep.cpp
  qt/widgets/common/src/DataProcessorUI/ProcessingAlgorithm.cpp
  qt/widgets/common/src/DataProcessorUI/QOneLevelTreeModel.cpp
  qt/widgets/common/src/DataProcessorUI/QTwoLevelTreeModel.cpp
  qt/widgets/common/src/DataProcessorUI/TreeData.cpp
  qt/widgets/common/src/DataProcessorUI/TwoLevelTreeManager.cpp
  qt/widgets/common/src/DataProcessorUI/WorkspaceNameUtils.cpp
  qt/widgets/common/test/DataProcessorUI/GenerateNotebookTest.h
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
  qt/widgets/common/test/DataProcessorUI/OneLevelTreeManagerTest.h
  qt/widgets/common/test/DataProcessorUI/TwoLevelTreeManagerTest.h
Labels: Component: GUI, Component: Reflectometry

#21808 Improve workspace names for time sliced data
  docs/source/release/v3.12.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.cpp
  qt/scientific_interfaces/test/ReflDataProcessorPresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#21946 Fix tiled window's drag and drop functionality
  MantidPlot/src/ApplicationWindow.cpp
Labels: Component: GUI

#21947 Allow negative sections in ALC background
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
Labels: Component: Muon

#21928 Restructured Absorbtion correction GUI
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorption.py
  docs/source/images/AbsorbtionCorrectionsGui312.png
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
Labels: Component: GUI, Component: Indirect Inelastic

#21966 Fix LiquidsReflectometryReductionTest on Windows
  Testing/SystemTests/tests/analysis/LiquidsReflectometryReductionTest.py
Labels: Priority: High, Quality: System Tests

#21963 SANS GUI V2 Enable buttons on failure
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: Python, Component: SANS, Misc: Bug

#21833 Indirect - IqtFit - Display ties added by 'Constrain Intensities' in the Fit Property Browser
  Framework/API/src/ParameterTie.cpp
  Framework/API/test/CompositeFunctionTest.h
  Framework/API/test/ParameterTieTest.h
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/IndirectFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#21784 Indirect - ElasticWindowMultiple - Read temperature sensor names from instrument parameter files
  Framework/DataHandling/test/LoadRaw3Test.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  instrument/IRIS_Parameters.xml
  instrument/OSIRIS_Parameters.xml
  instrument/TOSCA_Parameters.xml
Labels: Component: Indirect Inelastic, Misc: Bug

#21953 Removed temperature filtering from Muon Analysis
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysisHelper.cpp
Labels: Component: GUI, Component: Muon

#21971 Fix tab ordering in Isis SANS
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
Labels: Component: GUI, Component: SANS, Priority: High

#21917 Add sub groups to fit sequential output in Muon Analysis
  qt/scientific_interfaces/Muon/MuonSequentialFitDialog.cpp
Labels: Component: Muon

#21972 Fix DirectToolsTest for matplotlib v2
  scripts/test/directtools/DirectToolsTest.py
Labels: Quality: Unit Tests

#21990 Indirect - Bayes Stretch - current spectrum maximum
  qt/scientific_interfaces/Indirect/Stretch.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#21998 MR: Update filter to take in workspace
  Framework/PythonInterface/plugins/algorithms/MRFilterCrossSections.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
Labels: Component: Reflectometry

#21925 Missing fractional propagation code in `FractionalRebinning`
  Framework/Algorithms/inc/MantidAlgorithms/Rebin2D.h
  Framework/Algorithms/inc/MantidAlgorithms/SofQW.h
  Framework/Algorithms/src/Rebin2D.cpp
  Framework/Algorithms/src/SofQW.cpp
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/src/SofQWPolygon.cpp
  Framework/Algorithms/test/Rebin2DTest.h
  Framework/Algorithms/test/SofQWCutTest.h
  Framework/Algorithms/test/SofQWPolygonTest.h
  Framework/DataObjects/inc/MantidDataObjects/FractionalRebinning.h
  Framework/DataObjects/inc/MantidDataObjects/ReflectometryTransform.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  Framework/DataObjects/src/RebinnedOutput.cpp
  Framework/DataObjects/src/ReflectometryTransform.cpp
Labels: Misc: Bug, Priority: High, State: Review Required

#21965 Indirect - Files update when instrument is selected
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MWRunFiles.h
  qt/widgets/common/src/MWRunFiles.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#21997 Better error handling for time slicing inputs
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.h
Labels: Component: GUI, Component: Reflectometry, Misc: Bug

#21996 Indirect - IqtFitMultiple - Find indices of stretched exponentials in function
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IqtFitMultiple.py
Labels: Component: Indirect Inelastic, Misc: Bug

#22014 Updating screenshots in documentation for Isis sans V2
  docs/source/images/sans_isis_v2_add_runs_tab.png
  docs/source/images/sans_isis_v2_beam_centre_tab.png
  docs/source/images/sans_isis_v2_diagnostic.png
  docs/source/images/sans_isis_v2_general_tab_whole.png
  docs/source/images/sans_isis_v2_mask_tab_whole.png
  docs/source/images/sans_isis_v2_q_tab_whole.png
  docs/source/images/sans_isis_v2_run_tab_save_options.png
  docs/source/images/sans_isis_v2_whole_gui.png
  docs/source/interfaces/ISIS SANS v2.rst
Labels: Component: GUI, Component: SANS, Quality: Documentation

#22006 Indirect Data Analysis: Handle exceptions generate by Iqt algorithms
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
Labels: Component: Indirect Inelastic

#21995 Indirect - Data Analysis - MSD Fit - None fit type
  qt/scientific_interfaces/Indirect/MSDFit.cpp
Labels: Component: Indirect Inelastic

#21974 Tie/fix/constrain in multi fitting
  qt/scientific_interfaces/MultiDatasetFit/MultiDatasetFit.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/src/FunctionBrowser.cpp
Labels: Component: Fitting, Component: GUI, Component: Muon, Misc: Bug

#21993 Indirect - IqtFit - Ensure Constrain Intensities is enabled for one Exponential function and Background
  qt/scientific_interfaces/Indirect/IqtFit.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#22038 Added skeleton release notes for 3.13
  docs/source/release/index.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
  docs/source/release/v3.13.0/framework.rst
  docs/source/release/v3.13.0/index.rst
  docs/source/release/v3.13.0/indirect_inelastic.rst
  docs/source/release/v3.13.0/muon.rst
  docs/source/release/v3.13.0/reflectometry.rst
  docs/source/release/v3.13.0/sans.rst
  docs/source/release/v3.13.0/ui.rst
Labels: Quality: Documentation

#22007 Muon analysis handles 0 good frames gracefully
  Framework/Algorithms/src/EstimateMuonAsymmetryFromCounts.cpp
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/scientific_interfaces/Muon/MuonAnalysis.h
Labels: Component: Muon

#22008 Muon Sample log copying
  Framework/Algorithms/src/PhaseQuadMuon.cpp
  Framework/Algorithms/test/PhaseQuadMuonTest.h
  Testing/SystemTests/tests/analysis/MuonFFTTest.py
  Testing/SystemTests/tests/analysis/reference/MuonFFTMUSR00022725.nxs.md5
Labels: Component: Muon

#22010 Data Analysis I(Q, t) Fit crash
  Framework/API/src/ParamFunction.cpp
  Framework/CurveFitting/test/Functions/GaussianTest.h
Labels: Component: Indirect Inelastic, Misc: Bug

#22025 Indirect - Absorption Corrections - Unify naming convention in Calculate Paalman Pings and Calculate Monte Carlo Absorption
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#22018 Indirect - Corrections - Ensure Plot Current Preview plots transformed container in Container Subtraction and Apply Paalman Pings
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.h
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#22013 Allow for optional azimuthal angles in PDLoadCharacterizations
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
  Framework/DataHandling/test/PDLoadCharacterizationsTest.h
  Testing/Data/UnitTest/Test_characterizations_broken_focus.txt.md5
  Testing/Data/UnitTest/Test_characterizations_focus_azi.txt.md5
  docs/source/algorithms/PDLoadCharacterizations-v1.rst
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#22037 22036 make error reports modal
  scripts/ErrorReporter/errorreport.py
Labels: Component: GUI

#22047 Fix access violation in CrystalField.PythonInterface test
  Framework/CurveFitting/src/GSLFunctions.cpp
Labels: Component: Fitting, Misc: Bug

#22053 Indirect Data Analysis - Add I(Q,t) Fit workspace validation
  qt/scientific_interfaces/Indirect/IqtFit.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#22030 Indirect - Calculate Monte Carlo Absorption - Ensure Plot Result functions in the same manner as Calculate Paalman Pings
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#21999 Period algebra in Muon multiFitting
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/MuonFitPropertyBrowser.h
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon

#22005 Indirect - ISIS Calibration - Check if resolution was included in calibration when plotting result
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.h
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.h
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#22046 Fix unhandled exception in MuonAnalysis fit tab
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisFitDataPresenter.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisHelper.cpp
  qt/widgets/common/src/MuonFitDataSelector.cpp
Labels: Component: Beamline

#22040 Improvements to per angle options
  docs/source/release/v3.12.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/ExperimentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/ExperimentOptionDefaults.h
  qt/scientific_interfaces/ISISReflectometry/IReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/InstrumentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/InstrumentOptionDefaults.h
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsWidget.ui
  qt/scientific_interfaces/test/ReflMainWindowPresenterTest.h
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
  qt/scientific_interfaces/test/ReflSettingsTabPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorMainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GenericDataProcessorPresenter.h
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
Labels: Component: GUI, Component: Reflectometry

#22058 Auto background and Muon analysis
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/MuonFitPropertyBrowser.h
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon

#22043 Sequential fit in muon analysis
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonSequentialFitDialog.cpp
Labels: Component: Muon

#22052 Complain if underlying data changes in the phase quad gui
  docs/source/release/v3.12.0/muon.rst
  scripts/Muon/fft_presenter.py
  scripts/Muon/fft_view.py
  scripts/Muon/load_utils.py
  scripts/Muon/maxent_presenter.py
  scripts/Muon/maxent_view.py
  scripts/test/Muon/FFTPresenter_test.py
  scripts/test/Muon/MaxEntPresenter_test.py
Labels: Component: Muon

#22035 Numerical derivatives must apply ties after parameter shift.
  Framework/API/src/IFunction.cpp
  Testing/SystemTests/tests/analysis/reference/II.IRISFuryFitMulti.nxs.md5
  docs/source/fitting/fitfunctions/IsoRotDiff.rst
  docs/source/release/v3.12.0/framework.rst
Labels: Component: Fitting, Misc: Bug

#21913 macOS try copy over mpl_toolkits
  MantidPlot/make_package.rb.in
Labels: Misc: Bug

#22068 Add missing categories/sourcelink to LoadWAND
  docs/source/algorithms/LoadWAND-v1.rst
Labels: Component: Documentation, Misc: Easy, Quality: Documentation

#22061 Postprocess IvsQ unbinned
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/scientific_interfaces/ISISReflectometry/ReflGenericDataProcessorPresenterFactory.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/ProcessingAlgorithm.h
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/ProcessingAlgorithm.cpp
  qt/widgets/common/test/DataProcessorUI/GenerateNotebookTest.h
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
  qt/widgets/common/test/DataProcessorUI/ProcessingAlgorithmTest.h
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: GUI, Component: Reflectometry

#22065 Remove invalid context menu items for muon multi fit
  MantidPlot/src/Mantid/PeakPickerTool.cpp
  MantidPlot/src/Mantid/PeakPickerTool.h
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/test/MuonAnalysisFitFunctionPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IMuonFitFunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MuonFitPropertyBrowser.h
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon

#22071 Bad graph title sans diagnostics when no range
  qt/scientific_interfaces/ISISSANS/SANSDiagnostics.cpp
Labels: Component: SANS

#22072 Include python qtawesome as a dependency
  CMakeLists.txt
  MantidPlot/make_package.rb.in
Labels: Priority: High

#22081 Remove vtk directory from Paraview python path to resolve wx conflict with GSASIIRefineFitPeaks
  Framework/Kernel/CMakeLists.txt
Labels: Component: Diffraction, Component: Framework, Group: Vates, Misc: Bug

#22078 Fix stitched transmission workspace names
  qt/scientific_interfaces/ISISReflectometry/ReflGenericDataProcessorPresenterFactory.cpp
  qt/scientific_interfaces/test/ReflDataProcessorPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/PreprocessMap.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/PreprocessingAlgorithm.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/WorkspaceNameUtils.h
  qt/widgets/common/src/DataProcessorUI/GenerateNotebook.cpp
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/PreprocessMap.cpp
  qt/widgets/common/src/DataProcessorUI/PreprocessingAlgorithm.cpp
  qt/widgets/common/src/DataProcessorUI/WorkspaceNameUtils.cpp
  qt/widgets/common/test/DataProcessorUI/GenerateNotebookTest.h
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
  qt/widgets/common/test/DataProcessorUI/PreprocessMapTest.h
  qt/widgets/common/test/DataProcessorUI/PreprocessingAlgorithmTest.h
Labels: Component: GUI, Component: Reflectometry

#22077 SANS V2 Simplified PrintParser
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/test/SANS/user_file/user_file_parser_test.py
Labels: Component: Python, Component: SANS

#22084 MWRunFiles - Emit findingFiles() when searchText is not empty
  qt/widgets/common/src/MWRunFiles.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#22090 Write out can run number to sasview
  Framework/DataHandling/inc/MantidDataHandling/NXcanSASDefinitions.h
  Framework/DataHandling/inc/MantidDataHandling/SaveCanSAS1D2.h
  Framework/DataHandling/src/SaveCanSAS1D2.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
Labels: Component: SANS

#22096 Minor changes to reflectometry release notes
  docs/source/images/ISIS_Reflectometry_per_angle_options.png
  docs/source/release/v3.12.0/reflectometry.rst
Labels: Component: Documentation, Component: Reflectometry

#22091 Fix a crash pasting into the reflectometry GUI
  qt/widgets/common/src/DataProcessorUI/TwoLevelTreeManager.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Bug

#22108 Fix Reflectometry GUI Default Value for IntegratedMonitors Checkbox
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsWidget.ui
Labels: Component: GUI, Component: Reflectometry, Misc: Bug

#22110 Improve direct inelastic release notes for mslice
  docs/source/images/mslice_acut.png
  docs/source/images/mslice_interface.png
  docs/source/images/mslice_slice.png
  docs/source/release/v3.12.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Component: Documentation

#22089 Speed up findingDetectors for IPeaks in PredictFractionalPeaks
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/Peak.cpp
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  qt/widgets/sliceviewer/test/MockObjects.h
Labels: Group: Single Crystal, Priority: High

#22117 `FractionalRebinning` binwidth normalisation
  Framework/Algorithms/test/SofQWCutTest.h
  Framework/DataObjects/src/FractionalRebinning.cpp
Labels: Priority: High

#22122 Fixing parameters in multi-fit crashes
  qt/widgets/common/src/FunctionBrowser.cpp
Labels: Component: GUI, Misc: Bug

#22118 Fix RPATH for Vates widgets library
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/CMakeLists.txt
Labels: Priority: High

#22121 Frequency domain analysis produces warning if no data
  docs/source/release/v3.12.0/muon.rst
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/load_utils.py
Labels: Component: Beamline

#22126 SANS beam centre crashes with no find direction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
Labels: Component: GUI, Component: SANS

#22128 SANS fix find direction crash bug
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
Labels: Component: GUI, Component: SANS, Priority: High

#22135 Fix numerical error in UnitCell/ OrientedLattice
  Framework/Geometry/src/Crystal/UnitCell.cpp
  Framework/Geometry/test/UnitCellTest.h
Labels: Component: Framework, Misc: Bug, Priority: High

#22092 Extend MaskAngle for phi angles
  Framework/PythonInterface/plugins/algorithms/MaskAngle.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskAngleTest.py
  docs/source/algorithms/MaskAngle-v1.rst
  docs/source/images/MaskAngle_phi.png
Labels: Component: Diffraction, Component: Python, Component: Tools

#22106 Applied clang-tidy modernize-use-using fixes for MantidPlot
  MantidPlot/src/ConfigDialog.cpp
  MantidPlot/src/Fit.h
  MantidPlot/src/Mantid/InputHistory.h
  MantidPlot/src/Mantid/MantidMatrix.h
  MantidPlot/src/MdiSubWindow.h
  MantidPlot/src/PluginFit.cpp
  MantidPlot/src/PluginFit.h
  MantidPlot/src/ScriptingEnv.h
  MantidPlot/src/WindowFactory.h
  MantidPlot/src/origin/tree.hh
Labels: Misc: Maintenance, Quality: Clang-Tidy

#22148 Save end time in SNS live listener
  Framework/LiveData/src/SNSLiveEventDataListener.cpp
Labels: Component: Live Data

#22094 Add -fno-omit-frame-pointer to RelWithDebInfo config
  buildconfig/CMake/GNUSetup.cmake
Labels: Misc: Easy

#21811 Fix issues from clang-tidy misc-*
  Framework/API/src/ScriptBuilder.cpp
  Framework/API/src/SpectraAxisValidator.cpp
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/src/GeneratePeaks.cpp
  Framework/Algorithms/src/MonitorEfficiencyCorUser.cpp
  Framework/Algorithms/src/RemoveBins.cpp
  Framework/Crystal/inc/MantidCrystal/SaveLauenorm.h
  Framework/Crystal/src/IntegratePeakTimeSlices.cpp
  Framework/Crystal/src/SaveLauenorm.cpp
  Framework/DataHandling/src/FilterEventsByLogValuePreNexus.cpp
  Framework/DataHandling/src/LoadIDFFromNexus.cpp
  Framework/DataHandling/src/ProcessBankData.cpp
  Framework/DataHandling/src/SaveAscii2.cpp
  Framework/DataHandling/src/SaveFullprofResolution.cpp
  Framework/Geometry/src/Rendering/vtkGeometryCacheReader.cpp
  Framework/Indexing/inc/MantidIndexing/IndexInfo.h
  Framework/Indexing/src/IndexInfo.cpp
  Framework/Kernel/inc/MantidKernel/LibraryWrapper.h
  Framework/Kernel/src/LibraryWrapper.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/MDAlgorithms/src/GetSpiceDataRawCountsFromMD.cpp
  Framework/PythonInterface/mantid/api/src/CloneMatrixWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmHistory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/Axis.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IEventList.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/Workspace2D.cpp
  Framework/PythonInterface/mantid/geometry/src/geometry.cpp.in
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigObserver.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigPropertyObserver.cpp
  Framework/TestHelpers/src/FileComparisonHelper.cpp
  Framework/Types/src/Event/TofEvent.cpp
  MantidPlot/src/Mantid/MantidUI.cpp
  MantidPlot/src/muParserScript.cpp
  qt/paraview_ext/PVPlugins/Filters/SplatterPlot/vtkSplatterPlot.cxx
Labels: Quality: Clang-Tidy

#22137 Dev docs: python vs C++ algorithms
  dev-docs/source/PythonVSCppAlgorithms.rst
Labels: Component: Documentation, Misc: Maintenance

#22111 Add Python3 Developer Documentation
  dev-docs/source/Python3.rst
Labels: Component: Documentation, Misc: Maintenance

#22113 General guides added to dev docs
  dev-docs/source/Communication.rst
  dev-docs/source/Dependencies.rst
  dev-docs/source/DevelopmentTeam.rst
  dev-docs/source/HandlingXML.rst
  dev-docs/source/ProfilingWithValgrind.rst
  dev-docs/source/UsefulTools.rst
  dev-docs/source/VisualStudioBuildImpact.rst
  dev-docs/source/images/ASavici.jpg
  dev-docs/source/images/GGuest.png
  dev-docs/source/images/JBilheaux.jpg
  dev-docs/source/images/JBorreguero.jpg
  dev-docs/source/images/KCachegrind_MantidPlot.png
  dev-docs/source/images/LMoore.jpg
  dev-docs/source/images/MDoucet.jpg
  dev-docs/source/images/MGigg.jpg
  dev-docs/source/images/NDraper.jpg
  dev-docs/source/images/OArnold.jpg
  dev-docs/source/images/PPeterson.jpg
  dev-docs/source/images/RFerrazLeal.jpg
  dev-docs/source/images/RTolchenov.jpg
  dev-docs/source/images/VLynch.jpg
  dev-docs/source/images/WZhou.jpg
Labels: Misc: Maintenance

#22085 Fix Dx data handling in ConvertToPointData, ConvertToHistogram
  Framework/Algorithms/inc/MantidAlgorithms/XDataConverter.h
  Framework/Algorithms/src/XDataConverter.cpp
  Framework/Algorithms/test/ConvertToHistogramTest.h
  Framework/Algorithms/test/ConvertToPointDataTest.h
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework

#22041 Initialize ReferenceFrame::thetaSign in all constructors
  Framework/Geometry/inc/MantidGeometry/Instrument/ReferenceFrame.h
  Framework/Geometry/src/Instrument/ReferenceFrame.cpp
Labels: Misc: Bug

#22156 Fix dev-docs-html target for old Sphinx versions
  buildconfig/CMake/FindSphinx.cmake
  buildconfig/CMake/FindSphinx.py
  dev-docs/CMakeLists.txt
Labels: Component: Documentation

#22162 dev-docs: documentation related docs migration
  dev-docs/source/AlgorithmDocumentation.rst
  dev-docs/source/AlgorithmUsageExamples.rst
  dev-docs/source/DocumentationGuideForDevs.rst
  dev-docs/source/FlowchartCreation.rst
  dev-docs/source/InterfaceDocumentation.rst
Labels: Misc: Maintenance

#22159 Make sure not to delete input workspace in MR reduction
  Framework/PythonInterface/plugins/algorithms/MRFilterCrossSections.py
Labels: Component: Reflectometry

#22175 Fix failing Reflectometry doctests
  docs/source/algorithms/ReflectometryReductionOne-v2.rst
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
Labels: Component: Reflectometry

#22173 Add cacheing of Git commit timestamps in doc build
  docs/sphinxext/mantiddoc/directives/sourcelink.py
  docs/sphinxext/mantiddoc/tools/git_last_modified.py
Labels: Component: Documentation

#22165 Applied clang-tidy modernize-use-raw-string-literal fixes for MantidPlot.
  MantidPlot/src/Mantid/FitParameterTie.cpp
  MantidPlot/src/importOPJ.cpp
  MantidPlot/src/lib/src/TextFormatButtons.cpp
Labels: Component: GUI, Misc: Maintenance, Quality: Clang-Tidy, Quality: Code Quality

#22155 Applied clang-tidy modernize-use-raw-string-literal fixes for Framework.
  Framework/API/src/MultipleFileProperty.cpp
  Framework/API/src/ParameterTie.cpp
  Framework/API/test/AlgorithmTest.h
  Framework/API/test/NotebookBuilderTest.h
  Framework/Algorithms/src/CylinderAbsorption.cpp
  Framework/Algorithms/src/PDFFourierTransform.cpp
  Framework/Algorithms/src/PerformIndexOperations.cpp
  Framework/Algorithms/src/RealFFT.cpp
  Framework/Algorithms/test/AnyShapeAbsorptionTest.h
  Framework/Algorithms/test/DetectorEfficiencyCorTest.h
  Framework/Algorithms/test/GenerateIPythonNotebookTest.h
  Framework/Crystal/inc/MantidCrystal/SortHKL.h
  Framework/Crystal/src/SCDCalibratePanels.cpp
  Framework/CurveFitting/src/Algorithms/EstimateFitParameters.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadCalFile.h
  Framework/DataHandling/inc/MantidDataHandling/LoadNXSPE.h
  Framework/DataHandling/inc/MantidDataHandling/SaveCalFile.h
  Framework/DataHandling/inc/MantidDataHandling/SaveNXSPE.h
  Framework/DataHandling/src/GenerateGroupingPowder.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/LoadRKH.cpp
  Framework/DataHandling/src/LoadSESANS.cpp
  Framework/DataHandling/src/LoadSpice2D.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/FindDetectorsInShapeTest.h
  Framework/DataHandling/test/MaskDetectorsInShapeTest.h
  Framework/Geometry/test/CrystalStructureTest.h
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  Framework/Geometry/test/MDGeometryXMLParserTest.h
  Framework/Geometry/test/ObjCompAssemblyTest.h
  Framework/Geometry/test/ParObjCompAssemblyTest.h
  Framework/Geometry/test/ShapeFactoryTest.h
  Framework/Geometry/test/StructureFactorCalculatorSummationTest.h
  Framework/ICat/src/GSoap/stdsoap2.cpp
  Framework/Kernel/test/CatalogInfoTest.h
  Framework/Kernel/test/ComputeResourceInfoTest.h
  Framework/Kernel/test/MaterialXMLParserTest.h
  Framework/Kernel/test/PropertyManagerTest.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/CloneMDWorkspace.h
  Framework/MDAlgorithms/src/CreateMDWorkspace.cpp
  Framework/MDAlgorithms/src/MaskMD.cpp
  Framework/RemoteAlgorithms/test/SimpleJSONTest.h
  Framework/RemoteJobManagers/test/MantidWebServiceAPIJobManagerTest.h
  Framework/SINQ/inc/MantidSINQ/PoldiUtilities/PoldiMockInstrumentHelpers.h
  Framework/SINQ/test/PoldiPeakCollectionTest.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  Framework/WorkflowAlgorithms/src/EQSANSLoad.cpp
Labels: Component: Framework, Misc: Maintenance, Quality: Clang-Tidy, Quality: Code Quality

#22166 Applied clang-tidy modernize-use-raw-string-literal fixes for qt/
  qt/scientific_interfaces/ISISSANS/SANSPlotSpecial.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmissionCalc.cpp
  qt/scientific_interfaces/test/MuonAnalysisFitDataPresenterTest.h
  qt/widgets/common/src/FileDialogHandler.cpp
  qt/widgets/common/test/DataProcessorUI/GenerateNotebookTest.h
  qt/widgets/common/test/ParseKeyValueStringTest.h
  qt/widgets/instrumentview/src/DetXMLFile.cpp
Labels: Misc: Maintenance, Quality: Clang-Tidy, Quality: Code Quality

#22157 Dev docs: MVP- and GUI-related pages
  dev-docs/source/GUIDesignGuidelines.rst
  dev-docs/source/MVPPythonViews.rst
  dev-docs/source/MVPTutorial/AddButton.rst
  dev-docs/source/MVPTutorial/AddComboBox.rst
  dev-docs/source/MVPTutorial/AddLabel.rst
  dev-docs/source/MVPTutorial/AddLineEdit.rst
  dev-docs/source/MVPTutorial/AddSpinBox.rst
  dev-docs/source/MVPTutorial/CalculatorExample/Calculator.py
  dev-docs/source/MVPTutorial/CalculatorExample/Model.py
  dev-docs/source/MVPTutorial/CalculatorExample/Presenter.py
  dev-docs/source/MVPTutorial/CalculatorExample/View.py
  dev-docs/source/MVPTutorial/CalculatorExample/index.rst
  dev-docs/source/MVPTutorial/CompleteGUI.rst
  dev-docs/source/MVPTutorial/ExtractInfoFromView.rst
  dev-docs/source/MVPTutorial/Introduction.rst
  dev-docs/source/MVPTutorial/Layouts.rst
  dev-docs/source/MVPTutorial/Matplotlib.rst
  dev-docs/source/MVPTutorial/Mocking.rst
  dev-docs/source/MVPTutorial/MockingExercise.rst
  dev-docs/source/MVPTutorial/MockingExerciseSolution.rst
  dev-docs/source/MVPTutorial/Model.rst
  dev-docs/source/MVPTutorial/ModelExercise.rst
  dev-docs/source/MVPTutorial/ModelExerciseSolution.rst
  dev-docs/source/MVPTutorial/MultipleViews.rst
  dev-docs/source/MVPTutorial/PresenterExercise.rst
  dev-docs/source/MVPTutorial/PresenterExerciseSolution.rst
  dev-docs/source/MVPTutorial/ReceivingSignalFromView.rst
  dev-docs/source/MVPTutorial/Tables.rst
  dev-docs/source/MVPTutorial/ViewExercise1.rst
  dev-docs/source/MVPTutorial/ViewExercise1Solution.rst
  dev-docs/source/MVPTutorial/index.rst
  dev-docs/source/images/MVPPythonViews/AdjustWidgetLayout.png
  dev-docs/source/images/MVPPythonViews/CompletePromote.png
  dev-docs/source/images/MVPPythonViews/CopyFromMainUI.png
  dev-docs/source/images/MVPPythonViews/NewFileName.png
  dev-docs/source/images/MVPPythonViews/NewForm.png
  dev-docs/source/images/MVPPythonViews/PasteIntoWidget.png
  dev-docs/source/images/MVPPythonViews/PostReplacedWidget.png
  dev-docs/source/images/MVPPythonViews/PreReplacedWidget.png
  dev-docs/source/images/MVPPythonViews/PromoteWidget.png
  dev-docs/source/images/MVPPythonViews/SelectFile.png
  dev-docs/source/images/MVPPythonViews/SelectTemplate.png
Labels: Component: Documentation, Component: GUI, Misc: Maintenance

#22080 Fix or suppress warnings from clang 6.0
  Framework/API/inc/MantidAPI/IMaskWorkspace.h
  Framework/Algorithms/src/PolarizationEfficiencyCor.cpp
  Framework/Crystal/inc/MantidCrystal/FindSXPeaksHelper.h
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  Framework/Geometry/inc/MantidGeometry/Crystal/HKLGenerator.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/src/Crystal/HKLGenerator.cpp
  Framework/Geometry/src/Math/BnId.cpp
  Framework/Kernel/src/MaterialXMLParser.cpp
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaBroker.h
  Framework/Parallel/inc/MantidParallel/Status.h
  Framework/Parallel/test/EventParserTest.h
  Framework/PythonInterface/mantid/kernel/src/Converters/CloneToNumpy.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/DateAndTime.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/NDArrayToVector.cpp
  MantidPlot/src/lib/3rdparty/qtcolorpicker/src/qtcolorpicker.cpp
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetAdder.h
Labels: Misc: Clang, Misc: Maintenance, Quality: Code Quality

#22012 Fix broken link in UnitFactory.rst
  docs/source/concepts/UnitFactory.rst
Labels: Component: Documentation

#22062 Documentation CreateSampleWorkspace
  docs/source/algorithms/CreateSampleWorkspace-v1.rst
  docs/source/images/CreateSampleWorkspaceInstrument.png
  docs/source/release/v3.13.0/framework.rst
Labels: Misc: Bug, Misc: Easy

#22190 OSX Muon Interface (No need for data)
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.ui
Labels: Component: Muon, Patch Candidate

#22178 Muon Analysis bug that disabled fit menu
  docs/source/release/v3.13.0/muon.rst
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon, Patch Candidate, Priority: High

#22131 Improve directtools Python module documentation
  docs/source/techniques/Directtools Python module.rst
  docs/source/techniques/DirecttoolsPythonModule.rst
  scripts/directtools/__init__.py
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Documentation

#22180 Applied clang-tidy modernize-use-nullptr fixes for MantidPlot/
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ConfigDialog.cpp
  MantidPlot/src/Graph.cpp
  MantidPlot/src/Graph3D.cpp
  MantidPlot/src/Mantid/InstrumentWidget/InstrumentWindow.cpp
  MantidPlot/src/Mantid/MantidMatrix.cpp
  MantidPlot/src/Mantid/MantidTable.cpp
  MantidPlot/src/Mantid/MantidUI.cpp
  MantidPlot/src/PythonScript.cpp
  MantidPlot/src/TiledWindow.cpp
  MantidPlot/src/importOPJ.cpp
  MantidPlot/src/origin/tree.hh
Labels: Component: GUI, Misc: Maintenance, Quality: Clang-Tidy, Quality: Code Quality

#22199 Dev-docs: instrument view and logging
  dev-docs/source/InstrumentViewer.rst
  dev-docs/source/Logging.rst
  dev-docs/source/images/GeometryHandlers.jpg
  dev-docs/source/images/InstrumentViewClassDiagram.jpg
  dev-docs/source/images/InstrumentWidget.jpg
Labels: Component: Documentation, Misc: Maintenance

#22177 Muon analysis and results table
  docs/source/release/v3.13.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableTab.cpp
Labels: Component: Muon, Patch Candidate, Priority: High

#22171 Added deprecation notice to ISIS Reflectometry (Old).
  docs/source/release/v3.13.0/reflectometry.rst
  scripts/Interface/ui/reflectometer/refl_gui.py
  scripts/Interface/ui/reflectometer/refl_window.ui
Labels: Component: GUI, Component: Reflectometry

#22170 Fixes race condition in MatrixWorkspace::rebuildDetectorIDGroupings
  Framework/API/src/MatrixWorkspace.cpp
Labels: Quality: Unit Tests

#22184 Add GSAS tab to Engineering GUI documentation
  docs/source/images/EnggDiffExampleGSASOutput.png
  docs/source/interfaces/Engineering Diffraction Test Guide.rst
  docs/source/interfaces/Engineering Diffraction.rst
Labels: Component: Diffraction, Component: Documentation, Component: GUI

#22161 Fix clang-tidy misc-unconventional-assign-operator warnings.
  Framework/API/inc/MantidAPI/FunctionProperty.h
  Framework/API/inc/MantidAPI/IndexProperty.h
  Framework/API/inc/MantidAPI/IndexTypeProperty.h
  Framework/API/inc/MantidAPI/WorkspaceProperty.h
  Framework/API/inc/MantidAPI/WorkspaceProperty.tcc
  Framework/API/src/FunctionProperty.cpp
  Framework/API/src/IndexProperty.cpp
  Framework/API/src/IndexTypeProperty.cpp
  Framework/Indexing/src/IndexInfo.cpp
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  Framework/Kernel/test/ArrayPropertyTest.h
Labels: Component: Framework, Misc: Maintenance, Quality: Clang-Tidy

#22193 Update IMDIterator for greater memory safety
  Framework/API/inc/MantidAPI/CompositeDomainMD.h
  Framework/API/inc/MantidAPI/FunctionDomainMD.h
  Framework/API/inc/MantidAPI/IMDIterator.h
  Framework/API/inc/MantidAPI/IMDWorkspace.h
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/FunctionDomainMD.cpp
  Framework/API/src/IMDWorkspace.cpp
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceMDIteratorTest.h
  Framework/Crystal/src/ConnectedComponentLabeling.cpp
  Framework/Crystal/src/FindClusterFaces.cpp
  Framework/Crystal/test/HardThresholdBackgroundTest.h
  Framework/CurveFitting/test/Algorithms/EvaluateFunctionTest.h
  Framework/DataObjects/inc/MantidDataObjects/MDEventWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/MDEventWorkspace.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspace.h
  Framework/DataObjects/src/MDHistoWorkspace.cpp
  Framework/DataObjects/test/FakeMDTest.h
  Framework/DataObjects/test/MDEventWorkspaceTest.h
  Framework/DataObjects/test/MDHistoWorkspaceIteratorTest.h
  Framework/DataObjects/test/MDHistoWorkspaceTest.h
  Framework/MDAlgorithms/src/ConvertCWPDMDToSpectra.cpp
  Framework/MDAlgorithms/src/ConvertCWSDMDtoHKL.cpp
  Framework/MDAlgorithms/src/FitMD.cpp
  Framework/MDAlgorithms/src/GetSpiceDataRawCountsFromMD.cpp
  Framework/MDAlgorithms/src/IntegrateMDHistoWorkspace.cpp
  Framework/MDAlgorithms/src/IntegratePeaksCWSD.cpp
  Framework/MDAlgorithms/src/Quantification/Resolution/TobyFitResolutionModel.cpp
  Framework/MDAlgorithms/src/Quantification/ResolutionConvolvedCrossSection.cpp
  Framework/MDAlgorithms/src/QueryMDWorkspace.cpp
  Framework/MDAlgorithms/src/ReplicateMD.cpp
  Framework/MDAlgorithms/src/SmoothMD.cpp
  Framework/MDAlgorithms/src/TransposeMD.cpp
  Framework/MDAlgorithms/src/WeightedMeanMD.cpp
  Framework/MDAlgorithms/test/ConvertCWSDExpToMomentumTest.h
  Framework/MDAlgorithms/test/ConvertSpiceDataToRealSpaceTest.h
  Framework/MDAlgorithms/test/DivideMDTest.h
  Framework/MDAlgorithms/test/FakeMDEventDataTest.h
  Framework/MDAlgorithms/test/FitMDTest.h
  Framework/MDAlgorithms/test/MaskMDTest.h
  Framework/MDAlgorithms/test/MinusMDTest.h
  Framework/MDAlgorithms/test/MultiplyMDTest.h
  Framework/MDAlgorithms/test/ResolutionConvolvedCrossSectionTest.h
  qt/paraview_ext/VatesAPI/inc/MantidVatesAPI/Normalization.h
  qt/paraview_ext/VatesAPI/src/Normalization.cpp
  qt/paraview_ext/VatesAPI/src/vtkMDHistoQuadFactory.cpp
  qt/paraview_ext/VatesAPI/src/vtkMDLineFactory.cpp
  qt/paraview_ext/VatesAPI/src/vtkMDQuadFactory.cpp
  qt/paraview_ext/VatesAPI/test/MockObjects.h
  qt/widgets/legacyqwt/inc/MantidQtWidgets/LegacyQwt/SignalRange.h
  qt/widgets/legacyqwt/src/SignalRange.cpp
Labels: Component: Framework, Group: Vates

#22204 Dev-docs: Writing an algorithm, custom ConvertToMD plugin
  dev-docs/source/WritingAnAlgorithm.rst
  dev-docs/source/WritingCustomConvertToMDTransformation.rst
  dev-docs/source/images/ConvertToMDClassDiagram.gif
Labels: Component: Documentation, Misc: Maintenance

#22168 Reduce potential triggers for building code on build servers (Linux/macOS)
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/check_for_changes
Labels: Component: Tools

#22182 Update mslice to fix issue with matplotlib < 1.5
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Patch Candidate

#22206 Dev-docs: Create Load hook doc
  dev-docs/source/load_algorithm_hook.rst
Labels: Component: Documentation, Misc: Maintenance

#22221 Use unique_ptr for safer getVertexesArray function.
  Framework/API/inc/MantidAPI/IMDIterator.h
  Framework/API/inc/MantidAPI/IMDNode.h
  Framework/API/inc/MantidAPI/MatrixWorkspaceMDIterator.h
  Framework/API/src/MatrixWorkspaceMDIterator.cpp
  Framework/Crystal/test/PeakBackgroundTest.h
  Framework/DataObjects/inc/MantidDataObjects/MDBoxBase.h
  Framework/DataObjects/inc/MantidDataObjects/MDBoxBase.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.h
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspaceIterator.h
  Framework/DataObjects/src/MDHistoWorkspace.cpp
  Framework/DataObjects/src/MDHistoWorkspaceIterator.cpp
  Framework/DataObjects/test/MDBoxBaseTest.h
  Framework/DataObjects/test/MDHistoWorkspaceIteratorTest.h
  Framework/DataObjects/test/MDHistoWorkspaceTest.h
  Framework/MDAlgorithms/src/BinMD.cpp
  Framework/MDAlgorithms/test/FitMDTest.h
  buildconfig/CMake/GoogleTest.in
  buildconfig/CMake/googletest_msvc_cpp11.patch
  qt/paraview_ext/PVPlugins/Sources/MDEWSource/vtkMDEWSource.cxx
  qt/paraview_ext/VatesAPI/src/vtkMDHexFactory.cpp
  qt/paraview_ext/VatesAPI/src/vtkMDLineFactory.cpp
  qt/paraview_ext/VatesAPI/src/vtkMDQuadFactory.cpp
Labels: Component: Framework, Group: Vates

#22211 Dev-docs: Git and coding standards-related pages
  dev-docs/source/AutomatedBuildProcess.rst
  dev-docs/source/CodingStandards/CPPStandards.rst
  dev-docs/source/CodingStandards/Libraries.rst
  dev-docs/source/CodingStandards/MantidStandards.rst
  dev-docs/source/CodingStandards/PythonStandards.rst
  dev-docs/source/CodingStandards/UnitTestStandards.rst
  dev-docs/source/CodingStandards/index.rst
  dev-docs/source/GUIDesignGuidelines.rst
  dev-docs/source/GitWorkflow.rst
  dev-docs/source/IssueTracking.rst
  dev-docs/source/images/BuildStatuses.png
  dev-docs/source/images/CodeFreezePR.png
  dev-docs/source/images/RestartBuild.png
Labels: Component: Documentation, Misc: Maintenance

#22208 Moved Remote Job Submission API doc to rst
  dev-docs/source/RemoteJobSubmissionAPI.rst
Labels: Component: Documentation

#22195 CrystalField Multi-spectrum resolution model segfault
  Framework/CurveFitting/src/Functions/CrystalFieldMultiSpectrum.cpp
  Framework/CurveFitting/test/Functions/CrystalFieldMultiSpectrumTest.h
  scripts/Inelastic/CrystalField/fitting.py
  scripts/Inelastic/CrystalField/function.py
Labels: Component: Direct Inelastic, Misc: Bug, Patch Candidate

#22231 Fix build for glibc 2.27 Replace HUGE with numeric_limits
  Framework/CurveFitting/inc/MantidCurveFitting/RalNlls/Workspaces.h
Labels: Component: Fitting, Component: Framework

#21880 Performance optimisations for detector Banks
  Framework/Beamline/inc/MantidBeamline/ComponentInfo.h
  Framework/Beamline/src/ComponentInfo.cpp
  Framework/Geometry/CMakeLists.txt
  Framework/Geometry/inc/MantidGeometry/IObjComponent.h
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentVisitor.h
  Framework/Geometry/inc/MantidGeometry/Instrument/InstrumentVisitor.h
  Framework/Geometry/inc/MantidGeometry/Instrument/StructuredDetector.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Rendering/GeometryHandler.h
  Framework/Geometry/inc/MantidGeometry/Rendering/GeometryTriangulator.h
  Framework/Geometry/src/Instrument/ComponentInfo.cpp
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/src/Instrument/InstrumentVisitor.cpp
  Framework/Geometry/src/Instrument/RectangularDetector.cpp
  Framework/Geometry/src/Instrument/StructuredDetector.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Geometry/src/Rendering/GeometryHandler.cpp
  Framework/Geometry/src/Rendering/GeometryTriangulator.cpp
  Framework/Geometry/src/Rendering/RenderingHelpers.cpp
  Framework/Geometry/src/Rendering/ShapeInfo.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/ObjCompAssemblyTest.h
  Framework/Geometry/test/ParObjCompAssemblyTest.h
  Framework/Geometry/test/ShapeInfoTest.h
  Framework/Geometry/test/StructuredDetectorTest.h
  docs/source/release/v3.13.0/index.rst
  docs/source/release/v3.13.0/instrument_view.rst
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BankRenderingHelpers.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRenderer.h
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
  qt/widgets/instrumentview/src/Projection3D.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
  qt/widgets/instrumentview/src/UnwrappedSurface.cpp
Labels: Component: GUI

#22129 CreateWorkspace: new dx property
  Framework/Algorithms/inc/MantidAlgorithms/CreateWorkspace.h
  Framework/Algorithms/src/CreateWorkspace.cpp
  Framework/Algorithms/test/CreateWorkspaceTest.h
  Framework/HistogramData/inc/MantidHistogramData/Histogram.h
  Framework/HistogramData/inc/MantidHistogramData/HistogramBuilder.h
  Framework/HistogramData/src/HistogramBuilder.cpp
  Framework/HistogramData/test/HistogramBuilderTest.h
  docs/source/algorithms/CreateWorkspace-v1.rst
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework

#22150 Dev-docs: Testing
  dev-docs/source/DataFilesForTesting.rst
  dev-docs/source/RunningTheUnitTests.rst
  dev-docs/source/SystemTests.rst
  dev-docs/source/TestingUtilities.rst
  dev-docs/source/UnitTestGoodPractice.rst
  dev-docs/source/WritingPerformanceTests.rst
  dev-docs/source/images/ExternalDataSchematic.png
  dev-docs/source/images/Mocking.png
Labels: Component: Documentation, Misc: Maintenance
