Repository mantidproject/mantid, pull requests merged in 2018-12, with the labels that each got.

#23680 Muon - Algorithm; MuonGroupingAsymmetry
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/MuonGroupingAsymmetry.h
  Framework/Muon/src/MuonGroupingAsymmetry.cpp
  Framework/Muon/test/MuonGroupingAsymmetryTest.h
  docs/source/algorithms/MuonGroupingAsymmetry-v1.rst
Labels: Component: Muon, Misc: Core

#24155 ConvertToMD uses the time average value of logs
  Framework/MDAlgorithms/src/MDWSDescription.cpp
  Framework/MDAlgorithms/test/ConvertToMDMinMaxLocalTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24090 changed EmptyValues.h to use Constexpr
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/CalculateCarpenterSampleCorrection.cpp
  Framework/Algorithms/src/HRPDSlabCanAbsorption.cpp
  Framework/Algorithms/src/SphericalAbsorption.cpp
  Framework/Crystal/src/AnvredCorrection.cpp
  Framework/Crystal/src/LoadHKL.cpp
  Framework/Crystal/src/SaveHKL.cpp
  Framework/Crystal/test/LoadHKLTest.h
  Framework/Crystal/test/SaveHKLTest.h
  Framework/Crystal/test/SortHKLTest.h
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/EmptyValues.h
  Framework/Kernel/src/EmptyValues.cpp
Labels: Misc: Core, Quality: Code Quality

#24131 Indirect - Iqt Tiled plot range bug
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
Labels: Component: Indirect Inelastic, Misc: Bug

#24163 New algorithm DeadTimeCorrection
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/DeadTimeCorrection.h
  Framework/Algorithms/src/DeadTimeCorrection.cpp
  Framework/Algorithms/test/DeadTimeCorrectionTest.h
  docs/source/algorithms/DeadTimeCorrection-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23163 Indirect Interfaces need to work with Project Recovery after a crash
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitSequential.h
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/EnergyWindowScanTest.py
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutput.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
Labels: Component: Indirect Inelastic

#23771 Muon - ThreadModel Fix
  Framework/PythonInterface/mantid/api/src/PythonAlgorithm/AlgorithmAdapter.cpp
  scripts/Muon/GUI/Common/message_box.py
  scripts/Muon/GUI/Common/thread_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_model.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/utilities/thread_model_test.py
Labels: Component: Muon, Misc: Bug, Priority: High

#24128 Determine SANS Instrument from User File
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/test_helper/user_file_test_helper.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/user_file/user_file_parser_test.py
Labels: Component: GUI, Component: SANS

#24136 Plot advanced against most properties
  MantidPlot/src/Mantid/MantidPlotUtilities.cpp
  docs/source/release/v3.14.0/ui.rst
  qt/widgets/common/src/MantidWSIndexDialog.cpp
Labels: Component: GUI

#23681 Muon - Algorithm; MuonPairingAsymmetry
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/MuonAlgorithmHelper.h
  Framework/Muon/inc/MantidMuon/MuonPairingAsymmetry.h
  Framework/Muon/src/MuonAlgorithmHelper.cpp
  Framework/Muon/src/MuonPairingAsymmetry.cpp
  Framework/Muon/test/MuonPairingAsymmetryTest.h
  docs/source/algorithms/MuonPairingAsymmetry-v1.rst
Labels: Component: Muon, Misc: Core

#24056 Checks for muon analysis x range
  docs/source/release/v3.14.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
Labels: Component: Muon, Misc: Easy

#24229 Decref Python object after copying to C++ std::string
  Framework/PythonInterface/mantid/kernel/src/kernel.cpp.in
Labels: Component: Python

#24204 Bugfix gui remembering linear/logarithmic binning
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Interface/reduction_gui/widgets/diffraction/diffraction_run_setup.py
Labels: Misc: Bug, Misc: Easy

#24236 Add xvfb to system test calls
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/systemtests
Labels: Misc: Bug, Priority: High

#24112 Add Load Button to SANS GUI
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/save_workspace.py
  scripts/SANS/sans/common/constants.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/sans_batch.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
  scripts/test/SANS/gui_logic/batch_process_runner_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Component: GUI, Component: SANS

#24139 New algorithm ParallaxCorrection
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ParallaxCorrection.h
  Framework/Algorithms/src/ParallaxCorrection.cpp
  Framework/Algorithms/test/ParallaxCorrectionTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  docs/source/algorithms/ParallaxCorrection-v1.rst
  docs/source/images/parallax.png
  docs/source/release/v3.14.0/framework.rst
  instrument/D22_Parameters.xml
  instrument/D22lr_Parameters.xml
  instrument/D33_Parameters.xml
Labels: Component: Framework

#24033 Indirect Bayes - ResNorm adjustments
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ResNorm2.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ResNorm2Test.py
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/ResNorm.cpp
  qt/scientific_interfaces/Indirect/ResNorm.h
  qt/scientific_interfaces/Indirect/ResNorm.ui
  qt/scientific_interfaces/Indirect/Stretch.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#23965 Generalization of SampleLogsBehaviour (MergeRuns, ConjoinXRuns)
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ConjoinXRuns.h
  Framework/Algorithms/inc/MantidAlgorithms/MergeRuns.h
  Framework/Algorithms/inc/MantidAlgorithms/RunCombinationHelpers/RunCombinationHelper.h
  Framework/Algorithms/inc/MantidAlgorithms/RunCombinationHelpers/SampleLogsBehaviour.h
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/src/MergeRuns.cpp
  Framework/Algorithms/src/RunCombinationHelpers/SampleLogsBehaviour.cpp
  Framework/Algorithms/test/MergeRunsTest.h
  Framework/Algorithms/test/SampleLogsBehaviourTest.h
  docs/source/algorithms/ConjoinXRuns-v1.rst
  docs/source/algorithms/Stitch1D-v3.rst
  docs/source/release/v3.14.0/framework.rst
  instrument/FIGARO_Parameters.xml
Labels: Component: Framework

#23645 Muon - Core Code; New Load Utilities
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/GUI/Common/load_utils.py
  scripts/Muon/GUI/Common/muon_load_data.py
  scripts/Muon/GUI/Common/table_utils.py
  scripts/Muon/GUI/Common/utilities/__init__.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/muon_file_utils.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/remove_plot_window.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/FFTPresenter_test.py
  scripts/test/Muon/MaxEntPresenter_test.py
  scripts/test/Muon/muon_load_data_test.py
  scripts/test/Muon/transformWidget_test.py
  scripts/test/Muon/utilities/load_utils_test.py
Labels: Component: Muon, Misc: Core

#24215 Fixes the input validator for MostLikelyMean
  Framework/Algorithms/src/MostLikelyMean.cpp
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#23747 Project Recovery: Handle Legacy checkpoints
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery, Misc: Easy

#24228 Re-enable Display Mask button upon Error
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/test/SANS/gui_logic/masking_table_presenter_test.py
Labels: Component: GUI, Component: SANS, Misc: Bug

#24222 Change update interval for live monitor
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
Labels: Component: Live Data, Misc: Easy

#24203 "Unscripted" Testing assist script (Documentation testing)
  tools/scripts/OpenMostDocumentationForTesting.py
Labels: Component: Documentation, Component: Tools

#24198 fix I(Q,t) over IN16B data
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  docs/source/release/v3.14.0/ui.rst
  scripts/Inelastic/IndirectCommon.py
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#23487 Add class to get workspace history
  Framework/Kernel/inc/MantidKernel/ErrorReporter.h
  Framework/Kernel/src/ErrorReporter.cpp
  Framework/Kernel/test/ErrorReporterTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/ErrorReporter.cpp
  scripts/CMakeLists.txt
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
  scripts/ErrorReporter/retrieve_recovery_files.py
  scripts/test/ErrorReportPresenterTest.py
  scripts/test/ErrorReporterPresenterTest.py
Labels: Component: Python

#23871 SANS - Add Process All Button
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI, Component: SANS

#24263 FilterEvents Fails to Open
  scripts/FilterEvents/__init__.py
Labels: Misc: Bug, Misc: Easy, Priority: High

#23934 Indirect Bayes - Quasi tab adjustments
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Quasi.cpp
  qt/scientific_interfaces/Indirect/Quasi.ui
Labels: Component: GUI, Component: Indirect Inelastic

#24244 Add conda bin directory to `Mantid.properties` search path
  Framework/PythonInterface/mantid/__init__.py
Labels: Component: Framework

#24219 Indirect - Crash when loading F(Q) Fit data
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#24141 Fix detector 2theta width calculation in SofQWNormalisedPolygon
  Framework/API/src/WorkspaceNearestNeighbourInfo.cpp
  Framework/API/src/WorkspaceNearestNeighbours.cpp
  Framework/Algorithms/inc/MantidAlgorithms/SofQWNormalisedPolygon.h
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/test/SofQWCutTest.h
  Framework/Algorithms/test/SofQWNormalisedPolygonTest.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Kernel/src/V3D.cpp
  docs/source/algorithms/ConvertToMD-v1.rst
  docs/source/algorithms/SofQWNormalisedPolygon-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Misc: Bug

#23670 Muon - Core Code; Load Widget Utilities
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/utilities/muon_file_utils.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/muon_load_data_test.py
  scripts/test/Muon/subplotObject_test.py
  scripts/test/Muon/utilities/muon_file_utils_test.py
  scripts/test/Muon/utilities/muon_load_data_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_directory_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
  scripts/test/Muon/utilities/run_string_utils_conversion_test.py
  scripts/test/Muon/utilities/run_string_utils_operator_test.py
Labels: Component: Muon, Misc: Core

#24251 Indirect -Error when clicking plot guess from Display without reduced workspace
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/IndirectFitPropertyBrowser.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#24278 Disable Sum Runs and Integral while processing
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/diagnostics_page.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/models/run_summation.py
  scripts/SANS/sans/gui_logic/presenter/add_runs_presenter.py
  scripts/SANS/sans/gui_logic/presenter/diagnostic_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: SANS

#23643 Muon - Core Code; Groups and Pairs
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/utilities/muon_group_test.py
  scripts/test/Muon/utilities/muon_pair_test.py
Labels: Component: Muon, Misc: Core

#23648 Muon - Core Code; Muon Context
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/muon_context.py
  scripts/Muon/GUI/Common/muon_data_context.py
Labels: Component: Muon, Misc: Core

#23650 Muon - Core Code; Update to utility files
  scripts/Muon/GUI/Common/muon_load_data.py
Labels: Component: Muon, Misc: Core

#23221 Indirect - F(Q) Fit - Only display EISF/Width in drop-down menu if found in workspace
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/JumpFitAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug, Priority: High

#24286 Rebin2D changed to work with fractional area tracking on plain Workspace2D
  Framework/Algorithms/src/Rebin2D.cpp
  Framework/Algorithms/test/Rebin2DTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/ComputeIncoherentDOSTest.py
  docs/source/algorithms/Rebin2D-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Group: Inelastic, Misc: Bug

#23549 Add flood correction to the reflectometry gui
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/src/ApplyFloodWorkspace.cpp
  Framework/Algorithms/src/BinaryOperation.cpp
  Framework/Algorithms/test/ApplyFloodWorkspaceTest.h
  Framework/Algorithms/test/MultiplyDivideTest.in.h
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Testing/Data/UnitTest/REFL_flood_cor_test.nxs.md5
  docs/source/release/v3.14.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsWidget.ui
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#24279 Remove mock dependency from MatrixWorkspaceDisplay model
  qt/python/mantidqt/widgets/matrixworkspacedisplay/model.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test/test_matrixworkspacedisplay_model.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test/test_matrixworkspacedisplay_presenter.py
Labels: Component: Workbench, Priority: High

#23770 ISIS SANS: Add save other window
  docs/source/images/sans_isis_save_options.png
  docs/source/images/save_other.png
  docs/source/interfaces/ISIS SANS v2.rst
  docs/source/interfaces/sans_save_other.rst
  docs/source/release/v3.14.0/sans.rst
  qt/python/mantidqt/_common.sip
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
  scripts/Interface/ui/sans_isis/CMakeLists.txt
  scripts/Interface/ui/sans_isis/SANSSaveOtherWindow.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/Interface/ui/sans_isis/save_other_dialog.ui
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/save_other_presenter.py
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/save_other_presenter_test.py
Labels: Component: Framework, Component: GUI, Component: SANS

#24281 Multiple fitting crash when setting values after tie
  qt/widgets/common/src/FunctionBrowser.cpp
Labels: Component: GUI

#24299 Moved scanIntervals() outside for loop to optimize MergeRuns
  Framework/Algorithms/src/MergeRuns.cpp
Labels: Component: Framework, Quality: Unit Tests

#24309 Configure Mantid.properties for RelWithDebInfo MSVC build
  Framework/Kernel/CMakeLists.txt
Labels: Component: Framework, Misc: Bug

#24272 Fixed IDFs for both hfir instruments
  Framework/Algorithms/test/ApplyTransmissionCorrectionTest.h
  Framework/Algorithms/test/Q1DWeightedTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadSpice2D.h
  Framework/DataHandling/src/LoadSpice2D.cpp
  Framework/DataHandling/test/LoadSpice2dTest.h
  Framework/WorkflowAlgorithms/test/SANSSolidAngleCorrectionTest.h
  docs/source/release/v3.14.0/sans.rst
  instrument/BIOSANS_Definition.xml
  instrument/BIOSANS_Definition_2012.xml
  instrument/BIOSANS_Definition_2016.xml
  instrument/BIOSANS_Parameters.xml
  instrument/BIOSANS_Parameters_2012.xml
  instrument/BIOSANS_Parameters_2016.xml
  instrument/CG2_Definition.xml
  instrument/GPSANS_Definition.xml
Labels: Component: SANS

#24108 Add new INTER system test
  Testing/Data/SystemTest/INTER/INTERReductionTestRuns.nxs.md5
  Testing/SystemTests/tests/analysis/INTERReductionTest.py
  Testing/SystemTests/tests/analysis/reference/INTERReductionResult.nxs.md5
Labels: Component: Reflectometry, Quality: System Tests

#24277 ILL SANS: more corrections in the workflow
  Framework/Algorithms/src/DeadTimeCorrection.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D22_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  instrument/D11_Parameters.xml
  instrument/D11lr_Parameters.xml
  instrument/D22_Parameters.xml
  instrument/D22lr_Parameters.xml
  instrument/D33_Parameters.xml
Labels: Component: SANS, Priority: High

#24254 TOFTOF GUI: add empty can factor for vanadium
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/Interface/reduction_gui/widgets/toftof/toftof_setup.py
Labels: Component: Direct Inelastic, Component: GUI

#24255 Indirect - Disable Fit and Fit Sequential while fitting
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/IndirectFitPropertyBrowser.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#24301 Update IN5 pixel shape, monitor detID
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLReductionTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/release/v3.14.0/direct_inelastic.rst
  instrument/IN5_Definition.xml
Labels: Component: Direct Inelastic

#24284 Bug fix for muon results table and coadd runs
  docs/source/release/v3.14.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysisHelper.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisHelper.h
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableCreator.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableCreator.h
  qt/scientific_interfaces/test/MuonAnalysisHelperTest.h
Labels: Component: GUI, Component: Muon

#23122 Remove unnecessary null pointer checks
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/inc/MantidAPI/Sample.h
  Framework/API/src/Algorithm.cpp
  Framework/API/src/IFunction.cpp
  Framework/API/src/Sample.cpp
  Framework/Algorithms/inc/MantidAlgorithms/AlignDetectors.h
  Framework/Algorithms/inc/MantidAlgorithms/CreateSampleWorkspace.h
  Framework/Algorithms/inc/MantidAlgorithms/He3TubeEfficiency.h
  Framework/Algorithms/inc/MantidAlgorithms/ScaleX.h
  Framework/Algorithms/inc/MantidAlgorithms/WorkspaceJoiners.h
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/src/AlignDetectors.cpp
  Framework/Algorithms/src/CreateSampleWorkspace.cpp
  Framework/Algorithms/src/He3TubeEfficiency.cpp
  Framework/Algorithms/src/ScaleX.cpp
  Framework/Algorithms/src/WorkspaceJoiners.cpp
  Framework/CurveFitting/inc/MantidCurveFitting/FuncMinimizers/LevenbergMarquardtMinimizer.h
  Framework/CurveFitting/src/FuncMinimizers/LevenbergMarquardtMinimizer.cpp
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspaceIterator.h
  Framework/DataObjects/src/MDHistoWorkspaceIterator.cpp
  Framework/Geometry/inc/MantidGeometry/IObjComponent.h
  Framework/Geometry/src/IObjComponent.cpp
  Framework/ICat/src/ICat3/ICat3Helper.cpp
  Framework/Kernel/inc/MantidKernel/ConfigService.h
  Framework/Kernel/inc/MantidKernel/InternetHelper.h
  Framework/Kernel/inc/MantidKernel/ThreadPool.h
  Framework/Kernel/src/ANN/bd_tree.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/src/InternetHelper.cpp
  Framework/Kernel/src/ThreadPool.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/Quantification/ForegroundModel.h
  Framework/MDAlgorithms/src/Quantification/ForegroundModel.cpp
  Framework/MDAlgorithms/test/CreateMDFitWorkspaceTest.h
  Framework/MDAlgorithms/test/MDWSTransfTest.h
  Framework/RemoteJobManagers/inc/MantidRemoteJobManagers/MantidWebServiceAPIHelper.h
  Framework/RemoteJobManagers/src/MantidWebServiceAPIHelper.cpp
  MantidPlot/src/Graph.cpp
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/PropertyHandler.cpp
Labels: Misc: Maintenance

#24318 Update OptimizeCrystalPlacement
  Framework/Crystal/src/OptimizeCrystalPlacement.cpp
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/PeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24313 Indirect Simulations - Move and disable the Run button
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/DensityOfStates.cpp
  qt/scientific_interfaces/Indirect/DensityOfStates.h
  qt/scientific_interfaces/Indirect/DensityOfStates.ui
  qt/scientific_interfaces/Indirect/IndirectLoadILL.cpp
  qt/scientific_interfaces/Indirect/IndirectLoadILL.h
  qt/scientific_interfaces/Indirect/IndirectMolDyn.cpp
  qt/scientific_interfaces/Indirect/IndirectMolDyn.h
  qt/scientific_interfaces/Indirect/IndirectMolDyn.ui
  qt/scientific_interfaces/Indirect/IndirectSassena.cpp
  qt/scientific_interfaces/Indirect/IndirectSassena.h
  qt/scientific_interfaces/Indirect/IndirectSassena.ui
  qt/scientific_interfaces/Indirect/IndirectSimulation.cpp
  qt/scientific_interfaces/Indirect/IndirectSimulation.h
  qt/scientific_interfaces/Indirect/IndirectSimulation.ui
Labels: Component: GUI, Component: Indirect Inelastic

#24325 move libMantidCatalog.so to lib/
  Framework/Catalog/CMakeLists.txt
Labels: Component: Framework

#24321 Print sample log's units, if present
  Framework/DataHandling/inc/MantidDataHandling/SaveReflectometryAscii.h
  Framework/DataHandling/src/SaveReflectometryAscii.cpp
  Framework/DataHandling/test/SaveReflectometryAsciiTest.h
  docs/source/algorithms/SaveReflectometryAscii-v1.rst
Labels: Component: Reflectometry, Misc: Easy

#24205 Resample colorfill plot for faster interactive viewing.
  CMakeLists.txt
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  MantidPlot/make_package.rb.in
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/dev-packages/deb/mantid-developer/ns-control
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  qt/applications/workbench/workbench/plotting/functions.py
  qt/applications/workbench/workbench/plotting/test/test_functions.py
Labels: Component: Workbench

#23672 Muon - Widget; Load Run Widget
  scripts/Muon/GUI/Common/load_run_widget/__init__.py
  scripts/Muon/GUI/Common/load_run_widget/model.py
  scripts/Muon/GUI/Common/load_run_widget/presenter.py
  scripts/Muon/GUI/Common/load_run_widget/view.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/muon_test_helpers.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/load_run_widget/__init__.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_view_test.py
Labels: Component: GUI, Component: Muon

#24344 Update PropertyWithValue to use pass-by-value idiom
  Framework/API/test/FakeAlgorithms.h
  Framework/Algorithms/src/PDDetermineCharacterizations.cpp
  Framework/Algorithms/src/RadiusSum.cpp
  Framework/Algorithms/src/RingProfile.cpp
  Framework/Algorithms/src/SmoothData.cpp
  Framework/Crystal/src/IndexSXPeaks.cpp
  Framework/Crystal/src/PeaksInRegion.cpp
  Framework/Crystal/src/PeaksOnSurface.cpp
  Framework/Crystal/src/SetUB.cpp
  Framework/Crystal/src/TransformHKL.cpp
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/src/LoadSpiceAscii.cpp
  Framework/DataHandling/src/SaveGSS.cpp
  Framework/DataHandling/test/SetSampleTest.h
  Framework/Kernel/inc/MantidKernel/ArrayProperty.h
  Framework/Kernel/inc/MantidKernel/Property.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  Framework/Kernel/src/ArrayProperty.cpp
  Framework/Kernel/src/Property.cpp
  Framework/Kernel/src/PropertyNexus.cpp
  Framework/Kernel/test/ArrayPropertyTest.h
  Framework/MDAlgorithms/src/BoxControllerSettingsAlgorithm.cpp
  Framework/MDAlgorithms/src/CalculateCoverageDGS.cpp
  Framework/MDAlgorithms/src/ConvertToDiffractionMDWorkspace.cpp
  Framework/MDAlgorithms/src/ConvertToDiffractionMDWorkspace2.cpp
  Framework/MDAlgorithms/src/ConvertToDiffractionMDWorkspace3.cpp
  Framework/MDAlgorithms/src/ConvertToReflectometryQ.cpp
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/MDAlgorithms/src/TransformMD.cpp
  Framework/Muon/src/AlphaCalc.cpp
  Framework/Muon/src/EstimateMuonAsymmetryFromCounts.cpp
  Framework/Muon/src/MuonGroupingAsymmetry.cpp
  Framework/Muon/src/MuonGroupingCounts.cpp
  Framework/Muon/src/MuonPairingAsymmetry.cpp
  Framework/Muon/src/RemoveExpDecay.cpp
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/NDArrayToVector.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/PySequenceToVector.h
  Framework/PythonInterface/mantid/kernel/src/Converters/NDArrayToVector.cpp
Labels: Component: Framework

#24353 Change SNS to use ONCAT
  docs/source/release/v3.14.0/framework.rst
  instrument/Facilities.xml
Labels: Misc: Core, Misc: Easy

#24349 Fix MacOS packaging
  MantidPlot/make_package.rb.in
Labels: Priority: High

#24316 LoadDiffCal error message
  Framework/DataHandling/src/LoadDiffCal.cpp
  Framework/DataHandling/test/LoadDetectorsGroupingFileTest.h
  Framework/DataHandling/test/LoadInstrumentTest.h
  Framework/Kernel/src/Exception.cpp
Labels: Misc: Easy

#24365 Skip PlottingViewPlotFunctions test on windows
  scripts/test/Muon/PlottingView_test.py
Labels: Priority: High

#24361 All AllTests target to Framework-only builds
  CMakeLists.txt
  Framework/DataHandling/test/ReadMaterialTest.h
Labels: Component: Framework

#24340 Indirect F(Q)Fit - Plot Spectrum spinbox updating to wrong value when Fit type is changed
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#24371 Fix system test reference data
  Testing/SystemTests/scripts/InstallerTests.py
  Testing/SystemTests/tests/analysis/GUIStartupTest.py
  buildconfig/Jenkins/systemtests
  buildconfig/Jenkins/systemtests.bat
  instrument/D22_Parameters.xml
  instrument/D22lr_Parameters.xml
Labels: Misc: Bug, Priority: High

#24356 Indirect Data Analysis - Elwin plot spectrum options
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/Elwin.ui
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
Labels: Component: GUI, Component: Indirect Inelastic

#24385 Update colorfill plot check to ignore final bin.
  docs/source/release/v3.14.0/ui.rst
  qt/applications/workbench/workbench/plotting/functions.py
Labels: Component: GUI, Component: Workbench

#24381 Remove GUI state files before each build on builders
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  buildconfig/Jenkins/systemtests
  buildconfig/Jenkins/systemtests.bat
Labels: Priority: High

#24375 Fix passing of args with spaces in them
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
  buildconfig/CMake/Packaging/mantidpython.in
  docs/source/release/v3.14.0/ui.rst
Labels: Component: GUI, Component: Workbench

#24331 Add SetCrystalLocation
  Framework/Crystal/CMakeLists.txt
  Framework/Crystal/inc/MantidCrystal/SetCrystalLocation.h
  Framework/Crystal/src/SetCrystalLocation.cpp
  Framework/Crystal/test/SetCrystalLocationTest.h
  docs/source/algorithms/SetCrystalLocation-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Group: Single Crystal

#24377 Set sample position in OptimizeCrystalPlacement
  Framework/Crystal/src/OptimizeCrystalPlacement.cpp
  Framework/Crystal/src/PeakHKLErrors.cpp
  Framework/Crystal/test/OptimizeCrystalPlacementTest.h
  Framework/Crystal/test/SCDCalibratePanelsTest.h
  docs/source/algorithms/OptimizeCrystalPlacement-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24343 Event filtering documentation
  Framework/Algorithms/inc/MantidAlgorithms/TimeAtSampleStrategy.h
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/src/TimeAtSampleStrategyDirect.cpp
  Framework/Algorithms/src/TimeAtSampleStrategyElastic.cpp
  Framework/Algorithms/src/TimeAtSampleStrategyIndirect.cpp
  Framework/Algorithms/test/TimeAtSampleStrategyDirectTest.h
  Framework/Algorithms/test/TimeAtSampleStrategyIndirectTest.h
  docs/source/algorithms/FilterByLogValue-v1.rst
  docs/source/algorithms/FilterEvents-v1.rst
  docs/source/concepts/EventFiltering.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Documentation
