Repository mantidproject/mantid, pull requests merged in 2018-02, with the labels that each got.

#21687 Add deprecation doxygen to WorkspaceFactory methods.
  Framework/API/inc/MantidAPI/WorkspaceFactory.h
  Framework/API/src/WorkspaceFactory.cpp
Labels: Component: Framework

#21726 FindPeaksMD calculate Goniometer rotation for CW
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  docs/source/algorithms/FindPeaksMD-v1.rst
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#21743 Add bibtex file for users
  docs/source/mantid.bib
  docs/source/release/v3.10.0/index.rst
  docs/source/release/v3.10.1/index.rst
  docs/source/release/v3.11.0/index.rst
  docs/source/release/v3.12.0/index.rst
  tools/release_generator/patch.py
  tools/release_generator/release.py
Labels: Component: Documentation

#21617 Engineering Diffraction GUI enable loading and plotting runs in the new GSAS tab
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionQtTabGSAS.ui
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingView.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingViewMock.h
Labels: Component: Diffraction, Component: Fitting, Component: GUI

#21748 Bugfix UpdateInstrumentDefinitions.OnStartup and loading Facilities.xml
  Framework/Kernel/src/ConfigService.cpp
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v3.12.0/framework.rst
Labels: Misc: Bug

#21635 Add toDict example to TableWorkspace concept page
  docs/source/concepts/TableWorkspaces.rst
  docs/source/conf.py
Labels: Component: Documentation

#21754 Importing i and val from simpleapi
  Framework/PythonInterface/mantid/fitfunctions.py
Labels: Component: Python, Misc: Bug

#21751 Fix workbench for IPython 6
  qt/applications/workbench/workbench/plugins/jupyterconsole.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/inputsplitter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
Labels: Component: Workbench

#21732 Fix OutputWorkspace property type in LineProfile
  Framework/Algorithms/src/LineProfile.cpp
  Framework/Algorithms/test/LineProfileTest.h
Labels: Component: Framework, Misc: Bug

#21685 Performance improvements in NormaliseByPeakArea
  Framework/CurveFitting/src/Algorithms/NormaliseByPeakArea.cpp
Labels: Component: Fitting

#21570 Apply Detector Scan calibration
  Framework/PythonInterface/plugins/algorithms/ApplyDetectorScanEffCorr.py
  Framework/PythonInterface/test/python/plugins/algorithms/ApplyDetectorScanEffCorrTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  docs/source/algorithms/ApplyDetectorScanEffCorr-v1.rst
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction

#21666 Engineering Diffraction GUI implement skeleton model and view for multi-run widget
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidget.ui
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetView.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetModelMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetModelTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetViewMock.h
Labels: Component: Diffraction, Component: GUI, Misc: Maintenance

#21717 Adding Muon Maxent
  Framework/PythonInterface/plugins/algorithms/MuonMaxent.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/MuonMaxEntTest.py
  Testing/SystemTests/tests/analysis/MuonMaxEntTest.py
  Testing/SystemTests/tests/analysis/reference/MuonMaxEntMUSR00022725.nxs.md5
  docs/source/algorithms/MuonMaxent-v1.rst
  docs/source/release/v3.12.0/muon.rst
  scripts/Muon/MaxentTools/__init__.py
  scripts/Muon/MaxentTools/back.py
  scripts/Muon/MaxentTools/chinow.py
  scripts/Muon/MaxentTools/chosol.py
  scripts/Muon/MaxentTools/deadfit.py
  scripts/Muon/MaxentTools/dist.py
  scripts/Muon/MaxentTools/input.py
  scripts/Muon/MaxentTools/maxent.py
  scripts/Muon/MaxentTools/modab.py
  scripts/Muon/MaxentTools/modamp.py
  scripts/Muon/MaxentTools/modbak.py
  scripts/Muon/MaxentTools/move.py
  scripts/Muon/MaxentTools/multimaxalpha.py
  scripts/Muon/MaxentTools/opus.py
  scripts/Muon/MaxentTools/outspec.py
  scripts/Muon/MaxentTools/project.py
  scripts/Muon/MaxentTools/start.py
  scripts/Muon/MaxentTools/tropus.py
  scripts/Muon/MaxentTools/zft.py
Labels: Component: Muon

#21668 Improve Reflectometry Help Facilities
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  docs/source/release/v3.12.0/reflectometry.rst
  qt/scientific_interfaces/General/ReflMainWidget.ui
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/IReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflEventWidget.ui
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowWidget.ui
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabWidget.ui
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.h
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorWidget.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/HintingLineEdit.h
  qt/widgets/common/src/HintingLineEdit.cpp
Labels: Component: GUI, Component: Reflectometry

#21654 Allow additional type of calibration workspace
  Framework/Algorithms/inc/MantidAlgorithms/CalculateDIFC.h
  Framework/Algorithms/src/CalculateDIFC.cpp
  Framework/Algorithms/test/CalculateDIFCTest.h
  docs/source/algorithms/CalculateDIFC-v1.rst
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#21317 Add gridlines and increase font size on DPW
  docs/source/release/v3.12.0/lowq.rst
  docs/source/release/v3.12.0/reflectometry.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GridDelegate.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/MockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/OneLevelTreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/QDataProcessorWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/TreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/TwoLevelTreeManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/HintingLineEditFactory.h
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/OneLevelTreeManager.cpp
  qt/widgets/common/src/DataProcessorUI/QDataProcessorWidget.cpp
  qt/widgets/common/src/DataProcessorUI/TwoLevelTreeManager.cpp
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
Labels: Component: GUI

#21638 Engineering Diffraction GUI GSAS tab improve warnings
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingView.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelMock.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingViewMock.h
Labels: Component: Diffraction, Component: GUI

#21440 Added event sliced mergeing support
  docs/source/release/v3.12.0/lowq.rst
  scripts/SANS/ISISCommandInterface.py
  scripts/SANS/SANSBatchMode.py
Labels: Component: SANS

#21579 New polarization correction algorithm for reflectometers
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationEfficiencyCor.h
  Framework/Algorithms/src/PolarizationEfficiencyCor.cpp
  Framework/Algorithms/test/PolarizationEfficiencyCorTest.h
  docs/source/algorithms/PolarizationEfficiencyCor-v1.rst
  docs/source/release/v3.12.0/reflectometry.rst
Labels: Component: Reflectometry

#21513 Clean up HFIR HB3A interface and fix bugs reported from user
  docs/source/release/v3.12.0/ui.rst
  scripts/HFIR_4Circle_Reduction/MainWindow.ui
  scripts/HFIR_4Circle_Reduction/NTableWidget.py
  scripts/HFIR_4Circle_Reduction/PeaksIntegrationReport.py
  scripts/HFIR_4Circle_Reduction/PreprocessWindow.py
  scripts/HFIR_4Circle_Reduction/detector2dview.py
  scripts/HFIR_4Circle_Reduction/downloaddialog.py
  scripts/HFIR_4Circle_Reduction/fourcircle_utility.py
  scripts/HFIR_4Circle_Reduction/fputility.py
  scripts/HFIR_4Circle_Reduction/hfctables.py
  scripts/HFIR_4Circle_Reduction/mpl2dgraphicsview.py
  scripts/HFIR_4Circle_Reduction/multi_threads_helpers.py
  scripts/HFIR_4Circle_Reduction/peak_integration_utility.py
  scripts/HFIR_4Circle_Reduction/peakprocesshelper.py
  scripts/HFIR_4Circle_Reduction/process_mask.py
  scripts/HFIR_4Circle_Reduction/project_manager.py
  scripts/HFIR_4Circle_Reduction/reduce4circleControl.py
  scripts/HFIR_4Circle_Reduction/reduce4circleGUI.py
  scripts/HFIR_4Circle_Reduction/refineubfftsetup.py
Labels: Component: Diffraction, Component: GUI, Group: Single Crystal

#21432 Beam Centre Finder Additional Features
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  Testing/SystemTests/tests/analysis/LOQCentreNoGrav.py
  Testing/SystemTests/tests/analysis/LOQCentreNoGrav_V2.py
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/beam_centre.ui
  scripts/SANS/sans/algorithm_detail/centre_finder_new.py
  scripts/SANS/sans/command_interface/ISISCommandInterface.py
  scripts/SANS/sans/common/file_information.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/sans_batch.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/centre_finder_new_test.py
  scripts/test/SANS/gui_logic/beam_centre_model_test.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
Labels: Component: GUI, Component: SANS

#21418 Adding automatic creation of all group/pairs for a workspace in muon analysis
  docs/source/images/MuonAnalysisSettingsGeneral.png
  docs/source/interfaces/Muon Analysis.rst
  docs/source/release/v3.12.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/scientific_interfaces/Muon/MuonAnalysis.h
  qt/scientific_interfaces/Muon/MuonAnalysis.ui
  qt/scientific_interfaces/Muon/MuonAnalysisOptionTab.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisOptionTab.h
Labels: Component: Muon

#21680 Disable editing on Events and Settings Reflectometry GUI tabs during processing.
  docs/source/release/v3.12.0/reflectometry.rst
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/scientific_interfaces/ISISReflectometry/IReflEventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflEventTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflEventView.h
  qt/scientific_interfaces/ISISReflectometry/IReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSaveTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflEventView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflEventView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflRunsTabView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflDataProcessorPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflEventPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflEventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflEventTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflEventTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflGenericDataProcessorPresenterFactory.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflGenericDataProcessorPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSaveTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSaveTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSaveTabWidget.ui
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsTabPresenter.h
  qt/scientific_interfaces/test/ReflDataProcessorPresenterTest.h
  qt/scientific_interfaces/test/ReflEventPresenterTest.h
  qt/scientific_interfaces/test/ReflEventTabPresenterTest.h
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/scientific_interfaces/test/ReflRunsTabPresenterTest.h
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
  qt/scientific_interfaces/test/ReflSettingsTabPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorMainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/GenericDataProcessorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/MockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/QDataProcessorWidget.h
  qt/widgets/common/src/DataProcessorUI/GenericDataProcessorPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/QDataProcessorWidget.cpp
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#21609 Allow `SofQW` to rebin in energy and speed it up
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/SofQW.h
  Framework/Algorithms/inc/MantidAlgorithms/SofQWCentre.h
  Framework/Algorithms/inc/MantidAlgorithms/SofQWNormalisedPolygon.h
  Framework/Algorithms/src/SofQW.cpp
  Framework/Algorithms/src/SofQWCentre.cpp
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/src/SofQWPolygon.cpp
  Framework/Algorithms/test/SofQWCutTest.h
  Framework/DataHandling/src/LoadNXSPE.cpp
  Framework/DataObjects/inc/MantidDataObjects/FractionalRebinning.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  Testing/Data/UnitTest/MAR21335_Ei60meV.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ARCSsystemtest.nxs.md5
  Testing/SystemTests/tests/analysis/reference/CNCSReduction_TIBasEvents.nxs.md5
  docs/source/algorithms/LoadNXSPE-v1.rst
  docs/source/algorithms/SaveNXSPE-v1.rst
  docs/source/algorithms/SofQWNormalisedPolygon-v1.rst
  docs/source/algorithms/SofQWPolygon-v1.rst
  docs/source/images/RebinnedOutput.png
  docs/source/release/v3.12.0/spectroscopy.rst
Labels: Component: Direct Inelastic

#21772 Add 3d plots to workbench
  Framework/PythonInterface/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/functions.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions3D.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/functionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctions3DTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/api/python/mantid/plots/index.rst
Labels: Component: Python, Component: Workbench

#21783 Add slits to the IDF of D17, ILL
  instrument/D17_Definition.xml
Labels: Component: Reflectometry

#20845 Fixes to codebase for MSVC 2017
  Framework/API/test/FunctionAttributeTest.h
  Framework/API/test/MultiPeriodGroupWorkerTest.h
  Framework/Algorithms/src/DiffractionFocussing2.cpp
  Framework/CurveFitting/test/Algorithms/FitTest.h
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
  Framework/Kernel/test/TypedValidatorTest.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/GetPointer.h
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/windows/command-prompt.bat
  buildconfig/windows/visual-studio.bat
Labels: Misc: Maintenance

#21628 GSASIIRefineFitPeaks use multiple phase files
  Framework/PythonInterface/plugins/algorithms/GSASIIRefineFitPeaks.py
  Testing/Data/SystemTest/FE_ALPHA.cif.md5
  Testing/Data/SystemTest/Fe-alpha.cif.md5
  Testing/Data/SystemTest/Fe-gamma.cif.md5
  Testing/SystemTests/tests/analysis/GSASIIRefineFitPeaksTest.py
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksPawleyFitParams.nxs.md5
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksRietveldFitParams.nxs.md5
Labels: Component: Diffraction, Component: Fitting, Component: Python

#21763 Bare bones of sphinx-based developer documentation
  CMakeLists.txt
  dev-docs/CMakeLists.txt
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/GettingStarted.rst
  dev-docs/source/ISISSANSReductionBackend.rst
  dev-docs/source/IndexProperty.rst
  dev-docs/source/_static/color_ranking_definitions.js
  dev-docs/source/_static/custom.css
  dev-docs/source/_static/epub.css
  dev-docs/source/_templates/category.html
  dev-docs/source/_templates/globaltoc.html
  dev-docs/source/_templates/layout.html
  dev-docs/source/_templates/navbar.html
  dev-docs/source/_templates/redirect.html
  dev-docs/source/conf.py
  dev-docs/source/images/IndexPropertyDialogExample.png
  dev-docs/source/images/MPI-execution-mode-distributed-gather.png
  dev-docs/source/images/MPI-execution-mode-distributed-load.png
  dev-docs/source/images/MPI-execution-mode-distributed.png
  dev-docs/source/images/MPI-execution-mode-identical.png
  dev-docs/source/images/MPI-execution-mode-master-only-load.png
  dev-docs/source/images/MPI-execution-mode-master-only-store.png
  dev-docs/source/images/MPI-execution-mode-master-only.png
  dev-docs/source/images/MPI-storage-modes.png
  dev-docs/source/images/Mantid_Logo_Transparent.png
  dev-docs/source/index.rst
  docs/CMakeLists.txt
  docs/source/development/index.rst
  docs/source/index.rst
  docs/source/release/v3.11.0/framework.rst
Labels: Component: Documentation

#21710 ISIS Powder allow offset files to live outside calibration directory
  docs/source/release/v3.12.0/diffraction.rst
  docs/source/techniques/ISISPowder-Tutorials.rst
  scripts/Diffraction/isis_powder/routines/run_details.py
Labels: Component: Diffraction, Component: Python

#21797 Increase tolerance when running ISIS Powder HRPD system test on OSX
  Testing/SystemTests/tests/analysis/ISIS_PowderHRPDTest.py
Labels: Component: Diffraction, Component: Python, Quality: System Tests

#21758 Fix complex run summation in MultiFileNameParser
  Framework/API/test/MultipleFilePropertyTest.h
  Framework/Kernel/src/MultiFileNameParser.cpp
  Framework/Kernel/test/MultiFileNameParserTest.h
  docs/source/api/python/mantid/api/MultipleFileProperty.rst
  docs/source/release/v3.12.0/framework.rst
Labels: Component: Framework, Misc: Bug, Priority: High

#21725 ISIS Powder Mask out prompt pulses for HRPD
  Testing/Data/SystemTest/ISIS_Powder/input/HRPD66063_focused.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/16_5/ISIS_Powder-HRPD-VanSplined_66031_hrpd_new_072_01_corr.cal.nxs.md5
  docs/source/release/v3.12.0/diffraction.rst
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_advanced_config.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/test/ISISPowderCommonTest.py
Labels: Component: Diffraction, Component: Python

#21736 `ConjoinXRuns` to support varying bins
  Framework/Algorithms/inc/MantidAlgorithms/ConjoinXRuns.h
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/test/ConjoinXRunsTest.h
  docs/source/algorithms/ConjoinXRuns-v1.rst
  docs/source/release/v3.12.0/framework.rst
Labels: Component: Framework

#21809 Fixes suggested by cppcheck 1.82
  Framework/DataObjects/src/EventList.cpp
  Framework/HistogramData/CMakeLists.txt
  Framework/Indexing/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/VMD.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/src/Matrix.cpp
  Framework/Kernel/src/VMD.cpp
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  Framework/Nexus/src/NexusFileIO.cpp
  Framework/Parallel/CMakeLists.txt
  Framework/TestHelpers/src/FileComparisonHelper.cpp
  MantidPlot/src/ApplicationWindow.cpp
Labels: Quality: Cppcheck

#21790 Add plotting for sample logs
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctions3DTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/api/python/mantid/plots/index.rst
  docs/source/images/mantid_plots_1Dlogs.png
Labels: Component: Python, Component: Workbench

#21789 Output option for Lauescale
  Framework/Crystal/inc/MantidCrystal/SaveLauenorm.h
  Framework/Crystal/src/SaveLauenorm.cpp
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#21774 MPI support for more algorithms.
  Framework/API/src/MatrixWorkspace.cpp
  Framework/Algorithms/inc/MantidAlgorithms/AlignDetectors.h
  Framework/Algorithms/inc/MantidAlgorithms/ConvertDiffCal.h
  Framework/Algorithms/inc/MantidAlgorithms/DiffractionFocussing2.h
  Framework/Algorithms/inc/MantidAlgorithms/FFTSmooth2.h
  Framework/Algorithms/inc/MantidAlgorithms/FindPeakBackground.h
  Framework/Algorithms/inc/MantidAlgorithms/FindPeaks.h
  Framework/Algorithms/inc/MantidAlgorithms/GeneratePythonScript.h
  Framework/Algorithms/inc/MantidAlgorithms/MultipleScatteringCylinderAbsorption.h
  Framework/Algorithms/inc/MantidAlgorithms/NormaliseByCurrent.h
  Framework/Algorithms/inc/MantidAlgorithms/PDDetermineCharacterizations.h
  Framework/Algorithms/inc/MantidAlgorithms/RealFFT.h
  Framework/Algorithms/inc/MantidAlgorithms/RemoveLowResTOF.h
  Framework/Algorithms/inc/MantidAlgorithms/RenameWorkspace.h
  Framework/Algorithms/inc/MantidAlgorithms/SetUncertainties.h
  Framework/Algorithms/inc/MantidAlgorithms/StripPeaks.h
  Framework/Algorithms/inc/MantidAlgorithms/StripVanadiumPeaks2.h
  Framework/Algorithms/src/AlignDetectors.cpp
  Framework/Algorithms/src/DiffractionFocussing2.cpp
  Framework/Algorithms/src/FFTSmooth2.cpp
  Framework/Algorithms/src/FindPeaks.cpp
  Framework/Algorithms/src/RealFFT.cpp
  Framework/Algorithms/src/RemoveLowResTOF.cpp
  Framework/Algorithms/src/StripPeaks.cpp
  Framework/Algorithms/test/RebinTest.h
  Framework/DataHandling/inc/MantidDataHandling/DetermineChunking.h
  Framework/DataHandling/inc/MantidDataHandling/LoadCalFile.h
  Framework/DataHandling/inc/MantidDataHandling/LoadDiffCal.h
  Framework/DataHandling/inc/MantidDataHandling/PDLoadCharacterizations.h
  Framework/DataHandling/inc/MantidDataHandling/SaveFocusedXYE.h
  Framework/DataHandling/inc/MantidDataHandling/SaveGSS.h
  Framework/DataHandling/inc/MantidDataHandling/SetSampleMaterial.h
  Framework/DataHandling/inc/MantidDataHandling/SortTableWorkspace.h
  Framework/DataHandling/src/LoadCalFile.cpp
  Framework/DataHandling/src/LoadDiffCal.cpp
  Framework/DataHandling/src/SaveFocusedXYE.cpp
  Framework/DataHandling/src/SaveGSS.cpp
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/AlignAndFocusPowder.h
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/LoadEventAndCompress.h
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  Framework/WorkflowAlgorithms/src/LoadEventAndCompress.cpp
  dev-docs/source/AlgorithmMPISupport.rst
Labels: Component: Framework

#21715 ISIS Powder PEARL add option to disable empty instrument subtraction
  docs/source/release/v3.12.0/diffraction.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Component: Diffraction, Component: Python

#21782 GSASIIRefineFitPeaks enable refining sigma and gamma
  Framework/PythonInterface/plugins/algorithms/GSASIIRefineFitPeaks.py
  Testing/SystemTests/tests/analysis/GSASIIRefineFitPeaksTest.py
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksPawleyFitParams.nxs.md5
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksRietveldFitParams.nxs.md5
Labels: Component: Diffraction, Component: Fitting, Component: Python

#21604 Crystalfield bugfixes
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldControl.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldFunction.h
  Framework/CurveFitting/src/Functions/CrystalFieldControl.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldFunction.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldMultiSpectrum.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldSusceptibility.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  Testing/Data/SystemTest/Sm2O3.cif.md5
  Testing/SystemTests/tests/analysis/CrystalFieldPythonInterface.py
  docs/source/fitfunctions/CrystalFieldSusceptibility.rst
  docs/source/interfaces/Crystal Field Python Interface.rst
  docs/source/release/v3.12.0/direct_inelastic.rst
  docs/source/release/v3.12.0/spectroscopy.rst
  scripts/Inelastic/CrystalField/CrystalFieldMultiSite.py
  scripts/Inelastic/CrystalField/__init__.py
  scripts/Inelastic/CrystalField/fitting.py
  scripts/Inelastic/CrystalField/function.py
  scripts/Inelastic/CrystalField/normalisation.py
  scripts/test/CrystalFieldMultiSiteTest.py
  scripts/test/CrystalFieldTest.py
Labels: Component: Direct Inelastic

#21834 Update mapping for WAND²
  instrument/WAND_Definition_2018_02_20.xml
Labels: Priority: High

#21830 Use sphinx linking mechanism
  docs/source/algorithms/DNSComputeDetEffCorrCoefs-v1.rst
  docs/source/fitfunctions/index.rst
  docs/source/index.rst
  docs/source/interfaces/DataProcessorWidget.rst
  docs/source/release/index.rst
  docs/source/release/v3.8.0/index.rst
Labels: Component: Documentation

#21802 Re #21801 Added ZOOM to list of allowed instruments + fixed logging
  scripts/SANS/SANSadd2.py
Labels: Misc: Bug

#21788 Tiled plot does not update if multi fit re-run
  docs/source/release/v3.12.0/ui.rst
  qt/scientific_interfaces/MultiDatasetFit/MultiDatasetFit.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisFitDataPresenter.cpp
  qt/widgets/common/src/FunctionBrowser.cpp
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: GUI

#21764 ILL powder calibration, fix missing scaling
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  Testing/SystemTests/tests/analysis/ILLPowderDiffDetEffCorrClosureTest.py
  Testing/SystemTests/tests/analysis/ILLPowderDiffDetEffCorrTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_D20_calib_def.nxs.md5
Labels: Component: Diffraction, Misc: Bug, Priority: High

#21756 MR filtering for cross-section extraction
  Framework/PythonInterface/plugins/algorithms/MRFilterCrossSections.py
  Framework/PythonInterface/plugins/algorithms/MRInspectData.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
  docs/source/algorithms/MRFilterCrossSections-v1.rst
  docs/source/release/v3.12.0/reflectometry.rst
Labels: Component: Reflectometry

#21823 Fix ITableWorkspace Python API docs
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
Labels: Component: Documentation

#21695 Engineering Diffraction GUI integrate multi-run widget into GSAS tab
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetAdder.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetAdder.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionQtTabGSAS.ui
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingView.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetAdder.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetOwner.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetView.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelMock.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingViewMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetAdderFake.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetModelMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetModelTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetViewMock.h
Labels: Component: Diffraction, Component: GUI

#21792 Replacing MaxEnt with MuonMaxent in the frequency domain analysis GUI
  docs/source/images/FDAG_MaxEnt.png
  docs/source/interfaces/Frequency Domain Analysis.rst
  docs/source/release/v3.12.0/muon.rst
  scripts/Muon/load_utils.py
  scripts/Muon/maxent_model.py
  scripts/Muon/maxent_presenter.py
  scripts/Muon/maxent_view.py
  scripts/test/Muon/MaxEntPresenter_test.py
Labels: Component: GUI, Component: Muon

#21816 ISIS Powder change output workspace names to support nice renaming of GroupWorkspaces
  docs/source/release/v3.12.0/diffraction.rst
  scripts/Diffraction/isis_powder/routines/common_output.py
Labels: Component: Diffraction, Component: Python

#21820 Add SpectrumInfo and twoTheta python exports
  Framework/PythonInterface/mantid/api/src/Exports/ExperimentInfo.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/SpectrumInfo.cpp
Labels: Component: Framework

#21804 Engineering GUI hook up GSAS tab to GSASIIRefineFitPeaks
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidget.ui
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionQtTabGSAS.ui
  qt/scientific_interfaces/EnggDiffraction/GSASIIRefineFitPeaksOutputProperties.cpp
  qt/scientific_interfaces/EnggDiffraction/GSASIIRefineFitPeaksOutputProperties.h
  qt/scientific_interfaces/EnggDiffraction/GSASIIRefineFitPeaksParameters.cpp
  qt/scientific_interfaces/EnggDiffraction/GSASIIRefineFitPeaksParameters.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingView.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffMultiRunFittingWidgetView.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelMock.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingViewMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterMock.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetViewMock.h
Labels: Component: Diffraction, Component: Fitting, Component: GUI

#21696 Generate pycharm.bat script on windows
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/windows/pycharm.bat
Labels: Component: Workbench

#21832 Fix bad background colour in Matrix View.
  MantidPlot/src/Mantid/MantidMatrixModel.cpp
Labels: Component: GUI, Misc: Bug

#21768 Fix LoadMcStas crash with single event dataset
  Framework/DataHandling/inc/MantidDataHandling/LoadMcStas.h
  Framework/DataHandling/src/LoadMcStas.cpp
  Framework/DataHandling/test/LoadMcStasTest.h
  Testing/Data/DocTest/mccode_multiple_scattering.h5.md5
  Testing/Data/UnitTest/mccode_contains_one_bank.h5.md5
  docs/source/algorithms/LoadMcStas-v1.rst
Labels: Component: Framework

#21799 Re #21798 Added preservation of reduction mode
  docs/source/release/v3.12.0/lowq.rst
  scripts/SANS/SANSBatchMode.py
  scripts/test/SANSBatchModeTest.py
Labels: Component: GUI, Component: Python, Component: SANS, Misc: Bug

#21824 Resolution function rst file
  docs/source/fitfunctions/Resolution.rst
Labels: Component: Documentation

#21537 Fix DirectILLApplySelfShielding when running in no-op mode
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLApplySelfShielding.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLApplySelfShieldingTest.py
  docs/source/release/v3.12.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Misc: Bug

#21825 Minor fix to default in calibration script
  scripts/Calibration/tube.py
Labels: Group: Calibration

#21815 ISIS Powder disable normalisation and empty corrections when current is 0
  docs/source/release/v3.12.0/diffraction.rst
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/test/ISISPowderCommonTest.py
Labels: Component: Diffraction, Component: Python

#21810 Add mslice to mantid as an external project
  Framework/Kernel/CMakeLists.txt
  Framework/MDAlgorithms/src/ConvertToMD.cpp
  Framework/Properties/Mantid.properties.template
  MantidPlot/src/PythonScripting.cpp
  docs/source/release/v3.12.0/direct_inelastic.rst
  scripts/CMakeLists.txt
  scripts/ExternalInterfaces/CMakeLists.txt
  scripts/MSlice.py
Labels: Component: Direct Inelastic

#21844 SaveGSS shouldn't segfault with unwrittable path
  Framework/DataHandling/src/SaveGSS.cpp
  Framework/DataHandling/test/SaveGSSTest.h
Labels: Component: Diffraction, Group: Powder, Misc: Bug, Misc: Easy

#21607 Indirect - Fit Analysis Interfaces - The IndirectFitPropertyBrowser for Indirect Fit Analysis Tabs
  docs/source/release/v3.12.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFit.ui
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/IndirectFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#21846 Plot gallery
  docs/source/api/python/mantid/plots/index.rst
  docs/source/conf-html.py
  docs/source/conf-qthelp.py
  docs/source/conf.py
  docs/source/index.rst
  docs/source/plotting/index.rst
  docs/source/release/v3.12.0/ui.rst
Labels: Component: Documentation, Component: Python

#21845 MR reduction: allow passing a direct beam workspace
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
Labels: Component: Reflectometry

#21871 Make sphinx optional again
  CMakeLists.txt
  buildconfig/CMake/FindSphinx.cmake
Labels: Misc: Bug

#21872 Add WAND² to MaskBTP
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
Labels: Component: Tools

#21760 ILL sans IDFs: update D33, add D11 and D22
  docs/source/release/v3.12.0/index.rst
  docs/source/release/v3.12.0/sans.rst
  instrument/D11_Definition.xml
  instrument/D11lr_Definition.xml
  instrument/D22_Definition.xml
  instrument/D33_Definition.xml
  instrument/Facilities.xml
Labels: Component: SANS

#21874 Convert from byte array in py3
  docs/sphinxext/mantiddoc/directives/sourcelink.py
Labels: Component: Documentation, Misc: Bug

#21778 Crash reporting service
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/ErrorReporter.h
  Framework/Kernel/inc/MantidKernel/UsageService.h
  Framework/Kernel/src/ErrorReporter.cpp
  Framework/Kernel/src/UsageService.cpp
  Framework/Kernel/test/ErrorReporterTest.h
  Framework/Properties/Mantid.properties.template
  MantidPlot/src/Mantid/MantidApplication.cpp
  MantidPlot/src/Mantid/MantidApplication.h
  MantidPlot/src/main.cpp
  docs/source/images/errorReporter.png
  docs/source/release/v3.12.0/error_reporter.rst
  docs/source/release/v3.12.0/index.rst
  images/crying_mantid.png
  images/images.qrc
  scripts/CMakeLists.txt
  scripts/ErrorReporter/CMakeLists.txt
  scripts/ErrorReporter/__init__.py
  scripts/ErrorReporter/errorreport.py
  scripts/ErrorReporter/errorreport.ui
Labels: Component: Framework, Component: GUI

#21873 Add test for LRReflectivityOutput
  Testing/SystemTests/tests/analysis/LiquidsReflectometryReductionTest.py
Labels: Misc: Maintenance, Quality: System Tests

#21838 SNSPowderReduction sum and filter a single file
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#21877 New LoadWAND algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/LoadWANDTest.py
  Testing/Data/UnitTest/HB2C_7000.nxs.h5.md5
  docs/source/algorithms/LoadWAND-v1.rst
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder, Group: Single Crystal

#21806 Indirect - Vesuvio - Add option to calculate Cumulative Angle-Averaged Data within driver script
  Framework/PythonInterface/plugins/algorithms/VesuvioCorrections.py
  Testing/SystemTests/tests/analysis/VesuvioCommandsTest.py
  Testing/SystemTests/tests/analysis/VesuvioLoadingTest.py
  docs/source/release/v3.12.0/indirect_inelastic.rst
  scripts/Inelastic/vesuvio/commands.py
  scripts/Inelastic/vesuvio/loading.py
Labels: Component: Indirect Inelastic, Component: Python

#21460 LoadMD needs dimension size for converting
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/TransformMD.h
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/MDAlgorithms/src/TransformMD.cpp
  qt/widgets/common/src/NonOrthogonal.cpp
Labels: Component: Diffraction, Group: Single Crystal, Misc: Bug

#21878 Spell Orthorhombic correctly; short names for point groups & reflection conditions
  Framework/Crystal/src/SortHKL.cpp
  Framework/Crystal/src/StatisticsOfPeaksWorkspace.cpp
  Framework/Geometry/src/Crystal/PointGroupFactory.cpp
  docs/source/release/v3.12.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal, Misc: Bug

#21842 Live Spectrum Viewer Issue
  qt/widgets/spectrumviewer/inc/MantidQtWidgets/SpectrumViewer/SpectrumView.h
  qt/widgets/spectrumviewer/src/SpectrumView.cpp
Labels: Misc: Bug

#21819 Fix LoadEventNexus and LoadNexusMonitors for OFFSPEC 44754+
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusMonitors2.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
Labels: Component: Reflectometry, Misc: Bug

#21900 Indirect - Abins - Add reference to documentation
  docs/source/algorithms/Abins-v1.rst
  docs/source/concepts/DynamicalStructureFactorFromAbInitio.rst
Labels: Component: Documentation, Component: Indirect Inelastic
