Repository mantidproject/mantid, pull requests merged in 2018-09, with the labels that each got.

#23299 Add missing options to Calculate Monte Carlo Absorption
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorption.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SimpleShapeMonteCarloAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SimpleShapeMonteCarloAbsorptionTest.py
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23314 RROA now allows Qmin and Qmax to be specified separately
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Framework, Component: Reflectometry

#23231 Fix bad_cast in LoadLiveData
  Framework/LiveData/src/LoadLiveData.cpp
  Framework/LiveData/test/LoadLiveDataTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Live Data, Misc: Bug

#23361 Improve reflectometry Q conversion algorithms' documentation
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryMomentumTransfer.h
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvertToReflectometryQ.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  docs/source/algorithms/ConvertToReflectometryQ-v1.rst
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
Labels: Component: Documentation

#23392 IndirectILLReductionFWS doc test cleanup
  docs/source/algorithms/IndirectILLReductionFWS-v1.rst
  docs/source/algorithms/IndirectILLReductionQENS-v1.rst
Labels: Quality: Documentation

#23408 Fix typo in PolarizationCorrectionWildes docs
  docs/source/algorithms/PolarizationCorrectionWildes-v1.rst
Labels: Component: Documentation, Misc: Easy, Quality: Documentation

#23421 Fix overlaying peaks on instrument view
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
Labels: Component: Diffraction

#23387 Run PyQt-based unit tests sequentially
  Framework/PythonInterface/test/python/plugins/algorithms/FractionalIndexingTest.py
  Framework/PythonInterface/test/testhelpers/testrunner.py
  buildconfig/CMake/FindPyUnitTest.cmake
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plugins/test/test_jupyterconsole.py
  qt/applications/workbench/workbench/widgets/plotselector/test/test_plotselector_view.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/dialogs/test/test_algorithm_dialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/utils/qt/test/__init__.py
  qt/python/mantidqt/utils/test/test_modal_tester.py
  qt/python/mantidqt/utils/test/test_qt_utils.py
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
  qt/python/mantidqt/widgets/codeeditor/test/test_codeeditor.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter.py
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
  qt/python/mantidqt/widgets/test/test_messagedisplay.py
  qt/python/mantidqt/widgets/workspacewidget/test/test_workspacetreewidget.py
  scripts/CMakeLists.txt
Labels: Component: Workbench

#23397 Get selected spectrum number not combobox index
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
Labels: Component: Indirect Inelastic, Priority: High

#23432 Fix Plot All in workbench with python 3
  qt/applications/workbench/workbench/plotting/functions.py
Labels: Component: Workbench

#23303 Project Recovery: Remove saving of groups
  Framework/API/inc/MantidAPI/HistoryView.h
  Framework/API/inc/MantidAPI/ScriptBuilder.h
  Framework/API/src/ScriptBuilder.cpp
  Framework/Algorithms/src/GeneratePythonScript.cpp
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  MantidPlot/src/ProjectRecovery.cpp
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery

#23337 Fix CompareWorkspaces for weighted events.
  Framework/Algorithms/inc/MantidAlgorithms/CompareWorkspaces.h
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Algorithms/test/CompareWorkspacesTest.h
Labels: Component: Framework, Misc: Bug

#23302 Allow the option for Python interfaces to save the MantidPlot project
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ProjectSave.ui
  MantidPlot/src/ProjectSaveView.cpp
  MantidPlot/src/ProjectSaveView.h
  MantidPlot/src/ProjectSerialiser.cpp
  MantidPlot/src/ProjectSerialiser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IProjectSaveView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ProjectSaveModel.h
  qt/widgets/common/src/ProjectSaveModel.cpp
  qt/widgets/common/src/ProjectSavePresenter.cpp
  qt/widgets/common/test/ProjectSaveMockObjects.h
  qt/widgets/common/test/ProjectSaveModelTest.h
  qt/widgets/common/test/ProjectSavePresenterTest.h
Labels: Component: GUI

#23366 Q1DWeighted to support asymmetric wedges
  Framework/Algorithms/src/Q1DWeighted.cpp
  Framework/Algorithms/test/Q1DWeightedTest.h
  docs/source/algorithms/Q1DWeighted-v1.rst
  docs/source/images/wedge_asymm.png
  docs/source/images/wedge_symm.png
  docs/source/release/v3.14.0/sans.rst
Labels: Component: SANS

#23424 Make background fit optional in CreateFloodWorkspace
  Framework/Algorithms/inc/MantidAlgorithms/CreateFloodWorkspace.h
  Framework/Algorithms/src/CreateFloodWorkspace.cpp
  Testing/SystemTests/tests/analysis/ReflectometryFloodCorrection.py
  Testing/SystemTests/tests/analysis/reference/ReflectometryCreateFloodWorkspaceExclude.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ReflectometryCreateFloodWorkspaceQuadratic.nxs.md5
  docs/source/algorithms/CreateFloodWorkspace-v1.rst
Labels: Component: Reflectometry

#23396 Muon - Unit Test the Thread Model
  scripts/Muon/GUI/Common/load_widget/load_presenter.py
  scripts/Muon/GUI/Common/thread_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/thread_model_test.py
Labels: Component: Muon, Quality: Code Quality, Quality: Unit Tests

#23341 RROA Remove summing of transmission run workspaces
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Framework/TestHelpers/inc/MantidTestHelpers/ReflectometryHelper.h
  Framework/TestHelpers/src/ReflectometryHelper.cpp
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Framework, Component: Reflectometry

#22836 TOFTOF GUI added testing automation
  scripts/CMakeLists.txt
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/Interface/reduction_gui/widgets/data_table_view.py
  scripts/Interface/reduction_gui/widgets/toftof/toftof_setup.py
  scripts/test/TOFTOF/CMakeLists.txt
  scripts/test/TOFTOF/TOFTOFGUITest.py
  scripts/test/TOFTOF/TOFTOFScriptElementTest.py
Labels: Component: Direct Inelastic, Component: Python, Quality: Unit Tests

#23445 Refactor SNAPReduce
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  Testing/SystemTests/tests/analysis/SNAPRedux.py
  Testing/SystemTests/tests/analysis/SNSPowderRedux.py
  Testing/SystemTests/tests/analysis/reference/PG3_4844_reference.gsa.md5
  Testing/SystemTests/tests/analysis/reference/PG3_9829_reference.gsa.md5
  Testing/SystemTests/tests/analysis/reference/PG3_9829_sum_reference.gsa.md5
  Testing/SystemTests/tests/analysis/reference/PG3_9830_reference.gsa.md5
  Testing/SystemTests/tests/analysis/reference/SNAP_34172_2_4_Grouping_nor.nxs.md5
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23460 topaz live listener
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/TOPAZLiveEventDataListener.h
  Framework/LiveData/src/TOPAZLiveEventDataListener.cpp
  docs/source/release/v3.14.0/diffraction.rst
  instrument/Facilities.xml
Labels: Component: Diffraction, Component: Live Data, Group: Single Crystal

#23354 Allow default grouping option for TOSCA
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: GUI, Component: Indirect Inelastic

#23377 Apply flood workspace algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ApplyFloodWorkspace.h
  Framework/Algorithms/src/ApplyFloodWorkspace.cpp
  Testing/Data/SystemTest/OFFSPEC00044998.nxs.md5
  Testing/SystemTests/tests/analysis/ReflectometryFloodCorrection.py
  Testing/SystemTests/tests/analysis/reference/ReflectometryApplyFloodWorkspace.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ReflectometryApplyFloodWorkspaceRebinned.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ReflectometryApplyFloodWorkspaceUnits.nxs.md5
  docs/source/algorithms/ApplyFloodWorkspace-v1.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23398 New algorithm DirectILLTubeBackground
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/DirectILLTubeBackground.h
  Framework/Algorithms/src/DirectILLTubeBackground.cpp
  Framework/Algorithms/test/DirectILLTubeBackgroundTest.h
  Framework/DataObjects/inc/MantidDataObjects/MaskWorkspace.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  docs/source/algorithms/DirectILLTubeBackground-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
  docs/source/techniques/DirectILL.rst
  instrument/IN4_Parameters.xml
  instrument/IN5_Parameters.xml
  instrument/IN6_Parameters.xml
Labels: Component: Direct Inelastic

#23405 Isolate Qwt-related parts of instrument view
  MantidPlot/src/Plot3DDialog.cpp
  MantidPlot/src/PlotDialog.cpp
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/ColorMap.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRenderer.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetMaskTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetTreeTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/MiniPlotQwt.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/ProjectionSurface.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
  qt/widgets/instrumentview/src/MiniPlotQwt.cpp
  qt/widgets/legacyqwt/CMakeLists.txt
  qt/widgets/legacyqwt/inc/MantidQtWidgets/LegacyQwt/DraggableColorBarWidget.h
  qt/widgets/legacyqwt/inc/MantidQtWidgets/LegacyQwt/MantidColorMap.h
  qt/widgets/legacyqwt/src/DraggableColorBarWidget.cpp
  qt/widgets/legacyqwt/src/MWView.cpp
  qt/widgets/legacyqwt/src/MantidColorMap.cpp
  qt/widgets/sliceviewer/src/SliceViewer.cpp
  qt/widgets/spectrumviewer/src/SVConnections.cpp
Labels: Component: Workbench

#23462 23158 auto strong peaks library
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/functions/BivariateGaussian.py
  docs/source/algorithms/IntegratePeaksProfileFitting-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
  instrument/MANDI_Parameters.xml
  instrument/MANDI_Parameters_2016_02_01.xml
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Component: Diffraction, Group: Single Crystal

#23416 Elemental Analysis - Checkboxes
  scripts/Elemental_Analysis.py
  scripts/Muon/GUI/Common/checkbox.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_view.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
Labels: Component: GUI, Component: Muon

#23461 Expose WorkspaceGroup Constructor and addWorkspace Method
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceGroup.cpp
  Framework/PythonInterface/test/python/mantid/api/WorkspaceGroupTest.py
  docs/source/concepts/WorkspaceGroup.rst
Labels: Component: Framework, Component: Python, Misc: Core

#23443 Remove check for existence of recent files list on MantidPlot startup
  MantidPlot/CMakeLists.txt
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/MenuWithToolTips.cpp
  MantidPlot/src/MenuWithToolTips.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: GUI

#23475 MR: Minor fix to MagnetismReflectometryReduction
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
Labels: Component: Reflectometry

#23459 Fix TableWorkspace constructor in Python
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/DataServiceExporter.h
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/TableWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/api/ITableWorkspaceTest.py
Labels: Misc: Bug

#23473 Remove BASISReduction311
  Framework/PythonInterface/plugins/algorithms/BASISReduction311.py
  docs/source/algorithms/BASISReduction311-v1.rst
  docs/source/release/v3.10.0/indirect_inelastic.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  docs/source/release/v3.8.0/indirect_inelastic.rst
  instrument/BASIS_Definition_311.xml
Labels: Component: Indirect Inelastic, Misc: Maintenance, State: In Progress

#23453 Prevent Plot Guess Crash on ConvFit by Reading Q Values
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/ElasticDiffRotDiscreteCircle.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/ElasticDiffSphere.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/FunctionQDepends.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/InelasticDiffRotDiscreteCircle.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/InelasticDiffSphere.h
  Framework/CurveFitting/src/Functions/ElasticDiffRotDiscreteCircle.cpp
  Framework/CurveFitting/src/Functions/ElasticDiffSphere.cpp
  Framework/CurveFitting/src/Functions/InelasticDiffRotDiscreteCircle.cpp
  Framework/CurveFitting/src/Functions/InelasticDiffSphere.cpp
  Framework/CurveFitting/test/Functions/DiffRotDiscreteCircleTest.h
  Framework/CurveFitting/test/Functions/DiffSphereTest.h
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic

#22842 D2B feedback implementation
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetScanReduction.py
  Testing/SystemTests/tests/analysis/ILLPowderDiffDetScanReductionTest.py
  Testing/SystemTests/tests/analysis/reference/D2B_scan_test.nxs.md5
  docs/source/algorithms/PowderDiffILLDetScanReduction-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction, Priority: High

#23464 Project Recovery: Handle algorithms that require a string list of workspace names
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/inc/MantidAPI/ScriptBuilder.h
  Framework/API/src/Algorithm.cpp
  Framework/API/src/ScriptBuilder.cpp
  Framework/Algorithms/src/GeneratePythonScript.cpp
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  Framework/Algorithms/test/Stitch1DManyTest.h
  Framework/Kernel/inc/MantidKernel/CompositeValidator.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  docs/source/release/v3.14.0/framework.rst
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Framework, Component: GUI, Component: Project Recovery, Priority: High

#23469 HB2AReduce
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/HB2AReduceTest.py
  Testing/Data/UnitTest/HB2A_exp0644_scan0018.dat.md5
  Testing/Data/UnitTest/HB2A_exp0666__Ge_113_IN_vcorr.txt.md5
  Testing/Data/UnitTest/HB2A_exp0666_scan0024.dat.md5
  Testing/Data/UnitTest/HB2A_exp0666_scan0025.dat.md5
  docs/source/algorithms/HB2AReduce-v1.rst
  docs/source/images/HB2AReduce_1.png
  docs/source/images/HB2AReduce_2.png
  docs/source/images/HB2AReduce_3.png
  docs/source/images/HB2AReduce_4.png
  docs/source/images/HB2AReduce_5.png
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23444 Speeding up the system tests further
  Testing/SystemTests/lib/systemtests/stresstesting.py
  Testing/SystemTests/lib/systemtests/xmlreporter.py
  Testing/SystemTests/scripts/runSystemTests.py
Labels: Quality: System Tests

#23283 ISIS Powder GEM added save all flag
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/gem_routines/gem_advanced_config.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
Labels: Component: Diffraction, Component: Python

#23478 General code cleanup
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryMomentumTransfer.h
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
Labels: Misc: Easy, Quality: Code Quality

#23456 Polaris Focus Made multiple scattering an optional flag
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23495 Fix incident energy output workspace in DirectILLCollectData
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Component: Python, Misc: Bug

#23484 Indirect - Iqt Monte Carlo Progress bar and option to skip error calculation
  Framework/Algorithms/inc/MantidAlgorithms/CalculateIqt.h
  Framework/Algorithms/src/CalculateIqt.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23508 Fix instrument default view
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/RotationSurface.cpp
Labels: Component: GUI, Misc: Bug, Priority: High

#23492 Elemental Analysis - Linking
  scripts/Elemental_Analysis.py
  scripts/Muon/GUI/Common/load_widget/load_presenter.py
  scripts/Muon/GUI/Common/load_widget/load_view.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_model.py
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/AxisChanger/axis_changer_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_view.py
  scripts/Muon/GUI/ElementalAnalysis/peak_data.json
  scripts/test/Muon/AxisChangerView_test.py
Labels: Component: GUI, Component: Muon

#23404 Fix reflectivity calculation and error propagation in Q grouping in ILL reflectometry reduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCor.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCorTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/diagrams/ReflectometryILLConvertToQ-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLPreprocess-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLSumForeground-v1_wkflw.dot
  docs/source/release/v3.14.0/reflectometry.rst
  instrument/D17_Parameters.xml
  instrument/FIGARO_Parameters.xml
Labels: Component: Reflectometry

#23512 Fix validation bug in DGSPlanner
  scripts/DGSPlanner/DimensionSelectorWidget.py
Labels: Component: Direct Inelastic, Component: GUI

#23501 HB2AReduce anode vs temperature
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB2AReduceTest.py
  Testing/Data/UnitTest/HB2A_exp0660_scan0146.dat.md5
  docs/source/algorithms/HB2AReduce-v1.rst
  docs/source/images/HB2AReduce_6.png
Labels: Component: Diffraction, Group: Powder

#23502 HB2AReduce allow exp to be omitted
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  docs/source/algorithms/HB2AReduce-v1.rst
Labels: Component: Diffraction, Group: Powder

#23505 Add globing to GroupWorkspaces algorithm.
  Framework/API/inc/MantidAPI/WorkspaceGroup.h
  Framework/API/src/WorkspaceGroup.cpp
  Framework/Algorithms/inc/MantidAlgorithms/GroupWorkspaces.h
  Framework/Algorithms/src/GroupWorkspaces.cpp
  Framework/Algorithms/test/GroupWorkspacesTest.h
  docs/source/algorithms/GroupWorkspaces-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Component: Indirect Inelastic

#23526 Add s1 offset option to ConvertWANDSCDtoQ
  Framework/PythonInterface/plugins/algorithms/ConvertWANDSCDtoQ.py
Labels: Component: Diffraction, Group: Single Crystal

#23466 Fixing unscripted tests for project recovery
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ProjectRecoveryTesting.rst
Labels: Component: Project Recovery

#23239 ISIS Powder Prevent division by zero in Vanadium
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/test/isis_powder/CMakeLists.txt
  scripts/test/isis_powder/ISISPowderFocusCropTest.py
Labels: Component: Diffraction, Component: Python

#23500 Elemental Analysis - Plotting Documentation
  dev-docs/source/Widgets/Plotting.rst
  dev-docs/source/images/plot_errors.png
  dev-docs/source/images/plot_no_errors.png
Labels: Component: Documentation, Component: GUI, Component: Muon

#22539 Make OSX mantidpython more consistent
  CMakeLists.txt
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/Packaging/osx/mantidpython.in
Labels: Component: Python, Priority: Low

#23481 Project Recovery: Add a call to project recovery from python to call a save
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  MantidPlot/src/qti.sip
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery

#23537 Fix some HB2AReduce bugs
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB2AReduceTest.py
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#22692 Live data monitoring on reflectometry GUI
  Framework/PythonInterface/plugins/algorithms/GetLiveInstrumentValue.py
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/algorithms/GetLiveInstrumentValue-v1.rst
  docs/source/algorithms/ReflectometryReductionOneLiveData-v1.rst
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v3.13.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/IReflRunsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/IReflRunsTabView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflRunsTabView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflRunsTabView.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabWidget.ui
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/scientific_interfaces/test/ReflRunsTabPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ParseKeyValueString.h
  qt/widgets/common/src/ParseKeyValueString.cpp
Labels: Component: GUI, Component: Live Data, Component: Reflectometry

#23533 Fix segfault in MantidPlot
  docs/source/release/v3.14.0/ui.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidget.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: Component: GUI, Misc: Bug

#23427 Acceptance tests for indirect inelastic interface
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ErrorReporterTesting.rst
  dev-docs/source/Testing/IndirectInelastic/IndirectInelasticAcceptanceTests.rst
  dev-docs/source/Testing/index.rst
Labels: Component: Documentation, Component: Indirect Inelastic

#23542 Added PyCharm on Windows section to Workbench dev docs
  dev-docs/source/Workbench.rst
Labels: Component: Documentation

#23541 Changes the behaviour of QCompleter to MatchContains on Qt5
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: Component: Workbench

#23539 Add first round of command line arguments
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/editor.py
Labels: Component: GUI, Component: Workbench

#23556 Avoid documentation warnings
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  docs/source/algorithms/SaveReflectometryAscii-v1.rst
Labels: Misc: Easy, Quality: Documentation

#23379 D33 add a wrapper component for all banks
  instrument/D33_Definition.xml
Labels: Component: SANS, Misc: Easy

#23553 Indirect - Display error message to catch Plot Current Preview exception
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
Labels: Component: Indirect Inelastic, Misc: Bug

#23551 Indirect - Read Monte Carlo defaults from IPF's in Corrections
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
Labels: Component: Indirect Inelastic

#23465 Move Run button to allow disabling
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/Elwin.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFit.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23325 Elemental Analysis - Plotting Interface Tests
  scripts/test/Muon/PlottingPresenter_test.py
  scripts/test/Muon/PlottingUtils_test.py
  scripts/test/Muon/PlottingView_test.py
Labels: Component: GUI, Component: Muon, State: In Progress

#23467 Fix local links in dev-docs
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/GettingStartedWithPyCharm.rst
  dev-docs/source/MVPTutorial/AddButton.rst
  dev-docs/source/MVPTutorial/AddComboBox.rst
  dev-docs/source/MVPTutorial/AddLineEdit.rst
  dev-docs/source/MVPTutorial/AddSpinBox.rst
  dev-docs/source/MVPTutorial/CompleteGUI.rst
  dev-docs/source/MVPTutorial/ExtractInfoFromView.rst
  dev-docs/source/MVPTutorial/Layouts.rst
  dev-docs/source/MVPTutorial/Matplotlib.rst
  dev-docs/source/MVPTutorial/Mocking.rst
  dev-docs/source/MVPTutorial/MockingExercise.rst
  dev-docs/source/MVPTutorial/MockingExerciseSolution.rst
  dev-docs/source/MVPTutorial/Model.rst
  dev-docs/source/MVPTutorial/ModelExercise.rst
  dev-docs/source/MVPTutorial/ModelExerciseSolution.rst
  dev-docs/source/MVPTutorial/MultipleViews.rst
  dev-docs/source/MVPTutorial/PresenterExercise.rst
  dev-docs/source/MVPTutorial/PresenterExerciseSolution.rst
  dev-docs/source/MVPTutorial/ReceivingSignalFromView.rst
  dev-docs/source/MVPTutorial/ViewExercise1.rst
  dev-docs/source/MVPTutorial/ViewExercise1Solution.rst
  dev-docs/source/Standards/AlgorithmDocumentation.rst
  dev-docs/source/Standards/AlgorithmUsageExamples.rst
  dev-docs/source/Standards/DocumentationGuideForDevs.rst
  dev-docs/source/Standards/InterfaceDocumentation.rst
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ProjectRecoveryTesting.rst
Labels: Quality: Documentation

#23497 Add support for masking workspaces to MaskDetectorsIf
  Framework/Algorithms/inc/MantidAlgorithms/MaskDetectorsIf.h
  Framework/Algorithms/src/MaskDetectorsIf.cpp
  Framework/Algorithms/test/MaskDetectorsIfTest.h
  Framework/DataHandling/src/MaskDetectors.cpp
  docs/source/algorithms/MaskDetectorsIf-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23573 Move back to correct algorithm
  Testing/SystemTests/lib/systemtests/stresstesting.py
Labels: Priority: High

#23577 MR: add option to overwrite DANGLE0 and DIRPIX
  Framework/PythonInterface/plugins/algorithms/MRGetTheta.py
  Framework/PythonInterface/plugins/algorithms/MRInspectData.py
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23566 Sans table change feature branch
  docs/source/release/v3.14.0/sans.rst
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/Cell.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/IJobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/JobTreeView.h
  qt/widgets/common/src/Batch/Cell.cpp
  qt/widgets/common/src/Batch/CellStandardItem.cpp
  qt/widgets/common/src/Batch/JobTreeView.cpp
  scripts/ISIS_SANS_v2_experimental.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/gui_logic/models/basic_hint_strategy.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/main_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/test_helper/user_file_test_helper.py
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/batch_process_runner_test.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/main_presenter_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: Python, Component: SANS

#23589 Fix for ISISPowder_Gem_Focus_Test
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM83605_FocusSempty.nxs.md5
Labels: Priority: High

#23571 InstrumentMaskTab Exception Fix
  qt/widgets/instrumentview/src/InstrumentActor.cpp
Labels: Component: GUI

#23605 output intensities should not change in StatisticsOfPeaksWorkspaces
  Framework/Crystal/src/PeakStatisticsTools.cpp
  Framework/DataObjects/src/Peak.cpp
  Testing/SystemTests/tests/analysis/SortHKLTest.py
Labels: Component: Diffraction, Group: Single Crystal

#23610 Fix sip generation rules for MantidPlot
  MantidPlot/CMakeLists.txt
  MantidPlot/src/qti.sip
  MantidPlot/src/sipqti.cpp
Labels: Priority: High

#22558 Add adjustments to reconstructed data in Maxent
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentCalculator.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentEntropy.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentSpace.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentSpaceComplex.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentSpaceReal.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentTransform.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentTransformFourier.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt/MaxentTransformMultiFourier.h
  Framework/Algorithms/src/MaxEnt.cpp
  Framework/Algorithms/src/MaxEnt/MaxentCalculator.cpp
  Framework/Algorithms/src/MaxEnt/MaxentTransformFourier.cpp
  Framework/Algorithms/src/MaxEnt/MaxentTransformMultiFourier.cpp
  Framework/Algorithms/test/MaxEnt/MaxentCalculatorTest.h
  Framework/Algorithms/test/MaxEnt/MaxentTransformFourierTest.h
  Framework/Algorithms/test/MaxEnt/MaxentTransformMultiFourierTest.h
  Framework/Algorithms/test/MaxEntTest.h
  docs/source/algorithms/MaxEnt-v1.rst
  docs/source/images/MaxEntAdjust.png
  docs/source/images/MaxEntAdjustTogether.png
Labels: Component: Framework

#23422 Update DirectILL documentation
  Testing/Data/DocTest/ILL/IN4/085801.nxs.md5
  Testing/Data/DocTest/ILL/IN4/085802.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087283.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087284.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087285.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087286.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087287.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087288.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087289.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087290.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087294.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087295.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087306.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087307.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087308.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087309.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087311.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087312.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087313.nxs.md5
  Testing/Data/DocTest/ILL/IN4/087314.nxs.md5
  docs/source/algorithms/DirectILLApplySelfShielding-v1.rst
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/algorithms/DirectILLDiagnostics-v1.rst
  docs/source/algorithms/DirectILLIntegrateVanadium-v1.rst
  docs/source/algorithms/DirectILLReduction-v1.rst
  docs/source/algorithms/DirectILLSelfShielding-v1.rst
  docs/source/images/DiagnosticsMaskIN5.png
  docs/source/techniques/DirectILL.rst
Labels: Component: Documentation

#23611 Fix errors and warnings from llvm 7.0
  Framework/Algorithms/src/DirectILLTubeBackground.cpp
  Framework/HistogramData/test/HistogramMathTest.h
  Framework/Kernel/inc/MantidKernel/Strings.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/PythonInterface/inc/MantidPythonInterface/api/FitFunctions/IFunctionAdapter.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/DataServiceExporter.h
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmHistory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/CatalogManager.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IAlgorithm.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MultipleFileProperty.cpp
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceHistory.cpp
  Framework/PythonInterface/mantid/api/src/FitFunctions/IFunctionAdapter.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/V3D.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/VMD.cpp
  MantidPlot/src/Graph3D.cpp
  MantidPlot/src/Table.cpp
Labels: Misc: Clang

#23530 D2B normalisation fix
  Framework/Algorithms/src/SumOverlappingTubes.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetScanReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetScanReductionTest.py
  Testing/Data/SystemTest/ILL/D2B/540162.nxs.md5
  Testing/SystemTests/tests/analysis/ILLPowderDiffDetScanReductionTest.py
  Testing/SystemTests/tests/analysis/reference/D20_Mask.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D20_NoMask.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_1D.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_2D.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_2DTubes.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_DetEffCorr_Ref.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_LowCounts.nxs.md5
  docs/source/algorithms/SumOverlappingTubes-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Misc: Bug, Priority: High, Quality: System Tests

#23626 Remove HFIR Powder Diffraction Reduction Interface
  Framework/Properties/Mantid.properties.template
  docs/source/interfaces/HFIR Powder Reduction.rst
  scripts/CMakeLists.txt
  scripts/HFIRPowderReduction/CMakeLists.txt
  scripts/HFIRPowderReduction/HfirPDReductionControl.py
  scripts/HFIRPowderReduction/HfirPDReductionGUI.py
  scripts/HFIRPowderReduction/HfirUtility.py
  scripts/HFIRPowderReduction/MainWindow.ui
  scripts/HFIRPowderReduction/MplFigureCanvas.py
  scripts/HFIRPowderReduction/README.md
  scripts/HFIRPowderReduction/__init__.py
  scripts/HFIR_Powder_Diffraction_Reduction.py
Labels: Component: Diffraction, Component: GUI, Group: Powder

#23615 Ignore syntax errors on startup
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
Labels: Component: Workbench

#23613 Add new algorithm MatchSpectra
  Framework/PythonInterface/plugins/algorithms/MatchSpectra.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/MatchSpectraTest.py
  docs/source/algorithms/MatchSpectra-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction, Group: Powder

#23641 Modified Systemtests to show more failures
  Testing/SystemTests/lib/systemtests/stresstesting.py
Labels: Quality: System Tests

#23441 Disable Plot Result for MSD and F(Q) Fit for one spectra
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
Labels: Component: Indirect Inelastic

#23568 Use local static variable for singleton instance
  Framework/Kernel/inc/MantidKernel/SingletonHolder.h
Labels: Component: Framework
