Repository mantidproject/mantid, pull requests merged in 2018-06, with the labels that each got.

#22441 WAND² SCD reduction algorithms
  Framework/Algorithms/src/CopySample.cpp
  Framework/Crystal/src/SetUB.cpp
  Framework/PythonInterface/plugins/algorithms/ConvertWANDSCDtoQ.py
  Framework/PythonInterface/plugins/algorithms/LoadWANDSCD.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ConvertWANDSCDtoQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadWANDSCDTest.py
  Testing/Data/SystemTest/HB2C_WANDSCD_data.nxs.md5
  Testing/Data/SystemTest/HB2C_WANDSCD_norm.nxs.md5
  Testing/Data/UnitTest/HB2C_7001.nxs.h5.md5
  Testing/SystemTests/tests/analysis/ConvertWANDSCDtoQTest.py
  Testing/SystemTests/tests/analysis/reference/ConvertWANDSCDtoQTest_HKL.nxs.md5
  docs/source/algorithms/ConvertWANDSCDtoQ-v1.rst
  docs/source/algorithms/LoadWANDSCD-v1.rst
  docs/source/images/ConvertWANDSCDtoQ_HKL.png
  docs/source/images/ConvertWANDSCDtoQ_Q.png
  docs/source/images/LoadWANDSCD.png
  docs/source/release/v3.13.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#22498 Workbench explicit overplot
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plotting/config.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figuretype.py
  qt/applications/workbench/workbench/plotting/functions.py
  qt/applications/workbench/workbench/plotting/globalfiguremanager.py
  qt/applications/workbench/workbench/plotting/test/__init__.py
  qt/applications/workbench/workbench/plotting/test/test_figuretype.py
  qt/applications/workbench/workbench/plotting/test/test_functions.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/py3compat/__init__.py
  qt/python/mantidqt/py3compat/enum.py
  qt/python/mantidqt/widgets/src/_widgetscore.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench

#22519 Move if/else outside of the loop
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Misc: Maintenance, Priority: Low

#22514 Fix Counts/Frequencies conversion in HistogramIterator
  Framework/HistogramData/inc/MantidHistogramData/HistogramItem.h
  Framework/HistogramData/test/HistogramIteratorTest.h
Labels: Component: Framework, Misc: Bug

#22525 Fix path finding for cxxtestgen
  buildconfig/CMake/FindCxxTest.cmake
Labels: Priority: Low

#22375 User file load from batch
  docs/source/release/v3.13.0/sans.rst
  scripts/SANS/sans/command_interface/batch_csv_file_parser.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI

#22448 Enable FitPeaks to "observe" more profiles and export effective parameters
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/test/FitPeaksTest.h
Labels: Component: Framework, Group: Powder

#22523 Run Workbench Tests with Qt5
  buildconfig/CMake/FindPyUnitTest.cmake
  buildconfig/CMake/Packaging/mantidpython.in
  qt/applications/workbench/CMakeLists.txt
  qt/python/CMakeLists.txt
  qt/python/mantidqt/utils/qt/testing/__init__.py
  qt/python/mantidqt/utils/qt/testing/modal_tester.py
  qt/python/mantidqt/utils/test/test_modal_tester.py
  qt/python/mantidqt/utils/test/test_qt_utils.py
  qt/python/mantidqt/widgets/test/test_algorithm_dialog.py
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
  qt/python/mantidqt/widgets/test/test_messagedisplay.py
Labels: Component: Workbench

#22532 PDCalibration peak shape
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/src/PDCalibration.cpp
  docs/source/algorithms/PDCalibration-v1.rst
Labels: Component: Diffraction, Group: Calibration, Group: Powder

#22534 added a LoadNexusUB function
  docs/source/interfaces/DGS Planner.rst
  docs/source/release/v3.13.0/ui.rst
  instrument/CNCS_Definition.xml
  instrument/CNCS_Parameters.xml
  scripts/DGSPlanner/LoadNexusUB.py
  scripts/DGSPlanner/MatrixUBInputWidget.py
Labels: Component: Direct Inelastic

#22449 Error reporting: Display reporter on application segfaults
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Exports/ErrorReporter.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/UsageService.cpp
  MantidPlot/make_package.rb.in
  MantidPlot/src/Mantid/MantidApplication.cpp
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/launch_mantidplot.bat
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/osx/Mantid_osx_launcher
  buildconfig/CMake/SipQtTargetFunctions.cmake
  docs/source/release/v3.13.0/framework.rst
  images/images.qrc
  installers/MacInstaller/Info.plist.in
  qt/python/mantidqtpython/CMakeLists.txt
  scripts/CMakeLists.txt
  scripts/ErrorReporter/error_dialog_app.py
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
  scripts/ErrorReporter/errorreport.ui
  scripts/ErrorReporter/errorreporter.qrc
  scripts/ErrorReporter/resources.py
  scripts/test/ErrorReporterPresenterTest.py
Labels: Component: Python

#22545 Update LR instrument definition
  docs/source/release/v3.13.0/reflectometry.rst
  instrument/REF_L_Definition.xml
  instrument/REF_L_Definition_after_10102014.xml
Labels: Component: Reflectometry

#22549 Update MatrixUBInputWidget import
  scripts/DGSPlanner/MatrixUBInputWidget.py
Labels: Component: Direct Inelastic

#22547 Improve user error message when GSAS-II installation scripts crash because SSL is out of date
  scripts/GSAS-II/install_gsas_proxy.py
  scripts/GSAS-II/install_gsas_vetted.bat
Labels: Component: Diffraction, Component: Python, Misc: Bug

#22469 Update to EstimateMuonAsymmetryFromCounts
  Framework/Algorithms/inc/MantidAlgorithms/MuonAsymmetryHelper.h
  Framework/Algorithms/src/EstimateMuonAsymmetryFromCounts.cpp
  Framework/Algorithms/src/MuonAsymmetryHelper.cpp
  Framework/Algorithms/test/CalculateMuonAsymmetryTest.h
  Framework/Algorithms/test/EstimateMuonAsymmetryFromCountsTest.h
  Framework/Muon/test/ApplyMuonDetectorGroupingTest.h
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/MuonGroupAsymmetryCalculator.h
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/MuonGroupCalculator.h
  Framework/WorkflowAlgorithms/src/MuonGroupAsymmetryCalculator.cpp
  Framework/WorkflowAlgorithms/src/MuonGroupCalculator.cpp
  Framework/WorkflowAlgorithms/src/MuonProcess.cpp
  Framework/WorkflowAlgorithms/test/IMuonAsymmetryCalculatorTest.h
  docs/source/algorithms/CalculateMuonAsymmetry-v1.rst
  docs/source/algorithms/ConvertFitFunctionForMuonTFAsymmetry-v1.rst
  docs/source/algorithms/EstimateMuonAsymmetryFromCounts-v1.rst
  docs/source/algorithms/MuonProcess-v1.rst
  docs/source/release/v3.13.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/scientific_interfaces/Muon/MuonAnalysis.h
  qt/scientific_interfaces/Muon/MuonAnalysisDataLoader.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisDataLoader.h
  qt/scientific_interfaces/Muon/MuonAnalysisFitDataPresenter.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisFitDataPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MuonFitPropertyBrowser.h
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: Muon, Misc: Bug

#22407 Propagate input workspace properties properly in LineProfile
  Framework/Algorithms/src/LineProfile.cpp
  Framework/Algorithms/test/LineProfileTest.h
  Framework/HistogramData/inc/MantidHistogramData/HistogramIterator.h
  docs/source/algorithms/LineProfile-v1.rst
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework

#22557 Fix value of PV_PLUGINS_DIR in app bundle.
  Framework/Kernel/CMakeLists.txt
  docs/source/release/v3.13.0/ui.rst
Labels: Group: Vates, Patch Candidate

#22544 POWGEN and SNAP geometry bugfix
  Framework/Algorithms/inc/MantidAlgorithms/CreateGroupingWorkspace.h
  Framework/Algorithms/src/CreateGroupingWorkspace.cpp
  docs/source/algorithms/CreateGroupingWorkspace-v1.rst
  instrument/POWGEN_Definition_2018-05-05.xml
  instrument/SNAP_Definition.xml
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#22559 Add live data connection to REF_M
  docs/source/release/v3.13.0/reflectometry.rst
  instrument/Facilities.xml
Labels: Component: Reflectometry

#22357 Engineering Diffraction GUI save sample logs to HDF5 after focusing
  Framework/PythonInterface/plugins/algorithms/ExportSampleLogsToHDF5.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ExportSampleLogsToHDF5Test.py
  docs/source/algorithms/ExportSampleLogsToHDF5-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/framework.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingWorker.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingObserver.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffGSASFittingPresenter.h
Labels: Component: Diffraction, Component: GUI

#22343 Stitch1D: input point data with optional dx values
  Framework/API/inc/MantidAPI/WorkspaceGroup.h
  Framework/Algorithms/inc/MantidAlgorithms/Stitch1D.h
  Framework/Algorithms/inc/MantidAlgorithms/Stitch1DMany.h
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/src/Divide.cpp
  Framework/Algorithms/src/Multiply.cpp
  Framework/Algorithms/src/Stitch1D.cpp
  Framework/Algorithms/src/Stitch1DMany.cpp
  Framework/Algorithms/test/Stitch1DManyTest.h
  Framework/Algorithms/test/Stitch1DTest.h
  docs/source/algorithms/Stitch1D-v3.rst
  docs/source/algorithms/Stitch1DMany-v1.rst
  docs/source/diagrams/Stitch1D-v3.dot
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework

#21766 Add INTER System Tests and improve Parameter.h String Precision
  Framework/DataHandling/test/LoadDetectorInfoTest.h
  Testing/Data/SystemTest/INTER/ISISReflectometryAutoreductionTestRuns.nxs.md5
  Testing/SystemTests/scripts/CMakeLists.txt
  Testing/SystemTests/tests/analysis/ISISReflectometryAutoreductionTest.py
  Testing/SystemTests/tests/analysis/reference/ISISReflectometryAutoreductionResult.nxs.md5
  Testing/SystemTests/tests/analysis/reference/bf2492323d0c120b7849cb37d2c2e859
Labels: Component: Framework, Component: Reflectometry

#22569 Add profile fitting tools, documentation, and algorithm
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/functions/BivariateGaussian.py
  Framework/PythonInterface/plugins/functions/ICConvoluted.py
  docs/source/algorithms/IntegratePeaksProfileFitting-v1.rst
  docs/source/fitting/fitfunctions/BivariateGaussian.rst
  docs/source/fitting/fitfunctions/IkedaCarpenterConvoluted.rst
  docs/source/release/v3.13.0/diffraction.rst
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Component: Diffraction, Group: Single Crystal

#22563 This fixes `ResampleX` for `PreserveEvents=False`
  Framework/Algorithms/src/ResampleX.cpp
  Framework/Algorithms/test/ResampleXTest.h
  Framework/Kernel/src/VectorHelper.cpp
Labels: Component: Framework

#22463 ISIS Powder GEM texture focusing - enable use of texture grouping file and save to .gem
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/SaveBankScatteringAngles.h
  Framework/DataHandling/src/SaveBankScatteringAngles.cpp
  Framework/DataHandling/test/SaveBankScatteringAnglesTest.h
  docs/source/algorithms/SaveBankScatteringAngles-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/framework.rst
  docs/source/techniques/ISISPowder-GEM-v1.rst
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/gem_routines/gem_advanced_config.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
  scripts/Diffraction/isis_powder/routines/common_output.py
Labels: Component: Diffraction, Component: Python

#22581 Fix Sphinx warning in IntegratePeaksProfileFitting
  docs/source/algorithms/IntegratePeaksProfileFitting-v1.rst
Labels: Component: Documentation, Misc: Bug

#22561 (Topic Branches) Recovery - Project Saving Support
  .gitignore
  Framework/API/src/ScriptBuilder.cpp
  Framework/PythonInterface/mantid/simpleapi.py
  MantidPlot/CMakeLists.txt
  MantidPlot/pymantidplot/__init__.py
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/ProjectRecoveryAdaptor.cpp
  MantidPlot/src/ProjectRecoveryAdaptor.h
  MantidPlot/src/ProjectSerialiser.cpp
  MantidPlot/src/ProjectSerialiser.h
  MantidPlot/src/qti.sip
  scripts/Recovery/GenerateHistory.py
  scripts/Recovery/GenerateMess.py
  scripts/Recovery/OrderWorkspaceHistory.py
  scripts/Recovery/OrderedHistory.py
  scripts/Recovery/SampleRecoverySave.py
  scripts/Recovery/SimpleGUISaveAndLoad.py
Labels: Component: Framework, Component: GUI

#22546 Fix an issue with zero entry in split TimeSeriesProperty
  Framework/Algorithms/inc/MantidAlgorithms/FilterEvents.h
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/test/FilterEventsTest.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Kernel/test/TimeSeriesPropertyTest.h
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework, Misc: Bug

#22439 Update GSASIIRefineFitPeaks system test input to file which gives a good fit
  Testing/Data/SystemTest/ENGINX_280625_focused_bank_1.nxs.md5
  Testing/Data/SystemTest/focused_bank1_ENGINX00256663.nxs.md5
  Testing/SystemTests/tests/analysis/GSASIIRefineFitPeaksTest.py
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksPawleyFitParams.nxs.md5
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksPawleyFittedPeaks.nxs.md5
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksRietveldFitParams.nxs.md5
  Testing/SystemTests/tests/analysis/reference/GSASIIRefineFitPeaksRietveldFittedPeaks.nxs.md5
  scripts/GSAS-II/install_gsas_proxy.py
Labels: Component: Diffraction, Quality: System Tests

#22535 Fix interpolation failure in MonteCarloAbsorption
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/SparseInstrument.h
  Framework/Algorithms/src/SampleCorrections/SparseInstrument.cpp
  Framework/Algorithms/test/SparseInstrumentTest.h
  docs/source/release/v3.13.0/direct_inelastic.rst
  docs/source/release/v3.13.0/indirect_inelastic.rst
Labels: Component: Direct Inelastic, Component: Indirect Inelastic, Misc: Bug

#22536 Crystal field phys. prop. bug
  Framework/CurveFitting/inc/MantidCurveFitting/GSLJacobian.h
  scripts/Inelastic/CrystalField/fitting.py
  scripts/Inelastic/CrystalField/function.py
  scripts/test/CrystalFieldTest.py
Labels: Component: Fitting, Component: Indirect Inelastic

#22572 Muon - ApplyMuonDetectorGroupPairing Algorithm
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/ApplyMuonDetectorGroupPairing.h
  Framework/Muon/inc/MantidMuon/ApplyMuonDetectorGrouping.h
  Framework/Muon/inc/MantidMuon/MuonAlgorithmHelper.h
  Framework/Muon/src/ApplyMuonDetectorGroupPairing.cpp
  Framework/Muon/src/MuonAlgorithmHelper.cpp
  Framework/Muon/test/ApplyMuonDetectorGroupPairingTest.h
  Framework/Muon/test/MuonAlgorithmHelperTest.h
  docs/source/algorithms/ApplyMuonDetectorGroupPairing-v1.rst
Labels: Component: Muon

#22593 Add missing libpoco debug packages to Mantid developer .deb
  buildconfig/dev-packages/deb/mantid-developer/ns-control
Labels: Component: Tools

#22609 Profile fitting output
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/functions/BivariateGaussian.py
  Framework/PythonInterface/plugins/functions/ICConvoluted.py
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Misc: Bug

#22361 Engineering GUI save Nexus file with all the other output after a focus
  docs/source/release/v3.13.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingViewQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingViewQtWidget.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresWorker.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionQtTabSettings.ui
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.h
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffractionSettings.h
  qt/scientific_interfaces/test/EnggDiffFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffFittingViewMock.h
  qt/scientific_interfaces/test/EnggDiffractionPresenterTest.h
Labels: Component: Diffraction, Component: GUI, Misc: Bug

#22626 Fix segfault when calibrating CORELLI with C60
  Framework/Algorithms/src/PDCalibration.cpp
Labels: Component: Diffraction, Group: Calibration, Group: Powder, Misc: Bug

#22149 Fix default Q binning in DirectILLReduction
  Framework/Kernel/src/VectorHelper.cpp
  Framework/Kernel/test/VectorHelperTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLReductionTest.py
  docs/source/algorithms/DirectILLReduction-v1.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#22377 Allow input workspaces to have bank ID 0 in fitting tabs of the Engineering GUI
  Framework/PythonInterface/plugins/algorithms/EnggFocus.py
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  qt/scientific_interfaces/EnggDiffraction/RunMap.tpp
  qt/scientific_interfaces/test/EnggDiffractionPresenterTest.h
  qt/scientific_interfaces/test/RunMapTest.h
Labels: Component: Diffraction, Component: GUI, Misc: Bug

#22511 ISIS SANS improve error messages
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/settings_diagnostic_tab.py
  scripts/Interface/ui/sans_isis/settings_diagnostic_tab.ui
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/settings_diagnostic_presenter.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/settings_diagnostic_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS

#22565 Indirect - ISISEnergyTransfer - Custom Detector Grouping Option
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v3.13.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: GUI, Component: Indirect Inelastic

#22617 (Topic Branches) Recovery background thread
  Framework/PythonInterface/mantid/simpleapi.py
  MantidPlot/CMakeLists.txt
  MantidPlot/pymantidplot/__init__.py
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/ProjectRecoveryAdaptor.cpp
  MantidPlot/src/ProjectRecoveryAdaptor.h
  MantidPlot/src/ProjectRecoveryThread.cpp
  MantidPlot/src/ProjectRecoveryThread.h
  MantidPlot/src/qti.sip
Labels: Component: GUI

#22398 Add plotting in log scale to directtools
  docs/source/release/v3.13.0/direct_inelastic.rst
  scripts/directtools/__init__.py
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Direct Inelastic, Component: Python

#22550 Add MDFrameValidator to Mantid
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/MDFrameValidator.h
  Framework/API/src/MDFrameValidator.cpp
  Framework/API/test/MDFrameValidatorTest.h
  Framework/Kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceValidators.cpp
  Framework/PythonInterface/test/python/mantid/api/WorkspaceValidatorsTest.py
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Python

#22496 New algorithm: ReflectometrySumInQ
  Framework/API/inc/MantidAPI/WorkspaceOpOverloads.h
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometrySumInQ.h
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/test/ReflectometryMomentumTransferTest.h
  Framework/Algorithms/test/ReflectometrySumInQTest.h
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/Kernel/inc/MantidKernel/Strings.h
  Framework/Kernel/test/StringsTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  docs/source/algorithms/GroupDetectors-v2.rst
  docs/source/algorithms/ReflectometrySumInQ-v1.rst
  docs/source/release/v3.13.0/reflectometry.rst
Labels: Component: Reflectometry

#22648 Fix an apparent bug in FitPeaks.
  Framework/Algorithms/src/FitPeaks.cpp
Labels: Component: Framework, Misc: Bug, Priority: High

#22655 (Topic Branches) Add Recovery to config and remove WS from ADS after
  Framework/Properties/Mantid.properties.template
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/ProjectRecoveryThread.cpp
  MantidPlot/src/ProjectRecoveryThread.h
  MantidPlot/src/ProjectSerialiser.cpp
  MantidPlot/src/ProjectSerialiser.h
  scripts/Recovery/OrderedHistory.py
Labels: Component: GUI

#22646 Make BinMD always remember value of basis vector properties
  docs/source/release/v3.13.0/framework.rst
  qt/widgets/common/src/SlicingAlgorithmDialog.cpp
Labels: Component: Framework, Misc: Bug

#22662 Fix PDCalibrationTest random segfault on RedHat 7
  Framework/Algorithms/src/PDCalibration.cpp
Labels: Component: Framework, Misc: Bug

#22663 Rectangular Detector Fix for ypixels=1
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
Labels: Component: GUI, Misc: Bug

#22396 Exclude and IgnoreInvalidData Properties for PlotPeakByLogValue and QENSFitSequential
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
Labels: Component: Fitting, Component: Indirect Inelastic

#22637 SANS GUI: Save group workspaces correctly
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
Labels: Component: Python, Component: SANS

#22670 Fix ReflectometrySumInQ for clang 6.0.0
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometrySumInQ.h
Labels: Component: Framework, Misc: Bug

#22668 MR reduction: Allow workspace groups as input
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
  docs/source/release/v3.13.0/reflectometry.rst
Labels: Component: Reflectometry

#22680 Add live data configuration for SNS instruments
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
  docs/source/release/v3.13.0/sans.rst
  instrument/Facilities.xml
Labels: Component: Diffraction

#22641 EventList: Use standard library functions and inline function comparators.
  Framework/DataObjects/inc/MantidDataObjects/EventList.h
  Framework/DataObjects/inc/MantidDataObjects/Events.h
  Framework/DataObjects/src/EventList.cpp
  Framework/DataObjects/src/Events.cpp
  Framework/Types/inc/MantidTypes/Event/TofEvent.h
  Framework/Types/src/Event/TofEvent.cpp
Labels: Component: Framework

#22656 Fix child algorithms EnableLogging setting
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/plugins/algorithms/LoadAndMerge.py
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework, Component: Python, Misc: Bug

#22676 A couple of small refactors in ISIS_Powder
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/Diffraction/isis_powder/routines/yaml_parser.py
  scripts/Diffraction/isis_powder/routines/yaml_sanity.py
  scripts/test/ISISPowderCommonTest.py
Labels: Component: Diffraction, Component: Python, Quality: Code Quality

#22683 Refs #22681 : This fixes the gcc7 compilation error
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometrySumInQ.h
Labels: Component: Framework

#22599 GEM texture mode step 3: save MAUD calibration file and reverse bank numbers
  Framework/DataHandling/src/SaveGDA.cpp
  Framework/DataHandling/test/SaveGDATest.h
  Framework/PythonInterface/plugins/algorithms/SaveGEMMAUDParamFile.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/SaveGEMMAUDParamFileTest.py
  Testing/Data/UnitTest/GEM61785_texture_banks_1_to_4.nxs.md5
  Testing/Data/UnitTest/GEM_PF1_PROFILE.IPF.md5
  docs/source/algorithms/SaveGDA-v1.rst
  docs/source/algorithms/SaveGEMMAUDParamFile-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v3.13.0/framework.rst
  docs/source/techniques/ISISPowder-GEM-v1.rst
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/gem_routines/gem_advanced_config.py
  scripts/Diffraction/isis_powder/gem_routines/gem_algs.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
  scripts/Diffraction/isis_powder/gem_routines/maud_param_template.maud
  scripts/Diffraction/isis_powder/routines/common_output.py
Labels: Component: Diffraction, Component: Framework, Component: Python

#22529 DirectILLDiagnostics: enable instrument specific diagnostics thresholds
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  docs/source/algorithms/DirectILLDiagnostics-v1.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
  instrument/IN4_Parameters.xml
  instrument/IN6_Parameters.xml
Labels: Component: Direct Inelastic

#22601 TOFTOF GUI: add temperature fields
  docs/source/release/v3.13.0/direct_inelastic.rst
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/Interface/reduction_gui/widgets/data_table_view.py
  scripts/Interface/reduction_gui/widgets/toftof/toftof_setup.py
Labels: Component: Direct Inelastic, Component: GUI, Component: Python

#22688 Make sure cache does not exist before EnggVanadiumCorrectionsModel unit test
  qt/scientific_interfaces/test/EnggVanadiumCorrectionsModelTest.h
Labels: Component: Diffraction, Misc: Bug, Quality: Unit Tests

#22686 Stop calibration from running in separate thread in EnggDiffractionPresenter unit test
  qt/scientific_interfaces/test/EnggDiffractionPresenterTest.h
Labels: Component: Diffraction, Misc: Bug, Quality: Unit Tests

#22693 Fix bug caused by default instrument
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_reduction_script.py
Labels: Component: Diffraction, Component: GUI, Group: Powder, Misc: Bug

#22678 Add missing RHEL7 build steps
  dev-docs/source/GettingStarted.rst
Labels: Misc: Easy, Quality: Documentation

#22616 Q summation cropping issue
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOne2.h
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  docs/source/algorithms/ReflectometryReductionOne-v2.rst
  docs/source/images/ReflectometryReductionOneLambdaProjection.png
  docs/source/release/v3.13.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/ExperimentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/ExperimentOptionDefaults.h
  qt/scientific_interfaces/ISISReflectometry/IReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsWidget.ui
  qt/scientific_interfaces/test/ReflMockObjects.h
Labels: Component: Framework, Component: Reflectometry

#22419 Fix signed two theta not respecting the IDF
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  docs/source/release/v3.13.0/framework.rst
Labels: Component: Framework, Misc: Bug

#22643 Move IPeaksWorkspace properties -> PeaksWorkspace properties
  Framework/Algorithms/inc/MantidAlgorithms/CompareWorkspaces.h
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Crystal/inc/MantidCrystal/CountReflections.h
  Framework/Crystal/inc/MantidCrystal/SortPeaksWorkspace.h
  Framework/Crystal/src/CountReflections.cpp
  Framework/Crystal/src/FilterPeaks.cpp
  Framework/Crystal/src/FindClusterFaces.cpp
  Framework/Crystal/src/IntegratePeaksHybrid.cpp
  Framework/Crystal/src/IntegratePeaksUsingClusters.cpp
  Framework/Crystal/src/PeaksIntersection.cpp
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/Crystal/src/SortPeaksWorkspace.cpp
  Framework/Crystal/test/ClusterIntegrationBaseTest.h
  Framework/Crystal/test/IntegratePeaksHybridTest.h
  Framework/Crystal/test/IntegratePeaksUsingClustersTest.h
  Framework/Crystal/test/PredictFractionalPeaksTest.h
  Framework/Crystal/test/SortPeaksWorkspaceTest.h
  Framework/MDAlgorithms/src/CentroidPeaksMD2.cpp
  Framework/PythonInterface/mantid/dataobjects/CMakeLists.txt
  Framework/PythonInterface/mantid/dataobjects/src/Exports/PeaksWorkspaceProperty.cpp
  Framework/PythonInterface/mantid/simpleapi.py
  qt/paraview_ext/VatesAPI/src/ConcretePeaksPresenterVsi.cpp
Labels: Component: Python

#22677 Minor change: Deprecated TOFTOFMergeRuns algorithm
  Framework/PythonInterface/plugins/algorithms/TOFTOFMergeRuns.py
  docs/source/algorithms/TOFTOFMergeRuns-v1.rst
  docs/source/release/v3.13.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#22679 Add dummy monitors to reflectometers
  instrument/REF_L_Definition.xml
  instrument/REF_M_Definition.xml
Labels: Component: Reflectometry

#22632 D2B flip even tubes
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  Testing/SystemTests/tests/analysis/reference/D2B_DetEffCorr_Ref.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D2B_scan_test.nxs.md5
  docs/source/algorithms/LoadILLDiffraction-v1.rst
  docs/source/algorithms/PowderDiffILLDetEffCorr-v1.rst
  docs/source/release/v3.13.0/diffraction.rst
Labels: Component: Diffraction, Misc: Easy

#22667 Project Recovery - Background Saving
  .gitignore
  Framework/Kernel/inc/MantidKernel/UsageService.h
  Framework/Properties/Mantid.properties.template
  MantidPlot/CMakeLists.txt
  MantidPlot/pymantidplot/__init__.py
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  MantidPlot/src/ProjectSerialiser.cpp
  MantidPlot/src/ProjectSerialiser.h
Labels: Component: Framework, Component: GUI

#22650 Add summation in Q to ILL's reflectometry reduction
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryMomentumTransfer.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometrySumInQ.h
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/test/ReflectometrySumInQTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPolarizationCor-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/algorithms/ReflectometryILLSumForeground-v1.rst
  docs/source/algorithms/ReflectometrySumInQ-v1.rst
  docs/source/diagrams/ReflectometryILLPreprocess-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLSumForeground-v1_wkflw.dot
  docs/source/release/v3.13.0/reflectometry.rst
Labels: Component: Python, Component: Reflectometry

#22414 Set theta sign axes for D17 and Figaro
  instrument/D17_Definition.xml
  instrument/Figaro_Definition.xml
Labels: Component: Reflectometry

#22271 ISIS SANS v2 Made show transmission default
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateAdjustmentWorkspaces.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCreateAdjustmentWorkspacesTest.py
  Testing/SystemTests/tests/analysis/SANSReductionCoreTest.py
  Testing/SystemTests/tests/analysis/SANSSingleReductionTest.py
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_calculated_transmission_reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB_can.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_unfitted_transmission_reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_unfitted_transmission_reference_LAB.nxs.md5
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_unfitted_transmission_reference_LAB_can.nxs.md5
  docs/source/release/v3.13.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/bundles.py
  scripts/SANS/sans/algorithm_detail/single_execution.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/user_file/state_director.py
  scripts/test/SANS/common/general_functions_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/user_file/state_director_test.py
Labels: Component: GUI, Component: SANS

#22606 LoadEventNexus duplicate code
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadEventNexus.h
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusMonitors2.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadNexusMonitors.cpp
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Framework/DataHandling/test/LoadNexusMonitorsTest.h
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/WorkflowAlgorithms/src/EQSANSLoad.cpp
  Framework/WorkflowAlgorithms/src/LoadEventAndCompress.cpp
  Framework/WorkflowAlgorithms/src/SetupEQSANSReduction.cpp
  Testing/Data/UnitTest/LET00006278.nxs.md5
  Testing/SystemTests/tests/analysis/ISIS_LETReduction.py
  Testing/SystemTests/tests/analysis/SANSDarkRunSubtractionTest.py
  docs/source/algorithms/LoadEventNexus-v1.rst
  docs/source/algorithms/LoadNexusMonitors-v1.rst
  docs/source/algorithms/LoadNexusMonitors-v2.rst
  docs/source/release/v3.13.0/framework.rst
  scripts/Inelastic/Direct/RunDescriptor.py
  scripts/SANS/isis_reduction_steps.py
Labels: Misc: Bug

#22707 add SANS-1 to MLZ facility
  instrument/Facilities.xml
Labels: Component: SANS

#22708 Update sans documentation
  docs/source/images/sans_isis_v2_q_tab_cuts.png
  docs/source/images/sans_isis_v2_q_tab_whole.png
  docs/source/images/sans_isis_v2_whole_gui.png
  docs/source/interfaces/ISIS SANS v2.rst
Labels: Quality: Documentation

#22720 Fix ReflectometryILLSumForeground unit tests
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
Labels: Component: Reflectometry, Misc: Bug
