Repository mantidproject/mantid, pull requests merged in 2018-08, with the labels that each got.

#23121 Progress indicator works correctly for errors and exec
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: Workbench, Misc: Bug, Misc: Easy

#23126 chudley-elliot fit function should contain hbar
  Framework/PythonInterface/plugins/functions/ChudleyElliot.py
  Framework/PythonInterface/test/python/plugins/functions/ChudleyElliotTest.py
  Testing/SystemTests/tests/analysis/ISISIndirectBayesTest.py
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_JumpCETest.nxs.md5
  docs/source/fitting/fitfunctions/ChudleyElliot.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Fitting, Misc: Bug

#23107 Use system eigen and xmlrunner on Windows
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/Eigen.cmake
  buildconfig/CMake/Python-xmlrunner.cmake
Labels: Misc: Maintenance

#22926 Fix making a package using homebrew LLVM
  MantidPlot/make_package.rb.in
Labels: Misc: Clang, Priority: Low

#21514 Indirect - Unit Tests - Ensure all Indirect Unit Tests run at non-ISIS facilities
  Framework/PythonInterface/plugins/algorithms/LoadVesuvio.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectDiffScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SofQWMomentsScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/VesuvioDiffractionReductionTest.py
  Testing/Data/UnitTest/VESUVIO00029244.raw.md5
Labels: Component: Indirect Inelastic, Misc: Bug, Quality: Unit Tests

#22980 22811 instrument specific profile fitting
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  docs/source/algorithms/IntegratePeaksProfileFitting-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
  instrument/CORELLI_Parameters.xml
  instrument/MANDI_Parameters.xml
  instrument/MANDI_Parameters_2015_08_01.xml
  instrument/MANDI_Parameters_2016_02_01.xml
  instrument/TOPAZ_Parameters.xml
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Component: Diffraction, Group: Single Crystal

#23136 Check existence of Poco debug libraries before using them
  buildconfig/CMake/FindPoco.cmake
Labels: Misc: Maintenance

#23161 Fix RunNumber bug in PeaksWorkspaces
  Framework/DataObjects/src/PeakColumn.cpp
Labels: Patch Candidate

#23147 ConfigService loading
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/test/ConfigServiceTest.h
  docs/source/release/v3.14.0/framework.rst
  scripts/Inelastic/Direct/ISISDirecInelasticConfig.py
  tools/DefaultConfigFiles/Mantid.user.properties
Labels: Misc: Easy

#22864 RHEL7 devtoolset-7
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/GNUSetup.cmake
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/pylint-buildscript
  qt/paraview_ext/VatesAPI/src/MDHWInMemoryLoadingPresenter.cpp
Labels: Misc: Maintenance

#23134 Move time-weighted statistics to object
  Framework/Kernel/inc/MantidKernel/ITimeSeriesProperty.h
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Kernel/test/TimeSeriesPropertyTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/TimeSeriesProperty.cpp
  Framework/PythonInterface/test/python/mantid/kernel/TimeSeriesPropertyTest.py
  MantidPlot/src/Mantid/SampleLogDialogBase.cpp
Labels: Component: Framework

#23104 Fix detector rotations in TOFTOF IDF
  instrument/TOFTOF_Definition.xml
Labels: Component: Direct Inelastic

#22882 Instrument definition file for DNS PSD detector
  instrument/DNS-PSD_Definition.xml
  instrument/Facilities.xml
Labels: Component: Diffraction, Component: Direct Inelastic

#23074 Elemental Analysis: Peak Data Loading
  Framework/Properties/Mantid.properties.template
  docs/source/release/v3.14.0/muon.rst
  scripts/CMakeLists.txt
  scripts/Elemental_Analysis.py
  scripts/Muon/CMakeLists.txt
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_model.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_view.py
  scripts/Muon/GUI/ElementalAnalysis/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/peak_data.json
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/PeriodicTableModel_test.py
  scripts/test/Muon/PeriodicTablePresenter_test.py
Labels: Component: GUI, Component: Muon

#23140 Update MSlice to fix MakeProjection bug
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Component: Direct Inelastic, Priority: High

#23132 Removed the LoadAscii Custom Dialog, it was out of date with the alg
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/LoadAsciiDialog.h
  qt/widgets/plugins/algorithm_dialogs/src/LoadAsciiDialog.cpp
Labels: Component: GUI

#23146 SNAPReduce progress bar
  Framework/DataHandling/src/LoadMask.cpp
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23167 Correct default doc string for empty property managers to dict()
  docs/sphinxext/mantiddoc/directives/properties.py
Labels: Component: Documentation

#23165 Minimal change to prevent a crash
  qt/widgets/common/src/UserFunctionDialog.cpp
Labels: Component: GUI

#23177 Update third party and Fix sip build invocation
  MantidPlot/CMakeLists.txt
  buildconfig/CMake/Bootstrap.cmake
Labels: Misc: Maintenance

#23181 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Component: Documentation

#23182 Fix missed GCC->GNU macro
  Framework/DataObjects/inc/MantidDataObjects/MDEventWorkspace.tcc
Labels: Priority: High

#23135 Fix handling of runIndex in MergeMD
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MergeMD.h
  Framework/MDAlgorithms/src/MergeMD.cpp
  Framework/MDAlgorithms/test/MergeMDTest.h
Labels: Component: Framework, Misc: Bug

#23131 Ignore whitespace when patching gtest
  buildconfig/CMake/GoogleTest.in
Labels: Misc: Bug

#23174 DPDReduction: error reading MomentumTransfer bins
  Framework/PythonInterface/plugins/algorithms/DPDFreduction.py
Labels: Misc: Bug

#23188 Fix Python extensions when compiled with clang on Linux
  Framework/PythonInterface/mantid/__init__.py
  Framework/PythonInterface/mantid/dataobjects/src/Exports/PeaksWorkspaceProperty.cpp
  buildconfig/Jenkins/buildscript
Labels: Component: Python

#23191 Make project recovery properties more findable
  docs/source/concepts/ProjectRecovery.rst
  docs/source/concepts/PropertiesFile.rst
  docs/source/tutorials/ill_training/introduction/GettingHelp.rst
Labels: Component: Documentation

#23172 Get LoadIsawUB working with MDHistoWorkspace
  Framework/Crystal/src/LoadIsawUB.cpp
  Framework/Crystal/src/SaveIsawUB.cpp
Labels: Component: Diffraction, Group: Single Crystal

#23201 Add a receive timeout to FakeISISHistoDAE socket
  Framework/LiveData/src/ISIS/FakeISISEventDAE.cpp
  Framework/LiveData/src/ISIS/FakeISISHistoDAE.cpp
Labels: Component: Documentation, Component: Live Data

#23196 Activate core dumps on Linux before running tests
  Framework/API/src/FrameworkManager.cpp
  buildconfig/Jenkins/buildscript
Labels: Misc: Maintenance

#23143 LoadDNSLegacy: add elastic channel property
  Framework/PythonInterface/plugins/algorithms/LoadDNSLegacy.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadDNSLegacyTest.py
  docs/source/algorithms/LoadDNSLegacy-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Diffraction, Component: Direct Inelastic

#23169 Add goniometer to FilterEvents
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Geometry/src/Instrument/Goniometer.cpp
  Testing/SystemTests/tests/analysis/HYSPECReductionTest.py
  docs/source/release/v3.14.0/framework.rst
Labels: Misc: Bug

#23159 Set the phi value to 0 in XYE MAUD headers
  Framework/DataHandling/src/SaveFocusedXYE.cpp
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Component: Framework, Misc: Easy

#23162 Fixing indirect interface documentation
  docs/source/interfaces/Indirect Data Analysis.rst
Labels: Component: Documentation, Quality: Documentation

#22840 FABADA: use single random number generator.
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  Framework/CurveFitting/test/FuncMinimizers/FABADAMinimizerTest.h
Labels: Component: Fitting

#23029 Extend LoadDNSSCD for TOF data
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/LoadDNSSCD.h
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/MDAlgorithms/test/LoadDNSSCDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTestReference.h
  docs/source/algorithms/LoadDNSSCD-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Diffraction, Component: Direct Inelastic

#23171 ISIS Powder - Reduce complexity of getting various run details
  scripts/Diffraction/isis_powder/gem_routines/gem_algs.py
  scripts/Diffraction/isis_powder/hrpd_routines/Examples/Calibration/16_5/hrpd_new_072_01_corr.cal
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_algs.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/routines/run_details.py
  scripts/test/ISISPowderAbstractInstrumentTest.py
  scripts/test/ISISPowderRunDetailsTest.py
Labels: Component: Diffraction, Component: Python, Misc: Maintenance

#23141 Fix pearl long mode
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/routines/instrument_settings.py
Labels: Component: Diffraction, Component: Python, Misc: Bug

#22919 Exported some methods from DetectorInfo
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/DetectorInfo.cpp
  Framework/PythonInterface/mantid/api/src/Exports/ExperimentInfo.cpp
  Framework/PythonInterface/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/mantid/geometry/src/Exports/DetectorInfo.cpp
  Framework/PythonInterface/test/python/mantid/api/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/api/DetectorInfoTest.py
  Framework/PythonInterface/test/python/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/geometry/DetectorInfoTest.py
  docs/source/api/python/mantid/api/DetectorInfo.rst
  docs/source/api/python/mantid/api/SpectrumInfo.rst
  docs/source/api/python/mantid/geometry/DetectorInfo.rst
Labels: Component: Python

#23150 Adding connection tests to muon GUI
  scripts/test/Muon/FFTPresenter_test.py
  scripts/test/Muon/MaxEntPresenter_test.py
  scripts/test/Muon/transformWidget_test.py
Labels: Component: GUI, Quality: Unit Tests

#23213 TF Asymmetry mode bug fixes
  Framework/Muon/src/CalculateMuonAsymmetry.cpp
  docs/source/release/v3.14.0/muon.rst
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Muon, Misc: Easy

#23236 Add a validator for OrientedLattice
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/OrientedLatticeValidator.h
  Framework/API/src/OrientedLatticeValidator.cpp
  Framework/API/test/OrientedLatticeValidatorTest.h
  Framework/DataObjects/test/WorkspaceValidatorsTest.h
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/OrientedLatticeValidator.cpp
  Framework/PythonInterface/test/python/mantid/api/WorkspaceValidatorsTest.py
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Python

#23235 Use stack-based object to avoid memory leak in SaveNexusProcessed
  Framework/DataHandling/src/SaveNexusProcessed.cpp
Labels: Misc: Maintenance

#23244 Fix mantid for Python 3.7
  Framework/PythonInterface/mantid/kernel/funcinspect.py
  MantidPlot/CMakeLists.txt
  MantidPlot/pymantidplot/__init__.py
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/qti.sip
Labels: Component: Framework, Component: Python

#23218 Add Mask workspace option to WANDPowderReduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23228 Update LoadWAND to use h5py and add grouping option
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/LoadWANDTest.py
  docs/source/algorithms/LoadWAND-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23256 Convert developer documentation to sphinx
  .github/PULL_REQUEST_TEMPLATE.md
  dev-docs/source/IndividualTicketTesting.rst
  dev-docs/source/Standards/MantidStandards.rst
  dev-docs/source/index.rst
Labels: Component: Documentation

#23257 LR: Update default x range for scaling factors
  Framework/PythonInterface/plugins/algorithms/LRScalingFactors.py
  Testing/SystemTests/tests/analysis/LRScalingFactorsTest.py
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23251 Add pycharm plugin documentation
  dev-docs/source/GettingStartedWithPyCharm.rst
Labels: Component: Documentation

#23267 Added GIL release to findRuns python calls
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Environment/ReleaseGlobalInterpreterLock.h
  Framework/PythonInterface/mantid/api/src/Exports/FileFinder.cpp
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Environment/ReleaseGlobalInterpreterLock.cpp
Labels: Component: Python

#23176 Enable appending multiple times for event workspaces
  Framework/Algorithms/inc/MantidAlgorithms/WorkspaceJoiners.h
  Framework/Algorithms/src/AppendSpectra.cpp
  Framework/Algorithms/src/ConjoinWorkspaces.cpp
  Framework/Algorithms/src/WorkspaceJoiners.cpp
  Framework/Algorithms/test/AppendSpectraTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23271 Change getStoredPropertyValue to getPreviousValue
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmDialog.h
  qt/widgets/common/src/AlgorithmDialog.cpp
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/FitDialog.h
  qt/widgets/plugins/algorithm_dialogs/src/FitDialog.cpp
Labels: Misc: Easy, Misc: Maintenance

#23273 Workbench use QSettings configuration
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/config/__init__.py
  qt/applications/workbench/workbench/config/main.py
  qt/applications/workbench/workbench/config/test/test_user.py
  qt/applications/workbench/workbench/config/user.py
Labels: Component: GUI, Component: Workbench

#23282 Add isGroup() method to Workspace.h and WorkspaceGroup.h
  Framework/API/inc/MantidAPI/Workspace.h
  Framework/API/inc/MantidAPI/WorkspaceGroup.h
  Framework/API/test/MatrixWorkspaceTest.h
  Framework/API/test/WorkspaceGroupTest.h
Labels: Component: Framework

#23096 Export Sample::getShape()
  Framework/PythonInterface/mantid/api/src/Exports/Sample.cpp
  Framework/PythonInterface/test/python/mantid/api/SampleTest.py
Labels: Misc: Induction 2

#22961 ITableWorkspace now updates GUI when data changed via Python
  Framework/DataObjects/src/TableWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  buildconfig/windows/visual-studio.bat.in
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Python, Misc: Bug

#23289 Fix memory leaks reported from KernelTest
  Framework/Kernel/test/LiveListenerInfoTest.h
  Framework/Kernel/test/TimeSeriesPropertyTest.h
Labels: Component: Framework

#23287 Add missing unit test boilerplate
  Framework/API/test/FrameworkManagerTest.h
  Framework/Algorithms/test/Rebin2DTest.h
  Framework/Algorithms/test/SpecularReflectionAlgorithmTest.h
  Framework/ICat/test/CatalogDownloadDataFilesTest.h
  Framework/ICat/test/CatalogGetDataFilesTest.h
  Framework/ICat/test/CatalogGetDataSetsTest.h
  Framework/ICat/test/CatalogListInstrumentsTest.h
  Framework/ICat/test/CatalogListInvestigationTypesTest.h
  Framework/ICat/test/CatalogLoginTest.h
  Framework/ICat/test/CatalogMyDataSearchTest.h
  Framework/ICat/test/CatalogSearchTest.h
  Framework/ICat/test/CompositeCatalogTest.h
  Framework/Kernel/test/InterpolationTest.h
  Framework/Kernel/test/NearestNeighboursTest.h
  Framework/MDAlgorithms/test/IntegratePeaksMDHKLTest.h
  qt/widgets/common/test/DataProcessorUI/QOneLevelTreeModelTest.h
  qt/widgets/common/test/DataProcessorUI/QTwoLevelTreeModelTest.h
Labels: Misc: Easy, Misc: Maintenance

#23047 Add polarization correction data to parameters file
  instrument/OFFSPEC_Parameters.xml
Labels: Component: Reflectometry

#23222 Elemental Analysis Menu Bar
  scripts/Elemental_Analysis.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_model.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_presenter.py
  scripts/test/Muon/PeriodicTablePresenter_test.py
Labels: Component: GUI, Component: Muon

#23300 Correct workbench window location
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: Workbench

#23252 Project Recovery: Sanitise the # charecter in workspace names
  Framework/PythonInterface/plugins/algorithms/OrderWorkspaceHistory.py
  MantidPlot/src/ProjectRecovery.cpp
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery

#23245 Restructure of muon analysis 2 py file for saving
  scripts/Muon/GUI/Common/dummy/dummy_widget.py
  scripts/Muon/GUI/MuonAnalysis/dock/dock_widget.py
  scripts/Muon_Analysis_2.py
Labels: Component: GUI, Component: Muon

#23205 ISIS Powder POLARIS load vanadium lifted out of loop
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Component: Diffraction, Component: Python

#23274 MDNormDirectSC can now handle merged MDEventWorkspaces
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDNormDirectSC.h
  Framework/MDAlgorithms/src/MDNormDirectSC.cpp
  docs/source/algorithms/MDNormDirectSC-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#22666 Refs #20443 : Threading of Strings::join()
  Framework/Kernel/inc/MantidKernel/Strings.h
  Framework/Kernel/test/StringsTest.h
Labels: Component: Framework

#23326 Obey skipTests method in dynamic CxxTest test suites
  Testing/Tools/cxxtest/cxxtest/RealDescriptions.h
Labels: Misc: Maintenance

#22724 Improve ReflectometrySumInQ unit tests
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/test/ReflectometrySumInQTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/AngleUnits.h
Labels: Component: Reflectometry, Quality: Unit Tests

#23291 Fix issues in DataHandlingTest reported by address sanitizer
  Framework/DataHandling/inc/MantidDataHandling/LoadAscii2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadBankFromDiskTask.h
  Framework/DataHandling/inc/MantidDataHandling/LoadDetectorsGroupingFile.h
  Framework/DataHandling/src/LoadAscii2.cpp
  Framework/DataHandling/src/LoadBankFromDiskTask.cpp
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/src/LoadHelper.cpp
  Framework/DataHandling/src/SaveGDA.cpp
  Framework/DataHandling/test/LoadDetectorInfoTest.h
  Framework/DataHandling/test/SaveGDATest.h
Labels: Component: Framework

#23290 Fix issues with GeometryTest address identified by address sanitizer
  Framework/Geometry/src/Crystal/IndexingUtils.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/IndexingUtilsTest.h
  Framework/Geometry/test/MeshObjectTest.h
Labels: Component: Framework

#23319 Allow MDNormSCD to work on merged workspaces
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDNormSCD.h
  Framework/MDAlgorithms/src/MDNormSCD.cpp
  docs/source/algorithms/MDNormSCD-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction

#23331 Add parameter name to exception
  Framework/API/test/FilePropertyTest.h
  Framework/API/test/IndexPropertyTest.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  Framework/Kernel/test/PropertyWithValueTest.h
Labels: Component: Framework, Misc: Bug, Misc: Easy

#23194 ConfigService document more properties
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
  docs/source/concepts/PropertiesFile.rst
Labels: Component: Documentation

#22425 LoadLiveData should adjust bin boundaries to fit all events when in PreserveEvents mode
  Framework/API/inc/MantidAPI/IEventWorkspace.h
  Framework/Algorithms/test/RebinByTimeBaseTest.h
  Framework/DataObjects/inc/MantidDataObjects/EventWorkspace.h
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/LiveData/inc/MantidLiveData/LoadLiveData.h
  Framework/LiveData/src/LiveDataAlgorithm.cpp
  Framework/LiveData/src/LoadLiveData.cpp
  Framework/LiveData/test/LoadLiveDataTest.h
  Framework/LiveData/test/StartLiveDataTest.h
  Framework/MDAlgorithms/src/ConvertToDiffractionMDWorkspace3.cpp
  Framework/MDAlgorithms/src/MDTransfQ3D.cpp
  docs/source/algorithms/ConvertToDiffractionMDWorkspace-v3.rst
  docs/source/algorithms/LoadLiveData-v1.rst
  docs/source/algorithms/StartLiveData-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Live Data

#23210 Fixed run box selection issue and SampleShape change
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSScaleTest.py
  docs/source/interfaces/ISIS SANS v2.rst
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/algorithm_detail/scale_helpers.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/common/file_information.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/scale.py
  scripts/SANS/sans/test_helper/file_information_mock.py
  scripts/SANS/sans/test_helper/test_director.py
  scripts/test/SANS/algorithm_detail/scale_helper_test.py
  scripts/test/SANS/common/file_information_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/state/scale_test.py
  scripts/test/SANS/user_file/state_director_test.py
Labels: Component: GUI, Component: SANS

#23360 Removed duplicated exports
  Framework/PythonInterface/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/geometry/DetectorInfoTest.py
Labels: Component: Python

#23249 Avoid multiple loading of instrument data in ISISHistoDataListener
  Framework/LiveData/inc/MantidLiveData/ISIS/ISISHistoDataListener.h
  Framework/LiveData/src/ISIS/ISISHistoDataListener.cpp
Labels: Component: Live Data

#23348 Throw ParseError instead of bad_lexical_cast
  Framework/DataHandling/inc/MantidDataHandling/PDLoadCharacterizations.h
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#23365 Update documentation for external data
  Testing/Data/README.md
  dev-docs/source/DataFilesForTesting.rst
Labels: Component: Documentation

#23010 Reflectometry search debug assertion failure
  qt/scientific_interfaces/ISISReflectometry/ReflSearchModel.cpp
Labels: Component: Reflectometry, Misc: Bug

#23305 GudrunOutputLoader
  Framework/PythonInterface/plugins/algorithms/LoadGudrunOutput.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/LoadGudrunOutputTest.py
  Testing/Data/UnitTest/POLARIS00097947-min.dcs01.md5
  Testing/Data/UnitTest/POLARIS00097947-min.mdcs01.md5
  Testing/Data/UnitTest/POLARIS00097947-min.mdor01.md5
  Testing/Data/UnitTest/POLARIS00097947-min.mgor01.md5
  Testing/Data/UnitTest/POLARIS00097947-min.mint01.md5
  docs/source/algorithms/LoadGudrunOutput-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction

#23286 Multicore systemtests
  Testing/SystemTests/lib/systemtests/stresstesting.py
  Testing/SystemTests/lib/systemtests/xmlreporter.py
  Testing/SystemTests/scripts/InstallerTests.py
  Testing/SystemTests/scripts/runSystemTests.py
  buildconfig/Jenkins/systemtests
  buildconfig/Jenkins/systemtests.bat
  dev-docs/source/SystemTests.rst
Labels: Quality: System Tests

#23364 Fix problem with const-Q
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
  Testing/SystemTests/tests/analysis/MagnetismReflectometryReductionTest.py
Labels: Component: Reflectometry, Misc: Bug, Quality: System Tests

#23112 Add support for Wildes polarization correction
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrectionWildes.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/PolarizationCorrectionWildes.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
  docs/source/release/v3.14.0/reflectometry.rst
  instrument/IDFs_for_UNIT_TESTING/REFL_Parameters_Wildes.xml
Labels: Component: Framework, Component: Reflectometry

#23316 Add optional output UnfocussedWorkspace to AlignAndFocusPowder
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/AlignAndFocusPowder.h
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#23375 IndirectILLReductionFWS attempt to fix doctest
  docs/source/algorithms/IndirectILLReductionFWS-v1.rst
Labels: Quality: Documentation

#23317 Algorithm to create flood workspace
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CreateFloodWorkspace.h
  Framework/Algorithms/src/CreateFloodWorkspace.cpp
  Testing/Data/SystemTest/OFFSPEC00035946.nxs.md5
  Testing/SystemTests/lib/systemtests/stresstesting.py
  Testing/SystemTests/tests/analysis/ReflectometryFloodCorrection.py
  Testing/SystemTests/tests/analysis/reference/ReflectometryCreateFloodWorkspaceExclude.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ReflectometryCreateFloodWorkspaceNoExclude.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ReflectometryCreateFloodWorkspaceQuadratic.nxs.md5
  docs/source/algorithms/CreateFloodWorkspace-v1.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23378 Centralise icon access in mantidqt and workbench
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/widgets/plotselector/test/test_plotselector_view.py
  qt/applications/workbench/workbench/widgets/plotselector/view.py
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/icons.py
  qt/python/mantidqt/utils/qt/__init__.py
Labels: Component: Workbench

#23351 Store information about detector trajectories in MDNorm
  Framework/PythonInterface/plugins/algorithms/CropWorkspaceForMDNorm.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CropWorkspaceForMDNormTest.py
  MantidPlot/src/Mantid/SampleLogDialogBase.cpp
  docs/source/algorithms/CropWorkspaceForMDNorm-v1.rst
Labels: Component: Diffraction, Component: Direct Inelastic, Group: Inelastic, Group: Single Crystal

#23385 Crystallography convention bug fixed
  Framework/DataObjects/src/Peak.cpp
  Testing/SystemTests/tests/analysis/ReduceOneSCD_Run.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal, Misc: Bug
