Repository mantidproject/mantid, pull requests merged in 2018-11, with the labels that each got.

#23777 Indirect - Replace old MsdYi.py file with updated version
  Framework/PythonInterface/mantid/fitfunctions.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MSDFit.py
  Framework/PythonInterface/plugins/functions/MsdGauss.py
  Framework/PythonInterface/plugins/functions/MsdPeters.py
  Framework/PythonInterface/plugins/functions/MsdYi.py
  Framework/PythonInterface/test/python/plugins/functions/MsdGaussTest.py
  Framework/PythonInterface/test/python/plugins/functions/MsdPetersTest.py
  Framework/PythonInterface/test/python/plugins/functions/MsdYiTest.py
  docs/source/algorithms/MSDFit-v1.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic

#23764 Fix multiple file filters in save dialogs
  qt/widgets/common/src/FileDialogHandler.cpp
  qt/widgets/common/test/FileDialogHandlerTest.h
Labels: Component: GUI, Misc: Bug

#23919 Indirect - Fix incorrect detector grouping during Data Reduction
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#23736 Start of bank helpers for ComponentInfo
  Framework/DataHandling/src/MoveInstrumentComponent.cpp
  Framework/Geometry/CMakeLists.txt
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentInfoBankHelpers.h
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/ComponentInfoBankHelpers.cpp
  Framework/Geometry/test/ComponentInfoBankHelpersTest.h
Labels: Component: Framework

#23846 Indirect - Bayes - Move Run button for disabling while processing
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.h
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.h
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/IndirectBayes.cpp
  qt/scientific_interfaces/Indirect/IndirectBayes.h
  qt/scientific_interfaces/Indirect/IndirectBayes.ui
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/Quasi.cpp
  qt/scientific_interfaces/Indirect/Quasi.h
  qt/scientific_interfaces/Indirect/Quasi.ui
  qt/scientific_interfaces/Indirect/ResNorm.cpp
  qt/scientific_interfaces/Indirect/ResNorm.h
  qt/scientific_interfaces/Indirect/ResNorm.ui
  qt/scientific_interfaces/Indirect/Stretch.cpp
  qt/scientific_interfaces/Indirect/Stretch.h
  qt/scientific_interfaces/Indirect/Stretch.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23786 Extend SpecularReflectionPositionCorrect
  Framework/Algorithms/inc/MantidAlgorithms/SpecularReflectionPositionCorrect2.h
  Framework/Algorithms/src/SpecularReflectionPositionCorrect2.cpp
  Framework/Algorithms/test/SpecularReflectionPositionCorrect2Test.h
  Framework/Geometry/inc/MantidGeometry/Instrument/ReferenceFrame.h
  Framework/Geometry/src/Instrument/ReferenceFrame.cpp
  Framework/Geometry/test/ReferenceFrameTest.h
  docs/source/algorithms/SpecularReflectionPositionCorrect-v2.rst
  docs/source/images/SpecularReflectionCorrection_figure1.png
  docs/source/images/SpecularReflectionCorrection_figure2.png
  docs/source/images/SpecularReflectionCorrection_figure3.png
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23915 Allow ISIS Powder Gem to deal with sudden spikes in spline that occur in texture mode
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM83605_FocusSempty.nxs.md5
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/test/isis_powder/ISISPowderFocusCropTest.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23932 MSDFit-v1.rst - Miss-match of values on different platforms
  docs/source/algorithms/MSDFit-v1.rst
Labels: Component: Indirect Inelastic

#23847 ISIS Powder Pearl, Focus Saving XYE
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_output.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23431 RRO/RROA Processing instructions switched to taking spectrum numbers instead of workspace indices
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOne2.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryWorkflowBase2.h
  Framework/Algorithms/src/CreateTransmissionWorkspace2.cpp
  Framework/Algorithms/src/CreateTransmissionWorkspaceAuto2.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/CreateTransmissionWorkspace2Test.h
  Framework/Algorithms/test/CreateTransmissionWorkspaceAuto2Test.h
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  docs/source/algorithms/CreateTransmissionWorkspace-v2.rst
  docs/source/algorithms/ReflectometryReductionOne-v2.rst
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v3.14.0/reflectometry.rst
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
Labels: Component: Reflectometry

#23940 Instrument View Memory Leak Fix
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BankTextureBuilder.h
  qt/widgets/instrumentview/src/BankTextureBuilder.cpp
Labels: Component: GUI

#23937 Add imshow to the list of matplotlib plotting wrappers
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
Labels: Component: Python, Component: Workbench

#23902 Project Recovery: Ignore empty groups when they are present in the ADS during save
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery

#23895 Fix issues in sphinx docs
  Framework/Algorithms/inc/MantidAlgorithms/EditInstrumentGeometry.h
  docs/source/algorithms/EditInstrumentGeometry-v1.rst
  docs/source/algorithms/SetInstrumentParameter-v1.rst
  docs/source/concepts/TableWorkspaces.rst
Labels: Quality: Documentation

#23751 New algorithm MaskBinsIf
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/MaskBinsIf.h
  Framework/Algorithms/src/MaskBinsIf.cpp
  Framework/Algorithms/test/MaskBinsIfTest.h
  Framework/HistogramData/inc/MantidHistogramData/HistogramItem.h
  Framework/HistogramData/test/HistogramIteratorTest.h
  docs/source/algorithms/MaskBinsIf-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23944 Change order of extensions
  Framework/DataHandling/src/LoadEventNexus.cpp
Labels: Component: Framework

#23928 recalculate trajectories extents
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/RecalculateTrajectoriesExtents.h
  Framework/MDAlgorithms/src/RecalculateTrajectoriesExtents.cpp
  Framework/MDAlgorithms/test/RecalculateTrajectoriesExtentsTest.h
  Framework/PythonInterface/plugins/algorithms/CropWorkspaceForMDNorm.py
  docs/source/algorithms/RecalculateTrajectoriesExtents-v1.rst
Labels: Component: Diffraction, Component: Direct Inelastic, Group: Inelastic, Group: Single Crystal

#23638 Project Recovery: New GUI and new failure GUI
  MantidPlot/CMakeLists.txt
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ApplicationWindow.h
  MantidPlot/src/MultiTabScriptInterpreter.h
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryModel.cpp
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryModel.h
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryPresenter.cpp
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryPresenter.h
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryView.cpp
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryView.h
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryWidget.ui
  MantidPlot/src/ProjectRecoveryGUIs/RecoveryFailure.ui
  MantidPlot/src/ProjectRecoveryGUIs/RecoveryFailureView.cpp
  MantidPlot/src/ProjectRecoveryGUIs/RecoveryFailureView.h
  MantidPlot/src/ProjectRecoveryGUIs/RecoveryThread.cpp
  MantidPlot/src/ProjectRecoveryGUIs/RecoveryThread.h
  MantidPlot/src/ScriptFileInterpreter.h
  MantidPlot/src/ScriptingWindow.cpp
  MantidPlot/src/ScriptingWindow.h
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ProjectRecoveryTesting.rst
  docs/source/concepts/ProjectRecovery.rst
  docs/source/images/ProjectRecoveryDialog.png
  docs/source/images/ProjectRecoveryFailureDialog.png
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Framework, Component: GUI, Component: Project Recovery

#23917 Replaced promoted widgets by QFrame.
  scripts/CMakeLists.txt
  scripts/HFIR_4Circle_Reduction/CMakeLists.txt
  scripts/HFIR_4Circle_Reduction/FindUBUtility.py
  scripts/HFIR_4Circle_Reduction/IntegrateSingePtSubWindow.py
  scripts/HFIR_4Circle_Reduction/MainWindow.ui
  scripts/HFIR_4Circle_Reduction/PeakIntegrationSpreadSheet.ui
  scripts/HFIR_4Circle_Reduction/PeaksIntegrationReport.py
  scripts/HFIR_4Circle_Reduction/PreprocessWindow.py
  scripts/HFIR_4Circle_Reduction/SinglePtIntegrationWindow.ui
  scripts/HFIR_4Circle_Reduction/View3DWidget.ui
  scripts/HFIR_4Circle_Reduction/downloaddialog.py
  scripts/HFIR_4Circle_Reduction/general1dviewer.ui
  scripts/HFIR_4Circle_Reduction/generalplotview.py
  scripts/HFIR_4Circle_Reduction/hfctables.py
  scripts/HFIR_4Circle_Reduction/message_dialog.py
  scripts/HFIR_4Circle_Reduction/mpl2dgraphicsview.py
  scripts/HFIR_4Circle_Reduction/mplgraphicsview.py
  scripts/HFIR_4Circle_Reduction/mplgraphicsview3d.py
  scripts/HFIR_4Circle_Reduction/optimizelatticewindow.py
  scripts/HFIR_4Circle_Reduction/plot3dwindow.py
  scripts/HFIR_4Circle_Reduction/preprocess_window.ui
  scripts/HFIR_4Circle_Reduction/reduce4circleGUI.py
  scripts/HFIR_4Circle_Reduction/refineubfftsetup.py
  scripts/HFIR_4Circle_Reduction/viewspicedialog.py
Labels: Component: Diffraction, Component: GUI, Component: Workbench, Group: Single Crystal

#23945 Use NormalizeByIntegratedMonitors in CreateTransmissionWorkspace and CreateTransmissionWorkspaceAuto
  Framework/Algorithms/src/CreateTransmissionWorkspace2.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/CreateTransmissionWorkspace2Test.h
  docs/source/release/v3.14.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
Labels: Component: Reflectometry

#23942 Add ability to ignore 1D arrays for time value loading in LoadNexusLogs.
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/test/LoadNexusLogsTest.h
  Testing/Data/UnitTest/larmor_array_time_series_mock.nxs.md5
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23949 Update SNAP geometry
  docs/source/release/v3.14.0/diffraction.rst
  instrument/SNAP_Definition.xml
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#23858 Indirect - MSD Fit Plot Output has wrong x units
  Framework/Kernel/inc/MantidKernel/Unit.h
  Framework/Kernel/src/Unit.cpp
  Framework/Kernel/test/UnitTest.h
  docs/source/concepts/UnitFactory.rst
  docs/source/release/v3.14.0/framework.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/MSDFitModel.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#23967 Add checkbox for HKL MD workspace to SCD interface
  docs/source/release/v3.14.0/diffraction.rst
  qt/scientific_interfaces/General/MantidEV.cpp
  qt/scientific_interfaces/General/MantidEV.ui
  qt/scientific_interfaces/General/MantidEVWorker.cpp
  qt/scientific_interfaces/General/MantidEVWorker.h
Labels: Component: Diffraction, Group: Single Crystal

#23931 New algorithm to group point data to X resolution
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/WorkspaceHasDxValidator.h
  Framework/API/src/WorkspaceHasDxValidator.cpp
  Framework/API/test/WorkspaceHasDxValidatorTest.h
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/GroupToXResolution.h
  Framework/Algorithms/src/GroupToXResolution.cpp
  Framework/Algorithms/test/GroupToXResolutionTest.h
  Framework/HistogramData/inc/MantidHistogramData/Histogram.h
  docs/source/algorithms/GroupToXResolution-v1.rst
  docs/source/images/GroupToXResolution_grouping_schema.png
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Framework, Component: Reflectometry

#23989 NOMAD PDLoadCharacterizations bugfix
  Framework/Algorithms/src/PDDetermineCharacterizations.cpp
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
  Framework/DataHandling/test/PDLoadCharacterizationsTest.h
  Testing/Data/UnitTest/Test_characterizations_focus_and_char2.txt.md5
  docs/source/algorithms/PDLoadCharacterizations-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#23977 ComputeIncoherentDOS: enable S(2theta,W) as input
  Framework/PythonInterface/plugins/algorithms/ComputeIncoherentDOS.py
  Framework/PythonInterface/test/python/plugins/algorithms/ComputeIncoherentDOSTest.py
  docs/source/algorithms/ComputeIncoherentDOS-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Component: Python

#23982 Simplify DirectILLIntegrateVanadium
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLIntegrateVanadium.py
  docs/source/algorithms/DirectILLIntegrateVanadium-v1.rst
Labels: Component: Direct Inelastic

#23954 Added systemtest to check errorreport server
  Testing/SystemTests/tests/analysis/ErrorReporterServerTest.py
  scripts/ErrorReporter/error_report_presenter.py
Labels: Component: Python, Quality: System Tests

#23509 Update scale and shift used in reduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSStitchTest.py
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/bundles.py
  scripts/SANS/sans/algorithm_detail/merge_reductions.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/sans_batch.py
  scripts/test/SANS/gui_logic/batch_process_runner_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: Python, Component: SANS

#23644 Muon - Core Code; Workspace Handle
  scripts/Muon/GUI/Common/ADSHandler/__init__.py
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/utilities/muon_workspace_wrapper_directory_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
Labels: Component: Muon, Misc: Core

#23678 Muon - Algorithm; MuonPreProcess
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/MuonPreProcess.h
  Framework/Muon/src/MuonPreProcess.cpp
  Framework/Muon/test/MuonPreProcessTest.h
  docs/source/algorithms/MuonPreProcess-v1.rst
Labels: Component: Muon, Misc: Core

#24004 Disable throwing exception
  qt/widgets/common/src/InterfaceManager.cpp
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI

#23997 Re #23956 Rename async to asynchronous
  qt/python/mantidqt/utils/asynchronous.py
  qt/python/mantidqt/utils/test/test_async.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/jupyterconsole.py
Labels: Component: Workbench

#23990 Add automatic conversions for unicode to std::string in Python 2
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/PyObjectToString.h
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/DataServiceExporter.h
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Converters/PyObjectToString.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigService.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/IPropertyManager.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/Logger.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/UsageService.cpp
  Framework/PythonInterface/mantid/kernel/src/kernel.cpp.in
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
  Framework/PythonInterface/test/python/mantid/kernel/PropertyManagerDataServiceTest.py
  docs/source/release/v3.14.0/framework.rst
  qt/python/mantidqt/widgets/codeeditor/errorformatter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_errorformatter.py
Labels: Component: Python

#23986 Do not set empty event workspace to single bin
  Framework/DataObjects/src/EventList.cpp
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/LiveData/src/LoadLiveData.cpp
Labels: Component: Live Data, Misc: Bug

#23905 A new algorithm to mask non-overlapping bins
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/MaskBins.h
  Framework/Algorithms/inc/MantidAlgorithms/MaskNonOverlappingBins.h
  Framework/Algorithms/src/MaskNonOverlappingBins.cpp
  Framework/Algorithms/test/MaskNonOverlappingBinsTest.h
  docs/source/algorithms/MaskNonOverlappingBins-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24005 Add aplication icon
  qt/applications/workbench/resources.qrc
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: GUI, Component: Workbench

#24019 Change AsyncTaskFailure to contain raw stacktrace
  qt/python/mantidqt/utils/asynchronous.py
  qt/python/mantidqt/utils/test/test_async.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
Labels: Component: Workbench

#23991 DirectILLApplySelfShielding: remove upper limit from empty cell scaling
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLApplySelfShielding.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLSelfShielding.py
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Component: Python, Misc: Easy

#23860 ISIS Powder Pearl Remove Vanadium Splines from workspace after focus
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23861 ISIS Powder Pearl added default Rebin value
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70Atten.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70_absorb.nxs.md5
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23936 Indirect Bayes - Stretch tab Contour Plot
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesStretch.py
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Stretch.cpp
  qt/scientific_interfaces/Indirect/Stretch.h
  qt/scientific_interfaces/Indirect/Stretch.ui
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#24024 Pass in system value of QT_API
  buildconfig/CMake/Packaging/mantidpython.in
Labels: Misc: Easy

#24021 Add imshow implementation to allow for custom artists.
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Component: Framework, Component: Python, Component: Workbench

#23735 Indirect - ConvFit FABADA FixTie is not working
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic, Misc: Bug

#24028 Fix issue with master not building properly
  Framework/DataHandling/src/ORNLDataArchive.cpp
Labels: Priority: High

#23864 Indirect - ConvFit - Loading res before red causes error
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#23998 Muon asymmetry bins
  Framework/Muon/src/MuonAsymmetryHelper.cpp
  Framework/Muon/test/ApplyMuonDetectorGroupingTest.h
  Framework/Muon/test/EstimateMuonAsymmetryFromCountsTest.h
  Framework/WorkflowAlgorithms/test/IMuonAsymmetryCalculatorTest.h
  docs/source/algorithms/EstimateMuonAsymmetryFromCounts-v1.rst
  docs/source/algorithms/MuonProcess-v1.rst
  docs/source/release/v3.14.0/muon.rst
Labels: Component: Muon, Misc: Easy

#24014 Set default suffix for files being saved to .py
  qt/python/mantidqt/io.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: GUI, Component: Workbench

#23886 Project Recovery: Adding project recovery preferences
  MantidPlot/src/ConfigDialog.cpp
  MantidPlot/src/ConfigDialog.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: GUI, Component: Project Recovery

#23682 Indirect - Plot Spectrum and Tiled Plot options
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
  qt/scientific_interfaces/Indirect/JumpFit.ui
Labels: Component: GUI, Component: Indirect Inelastic

#24040 Add QListWidgetItem to Fix SANS v2 Launching error
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: SANS

#23857 Documentation according to implementation
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
Labels: Component: Documentation, Component: Reflectometry, Misc: Easy, Quality: Unit Tests

#24042 Fix linking errors to libCatalog.so
  Framework/CMakeLists.txt
  Framework/Catalog/CMakeLists.txt
  Framework/DataHandling/CMakeLists.txt
Labels: Component: Framework, Priority: High

#24039 Fix Segfault when Keep Open option is checked in Algorithm Dialog
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmObserver.cpp
  qt/python/mantidqt/widgets/algorithmprogress/model.py
Labels: Component: Workbench

#23985 Simplify ReflectometryILLConvertToQ
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
Labels: Component: Python, Component: Reflectometry

#24051 Fix TOFTOF scripter for Workbench
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/test/TOFTOF/TOFTOFScriptElementTest.py
Labels: Component: Direct Inelastic

#24055 Switch WANDPowderReduction to use Rebin
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
  docs/source/algorithms/WANDPowderReduction-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24043 Change IntegratePeaksUsingClusters to treat NaN's as background
  Framework/Crystal/src/HardThresholdBackground.cpp
  docs/source/algorithms/IntegratePeaksUsingClusters-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24060 Fixed ISIS Powder Pearl Focus Test
  Testing/SystemTests/tests/analysis/ISIS_PowderPearlTest.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Misc: Easy, Quality: System Tests

#23768 D2B propagate the mask of the efficiency map
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/Algorithms/src/MaskBinsIf.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/plugins/algorithms/ApplyDetectorScanEffCorr.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  Framework/PythonInterface/test/python/plugins/algorithms/ApplyDetectorScanEffCorrTest.py
  Testing/Data/UnitTest/ILL/D2B/test_calib.nxs.md5
  docs/source/algorithms/ApplyDetectorScanEffCorr-v1.rst
  docs/source/algorithms/MaskBinsIf-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction, Component: Framework, Misc: Easy

#23647 Muon - Core Code; Observer/Observable Pattern
  scripts/Muon/GUI/Common/observer_pattern.py
Labels: Component: Muon, Misc: Core

#24017 QSettings saves to .ini across workbench
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/config/__init__.py
Labels: Component: Workbench

#24066 Dealt with nans in ISIS Gem Texture mode output
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Component: Diffraction, Component: Python, Misc: Easy

#24068 Fix Workbench shutdown RuntimeError and GlobalFigureManager tests
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/globalfiguremanager.py
  qt/applications/workbench/workbench/plotting/test/test_globalfiguremanager.py
  qt/applications/workbench/workbench/widgets/plotselector/model.py
  qt/applications/workbench/workbench/widgets/plotselector/test/test_plotselector_model.py
Labels: Component: Workbench

#23749 Kafka Histogram Listener
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoListener.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaTopicSubscriber.h
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoListener.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/src/Kafka/private/Schema/ai34_det_counts_generated.h
  Framework/LiveData/src/Kafka/private/Schema/f142_logdata_generated.h
  Framework/LiveData/src/Kafka/private/Schema/flatbuffers/base.h
  Framework/LiveData/src/Kafka/private/Schema/flatbuffers/flatbuffers.h
  Framework/LiveData/src/Kafka/private/Schema/flatbuffers/stl_emulation.h
  Framework/LiveData/src/Kafka/private/Schema/hs00_event_histogram_generated.h
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
  Framework/LiveData/test/KafkaTesting.h
Labels: Component: Live Data

#24087 Replace use of old IDFs_for_UNIT_TESTING directory name
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
Labels: Priority: High

#23923 IndirectSpectrumSelectionPresenter Unit Tests
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelectionPresenter.h
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelectionView.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectSpectrumSelectionPresenterTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#24069 Allow Save/LoadNexusProcessed to save and load a MaskWorkspace
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/src/SaveNexusProcessed.cpp
  Testing/SystemTests/tests/analysis/SaveLoadNexusProcessed.py
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24071 24045 kafka histo docs
  docs/source/concepts/KafkaLiveStreams.rst
  docs/source/release/v3.14.0/index.rst
  docs/source/release/v3.14.0/kafka.rst
Labels: Quality: Documentation

#24080 ISIS Powder prevent reloading of loaded vanadium
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23822 Indirect - Data Corrections - Plot spectrum option
  docs/source/interfaces/Indirect Corrections.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.h
  qt/scientific_interfaces/Indirect/ContainerSubtraction.ui
Labels: Component: GUI, Component: Indirect Inelastic

#24088 Indirect - ConvFit Fit parameter errors not updating when changing Plot Spectrum
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#24037 Pull code out of setSampleMaterial
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/ReadMaterial.h
  Framework/DataHandling/inc/MantidDataHandling/SetSampleMaterial.h
  Framework/DataHandling/src/ReadMaterial.cpp
  Framework/DataHandling/src/SetSampleMaterial.cpp
  Framework/DataHandling/test/ReadMaterialTest.h
Labels: Component: Framework

#23742 Fix goniometer to use time average instead of mean
  Framework/API/src/Run.cpp
  Framework/API/test/RunTest.h
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/test/LoadNexusLogsTest.h
  Testing/SystemTests/tests/analysis/reference/HYSPECReduction_TIBasEvents.nxs.md5
  docs/source/release/v3.14.0/framework.rst
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: Component: Diffraction, Misc: Bug

#23679 Muon - Algorithm; MuonGroupingCounts
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/MuonAlgorithmHelper.h
  Framework/Muon/inc/MantidMuon/MuonGroupingCounts.h
  Framework/Muon/src/MuonAlgorithmHelper.cpp
  Framework/Muon/src/MuonGroupingCounts.cpp
  Framework/Muon/test/MuonGroupingCountsTest.h
  docs/source/algorithms/MuonGroupingCounts-v1.rst
Labels: Component: Muon, Misc: Core

#24093 Fix side by side instrument view crash
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PanelsSurface.h
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
  qt/widgets/instrumentview/src/PanelsSurface.cpp
Labels: Component: GUI

#24081 Avoid importing Qt when running "import mantid"
  Framework/PythonInterface/test/testhelpers/testrunner.py
  MantidPlot/src/main.cpp
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/runSystemTests.py
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  scripts/Interface/reduction_gui/reduction/scripter.py
  scripts/Interface/reduction_gui/widgets/base_widget.py
Labels: Component: Python

#24030 New algorithm: SofTwoThetaTOF
  Framework/Algorithms/src/ConvertSpectrumAxis2.cpp
  Framework/Algorithms/src/ConvertToConstantL2.cpp
  Framework/DataHandling/inc/MantidDataHandling/GenerateGroupingPowder.h
  Framework/DataHandling/src/GenerateGroupingPowder.cpp
  Framework/DataHandling/test/GenerateGroupingPowderTest.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  Framework/WorkflowAlgorithms/CMakeLists.txt
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/SofTwoThetaTOF.h
  Framework/WorkflowAlgorithms/src/SofTwoThetaTOF.cpp
  Framework/WorkflowAlgorithms/test/SofTwoThetaTOFTest.h
  docs/source/algorithms/GenerateGroupingPowder-v1.rst
  docs/source/algorithms/SofTwoThetaTOF-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
  instrument/IN5_Parameters.xml
Labels: Component: Direct Inelastic

#24097 Indirect Qt Signal warnings
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#23995 System tests for IN4, IN5, IN6 detector efficiency corrections
  Testing/SystemTests/tests/analysis/ILLDetectorEfficiencyCorUserTest.py
Labels: Quality: System Tests

#24099 Indirect Diffraction - Move and disable run button
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.h
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.ui
Labels: Component: GUI, Component: Indirect Inelastic

#24098 Remember Last Loaded User File in SANS
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI, Component: SANS

#24120 Fix the facilities list in CatalogLogin
  Framework/ICat/src/CatalogLogin.cpp
Labels: Misc: Bug

#24107 ILL old SANS cleanup
  Framework/WorkflowAlgorithms/CMakeLists.txt
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/SetupILLD33Reduction.h
  Framework/WorkflowAlgorithms/src/SetupILLD33Reduction.cpp
  Testing/Data/SystemTest/ILL/001420.nxs.md5
  Testing/Data/SystemTest/ILL/001422.nxs.md5
  Testing/Data/SystemTest/ILL/001425.nxs.md5
  Testing/Data/SystemTest/ILL/001427.nxs.md5
  Testing/Data/SystemTest/ILL/001428.nxs.md5
  Testing/Data/SystemTest/ILL/001431.nxs.md5
  Testing/SystemTests/tests/analysis/ILLD33Test.py
  docs/source/algorithms/SetupILLD33Reduction-v1.rst
  docs/source/release/v3.14.0/sans.rst
Labels: Component: SANS, Misc: Easy

#24076 Start mantidplot in systemtest
  Testing/SystemTests/tests/analysis/GUIStartupTest.py
Labels: Component: GUI, Quality: System Tests

#23838 Saving the muon analysis 2 GUI
  MantidPlot/src/ProjectSerialiser.cpp
  scripts/CMakeLists.txt
  scripts/Muon/GUI/Common/context_example/context_example_model.py
  scripts/Muon/GUI/Common/context_example/context_example_view.py
  scripts/Muon/GUI/Common/context_example/context_example_widget.py
  scripts/Muon/GUI/Common/dummy_label/dummy_label_widget.py
  scripts/Muon/GUI/Common/group_object.py
  scripts/Muon/GUI/Common/muon_context/muon_context.py
  scripts/Muon/GUI/Common/pair_object.py
  scripts/Muon/GUI/MuonAnalysis/dock/dock_widget.py
  scripts/Muon_Analysis_2.py
  scripts/pythonTSV.py
  scripts/save_python.py
  scripts/test/pythonTSVTest.py
Labels: Component: GUI, Component: Muon

#24070 IndirectFitPlotPresenter Unit tests
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IIndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/LazyAsyncRunner.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectSpectrumSelectionPresenterTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#24138 Fix mpl_toolkits import error on OSX
  Framework/PythonInterface/mantid/plots/__init__.py
Labels: Priority: High

#24140 Skip the test if mantidplot launcher doesn't exist
  Testing/SystemTests/tests/analysis/GUIStartupTest.py
Labels: Misc: Bug

#24125 Revert polarisation correction property names
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  docs/source/release/v3.14.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/QtReflSettingsView.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSettingsPresenter.cpp
  qt/scientific_interfaces/test/ReflSettingsPresenterTest.h
Labels: Component: Framework, Component: Reflectometry, Misc: Bug

#24144 CostFuncFitting shall set covariance matrix to fit function
  Framework/CurveFitting/src/CostFunctions/CostFuncFitting.cpp
Labels: Component: Fitting
