Repository mantidproject/mantid, pull requests merged in 2018-10, with the labels that each got.

#23604 Fix workspace property handling in MaskDetectors
  Framework/API/src/Algorithm.cpp
  Framework/DataHandling/src/MaskDetectors.cpp
  Framework/DataHandling/test/MaskDetectorsTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#23567 Apply ties in correct order
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/inc/MantidAPI/ParameterTie.h
  Framework/API/src/CompositeFunction.cpp
  Framework/API/src/IFunction.cpp
  Framework/API/src/ParameterTie.cpp
  Framework/API/test/ParameterTieTest.h
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Fitting

#23569 Common naming across algorithms
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
  Framework/Algorithms/test/ReflectometryMomentumTransferTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23674 Peak integration improvements
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/MDAlgorithms/src/IntegratePeaksMD2.cpp
  docs/source/release/v3.14.0/diffraction.rst
  qt/scientific_interfaces/General/MantidEV.ui
Labels: Component: Diffraction, Group: Single Crystal

#23485 LoadGudrunOutput improvements
  Framework/PythonInterface/plugins/algorithms/LoadGudrunOutput.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadGudrunOutputTest.py
  qt/widgets/common/src/FileDialogHandler.cpp
Labels: Component: Diffraction

#23661 LiveData Do not rebin event data unless not already binned
  Framework/LiveData/inc/MantidLiveData/LoadLiveData.h
  Framework/LiveData/src/LiveDataAlgorithm.cpp
  Framework/LiveData/src/LoadLiveData.cpp
  Framework/LiveData/test/LoadLiveDataTest.h
  docs/source/algorithms/LoadLiveData-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Live Data

#23565 Project Recovery: Add Unit Tests
  MantidPlot/CMakeLists.txt
  MantidPlot/test/MantidPlotProjectRecovery.py
Labels: Component: Project Recovery

#23618 Quiet down DirectILLDiagnostics
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnosticsTest.py
Labels: Component: Direct Inelastic, Component: Python

#23691 Re #23690 Fixed issue with overwriting focus results
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM83605_FocusSempty.nxs.md5
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/test/isis_powder/ISISPowderFocusCropTest.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Misc: Bug, Priority: High

#23186 Solved fit constraints boundary problem Re #23089
  CMakeLists.txt
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: State: Review Required

#23704 Turn off logging for Project Serialiser when saving instrument window
  docs/source/release/v3.14.0/ui.rst
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: Component: Framework, Component: GUI, Misc: Easy, Priority: High

#23698 Export geometry doc fixes
  Framework/PythonInterface/plugins/algorithms/ExportGeometry.py
  docs/source/algorithms/ExportGeometry-v1.rst
Labels: Quality: Documentation

#23591 refactor EQSANSTofStructure
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/EQSANSUnfoldFrame.h
  Framework/Algorithms/inc/MantidAlgorithms/SANSSolidAngleCorrection.h
  Framework/Algorithms/src/EQSANSUnfoldFrame.cpp
  Framework/Algorithms/src/SANSSolidAngleCorrection.cpp
  Framework/Algorithms/test/EQSANSUnfoldFrameTest.h
  Framework/Algorithms/test/SANSSolidAngleCorrectionTest.h
  Framework/DataHandling/src/LoadSpice2D.cpp
  Framework/PythonInterface/plugins/algorithms/SANSMaskDTP.py
Labels: Component: SANS, State: In Progress

#23631 PDLoadCharacterizations throw exception when there is unmatch column count
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#23714 Fix DetectorInfo and SpectrumInfo iterators
  Framework/API/inc/MantidAPI/SpectrumInfoItem.h
  Framework/Geometry/inc/MantidGeometry/Instrument/DetectorInfoItem.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/DetectorInfoPythonIterator.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/SpectrumInfoPythonIterator.h
  Framework/PythonInterface/mantid/api/src/Exports/SpectrumInfoItem.cpp
  Framework/PythonInterface/mantid/api/src/Exports/SpectrumInfoPythonIterator.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/DetectorInfoItem.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/DetectorInfoPythonIterator.cpp
  Framework/PythonInterface/test/python/mantid/api/SpectrumInfoTest.py
  Framework/PythonInterface/test/python/mantid/geometry/DetectorInfoTest.py
Labels: Misc: Bug

#23689 Indirect - Disable output buttons during a fit
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#23668 Separate included files for Qt4 and Qt5 libraries
  buildconfig/CMake/QtTargetFunctions.cmake
  qt/widgets/common/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/GetNegMuMuonicXRDDialog.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/PeriodicTableWidget.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/PeriodicTableWidget.ui
  qt/widgets/plugins/algorithm_dialogs/src/PeriodicTableWidget.cpp
Labels: Component: Workbench

#23636 Add a helper library to enable plotting with matplotlib from C++
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/NDArray.h
  Framework/PythonInterface/core/src/NDArray.cpp
  buildconfig/CMake/FindCxxTest.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  qt/widgets/CMakeLists.txt
  qt/widgets/mplcpp/CMakeLists.txt
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Artist.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Axes.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/BackendQt.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Colormap.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Colors.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/DllConfig.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Figure.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/FigureCanvasQt.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Line2D.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Python/Object.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Python/Sip.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/ScalarMappable.h
  qt/widgets/mplcpp/src/Artist.cpp
  qt/widgets/mplcpp/src/Axes.cpp
  qt/widgets/mplcpp/src/Colormap.cpp
  qt/widgets/mplcpp/src/Colors.cpp
  qt/widgets/mplcpp/src/Figure.cpp
  qt/widgets/mplcpp/src/FigureCanvasQt.cpp
  qt/widgets/mplcpp/src/Line2D.cpp
  qt/widgets/mplcpp/src/ScalarMappable.cpp
  qt/widgets/mplcpp/test/ArtistTest.h
  qt/widgets/mplcpp/test/AxesTest.h
  qt/widgets/mplcpp/test/CMakeLists.txt
  qt/widgets/mplcpp/test/ColormapTest.h
  qt/widgets/mplcpp/test/ColorsTest.h
  qt/widgets/mplcpp/test/FigureCanvasQtTest.h
  qt/widgets/mplcpp/test/FigureTest.h
  qt/widgets/mplcpp/test/Line2DTest.h
  qt/widgets/mplcpp/test/MplCppTestInitialization.h
  qt/widgets/mplcpp/test/ScalarMappableTest.h
  qt/widgets/mplcpp/test/SipTest.h
Labels: Component: Workbench

#23712 Duplicate print statements to the console
  qt/applications/workbench/workbench/plugins/logmessagedisplay.py
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/utils/writetosignal.py
Labels: Component: Workbench, Misc: Bug

#23720 Remove extra banks from 2014_08_01 MANDI IDF
  instrument/MANDI_Definition_2014_08_01.xml
Labels: Component: Diffraction, Group: Single Crystal

#23702 Indirect - MSD Fit - Add option to choose which output parameter to plot
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23729 Add missing UI files to workbench CMakeLists
  qt/widgets/common/CMakeLists.txt
Labels: Component: Workbench, Priority: High

#23588 Removed setting of total phi mask
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/state/mask.py
  scripts/test/SANS/gui_logic/masking_table_presenter_test.py
Labels: Component: GUI, Component: SANS, Misc: Bug

#23586 Fix crash when masking nonexistent component
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/test/InstrumentTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#23572 Add suffix to Mantid shortcuts and package on Windows, remove mantidpython shortcut
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/Jenkins/buildscript.bat
  docs/source/release/v3.14.0/ui.rst
  images/MantidPlot_Icon_32offset_nightly.ico
  images/MantidPlot_Icon_32offset_nightly.png
  images/MantidPlot_Icon_32offset_unstable.ico
  images/MantidPlot_Icon_32offset_unstable.png
  images/mantid_notebook_nightly.ico
  images/mantid_notebook_unstable.ico
Labels: Component: Workbench

#23710 Fix memory leak in clone to numpy policy
  Framework/PythonInterface/mantid/kernel/src/Converters/CloneToNumpy.cpp
Labels: Component: Framework

#23743 Allow SANS systemtest to be run on Ubuntu
  Testing/SystemTests/tests/analysis/SANSWorkspaceTypeTest.py
  scripts/SANS/SANSUtility.py
Labels: Component: Python, Quality: System Tests

#23532 Implementation of Voxels in Mantid as GridDetector
  Framework/Algorithms/test/ResizeRectangularDetectorTest.h
  Framework/Beamline/inc/MantidBeamline/ComponentType.h
  Framework/Crystal/src/IntegratePeakTimeSlices.cpp
  Framework/DataHandling/src/MoveInstrumentComponent.cpp
  Framework/DataHandling/test/LoadIDFFromNexusTest.h
  Framework/Geometry/CMakeLists.txt
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentVisitor.h
  Framework/Geometry/inc/MantidGeometry/Instrument/GridDetector.h
  Framework/Geometry/inc/MantidGeometry/Instrument/GridDetectorPixel.h
  Framework/Geometry/inc/MantidGeometry/Instrument/InstrumentDefinitionParser.h
  Framework/Geometry/inc/MantidGeometry/Instrument/InstrumentVisitor.h
  Framework/Geometry/inc/MantidGeometry/Instrument/RectangularDetector.h
  Framework/Geometry/inc/MantidGeometry/Instrument/RectangularDetectorPixel.h
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/ComponentInfo.cpp
  Framework/Geometry/src/Instrument/GridDetector.cpp
  Framework/Geometry/src/Instrument/GridDetectorPixel.cpp
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/src/Instrument/InstrumentVisitor.cpp
  Framework/Geometry/src/Instrument/ParComponentFactory.cpp
  Framework/Geometry/src/Instrument/RectangularDetector.cpp
  Framework/Geometry/test/GridDetectorPixelTest.h
  Framework/Geometry/test/GridDetectorTest.h
  Framework/Geometry/test/InstrumentTest.h
  Framework/Geometry/test/RectangularDetectorTest.h
  Framework/PythonInterface/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/mantid/geometry/src/Exports/GridDetector.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/RectangularDetector.cpp
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  docs/source/api/python/mantid/geometry/GridDetectorPixel.rst
  docs/source/concepts/InstrumentDefinitionFile.rst
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BankRenderingHelpers.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BankTextureBuilder.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/GridTextureFace.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRenderer.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PanelsSurface.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/RotationSurface.h
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
  qt/widgets/instrumentview/src/BankTextureBuilder.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
  qt/widgets/instrumentview/src/PanelsSurface.cpp
  qt/widgets/instrumentview/src/RotationSurface.cpp
Labels: Component: GUI

#23663 Changed step values to update correctly
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/isis_instrument.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: SANS, Misc: Easy

#23665 Made detector names consistent
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/diagnostics_page.py
  scripts/Interface/ui/sans_isis/diagnostics_page.ui
Labels: Component: GUI, Component: SANS

#23529 Add flood correction to RROA
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Framework/Kernel/src/Strings.cpp
  Testing/Data/UnitTest/REFL_flood_cor_test.nxs.md5
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
  docs/source/diagrams/ReflectometryReductionOneAuto-v2-Groups_PA_wkflw.dot
  docs/source/diagrams/ReflectometryReductionOneAuto-v2-Groups_noPA_wkflw.dot
  docs/source/diagrams/ReflectometryReductionOneAuto-v2-Groups_wkflw.dot
  docs/source/release/v3.14.0/reflectometry.rst
  instrument/IDFs_for_UNIT_TESTING/REFL_Parameters_Flood.xml
  instrument/IDFs_for_UNIT_TESTING/REFL_Parameters_No_Flood.xml
Labels: Component: Reflectometry

#23716 Updated SolidAngle so that it would be correct when using StartWorkspaceIndex
  Framework/Algorithms/src/SolidAngle.cpp
  Framework/Algorithms/test/SolidAngleTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug, Misc: Easy

#23717 Indirect - F(Q) - Change the allowed Fit Types depending on the selected parameter
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/IndirectFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Indirect Inelastic

#23583 Adding plotting options to the muon plotting
  dev-docs/source/Widgets/Plotting.rst
  scripts/Elemental_Analysis.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/remove_plot_window.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/select_subplot.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/navigation_toolbar.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/subPlot_object.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/PlottingPresenter_test.py
  scripts/test/Muon/PlottingView_test.py
  scripts/test/Muon/subplotObject_test.py
Labels: Component: GUI

#23763 Fixed muon thread model so it no longer crashes
  scripts/Muon/GUI/Common/thread_model.py
  scripts/test/Muon/CMakeLists.txt
Labels: Component: Muon, Misc: Bug, Priority: High

#23761 Add custom interfaces to workbench menus
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: Workbench

#23737 Project Recovery: Add lock file whilst saving
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Project Recovery, Misc: Easy

#23727 Indirect - Move the run button in Data Corrections and disable when running
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.h
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.ui
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.h
  qt/scientific_interfaces/Indirect/ContainerSubtraction.ui
  qt/scientific_interfaces/Indirect/IndirectCorrections.cpp
  qt/scientific_interfaces/Indirect/IndirectCorrections.h
  qt/scientific_interfaces/Indirect/IndirectCorrections.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23675 Expose setConstraintPenalty to python
  Framework/API/inc/MantidAPI/FunctionFactory.h
  Framework/API/inc/MantidAPI/IConstraint.h
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/src/FunctionFactory.cpp
  Framework/API/src/IFunction.cpp
  Framework/CurveFitting/src/Constraints/BoundaryConstraint.cpp
  Framework/CurveFitting/test/FuncMinimizers/LevenbergMarquardtMDTest.h
  Framework/CurveFitting/test/FunctionFactoryConstraintTest.h
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  docs/source/concepts/FitConstraint.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Fitting

#23750 Refactor install dependencies for linux
  CMakeLists.txt
Labels: Component: Workbench

#23516 IndirectFitData Unit tests
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.h
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelectionPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelectionPresenter.h
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelectionView.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectFitDataTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#23709 Add SampleLogs widget to workbench
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/samplelogs/__init__.py
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_presenter.py
  qt/python/mantidqt/widgets/samplelogs/view.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench

#23787 Add unicode support to loggers in py2
  Framework/PythonInterface/mantid/kernel/src/Exports/Logger.cpp
  Framework/PythonInterface/test/python/mantid/kernel/LoggerTest.py
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Python, Misc: Easy

#23798 Speedup DateAndTime construction
  Framework/API/src/FileFinder.cpp
  Framework/API/src/ParameterTie.cpp
  Framework/Algorithms/src/PerformIndexOperations.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/Geometry/src/Instrument/XMLInstrumentParameter.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Types/src/Core/DateAndTimeHelpers.cpp
  Framework/Types/test/DateAndTimeTest.h
Labels: Component: Framework

#23785 option for renumbering in SaveIsawPeaks
  Framework/Crystal/src/SaveIsawPeaks.cpp
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#23791 Remove unused includes
  Framework/API/src/Algorithm.cpp
  Framework/API/test/ImplicitFunctionFactoryTest.h
  Framework/Algorithms/src/PerformIndexOperations.cpp
  Framework/Algorithms/src/SmoothNeighbours.cpp
  Framework/Algorithms/test/GenerateIPythonNotebookTest.h
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  Framework/DataHandling/src/LoadLog.cpp
  Framework/DataHandling/src/SaveNexusProcessed.cpp
  Framework/DataObjects/inc/MantidDataObjects/CoordTransformDistance.h
  Framework/DataObjects/test/MDBoxSaveableTest.h
  Framework/Geometry/test/PeakTransformSelectorTest.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/test/LogParserTest.h
  Framework/Kernel/test/NDRandomNumberGeneratorTest.h
  Framework/MDAlgorithms/src/IntegrateMDHistoWorkspace.cpp
  Framework/MDAlgorithms/src/SmoothMD.cpp
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/Script.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.h
  qt/scientific_interfaces/ISISReflectometry/ReflRunsTabPresenter.cpp
  qt/widgets/common/src/DataProcessorUI/GenerateNotebook.cpp
  qt/widgets/common/src/FindDialog.cpp
  qt/widgets/common/src/FindFilesThreadPoolManager.cpp
  qt/widgets/common/src/FindFilesWorker.cpp
  qt/widgets/common/src/MdSettings.cpp
  qt/widgets/common/src/SelectFunctionDialog.cpp
  qt/widgets/common/test/AlgorithmHintStrategyTest.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Projection3D.h
  qt/widgets/instrumentview/src/Projection3D.cpp
  qt/widgets/sliceviewer/src/ConcretePeaksPresenter.cpp
  qt/widgets/sliceviewer/test/ConcretePeaksPresenterTest.h
Labels: Misc: Easy, Quality: Code Quality

#23811 Add abstractions between qt4 and qt5
  scripts/MPLwidgets.py
  scripts/gui_helper.py
  tools/scripts/pyqt4_to_qtpy.py
Labels: Component: Workbench

#23778 Modernize event filter gui
  MantidPlot/mantidplot.py
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/utils/qt/__init__.py
  scripts/CMakeLists.txt
  scripts/FilterEvents.py
  scripts/FilterEvents/CMakeLists.txt
  scripts/FilterEvents/ErrorMessage.ui
  scripts/FilterEvents/MainWindow.ui
  scripts/FilterEvents/MplFigureCanvas.py
  scripts/FilterEvents/eventFilterGUI.py
Labels: Component: Workbench

#23824 Make SampleLogs figure double clickable for new plot
  qt/python/mantidqt/widgets/samplelogs/__init__.py
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_presenter.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: Component: Workbench

#23820 Allow workbench to open but not run a script
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: Workbench

#23695 Fix bug when reducing a series of files
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
Labels: Component: Diffraction, Group: Powder, Misc: Bug, Misc: Easy

#23625 Pulled STL file code out of LoadSampleShape
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadAsciiStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadBinaryStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadStl.h
  Framework/DataHandling/src/LoadAsciiStl.cpp
  Framework/DataHandling/src/LoadBinaryStl.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/src/LoadStl.cpp
  Framework/DataHandling/test/LoadAsciiStlTest.h
  Framework/DataHandling/test/LoadBinaryStlTest.h
  Framework/DataHandling/test/LoadSampleShapeTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#23834 Move TofConverter to qtpy and add to workbench
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/TofConverter.py
  scripts/TofConverter/converter.ui
  scripts/TofConverter/converterGUI.py
Labels: Component: Workbench

#23823 Indirect - Data Corrections - ApplyAbsorptionCorrections tab adjustments
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/Elwin.ui
  qt/scientific_interfaces/Indirect/Iqt.ui
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23839 Uninitialized variable in ReflectometryReductionOneLiveData
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
Labels: Component: Reflectometry, Misc: Bug, Misc: Easy

#23646 Stitch1DMany: stitching period data for group workspaces
  Framework/Algorithms/inc/MantidAlgorithms/Stitch1DMany.h
  Framework/Algorithms/src/Stitch1DMany.cpp
  Framework/Algorithms/test/Stitch1DManyTest.h
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry, Misc: Bug

#23842 Fix error running matplotlib containing interfaces in workbench
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: GUI, Component: Workbench, Misc: Bug, Priority: High

#23715 Extract computations from ReflectometryMomentumTransfer to a separate algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryBeamStatistics.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryMomentumTransfer.h
  Framework/Algorithms/src/ReflectometryBeamStatistics.cpp
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
  Framework/Algorithms/test/ReflectometryBeamStatisticsTest.h
  Framework/Algorithms/test/ReflectometryMomentumTransferTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/ReflectometryBeamStatistics-v1.rst
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPolarizationCor-v1.rst
  docs/source/algorithms/ReflectometryILLSumForeground-v1.rst
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/diagrams/ReflectometryILLConvertToQ-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLSumForeground-v1_wkflw.dot
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry

#23790 Indirect - ConvFit - Improve the PDF's generated using FABADA minimiser
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitSequential.h
  Framework/CurveFitting/inc/MantidCurveFitting/FuncMinimizers/FABADAMinimizer.h
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  Framework/CurveFitting/test/FuncMinimizers/FABADAMinimizerTest.h
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#23805 Indirect - Data Reduction - Disable run, plot and save options while processing
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ILLEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.h
  qt/scientific_interfaces/Indirect/ISISCalibration.ui
  qt/scientific_interfaces/Indirect/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/ISISDiagnostics.h
  qt/scientific_interfaces/Indirect/ISISDiagnostics.ui
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/IndirectDataReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReduction.h
  qt/scientific_interfaces/Indirect/IndirectDataReduction.ui
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.h
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectMoments.h
  qt/scientific_interfaces/Indirect/IndirectMoments.ui
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.h
  qt/scientific_interfaces/Indirect/IndirectSqw.ui
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.h
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.ui
  qt/scientific_interfaces/Indirect/IndirectTransmission.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmission.h
  qt/scientific_interfaces/Indirect/IndirectTransmission.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23841 Set constraintPenaltyFactor in IntegratePeaksProfileFitting
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/functions/BivariateGaussian.py
  Framework/PythonInterface/plugins/functions/ICConvoluted.py
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Component: Diffraction, Group: Single Crystal

#23608 SpectrumDetectorMapping constructor
  Framework/API/inc/MantidAPI/SpectrumDetectorMapping.h
  Framework/API/src/SpectrumDetectorMapping.cpp
  Framework/API/test/SpectrumDetectorMappingTest.h
  Framework/Algorithms/src/CopyDetectorMapping.cpp
Labels: Misc: Maintenance

#23843 No duplicate peak numbers
  Framework/Crystal/src/SaveIsawPeaks.cpp
  Framework/Crystal/test/SaveIsawPeaksTest.h
Labels: Component: Diffraction, Group: Single Crystal, Misc: Bug

#23649 IndirectFittingModel Unit tests
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#23856 Add unicode support to UsageService in python
  Framework/PythonInterface/mantid/kernel/src/Exports/UsageService.cpp
  Framework/PythonInterface/test/python/mantid/kernel/UsageServiceTest.py
Labels: Component: Python

#23826 Add unicode support to ConfigService
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/Converters/PyObjectToString.h
  Framework/PythonInterface/mantid/kernel/src/Converters/PyObjectToString.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigService.cpp
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
Labels: Component: Python

#23853 Update ISIS powder docs from mantid help feedback
  docs/source/techniques/ISISPowder-Tutorials.rst
Labels: Component: Documentation, Quality: Documentation

#23559 ISIS Powder Pearl Prevent issues in Vanadium Spline
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70Atten.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70_absorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_all.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_groups.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_trans.nxs.md5
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_output.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23854 Move QE coverage to workbench
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/DGSPlanner/DGSPlannerGUI.py
  scripts/QECoverage.py
  scripts/TofConverter/converterGUI.py
  scripts/gui_helper.py
Labels: Component: GUI, Component: Python, Component: Workbench

#23713 Load an ANSTO EMU datafile (no ticket)
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadANSTOEventFile.h
  Framework/DataHandling/inc/MantidDataHandling/LoadEMU.h
  Framework/DataHandling/src/LoadEMU.cpp
  Framework/DataHandling/src/LoadInstrument.cpp
  Framework/DataHandling/test/LoadEMUauTest.h
  Testing/Data/UnitTest/EMU0006330.tar.md5
  docs/source/algorithms/LoadEMU-v1.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  instrument/EMUau_Definition.xml
  instrument/EMUau_Parameters.xml
  instrument/Facilities.xml
Labels: Component: Indirect Inelastic

#22032 HB3A Single point measurement peak integration
  docs/source/interfaces/HFIR Single Crystal Reduction.rst
  scripts/HFIR_4Circle_Reduction.py
  scripts/HFIR_4Circle_Reduction/CMakeLists.txt
  scripts/HFIR_4Circle_Reduction/FindUBUtility.py
  scripts/HFIR_4Circle_Reduction/IntegrateSingePtSubWindow.py
  scripts/HFIR_4Circle_Reduction/MainWindow.ui
  scripts/HFIR_4Circle_Reduction/NTableWidget.py
  scripts/HFIR_4Circle_Reduction/PeaksIntegrationReport.py
  scripts/HFIR_4Circle_Reduction/PreprocessWindow.py
  scripts/HFIR_4Circle_Reduction/SinglePtIntegrationWindow.ui
  scripts/HFIR_4Circle_Reduction/detector2dview.py
  scripts/HFIR_4Circle_Reduction/downloaddialog.py
  scripts/HFIR_4Circle_Reduction/fourcircle_utility.py
  scripts/HFIR_4Circle_Reduction/general1dviewer.ui
  scripts/HFIR_4Circle_Reduction/generalplotview.py
  scripts/HFIR_4Circle_Reduction/guiutility.py
  scripts/HFIR_4Circle_Reduction/hfctables.py
  scripts/HFIR_4Circle_Reduction/integratedpeakview.py
  scripts/HFIR_4Circle_Reduction/message_dialog.py
  scripts/HFIR_4Circle_Reduction/mpl2dgraphicsview.py
  scripts/HFIR_4Circle_Reduction/mplgraphicsview.py
  scripts/HFIR_4Circle_Reduction/multi_threads_helpers.py
  scripts/HFIR_4Circle_Reduction/optimizelatticewindow.py
  scripts/HFIR_4Circle_Reduction/peak_integration_utility.py
  scripts/HFIR_4Circle_Reduction/peakprocesshelper.py
  scripts/HFIR_4Circle_Reduction/plot3dwindow.py
  scripts/HFIR_4Circle_Reduction/reduce4circleControl.py
  scripts/HFIR_4Circle_Reduction/reduce4circleGUI.py
  scripts/HFIR_4Circle_Reduction/refineubfftsetup.py
  scripts/HFIR_4Circle_Reduction/viewspicedialog.py
Labels: Component: Diffraction, Component: GUI, Group: Single Crystal

#23482 Improvements to the directtools module
  docs/source/release/v3.14.0/direct_inelastic.rst
  scripts/directtools/__init__.py
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Direct Inelastic, Component: Python

#23852 PyChop qt4/qt5 compatible
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/PyChop.py
  scripts/PyChop/PyChopGui.py
  tools/scripts/pyqt4_to_qtpy.py
Labels: Component: GUI, Component: Workbench

#23866 Take care of deprecated hold in PyChop
  scripts/PyChop/PyChopGui.py
Labels: Component: GUI, Component: Workbench

#23744 Remove non-sync scan feature from DetectorInfo.
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  Framework/Algorithms/inc/MantidAlgorithms/MergeRuns.h
  Framework/Algorithms/inc/MantidAlgorithms/NormaliseToMonitor.h
  Framework/Algorithms/src/MergeRuns.cpp
  Framework/Algorithms/src/NormaliseToMonitor.cpp
  Framework/Algorithms/test/CreateSampleWorkspaceTest.h
  Framework/Algorithms/test/MergeRunsTest.h
  Framework/Algorithms/test/NormaliseToMonitorTest.h
  Framework/Beamline/inc/MantidBeamline/ComponentInfo.h
  Framework/Beamline/inc/MantidBeamline/DetectorInfo.h
  Framework/Beamline/src/ComponentInfo.cpp
  Framework/Beamline/src/DetectorInfo.cpp
  Framework/Beamline/test/ComponentInfoTest.h
  Framework/Beamline/test/DetectorInfoTest.h
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/DataObjects/inc/MantidDataObjects/ScanningWorkspaceBuilder.h
  Framework/DataObjects/src/ScanningWorkspaceBuilder.cpp
  Framework/DataObjects/test/ScanningWorkspaceBuilderTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentInfo.h
  Framework/Geometry/inc/MantidGeometry/Instrument/DetectorInfo.h
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/ComponentInfo.cpp
  Framework/Geometry/src/Instrument/DetectorInfo.cpp
  Framework/Geometry/src/Instrument/InstrumentVisitor.cpp
  Framework/Geometry/test/ComponentInfoTest.h
Labels: Component: Framework

#23340 ILL SANS Reduction
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CalculateDynamicRange.h
  Framework/Algorithms/src/AddSampleLog.cpp
  Framework/Algorithms/src/CalculateDynamicRange.cpp
  Framework/Algorithms/test/CalculateDynamicRangeTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Testing/Data/DocTest/ILL/D11/010413.nxs.md5
  Testing/Data/DocTest/ILL/D11/010414.nxs.md5
  Testing/Data/DocTest/ILL/D11/010444.nxs.md5
  Testing/Data/DocTest/ILL/D11/010445.nxs.md5
  Testing/Data/DocTest/ILL/D11/010446.nxs.md5
  Testing/Data/DocTest/ILL/D11/010453.nxs.md5
  Testing/Data/DocTest/ILL/D11/010454.nxs.md5
  Testing/Data/DocTest/ILL/D11/010455.nxs.md5
  Testing/Data/DocTest/ILL/D11/010460.nxs.md5
  Testing/Data/DocTest/ILL/D11/010462.nxs.md5
  Testing/Data/DocTest/ILL/D11/010560.nxs.md5
  Testing/Data/DocTest/ILL/D11/010569.nxs.md5
  Testing/Data/DocTest/ILL/D11/010585.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010413.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010414.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010444.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010445.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010446.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010453.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010454.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010455.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010460.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010462.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010569.nxs.md5
  Testing/Data/UnitTest/ILL/D11/010585.nxs.md5
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  docs/source/algorithms/CalculateDynamicRange-v1.rst
  docs/source/algorithms/SANSILLReduction-v1.rst
  docs/source/algorithms/SANSReduction-v1.rst
  docs/source/diagrams/ILLSANS-v1_absorber_wkflw.dot
  docs/source/diagrams/ILLSANS-v1_beam_wkflw.dot
  docs/source/diagrams/ILLSANS-v1_container_wkflw.dot
  docs/source/diagrams/ILLSANS-v1_reference_wkflw.dot
  docs/source/diagrams/ILLSANS-v1_sample_wkflw.dot
  docs/source/diagrams/ILLSANS-v1_transmission_wkflw.dot
  docs/source/release/v3.14.0/framework.rst
  docs/source/release/v3.14.0/sans.rst
  docs/source/release/v3.9.0/framework.rst
Labels: Component: SANS

#23664 Refactor threading on sans gui
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/work_handler.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/models/run_summation.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/create_file_information.py
  scripts/SANS/sans/gui_logic/presenter/diagnostic_presenter.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/work_handler_listener_wrapper.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/beam_centre_model_test.py
  scripts/test/SANS/gui_logic/create_file_information_test.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/diagnostics_page_presenter_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: Python

#23851 Indirect - Separate plot contour and spectrum options for S(Q,w) Tab
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.h
  qt/scientific_interfaces/Indirect/IndirectSqw.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23865 BASIS: Correct TOF for fast neutrons
  Framework/PythonInterface/plugins/algorithms/BASISPowderDiffraction.py
  Testing/SystemTests/tests/analysis/BASISTest.py
  Testing/SystemTests/tests/analysis/reference/BASISPowderSample.nxs.md5
  docs/source/algorithms/BASISPowderDiffraction-v1.rst
  docs/source/images/BASISPowderDiffraction_2.png
  docs/source/images/BASISPowderDiffraction_3.png
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic

#23844 Fixes #21701 - Refactor and update sample correction documentation
  docs/source/concepts/AbsorptionAndMultipleScattering.rst
  docs/source/concepts/MultipleScattering.rst
  docs/source/images/AbsorptionVolume.png
Labels: Component: Documentation, Quality: Documentation

#23684 Add in sample geometry columns
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/Interface/ui/sans_isis/work_handler.py
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS

#23889 Expose MatrixWorkspace::isCommonBins to python
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/api/MatrixWorkspaceTest.py
Labels: Component: Python, Component: Workbench

#23876 Project Recovery: Made call to config earlier
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ProjectRecovery.cpp
  MantidPlot/src/ProjectRecovery.h
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Framework, Component: GUI, Component: Project Recovery, Misc: Easy

#23882 Project Recovery: Script Builder Logging turned off
  Framework/API/src/ScriptBuilder.cpp
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Framework, Component: Project Recovery, Misc: Easy

#23884 Add fitPenalty as argument to TOF functions
  scripts/SCD_Reduction/BVGFitTools.py
  scripts/SCD_Reduction/ICCFitTools.py
Labels: Component: Diffraction, Group: Single Crystal

#23891 ISIS Powder Gem Add keyword to allow disabling of subtract empty
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#23880 Fix warnings building on MacOS High Sierra.
  CMakeLists.txt
  Framework/Catalog/inc/MantidCatalog/OAuth.h
Labels: Misc: Clang

#23766 Reduce workspace history duplication
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/AlgorithmHistory.h
  Framework/API/src/AlgorithmHistory.cpp
  Framework/API/src/WorkspaceHistory.cpp
  Framework/API/test/AlgorithmHistoryTest.h
  Framework/API/test/CMakeLists.txt
  Framework/API/test/HistoryItemTest.h
  Framework/API/test/WorkspaceHistoryIOTest.h
  Framework/API/test/WorkspaceHistoryTest.h
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  Framework/Algorithms/test/LineProfileTest.h
Labels: Component: Framework, Misc: Core, Priority: High

#23906 Fix windows build link issues
  Framework/API/inc/MantidAPI/SpectrumInfoIterator.h
  Framework/Geometry/inc/MantidGeometry/Instrument/DetectorInfoIterator.h
Labels: Priority: High

#23862 Indirect - ConvFit - Fix bug with reading Q values from wrong workspace
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
Labels: Component: Indirect Inelastic, Misc: Bug
