Repository mantidproject/mantid, pull requests merged in 2019-09, with the labels that each got.

#26720 Add options to SaveMD for MDHistoWorkspace
  Framework/API/inc/MantidAPI/ExperimentInfo.h
  Framework/API/src/ExperimentInfo.cpp
  Framework/MDAlgorithms/src/SaveMD2.cpp
  Framework/MDAlgorithms/test/SaveMD2Test.h
  docs/source/release/v4.2.0/framework.rst
Labels: Diffraction, Direct Inelastic, Framework, Single Crystal

#26711 Update GPSANS instrument definition file
  Framework/DataHandling/inc/MantidDataHandling/LoadHFIRSANS.h
  Framework/DataHandling/src/LoadHFIRSANS.cpp
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  docs/source/release/v4.2.0/sans.rst
  instrument/CG2_Definition.xml
Labels: Bug, SANS

#26739 Workaround a bug in argparse with arguments starting with a dash
  Testing/SystemTests/scripts/InstallerTests.py
  Testing/SystemTests/scripts/runSystemTests.py
Labels: High Priority, System Tests

#26727 Updates on workbench markers
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/markeredit.ui
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/plotting/markers.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Python, Workbench

#26742 Fix add_python_package for mantid package
  .cmake-format.json
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/setup.py.in
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  qt/applications/workbench/CMakeLists.txt
  qt/python/CMakeLists.txt
Labels: Added during Sprint, Framework

#26713 Update codebase ready for C++17
  Framework/API/src/CompositeFunction.cpp
  Framework/Algorithms/src/Bin2DPowderDiffraction.cpp
  Framework/Algorithms/src/CalculateTransmissionBeamSpreader.cpp
  Framework/Algorithms/src/CreateSampleWorkspace.cpp
  Framework/Algorithms/src/CrossCorrelate.cpp
  Framework/Algorithms/src/FFTSmooth.cpp
  Framework/Algorithms/src/GetEi2.cpp
  Framework/Algorithms/src/GetQsInQENSData.cpp
  Framework/Algorithms/src/MaxMin.cpp
  Framework/Algorithms/src/Minus.cpp
  Framework/Algorithms/src/MultiplyRange.cpp
  Framework/Algorithms/src/Plus.cpp
  Framework/Algorithms/src/PointByPointVCorrection.cpp
  Framework/Algorithms/src/Regroup.cpp
  Framework/Algorithms/src/ScaleX.cpp
  Framework/Algorithms/src/SofQWCentre.cpp
  Framework/Algorithms/test/WienerSmoothTest.h
  Framework/Crystal/src/FindSXPeaksHelper.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/VesuvioCalculateGammaBackground.cpp
  Framework/CurveFitting/src/Functions/ChebfunBase.cpp
  Framework/CurveFitting/src/Functions/ComptonPeakProfile.cpp
  Framework/CurveFitting/src/Functions/ComptonProfile.cpp
  Framework/CurveFitting/src/Functions/Convolution.cpp
  Framework/CurveFitting/src/Functions/GramCharlierComptonProfile.cpp
  Framework/CurveFitting/src/Functions/VesuvioResolution.cpp
  Framework/CurveFitting/test/Algorithms/CalculateChiSquaredTest.h
  Framework/CurveFitting/test/Algorithms/EvaluateFunctionTest.h
  Framework/CurveFitting/test/Functions/ComptonScatteringCountRateTest.h
  Framework/CurveFitting/test/Functions/GaussianComptonProfileTest.h
  Framework/CurveFitting/test/Functions/GramCharlierComptonProfileTest.h
  Framework/CurveFitting/test/Functions/InelasticIsoRotDiffTest.h
  Framework/CurveFitting/test/Functions/MultivariateGaussianComptonProfileTest.h
  Framework/CurveFitting/test/Functions/TeixeiraWaterSQETest.h
  Framework/CurveFitting/test/Functions/VesuvioResolutionTest.h
  Framework/DataHandling/src/FilterEventsByLogValuePreNexus.cpp
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadEventPreNexus2.cpp
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/src/LoadRawHelper.cpp
  Framework/DataHandling/src/SaveCanSAS1D.cpp
  Framework/DataHandling/src/SaveISISNexus.cpp
  Framework/Geometry/src/Math/Acomp.cpp
  Framework/Geometry/src/Math/BnId.cpp
  Framework/Geometry/src/Math/PolyBase.cpp
  Framework/Geometry/src/Surfaces/LineIntersectVisit.cpp
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/test/MatrixTest.h
  Framework/Nexus/src/NexusClasses.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/Property.cpp
  buildconfig/CMake/SipQtTargetFunctions.cmake
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.h
  qt/widgets/mplcpp/src/Figure.cpp
  tools/sip/sipwrapper.py
Labels: Framework

#26722 Make the text box in the ColorSelector widget editable
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/colorselector.py
Labels: ISIS Team: CoreTeam, Python, Workbench

#26455 Remove Qt5 libraries from macOS MantidPlot.app bundle
  MantidPlot/make_package.rb.in
  qt/applications/workbench/make_package.rb.in
  qt/icons/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/mplcpp/CMakeLists.txt
Labels: Maintenance, macOS Only

#26730 Document BufferThreshold for Kafka event stream
  docs/source/algorithms/StartLiveData-v1.rst
Labels: Documentation, Live Data

#26744 Resize the remove curve button in figure options
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/curves_tab.ui
Labels: ISIS Team: CoreTeam, Windows Only, Workbench

#26737 ignore nan values in FindCenterOfMassPosition
  Framework/Algorithms/src/FindCenterOfMassPosition2.cpp
  Framework/Algorithms/test/FindCenterOfMassPosition2Test.h
Labels: SANS

#26756 Use vector::emplace_back to avoid a false positive warning
  qt/scientific_interfaces/ISISReflectometry/Common/Clipboard.cpp
Labels: High Priority

#26684 Mask all possible proton pulses in HRPD data
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: Diffraction, ISIS Team: Diffraction

#26738 IN16B: relax run merging rules
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_BATS.nxs.md5
  instrument/IN16B_Parameters.xml
Labels: Added during Sprint, Indirect Inelastic

#26757 Ensure users can close Workbench after closing the Load Project dialog
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/test/test_project.py
Labels: High Priority, ISIS Team: CoreTeam, Workbench

#26718 Implement incident spectrum fitting algorithm
  Framework/PythonInterface/plugins/algorithms/CalculateEfficiencyCorrection.py
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CalculateEfficiencyCorrectionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/FitIncidentSpectrumTest.py
  docs/source/algorithms/FitIncidentSpectrum-v1.rst
  docs/source/release/v4.2.0/framework.rst
Labels: Diffraction, ISIS Team: Diffraction, Powder

#26673 SaveHKL now saves tbar/transmission for non-spherical shapes
  Framework/API/test/SampleTest.h
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/CalculateCarpenterSampleCorrection.cpp
  Framework/Algorithms/src/HRPDSlabCanAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/src/SphericalAbsorption.cpp
  Framework/Algorithms/test/CopySampleTest.h
  Framework/Algorithms/test/CylinderAbsorptionTest.h
  Framework/Crystal/inc/MantidCrystal/SaveHKL.h
  Framework/Crystal/src/AnvredCorrection.cpp
  Framework/Crystal/src/SaveHKL.cpp
  Framework/Crystal/test/LoadHKLTest.h
  Framework/Crystal/test/SaveHKLTest.h
  Framework/Crystal/test/SortHKLTest.h
  Framework/DataHandling/inc/MantidDataHandling/CreateSampleShape.h
  Framework/DataHandling/inc/MantidDataHandling/SetSample.h
  Framework/DataHandling/src/CreateSampleShape.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/src/SetSampleMaterial.cpp
  Framework/DataHandling/test/SetSampleMaterialTest.h
  Framework/DataHandling/test/SetSampleTest.h
  Framework/Geometry/inc/MantidGeometry/Objects/ShapeFactory.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Sphere.h
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Geometry/src/Surfaces/Sphere.cpp
  Framework/Geometry/test/SphereTest.h
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/test/MaterialTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/SaveReflectionsTest.py
  docs/source/algorithms/SaveHKL-v1.rst
  docs/source/release/v4.2.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#26617 Make fit work with tableworkspaces
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/ExcludeRangeFinder.h
  Framework/CurveFitting/inc/MantidCurveFitting/TableWorkspaceDomainCreator.h
  Framework/CurveFitting/src/ExcludeRangeFinder.cpp
  Framework/CurveFitting/src/FitMW.cpp
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  Framework/CurveFitting/src/IMWDomainCreator.cpp
  Framework/CurveFitting/src/TableWorkspaceDomainCreator.cpp
  Framework/CurveFitting/test/TableWorkspaceDomainCreatorTest.h
  docs/source/algorithms/Fit-v1.rst
  qt/python/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
Labels: Fitting, ISIS Team: CoreTeam

#26758 Tweaks to ISIS powder scripts for HRPD
  Testing/SystemTests/tests/analysis/HRPDPowderDiffraction.py
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  Testing/SystemTests/tests/analysis/ISIS_PowderGeneric.py
  Testing/SystemTests/tests/analysis/ISIS_PowderHRPDTest.py
  Testing/SystemTests/tests/analysis/ISIS_PowderPearlTest.py
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  Testing/SystemTests/tests/analysis/reference/HRPD66063_focused.nxs.md5
  Testing/SystemTests/tests/analysis/reference/HRPDPowderDiffraction.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098472_splined.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70Atten.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70_absorb.nxs.md5
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/techniques/ISISPowder-GEM-v1.rst
  docs/source/techniques/ISISPowder-HRPD-v1.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/CMakeLists.txt
  scripts/Diffraction/isis_powder/CMakeLists.txt
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/gem_routines/gem_advanced_config.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_advanced_config.py
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_param_mapping.py
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_algs.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_calibration_algs.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_advanced_config.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/common_output.py
  scripts/Diffraction/isis_powder/test/ISISPowderAbsorptionTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderAbstractInstrumentTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderCommonTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderFocusCropTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderGemOutputTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderInstrumentSettingsTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderRunDetailsTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderSampleDetailsTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderYamlParserTest.py
  scripts/Diffraction/isis_powder/test/__init__.py
  scripts/test/CMakeLists.txt
  scripts/test/isis_powder/CMakeLists.txt
  scripts/test/isis_powder/ISISPowderAbstractInstrumentTest.py
Labels: Diffraction, ISIS Team: Diffraction

#26761 GPSANS: correct translation equation along X-axis
  instrument/CG2_Definition.xml
Labels: Bug, SANS

#26765 Add CHESS and ZEEMANS instruments to SNS
  docs/source/release/v4.2.0/direct_geometry.rst
  instrument/Facilities.xml
Labels: Direct Inelastic

#26763 Remove seeAlso list containing only an empty string
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
Labels: Documentation, Easy

#26747 Update script repository endpoints to https
  Framework/Kernel/CMakeLists.txt
  Framework/Properties/Mantid.properties.template
  Framework/ScriptRepository/src/ScriptRepositoryImpl.cpp
  Framework/ScriptRepository/test/ScriptRepositoryTestImpl.h
  docs/source/concepts/PropertiesFile.rst
Labels: Added during Sprint, ISIS Team: Diffraction

#26770 Update Facilities.xml
  instrument/Facilities.xml
Labels: Framework

#26764 Fix system tests on macOS
  MantidPlot/make_package.rb.in
  Testing/SystemTests/scripts/InstallerTests.py
  qt/paraview_ext/VatesAlgorithms/CMakeLists.txt
Labels: Added during Sprint, High Priority, ISIS Team: Diffraction, System Tests, macOS Only

#26699 Improved workspace grouping in ReflectometryISISLoadAndProcess
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/release/v4.2.0/reflectometry.rst
Labels: ISIS Team: LSS, Reflectometry

#26791 Reload instrument when chunking
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  docs/source/release/v4.2.0/diffraction.rst
Labels: Bug, Diffraction, Powder

#26759 26743 utilities in Nexus geometry
  Framework/DataHandling/test/CMakeLists.txt
  Framework/DataHandling/test/LoadNexusProcessed2Test.h
  Framework/DataHandling/test/SaveNexusESSTest.h
  Framework/DataHandling/test/SaveNexusGeometryTest.h
  Framework/NexusGeometry/src/NexusGeometrySave.cpp
  Framework/NexusGeometry/test/CMakeLists.txt
  Framework/NexusGeometry/test/NexusGeometrySaveTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/ComponentCreationHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/FileResource.h
  Framework/TestHelpers/src/FileResource.cpp
Labels: Framework, Unit Tests

#26796 Resolve Framework warnings on Linux Clang
  Framework/Geometry/inc/MantidGeometry/Surfaces/Cone.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Cylinder.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/General.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Plane.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Quadratic.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Sphere.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Torus.h
Labels: Easy, Linux Only, Low Priority

#26799 Hide PeakParameterFunction from gui dialogs
  Framework/Properties/Mantid.properties.template
  docs/source/concepts/PropertiesFile.rst
Labels: Easy, Fitting, ISIS Team: CoreTeam

#26628 iTableWorkspace update GUI when removeColumn is called in Work…
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_view.py
Labels: Bug, Workbench

#26800 Add 0 scale validators to reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/Reduction/ParseReflectometryStrings.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateRow.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ParseReflectometryStringsTest.h
Labels: Bug, Easy, ISIS Team: LSS

#26775 nGEM Data Loader Created
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadNGEM.h
  Framework/DataHandling/src/Load.cpp
  Framework/DataHandling/src/LoadNGEM.cpp
  Framework/DataHandling/test/LoadNGEMTest.h
  Testing/Data/UnitTest/GEM000005_00_000_short.edb.md5
  docs/source/algorithms/LoadNGEM-v1.rst
  docs/source/release/v4.2.0/framework.rst
  instrument/Facilities.xml
  instrument/NGEM_Definition.xml
Labels: Framework, ISIS Team: Diffraction

#26807 Fix indexing bug in IndexPeak algorithms
  Framework/Crystal/inc/MantidCrystal/PredictFractionalPeaks.h
  Framework/Crystal/src/FindSXPeaks.cpp
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/src/IndexPeaksWithSatellites.cpp
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/Crystal/test/IndexPeaksWithSatellitesTest.h
  docs/source/release/v4.2.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#26809 in line 400 `self.chunksize` has to be `self.chunkSize`
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
Labels: Diffraction, Powder, Python

#26755 Poisson Cost Function
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/CostFunctions/CostFuncFitting.h
  Framework/CurveFitting/inc/MantidCurveFitting/CostFunctions/CostFuncLeastSquares.h
  Framework/CurveFitting/inc/MantidCurveFitting/CostFunctions/CostFuncPoisson.h
  Framework/CurveFitting/inc/MantidCurveFitting/CostFunctions/CostFuncRwp.h
  Framework/CurveFitting/inc/MantidCurveFitting/FuncMinimizers/LevenbergMarquardtMDMinimizer.h
  Framework/CurveFitting/inc/MantidCurveFitting/GSLMatrix.h
  Framework/CurveFitting/inc/MantidCurveFitting/ParDomain.h
  Framework/CurveFitting/inc/MantidCurveFitting/SeqDomain.h
  Framework/CurveFitting/src/Algorithms/CalculateChiSquared.cpp
  Framework/CurveFitting/src/CostFunctions/CostFuncFitting.cpp
  Framework/CurveFitting/src/CostFunctions/CostFuncLeastSquares.cpp
  Framework/CurveFitting/src/CostFunctions/CostFuncPoisson.cpp
  Framework/CurveFitting/src/FuncMinimizers/LevenbergMarquardtMDMinimizer.cpp
  Framework/CurveFitting/src/GSLMatrix.cpp
  Framework/CurveFitting/src/GSLVector.cpp
  Framework/CurveFitting/src/ParDomain.cpp
  Framework/CurveFitting/src/SeqDomain.cpp
  Framework/CurveFitting/test/CostFuncPoissonTest.h
  Framework/CurveFitting/test/CostFunctions/CostFuncFittingTest.h
  docs/source/release/v4.2.0/framework.rst
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26589 Create a script from a matplotlib figure
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/utility.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/axes.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/figure.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/lines.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratoraxes.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorfigure.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorlines.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorutils.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/utils.py
  qt/applications/workbench/workbench/plotting/test/test_figuremanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
Labels: ISIS Team: CoreTeam, Workbench

#26813 Mark masked spectra in plots as masked numpy arrays
  Framework/PythonInterface/mantid/plots/helperfunctions.py
Labels: Bug, Python, Workbench

#26772 Figure Options Legend Tab
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotssaver.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/advancedlegendoptionsdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/advancedlegendoptionsdialog/advanced_legend_options.ui
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/advancedlegendoptionsdialog/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/legend_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
Labels: ISIS Team: CoreTeam, Python, Workbench

#26815 Revert changed input parameters
  Framework/CurveFitting/src/Algorithms/CalculateChiSquared.cpp
Labels: Easy

#26671 Sync instrument across components in the reflectometry GUI
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/IEventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/IInstrumentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISavePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerProcessingTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Instrument/InstrumentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterProcessingTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#26709 Added unit tests for GroupTOFWorkspaces property
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
Labels: Easy, ISIS Team: LSS, Reflectometry

#26785 Added Besselfunction
  Framework/PythonInterface/plugins/functions/Bessel.py
  Framework/PythonInterface/test/python/plugins/functions/BesselTest.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  docs/source/fitting/fitfunctions/Bessel.rst
  docs/source/images/Bessel.png
Labels: Easy, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26828 Fix comment in history
  Framework/API/src/ScriptBuilder.cpp
Labels: Bug

#26817 Fix case sensitivity in LoadInstrument
  Framework/DataHandling/src/LoadInstrument.cpp
  Framework/DataHandling/test/LoadInstrumentTest.h
  docs/source/release/v4.2.0/framework.rst
Labels: Bug, Framework

#26721 Create 1:1 spec-det map when message is missing
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
Labels: Live Data

#26842 Adding plot markers no longer raises error on early mpl versions
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: ISIS Team: CoreTeam, Workbench

#26820 Remove references to MantidPlot from Workbench
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/exception_handler/error_messagebox.py
  qt/widgets/common/src/ScriptEditor.cpp
  qt/widgets/common/src/SelectWorkspacesDialog.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspacePresenter.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
  qt/widgets/instrumentview/src/RotationSurface.cpp
Labels: Easy, ISIS Team: CoreTeam

#26861 Add system tests for algorithms
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  Testing/Data/SystemTest/SNAP_45874.nxs.h5.md5
  Testing/SystemTests/tests/analysis/AlignAndFocusPowderFromFilesTest.py
  Testing/SystemTests/tests/analysis/SNAPRedux.py
Labels: Diffraction, Powder, System Tests

#25935 Conventional cells for satellite peaks
  Framework/Crystal/src/OptimizeLatticeForCellType.cpp
  Framework/Crystal/src/SelectCellOfType.cpp
  Framework/Crystal/src/SelectCellWithForm.cpp
  Framework/Crystal/src/TransformHKL.cpp
  Framework/Geometry/inc/MantidGeometry/Crystal/OrientedLattice.h
  Framework/Geometry/src/Crystal/OrientedLattice.cpp
  docs/source/release/v4.2.0/diffraction.rst
Labels: Diffraction, Single Crystal

#26789 Restore help button to Manage User Directories
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/Mantid/FirstTimeSetup.cpp
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/manageuserdirectories.py
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/scientific_interfaces/ISISSANS/SANSAddFiles.cpp
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.cpp
  qt/scientific_interfaces/Indirect/IndirectInterface.cpp
  qt/scientific_interfaces/Indirect/IndirectInterface.h
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/ManageUserDirectories.h
  qt/widgets/common/src/ManageUserDirectories.cpp
  scripts/Interface/ui/sans_isis/run_selector_widget.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/Muon/GUI/Common/load_widget/load_view.py
  scripts/test/Muon/help_widget_presenter_test.py
Labels: ISIS Team: CoreTeam, Workbench

#26863 Changed duplicate DetectorInfo link to ComponentInfo
  docs/source/concepts/InstrumentAccessLayers.rst
Labels: Documentation, Easy

#26825 Add FmuF to fit function
  Framework/PythonInterface/plugins/functions/FmuF.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/FmuFTest.py
  docs/source/fitting/fitfunctions/FmuF.rst
  docs/source/images/FmuF.png
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26814 Add ability to filter message window statements
  docs/source/images/Workbench/MessageWindow/MessagesWidgetContextMenu.png
  docs/source/release/v4.2.0/mantidworkbench.rst
  docs/source/workbench/messageswindow.rst
  docs/source/workbench/scriptwindow.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/logmessagedisplay.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/messagedisplay.py
  qt/python/mantidqt/widgets/test/test_messagedisplay.py
  qt/widgets/common/inc/MantidQtWidgets/Common/Message.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MessageDisplay.h
  qt/widgets/common/src/Message.cpp
  qt/widgets/common/src/MessageDisplay.cpp
Labels: ISIS Team: CoreTeam

#26784 S(Q, w) table checks
  Framework/Algorithms/inc/MantidAlgorithms/SofQWNormalisedPolygon.h
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/test/SofQWNormalisedPolygonTest.h
  docs/source/release/v4.2.0/indirect_geometry.rst
Labels: Easy, ISIS Team: Spectroscopy, Indirect Inelastic

#26783 add Placzek correction algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CalculatePlaczekSelfScattering.h
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/Algorithms/test/CalculatePlaczekSelfScatteringTest.h
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  docs/source/algorithms/CalculatePlaczekSelfScattering-v1.rst
  docs/source/release/v4.2.0/framework.rst
Labels: Diffraction, ISIS Team: Diffraction

#26858 Fixes streaming issues identified at last V20 experiment
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
Labels: Live Data

#26893 Indirect fixed window scan with sample angle
  Framework/DataHandling/src/LoadNGEM.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWSTest.py
  Testing/Data/UnitTest/ILL/IN16B/252832.nxs.md5
  docs/source/release/v4.2.0/indirect_geometry.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/Message.h
  qt/widgets/common/src/Message.cpp
Labels: Added during Sprint, Easy, Indirect Inelastic

#26860 Correct run numbers in Kafka event stream
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
Labels: Bug, Live Data

#26873 Add instrument definition for NEAT at HZB
  docs/source/release/v4.2.0/framework.rst
  instrument/Facilities.xml
  instrument/NEAT_Definition.xml
Labels: Added during Sprint, Easy, Framework, ISIS Team: Diffraction

#26668 Add "Apply to All" buttons to the plot options sub-tabs
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/curves_tab_errorbars_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/curves_tab_line_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/curves_tab_marker_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
Labels: ISIS Team: CoreTeam, Python, Workbench
