Repository mantidproject/mantid, pull requests merged in 2019-08, with the labels that each got.

#26377 Indirect - Replace old output plotting widgets
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v4.2.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.h
  qt/scientific_interfaces/Indirect/ISISCalibration.ui
  qt/scientific_interfaces/Indirect/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/ISISDiagnostics.h
  qt/scientific_interfaces/Indirect/ISISDiagnostics.ui
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.h
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectMoments.h
  qt/scientific_interfaces/Indirect/IndirectMoments.ui
  qt/scientific_interfaces/Indirect/IndirectPlotOptions.ui
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsModel.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsModel.h
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsPresenter.h
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsView.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsView.h
  qt/scientific_interfaces/Indirect/IndirectPlotter.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotter.h
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.h
  qt/scientific_interfaces/Indirect/IndirectSqw.ui
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.h
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.ui
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/IndirectTransmission.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmission.h
  qt/scientific_interfaces/Indirect/IndirectTransmission.ui
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectPlotOptionsModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectPlotOptionsPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectPlotterTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic, Maintenance

#26484 Add YAPF configuration and developer docs
  .style.yapf
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/windows/thirdpartypaths.bat.in
  dev-docs/source/Standards/PythonStandards.rst
Labels: Code Quality

#26504 Warn if saving >10GB on MantidPlot
  Framework/Properties/Mantid.properties.template
  MantidPlot/src/ProjectSaveView.cpp
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v4.2.0/mantidplot.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/ProjectSaveModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ProjectSavePresenter.h
  qt/widgets/common/src/ProjectSaveModel.cpp
  qt/widgets/common/src/ProjectSavePresenter.cpp
  qt/widgets/common/test/ProjectSaveModelTest.h
Labels: MantidPlot

#26358 Add VSCode task for debugging C++ in Workbench
  dev-docs/source/VSCode.rst
Labels: Documentation

#26541 Add unit tests for reflectometry GUI defaults
  Framework/TestHelpers/inc/MantidTestHelpers/ReflectometryHelper.h
  Framework/TestHelpers/src/ReflectometryHelper.cpp
  instrument/unit_testing/REFLEMPTY_Definition.xml
  instrument/unit_testing/REFLEMPTY_Parameters.xml
  instrument/unit_testing/REFLMANDATORY_Definition.xml
  instrument/unit_testing/REFLMANDATORY_Parameters.xml
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Instrument/InstrumentOptionDefaultsTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#26507 LoadPSIMuonBin: Allow all expected PSI muon bin data to be loadable
  Framework/DataHandling/inc/MantidDataHandling/LoadPSIMuonBin.h
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  docs/source/release/v4.2.0/muon.rst
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26514 LoadPSIMuonBin: Handle poorly converted bin files better
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26516 Workbench: Make it possible to close an existing project and save it with a new name
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/project/project.py
Labels: Workbench

#26517 Add tests for parsing search results to reflectometry GUI
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/SearchResultTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#26523 Workbench: add a keyboard shortcut to create a new tab in the script editor
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/tab_widget/codeeditor_tab_view.py
Labels: Induction 2, Workbench

#26526 Workbench: Instrument rendering option now loads correctly
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
Labels: Induction 2, Workbench

#26472 IndirectILL harmonise grouping
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransferTest.py
  Testing/SystemTests/tests/analysis/ILLIndirectEnergyTransferBATS.py
  docs/source/algorithms/IndirectILLEnergyTransfer-v1.rst
  docs/source/release/v4.2.0/indirect_geometry.rst
Labels: Easy, Indirect Inelastic

#26508 Normalisation of fit results on workbench
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowserbase.py
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
Labels: Fitting, Workbench

#26263 Add remaining packages to build mantid-framework py3 on rhel7
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
Labels: Maintenance

#26520 Load dialog asterisk position and window resizing fix
  docs/source/release/v4.2.0/mantidplot.rst
  qt/widgets/plugins/algorithm_dialogs/src/LoadDialog.cpp
Labels: ISIS Team: CoreTeam, Induction 1, MantidPlot, Workbench

#26547 Move model creation functions to a TestHelpers subdirectory
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Instrument/InstrumentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterMergeJobsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterProcessingTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
Labels: Code Quality, Easy, ISIS Team: LSS, MantidPlot, Reflectometry

#26571 Correct ToF calculation in Kafka event decoder
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
Labels: Bug, High Priority, Live Data

#26444 Restructured elemental analysis peak data file
  scripts/MultiPlotting/subplot/subplot.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/Muon/GUI/ElementalAnalysis/peak_data.json
Labels: ISIS Team: Spectroscopy, MantidPlot, Muon, Python

#26562 Update Windows' build scripts for Visual Studio 2019
  Framework/Kernel/test/UnitLabelTest.h
  buildconfig/Jenkins/buildscript.bat
  buildconfig/Jenkins/cmakegenerator.bat
Labels: Maintenance, Windows Only

#26546 Sample Transmission Calculator: remove option to change y-axis to logarithmic
  docs/source/release/v4.2.0/mantidplot.rst
  qt/scientific_interfaces/General/SampleTransmission.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/PreviewPlot.h
  qt/widgets/plotting/src/Qwt/PreviewPlot.cpp
Labels: Induction 2, MantidPlot

#26519 Fix cancelling saving after attempting to close Workbench
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/test/test_project.py
Labels: Workbench

#26569 Updated workspace selection on run change
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26586 Fix LoadNexusMonitors2 bug
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
  Framework/DataHandling/test/LoadNexusMonitorsTest.h
  docs/source/release/v4.2.0/framework.rst
Labels: Patch Candidate

#26587 Fit browser crash on invalid default peak
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Fitting, Workbench

#26590 Update workbench tutorial with new list of interfaces.
  docs/source/tutorials/mantid_basic_course/using_workbench/04_What_is_missing.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/04_differences.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/index.rst
Labels: Documentation, ISIS Team: Diffraction

#26473 Investigate slow plotting during sequential fits in Muon Analysis
  docs/source/release/v4.2.0/muon.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
Labels: ISIS Team: Spectroscopy, Muon, Workbench

#26559 LoadPSIMuonBin: Max array value is chosen when each spectra has individual T0
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  Framework/DataHandling/test/LoadPSIMuonBinTest.h
  docs/source/release/v4.2.0/muon.rst
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26583 Overlay plots in tf asymmetry mode
  Framework/Muon/inc/MantidMuon/CalculateMuonAsymmetry.h
  Framework/Muon/src/CalculateMuonAsymmetry.cpp
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/test/Muon/home_plot_widget_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26446 Added elemental analysis tests
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/__init__.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/elemental_analysis/PeriodicTableModel_test.py
  scripts/test/Muon/elemental_analysis/PeriodicTablePresenter_test.py
  scripts/test/Muon/elemental_analysis/__init__.py
  scripts/test/Muon/elemental_analysis/detectors_presenter_test.py
  scripts/test/Muon/elemental_analysis/element_button_test.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
  scripts/test/Muon/elemental_analysis/lmodel_test.py
  scripts/test/Muon/elemental_analysis/load_model_test.py
  scripts/test/Muon/elemental_analysis/load_utils_test.py
  scripts/test/Muon/elemental_analysis/name_generator_test.py
  scripts/test/Muon/elemental_analysis/peak_selector_view_test.py
  scripts/test/Muon/elemental_analysis/periodic_combo_test.py
  scripts/test/Muon/elemental_analysis/periodic_list_test.py
  scripts/test/Muon/elemental_analysis/periodic_table_item_test.py
  scripts/test/Muon/elemental_analysis/periodic_table_test.py
Labels: ISIS Team: Spectroscopy, Muon, Python, Unit Tests

#26575 Whitespace now ignored in MultiFile names
  Framework/API/test/MultipleFilePropertyTest.h
  Framework/Kernel/src/MultiFileNameParser.cpp
  Framework/Kernel/test/MultiFileNameParserTest.h
  docs/source/release/v4.2.0/framework.rst
Labels: Framework, Induction 2

#26605 Added log copying in TF asymmetry mode
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26604 Fixing use of wrong unit in elemental analysis interface
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26597 Fix prompt pulse masking and vanadium peak masking in HRPD
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/16_5/ISIS_Powder-HRPD-VanSplined_66031_hrpd_new_072_01_corr.cal.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/VanaPeaks.dat.md5
  Testing/SystemTests/tests/analysis/reference/HRPD66063_focused.nxs.md5
  docs/source/release/v4.2.0/diffraction.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/hrpd_routines/Examples/Calibration/VanaPeaks.dat
  scripts/Diffraction/isis_powder/hrpd_routines/Examples/hrpd_config_example.yaml
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_advanced_config.py
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_param_mapping.py
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/routines/common.py
Labels: Diffraction, High Priority, ISIS Team: Diffraction

#26359 Interactive Tool use RangeMarker instead of VerticalMarker's
  qt/python/mantidqt/plotting/markers.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/mplcpp/src/PeakMarker.cpp
  qt/widgets/mplcpp/src/RangeMarker.cpp
  qt/widgets/mplcpp/src/SingleMarker.cpp
Labels: Fitting, Maintenance, Workbench

#26558 Rename Qt derived classes
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/QtEventView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/QtEventView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/QtInstrumentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/QtInstrumentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
Labels: Code Quality, Easy, ISIS Team: LSS, MantidPlot, Reflectometry

#26612 Removed abiliy to insert tabs via dropping in Muon Analysis
  scripts/Muon/GUI/Common/dock/dockable_tabs.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26606 Fix FDA error when no Im data and phaseQuad plot
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26561 Elemental Analysis color function now returns same color for same element
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
Labels: ISIS Team: Spectroscopy, Muon

#26518 Add unit tests for merging rows into the reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ReductionJobsMergeTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#26623 Workbench fixing table validation
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam, Muon

#26626 Delete the documentation for LatticeErrors function
  docs/source/fitting/fitfunctions/LatticeErrors.rst
Labels: Documentation, Easy

#26634 Update Indirect Output Plotting Documentations
  dev-docs/source/Testing/IndirectInelastic/IndirectInelasticAcceptanceTests.rst
  docs/source/interfaces/Indirect Corrections.rst
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/interfaces/Indirect Diffraction.rst
  docs/source/interfaces/Indirect Simulation.rst
Labels: Documentation, Indirect Inelastic

#26491 JSON Geometry Parser for Nexus-style Geometry
  Framework/NexusGeometry/CMakeLists.txt
  Framework/NexusGeometry/inc/MantidNexusGeometry/JSONGeometryParser.h
  Framework/NexusGeometry/inc/MantidNexusGeometry/NexusGeometryDefinitions.h
  Framework/NexusGeometry/src/JSONGeometryParser.cpp
  Framework/NexusGeometry/src/NexusGeometryParser.cpp
  Framework/NexusGeometry/test/CMakeLists.txt
  Framework/NexusGeometry/test/JSONGeometryParserTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/JSONGeometryParserTestHelper.h
  Framework/TestHelpers/src/JSONGeometryParserTestHelper.cpp
  Testing/Data/UnitTest/V20_file_write_start_20190524.json.md5
Labels: Live Data

#26510 Add main window tests for reflectometry GUI
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#26615 Elemental analysis plot correct lines when changing peak data file
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon, Python

#26622 EQSANSCorrectTofStructure: Use either path to individual pixel or to the center of the detector
  Framework/Algorithms/src/EQSANSCorrectFrame.cpp
  Framework/Algorithms/test/EQSANSCorrectFrameTest.h
  docs/source/release/v4.2.0/sans.rst
Labels: SANS

#26489 Fix ILLDetectorEfficiencyCorUser from being skipped on system test package builds
  Framework/PythonInterface/test/python/plugins/algorithms/MaskAngleTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/SortDetectorsTest.py
  Framework/PythonInterface/test/testhelpers/CMakeLists.txt
  Framework/PythonInterface/test/testhelpers/WorkspaceCreationHelper/WorkspaceCreationHelperModule.cpp
  Framework/PythonInterface/test/testhelpers/WorkspaceCreationHelper/__init__.py
  Framework/PythonInterface/test/testhelpers/__init__.py
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/runSystemTests.py
  Testing/SystemTests/tests/analysis/PVPythonTest.py
Labels: Added during Sprint, ISIS Team: Diffraction, Maintenance

#26579 Sample Transmission Calculator no longer accepts negative wavelength values
  docs/source/release/v4.2.0/mantidplot.rst
  qt/scientific_interfaces/General/SampleTransmission.cpp
Labels: Induction 2

#26651 Tests for FDA
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/fitting_tab_widget/workspace_selector_dialog_presenter_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/home_plot_widget_freq_test.py
  scripts/test/Muon/home_plot_widget_model_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_context_with_frequency_test.py
  scripts/test/Muon/transform_widget_new_test.py
  scripts/test/Muon/workspaceNaming_test.py
Labels: ISIS Team: Spectroscopy, Muon, Unit Tests

#26645 JSON Instrument Builder
  Framework/NexusGeometry/CMakeLists.txt
  Framework/NexusGeometry/inc/MantidNexusGeometry/JSONGeometryParser.h
  Framework/NexusGeometry/inc/MantidNexusGeometry/JSONInstrumentBuilder.h
  Framework/NexusGeometry/inc/MantidNexusGeometry/NexusShapeFactory.h
  Framework/NexusGeometry/src/JSONGeometryParser.cpp
  Framework/NexusGeometry/src/JSONInstrumentBuilder.cpp
  Framework/NexusGeometry/src/NexusShapeFactory.cpp
  Framework/NexusGeometry/test/JSONGeometryParserTest.h
  Framework/NexusGeometry/test/JSONInstrumentBuilderTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/JSONGeometryParserTestHelper.h
  Framework/TestHelpers/src/JSONGeometryParserTestHelper.cpp
Labels: Live Data

#26509 Port Indirect Bayes to the Workbench
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/ISISDiagnostics.h
  qt/scientific_interfaces/Indirect/IndirectBayes.cpp
  qt/scientific_interfaces/Indirect/IndirectBayes.ui
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/Quasi.cpp
  qt/scientific_interfaces/Indirect/Quasi.ui
  qt/scientific_interfaces/Indirect/ResNorm.cpp
  qt/scientific_interfaces/Indirect/ResNorm.ui
  qt/scientific_interfaces/Indirect/Stretch.cpp
  qt/scientific_interfaces/Indirect/Stretch.ui
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Qwt/RangeSelector.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic, Workbench

#26659 Add reflectometry GUI runs presenter tests
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidatePerThetaDefaults.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmRunner.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MockAlgorithmRunner.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ParseKeyValueString.h
  qt/widgets/common/src/ParseKeyValueString.cpp
  qt/widgets/common/test/ParseKeyValueStringTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#26625 ISIS Reflectometry: Save and Load individual batches
  Framework/Algorithms/src/ReflectometryReductionOneAuto3.cpp
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/QtEventView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/QtEventView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/QtInstrumentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionWorkspaces.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/CoderCommonTester.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/EncoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupInsertionTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/QtJSONUtils.h
  qt/widgets/common/src/QtJSONUtils.cpp
  qt/widgets/common/test/QtJSONUtilsTest.h
Labels: ISIS Team: LSS, Reflectometry

#26601 Plot: Save Dialog stops repeated calls to save
  MantidPlot/src/ProjectSaveView.cpp
  docs/source/release/v4.1.0/mantidplot.rst
Labels: MantidPlot

#26672 Delete old file no longer used after refactor
  scripts/save_python.py
Labels: Code Quality

#26656 Kafka Event Stream Decoder Json Instrument Parsing
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/src/Kafka/private/Schema/ba57_run_info_generated.h
  Framework/LiveData/src/Kafka/private/Schema/y2gw_run_info_generated.h
  Framework/LiveData/test/KafkaTesting.h
  Framework/NexusGeometry/src/JSONGeometryParser.cpp
  Framework/NexusGeometry/src/JSONInstrumentBuilder.cpp
  Framework/NexusGeometry/test/JSONGeometryParserTest.h
  docs/source/release/v4.2.0/framework.rst
  instrument/Facilities.xml
Labels: Live Data

#26681 Add option to ignore module import failure for system tests
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/InstallerTests.py
  Testing/SystemTests/scripts/runSystemTests.py
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/plotting.py
Labels: Added during Sprint, Framework

#26669 ISIS Reflectometry: Ensure batch tabs numbers are unique
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
Labels: ISIS Team: LSS, Reflectometry

#26655 Added tiled plotting functionality to workbench
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/spectraselectordialog.ui
  qt/python/mantidqt/dialogs/spectraselectorutils.py
  qt/python/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
  qt/python/mantidqt/plotting/test/test_tiledplots.py
Labels: ISIS Team: Spectroscopy, Workbench

#26670 ISIS Reflectometry: Reset row state if the reduced workspace is renamed/replaced
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerWorkspacesTest.h
Labels: ISIS Team: LSS, Reflectometry

#26665 Workbench: Move ProjectSave and ProjectLoad to a worker thread
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/test/test_project.py
  qt/python/mantidqt/project/test/test_projectloader.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#26683 Fix the axis quick editor tab order
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/axiseditor.ui
Labels: ISIS Team: CoreTeam, Workbench

#26687 Make the spectrum selector dialog select the spectrum number input box by default
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/dialogs/spectraselectordialog.ui
Labels: ISIS Team: CoreTeam, Workbench

#26667 Generate Script from Workspaces in Workbench
  Framework/PythonInterface/plugins/algorithms/OrderWorkspaceHistory.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/applications/workbench/workbench/projectrecovery/projectrecoverysaver.py
  qt/applications/workbench/workbench/utils/__init__.py
  qt/applications/workbench/workbench/utils/test/__init__.py
  qt/applications/workbench/workbench/utils/test/test_workspacehistorygeneration.py
  qt/applications/workbench/workbench/utils/windowfinder.py
  qt/applications/workbench/workbench/utils/workspacehistorygeneration.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#26696 Add chopper timestamps to Workspace Log
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaTopicSubscriber.h
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventListener.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoListener.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/src/Kafka/private/Schema/tdct_timestamps_generated.h
  Framework/LiveData/src/Kafka/private/Schema/y2gw_run_info_generated.h
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
Labels: Live Data

#26666 Adding markers to workbench plots
  docs/source/images/Workbench/PlotWindow/MarkerContextMenu.png
  docs/source/images/Workbench/PlotWindow/MarkerEditWindow.png
  docs/source/images/Workbench/PlotWindow/PlotWindowContextMenu.png
  docs/source/release/v4.2.0/mantidworkbench.rst
  docs/source/workbench/plotwindow.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/globalmarkereditor.ui
  qt/applications/workbench/workbench/plotting/markeredit.ui
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/singlemarkereditor.ui
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/plotting/markers.py
Labels: Added during Sprint, Python, Workbench

#26543 Upgrade GSL to v2 on Windows
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/mantid/CMakeLists.txt
  Framework/PythonInterface/mantid/__init__.py
  Framework/PythonInterface/mantid/_plugins/CMakeLists.txt
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/buildconfig.py.in
  Framework/PythonInterface/mantid/dataobjects/CMakeLists.txt
  Framework/PythonInterface/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/modest_image/CMakeLists.txt
  Framework/PythonInterface/mantid/py3compat/CMakeLists.txt
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/tests/analysis/EnginXScriptTest.py
  Testing/SystemTests/tests/analysis/ISISIndirectInelastic.py
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  buildconfig/CMake/Bootstrap.cmake
Labels: ISIS Team: Diffraction, Maintenance

#26635 Abins maintenance tweaks
  Framework/PythonInterface/plugins/algorithms/Abins.py
  scripts/AbinsModules/AbinsData.py
  scripts/AbinsModules/AtomsData.py
  scripts/AbinsModules/FrequencyPowderGenerator.py
  scripts/AbinsModules/GeneralAbInitioProgram.py
  scripts/AbinsModules/IOmodule.py
  scripts/AbinsModules/Instruments/Instrument.py
  scripts/AbinsModules/Instruments/ToscaInstrument.py
  scripts/AbinsModules/SPowderSemiEmpiricalCalculator.py
  scripts/AbinsModules/SingleCrystalData.py
  scripts/AbinsModules/__init__.py
  scripts/test/AbinsAtomsDataTest.py
  scripts/test/AbinsFrequencyPowderGeneratorTest.py
  scripts/test/AbinsIOmoduleTest.py
Labels: Code Quality, ISIS Team: Spectroscopy, Indirect Inelastic, Python

#26695 Add icons to colormap selector in plot options
  Framework/PythonInterface/mantid/plots/utility.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/images_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/view.py
Labels: ISIS Team: CoreTeam

#26714 Removed FABADA minimizer from Muon Analysis
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon, Python

#26716 Plot legend shows label instead of spectrum number if the spectrum has a label
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  docs/source/release/v4.2.0/mantidworkbench.rst
Labels: ISIS Team: CoreTeam, Workbench

#26599 Plotting of specific lines in elemental analysis
  scripts/MultiPlotting/edit_windows/remove_plot_window.py
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/MultiPlotting/subplot/subplot_ADS_observer.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_view.py
  scripts/Muon/GUI/ElementalAnalysis/LineSelector/LineSelectorPresenter.py
  scripts/Muon/GUI/ElementalAnalysis/LineSelector/LineSelectorView.py
  scripts/Muon/GUI/ElementalAnalysis/LineSelector/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_model.py
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/plotting_test.py
  scripts/test/MultiPlotting/MultiPlotWidget_test.py
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
  scripts/test/MultiPlotting/Subplot_test.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#26723 Catch and fail system tests if the any error is detected
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/runSystemTests.py
Labels: High Priority, System Tests

#26715 Fix the difference still being plotted when Plot Difference is unticked
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Bug, Fitting, ISIS Team: CoreTeam, Workbench

#26708 Adding plot guess to fitting in muon analysis
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/home_plot_widget_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon, Python

#26728 Make plot legend movable after removing plot guess
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Bug, Fitting, ISIS Team: CoreTeam, Workbench

#26638 Added tests for elemental analysis data file
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table.py
  scripts/test/Muon/elemental_analysis/detectors_presenter_test.py
  scripts/test/Muon/elemental_analysis/element_button_test.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
  scripts/test/Muon/elemental_analysis/lmodel_test.py
  scripts/test/Muon/elemental_analysis/load_model_test.py
  scripts/test/Muon/elemental_analysis/name_generator_test.py
  scripts/test/Muon/elemental_analysis/peak_data_file_test.py
  scripts/test/Muon/elemental_analysis/peak_selector_view_test.py
  scripts/test/Muon/elemental_analysis/periodic_combo_test.py
  scripts/test/Muon/elemental_analysis/periodic_list_test.py
  scripts/test/Muon/elemental_analysis/periodic_table_item_test.py
  scripts/test/Muon/elemental_analysis/periodic_table_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon, Python

#26058 Muon peak finding algorithm
  Framework/PythonInterface/plugins/__init__.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FindPeaksAutomatic.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FitGaussianPeaks.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/__init__.py
  Framework/PythonInterface/plugins/algorithms/__init__.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FindPeakAutomaticTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FitGaussianPeaksTest.py
  docs/source/algorithms/FindPeaksAutomatic-v1.rst
  docs/source/algorithms/FitGaussianPeaks-v1.rst
Labels: ISIS Team: Spectroscopy, Muon, Python

#26470 MultipleFileProperty to allow empty tokens
  Framework/API/inc/MantidAPI/MultipleFileProperty.h
  Framework/API/src/MultipleFileProperty.cpp
  Framework/API/test/MultipleFilePropertyTest.h
  Framework/PythonInterface/mantid/api/src/Exports/MultipleFileProperty.cpp
  docs/source/release/v4.2.0/framework.rst
Labels: Framework

#26682 Fix the colorbar in the colorfill plot window not resizing correctly
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
Labels: Python, Workbench
