Repository mantidproject/mantid, pull requests merged in 2019-06, with the labels that each got.

#25735 Fix issues in load sample
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleEnvironment.h
  Framework/DataHandling/src/LoadAsciiStl.cpp
  Framework/DataHandling/src/LoadBinaryStl.cpp
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Testing/SystemTests/tests/analysis/complexShapeAbsorptionsTest.py
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartTranslated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentTranslatedAbsorb.nxs.md5
  docs/source/algorithms/LoadSampleEnvironment-v1.rst
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction, Quality: System Tests, Quality: Unit Tests

#25827 Add support for step size in IntArrayProperty
  Framework/Kernel/inc/MantidKernel/PropertyHelper.h
  Framework/Kernel/test/ArrayPropertyTest.h
  docs/source/api/python/mantid/api/MultipleFileProperty.rst
  docs/source/api/python/mantid/kernel/IntArrayProperty.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Framework

#25661 Indirect Reduction - Load detailed balance from Sample logs
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
Labels: Component: Indirect Inelastic

#25816 ISIS Pearl Longmode fix
  Testing/SystemTests/tests/analysis/ISIS_PowderPearlTest.py
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_algs.py
  scripts/Diffraction/isis_powder/routines/run_details.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#25684 LoadPSIMuonBin Algorithm Improvements
  Framework/DataHandling/inc/MantidDataHandling/LoadPSIMuonBin.h
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  Framework/DataHandling/test/LoadPSIMuonBinTest.h
  Testing/Data/UnitTest/PSI/run_1529_templs0.mon.md5
  docs/source/algorithms/LoadPSIMuonBin-v1.rst
Labels: Component: Muon

#25757 Add developer documentation GUI Guidelines for Icons
  dev-docs/source/GUIDesignGuidelines.rst
  dev-docs/source/MantidUsedIconsTable.rst
  dev-docs/source/images/LocalIcons/adjust.png
  dev-docs/source/images/LocalIcons/arrow-all.png
  dev-docs/source/images/LocalIcons/arrow-down.png
  dev-docs/source/images/LocalIcons/arrow-expand-all.png
  dev-docs/source/images/LocalIcons/arrow-up.png
  dev-docs/source/images/LocalIcons/asterisk.png
  dev-docs/source/images/LocalIcons/chart-areaspline.png
  dev-docs/source/images/LocalIcons/chart-line.png
  dev-docs/source/images/LocalIcons/close.png
  dev-docs/source/images/LocalIcons/collapse-all.png
  dev-docs/source/images/LocalIcons/content-copy.png
  dev-docs/source/images/LocalIcons/content-cut.png
  dev-docs/source/images/LocalIcons/content-paste.png
  dev-docs/source/images/LocalIcons/content-save.png
  dev-docs/source/images/LocalIcons/eraser.png
  dev-docs/source/images/LocalIcons/expand-all.png
  dev-docs/source/images/LocalIcons/file-export.png
  dev-docs/source/images/LocalIcons/file-move.png
  dev-docs/source/images/LocalIcons/folder.png
  dev-docs/source/images/LocalIcons/grid.png
  dev-docs/source/images/LocalIcons/help-circle-outline.png
  dev-docs/source/images/LocalIcons/home.png
  dev-docs/source/images/LocalIcons/magnify-plus-outline.png
  dev-docs/source/images/LocalIcons/pause.png
  dev-docs/source/images/LocalIcons/play.png
  dev-docs/source/images/LocalIcons/plus.png
  dev-docs/source/images/LocalIcons/settings.png
  dev-docs/source/images/LocalIcons/sigma.png
  dev-docs/source/images/LocalIcons/square.png
  dev-docs/source/images/LocalIcons/stethoscope.png
  dev-docs/source/images/LocalIcons/table-plus.png
  dev-docs/source/images/LocalIcons/table-remove.png
  dev-docs/source/images/LocalIcons/table-row-plus-after.png
  dev-docs/source/images/LocalIcons/table-row-remove.png
  dev-docs/source/images/LocalIcons/table.png
  dev-docs/source/images/LocalIcons/trash-can.png
  dev-docs/source/images/LocalIcons/twitter-retweet.png
  dev-docs/source/index.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: Documentation, Quality: Documentation

#25605 Workbench: ISIS Reflectometry C++ GUI
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/Plotter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Reduction/CMakeLists.txt
  qt/scientific_interfaces/test/ISISReflectometry/Plotting/PlotterTestQt4.h
  qt/scientific_interfaces/test/ISISReflectometry/Plotting/PlotterTestQt5.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTableView.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/IJobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/JobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/MockJobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserSubWindow.h
  qt/widgets/common/src/Batch/JobTreeView.cpp
  qt/widgets/common/src/Batch/JobTreeViewSignalAdapter.cpp
  qt/widgets/mplcpp/CMakeLists.txt
  scripts/muon_analysis_3.py
Labels: Component: GUI, Component: Reflectometry, Component: Workbench

#25835 Porting Indirect Diffraction interface
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/InstrumentSelector.h
  qt/widgets/common/src/InstrumentSelector.cpp
Labels: Component: Indirect Inelastic, Component: Workbench

#25805 Adding results tab to new Muon Analysis Interface
  Framework/PythonInterface/inc/MantidPythonInterface/kernel/PropertyWithValueExporter.h
  Framework/PythonInterface/mantid/api/src/Exports/Run.cpp
  Framework/PythonInterface/test/python/mantid/api/RunTest.py
  Framework/PythonInterface/test/python/mantid/kernel/PropertyWithValueTest.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/list_selector/list_selector_presenter.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/Muon/GUI/Common/results_tab_widget/__init__.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_view.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_view.ui
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_widget.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/list_selector/list_selector_presenter_test.py
  scripts/test/Muon/results_tab_widget/__init__.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
  scripts/test/Muon/results_tab_widget/results_tab_presenter_test.py
Labels: Priority: High

#25832 Update cmake format with our custom functions
  .cmake-format.json
Labels: Misc: Maintenance

#25813 Change diagnostic page icon to a stethoscope
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: GUI, Misc: Easy

#25397 SortXAxis Vector Subscript out of range error
  Framework/Algorithms/src/SortXAxis.cpp
  Framework/Algorithms/test/SortXAxisTest.h
  Testing/Data/SystemTest/TSC04970.raw.md5
  Testing/SystemTests/tests/analysis/ISISIndirectInelastic.py
  Testing/SystemTests/tests/analysis/reference/II.TOSCAReductionOfOldRunNumber.nxs.md5
Labels: Component: Framework, Component: Indirect Inelastic, Misc: Bug

#25849 Fix TypeError in Calibration
  docs/source/release/v4.1.0/framework.rst
  scripts/Calibration/tube_calib.py
Labels: Component: Framework, Misc: Bug

#25846 Final functionality for Workbench Corrections Interface
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  buildconfig/CMake/WindowsNSISQt5.cmake
  qt/python/mantidqt/plotting/functions.py
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.h
  qt/scientific_interfaces/Indirect/IndirectCorrections.cpp
  qt/scientific_interfaces/Indirect/IndirectCorrections.ui
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.ui
  qt/scientific_interfaces/Indirect/IndirectSettings.cpp
  qt/scientific_interfaces/Indirect/IndirectSettings.h
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Python/QHashToDict.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Axes.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Plot.h
  qt/widgets/mplcpp/src/Axes.cpp
  qt/widgets/mplcpp/src/MantidAxes.cpp
  qt/widgets/mplcpp/src/Plot.cpp
  qt/widgets/mplcpp/test/AxesTest.h
  qt/widgets/mplcpp/test/MplCppTestInitialization.h
  qt/widgets/mplcpp/test/PlotTest.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
Labels: Component: Indirect Inelastic

#25838 Tidy up naming of fit workspaces in ads
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/xml_utils_test.py
Labels: Component: GUI, Component: Muon

#25834 ISIS Powder Pearl Long-mode attenuation
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#25754 Created workbench tutorial in mantid basics course.
  docs/source/images/MantidPlot_example.png
  docs/source/images/MantidWorkbench_example.png
  docs/source/images/Workbench_Plots_Toolbox.png
  docs/source/images/Workbench_algorithms_plots_tab.png
  docs/source/images/Workbench_interface_list.png
  docs/source/images/Workbench_script_new.png
  docs/source/images/Workbench_script_options.png
  docs/source/images/Workbench_workspace_context_menu.png
  docs/source/images/exerciseWorkbench_part_1_figure.png
  docs/source/images/exerciseWorkbench_part_2_figure.png
  docs/source/images/mantid_folder.png
  docs/source/images/workbench_plot_options.png
  docs/source/images/workbench_plot_window.png
  docs/source/tutorials/mantid_basic_course/index.rst
  docs/source/tutorials/mantid_basic_course/live_data_analysis/01_why_analyse_live_data.rst
  docs/source/tutorials/mantid_basic_course/live_data_analysis/02_live_data_workflow.rst
  docs/source/tutorials/mantid_basic_course/live_data_analysis/03_live_data_user_interface.rst
  docs/source/tutorials/mantid_basic_course/live_data_analysis/04_examples.rst
  docs/source/tutorials/mantid_basic_course/live_data_analysis/index.rst
  docs/source/tutorials/mantid_basic_course/multi_dimensional_workspaces/01_editing_multi_dimensional_workspaces.rst
  docs/source/tutorials/mantid_basic_course/multi_dimensional_workspaces/02_multi_dimensional_visualisation.rst
  docs/source/tutorials/mantid_basic_course/multi_dimensional_workspaces/index.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/01_opening_mantid_workbench.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/02_plotting_in_workbench.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/03_Working_with_Python_in_Workbench.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/04_What_is_missing.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/05_Exercises.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/index.rst
Labels: Component: Documentation, Component: Workbench

#25840 Expose muon analysis 2 to users
  Framework/Properties/Mantid.properties.template
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_data_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
Labels: Component: GUI, Component: Muon

#25863 Adding remove if to mantid axes
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
Labels: Component: Python

#25859 FunctionBrowser add/remove function bug.
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/test/FunctionModelTest.h
Labels: Component: GUI, Misc: Bug

#25860 Port Indirect Tools and Simulation
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectLoadILL.cpp
  qt/scientific_interfaces/Indirect/IndirectLoadILL.h
  qt/scientific_interfaces/Indirect/IndirectSimulation.cpp
  qt/scientific_interfaces/Indirect/IndirectSimulation.ui
  qt/scientific_interfaces/Indirect/IndirectTools.cpp
  qt/scientific_interfaces/Indirect/IndirectTools.ui
Labels: Component: Indirect Inelastic, Component: Workbench

#25854 Throw clear error when invalid periods in LoadEventNexus
  Framework/DataHandling/inc/MantidDataHandling/LoadEventNexus.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/ProcessBankData.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Kernel/test/TimeSeriesPropertyTest.h
  Testing/Data/UnitTest/SANS2D00059115_corrupted.nxs.md5
  docs/source/algorithms/LoadEventNexus-v1.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Framework, Misc: Bug, Priority: High

#25808 Remove warning
  Framework/Algorithms/src/FindCenterOfMassPosition2.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/Workspace2D.cpp
Labels: Component: Framework

#25759 Predict integer peaks duplicates
  Framework/Crystal/src/PredictSatellitePeaks.cpp
Labels: Component: Diffraction, Group: Single Crystal

#25540 Add new method for reflectometry background subtraction
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryBackgroundSubtraction.h
  Framework/Algorithms/src/ReflectometryBackgroundSubtraction.cpp
  Framework/Algorithms/test/ReflectometryBackgroundSubtractionTest.h
  Framework/Algorithms/test/ReflectometryBackgroundSubtractionTest.py
  Framework/PythonInterface/plugins/algorithms/LRSubtractAverageBackground.py
  docs/source/algorithms/ReflectometryBackgroundSubtraction-v1.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25875 Removed old wish test
  Testing/Data/SystemTest/35922_h00_RW.cal.md5
  Testing/Data/SystemTest/35979-foc-h00.nxs.md5
  Testing/Data/SystemTest/35980-foc-h00.nxs.md5
  Testing/Data/SystemTest/35981-foc-h00.nxs.md5
  Testing/Data/SystemTest/35982-foc-h00.nxs.md5
  Testing/Data/SystemTest/35983-foc-h00.nxs.md5
  Testing/Data/SystemTest/35984-foc-h00.nxs.md5
  Testing/Data/SystemTest/35988-foc-h00.nxs.md5
  Testing/Data/SystemTest/35991-foc-h00.nxs.md5
  Testing/Data/SystemTest/35992-foc-h00.nxs.md5
  Testing/Data/SystemTest/35993-foc-h00.nxs.md5
  Testing/Data/SystemTest/WISH00035991.raw.md5
  Testing/SystemTests/tests/analysis/ISIS_WISHDiffractionFocussing.py
  Testing/SystemTests/tests/analysis/reference/35991-foc-h00.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISHDiffractionFocussingResult.nxs.md5
Labels: Component: Python, Quality: Dead Code, Quality: System Tests

#25876 Add all results for simultaneous fit to Muon fit model
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
Labels: Component: Muon, Priority: High

#25756 Add normalization option to workbench figures
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/plotting/test/test_functions.py
Labels: Component: Workbench

#25807 SANS Reduction Non-compatibility mode
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/MaskBinsFromWorkspace.h
  Framework/Algorithms/src/MaskBinsFromWorkspace.cpp
  Framework/Algorithms/test/MaskBinsFromWorkspaceTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Testing/SystemTests/tests/analysis/SANSReductionCoreTest.py
  docs/source/algorithms/MaskBinsFromWorkspace-v1.rst
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: SANS

#25892 Expose getMaxOrder to python
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/UnitCell.cpp
  docs/source/release/v4.1.0/diffraction.rst
Labels: Priority: High

#25886 Fix matplotlib backend warning when running system tests
  scripts/PyChop/__init__.py
Labels: Quality: System Tests

#25804 Modified Set Sample to account for cylinder axis
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/SetSampleTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/Elastic_angles.txt
Labels: Component: Framework

#25888 Muon analysis qlineedit signal not emmitiing
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/test/Muon/utilities/run_string_utils_conversion_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25902 Sansill reduction test quickfix
  Framework/Kernel/src/ConfigService.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
Labels: Priority: High

#25853 Remove SortXAxis temporary property and fix TOSCA Workflow
  Framework/Algorithms/src/SortXAxis.cpp
  Framework/Algorithms/test/SortXAxisTest.h
  Testing/SystemTests/tests/analysis/reference/II.TOSCAReductionOfOldRunNumber.nxs.md5
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Indirect Inelastic

#25889 Adding composite functions to function browser list
  Framework/API/inc/MantidAPI/FunctionFactory.h
  Framework/API/src/FunctionFactory.cpp
Labels: Component: Fitting

#25890 Prep work for tf asymm
  Framework/Muon/src/CalculateMuonAsymmetry.cpp
  Framework/Muon/src/ConvertFitFunctionForMuonTFAsymmetry.cpp
  Framework/Muon/src/MuonGroupingAsymmetry.cpp
  docs/source/algorithms/CalculateMuonAsymmetry-v1.rst
  docs/source/algorithms/ConvertFitFunctionForMuonTFAsymmetry-v1.rst
  docs/source/algorithms/MuonGroupingAsymmetry-v1.rst
Labels: Component: Muon

#25895 Add SANS support to MaskBTP
  Framework/PythonInterface/mantid/geometry/src/Exports/ICompAssembly.cpp
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  docs/source/release/v4.1.0/sans.rst
Labels: Component: SANS

#25864 Muon Analysis: Only display single parameter in results for global parameters
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Component: Muon

#25836 Save Environment Algorithm
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/SaveSampleEnvironmentAndShape.h
  Framework/DataHandling/inc/MantidDataHandling/SaveStl.h
  Framework/DataHandling/src/SaveSampleEnvironmentAndShape.cpp
  Framework/DataHandling/src/SaveStl.cpp
  Framework/DataHandling/test/SaveSampleEnvironmentAndShapeTest.h
  Framework/DataHandling/test/SaveStlTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/BinaryStreamReader.h
  Framework/Kernel/inc/MantidKernel/BinaryStreamWriter.h
  Framework/Kernel/src/BinaryStreamReader.cpp
  Framework/Kernel/src/BinaryStreamWriter.cpp
  Framework/Kernel/test/BinaryStreamWriterTest.h
  docs/source/algorithms/SaveSampleEnvironmentAndShape-v1.rst
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction, Component: Framework

#25912 SliceViewer bug fixes
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Misc: Bug

#25903 Adding basic single plots to muon Analysis
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_view.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/home_plot_widget_model_test.py
  scripts/test/Muon/home_plot_widget_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Component: GUI, Component: Muon, Component: Python, Priority: High

#25660 IndexUB with commonUB only for no modulation vector
  Framework/Crystal/src/IndexPeaks.cpp
Labels: Component: Diffraction, Group: Single Crystal

#25905 Add lots of links between docs
  docs/source/api/python/mantid/api/SpectrumInfo.rst
  docs/source/api/python/mantid/geometry/ComponentInfo.rst
  docs/source/api/python/mantid/geometry/DetectorInfo.rst
  docs/source/concepts/ComponentInfo.rst
  docs/source/concepts/DetectorInfo.rst
  docs/source/concepts/InstrumentAccessLayers.rst
Labels: Component: Documentation

#25824 Peak range property changed to take spectra
  Framework/Algorithms/src/ReflectometryBackgroundSubtraction.cpp
  Framework/Algorithms/test/ReflectometryBackgroundSubtractionTest.py
  docs/source/algorithms/ReflectometryBackgroundSubtraction-v1.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25882 Group TOF workspaces
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25730 Reflectometry GUI Restructuring 10: Autoprocess
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IMessageHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IPlotter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Plotter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Plotter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/Autoreduction.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/Autoreduction.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CatalogRunNotifier.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CatalogRunNotifier.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IAutoreduction.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunNotifier.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/JobsViewUpdater.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/CatalogRunNotifierTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/PlotterTestQt4.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/PlotterTestQt5.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ReductionJobsMergeTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/CatalogRunNotifierTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
  qt/widgets/common/src/BatchAlgorithmRunner.cpp
Labels: Component: GUI, Component: Reflectometry

#25914 Make Sliceviewer work with QT4 again
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/colorbar/colorbar.py
Labels: Misc: Bug

#25833 Add option to change workspace names
  Framework/Algorithms/inc/MantidAlgorithms/FilterEvents.h
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/src/GenerateEventsFilter.cpp
  Framework/Algorithms/test/FilterEventsTest.h
  Framework/PythonInterface/plugins/algorithms/ReflectometrySliceEventWorkspace.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/algorithms/FilterEvents-v1.rst
  docs/source/algorithms/GenerateEventsFilter-v1.rst
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v4.1.0/framework.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25924 Fix broken test
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
Labels: Priority: High, Quality: Unit Tests

#25850 IN16B BATS energy transfer reduction
  Framework/DataHandling/inc/MantidDataHandling/LoadILLIndirect2.h
  Framework/DataHandling/src/LoadILLIndirect2.cpp
  Framework/DataHandling/test/LoadILLIndirect2Test.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransferTest.py
  Testing/Data/SystemTest/ILL/IN16B/215962.nxs.md5
  Testing/Data/SystemTest/ILL/IN16B/215967.nxs.md5
  Testing/Data/SystemTest/ILL/IN16B/215968.nxs.md5
  Testing/Data/UnitTest/ILL/IN16B/215962.nxs.md5
  Testing/SystemTests/tests/analysis/ILLIndirectEnergyTransferBATS.py
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_BATS.nxs.md5
  docs/source/algorithms/IndirectILLEnergyTransfer-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  instrument/Grouping/IN16B_Grouping_Equatorial.xml
  instrument/IN16B_Parameters.xml
  instrument/IN16B_silicon_111_Parameters.xml
  instrument/IN16B_silicon_311_Parameters.xml
Labels: Component: Indirect Inelastic, Priority: High

#25710 Convert bytes to string before updating SANS gui model
  Framework/PythonInterface/mantid/py3compat/__init__.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/test/SANS/common/general_functions_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Misc: Bug

#25911 Muon results table logs display improvements
  Framework/DataHandling/src/ISISRunLogs.cpp
  Framework/Geometry/src/Instrument/XMLInstrumentParameter.cpp
  Framework/Geometry/test/XMLInstrumentParameterTest.h
  Framework/Kernel/inc/MantidKernel/LogParser.h
  Framework/Kernel/src/LogParser.cpp
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Muon/test/PlotAsymmetryByLogValueTest.h
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fit_information_test.py
  scripts/test/Muon/fit_parameters_test.py
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/home_runinfo_presenter_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Component: Muon, Priority: High

#25940 fixed system test tolerance
  Testing/SystemTests/tests/analysis/ILLIndirectEnergyTransferBATS.py
Labels: Priority: High

#25919 Add EQSANSCorrectFrame algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/EQSANSCorrectFrame.h
  Framework/Algorithms/src/EQSANSCorrectFrame.cpp
  Framework/Algorithms/test/EQSANSCorrectFrameTest.h
  docs/source/algorithms/EQSANSCorrectFrame-v1.rst
  docs/source/release/v4.1.0/sans.rst
Labels: Component: Framework, Component: SANS

#25818 Muon Analysis results tab docs
  docs/source/images/muon_interface_data_selection.png
  docs/source/images/muon_interface_tab_fitting_browser.png
  docs/source/images/muon_interface_tab_results.png
  docs/source/interfaces/Muon Analysis 2.rst
  docs/source/interfaces/muon_fitting_tab.rst
  docs/source/interfaces/muon_results_tab.rst
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
Labels: Component: Documentation, Component: Muon, Quality: Documentation

#25943 Muon Analysis 2 Ensured that fits always display on-top of raw data
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
Labels: Component: GUI, Component: Muon, Priority: High

#25887 Optimise SANS reductions for event slices
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceGroup.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreEventSlice.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCorePreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction2.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReductionBase.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/__init__.py
  Testing/SystemTests/tests/analysis/SANSSingleReductionTest.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/bundles.py
  scripts/SANS/sans/algorithm_detail/single_execution.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/compatibility.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/state_director.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
  scripts/test/SANS/common/general_functions_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Component: SANS

#25967 removed unused gem test
  Testing/SystemTests/tests/analysis/GEMTests.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Misc: Easy, Quality: System Tests

#25858 VSCode Guide Developer Documentation
  dev-docs/source/VSCode.rst
  dev-docs/source/images/VSCode/debug-button.png
  dev-docs/source/images/VSCode/debug-cog-button.png
  dev-docs/source/images/VSCode/extension-button.png
  dev-docs/source/index.rst
Labels: Component: Documentation

#25950 Trap errors with invalid facility/instrument names in Workbench settings
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
Labels: Component: Workbench

#25965 changed pearl longmode spline coefficient
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Misc: Easy

#25922 Increment <locations> detector names
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  docs/source/concepts/InstrumentDefinitionFile.rst
  docs/source/release/v4.1.0/framework.rst
  instrument/Schema/IDF/1.0/IDFSchema.xsd
Labels: Component: Framework

#25798 GUI Restructuring 11: Progress bar
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Plotter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CatalogRunNotifier.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunNotifier.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerProcessingTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerProgressBarTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerWorkspacesTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Instrument/InstrumentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupDeletionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupInsertionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterMergeJobsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterProgressBarTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterRowDeletionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterRowInsertionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#25685 LoadPSIMuonBin Muon GUI Integration
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  instrument/Facilities.xml
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/context_example/context_example_view.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/dummy/dummy_view.py
  scripts/Muon/GUI/Common/dummy_label/dummy_label_view.py
  scripts/Muon/GUI/Common/load_file_widget/model.py
  scripts/Muon/GUI/Common/load_file_widget/presenter.py
  scripts/Muon/GUI/Common/load_file_widget/view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_model.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/thread_model.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/muon_file_utils.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/MuonAnalysis/dock/dock_widget.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_runinfo_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_data_context_test.py
  scripts/test/Muon/utilities/load_utils_test.py
Labels: Component: GUI, Component: Muon

#25843 Reflectometry GUI Restructuring 12: live monitor settings
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ParseKeyValueString.h
  qt/widgets/common/src/ParseKeyValueString.cpp
Labels: Component: GUI, Component: Reflectometry

#25865 GroupWorkspaces allows a Workspace with the same name as the group
  Framework/API/inc/MantidAPI/AnalysisDataService.h
  Framework/API/inc/MantidAPI/WorkspaceGroup.h
  Framework/API/src/AnalysisDataService.cpp
  Framework/API/src/WorkspaceGroup.cpp
  Framework/API/test/AnalysisDataServiceTest.h
  Framework/API/test/WorkspaceGroupTest.h
  Framework/Algorithms/src/GroupWorkspaces.cpp
  Framework/Algorithms/test/GroupWorkspacesTest.h
  Framework/PythonInterface/plugins/algorithms/RefinePowderDiffProfileSeq.py
  Testing/SystemTests/tests/analysis/WishMasking.py
Labels: Component: Framework, Component: Project Recovery

#25910 New methods for solid angle for SANS
  Framework/Algorithms/inc/MantidAlgorithms/SolidAngle.h
  Framework/Algorithms/src/SolidAngle.cpp
  Framework/Algorithms/test/SolidAngleTest.h
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/SANSSolidAngleCorrection.h
  Framework/WorkflowAlgorithms/src/SANSSolidAngleCorrection.cpp
  docs/source/algorithms/SolidAngle-v1.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: SANS

#25991 Remove generate notebook checkbox
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.ui
Labels: Component: GUI, Component: Reflectometry, Misc: Easy, Priority: High

#25985 Option to turn off plot autoscaling in Workbench
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
Labels: Component: Muon, Component: Workbench

#25999 Runs table not cleared on autoprocess
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupDeletionTest.h
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Misc: Easy, Priority: High

#25974 ISIS Pearl crop to avoid noise in long-mode
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#26003 Update SANS test script
  dev-docs/source/Testing/SANSGUI/SANSGUITests.rst
Labels: Quality: Manual Tests

#25989 Expose indexOf to python
  Framework/Geometry/inc/MantidGeometry/Instrument/DetectorInfo.h
  Framework/Geometry/src/Instrument/DetectorInfo.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/DetectorInfo.cpp
  Framework/PythonInterface/test/python/mantid/geometry/DetectorInfoTest.py
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Python

#25972 Fix autosaving of group workspaces on the reflectometry GUI
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/AsciiSaver.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/AsciiSaver.h
Labels: Component: GUI, Component: Reflectometry, Priority: High

#25954 Fix adding rows bug when erasing rows
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: SANS, Misc: Bug

#25879 Port Muon ALC Interface
  docs/source/release/v4.1.0/muon.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/widgets/fitpropertybrowser/markers.py
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Muon/ALCBaselineModellingModel.cpp
  qt/scientific_interfaces/Muon/ALCBaselineModellingModel.h
  qt/scientific_interfaces/Muon/ALCBaselineModellingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.h
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.ui
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/ALCInterface.h
  qt/scientific_interfaces/Muon/ALCPeakFittingModel.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingModel.h
  qt/scientific_interfaces/Muon/ALCPeakFittingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingPresenter.h
  qt/scientific_interfaces/Muon/ALCPeakFittingView.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingView.h
  qt/scientific_interfaces/Muon/ALCPeakFittingView.ui
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/scientific_interfaces/Muon/IALCBaselineModellingModel.h
  qt/scientific_interfaces/Muon/IALCBaselineModellingView.h
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/Muon/IALCPeakFittingModel.h
  qt/scientific_interfaces/Muon/IALCPeakFittingView.h
  qt/scientific_interfaces/test/ALCBaselineModellingModelTest.h
  qt/scientific_interfaces/test/ALCBaselineModellingPresenterTest.h
  qt/scientific_interfaces/test/ALCDataLoadingPresenterTest.h
  qt/scientific_interfaces/test/ALCPeakFittingPresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/Python/QHashToDict.h
  qt/widgets/common/src/Python/QHashToDict.cpp
  qt/widgets/mplcpp/CMakeLists.txt
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/MantidAxes.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/PeakMarker.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/RangeMarker.h
  qt/widgets/mplcpp/src/MantidAxes.cpp
  qt/widgets/mplcpp/src/PeakMarker.cpp
  qt/widgets/mplcpp/src/Plot.cpp
  qt/widgets/mplcpp/src/RangeMarker.cpp
  qt/widgets/plotting/CMakeLists.txt
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PeakPicker.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/RangeSelector.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PeakPicker.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/PeakPicker.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PeakPicker.cpp
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Mpl/RangeSelector.cpp
  qt/widgets/plotting/src/Qwt/PeakPicker.cpp
  qt/widgets/plotting/src/Qwt/PreviewPlot.cpp
  qt/widgets/plotting/src/Qwt/RangeSelector.cpp
Labels: Component: Muon, Component: Workbench

#25996 make GetEiT0atSNS to work with monitor data with TOF not wrapped to first frame
  Framework/PythonInterface/plugins/algorithms/GetEiT0atSNS.py
  Framework/PythonInterface/test/python/plugins/algorithms/GetEiT0atSNSTest.py
  Testing/Data/SystemTest/SEQ_169004.nxs.h5.md5
  Testing/Data/SystemTest/SEQ_176472.nxs.h5.md5
  Testing/SystemTests/tests/analysis/GetEiT0atSNSSystemTest.py
  docs/source/algorithms/GetEiT0atSNS-v1.rst
  docs/source/release/v4.1.0/direct_geometry.rst
Labels: Component: Direct Inelastic

#26011 Reflectometry GUI: Change defaults for Instrument Settings
  qt/scientific_interfaces/ISISReflectometry/Common/OptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/OptionDefaults.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentOptionDefaults.cpp
Labels: Component: GUI, Component: Reflectometry, Priority: High

#25931 Adding ads observer to muon analysis
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/contexts/phase_table_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_model.py
  scripts/Muon/GUI/Common/home_tab/home_tab_model.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_load_data.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_widget.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fit_information_test.py
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
  scripts/test/Muon/transformWidget_test.py
Labels: Component: GUI, Component: Muon

#26009 Fix ICat Login for new Reflectometry GUI on Workbench
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CatalogSearcher.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CatalogSearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
Labels: Component: GUI, Component: Reflectometry, Component: Workbench, Priority: High

#25969 add newest EQSANS IDF
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  docs/source/release/v4.1.0/sans.rst
  instrument/EQ-SANS_Definition.xml
  instrument/EQ-SANS_Definition_19000131_20190614.xml
  instrument/EQ-SANS_Definition_20190615_21001231.xml
Labels: Component: SANS, State: In Progress

#25867 Add run numbers to NXcanSAS and canSAS metadata
  Framework/DataHandling/inc/MantidDataHandling/NXcanSASDefinitions.h
  Framework/DataHandling/src/SaveCanSAS1D2.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/test/NXcanSASTestHelper.h
  Framework/DataHandling/test/SaveCanSAS1dTest2.h
  Framework/DataHandling/test/SaveNXcanSASTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSave.py
  Testing/SystemTests/tests/analysis/SANSSaveTest.py
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/save_workspace.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
Labels: Component: SANS

#26027 Add new ISIS SANS reductions to SANS release notes
  docs/source/release/v4.1.0/sans.rst
Labels: Component: Documentation, Misc: Easy

#25909 Remove untracked artists in remove_artists_if
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
Labels: Component: Workbench

#26012 Change shortcut to avoid clash on on workbench
  docs/source/release/v4.1.0/reflectometry.rst
  qt/widgets/common/src/Batch/JobTreeView.cpp
Labels: Component: GUI, Component: Reflectometry, Priority: High

#26024 Fix help button segfault on reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.h
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Priority: High

#26019 Updated ISIS powder docs
  docs/source/techniques/ISISPowder-GEM-v1.rst
  docs/source/techniques/ISISPowder-HRPD-v1.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
Labels: Component: Diffraction, Group: Powder, Quality: Documentation

#26033 Remove unused file in restructured GUI code
  qt/scientific_interfaces/ISISReflectometry/Common/multivisitors.hpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Slicing.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Easy, Priority: High

#25976 Fixes proxy arguments for jenkins slave
  buildconfig/Jenkins/jenkins-slave.sh
Labels: Misc: DevOps

#26005 Split too complex PyExec
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
Labels: Misc: Easy, Quality: Code Quality

#25948 Added Auto cal file generation for ISIS Powder Gem
  Framework/Algorithms/src/BinaryOperation.cpp
  Framework/DataObjects/inc/MantidDataObjects/SpecialWorkspace2D.h
  Testing/Data/SystemTest/ISIS_Powder/input/GEM87618.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/yaml_files/gem_system_test_mapping.yaml.md5
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM87618_grouped.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM87618_groupedGSAS1.nxs.md5
  docs/source/release/v4.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-GEM-v1.rst
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/gem_routines/gem_advanced_config.py
  scripts/Diffraction/isis_powder/gem_routines/gem_calibration_algs.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#26014 Improved plot updating logic in Muon Analysis
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/home_plot_widget_model_test.py
  scripts/test/Muon/home_plot_widget_test.py
Labels: Component: GUI, Component: Muon

#26004 Fix bugs with row highlighting in reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Priority: High

#26028 Change output names for sliced input workspaces
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25990 Fix copy/paste bugs in reflectometry GUI
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/Clipboard.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/Clipboard.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RowLocation.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateRow.h
Labels: Component: GUI, Component: Reflectometry, Priority: High

#26030 Add muon gui docs
  docs/source/images/AlgorithmsOptions.PNG
  docs/source/images/Fit_Button2.PNG
  docs/source/images/MA_Fitting_Tab.png
  docs/source/images/MA_Grouping_Tab.png
  docs/source/images/MA_Home_Tab.png
  docs/source/images/MA_Results_Tab.png
  docs/source/images/PlotFitted.PNG
  docs/source/images/PlotWindow2.PNG
  docs/source/images/WhitePixel.png
  docs/source/images/add_functions2.gif
  docs/source/images/add_functions_plot.PNG
  docs/source/images/adding_groups2.gif
  docs/source/images/axis_figure_options.gif
  docs/source/images/change_group2.gif
  docs/source/images/change_style.gif
  docs/source/images/dead_time_correction2.gif
  docs/source/images/edit_axis.gif
  docs/source/images/fit_function2.gif
  docs/source/images/fit_function_tool2.gif
  docs/source/images/fit_scale2.gif
  docs/source/images/group_pair2.gif
  docs/source/images/guess_alpha2.gif
  docs/source/images/individual_results_table2.gif
  docs/source/images/load_file2.gif
  docs/source/images/load_gui2.gif
  docs/source/images/manage_user_directories2.gif
  docs/source/images/multiply_functions2.gif
  docs/source/images/overlay2.gif
  docs/source/images/plot_results_table2.gif
  docs/source/images/plot_spectrum2.gif
  docs/source/images/plot_type2.gif
  docs/source/images/rebin2.gif
  docs/source/images/sample_logs2.gif
  docs/source/images/save_ascii2.gif
  docs/source/images/sequential_fit2.gif
  docs/source/images/sequential_results_table2.gif
  docs/source/images/user_def_fit2.gif
  docs/source/index.rst
  docs/source/tutorials/index.rst
  docs/source/tutorials/muon_GUI_course/basics_of_data_reductions.rst
  docs/source/tutorials/muon_GUI_course/getting_started.rst
  docs/source/tutorials/muon_GUI_course/index.rst
  docs/source/tutorials/muon_GUI_course/other_mantid_functions.rst
  docs/source/tutorials/muon_GUI_course/references.rst
  docs/source/tutorials/muon_GUI_course/the_tabs.rst
Labels: Component: Documentation

#26049 Added ZenHub to documentation
  dev-docs/source/GettingStarted.rst
  dev-docs/source/IssueTracking.rst
Labels: Component: Documentation

#26006 Adding tf asymmetry mode to Muon Analysis 2
  Framework/Muon/src/CalculateMuonAsymmetry.cpp
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/test_helpers/general_test_helpers.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/muon_context_test.py
Labels: Component: GUI, Component: Muon
