Repository mantidproject/mantid, pull requests merged in 2019-02, with the labels that each got.

#24667 Pass GroupingWorkspace information to CreateCacheFilename in AlignAndFocusPowderFromFiles
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction

#24668 Uniform space separation for Limit strings in user file
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/SANS/sans/user_file/user_file_reader.py
  scripts/test/SANS/user_file/user_file_parser_test.py
  scripts/test/SANS/user_file/user_file_reader_test.py
Labels: Component: SANS, Misc: Easy

#24651 Reset SANS user file on loading failure
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: SANS, Misc: Easy

#24650 Indirect Unit tests for fitting models
  qt/scientific_interfaces/Indirect/ConvFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelector.ui
  qt/scientific_interfaces/Indirect/IqtFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/MSDFitModel.cpp
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/ConvFitModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
  qt/scientific_interfaces/Indirect/test/IqtFitModelTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitModelTest.h
  qt/scientific_interfaces/Indirect/test/MSDFitModelTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#24631 Stop traceback suppression for KeyboardInterrupt
  qt/python/mantidqt/utils/asynchronous.py
Labels: Component: Workbench

#23783 Single crystal calibration of rotations of detectors
  Framework/Crystal/src/SCDCalibratePanels.cpp
  Framework/Crystal/src/SCDPanelErrors.cpp
  Framework/Crystal/test/SCDCalibratePanelsTest.h
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24653 Refactor `AlignAndFocusPowderFromFiles` to save and load summed cache
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Component: Framework, Component: Python, Group: Powder

#24342 Replace commonBoundaries by isCommonBins and CommonBinsValidator
  Framework/API/inc/MantidAPI/IEventWorkspace.h
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/inc/MantidAPI/WorkspaceOpOverloads.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/src/WorkspaceOpOverloads.cpp
  Framework/API/test/CompositeFunctionTest.h
  Framework/API/test/FunctionTest.h
  Framework/API/test/WorkspaceOpOverloadsTest.h
  Framework/Algorithms/inc/MantidAlgorithms/WorkspaceJoiners.h
  Framework/Algorithms/src/AppendSpectra.cpp
  Framework/Algorithms/src/ConjoinWorkspaces.cpp
  Framework/Algorithms/src/ConvertAxisByFormula.cpp
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/Algorithms/src/ExtractSpectra.cpp
  Framework/Algorithms/src/MaskBins.cpp
  Framework/Algorithms/src/NormaliseToMonitor.cpp
  Framework/Algorithms/src/Regroup.cpp
  Framework/Algorithms/src/RemoveBins.cpp
  Framework/Algorithms/src/RunCombinationHelpers/RunCombinationHelper.cpp
  Framework/Algorithms/src/SofQWCentre.cpp
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/src/SofQWPolygon.cpp
  Framework/Algorithms/src/WorkspaceJoiners.cpp
  Framework/Algorithms/test/RebinByTimeBaseTest.h
  Framework/DataHandling/src/FindDetectorsPar.cpp
  Framework/DataHandling/src/GroupDetectors.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/SaveNXSPE.cpp
  Framework/DataHandling/src/SaveNXTomo.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/src/SaveNexusProcessed.cpp
  Framework/DataHandling/src/SaveSPE.cpp
  Framework/DataObjects/inc/MantidDataObjects/EventWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/Workspace2D.h
  Framework/DataObjects/inc/MantidDataObjects/WorkspaceSingleValue.h
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/DataObjects/src/Workspace2D.cpp
  Framework/DataObjects/src/WorkspaceSingleValue.cpp
  Framework/DataObjects/test/EventWorkspaceTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
  Framework/WorkflowAlgorithms/src/RefRoi.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
Labels: Component: Framework

#24671 Converter for powder diffraction real and reciprocal space functions
  Framework/PythonInterface/plugins/algorithms/PDConvertRealSpace.py
  Framework/PythonInterface/plugins/algorithms/PDConvertReciprocalSpace.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/PDConvertRealSpaceTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/PDConvertReciprocalSpaceTest.py
  buildconfig/CMake/PyStoG.cmake
  docs/source/algorithms/PDConvertRealSpace-v1.rst
  docs/source/algorithms/PDConvertReciprocalSpace-v1.rst
  docs/source/conf.py
  docs/source/images/PDConvertRealSpace.png
  docs/source/images/PDConvertReciprocalSpace.png
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24695 Avoid incrementing ref-count during summation.
  Framework/Geometry/src/Instrument/DetectorGroup.cpp
Labels: Component: Diffraction, Component: Framework

#24609 SingleCrystalDiffuseReduction updates
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ConvertMultipleRunsToSingleCrystalMD.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SingleCrystalDiffuseReduction.py
  Testing/SystemTests/tests/analysis/ConvertMultipleRunsToSingleCrystalMDTest.py
  Testing/SystemTests/tests/analysis/SingleCrystalDiffuseReductionTest.py
  Testing/SystemTests/tests/analysis/reference/SingleCrystalDiffuseReduction.nxs.md5
  docs/source/algorithms/ConvertMultipleRunsToSingleCrystalMD-v1.rst
  docs/source/algorithms/SingleCrystalDiffuseReduction-v1.rst
  docs/source/diagrams/SingleCrystalDiffuseReduction-v1.dot
  docs/source/images/SingleCrystalDiffuseReduction_corelli_multiple_sym_bkg_HH0.png
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24696 Set the loader name at the top of the file
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
Labels: Misc: Bug, Priority: High

#24626 Change marker type for workbench sample logs plot
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: Component: Framework, Component: Workbench

#24673 Fixes the bug currently in MayersSampleCorrection
  Framework/Algorithms/src/SampleCorrections/MayersSampleCorrectionStrategy.cpp
  Framework/Algorithms/test/MayersSampleCorrectionStrategyTest.h
  Framework/Algorithms/test/MayersSampleCorrectionTest.h
  docs/source/algorithms/MayersSampleCorrection-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction, Component: Framework, Misc: Bug

#24645 ObservingViews now delete themselves on close
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/python/mantidqt/widgets/common/observing_presenter.py
  qt/python/mantidqt/widgets/common/observing_view.py
  qt/python/mantidqt/widgets/common/test/test_observing_view.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_observing.py
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/widgets/instrumentview/view.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/view.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
Labels: Component: Workbench

#24616 Indirect Data Analysis - Load workspace when dragged and dropped
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.h
  qt/scientific_interfaces/Indirect/ILLEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ILLEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ILLEnergyTransfer.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/src/DataSelector.cpp
Labels: Component: Indirect Inelastic

#24682 Close the NeXus file properly in LoadILLTOF
  Framework/DataHandling/src/LoadILLTOF2.cpp
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic, Misc: Bug, Misc: Easy

#24567 24437 rm line multi plot
  scripts/MultiPlotting/edit_windows/__init__.py
  scripts/MultiPlotting/edit_windows/remove_plot_window.py
  scripts/MultiPlotting/edit_windows/select_subplot.py
  scripts/MultiPlotting/label.py
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/navigation_toolbar.py
  scripts/MultiPlotting/subplot/subPlot.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/plotting_test.py
  scripts/test/MultiPlotting/CMakeLists.txt
  scripts/test/MultiPlotting/MultiPlotWidget_test.py
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
  scripts/test/MultiPlotting/Subplot_test.py
Labels: Component: GUI, Component: Muon

#23659 Muon - Embed Widgets into Interface
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/dock/dockable_tabs.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_view.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_model.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_presenter.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_view.py
  scripts/Muon/GUI/Common/home_tab/__init__.py
  scripts/Muon/GUI/Common/home_tab/home_tab_model.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/Muon/GUI/Common/home_tab/home_tab_view.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/Common/load_file_widget/model.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_model.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_context.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_model.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_view.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/Muon_Analysis_2.py
  scripts/muon_analysis_3.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/home_plot_widget_test.py
  scripts/test/Muon/home_runinfo_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_model_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
Labels: Component: GUI, Component: Muon

#24707 added ability to disable default enginx file structure
  scripts/Engineering/EnginX.py
Labels: Component: Diffraction, Component: Python

#24568 Skip orphaned detectors in GenerateGroupingPowder
  Framework/DataHandling/src/GenerateGroupingPowder.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/test/GenerateGroupingPowderTest.h
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction

#24713 Changes to ISIS WISH POWDER tests to make reliable
  Testing/SystemTests/tests/analysis/ISIS_WISHPowderReductionTest.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Quality: System Tests

#24511 Indirect BayesQuasi - Prob workspace needs values for all 3 peaks
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesQuasi.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/BayesQuasiTest.py
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic

#24705 Fixed swapped test names in Wish tests
  Testing/SystemTests/tests/analysis/ISIS_WISHPowderReductionTest.py
Labels: Component: Diffraction, Group: Powder, Misc: Easy, Quality: System Tests

#24683 Add additional script editor options
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter.py
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptEditor.h
  qt/widgets/common/src/ScriptEditor.cpp
Labels: Component: Workbench

#24720 subplot_context python3 failure fixed
  scripts/test/MultiPlotting/SubPlotContext_test.py
Labels: Misc: Bug, Priority: High

#24687 Add drag and drop of python scripts to editor in workbench
  qt/applications/workbench/workbench/plugins/editor.py
Labels: Component: Workbench

#24558 Workbench: Project Save for Instrument View
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/app/windowfinder.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/project/decoderfactory.py
  qt/python/mantidqt/project/encoderfactory.py
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectsaver.py
  qt/python/mantidqt/project/test/test_decoderfactory.py
  qt/python/mantidqt/project/test/test_encoderfactory.py
  qt/python/mantidqt/project/test/test_project.py
  qt/python/mantidqt/project/test/test_projectsaver.py
  qt/python/mantidqt/widgets/instrumentview/__init__.py
  qt/python/mantidqt/widgets/instrumentview/_instrumentview.sip
  qt/python/mantidqt/widgets/instrumentview/io.py
  qt/python/mantidqt/widgets/instrumentview/test/__init__.py
  qt/python/mantidqt/widgets/instrumentview/test/test_instrumentview_io.py
  qt/python/mantidqt/widgets/instrumentview/view.py
  qt/python/mantidqt/widgets/instrumentview/widget.py
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetDecoder.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetEncoder.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetMaskTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetTreeTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/MaskBinsData.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Projection3D.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/ProjectionSurface.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Shape2D.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Shape2DCollection.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Viewport.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/Shape2DCollection.cpp
  qt/widgets/instrumentview/test/InstrumentWidgetDecoderTest.h
  qt/widgets/instrumentview/test/InstrumentWidgetEncoderTest.h
  qt/widgets/mplcpp/src/ColorbarWidget.cpp
  qt/widgets/mplcpp/src/ScalarMappable.cpp
  qt/widgets/mplcpp/test/MplCppTestInitialization.h
Labels: Component: GUI, Component: Tools, Component: Workbench

#24658 Workbench: Documentation for Project Save
  dev-docs/source/Workbench/BuildingWorkbench.rst
  dev-docs/source/Workbench/ProjectSaveInterfaces.rst
  dev-docs/source/Workbench/UsingPycharmWithWorkbench.rst
  dev-docs/source/Workbench/index.rst
  dev-docs/source/index.rst
Labels: Component: Documentation, Component: Workbench

#24710 LoadDiffCal override grouping
  Framework/DataHandling/inc/MantidDataHandling/LoadDiffCal.h
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/src/LoadDiffCal.cpp
  Framework/DataHandling/test/LoadDiffCalTest.h
  Framework/DataHandling/test/SaveDiffCalTest.h
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  docs/source/algorithms/LoadDetectorsGroupingFile-v1.rst
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24670 Indirect Update Documentation
  Framework/PythonInterface/plugins/functions/MsdGauss.py
  Framework/PythonInterface/test/python/plugins/functions/MsdGaussTest.py
  Testing/SystemTests/tests/analysis/reference/BASIS_63652_63720_Gaussian_msd.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISMSDFit.nxs.md5
  docs/source/algorithms/MSDFit-v1.rst
  docs/source/diagrams/QENSFitSequential-v1_wkflw.dot
  docs/source/fitting/fitfunctions/MsdGauss.rst
  docs/source/fitting/fitfunctions/MsdYi.rst
  docs/source/interfaces/Indirect Bayes.rst
  docs/source/interfaces/Indirect Corrections.rst
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/interfaces/Indirect Diffraction.rst
  docs/source/interfaces/Indirect Simulation.rst
  docs/source/interfaces/Indirect Tools.rst
  qt/scientific_interfaces/Indirect/Quasi.ui
  qt/scientific_interfaces/Indirect/ResNorm.ui
  qt/scientific_interfaces/Indirect/Stretch.ui
Labels: Component: Indirect Inelastic, Quality: Documentation

#24725 Indirect - Fix Bayes system tests
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_QLDataTest.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_QLr_ResNorm_Test.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_QLr_width_Test.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_QlresTest.nxs.md5
Labels: Component: Indirect Inelastic, Priority: High, Quality: System Tests

#24694 Update GUI to use user inputted values if applicable.
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/test/Muon/home_instrument_widget_test.py
Labels: Component: GUI, Component: Muon

#24418 Indirect - Update F(Q) fit functions and documentation
  Framework/PythonInterface/plugins/functions/ChudleyElliot.py
  Framework/PythonInterface/plugins/functions/HallRoss.py
  Framework/PythonInterface/plugins/functions/TeixeiraWater.py
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_JumpCETest.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISIndirectBayes_JumpHallRossTest.nxs.md5
  docs/source/fitting/fitfunctions/ChudleyElliot.rst
  docs/source/fitting/fitfunctions/HallRoss.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic, Quality: Documentation

#24618 Add functions to restore previous script editors
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/applications/workbench/workbench/plugins/test/test_editor.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
Labels: Component: Workbench

#23292 Remove manual linking to asan library
  Framework/API/src/WorkspaceHistory.cpp
  Framework/Algorithms/src/MaskNonOverlappingBins.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleEnvironment.h
  Framework/DataHandling/inc/MantidDataHandling/LoadStl.h
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/Kernel/CMakeLists.txt
  MantidPlot/CMakeLists.txt
  buildconfig/CMake/GNUSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
Labels: Misc: Maintenance

#24732 Overwrite default RKH append property to false in SANS
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/algorithm_detail/save_workspace.py
Labels: Component: SANS, Misc: Easy

#23924 Pychop fixes
  docs/source/release/v3.14.0/direct_inelastic.rst
  scripts/PyChop/Instruments.py
  scripts/PyChop/MulpyRep.py
  scripts/PyChop/PyChopGui.py
  scripts/PyChop/mari.yaml
Labels: Component: Direct Inelastic, Group: Inelastic, Group: Planning Tools, Misc: Bug

#24553 CompareWorkspaces: fix comparison of invalid sizes
  Framework/API/src/Sample.cpp
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Kernel/inc/MantidKernel/MultiThreaded.h
  docs/source/algorithms/CompareWorkspaces-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#24637 LinkedUBs algorithm
  Framework/PythonInterface/plugins/algorithms/LinkedUBs.py
  Testing/Data/SystemTest/SXD30904.raw.md5
  Testing/Data/SystemTest/SXD30905.raw.md5
  Testing/Data/SystemTest/SXD30906.raw.md5
  Testing/SystemTests/tests/analysis/CodeConventions.py
  Testing/SystemTests/tests/analysis/LinkedUBs_Test.py
  docs/source/algorithms/LinkedUBs-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction, Group: Single Crystal

#24719 Add simpleapi import to GeneratePythonScript files
  Framework/Algorithms/src/GeneratePythonScript.cpp
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  docs/source/algorithms/GeneratePythonScript-v1.rst
Labels: Component: Workbench

#24733 Fix updating Matrix display when the workspace is replaced
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_presenter.py
Labels: Component: Workbench

#24593 LoadEventAndCompress reads logs less often
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/LoadEventAndCompress.h
  Framework/WorkflowAlgorithms/src/LoadEventAndCompress.cpp
  Framework/WorkflowAlgorithms/test/LoadEventAndCompressTest.h
Labels: Misc: Easy

#24706 AlignAndFocusFromFiles Add cache values only once for grouping
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
Labels: Component: Diffraction, Group: Powder

#24739 Stop listing EFixed for each detector pixel in BASIS instrument
  instrument/BASIS_Definition.xml
  instrument/BASIS_Definition_0-2013.xml
  instrument/BASIS_Definition_2013-2013.xml
  instrument/BASIS_Definition_2014-2018.xml
Labels: Component: Indirect Inelastic

#24741 TOPAZ IDF contained wrong bank
  instrument/TOPAZ_Definition_2019-01-01.xml
Labels: Misc: Easy

#24757 Fix sample log comparison in CompareWorkspaces
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Algorithms/test/CompareWorkspacesTest.h
Labels: Component: Framework, Misc: Bug

#24756 Turn building the workbench on by default
  CMakeLists.txt
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/CMake/SipQtTargetFunctions.cmake
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  dev-docs/source/Workbench/BuildingWorkbench.rst
Labels: Component: Workbench, Misc: Maintenance

#24736 Instrument 2D view crash
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/UnwrappedSurface.cpp
Labels: Component: GUI, Misc: Bug

#24726 IntegrateMDHistoWorkspace crash
  Framework/DataObjects/src/MDHistoWorkspaceIterator.cpp
  Framework/DataObjects/test/MDHistoWorkspaceIteratorTest.h
Labels: Component: Framework, Misc: Bug

#24778 Only store workspace names in AlignAndFocusPowderFromFiles
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
Labels: Misc: Bug, Misc: Easy

#24584 CylinderAbsorption reads from Sample object
  Framework/Algorithms/inc/MantidAlgorithms/CylinderAbsorption.h
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/AnyShapeAbsorption.cpp
  Framework/Algorithms/src/CylinderAbsorption.cpp
  Framework/Algorithms/test/AnyShapeAbsorptionTest.h
  Framework/Algorithms/test/CylinderAbsorptionTest.h
  Framework/Algorithms/test/FlatPlateAbsorptionTest.h
  Framework/DataHandling/src/SetSample.cpp
  Framework/Geometry/CMakeLists.txt
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject2D.h
  Framework/Geometry/inc/MantidGeometry/Rasterize.h
  Framework/Geometry/inc/MantidGeometry/Rendering/ShapeInfo.h
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Geometry/src/Rasterize.cpp
  Framework/Geometry/src/Rendering/ShapeInfo.cpp
  Framework/Geometry/test/RasterizeTest.h
  docs/source/algorithms/CylinderAbsorption-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Diffraction

#24763 Avoid summing empty list of detectors
  qt/widgets/instrumentview/src/InstrumentActor.cpp
Labels: Misc: Bug, Priority: High

#24776 Hide the matplotlib toolbar in workbench instrument view
  qt/widgets/mplcpp/src/Zoomer.cpp
Labels: Priority: High

#24765 Fix IntegrateMDHistoWorkspace for NaNs outside integration range
  Framework/MDAlgorithms/src/IntegrateMDHistoWorkspace.cpp
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#24764 Inject the correct PYTHONPATH into error reporter
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
Labels: Misc: Bug

#24777 Delete Sample Logs windows on close
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_view.py
  qt/python/mantidqt/widgets/samplelogs/view.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_view.py
Labels: Component: Workbench

#24731 Add embedded find/replace dialog to editor widget
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/utils/qt/test/qt_widget_finder.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter_view.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter_view.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/__init__.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/dialog.ui
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/presenter.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/test/__init__.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/test/mock_codeeditor.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/test/test_embedded_find_replace_dialog_presenter.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/view.py
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptEditor.h
  qt/widgets/common/src/FindReplaceDialog.cpp
  qt/widgets/common/src/ScriptEditor.cpp
Labels: Component: Workbench

#24716 Add ISIS SANS GUI to Workbench
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/common_sip/SIPVector.h
  qt/python/common_sip/string.sip
  qt/python/common_sip/vector.sip
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/hint.py
  qt/python/mantidqt/widgets/jobtreeview/__init__.py
  qt/python/mantidqtpython/CMakeLists.txt
  qt/python/mantidqtpython/mantidqtpython_def.sip
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/HintStrategy.h
  scripts/ISIS_SANS_v2_experimental.py
  scripts/Interface/ui/CMakeLists.txt
  scripts/Interface/ui/sans_isis/CMakeLists.txt
  scripts/Interface/ui/sans_isis/SANSSaveOtherWindow.py
  scripts/Interface/ui/sans_isis/add_runs_page.py
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/diagnostics_page.py
  scripts/Interface/ui/sans_isis/icons/centre.png
  scripts/Interface/ui/sans_isis/icons/diagnostic.png
  scripts/Interface/ui/sans_isis/icons/run.png
  scripts/Interface/ui/sans_isis/icons/settings.png
  scripts/Interface/ui/sans_isis/icons/sum.png
  scripts/Interface/ui/sans_isis/masking_table.py
  scripts/Interface/ui/sans_isis/run_selector_widget.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/settings_diagnostic_tab.py
  scripts/Interface/ui/sans_isis/summation_settings_widget.py
  scripts/Interface/ui/sans_isis/work_handler.py
  scripts/Interface/ui/sans_isis/worker.py
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/models/basic_hint_strategy.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/batch_process_runner_test.py
  scripts/test/SANS/gui_logic/create_file_information_test.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/masking_table_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS, Component: Workbench

#24612 Add Transmission data to XML and H5 Files
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateAdjustmentWorkspaces.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSave.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCreateAdjustmentWorkspacesTest.py
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/save_workspace.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
Labels: Component: SANS, Priority: High

#24544 Updated reporting and download urls to https
  Framework/Properties/Mantid.properties.template
Labels: Component: Framework

#24791 System tests: rename tolerance_is_reller to tolerance_is_rel_err
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/tests/analysis/ISISDirectInelastic.py
  Testing/SystemTests/tests/analysis/ISISDirectReductionComponents.py
  Testing/SystemTests/tests/analysis/SANS2DBatch.py
  Testing/SystemTests/tests/analysis/SANS2DBatchTest_V2.py
  Testing/SystemTests/tests/analysis/SANS2DReductionGUI.py
  Testing/SystemTests/tests/analysis/SANS2DReductionGUIAdded.py
  Testing/SystemTests/tests/analysis/SANS2DReductionGUI_V2.py
  Testing/SystemTests/tests/analysis/SANS2DSlicing.py
  Testing/SystemTests/tests/analysis/SANS2DSlicingTest_V2.py
  dev-docs/source/SystemTests.rst
Labels: Quality: System Tests

#24786 Add workspace name to exceptions in NormaliseByCurrent
  Framework/Algorithms/src/NormaliseByCurrent.cpp
Labels: Misc: Easy

#24738 Handle empty sample names in processed NeXus
  Framework/API/src/Sample.cpp
  Framework/API/test/SampleTest.h
  Testing/SystemTests/tests/analysis/SaveLoadNexusProcessed.py
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#24773 Introduce enum for TrackDirection
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObjectCommon.h
  Framework/Geometry/inc/MantidGeometry/Objects/Track.h
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Geometry/src/Objects/MeshObjectCommon.cpp
  Framework/Geometry/src/Objects/Track.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/MeshObjectCommonTest.h
  Framework/Geometry/test/TrackTest.h
  Testing/SystemTests/tests/analysis/ConvertWANDSCDtoQTest.py
Labels: Misc: Maintenance

#24784 BASIS: Transfer ModeratorTzeroLinear parameters to reflection-specific parameter files
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  instrument/BASIS_Parameters.xml
  instrument/BASIS_silicon_111_Parameters.xml
  instrument/BASIS_silicon_311_Parameters.xml
Labels: Component: Indirect Inelastic

#24715 Retain old data in Muon GUI
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/Muon/GUI/Common/load_file_widget/model.py
  scripts/Muon/GUI/Common/load_file_widget/presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_model.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_load_data.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/run_selection_dialog.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_model.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_view.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/utilities/load_utils_test.py
  scripts/test/Muon/utilities/muon_group_test.py
  scripts/test/Muon/utilities/muon_load_data_test.py
  scripts/test/Muon/utilities/muon_pair_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
Labels: Component: GUI, Component: Muon

#24799 Updated Facilities.xml with MARI event live data source
  instrument/Facilities.xml
Labels: Component: Live Data

#24800 Set matplotlib backend for test
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_view.py
Labels: Priority: High

#24595 Workbench: Project Save for Matrix and Table workspace displays
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  dev-docs/source/Workbench/ProjectSaveInterfaces.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/project/encoderfactory.py
  qt/python/mantidqt/project/test/test_encoderfactory.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/__init__.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/io.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_io.py
  qt/python/mantidqt/widgets/workspacedisplay/table/__init__.py
  qt/python/mantidqt/widgets/workspacedisplay/table/io.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_io.py
Labels: Component: GUI, Component: Workbench

#24787 Add wavelength input to LoadDNSLegacy
  Framework/PythonInterface/plugins/algorithms/LoadDNSLegacy.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadDNSLegacyTest.py
  docs/source/algorithms/LoadDNSLegacy-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Diffraction, Component: Direct Inelastic

#24721 FDA now lets user pick phase table for maxent
  docs/source/release/v3.14.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view.py
  scripts/test/Muon/MaxEntPresenter_test.py
Labels: Component: GUI, Component: Muon

#24760 Added compare workspace tolerance
  Framework/API/inc/MantidAPI/Column.h
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/DataObjects/inc/MantidDataObjects/PeakColumn.h
  Framework/DataObjects/inc/MantidDataObjects/TableColumn.h
  Framework/DataObjects/inc/MantidDataObjects/VectorColumn.h
  Framework/DataObjects/test/TableColumnTest.h
  Framework/DataObjects/test/VectorColumnTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/TransformToIqtTest.py
  Testing/SystemTests/tests/analysis/EnginXScriptTest.py
  Testing/SystemTests/tests/analysis/ISIS_WISHDiffractionFocussing.py
Labels: Misc: Bug, Priority: High, Quality: System Tests

#23185 Improved docs first index page
  docs/source/images/LoadFileToolbar.png
  docs/source/index.rst
  docs/source/interfaces/index.rst
  docs/source/techniques/index.rst
Labels: Component: Documentation

#24815 Add install bin directory to Python path for workbench
  buildconfig/CMake/LinuxPackageScripts.cmake
Labels: Priority: High

#24794 PDLoadCharacterizations bug
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
Labels: Misc: Bug, Misc: Easy

#24714 Compatibility of MantidPlot scripts with workbench
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/scriptcompatibility.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_scriptcompatibility.py
Labels: Component: Workbench

#24828 Fix ISIS SANS in packaged Mantid
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/widgets/jobtreeview/__init__.py
Labels: Misc: Bug, Priority: High

#24802 Pass custom axes properties to workbench plotting
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: SANS, Component: Workbench

#24826 Improve pyqt4 check to not generate exceptions
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
Labels: Misc: Bug, Priority: High

#24829 Increase relative tolerance in WISHDiffractionFocussingAnalysisTest
  Testing/SystemTests/tests/analysis/ISIS_WISHDiffractionFocussing.py
Labels: Misc: Bug, Priority: High

#24830 Fix warning on MacOS.
  Framework/Kernel/test/ArrayPropertyTest.h
Labels: OS: macOS, Priority: High

#24629 Add ScaleRHSWorkspace Property to CTW
  Framework/Algorithms/src/CreateTransmissionWorkspace2.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/CreateTransmissionWorkspace2Test.h
Labels: Component: Reflectometry, Misc: Easy

#24779 Add group asymmetry estimate to new GUI
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_model.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
Labels: Component: GUI, Component: Muon

#23109 Added algorithm and system tests framework
  Framework/PythonInterface/plugins/algorithms/BilbySANSDataProcessor.py
  Testing/Data/DocTest/BBY0019743.tar.md5
  Testing/Data/DocTest/BBY0019744.tar.md5
  Testing/Data/DocTest/BBY0019748.tar.md5
  Testing/Data/DocTest/BBY0019749.tar.md5
  Testing/Data/DocTest/input_csv_example.csv.md5
  Testing/Data/DocTest/mantid_reduction_settings_example.csv.md5
  Testing/Data/DocTest/scattering_mask_example.xml.md5
  Testing/Data/DocTest/shift_assembled.csv.md5
  Testing/Data/DocTest/transmission_mask_example.xml.md5
  Testing/Data/SystemTest/BilbyReductionExampleOutput.nxs.md5
  Testing/SystemTests/tests/analysis/BilbySANSDataProcessorTest.py
  docs/source/algorithms/BilbySANSDataProcessor-v1.rst
  scripts/BilbyCustomFunctions_Reduction.py
  scripts/BilbyReductionScript.py
Labels: Component: SANS

#24810 basis vanadium wavelength ranges
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  docs/source/algorithms/BASISReduction-v1.rst
  instrument/BASIS_Parameters.xml
  instrument/BASIS_silicon_333_Parameters.xml
Labels: Component: Indirect Inelastic

#24834 Prevent __future__ imports being inherited by the CodeEditor execute environment
  qt/python/mantidqt/widgets/codeeditor/execution.py
Labels: Priority: High

#24781 Port workspace history dialog to workbench
  MantidPlot/CMakeLists.txt
  MantidPlot/src/Mantid/MantidUI.cpp
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/utils/qt/test/qt_widget_finder.py
  qt/python/mantidqt/widgets/workspacewidget/algorithmhistorywindow.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmHistoryWindow.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/AlgorithmHistoryWindow.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench

#24628 Add uncertainties tag to NXcanSASAlgorithm
  Framework/DataHandling/inc/MantidDataHandling/NXcanSASDefinitions.h
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/test/SaveNXcanSASTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24401 MergeLogs proposition
  Framework/API/src/LogManager.cpp
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/MergeLogs.h
  Framework/Algorithms/src/MergeLogs.cpp
  Framework/Algorithms/src/RunCombinationHelpers/SampleLogsBehaviour.cpp
  Framework/Algorithms/test/MergeLogsTest.h
  Framework/Algorithms/test/SampleLogsBehaviourTest.h
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/src/MergeLogs.cpp
  Framework/DataHandling/test/MergeLogsTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug, Misc: Maintenance

#24435 Modifications of the reflectometry reduction
  Framework/Algorithms/inc/MantidAlgorithms/MaskBins.h
  Framework/Algorithms/inc/MantidAlgorithms/SpecularReflectionPositionCorrect2.h
  Framework/Algorithms/src/AddSampleLog.cpp
  Framework/Algorithms/src/FindReflectometryLines2.cpp
  Framework/Algorithms/src/ReflectometryBeamStatistics.cpp
  Framework/Algorithms/src/SpecularReflectionPositionCorrect2.cpp
  Framework/Algorithms/test/ReflectometryBeamStatisticsTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLReflectometry.h
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCorTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/LoadILLReflectometry-v1.rst
  docs/source/algorithms/ReflectometryBeamStatistics-v1.rst
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPolarizationCor-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/algorithms/ReflectometryILLSumForeground-v1.rst
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/diagrams/ReflectometryILLPreprocess-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLSumForeground-v1_wkflw.dot
  docs/source/release/v3.14.0/reflectometry.rst
  instrument/D17_Definition.xml
  instrument/FIGARO_Definition.xml
Labels: Component: Reflectometry

#24621 Enable mixing of automatic and user bin widths in DirectILLReduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLReductionTest.py
  docs/source/algorithms/DirectILLReduction-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#24856 Fix systemtest relative tolerance
  Testing/SystemTests/tests/analysis/EnginXScriptTest.py
  Testing/SystemTests/tests/analysis/ISIS_WISHDiffractionFocussing.py
Labels: Component: Diffraction, Priority: High, Quality: System Tests

#24861 Update BuildingWithCMake.rst
  dev-docs/source/BuildingWithCMake.rst
Labels: Component: Documentation, Misc: Easy

#24742 ISIS SANS Manual Test Script Updates
  dev-docs/source/Testing/SANSGUI/SANSGUITests.rst
  dev-docs/source/Testing/index.rst
Labels: Component: SANS, Misc: Easy, Quality: Manual Tests

#24864 24862 integrate flux validator
  Framework/MDAlgorithms/src/IntegrateFlux.cpp
  Framework/MDAlgorithms/test/IntegrateFluxTest.h
  docs/source/algorithms/IntegrateFlux-v1.rst
Labels: Component: Diffraction, Component: Direct Inelastic

#24844 Workbench: Ship styles/qtwindowsvistastyle.dll for Windows Vista Style
  buildconfig/CMake/WindowsNSISQt5.cmake
Labels: Priority: High

#24831 Pack six.py from pip on macOS
  MantidPlot/make_package.rb.in
  qt/applications/workbench/make_package.rb.in
Labels: OS: macOS

#24772 Re #24769 Changed the monitor distances according to the measurements
  instrument/MERLIN_Definition_2018_03.xml
Labels: Component: Direct Inelastic, Misc: Easy

#24870 Add missing . to fix import in AlgorithmHistoryWindow
  qt/python/mantidqt/widgets/workspacewidget/algorithmhistorywindow.py
Labels: Misc: Bug, Priority: High

#24868 Project Recovery in MantidPlot legacy checkpoint removal fixes
  MantidPlot/src/ProjectRecovery.cpp
Labels: Component: Project Recovery, Priority: High

#24771 Fix race condition and improve performance of Rebin2D/SofQW algorithms
  Framework/Algorithms/inc/MantidAlgorithms/Rebin2D.h
  Framework/Algorithms/src/Rebin2D.cpp
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/src/SofQWPolygon.cpp
  Framework/DataObjects/inc/MantidDataObjects/FractionalRebinning.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  Framework/Geometry/inc/MantidGeometry/Math/ConvexPolygon.h
  Framework/Geometry/inc/MantidGeometry/Math/Quadrilateral.h
  Framework/Geometry/src/Math/PolygonEdge.cpp
  Framework/Geometry/src/Math/Quadrilateral.cpp
  Framework/Kernel/inc/MantidKernel/V2D.h
  Framework/Kernel/src/V2D.cpp
  Framework/Kernel/test/V2DTest.h
Labels: Priority: High

#24103 Add algorithm profiling instrumentation and doc
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/AlgoTimeRegister.h
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/src/AlgoTimeRegister.cpp
  Framework/API/src/Algorithm.cpp
  Framework/API/src/AlgorithmExecute.cpp
  Framework/API/src/AlgorithmExecuteProfile.cpp
  dev-docs/source/AlgorithmProfiler.rst
Labels: Component: Framework

#24551 Nexus IO helper
  Framework/DataHandling/src/LoadBankFromDiskTask.cpp
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Framework/Kernel/inc/MantidKernel/Unit.h
  Framework/Kernel/src/Unit.cpp
  Framework/Kernel/test/UnitTest.h
  Framework/Nexus/CMakeLists.txt
  Framework/Nexus/inc/MantidNexus/NexusIOHelper.h
  Framework/Nexus/test/CMakeLists.txt
  Framework/Nexus/test/NexusIOHelperTest.h
  Framework/NexusGeometry/CMakeLists.txt
  Framework/NexusGeometry/inc/MantidNexusGeometry/Hdf5Version.h
  Framework/NexusGeometry/src/Hdf5Version.cpp
  Framework/NexusGeometry/src/NexusGeometryParser.cpp
  Testing/Data/UnitTest/V20_ESSIntegration_2018-12-13_0942.nxs.md5
  Testing/Data/UnitTest/V20_ESS_example.nxs.md5
Labels: Component: Framework

#24874 Fix mplcpp Axes::text for python3
  qt/widgets/mplcpp/src/Axes.cpp
Labels: Misc: Bug

#24782 Make comparator return bool
  Framework/Geometry/inc/MantidGeometry/Math/BnId.h
  Framework/Geometry/inc/MantidGeometry/Math/RotCounter.h
  Framework/Geometry/inc/MantidGeometry/Math/Triple.h
  Framework/Geometry/src/Math/BnId.cpp
  Framework/Geometry/src/Math/RotCounter.cpp
  Framework/Geometry/src/Math/Triple.cpp
  Framework/Geometry/test/BnIdTest.h
  Framework/Geometry/test/TripleTest.h
Labels: Misc: Maintenance

#24813 Adding rebinning to new Muon GUI
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/muon_data_context_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#24749 Integrating FDA
  scripts/Frequency_Domain_Analysis_2.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/test/Muon/FFTModel_test.py
  scripts/test/Muon/FFTPresenter_test.py
  scripts/test/Muon/transformWidget_test.py
Labels: Component: GUI, Component: Muon

#24832 Remove incorrect Qt libs from macOS workbench/MantidPlot packages
  Framework/CMakeLists.txt
  MantidPlot/make_package.rb.in
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/PyStoG.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  qt/applications/workbench/make_package.rb.in
  qt/python/mantidqt/CMakeLists.txt
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: OS: macOS, Priority: High

#24625 ISIS reflectometry workflow algorithm
  Framework/PythonInterface/plugins/algorithms/ReflectometrySliceEventWorkspace.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Framework, Component: Reflectometry

#24426 Center IN6 detector shape at origin
  instrument/IN6_Definition.xml
Labels: Component: Direct Inelastic

#24419 Improve detector 2theta coverage calculation in SofQWNormalisedPolygon
  Framework/Algorithms/inc/MantidAlgorithms/SofQWNormalisedPolygon.h
  Framework/Algorithms/src/SofQCommon.cpp
  Framework/Algorithms/src/SofQW.cpp
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Algorithms/test/SofQCommonTest.h
  Framework/Algorithms/test/SofQWCutTest.h
  Framework/Algorithms/test/SofQWNormalisedPolygonTest.h
  Framework/DataObjects/inc/MantidDataObjects/TableWorkspace.h
  Framework/Doxygen/Mantid_template.doxyfile
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/ComponentCreationHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/InstrumentCreationHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/ComponentCreationHelper.cpp
  Framework/TestHelpers/src/InstrumentCreationHelper.cpp
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  buildconfig/CMake/Packaging/osx/MantidWorkbench_osx_launcher
  docs/source/algorithms/ConvertToMD-v1.rst
  docs/source/algorithms/SofQW-v1.rst
  docs/source/algorithms/SofQWCentre-v1.rst
  docs/source/algorithms/SofQWNormalisedPolygon-v1.rst
  docs/source/algorithms/SofQWPolygon-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#23430 Update GetEiMonDet to version 3
  Framework/API/src/SpectrumInfo.cpp
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/GetEiMonDet2.h
  Framework/Algorithms/inc/MantidAlgorithms/GetEiMonDet3.h
  Framework/Algorithms/src/GetEiMonDet2.cpp
  Framework/Algorithms/src/GetEiMonDet3.cpp
  Framework/Algorithms/test/GetEiMonDet2Test.h
  Framework/Algorithms/test/GetEiMonDet3Test.h
  Framework/Indexing/inc/MantidIndexing/IndexSet.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/TestHelpers/inc/MantidTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/algorithms/GetEiMonDet-v2.rst
  docs/source/algorithms/GetEiMonDet-v3.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
  docs/source/techniques/DirectILL.rst
Labels: Component: Direct Inelastic

#24871 Separate Save Directory for Added Runs
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/add_runs_page.py
  scripts/Interface/ui/sans_isis/add_runs_page.ui
  scripts/SANS/SANSadd2.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/run_summation.py
  scripts/SANS/sans/gui_logic/models/summation_settings.py
  scripts/SANS/sans/gui_logic/presenter/add_runs_presenter.py
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
Labels: Component: GUI, Component: SANS, Misc: Easy

#24814 Fix convert spectrum axis
  Framework/Algorithms/src/ConvertSpectrumAxis2.cpp
  Framework/Algorithms/test/ConvertSpectrumAxis2Test.h
Labels: Misc: Bug, Priority: High

#24859 Workbench: Project Save update file save behaviour
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectsaver.py
  qt/python/mantidqt/project/test/test_project.py
  qt/python/mantidqt/project/test/test_projectloader.py
  qt/python/mantidqt/project/test/test_projectsaver.py
  qt/python/mantidqt/project/test/test_workspaceloader.py
Labels: Component: GUI, Component: Workbench

#24821 Add chunking to SNAPReduce
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  Testing/SystemTests/tests/analysis/AlignAndFocusPowderFromFilesTest.py
Labels: Component: Diffraction, Group: Powder

#24708 Fix spectrum number saving loading to/from NeXus
  Framework/DataHandling/inc/MantidDataHandling/SaveNexusProcessed.h
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/src/SaveNexusProcessed.cpp
  Framework/DataHandling/test/SaveNexusProcessedTest.h
  Framework/Nexus/src/NexusFileIO.cpp
  Testing/SystemTests/tests/analysis/SaveLoadNexusProcessed.py
  Testing/SystemTests/tests/analysis/reference/SANS2D_ws_D20_calculated_transmission_reference.nxs.md5
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#24806 Multiplotting and update subplots
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/MultiPlotting/gridspec_engine.py
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/navigation_toolbar.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/plotting_test.py
  scripts/test/MultiPlotting/CMakeLists.txt
  scripts/test/MultiPlotting/DefaultGridspec_test.py
  scripts/test/MultiPlotting/Gridspec_test.py
  scripts/test/MultiPlotting/MultiPlotWidget_test.py
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/QuickEditPresenter_test.py
  scripts/test/MultiPlotting/Subplot_test.py
Labels: Component: GUI

#24798 Helper function to retrieve date-sorted filenames for IDF's or Parameter files
  Framework/API/inc/MantidAPI/ExperimentInfo.h
  Framework/API/src/ExperimentInfo.cpp
  Framework/API/test/ExperimentInfoTest.h
  Framework/PythonInterface/mantid/api/src/Exports/ExperimentInfo.cpp
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24897 Use qtpy in ISISCommandInterface
  scripts/SANS/ISISCommandInterface.py
Labels: OS: macOS, Priority: High, Quality: System Tests

#24824 Fix IN5 pixel type's centre-of-bottom-base
  instrument/IN5_Definition.xml
Labels: Misc: Easy

#24884 Insert name for array property
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
Labels: Component: Indirect Inelastic, Misc: Bug

#24723 Workbench: Project Recovery
  CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Exports/DateAndTime.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/UsageService.cpp
  Framework/PythonInterface/plugins/algorithms/OrderWorkspaceHistory.py
  MantidPlot/src/ProjectRecoveryGUIs/ProjectRecoveryModel.h
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/make_package.rb.in
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/applications/workbench/workbench/projectrecovery/__init__.py
  qt/applications/workbench/workbench/projectrecovery/projectrecovery.py
  qt/applications/workbench/workbench/projectrecovery/projectrecoveryloader.py
  qt/applications/workbench/workbench/projectrecovery/projectrecoverysaver.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/ProjectRecoveryWidget.ui
  qt/applications/workbench/workbench/projectrecovery/recoverygui/RecoveryFailure.ui
  qt/applications/workbench/workbench/projectrecovery/recoverygui/__init__.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverymodel.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverypresenter.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverywidgetview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/recoveryfailureview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/__init__.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_projectrecoverymodel.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_projectrecoverypresenter.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_projectrecoverywidgetview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_recoveryfailureview.py
  qt/applications/workbench/workbench/projectrecovery/test/__init__.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecovery.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoveryloader.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoverysaver.py
  qt/applications/workbench/workbench/test/test_fit_interactive_tool.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectsaver.py
  qt/python/mantidqt/project/test/test_projectloader.py
  qt/python/mantidqt/project/test/test_projectsaver.py
  qt/python/mantidqt/utils/asynchronous.py
  qt/python/mantidqt/utils/test/test_async.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/jupyterconsole.py
Labels: Component: GUI, Component: Project Recovery, Component: Tools, Component: Workbench

#24857 Update FDA to handle groupasymmetries, multiperiod and co-added data
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#24852 Load current run in muon GUIs
  docs/source/release/v3.14.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/utilities/muon_file_utils.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
Labels: Component: GUI, Component: Muon, Misc: Easy

#24858 SANS GUI user preferences and tooltips
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/Interface/ui/sans_isis/summation_settings_widget.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/summation_settings.py
  scripts/SANS/sans/gui_logic/presenter/add_runs_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
Labels: Component: GUI, Component: SANS, Misc: Easy

#24908 Added tab order tracking to new Muon Gui
  scripts/Muon/GUI/Common/dock/dockable_tabs.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: Component: GUI, Component: Muon, Component: Python

#24910 Workbench: Project Saver fix an issue where instrument view will save data in the a subdir of the project
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectsaver.py
Labels: Component: Project Recovery, Component: Tools, Component: Workbench

#24562 Add peak controls to the workbench fitting tool
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/utils/qt/testing/gui_window_test.py
  qt/python/mantidqt/widgets/fitpropertybrowser.py
  qt/python/mantidqt/widgets/fitpropertybrowser/__init__.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
  qt/python/mantidqt/widgets/fitpropertybrowser/markers.py
  qt/python/mantidqt/widgets/fitpropertybrowser/mouse_state_machine.py
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/PropertyHandler.cpp
Labels: Component: Workbench

#24911 Workbench: Instrument view mini peak pick plot will now zoom out on new peak selection
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/MiniPlotMpl.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/MiniPlotMpl.cpp
Labels: Component: Tools, Component: Workbench

#24915 Workbench/Matplotlib in mantidqt: Make legends draggable
  qt/python/mantidqt/plotting/functions.py
Labels: Component: GUI, Component: Workbench

#24909 Pull in latest updates to mslice
  docs/source/release/v3.14.0/direct_inelastic.rst
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Component: Direct Inelastic

#24906 Workbench: Fit property browser lines now keep all settings from one fit to another.
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Component: GUI, Component: Workbench
