Repository mantidproject/mantid, pull requests merged in 2019-01, with the labels that each got.

#24394 Fix error reporter when recovery directory does not exist
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/retrieve_recovery_files.py
  scripts/test/ErrorReportPresenterTest.py
Labels: Priority: High

#24393 Throw an exception when fail to make volume
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/test/AnyShapeAbsorptionTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Misc: Easy

#24402 Add Algorithm::setExecuted(false) to Algorithm
  Framework/API/src/Algorithm.cpp
  Framework/Algorithms/test/ApplyDetailedBalanceTest.h
Labels: Misc: Easy

#24134 Workbench: Project Save - Workspaces Only
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/AnalysisDataServiceObserver.h
  Framework/API/src/AnalysisDataServiceObserver.cpp
  Framework/API/test/AnalysisDataServiceObserverTest.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/AnalysisDataServiceObserverAdapter.h
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmObserver.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AnalysisDataService.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AnalysisDataServiceObserver.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AnalysisDataServiceObserverAdapter.cpp
  Framework/PythonInterface/test/python/mantid/api/AnalysisDataServiceObserverTest.py
  Framework/PythonInterface/test/python/mantid/api/AnalysisDataServiceTest.py
  Framework/PythonInterface/test/python/mantid/api/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/io.py
  qt/python/mantidqt/project/__init__.py
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectsaver.py
  qt/python/mantidqt/project/test/__init__.py
  qt/python/mantidqt/project/test/test_project.py
  qt/python/mantidqt/project/test/test_projectloader.py
  qt/python/mantidqt/project/test/test_projectsaver.py
  qt/python/mantidqt/project/test/test_workspaceloader.py
  qt/python/mantidqt/project/test/test_workspacesaver.py
  qt/python/mantidqt/project/workspaceloader.py
  qt/python/mantidqt/project/workspacesaver.py
Labels: Component: GUI, Component: Workbench

#24409 Fixes and unit tests for AlignAndFocusPowder Refs #23888
  Framework/WorkflowAlgorithms/CMakeLists.txt
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  Framework/WorkflowAlgorithms/test/AlignAndFocusPowderTest.h
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug, Quality: Coverity, Quality: Unit Tests

#24406 Set the default facility and instrument in LoadILLDiffractionTest
  Framework/DataHandling/test/LoadILLDiffractionTest.h
Labels: Misc: Easy

#24307 Developer documentation for the 'scripts' and 'qt' directories
  dev-docs/source/Standards/AdditionalPythonCode.rst
  dev-docs/source/Standards/index.rst
Labels: Quality: Documentation

#24413 Set colorfill plot origin to match pcolormesh
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  qt/applications/workbench/workbench/plotting/functions.py
Labels: Component: Python, Component: Workbench

#24410 BinaryOperation updated
  Framework/Algorithms/inc/MantidAlgorithms/BinaryOperation.h
  Framework/Algorithms/inc/MantidAlgorithms/CommutativeBinaryOperation.h
  Framework/Algorithms/inc/MantidAlgorithms/Divide.h
  Framework/Algorithms/inc/MantidAlgorithms/Minus.h
  Framework/Algorithms/inc/MantidAlgorithms/Multiply.h
  Framework/Algorithms/inc/MantidAlgorithms/Plus.h
  Framework/Algorithms/inc/MantidAlgorithms/PoissonErrors.h
  Framework/Algorithms/inc/MantidAlgorithms/WeightedMean.h
  Framework/Algorithms/src/BinaryOperation.cpp
  Framework/Algorithms/src/CommutativeBinaryOperation.cpp
  Framework/Algorithms/src/Divide.cpp
  Framework/Algorithms/src/Minus.cpp
  Framework/Algorithms/src/Multiply.cpp
  Framework/Algorithms/src/Plus.cpp
  Framework/Algorithms/src/PoissonErrors.cpp
  Framework/Algorithms/src/WeightedMean.cpp
  Framework/Algorithms/test/BinaryOperationTest.h
  Framework/Algorithms/test/CommutativeBinaryOperationTest.h
  Framework/Algorithms/test/MultiplyDivideTest.in.h
  Framework/Algorithms/test/PlusMinusTest.in.h
  Framework/Algorithms/test/PoissonErrorsTest.h
  Framework/Algorithms/test/WeightedMeanTest.h
  Framework/MDAlgorithms/test/WeightedMeanMDTest.h
  docs/source/algorithms/WeightedMean-v1.rst
Labels: Component: Framework, Misc: Maintenance

#24267 Added newly updated Wish scripts
  Testing/Data/SystemTest/WISH/input/11_4/WISH00019612.raw.md5
  Testing/Data/SystemTest/WISH/input/11_4/WISH00019618.raw.md5
  Testing/Data/SystemTest/WISH/input/18_1/WISH00040503.raw.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISH_cycle_10_3_noends_10to10.cal.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISH_cycle_15_4_noends_10to10_dodgytube_removed_feb2016.cal.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-10foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-1foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-2foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-3foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-4foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-5foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-6foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-7foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-8foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/WISHvana41865-9foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst19618-5foc-SF-S.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst19618-6foc-SF-S.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-10foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-1foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-2foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-3foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-4foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-5foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-6foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-7foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-8foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/emptyinst38581-9foc.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/vana19612-5foc-SF-SS.nxs.md5
  Testing/Data/SystemTest/WISH/input/Cal/vana19612-6foc-SF-SS.nxs.md5
  Testing/Data/SystemTest/WISH/input/WISH00041870.nxs.md5
  Testing/SystemTests/tests/analysis/ISIS_WISHPowderReductionTest.py
  Testing/SystemTests/tests/analysis/reference/WISH40503-5_6no_absorb_raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH40503-5_6raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH41870-1_10raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH41870-2_9raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH41870-3_8raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH41870-4_7raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/WISH41870-5_6raw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/vana19612-5foc-SF-SS.nxs.md5
  Testing/SystemTests/tests/analysis/reference/vana19612-6foc-SF-SS.nxs.md5
  scripts/Diffraction/wish/SX_reduction_august2017.py
  scripts/Diffraction/wish/__init__.py
  scripts/Diffraction/wish/reduce.py
  scripts/wish/reduce.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Quality: System Tests

#24359 Fix BinEdgeAxis in WorkspaceCreation and ExtractSpectra
  Framework/API/src/WorkspaceFactory.cpp
  Framework/Algorithms/src/ExtractSpectra2.cpp
  Framework/Algorithms/test/ExtractFFTSpectrumTest.h
  Framework/Algorithms/test/ExtractSpectra2Test.h
  Framework/DataHandling/test/CompressEventsTest.h
  Framework/DataObjects/test/WorkspaceCreationTest.h
  Framework/Indexing/inc/MantidIndexing/IndexSet.h
  Framework/Indexing/test/IndexSetTest.h
  Testing/SystemTests/tests/analysis/reference/II.IRISMoments.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISMoments.nxs.md5
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Misc: Bug

#24412 Reduce comparisons of logs in AlignAndFocus chunks
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24433 Make Tooltips Readable on Ubuntu18
  MantidPlot/src/ApplicationWindow.cpp
Labels: Component: GUI, Priority: High

#24425 Indirect Data Analysis - Error bars for results
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
Labels: Component: Indirect Inelastic

#24303 ConvFitDataPresenter and JumpFitDataPresenter Unit tests
  Framework/Algorithms/test/IndirectFitDataCreationHelperTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/IndirectFitDataCreationHelper.h
  Framework/TestHelpers/src/IndirectFitDataCreationHelper.cpp
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/ConvFitDataPresenter.h
  qt/scientific_interfaces/Indirect/ConvFitModel.h
  qt/scientific_interfaces/Indirect/IIndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitModel.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectDataTablePresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
Labels: Component: Indirect Inelastic, Quality: Unit Tests

#24447 Minor documentation changes
  Framework/Algorithms/src/EstimateResolutionDiffraction.cpp
  docs/source/algorithms/EstimateResolutionDiffraction-v1.rst
Labels: Component: Documentation, Misc: Easy

#24308 Automatically Add Batch File directory to Directory Manager
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/gui_common_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: SANS

#24326 Indirect Data Analysis - Keep open option for Multiple Input
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/ConvFitAddWorkspaceDialog.ui
  qt/scientific_interfaces/Indirect/IAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.ui
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/JumpFitAddWorkspaceDialog.ui
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
Labels: Component: GUI, Component: Indirect Inelastic

#24423 Plot HKL in summed miniplot on instrument view
  docs/source/release/v3.14.0/ui.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Component: GUI

#24460 Fix fit browser workspace index bug
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Component: Fitting, Component: GUI, Misc: Bug

#24468 Show error and stop CMake configuration if .NET 2 is not available
  buildconfig/CMake/WindowsNSIS.cmake
Labels: Component: Workbench, Misc: Bug

#24352 DownloadInstrument segfault in docker and conda
  Framework/DataHandling/src/DownloadInstrument.cpp
  Framework/Kernel/inc/MantidKernel/GitHubApiHelper.h.in
  Framework/Kernel/src/GitHubApiHelper.cpp
  Framework/Kernel/src/InternetHelper.cpp
Labels: Misc: Bug

#24463 Tests for TableWorkspaceDisplay presenter
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test_helpers/matrixworkspacedisplay_common.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test_helpers/mock_matrixworkspacedisplay.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/error_column.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/marked_columns.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_marked_columns.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test_helpers/mock_plotlib.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
Labels: Component: Workbench, Quality: Unit Tests

#24414 Workbench: Update plots if the workspace data changes
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/qappthreadcall.py
  qt/applications/workbench/workbench/plotting/test/test_figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_globalfiguremanager.py
  qt/python/mantidqt/widgets/fitpropertybrowser.py
Labels: Component: Workbench

#24338 Multiple plotting GUI
  scripts/CMakeLists.txt
  scripts/MultiPlotting/AxisChanger/__init__.py
  scripts/MultiPlotting/AxisChanger/axis_changer_presenter.py
  scripts/MultiPlotting/AxisChanger/axis_changer_view.py
  scripts/MultiPlotting/QuickEdit/__init__.py
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/MultiPlotting/__init__.py
  scripts/MultiPlotting/multiPlotting_context.py
  scripts/MultiPlotting/multiPlotting_widget.py
  scripts/MultiPlotting/navigation_toolbar.py
  scripts/MultiPlotting/subplot/__init__.py
  scripts/MultiPlotting/subplot/subPlot.py
  scripts/MultiPlotting/subplot/subPlot_context.py
  scripts/plotting_test.py
  scripts/test/MultiPlotting/AxisChangerTwoPresenter_test.py
  scripts/test/MultiPlotting/AxisChangerTwoView_test.py
  scripts/test/MultiPlotting/CMakeLists.txt
  scripts/test/MultiPlotting/MultiPlotWidget_test.py
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/QuickEditPresenter_test.py
  scripts/test/MultiPlotting/QuickEditWidget_test.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
Labels: Component: GUI

#24420 Remove Unecessary calls to ISIS Data Archive
  Framework/DataHandling/inc/MantidDataHandling/ISISDataArchive.h
  Framework/DataHandling/src/ISISDataArchive.cpp
  Framework/DataHandling/test/ISISDataArchiveTest.h
Labels: Component: Framework

#24348 Indirect Data Analysis - Result workspace names are wrong
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.h
  qt/scientific_interfaces/Indirect/IndirectFitOutput.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IqtFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/MSDFitModel.cpp
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
Labels: Component: Indirect Inelastic, Misc: Bug

#24497 Prevent a crash when property has no value attribute
  qt/python/mantidqt/widgets/algorithmprogress/model.py
Labels: Component: Workbench, Misc: Bug

#24474 Stop crash when writing too many errors to stderr wituout an external console to write to
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/utils/writetosignal.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: Workbench

#24328 Stop Hard Crash on JobTreeView Enter Press
  docs/source/release/v3.14.0/sans.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/CellDelegate.h
  qt/widgets/common/src/Batch/CellDelegate.cpp
  qt/widgets/common/src/Batch/JobTreeView.cpp
Labels: Component: GUI, Component: Reflectometry, Component: SANS, Misc: Bug

#24471 Add PyCharm environment file to CMake configuration
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/windows/pycharm.env.in
  dev-docs/source/GettingStartedWithPyCharm.rst
Labels: Misc: Easy, Misc: Maintenance

#24502 Columns in Matrix and Table workspace displays are now adjustable
  qt/python/mantidqt/widgets/matrixworkspacedisplay/view.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
Labels: Component: Workbench

#24503 Minor fix to absorption corrections
  Framework/Algorithms/src/AbsorptionCorrection.cpp
Labels: Misc: Bug

#24498 Restrict the Details window to only 1 instance
  qt/python/mantidqt/widgets/algorithmprogress/dialog_presenter.py
  qt/python/mantidqt/widgets/algorithmprogress/dialog_widget.py
  qt/python/mantidqt/widgets/algorithmprogress/widget.py
Labels: Component: Workbench, Misc: Bug

#24513 Follow changes in plotly
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SavePlot1D.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SavePlot1DTest.py
  docs/source/release/v3.14.0/ui.rst
Labels: Misc: Bug, Priority: High

#24488 Indirect Elwin - Load without history option
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.ui
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
Labels: Component: Indirect Inelastic

#24366 Export SANS Table as CSV
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS

#24523 Discard preservation of events for monitor counts
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
Labels: Component: Indirect Inelastic

#24383 Fix Variable Q Binning from SANS User File
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/user_file/user_file_parser.py
  scripts/test/SANS/common/enums_test.py
  scripts/test/SANS/user_file/user_file_parser_test.py
Labels: Component: SANS

#24345 Reflectometry GUI restructuring 2: Save tab
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/IEventPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/IEventView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISavePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SaveWidget.ui
  qt/scientific_interfaces/ISISReflectometry/IReflAsciiSaver.h
  qt/scientific_interfaces/ISISReflectometry/IReflBatchView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflBatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflBatchView.h
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflRunsPresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/MockSaveView.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
  qt/scientific_interfaces/test/ReflMockObjects.h
Labels: Component: GUI, Component: Reflectometry

#24469 Add Ctrl+Enter shortcut to execute code in the CodeEditor
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/utils/qt/__init__.py
  qt/python/mantidqt/utils/test/test_qt_utils.py
Labels: Component: Workbench, Misc: Easy

#24451 Initial addition for CalculateEfficiencyCorrection algorithm
  Framework/PythonInterface/plugins/algorithms/CalculateEfficiencyCorrection.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CalculateEfficiencyCorrectionTest.py
  Testing/Data/UnitTest/CalculateEfficiencyCorrection_milder_moderator_polyethlyene_300K.txt.md5
  docs/source/algorithms/CalculateEfficiencyCorrection-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework, Component: Python

#24505 Rebin2D: avoid NaNs by skipping bins of zero size
  Framework/Algorithms/src/Rebin2D.cpp
  Framework/Algorithms/test/Rebin2DTest.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  Framework/Kernel/src/VectorHelper.cpp
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Framework

#24536 MR: use simple background average
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
Labels: Component: Reflectometry

#24548 Try both arg lists for Layout
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SavePlot1D.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SavePlot1DTest.py
Labels: Misc: Bug, Misc: Easy

#24516 New algorithm for MD Normalization for single crystal data
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDNorm.h
  Framework/MDAlgorithms/src/MDNorm.cpp
  Framework/MDAlgorithms/src/MDNormDirectSC.cpp
  Testing/SystemTests/tests/analysis/MDNormCORELLITest.py
  Testing/SystemTests/tests/analysis/MDNormHYSPECTest.py
  Testing/SystemTests/tests/analysis/reference/MDNormCORELLI.nxs.md5
  Testing/SystemTests/tests/analysis/reference/MDNormHYSPEC.nxs.md5
  docs/source/algorithms/MDNorm-v1.rst
  docs/source/images/MDNorm_elastic_sym.png
  docs/source/images/MDNorm_inelastic_sym.png
  docs/source/release/v3.14.0/diffraction.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Diffraction, Component: Direct Inelastic, Group: Single Crystal

#23651 Muon - Widget; Muon Grouping Table
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_table_widget/__init__.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_model.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
Labels: Component: GUI, Component: Muon

#23655 Muon - Widget; Home Tab Grouping Widget
  scripts/Muon/GUI/Common/home_grouping_widget/__init__.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
Labels: Component: GUI, Component: Muon

#24530 Indirect Data Analysis - Multiple input Unexpected error
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ConvFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#24508 Add some more tests for mantid.plots.helperfunctions
  Framework/PythonInterface/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
Labels: Component: Workbench, Quality: Unit Tests

#24494 Workbench: Project Save saves all plot types and not just basic plots
  Framework/PythonInterface/mantid/plots/__init__.py
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/applications/workbench/workbench/test/test_fit_interactive_tool.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/plotting/__init__.py
  qt/python/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/__init__.py
  qt/python/mantidqt/plotting/test/test_figuretype.py
  qt/python/mantidqt/plotting/test/test_functions.py
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotssaver.py
  qt/python/mantidqt/widgets/fitpropertybrowser.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/__main__.py
Labels: Component: Framework, Component: GUI, Component: Workbench

#24390 Restore full workspace history on WorkspaceGroups
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/src/Algorithm.cpp
  Framework/API/src/MultiPeriodGroupWorker.cpp
  Framework/API/src/WorkspaceGroup.cpp
  Framework/API/src/WorkspaceHistory.cpp
  Framework/API/test/AlgorithmTest.h
  Framework/Algorithms/inc/MantidAlgorithms/Stitch1DMany.h
  Framework/DataHandling/src/SaveNexusProcessed.cpp
  Framework/Kernel/inc/MantidKernel/CompositeValidator.h
  Framework/Kernel/test/CompositeValidatorTest.h
  scripts/SANS/SANSUtility.py
  scripts/SANS/isis_reduction_steps.py
Labels: Priority: High

#24464 Indirect - Automatic rqw contour plot in sqw interface
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.h
  qt/scientific_interfaces/Indirect/IndirectSqw.ui
  qt/widgets/legacyqwt/CMakeLists.txt
  qt/widgets/legacyqwt/inc/MantidQtWidgets/LegacyQwt/ContourPreviewPlot.h
  qt/widgets/legacyqwt/inc/MantidQtWidgets/LegacyQwt/ContourPreviewPlot.ui
  qt/widgets/legacyqwt/src/ContourPreviewPlot.cpp
  qt/widgets/legacyqwt/test/ContourPreviewPlotTest.h
Labels: Component: GUI, Component: Indirect Inelastic

#23673 Muon - Widget; Load Widget
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/context_example/context_example_view.py
  scripts/Muon/GUI/Common/load_file_widget/view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_model.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_view.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/__init__.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_model.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_view.py
  scripts/Muon_Analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_view_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
  scripts/test/Muon/utilities/run_string_utils_conversion_test.py
Labels: Component: GUI, Component: Muon

#24542 Cleanup blocksize() usage
  Framework/Algorithms/inc/MantidAlgorithms/BinaryOperation.h
  Framework/Algorithms/src/ApplyFloodWorkspace.cpp
  Framework/Algorithms/src/BinaryOperation.cpp
  Framework/Algorithms/src/Divide.cpp
  Framework/Algorithms/src/Multiply.cpp
  Framework/Algorithms/src/NormaliseToMonitor.cpp
  Framework/Algorithms/src/PolarizationCorrectionFredrikze.cpp
  Framework/Algorithms/src/SofQWPolygon.cpp
  Framework/Algorithms/test/BinaryOperationTest.h
  Framework/Algorithms/test/CommutativeBinaryOperationTest.h
  Framework/Algorithms/test/MultiplyDivideTest.in.h
  Framework/Algorithms/test/PlusMinusTest.in.h
  Framework/Crystal/src/CentroidPeaks.cpp
  Framework/PythonInterface/plugins/algorithms/CalibrateRectangularDetectors.py
  Framework/PythonInterface/plugins/algorithms/EnggVanadiumCorrections.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  MantidPlot/src/Mantid/MantidSurfaceContourPlotGenerator.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
Labels: Component: Framework, Quality: Code Quality

#24574 MR: Add option to clean data
  Framework/PythonInterface/plugins/algorithms/MagnetismReflectometryReduction.py
Labels: Component: Reflectometry

#24566 Fix error reporter inside MantidPlot
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  scripts/ErrorReporter/error_dialog_app.py
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
Labels: Priority: High

#24571 Fix TableWorkspaceDisplay resize and add show data context
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench

#24465 Do not double declare properties
  Framework/Algorithms/src/FilterEvents.cpp
Labels: Misc: Bug, Misc: Easy

#24456 Indirect Data Analysis - Undock mini plots
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectFitPreviewPlot.ui
Labels: Component: GUI, Component: Indirect Inelastic

#23951 Refactor wish to use align and focus powder
  Testing/SystemTests/tests/analysis/ISIS_WISHPowderReductionTest.py
  scripts/Diffraction/wish/reduce.py
Labels: Component: Diffraction, Component: Python

#24585 Add super-class call for MWD resize event
  qt/python/mantidqt/widgets/matrixworkspacedisplay/view.py
Labels: Component: Workbench

#24550 Increased logging level of creating geometry cache because of slow creation
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  docs/source/release/v3.14.0/ui.rst
Labels: Component: Diffraction, Misc: Core

#24374 Reflectometry GUI restructuring 4: Runs tab
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/IReflAutoreduction.h
  qt/scientific_interfaces/ISISReflectometry/IReflBatchView.h
  qt/scientific_interfaces/ISISReflectometry/IReflSearcher.h
  qt/scientific_interfaces/ISISReflectometry/QtReflBatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/QtReflBatchView.h
  qt/scientific_interfaces/ISISReflectometry/QtReflMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/ReflAutoreduction.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflAutoreduction.h
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/ReflBatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/ReflMainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/ReflSearchModel.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTableView.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupDeletionTest.h
  qt/scientific_interfaces/test/ReflMockObjects.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/MockProgressableView.h
  qt/widgets/common/src/Batch/JobTreeView.cpp
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#24602 Updated PyCharm project structure instructions, and local debugging instructions
  dev-docs/source/GettingStartedWithPyCharm.rst
  dev-docs/source/Workbench.rst
Labels: Component: Documentation, Component: Workbench

#24600 Add RunNumber to Each Workspace in Multi-Period Event Data
  Framework/DataHandling/src/LoadEventNexus.cpp
Labels: Component: Framework, Priority: High

#23654 Muon - Widget; Home Tab Instrument Widget
  scripts/Muon/GUI/Common/home_instrument_widget/__init__.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
Labels: Component: GUI, Component: Muon

#24590 Refs # banks selections depends on reflection selection
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
Labels: Component: Indirect Inelastic

#24589 Add script execution timestamp to editor status
  qt/python/mantidqt/utils/asynchronous.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: Workbench

#24563 Update Matrix/TableWorkspaceDisplay and InstrumentView on workspace change
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/common/observing_presenter.py
  qt/python/mantidqt/widgets/common/observing_view.py
  qt/python/mantidqt/widgets/common/test/__init__.py
  qt/python/mantidqt/widgets/common/test/test_observing_presenter.py
  qt/python/mantidqt/widgets/common/test/test_observing_view.py
  qt/python/mantidqt/widgets/common/test/test_workspacedisplay_ads_observer.py
  qt/python/mantidqt/widgets/common/test_mocks/__init__.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_mantid.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_matrixworkspacedisplay.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_observing.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_plotlib.py
  qt/python/mantidqt/widgets/common/test_mocks/mock_qt.py
  qt/python/mantidqt/widgets/common/workspacedisplay_ads_observer.py
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/widgets/instrumentview/view.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/model.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/presenter.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test/test_matrixworkspacedisplay_model.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test/test_matrixworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/test/test_matrixworkspacedisplay_table_view_model.py
  qt/python/mantidqt/widgets/matrixworkspacedisplay/view.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/model.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_model.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test_helpers/__init__.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
Labels: Component: Workbench

#24556 Enable materials with unknown chemical compositions
  Framework/API/inc/MantidAPI/Sample.h
  Framework/DataHandling/inc/MantidDataHandling/ReadMaterial.h
  Framework/DataHandling/src/ReadMaterial.cpp
  Framework/DataHandling/src/SetSampleMaterial.cpp
  Framework/DataHandling/test/ReadMaterialTest.h
  Framework/Kernel/inc/MantidKernel/Atom.h
  Framework/Kernel/inc/MantidKernel/MaterialBuilder.h
  Framework/Kernel/inc/MantidKernel/NeutronAtom.h
  Framework/Kernel/src/Atom.cpp
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/src/NeutronAtom.cpp
  Framework/Kernel/test/MaterialBuilderTest.h
  docs/source/algorithms/SetSampleMaterial-v1.rst
  docs/source/release/v3.14.0/framework.rst
Labels: Component: Direct Inelastic, Component: Framework, Component: Indirect Inelastic

#24605 Add Python API docs for RebinParamsValidator
  Framework/PythonInterface/mantid/kernel/src/Exports/RebinParamsValidator.cpp
  docs/source/api/python/mantid/kernel/RebinParamsValidator.rst
Labels: Quality: Documentation

#24526 Indirect - ElasticWindowMultiple doesn't propagate errors
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Testing/SystemTests/tests/analysis/reference/II.AnalysisElWinMulti.nxs.md5
  docs/source/release/v3.14.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.ui
  qt/scientific_interfaces/Indirect/Stretch.ui
Labels: Component: Indirect Inelastic, Misc: Bug

#24608 Fix transient imports, destroy toolbar on widgetclosed
  qt/applications/workbench/workbench/plotting/backend_workbench.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: Component: Workbench, Misc: Bug

#24604 Improve developer documentation around pull request reviews
  dev-docs/source/GitWorkflow.rst
  dev-docs/source/ReviewingAPullRequest.rst
  dev-docs/source/index.rst
Labels: Component: Documentation

#24545 Indirect Data Analysis - FABADA PDF plotting options
  Framework/TestHelpers/inc/MantidTestHelpers/IndirectFitDataCreationHelper.h
  Framework/TestHelpers/src/IndirectFitDataCreationHelper.cpp
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/IIndirectFitOutputOptionsModel.h
  qt/scientific_interfaces/Indirect/IIndirectFitOutputOptionsView.h
  qt/scientific_interfaces/Indirect/IIndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptions.ui
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsModel.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsView.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFit.ui
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectFitDataTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputOptionsModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputOptionsPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
Labels: Component: GUI, Component: Indirect Inelastic, Quality: Code Quality

#24599 Fix issue with writetosignal tests failing
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/utils/writetosignal.py
Labels: Component: Workbench

#24623 Save reflections with modulated indexing in Jana format
  Framework/PythonInterface/plugins/algorithms/SaveReflections.py
  Framework/PythonInterface/test/python/plugins/algorithms/SaveReflectionsTest.py
  Testing/Data/UnitTest/jana_format_modulated.hkl.md5
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#24619 Prevent crash when deleting workspace with an open plot
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
Labels: Component: Workbench

#24357 Autocomplete SampleShape in SANS Table
  docs/source/release/v3.14.0/sans.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/CellDelegate.h
  qt/widgets/common/src/Batch/CellDelegate.cpp
  qt/widgets/common/src/Batch/JobTreeView.cpp
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: GUI, Component: SANS

#23658 Muon - Widget; Muon Help Widget
  scripts/Muon/GUI/Common/help_widget/__init__.py
  scripts/Muon/GUI/Common/help_widget/help_widget_presenter.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/Muon_Analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/help_widget_presenter_test.py
Labels: Component: GUI, Component: Muon

#24517 Added Script Version of Engineering diffraction
  Testing/Data/SystemTest/ENGINX/EnginX.csv.md5
  Testing/Data/SystemTest/ENGINX00299080.nxs.md5
  Testing/SystemTests/tests/analysis/EnginXScriptTest.py
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_1_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_2_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_cropped.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_cropped.nxs_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_cropped_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_south_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_south_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_banks_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_banks_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_cropped_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_sample.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_vanadium_integration.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_focusing_output_ws_bank_1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_focusing_output_ws_bank_2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_focusing_output_ws_bank_cropped.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_10.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_3.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_4.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_5.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_6.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_7.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_8.nxs.md5
  Testing/SystemTests/tests/analysis/reference/enggui_texture_Bank_9.nxs.md5
  docs/source/release/v3.14.0/diffraction.rst
  scripts/Engineering/EnginX.py
  scripts/Engineering/__init__.py
Labels: Component: Diffraction, Component: Python

#24573 Improve default output names in RROA
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  Framework/TestHelpers/inc/MantidTestHelpers/ReflectometryHelper.h
Labels: Component: Framework, Component: Reflectometry

#24596 TableWorkspaceDisplay column sort changes the workspace in the ADS
  qt/python/mantidqt/widgets/tableworkspacedisplay/model.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/test/test_tableworkspacedisplay_workbench_table_widget_item.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/view.py
  qt/python/mantidqt/widgets/tableworkspacedisplay/workbench_table_widget_item.py
Labels: Component: Workbench

#24627 Adding to run info in muon analysis
  docs/source/release/v3.14.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysisHelper.cpp
Labels: Component: GUI, Component: Muon, Misc: Easy

#24620 Doctest info concepts
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/VersionCompat.h
  Framework/PythonInterface/mantid/geometry/src/Exports/ComponentInfoPythonIterator.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/DetectorInfoPythonIterator.cpp
  docs/source/concepts/ComponentInfo.rst
  docs/source/concepts/DetectorInfo.rst
Labels: Quality: Documentation

#24635 DirectILLCollectData: handle broken monitors gracefully
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/release/v3.14.0/direct_inelastic.rst
Labels: Component: Direct Inelastic

#24624 Moved the place where sample closeGroup was called
  Framework/DataHandling/inc/MantidDataHandling/LoadEventNexus.h
  Framework/DataHandling/test/LoadEventNexusTest.h
  Testing/Data/UnitTest/EQSANS_89157.nxs.h5.md5
Labels: Misc: Bug

#24639 Only process or load rows if not empty
  docs/source/release/v3.14.0/sans.rst
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: SANS

#23653 Muon - Widget; Grouping Tab
  Framework/Muon/src/MuonPairingAsymmetry.cpp
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_tab_widget/__init__.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_model.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/message_box.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_model.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/thread_model_wrapper.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon_Analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
Labels: Component: GUI, Component: Muon

#24654 Add PyStoG as an external project
  Framework/PythonInterface/test/testhelpers/testrunner.py
  buildconfig/CMake/PyStoG.cmake
  docs/source/release/v3.14.0/diffraction.rst
  scripts/CMakeLists.txt
Labels: Component: Python
