Repository mantidproject/mantid, pull requests merged in 2019-12, with the labels that each got.

#27488 Fix various dev docs warnings
  dev-docs/source/ISISSANSReductionBackend.rst
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ErrorReporterTesting.rst
Labels: Code Quality, Documentation, Easy

#27522 Handle corrupted data in SANS event slicing
  Framework/Algorithms/src/FilterByTime.cpp
  docs/source/release/v4.3.0/sans.rst
  scripts/SANS/sans/algorithm_detail/slice_sans_event.py
Labels: High Priority, ISIS Team: LSS, SANS

#27523 Revert "Write Xvfb errors to a log file"
  buildconfig/Jenkins/buildscript
Labels: Maintenance

#27533 Stop possible segmentation fault
  Framework/WorkflowAlgorithms/src/SANSBeamFinder.cpp
Labels: Bug, SANS

#27489 Add a space between Mantid and Workbench/Plot on Win
  CMakeLists.txt
  buildconfig/CMake/WindowsNSIS.cmake
  docs/source/release/v4.3.0/ui.rst
Labels: MantidPlot, Workbench

#27545 Updates the Eigen repo URL to an upstream mirror
  buildconfig/CMake/Eigen.in
Labels: High Priority

#27536 Get ConvertWANDSCDtoQ and FindPeaksMD working for HB3A
  Framework/Crystal/test/PredictPeaksTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/Goniometer.h
  Framework/Geometry/src/Instrument/Goniometer.cpp
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  Framework/PythonInterface/plugins/algorithms/ConvertWANDSCDtoQ.py
  Testing/Data/SystemTest/HB3A_data.nxs.md5
  Testing/SystemTests/tests/analysis/ConvertWANDSCDtoQTest.py
  docs/source/algorithms/ConvertWANDSCDtoQ-v1.rst
  docs/source/algorithms/FindPeaksMD-v1.rst
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, Single Crystal

#27517 Make OpenMP for loops use max threads value from config
  Framework/Algorithms/src/SofQWNormalisedPolygon.cpp
  Framework/Kernel/inc/MantidKernel/MultiThreaded.h
  buildconfig/CMake/MSVCSetup.cmake
Labels: Framework, ISIS Team: Diffraction, Maintenance

#27497 Get pulse times as Numpy types
  Framework/PythonInterface/mantid/api/src/Exports/IEventList.cpp
  Framework/PythonInterface/test/python/mantid/dataobjects/EventListTest.py
Labels: Python

#27431 Fix issue with Elemental analysis not supporting legacy data
  docs/source/release/v4.3.0/muon.rst
  scripts/Muon/GUI/Common/load_widget/load_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_view.py
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
  scripts/test/Muon/elemental_analysis/load_utils_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#27518 Fix remaining memory leaks in C++ tests
  Framework/API/inc/MantidAPI/IMDHistoWorkspace.h
  Framework/Algorithms/inc/MantidAlgorithms/FilterEvents.h
  Framework/Algorithms/src/AddSampleLog.cpp
  Framework/Algorithms/src/CalculateCountRate.cpp
  Framework/Algorithms/src/FilterByLogValue.cpp
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/src/SumEventsByLogValue.cpp
  Framework/Algorithms/test/CheckWorkspacesMatchTest.h
  Framework/Algorithms/test/CompareWorkspacesTest.h
  Framework/Algorithms/test/CropWorkspaceTest.h
  Framework/Algorithms/test/DetectorEfficiencyCorTest.h
  Framework/Algorithms/test/ExtractSingleSpectrumTest.h
  Framework/Algorithms/test/FilterByTime2Test.h
  Framework/Algorithms/test/SparseInstrumentTest.h
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/NormaliseByPeakArea.h
  Framework/CurveFitting/src/Algorithms/NormaliseByPeakArea.cpp
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  Framework/CurveFitting/test/FitMWTest.h
  Framework/DataObjects/inc/MantidDataObjects/CoordTransformAligned.h
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspace.h
  Framework/DataObjects/src/CoordTransformAligned.cpp
  Framework/DataObjects/src/MDHistoWorkspace.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/BinMD.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/SlicingAlgorithm.h
  Framework/MDAlgorithms/src/BinMD.cpp
  Framework/MDAlgorithms/src/CreateMDHistoWorkspace.cpp
  Framework/MDAlgorithms/src/EvaluateMDFunction.cpp
  Framework/MDAlgorithms/src/ImportMDHistoWorkspace.cpp
  Framework/MDAlgorithms/src/IntegratePeaksMDHKL.cpp
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/MDAlgorithms/src/MDNorm.cpp
  Framework/MDAlgorithms/src/MDNormDirectSC.cpp
  Framework/MDAlgorithms/src/MDNormSCD.cpp
  Framework/MDAlgorithms/src/SaveMD.cpp
  Framework/MDAlgorithms/src/SaveMD2.cpp
  Framework/MDAlgorithms/src/SaveZODS.cpp
  Framework/MDAlgorithms/src/SliceMD.cpp
  Framework/MDAlgorithms/src/SlicingAlgorithm.cpp
  Framework/MDAlgorithms/src/TransformMD.cpp
  Framework/MDAlgorithms/test/BinMDTest.h
  Framework/MDAlgorithms/test/CreateMDHistoWorkspaceTest.h
  Framework/MDAlgorithms/test/ImportMDHistoWorkspaceTest.h
  Framework/MDAlgorithms/test/SlicingAlgorithmTest.h
  Framework/MDAlgorithms/test/ThresholdMDTest.h
  Framework/PythonInterface/mantid/api/src/Exports/IMDHistoWorkspace.cpp
  Framework/SINQ/src/LoadFlexiNexus.cpp
  Framework/SINQ/src/MDHistoToWorkspace2D.cpp
  Framework/SINQ/src/SINQTranspose3D.cpp
  Framework/SINQ/test/InvertMDDimTest.h
  Framework/SINQ/test/LoadFlexiNexusTest.h
  Framework/SINQ/test/ProjectMDTest.h
  Framework/SINQ/test/SliceMDHistoTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
  qt/paraview_ext/VatesAPI/src/vtkMDHistoHexFactory.cpp
  qt/paraview_ext/VatesAPI/test/vtkMDHWSignalArrayTest.h
  qt/paraview_ext/VatesAlgorithms/src/LoadVTK.cpp
Labels: Bug

#27541 Add enum34 backport to RHEL rpm
  Framework/PythonInterface/mantid/plots/utility.py
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  qt/applications/workbench/workbench/plotting/globalfiguremanager.py
  qt/applications/workbench/workbench/plotting/observabledictionary.py
  qt/python/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/table_view_model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/plot_type.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
Labels: Linux Only, Python

#27460 Replace hardcoded index for MergeSpectra in polaris create_total_scattering_pdf
  docs/source/release/v4.3.0/diffraction.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: ISIS Team: Diffraction, Total Scattering

#27525 Add SANS to LOQ sys tests filenames
  Testing/SystemTests/tests/analysis/SANS2DLOQReloadWorkspaces.py
  Testing/SystemTests/tests/analysis/SANSLOQAddBatch.py
  Testing/SystemTests/tests/analysis/SANSLOQCentreNoGrav.py
  Testing/SystemTests/tests/analysis/SANSLOQReductionGUI.py
  Testing/SystemTests/tests/analysis/SANSLOQReductionGUITest_V2.py
  Testing/SystemTests/tests/analysis/SANSLOQTransFitWorkspace2D.py
  Testing/SystemTests/tests/analysis/SANSLOWCentreNoGrav_V2.py
  Testing/SystemTests/tests/analysis/SANSUtilityTest.py
Labels: ISIS Team: LSS, Maintenance, SANS, System Tests

#27516 Bump Minimum CMake to 3.13
  CMakeLists.txt
  dev-docs/source/GettingStarted.rst
Labels: Maintenance

#27561 Fix test failure on RHEL 7 when not using UTC timezone
  Framework/PythonInterface/test/python/mantid/dataobjects/EventListTest.py
Labels: Added during Sprint, Framework, High Priority, ISIS Team: Diffraction, Unit Tests

#27491 Attach muon plotting to GUI
  docs/source/release/v4.3.0/muon.rst
  qt/python/mantidqt/plotting/functions.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/Common/plotting_widget/__init__.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/home_plot_widget_model_test.py
  scripts/test/Muon/plotting_widget_freq_test.py
  scripts/test/Muon/plotting_widget_model_test.py
  scripts/test/Muon/plotting_widget_test.py
Labels: ISIS Team: Spectroscopy

#27396 Move axis functions from curves tab widget presenter to figure…
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
Labels: Maintenance

#27562 Fix crash when opening script with syntax error
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/completion.py
  qt/python/mantidqt/widgets/codeeditor/test/test_completion.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#27526 Add normalisation by bin width for 2d plots in workbench
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: ISIS Team: CoreTeam, Workbench

#27486 Add Ability to Load Existing Calibration into Engineering Diffraction UI
  docs/source/interfaces/Engineering Diffraction 2.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/src/MWRunFiles.cpp
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/vanadium_corrections.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_presenter.py
Labels: Diffraction, ISIS Team: Diffraction

#27546 Fix SANS ILL Integration test flaky when default facility changed
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/test/ConfigServiceTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
Labels: Bug, Code Quality, Framework

#27573 Add modulation vector inputs to PredictFractionalPeaks
  Framework/Crystal/CMakeLists.txt
  Framework/Crystal/inc/MantidCrystal/PeakAlgorithmHelpers.h
  Framework/Crystal/inc/MantidCrystal/PredictFractionalPeaks.h
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/src/PeakAlgorithmHelpers.cpp
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/Crystal/test/PredictFractionalPeaksTest.h
  Framework/Kernel/inc/MantidKernel/IPropertyManager.h
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#27502 Examples for creating Custom ColorCycles and ColorMaps
  docs/source/images/ColorMapCustomPlot.PNG
  docs/source/plotting/index.rst
Labels: Documentation

#27520 Fix various CMake and GCC Warnings
  Framework/Algorithms/src/CreateDetectorTable.cpp
  Framework/Algorithms/test/CalculatePlaczekSelfScatteringTest.h
  Framework/Algorithms/test/CreateDetectorTableTest.h
  Framework/Crystal/test/IndexPeaksTest.h
  Framework/DataHandling/test/LoadNGEMTest.h
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/MeshObjectTest.h
  Framework/NexusGeometry/test/JSONInstrumentBuilderTest.h
  Framework/NexusGeometry/test/NexusGeometrySaveTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/Material.cpp
  MantidPlot/CMakeLists.txt
  buildconfig/CMake/Eigen.cmake
  buildconfig/CMake/Eigen.in
  buildconfig/CMake/SipQtTargetFunctions.cmake
  buildconfig/CMake/Span.cmake
  buildconfig/CMake/Span.in
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Common/ClipboardTest.h
Labels: Maintenance

#27476 Misc change to C++ unit test files to make them run in Debug and in single thread
  Framework/Algorithms/src/GroupWorkspaces.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Crystal/test/PredictFractionalPeaksTest.h
  Framework/Crystal/test/PredictPeaksTest.h
  Framework/NexusGeometry/inc/MantidNexusGeometry/TubeHelpers.h
  Framework/NexusGeometry/src/TubeHelpers.cpp
  qt/widgets/common/test/RepoModelTest.h
Labels: ISIS Team: Diffraction, Maintenance

#27223 Add reflectometry GUI readme
  dev-docs/source/ISISReflectometryInterface.rst
  dev-docs/source/images/ISISReflectometryInterface_structure.png
  dev-docs/source/index.rst
Labels: Documentation, ISIS Team: LSS, Reflectometry

#27580 Allow any sample thickness in HRPDSlabCanAbsorption
  Framework/Algorithms/src/HRPDSlabCanAbsorption.cpp
  docs/source/algorithms/HRPDSlabCanAbsorption-v1.rst
  docs/source/release/v4.3.0/diffraction.rst
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_algs.py
Labels: Added during Sprint, Diffraction, High Priority, ISIS Team: Diffraction

#27569 Fix colorbar scale so numbers appear on scale on log scale
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam

#27068 Remove curves that do not exist any more when refreshing a plot
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: Induction 1, Workbench

#27589 Add Compiler Check for Setting OpenMP Thread Count Using Config Value
  Framework/Kernel/inc/MantidKernel/MultiThreaded.h
Labels: Added during Sprint, Framework, High Priority, ISIS Team: Diffraction

#27595 New ConvertHFIRSCDtoMDE algorithm for WAND and DEMAND
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvertHFIRSCDtoMDE.h
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Framework/MDAlgorithms/test/ConvertHFIRSCDtoMDETest.h
  Framework/PythonInterface/plugins/algorithms/ConvertWANDSCDtoQ.py
  Testing/Data/UnitTest/HB3A_data.nxs.md5
  Testing/SystemTests/tests/analysis/ConvertHFIRSCDtoMDETest.py
  Testing/SystemTests/tests/analysis/reference/ConvertHFIRSCDtoMDE_HB3A_Test.nxs.md5
  docs/source/algorithms/ConvertHFIRSCDtoMDE-v1.rst
  docs/source/images/ConvertHFIRSCDtoMDE.png
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, Single Crystal

#27560 Add normalize by bin width option for sliceviewer
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/samplingimage.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#27519 Make Improvements to the Engineering Diffraction 2 GUI
  docs/source/interfaces/Engineering Diffraction 2.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/calibration_info.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/vanadium_corrections.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27382 Remove use of Qt types from presenter
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IDecoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IEncoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IFileHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IMessageHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/EncoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
Labels: Code Quality, ISIS Team: LSS, Reflectometry

#27625 fixed getting started instructions for Linux
  dev-docs/source/GettingStarted.rst
Labels: Added during Sprint, Documentation, High Priority

#27627 Implements EventList method to add a different pulsetime per event
  Framework/API/inc/MantidAPI/IEventList.h
  Framework/DataObjects/inc/MantidDataObjects/EventList.h
  Framework/DataObjects/src/EventList.cpp
  Framework/DataObjects/test/EventListTest.h
  Framework/PythonInterface/mantid/api/src/Exports/IEventList.cpp
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction

#27613 Remove 'Of' in .getNumberPeaks()
  docs/source/concepts/PeaksWorkspace.rst
Labels: Documentation

#27620 Add Indirect note in the SaveAscii v1 Docs
  docs/source/algorithms/SaveAscii-v1.rst
Labels: Documentation

#27583 Avoid crashes in ApplyPaalmanPings
  Framework/API/src/Algorithm.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrection.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrectionTest.py
  Testing/Data/UnitTest/ILL/IN16B/fapi-fws-q.nxs.md5
  Testing/Data/UnitTest/ILL/IN16B/mc-abs-corr-q.nxs.md5
  docs/source/release/v4.3.0/indirect_geometry.rst
Labels: Bug, ILL Team: All, Indirect Inelastic

#27618 Fix Crash in SaveGSS Algorithm when Using Group Workspaces
  Framework/DataHandling/src/SaveGSS.cpp
  docs/source/release/v4.3.0/diffraction.rst
Labels: Bug, Diffraction, ISIS Team: Diffraction

#27641 Fix Spelling Mistake in Algm Description
  Framework/MDAlgorithms/src/IntegrateFlux.cpp
Labels: Easy

#27645 Upgrade HDF5 to 1.10 in Windows bundle
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/CommonSetup.cmake
Labels: High Priority, ISIS Team: CoreTeam
