Repository mantidproject/mantid, pull requests merged in 2019-03, with the labels that each got.

#24524 Add plotDOS function to directtools
  docs/source/release/v3.14.0/direct_inelastic.rst
  docs/source/techniques/DirecttoolsPythonModule.rst
  scripts/directtools/__init__.py
  scripts/directtools/_validate.py
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Direct Inelastic, Component: Python

#24876 Enable rebin options in frequency domain analysis
  Framework/Properties/Mantid.properties.template
  docs/source/images/frequency_domain_analysis_2_grouping.png
  docs/source/images/frequency_domain_analysis_2_home.png
  docs/source/images/frequency_domain_analysis_2_transform.png
  docs/source/images/frequency_domain_analysis_2_transform_maxent.png
  docs/source/interfaces/Frequency Domain Analysis Old.rst
  docs/source/interfaces/Frequency Domain Analysis.rst
  docs/source/interfaces/muon_grouping_tab.rst
  docs/source/interfaces/muon_home_tab.rst
  docs/source/interfaces/muon_transform_tab.rst
  docs/source/release/v3.14.0/muon.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/Frequency_Domain_Analysis.py
  scripts/Frequency_Domain_Analysis_2.py
  scripts/Frequency_Domain_Analysis_Old.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/help_widget/help_widget_presenter.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/help_widget_presenter_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/muon_data_context_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#24903 Fix issues regarding zero or non-unity length V3Ds
  Framework/API/src/DetectorSearcher.cpp
  Framework/Algorithms/src/RayTracerTester.cpp
  Framework/Crystal/src/PeaksIntersection.cpp
  Framework/DataHandling/src/FindDetectorsPar.cpp
  Framework/DataHandling/src/LoadIsawDetCal.cpp
  Framework/DataHandling/test/LoadIsawDetCalTest.h
  Framework/Geometry/src/Crystal/OrientedLattice.cpp
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/src/Instrument/ObjComponent.cpp
  Framework/Geometry/src/Objects/Track.cpp
  Framework/Geometry/test/BoundingBoxTest.h
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/CylinderTest.h
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  Framework/Geometry/test/InstrumentRayTracerTest.h
  Framework/Geometry/test/MeshObjectTest.h
  Framework/Geometry/test/ObjComponentTest.h
  Framework/Geometry/test/ParObjComponentTest.h
  Framework/Kernel/inc/MantidKernel/Quat.h
  Framework/Kernel/inc/MantidKernel/V3D.h
  Framework/Kernel/src/Quat.cpp
  Framework/Kernel/src/V3D.cpp
  Framework/Kernel/test/V3DTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/Quat.cpp
  instrument/unit_testing/IDF_for_RECTANGULAR_UNIT_TESTING.xml
Labels: Component: Framework, Misc: Bug

#24441 Wiwk2rst
  dev-docs/source/ToolsOverview.rst
  tools/Documentation/wiki2rst.py
Labels: Component: Documentation, Component: Tools

#24880 Allow log bins for QXY
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSConvertToQ.py
  docs/source/release/v3.14.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: SANS

#24913 AlignAndFocusPowderFromFiles logs warning when failing to load a cache file
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#24835 Muon GUI automatically recalculate
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/muon_data_context_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#24931 Small bug fix in loader_path call for OSX
  qt/widgets/sliceviewer/CMakeLists.txt
Labels: Component: GUI, Misc: Bug, OS: macOS

#24919 AlignFocusPowderFromFiles small fixes
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
Labels: Component: Diffraction, Group: Powder, Misc: Easy

#24936 Ignore unused typedef warning from Boost
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
Labels: Priority: High

#24872 Add logging to resource loading
  qt/python/mantidqt/utils/qt/__init__.py
Labels: Misc: Easy

#24938 Open H5 files read-only to fix failing SANS tests
  scripts/SANS/SANSUtility.py
  scripts/SANS/sans/common/file_information.py
Labels: Priority: High, Quality: Unit Tests

#24780 Fix BeamCentre property type in ReflectometrySumInQ
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometrySumInQ.h
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/test/ReflectometrySumInQTest.h
  docs/source/algorithms/ReflectometrySumInQ-v1.rst
  docs/source/release/v3.14.0/reflectometry.rst
Labels: Component: Reflectometry, Misc: Bug

#24971 Update Git LFS instructions for Windows
  dev-docs/source/GettingStarted.rst
Labels: Quality: Documentation

#24975 Update release note versions from 3.14 to 4.0.0
  docs/source/algorithms/MDNormDirectSC-v1.rst
  docs/source/algorithms/MDNormSCD-v1.rst
  docs/source/release/index.rst
  docs/source/release/v4.0.0/diffraction.rst
  docs/source/release/v4.0.0/direct_inelastic.rst
  docs/source/release/v4.0.0/error_reporter.rst
  docs/source/release/v4.0.0/framework.rst
  docs/source/release/v4.0.0/index.rst
  docs/source/release/v4.0.0/indirect_inelastic.rst
  docs/source/release/v4.0.0/kafka.rst
  docs/source/release/v4.0.0/muon.rst
  docs/source/release/v4.0.0/reflectometry.rst
  docs/source/release/v4.0.0/sans.rst
  docs/source/release/v4.0.0/ui.rst
Labels: Priority: High

#24935 Move linker lines to mtd_add_qt_library function call in spectrum viewer widget
  qt/widgets/spectrumviewer/CMakeLists.txt
Labels: Misc: Maintenance, Quality: Code Quality

#24924 Indirect Diffraction - Re-sizeable interface
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.ui
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Easy

#24976 Fix Windows warning in MDNorm for possible type narrowing data loss
  Framework/MDAlgorithms/src/MDNorm.cpp
Labels: Component: Framework

#24914 ReflectometryILLSumForeground: better line position for SumInQ
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
Labels: Component: Python, Component: Reflectometry

#24752 Add options to specify number densities as formula units / Ångström^3
  Framework/API/inc/MantidAPI/Sample.h
  Framework/API/src/Sample.cpp
  Framework/DataHandling/inc/MantidDataHandling/ReadMaterial.h
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/ReadMaterial.cpp
  Framework/DataHandling/src/SetSampleMaterial.cpp
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Framework/DataHandling/test/SetSampleMaterialTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject2D.h
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/inc/MantidKernel/MaterialBuilder.h
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/test/MaterialBuilderTest.h
  Framework/PythonInterface/mantid/api/src/Exports/Sample.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/Material.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/MaterialBuilder.cpp
  Framework/PythonInterface/test/python/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/kernel/MaterialBuilderTest.py
  docs/source/api/python/mantid/kernel/DeltaEModeType.rst
  docs/source/api/python/mantid/kernel/Direction.rst
  docs/source/api/python/mantid/kernel/NumberDensityUnit.rst
  docs/source/api/python/mantid/kernel/PropertyCriterion.rst
  docs/source/release/v4.0.0/framework.rst
Labels: Component: Framework, Component: Python

#24986 Fix missing import for workbench
  scripts/QECoverage.py
Labels: Component: Workbench, Misc: Bug

#24985 Fix EnginX systemtests for python3
  scripts/Engineering/EnginX.py
Labels: Misc: Bug

#24980 Fix bug finding workspace in old Reflectometry GUI
  scripts/Interface/ui/reflectometer/refl_gui.py
Labels: Component: GUI, Component: Reflectometry

#24867 ILL powder few fixes
  Framework/API/inc/MantidAPI/LogManager.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetEffCorr.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderDiffILLDetScanReduction.py
  Testing/Data/UnitTest/ILL/D20/129080.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D20_Mask.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D20_NoMask.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_D20_calib_def.nxs.md5
  docs/source/algorithms/PowderDiffILLDetScanReduction-v1.rst
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction, Misc: Bug

#24894 AlignAndFocusPowderFromFiles absorption test
  Framework/DataObjects/src/EventList.cpp
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Testing/SystemTests/tests/analysis/AlignAndFocusPowderFromFilesTest.py
Labels: Component: Diffraction, Group: Powder

#24988 Update mslice to bring in latest fixes
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Component: GUI

#24886 EnginX stopped unnecessarily creating vanadium files
  scripts/Engineering/EnginX.py
Labels: Component: Diffraction, Component: Python

#24811 Fix bug in ikeda carpenter pv
  Framework/CurveFitting/src/Functions/IkedaCarpenterPV.cpp
  Framework/CurveFitting/test/Algorithms/FitTest.h
  Framework/CurveFitting/test/Functions/IkedaCarpenterPVTest.h
  docs/source/release/v4.0.0/framework.rst
Labels: Component: Fitting

#24904 Change alg landing page to categories, not full index.
  docs/source/_templates/algorithmcategories.html
  docs/source/_templates/category.html
  docs/source/algorithms/categories/Arithmetic.txt
  docs/source/algorithms/categories/CorrectionFunctions.txt
  docs/source/algorithms/categories/Crystal.txt
  docs/source/algorithms/categories/DataHandling.txt
  docs/source/algorithms/categories/Deprecated.txt
  docs/source/algorithms/categories/Diagnostics.txt
  docs/source/algorithms/categories/Diffraction.txt
  docs/source/algorithms/categories/Events.txt
  docs/source/algorithms/categories/Inelastic.txt
  docs/source/algorithms/categories/MDAlgorithms.txt
  docs/source/algorithms/categories/Optimization.txt
  docs/source/algorithms/categories/Reflectometry.txt
  docs/source/algorithms/categories/Remote.txt
  docs/source/algorithms/categories/Sample.txt
  docs/source/algorithms/categories/Simulation.txt
  docs/source/algorithms/categories/Transforms.txt
  docs/source/algorithms/categories/Utility.txt
  docs/source/algorithms/categories/Workflow.txt
  docs/source/algorithms/categories/facilitycategories.txt
  docs/source/algorithms/categories/hiddencategories.txt
  docs/source/algorithms/categories/techniquecategories.txt
  docs/source/release/v4.0.0/ui.rst
  docs/sphinxext/mantiddoc/directives/categories.py
Labels: Component: Documentation

#24928 Catch Exception on saving files with event slices
  docs/source/release/v4.0.0/sans.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
Labels: Component: SANS, Misc: Bug

#25012 Ignore complexity warning
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
Labels: Priority: High

#25018 Suppress remaining flake8 warnings
  Framework/PythonInterface/plugins/algorithms/DPDFreduction.py
  Framework/PythonInterface/plugins/algorithms/LRReflectivityOutput.py
  Framework/PythonInterface/plugins/algorithms/LiquidsReflectometryReduction.py
  scripts/reduction/reducer.py
Labels: Quality: Flake8

#25022 Fix QECoverage in workbench
  scripts/QECoverage.py
Labels: Component: Workbench, Misc: Bug

#24893 Fix performance regression in V3D
  Framework/Algorithms/src/ConvertDiffCal.cpp
  Framework/Algorithms/src/SampleCorrections/SparseInstrument.cpp
  Framework/DataHandling/src/LoadSwans.cpp
  Framework/DataHandling/test/GroupDetectors2Test.h
  Framework/DataObjects/src/Peak.cpp
  Framework/Geometry/inc/MantidGeometry/Objects/BoundingBox.h
  Framework/Geometry/src/Crystal/ConventionalCell.cpp
  Framework/Geometry/src/Crystal/IndexingUtils.cpp
  Framework/Geometry/src/Crystal/NiggliCell.cpp
  Framework/Kernel/inc/MantidKernel/Tolerance.h
  Framework/Kernel/inc/MantidKernel/V3D.h
  Framework/Kernel/src/V3D.cpp
  Framework/Kernel/test/V3DTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/V3D.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/UnwrappedSurface.cpp
Labels: Component: Framework, Quality: Code Quality

#24601 Indirect Energy Transfer - Incorrect histories causing large file sizes
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/EnergyWindowScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferWrapper.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectResolution.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SofQWMomentsScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferWrapperTest.py
  docs/source/algorithms/ISISIndirectEnergyTransferWrapper-v1.rst
  docs/source/diagrams/IndirectResolution-v1_wkflw.dot
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25020 Change deprecation date for old reflectometry GUI
  scripts/Interface/ui/reflectometer/refl_gui.py
Labels: Component: GUI, Component: Reflectometry

#25016 Update to frequency domain analysis docs
  docs/source/interfaces/muon_transform_tab.rst
Labels: Component: Documentation, Component: Muon

#24722 Enable user-settable detector grouping angle in DirectILLReduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLReductionTest.py
  docs/source/algorithms/DirectILLReduction-v1.rst
  docs/source/release/v4.0.0/direct_inelastic.rst
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Direct Inelastic, Component: Python

#25029 Specify QT4 before running the error reporter
  buildconfig/CMake/Packaging/launch_mantidplot.bat
  scripts/ErrorReporter/error_dialog_app.py
Labels: Priority: High

#25028 Remove duplicate tabs in session restore
  qt/applications/workbench/workbench/plugins/editor.py
Labels: Component: Workbench

#24887 Remove Show Transmission Button
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCreateAdjustmentWorkspacesTest.py
  Testing/SystemTests/tests/analysis/SANSReductionCoreTest.py
  Testing/SystemTests/tests/analysis/SANSSingleReductionTest.py
  docs/source/release/v4.0.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/single_execution.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/adjustment.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/state_director.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/state/adjustment_test.py
  scripts/test/SANS/user_file/state_director_test.py
Labels: Component: GUI, Component: SANS

#25027 Release notes cleanup
  docs/source/images/ProjectRecoveryDialog.png
  docs/source/images/ProjectRecoveryFailureDialog.png
  docs/source/release/v4.0.0/diffraction.rst
  docs/source/release/v4.0.0/direct_inelastic.rst
  docs/source/release/v4.0.0/error_reporter.rst
  docs/source/release/v4.0.0/framework.rst
  docs/source/release/v4.0.0/indirect_inelastic.rst
  docs/source/release/v4.0.0/reflectometry.rst
  docs/source/release/v4.0.0/ui.rst
Labels: Quality: Documentation

#24890 Muon check field type
  Framework/API/src/GroupingLoader.cpp
  Framework/DataHandling/test/LoadMuonNexus1Test.h
  instrument/CHRONUS_Definition.xml
  instrument/CHRONUS_Definition_JSL_3.xml
  instrument/Grouping/CHRONUS_Detector_Grouping_LF.xml
  instrument/Grouping/CHRONUS_Detector_Grouping_TF.xml
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/Common/muon_load_data.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_runinfo_presenter_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/muon_data_context_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#24991 Indirect Reduction - qt Signal warnings
  qt/scientific_interfaces/Indirect/IndirectDataReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReduction.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectLoadILL.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
Labels: Component: Indirect Inelastic, Misc: Bug, Misc: Easy

#24699 Q1DWeighted to respect bin masking and gravity
  Framework/Algorithms/inc/MantidAlgorithms/GravitySANSHelper.h
  Framework/Algorithms/inc/MantidAlgorithms/Q1DWeighted.h
  Framework/Algorithms/src/GravitySANSHelper.cpp
  Framework/Algorithms/src/Q1DWeighted.cpp
  Framework/Algorithms/test/Q1DWeightedTest.h
  Testing/Data/UnitTest/ILL_D33_LTOF_red.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D22_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  docs/source/algorithms/Q1DWeighted-v1.rst
  docs/source/release/v4.0.0/framework.rst
Labels: Component: SANS

#24984 All uncaught exceptions are now captured and should no longer crash the Workbench
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/exception_handler/__init__.py
  qt/applications/workbench/workbench/plugins/exception_handler/error_messagebox.py
  qt/applications/workbench/workbench/plugins/test/test_exception_handler.py
  qt/python/mantidqt/utils/qt/__init__.py
  qt/python/mantidqt/utils/testing/mocks/mock_qt.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
Labels: Priority: High

#24905 Add background subtraction to SNAPReduce
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  docs/source/release/v3.14.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24888 Deprecate Old SANS GUI
  Framework/Properties/Mantid.properties.template
  docs/source/interfaces/ISIS SANS v2.rst
  docs/source/release/v4.0.0/sans.rst
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.h
  scripts/ISIS_SANS.py
Labels: Component: GUI, Component: SANS, Misc: Easy

#25008 Fix SANSSaveOther
  qt/python/mantidqt/_common.sip
  scripts/Interface/ui/sans_isis/settings_diagnostic_tab.py
Labels: Component: SANS, Misc: Bug

#25043 Fix for workbench hard crash on project overwrite save
  qt/python/mantidqt/project/project.py
Labels: Component: Workbench, Priority: High

#25023 Optional material in PDConvert...
  Framework/PythonInterface/mantid/kernel/src/Exports/Material.cpp
  Framework/PythonInterface/plugins/algorithms/PDConvertRealSpace.py
  Framework/PythonInterface/plugins/algorithms/PDConvertReciprocalSpace.py
  docs/source/algorithms/PDConvertRealSpace-v1.rst
  docs/source/algorithms/PDConvertReciprocalSpace-v1.rst
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#25013 Show keyboard shortcuts in Workbench editor's Options menu
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/utils/qt/__init__.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/tab_widget/codeeditor_tab_view.py
  qt/python/mantidqt/widgets/codeeditor/tab_widget/test/test_codeeditor_tab_view.py
Labels: Component: Workbench

#25034 ILL powder rename
  Framework/PythonInterface/plugins/algorithms/ApplyDetectorScanEffCorr.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLEfficiency.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScanTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScanTest.py
  Testing/SystemTests/tests/analysis/ILLPowderDetectorScanTest.py
  Testing/SystemTests/tests/analysis/ILLPowderEfficiencyClosureTest.py
  Testing/SystemTests/tests/analysis/ILLPowderEfficiencyTest.py
  Testing/SystemTests/tests/analysis/ILLPowderParameterScanTest.py
  docs/source/algorithms/ApplyDetectorScanEffCorr-v1.rst
  docs/source/algorithms/PowderILLDetectorScan-v1.rst
  docs/source/algorithms/PowderILLEfficiency-v1.rst
  docs/source/algorithms/PowderILLParameterScan-v1.rst
  docs/source/diagrams/PowderILLDetectorScan-v1_wkflw.dot
  docs/source/diagrams/PowderILLEfficiency-v1_D20_wkflw.dot
  docs/source/diagrams/PowderILLEfficiency-v1_D2B_wkflw.dot
  docs/source/diagrams/PowderILLParameterScan-v1_wkflw.dot
  docs/source/release/v3.12.0/diffraction.rst
  docs/source/release/v3.13.0/diffraction.rst
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction

#25051 Catch possible exceptions from by V3D::normalize in instrument view
  qt/widgets/instrumentview/src/Projection3D.cpp
Labels: Priority: High

#25053 Cleanup SANS release notes
  docs/source/images/sans_isis_interface_4.0.png
  docs/source/release/v4.0.0/sans.rst
Labels: Component: SANS, Quality: Documentation

#25055 Pan and zoom tools no longer remain enabled on figures after right click on workbench
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Component: Workbench, Priority: High

#25069 Workbench: Plot legend draggability - Project Loading and Fitting
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Component: GUI, Component: Workbench

#25057 Fix crash when opening instrument view for multiple workspaces
  qt/applications/workbench/workbench/plugins/workspacewidget.py
Labels: Component: Workbench, Priority: High

#25050 SNSPowderReduction chunking vanadium
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Testing/SystemTests/tests/analysis/reference/PG3_4844_reference.gsa.md5
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#24883 Upgrade bundled version of IPython on Windows
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/Packaging/mantidpython.bat.in
  docs/source/release/v4.0.0/framework.rst
  qt/applications/workbench/workbench/plugins/jupyterconsole.py
  qt/python/mantidqt/widgets/jupyterconsole.py
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
Labels: Component: GUI

#24901 Enable deprecation warnings in python for development
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
  buildconfig/CMake/Packaging/mantidpython.in
Labels: Component: Python

#25044 Bug fixes for new Muon GUI
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_data_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: Component: GUI, Component: Muon, Component: Python

#24999 Fixes AddSampleLog to not crash Mantid with MD workspaces
  Framework/Algorithms/src/AddSampleLog.cpp
Labels: Misc: Bug

#24927 Adding multi plot to make elemental analysis v 2.0
  Framework/Properties/Mantid.properties.template
  docs/source/release/v4.0.0/muon.rst
  scripts/Elemental_Analysis.py
  scripts/Elemental_Analysis_old.py
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: Component: Beamline, Component: GUI

#24917 Parallelize frame correction for EQSANS
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/EQSANSCorrectFrame.h
  Framework/Algorithms/src/EQSANSCorrectFrame.cpp
  Framework/Algorithms/test/EQSANSCorrectFrameTest.h
  docs/source/algorithms/EQSANSCorrectFrame-v1.rst
Labels: Component: SANS

#25032 Re #25031. Allow for building workbench with only Qt5 installed.
  buildconfig/CMake/QScintillaFindImpl.cmake
  docs/source/release/v4.0.0/ui.rst
  qt/CMakeLists.txt
  qt/python/CMakeLists.txt
  qt/python/mantidqt/CMakeLists.txt
  qt/widgets/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/plugins/CMakeLists.txt
Labels: Component: Workbench, Misc: Maintenance

#25049 Restore workbench editor tabs with the same font as used on first construction
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter_view.py
Labels: Priority: High

#24995 Indirect Unscripted testing changes
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  dev-docs/source/Testing/IndirectInelastic/IndirectInelasticAcceptanceTests.rst
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
Labels: Component: Indirect Inelastic, Misc: Bug

#25064 Workbench/MantidPlot: Project Recovery - Remove file dumping from the logging
  Framework/DataHandling/src/SaveMask.cpp
  Framework/Kernel/inc/MantidKernel/DataService.h
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: Component: Project Recovery, Component: Workbench

#25062 Add release notes for 4.1.0
  docs/source/release/index.rst
  docs/source/release/v4.1.0/diffraction.rst
  docs/source/release/v4.1.0/direct_geometry.rst
  docs/source/release/v4.1.0/framework.rst
  docs/source/release/v4.1.0/index.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  docs/source/release/v4.1.0/mantidplot.rst
  docs/source/release/v4.1.0/mantidworkbench.rst
  docs/source/release/v4.1.0/muon.rst
  docs/source/release/v4.1.0/reflectometry.rst
  docs/source/release/v4.1.0/sans.rst
  docs/source/release/v4.1.0/ui.rst
  tools/release_generator/release.py
  tools/scripts/pyqt4_to_qtpy.py
Labels: Component: Documentation

#25094 SNAPReduce error with wrong output workspace names
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
Labels: Component: Diffraction, Misc: Bug

#25082 Windows catalog tooltip fix
  docs/source/release/v4.0.0/ui.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/CatalogSearch.h
  qt/widgets/common/src/CatalogSearch.cpp
Labels: Component: GUI, Misc: Bug, Misc: Easy

#25079 Fix instrument view exception on 3D rotate
  qt/widgets/instrumentview/src/Projection3D.cpp
Labels: Component: GUI, Misc: Bug

#24008 System tests for ILL's direct geometry reduction
  Testing/Data/SystemTest/ILL/068288.nxs.md5
  Testing/Data/SystemTest/ILL/068288.txt.md5
  Testing/Data/SystemTest/ILL/ILLIN4_074252.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/095893.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/096003.nxs.md5
  Testing/Data/SystemTest/ILL/cry1_2.tif.md5
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  Testing/SystemTests/tests/analysis/ILLIN4Test.py
  Testing/SystemTests/tests/analysis/ILLIN5Test.py
  Testing/SystemTests/tests/analysis/ILLPowderD2BEfficiencyTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_IN5_SofQW.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_IN6_SofQW.nxs.md5
Labels: Component: Direct Inelastic, Quality: System Tests

#25058 Fix crash upon running enginX's gui calibrate with no calibration directory selected
  docs/source/release/v4.0.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
Labels: Priority: High

#24891 ILL SANS wavelength dependent flux
  Framework/Algorithms/inc/MantidAlgorithms/Q1DWeighted.h
  Framework/Algorithms/src/Q1DWeighted.cpp
  Framework/Algorithms/test/Q1DWeightedTest.h
  Framework/PythonInterface/plugins/algorithms/CalculateFlux.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CalculateFluxTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D22_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  docs/source/algorithms/CalculateFlux-v1.rst
  docs/source/algorithms/Q1DWeighted-v1.rst
  docs/source/release/v4.0.0/framework.rst
  docs/source/release/v4.0.0/sans.rst
  instrument/D33_Parameters.xml
Labels: Component: SANS

#25093 PDDetermineCharacterizations throws a meaningful exception
  Framework/Algorithms/src/PDDetermineCharacterizations.cpp
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#25084 Updated Group to use spectrum not workspace index
  Framework/Properties/Mantid.properties.template
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Python

#25077 Add option to ignore nexus instrument xml
  Framework/DataHandling/inc/MantidDataHandling/LoadEventNexus.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/WorkflowAlgorithms/src/EQSANSLoad.cpp
  Framework/WorkflowAlgorithms/src/SetupEQSANSReduction.cpp
  docs/source/concepts/ORNL_SANS_Reduction.rst
  docs/source/release/v4.1.0/framework.rst
  scripts/reduction_workflow/instruments/sans/sns_command_interface.py
Labels: Component: Framework, Component: SANS

#25096 Cache Beamline in InstrumentDefinitionParser
  Framework/API/src/ExperimentInfo.cpp
  docs/source/release/v4.0.0/framework.rst
Labels: Priority: High

#25088 Added validation to asymmetry ranges
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25106 Fix curve fitting on curves with user defined labels in Workbench
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Component: Workbench

#25097 Allow opening of sample logs for MDWorkspaces
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench, Priority: High

#25108 Disable context menu in figure toolbar in workbench
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Component: Workbench

#25119 Show algorithm history for all workpaces in Workbench
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Component: Workbench

#25068 Muon tidy up release notes and add image
  docs/source/images/elemental_analysis.png
  docs/source/images/elemental_analysis_multiplot.png
  docs/source/images/frequency_domain_analysis_2_home.png
  docs/source/release/v4.0.0/muon.rst
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: Muon, Quality: Documentation

#25118 Update FFT PhaseQuad to cope with multiple CHRONUS grouping files
  Framework/Muon/src/CalMuonDetectorPhases.cpp
  docs/source/release/v4.0.0/muon.rst
Labels: Component: Fitting, Component: Muon

#25129 Enabled FilterEvents to split string time series properties
  Framework/Algorithms/inc/MantidAlgorithms/FilterEvents.h
  Framework/Algorithms/src/FilterEvents.cpp
Labels: Component: Framework, Misc: Bug

#25120 ILL SANS reduction fix for python3
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
Labels: Component: SANS, Misc: Bug

#25070 Indirect Reduction Sum files bug with wrong masked detectors
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/VesuvioDiffractionReduction.py
  Testing/SystemTests/tests/analysis/reference/II.TOSCAMultiFileReduction1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.TOSCAMultiFileReduction2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.TOSCAMultiFileSummedReduction.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.TOSCAReductionFromFile.nxs.md5
  docs/source/images/TOSCA_Individual_Runs_Bug.png
  docs/source/images/TOSCA_Summed_Run_Bug.png
  docs/source/release/v4.0.0/indirect_inelastic.rst
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Indirect Inelastic, Misc: Bug

#24159 Pychop: `sam0` changed to support annulus
  docs/source/images/Pychop-annulus-shape.png
  docs/source/interfaces/PyChop.rst
  docs/source/release/v4.1.0/direct_geometry.rst
  scripts/PyChop/Chop.py
  scripts/test/PyChopTest.py
Labels: Component: Direct Inelastic

#25089 ALC interface clears selectors and checks input
  docs/source/release/v4.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCBaselineModellingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.h
Labels: Component: Muon

#25128 Add "Save Script as..." option in Workbench
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
Labels: Component: Workbench

#25112 Updated decrement/increment to display one value
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25143 Further distinguish deprecated ISIS sans gui from new gui
  docs/source/release/v4.0.0/sans.rst
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.h
Labels: Component: GUI, Misc: Easy

#25134 Input parameters for ModeratorTzeroLinear
  Framework/Algorithms/src/ModeratorTzeroLinear.cpp
  Framework/Algorithms/test/ModeratorTzeroLinearTest.h
  docs/source/algorithms/ModeratorTzeroLinear-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
Labels: Component: Indirect Inelastic

#24982 Indirect Diffraction - Manual Grouping Bug
  Framework/Algorithms/src/SortXAxis.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  Testing/Data/UnitTest/OSIRIS00137713.raw.md5
  Testing/Data/UnitTest/OSIRIS00137793.raw.md5
  Testing/Data/UnitTest/OSIRIS_Diffspec_Diffraction_with_Manual_Grouping.nxs.md5
  Testing/Data/UnitTest/OSIRIS_Diffspec_Diffraction_with_Vanadium.nxs.md5
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25099 Workbench: Project recovery progress bar fix
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverymodel.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Component: Project Recovery, Component: Workbench, Priority: High

#25165 Removed suggestion that can permanently break enginx gui
  docs/source/interfaces/Engineering Diffraction Test Guide.rst
Labels: Quality: Documentation

#25167 Added preprocessing run suggestions to engineering test doc
  docs/source/interfaces/Engineering Diffraction Test Guide.rst
Labels: Misc: Easy, Quality: Documentation

#24822 EnginX Calibration plots workspace automatically
  Testing/SystemTests/scripts/runSystemTests.py
  Testing/SystemTests/tests/analysis/EnginXScriptTest.py
  Testing/SystemTests/tests/analysis/reference/engggui_difc_zero_peaks_bank_1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_difc_zero_peaks_bank_2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_difc_zero_peaks_bank_cropped.nxs.md5
  docs/source/release/v4.0.0/diffraction.rst
  scripts/Engineering/EnginX.py
Labels: Component: Diffraction, Component: Python

#25066 Ensure beam centre max radius is larger than min radius
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
Labels: Component: SANS, Misc: Bug

#25152 MuonMaxent checks
  Framework/PythonInterface/plugins/algorithms/MuonMaxent.py
  Framework/PythonInterface/test/python/plugins/algorithms/MuonMaxEntTest.py
  docs/source/release/v4.0.0/muon.rst
  scripts/Muon/GUI/Common/validate_errors.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_model.py
Labels: Component: Muon

#25154 Fix Workbench startup when switching Python versions
  qt/applications/workbench/workbench/config/user.py
Labels: Component: Workbench, Misc: Bug

#25162 Fix phase bug in FDA
  docs/source/release/v4.0.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view.py
Labels: Component: GUI, Component: Muon

#25164 Fix workbench running tab-indented scripts
  qt/python/mantidqt/widgets/codeeditor/execution.py
Labels: Component: Workbench, Misc: Bug

#25163 Fix Fitting crash Enginx gui
  docs/source/release/v4.0.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
Labels: Component: Diffraction

#25170 Reword engineering add peak button
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v4.0.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionQtTabFitting.ui
Labels: Component: Diffraction, Component: GUI, Misc: Easy

#25123 Grouping tab should automatically update upon changes to tables
  docs/source/interfaces/muon_grouping_tab.rst
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25176 Unmanaged plots no longer deleted in workbench
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: Component: Workbench

#25179 AlgorithmSelector Widget to Observe AlgorithmFactory in Workbench
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/AlgorithmFactoryObserver.h
  Framework/API/src/AlgorithmFactoryObserver.cpp
  Framework/API/test/AlgorithmFactoryObserverTest.h
  Framework/PythonInterface/inc/MantidPythonInterface/api/Algorithms/AlgorithmFactoryObserverAdapter.h
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactoryObserver.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactoryObserverAdapter.cpp
  Framework/PythonInterface/test/python/mantid/api/AlgorithmFactoryObserverTest.py
  Framework/PythonInterface/test/python/mantid/api/AlgorithmFactoryTest.py
  Framework/PythonInterface/test/python/mantid/api/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/algorithmselector/algorithm_factory_observer.py
  qt/python/mantidqt/widgets/algorithmselector/test/observer_test.py
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: Component: Workbench, Misc: Bug

#25142 Fixes left-right parity for D33
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  instrument/D11_Parameters.xml
  instrument/D11lr_Parameters.xml
  instrument/D22_Parameters.xml
  instrument/D22lr_Parameters.xml
  instrument/D33_Parameters.xml
Labels: Component: SANS, Misc: Bug, Misc: Easy

#25124 VSI crash fixed.
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/src/PeaksTabWidget.cpp
Labels: Component: GUI, Misc: Bug

#25210 Mock out threading in unit tests
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
Labels: Component: Muon, Component: Python, Priority: High

#25208 Show log value in viewer
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: Component: GUI, Component: Workbench

#25204 SNSPowderReduction fixes
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#24642 Fix compiler warnings and framework-only build on MacOS.
  Framework/DataHandling/inc/MantidDataHandling/LoadStl.h
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Surfaces/Torus.cpp
  buildconfig/CMake/DarwinSetup.cmake
Labels: Component: Framework, Misc: Clang

#25198 Double-clicking algorithm opens run dialog in Workbench
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: Component: Workbench

#25098 Workbench: User aimed documentation
  docs/source/concepts/Project.rst
  docs/source/images/Workbench/AlgorithmListWidget/AlgorithmExecuteDialog.png
  docs/source/images/Workbench/AlgorithmListWidget/AlgorithmWidget.png
  docs/source/images/Workbench/AlgorithmListWidget/AlgorithmWidgetDiagram.png
  docs/source/images/Workbench/Editor/EditorFindReplace.png
  docs/source/images/Workbench/Editor/EditorOptionsCloseUp.png
  docs/source/images/Workbench/Editor/EditorStatusState.png
  docs/source/images/Workbench/Editor/EditorVisibleWhitespace.png
  docs/source/images/Workbench/Editor/EditorWidget.png
  docs/source/images/Workbench/Editor/EditorWidgetDiagram.png
  docs/source/images/Workbench/Editor/EditorWidgetOptions.png
  docs/source/images/Workbench/Editor/EditorWidgetTabOptions.png
  docs/source/images/Workbench/IPythonWidget.png
  docs/source/images/Workbench/MainWindowMenu/FileDropDownMenu.png
  docs/source/images/Workbench/MainWindowMenu/MainWindowMenu.png
  docs/source/images/Workbench/MainWindowMenu/ViewDropDownMenu.png
  docs/source/images/Workbench/MessageWindow/MessagesWidget.png
  docs/source/images/Workbench/MessageWindow/MessagesWidgetContextMenu.png
  docs/source/images/Workbench/MessageWindow/MessagesWidgetSmall.png
  docs/source/images/Workbench/MessageWindow/MessagesWidget_cropped.png
  docs/source/images/Workbench/PlotToolbox/PlotToolboxSmallerView.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolbox.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolboxDiagram.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolboxListItem.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolboxOptions.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolboxPlotSection.png
  docs/source/images/Workbench/PlotWindow/FigureOptionsCurvesPlotWindow.png
  docs/source/images/Workbench/PlotWindow/FigureOptionsPlotWindow.png
  docs/source/images/Workbench/PlotWindow/FigureOptionsPlotWindowJoined.png
  docs/source/images/Workbench/PlotWindow/FitPlotWindow.png
  docs/source/images/Workbench/PlotWindow/PlotWindow.png
  docs/source/images/Workbench/PlotWindow/PlotWindowContextMenu.png
  docs/source/images/Workbench/PlotWindow/PlotWindowPlotToolBar.png
  docs/source/images/Workbench/WindowCloseIcon.png
  docs/source/images/Workbench/WindowDraggableIcon.png
  docs/source/images/Workbench/Workbench.png
  docs/source/images/Workbench/WorkbenchAlternate.png
  docs/source/images/Workbench/WorkbenchDiagram.png
  docs/source/images/Workbench/WorkbenchDiagramDrawIOSaveFile.xml
  docs/source/images/Workbench/Workspaces/WorkspaceContextMenu.png
  docs/source/images/Workbench/Workspaces/WorkspaceWidget.png
  docs/source/images/Workbench/Workspaces/WorkspaceWidgetDiagram.png
  docs/source/images/Workbench/Workspaces/WorkspaceWidgetWorkspaceTypes.png
  docs/source/index.rst
  docs/source/plotting/index.rst
  docs/source/workbench/algorithmtoolbox.rst
  docs/source/workbench/index.rst
  docs/source/workbench/ipythonconsole.rst
  docs/source/workbench/mainwindowmenu.rst
  docs/source/workbench/messageswindow.rst
  docs/source/workbench/plotstoolbox.rst
  docs/source/workbench/plotwindow.rst
  docs/source/workbench/scriptwindow.rst
  docs/source/workbench/smallerfeatures.rst
  docs/source/workbench/whatisinworkbench.rst
  docs/source/workbench/whatisnewinworkbench.rst
  docs/source/workbench/workspacetreewidget.rst
Labels: Component: Documentation, Component: Workbench

#25202 Turn off X errorbars in workbench plots
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Component: Workbench, Misc: Easy

#25187 Removes geometry input from Indirect>Corrections>Apply Abs Corr
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
Labels: Component: GUI, Component: Indirect Inelastic

#25219 Disable fit button on workbench plots with no associated workspaces
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Component: Workbench, Misc: Bug

#25226 Change Mask Energies Label Indirect
  docs/source/interfaces/Indirect Data Analysis.rst
  qt/scientific_interfaces/Indirect/ConvFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelector.ui
  qt/scientific_interfaces/Indirect/JumpFitDataTablePresenter.cpp
Labels: Misc: Easy

#25223 Indirect data reduction transmission crash fix
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectTransmission.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmission.h
Labels: Component: Indirect Inelastic, Priority: High

#25151 Minor Frequency Domain Analysis corrections
  Framework/PythonInterface/plugins/algorithms/MuonMaxent.py
  Testing/SystemTests/tests/analysis/reference/MuonMaxEntMUSR00022725.nxs.md5
  docs/source/release/v4.0.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
Labels: Component: GUI, Component: Muon, Component: Python

#25220 Indirect - Fix ApplyCorrections when only sample attenuation
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrection.py
  docs/source/release/v4.0.0/indirect_inelastic.rst
Labels: Component: Indirect Inelastic, Misc: Bug

#25221 Indirect Data Reduction Interface, Symmetrise tab behaviour changes
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.h
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Easy

#25236 Indirect Paalman Pings re-enable Run button after an error
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
Labels: Component: Indirect Inelastic, Misc: Easy

#25234 Elemental analysis and release notes
  Framework/Properties/Mantid.properties.template
  docs/source/release/v4.0.0/muon.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/Elemental_Analysis_old.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/AxisChanger/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/AxisChanger/axis_changer_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/AxisChanger/axis_changer_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/__init__.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/remove_plot_window.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/edit_windows/select_subplot.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/navigation_toolbar.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_utils.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/plotting_view.py
  scripts/Muon/GUI/ElementalAnalysis/Plotting/subPlot_object.py
  scripts/test/Muon/AxisChangerPresenter_test.py
  scripts/test/Muon/AxisChangerView_test.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/PlottingPresenter_test.py
  scripts/test/Muon/PlottingUtils_test.py
  scripts/test/Muon/subplotObject_test.py
Labels: Component: Muon

#25228 Indirect - Prevent loading of workspace with one data point on FQFit
  docs/source/release/v4.0.0/indirect_inelastic.rst
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25174 Crop phasequad by first and last good data
  Framework/Muon/src/CalMuonDetectorPhases.cpp
  Framework/Muon/src/PhaseQuadMuon.cpp
  docs/source/release/v4.0.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/frequency_domain_context_test.py
Labels: Component: Muon, Component: Python

#25237 Crash when opening AlgorithmHistoryWindow with a workspace with no history
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/_common.sip
  qt/widgets/common/src/AlgorithmHistoryWindow.cpp
Labels: Component: GUI, Component: Tools, Component: Workbench

#25250 Indirect Fit Output - Save each result workspace individually
  docs/source/interfaces/Indirect Data Analysis.rst
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsModel.cpp
Labels: Component: Indirect Inelastic, Misc: Easy

#25258 Handle the exception when a connection cannot be made to the error reporting remote
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
  scripts/test/ErrorReportPresenterTest.py
Labels: Priority: High

#25233 Prevent figure window close if subplot deleted
  Framework/PythonInterface/mantid/plots/__init__.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: Component: Workbench

#25194 Indirect ConvFit : avoid nullptr if component does not exist
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug, Misc: Easy

#25052 Resample ragged workspace
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  qt/python/mantidqt/plotting/functions.py
Labels: Component: Framework, Component: Python, Component: Workbench

#25261 Indirect Multiple Input hard crash
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25246 MantidPlot: Stop crashing when plotting color fill for workspace with text axis
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  MantidPlot/src/Mantid/MantidUI.cpp
  docs/source/release/v4.0.0/ui.rst
Labels: Component: Tools

#25229 Corrected range validation
  Framework/Muon/src/MuonAsymmetryHelper.cpp
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/test/Muon/home_grouping_widget_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25277 Fix broken png files created by draw.io
  docs/source/images/File_SaveButton.png
  docs/source/images/Workbench/AlgorithmListWidget/AlgorithmWidgetDiagram.png
  docs/source/images/Workbench/Editor/EditorStatusState.png
  docs/source/images/Workbench/Editor/EditorWidgetDiagram.png
  docs/source/images/Workbench/PlotToolbox/PlotsToolboxDiagram.png
  docs/source/images/Workbench/WorkbenchDiagram.png
  docs/source/images/Workbench/Workspaces/WorkspaceWidgetDiagram.png
  docs/sphinxext/mantiddoc/doctest.py
Labels: Priority: High

#25259 Muon - Add algorithms to SeeAlso
  Framework/Muon/inc/MantidMuon/MuonGroupingAsymmetry.h
  Framework/Muon/inc/MantidMuon/MuonGroupingCounts.h
  Framework/Muon/inc/MantidMuon/MuonPairingAsymmetry.h
  Framework/Muon/inc/MantidMuon/MuonPreProcess.h
Labels: Component: Muon, Misc: Easy

#25182 Group and pair names unchangeable after creation
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_view.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_alpha_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25232 Fix multi dataset fitting bugs
  Framework/API/inc/MantidAPI/FunctionFactory.h
  Framework/API/src/FunctionFactory.cpp
  Framework/API/test/FunctionFactoryTest.h
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
  docs/source/release/v4.0.0/ui.rst
  qt/scientific_interfaces/MultiDatasetFit/MDFAddWorkspaceDialog.cpp
  qt/scientific_interfaces/MultiDatasetFit/MDFAddWorkspaceDialog.h
  qt/scientific_interfaces/MultiDatasetFit/MultiDatasetFit.cpp
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/SelectFunctionDialog.cpp
Labels: Component: GUI

#25247 Indirect Reduction TOSCA - Include Summed File Masked Detectors
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
Labels: Component: Indirect Inelastic

#25173 ILL powder detector scan copy logs from input
  Framework/API/inc/MantidAPI/ExperimentInfo.h
  Framework/API/src/ExperimentInfo.cpp
  Framework/Algorithms/src/SumOverlappingTubes.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScanTest.py
Labels: Component: Diffraction, Misc: Bug, Misc: Easy

#25184 ILL powder reduce single run
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScanTest.py
  docs/source/release/v4.0.0/diffraction.rst
Labels: Component: Diffraction, Misc: Bug, Misc: Easy

#25271 SortXAxis allow a skip of the histogram validity check
  Framework/Algorithms/src/SortXAxis.cpp
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Indirect Inelastic

#25199 Crop the IvsQ output of RROA if Q limits specified
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto2.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto2.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto2Test.h
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
  docs/source/release/v4.0.0/reflectometry.rst
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
Labels: Component: Framework, Component: Reflectometry

#25265 Fix cppcheck 1.87 warnings in HistogramData
  Framework/HistogramData/src/Interpolate.cpp
Labels: Quality: Cppcheck
