Repository mantidproject/mantid, pull requests merged in 2019-05, with the labels that each got.

#25630 Fix package build for Python 3
  CMakeLists.txt
  buildconfig/CMake/WindowsNSIS.cmake
  images/mantid_notebooknightly.ico
  images/mantid_workbench-python3.png
  images/mantid_workbenchnightly-python3.png
  images/mantid_workbenchnightly.ico
  images/mantid_workbenchnightly.png
  images/mantid_workbenchunstable-python3.png
  images/mantid_workbenchunstable.ico
  images/mantid_workbenchunstable.png
  images/mantidplot-python3.png
  images/mantidplotnightly-python3.png
  images/mantidplotnightly.ico
  images/mantidplotnightly.png
  images/mantidplotunstable-python3.png
  images/mantidplotunstable.ico
  images/mantidplotunstable.png
Labels: Priority: High

#25623 Fix mpl pyqt4 backend selection when running sliceviewer stand-alone
  qt/python/mantidqt/MPLwidgets.py
  qt/python/mantidqt/gui_helper.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  scripts/DGSPlanner.py
  scripts/DGSPlanner/DGSPlannerGUI.py
  scripts/DGSPlanner/InstrumentSetupWidget.py
  scripts/FilterEvents.py
  scripts/FilterEvents/eventFilterGUI.py
  scripts/HFIR_4Circle_Reduction.py
  scripts/HFIR_4Circle_Reduction/mpl2dgraphicsview.py
  scripts/HFIR_4Circle_Reduction/mplgraphicsview.py
  scripts/HFIR_4Circle_Reduction/mplgraphicsview3d.py
  scripts/Interface/reduction_application.py
  scripts/PyChop.py
  scripts/PyChop/PyChopGui.py
  scripts/QECoverage.py
  scripts/TofConverter.py
  scripts/TofConverter/converterGUI.py
Labels: Misc: Bug

#25597 BASISReduction: wrong EFixed for Si333 reflection
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  Testing/Data/SystemTest/BASIS/BASISReduction/BSS_90146.nxs.h5.md5
  Testing/Data/SystemTest/BASIS/BASISReduction/BSS_90175.nxs.h5.md5
  Testing/SystemTests/tests/analysis/BASISTest.py
  Testing/SystemTests/tests/analysis/reference/BASIS_90146_divided_sqw.nxs.md5
  Testing/SystemTests/tests/analysis/reference/BASIS_90146_sqw.nxs.md5
Labels: Component: Indirect Inelastic, Misc: Bug

#25519 added abillity to set a scale for stl files to LoadSampleShape and Environment
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadAsciiStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadBinaryStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadOff.h
  Framework/DataHandling/inc/MantidDataHandling/LoadShape.h
  Framework/DataHandling/inc/MantidDataHandling/LoadStl.h
  Framework/DataHandling/src/LoadAsciiStl.cpp
  Framework/DataHandling/src/LoadBinaryStl.cpp
  Framework/DataHandling/src/LoadOff.cpp
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/src/LoadStl.cpp
  Framework/DataHandling/test/LoadAsciiStlTest.h
  Framework/DataHandling/test/LoadBinaryStlTest.h
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Framework/DataHandling/test/LoadSampleShapeTest.h
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Diffraction, Group: Powder

#25638 Fix error when "MantidAxes.from_mpl_axes" is called with default args
  Framework/PythonInterface/mantid/plots/__init__.py
  qt/python/mantidqt/plotting/test/test_functions.py
Labels: Component: Workbench, Misc: Bug

#25633 mantid.plots get_indices - Change indices from list to tuple
  Framework/PythonInterface/mantid/plots/helperfunctions.py
Labels: Misc: Bug

#25545 Create phase table tab
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/phase_table_context.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/phase_table_widget/__init__.py
  scripts/Muon/GUI/Common/phase_table_widget/muon_phases_tab.ui
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_view.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_widget.py
  scripts/Muon/GUI/Common/test_helpers/__init__.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/Common/test_helpers/mock_widget.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/test/MultiPlotting/AxisChangerTwoView_test.py
  scripts/test/MultiPlotting/MultiPlotWidget_test.py
  scripts/test/MultiPlotting/QuickEditWidget_test.py
  scripts/test/MultiPlotting/Subplot_test.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/LoadWidgetPresenter_test.py
  scripts/test/Muon/LoadWidgetView_test.py
  scripts/test/Muon/PeriodicTablePresenter_test.py
  scripts/test/Muon/PlottingView_test.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_alpha_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
  scripts/test/Muon/help_widget_presenter_test.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/home_plot_widget_test.py
  scripts/test/Muon/home_runinfo_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_model_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_view_test.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_view_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/phase_table_widget/__init__.py
  scripts/test/Muon/phase_table_widget/phase_table_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/transformWidget_test.py
  scripts/test/Muon/utilities/thread_model_test.py
  scripts/test/__init__.py
Labels: Component: GUI, Component: Muon, Component: Python

#25100 Indirect Update Data Analysis Model when workspace changes
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/ConvFitAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/IAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/IIndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/JumpFitAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/test/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/src/DataSelector.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25640 Track now uses Line instead of defining its own vector
  Framework/Geometry/inc/MantidGeometry/Objects/Track.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Line.h
  Framework/Geometry/src/Objects/Track.cpp
Labels: Component: Framework

#25641 SANS Add Runs Save Mirrors Default Save
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/add_runs_page.ui
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/presenter/add_runs_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI

#24156 Fix pseudovoigt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/PseudoVoigt.h
  Framework/CurveFitting/src/Functions/PseudoVoigt.cpp
  Framework/CurveFitting/test/Algorithms/FitTest.h
  Framework/CurveFitting/test/Functions/PseudoVoigtTest.h
  Framework/CurveFitting/test/IPeakFunctionIntensityTest.h
  Testing/SystemTests/tests/analysis/POLDIDataAnalysisTest.py
  docs/source/fitting/fitfunctions/PseudoVoigt.rst
  docs/source/release/v4.1.0/framework.rst
  scripts/test/CrystalFieldTest.py
Labels: Component: Fitting

#25496 Use XML produced CTest over CxxTest/xmlrunner
  CMakeLists.txt
  Framework/PythonInterface/test/python/CMakeLists.txt
  Framework/PythonInterface/test/testhelpers/testrunner.py
  MantidPlot/CMakeLists.txt
  MantidPlot/test/mantidplottests.py
  Testing/PerformanceTests/analysis_mpl.py
  Testing/PerformanceTests/make_report.py
  Testing/PerformanceTests/sqlresults.py
  Testing/PerformanceTests/xunit_to_sql.py
  Testing/Tools/pyunit_gen/pyunit_gen.py
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/FindCxxTest.cmake
  buildconfig/CMake/PyStoG.cmake
  buildconfig/CMake/PyUnitTest.cmake
  buildconfig/CMake/Python-xmlrunner.cmake
  buildconfig/CMake/Python-xmlrunner.in
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  buildconfig/Jenkins/performancetests
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/test/workbenchtests.py
  qt/python/mantidqt/utils/test/test_writetosignal.py
  scripts/CMakeLists.txt
  scripts/test/CMakeLists.txt
Labels: Misc: Maintenance

#25652 Do not compress ctest output in Jenkins build script
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
Labels: Misc: Maintenance

#25658 SaveIsawPeaks uses child algorithm
  Framework/Crystal/src/LoadIsawPeaks.cpp
Labels: Component: Diffraction, Group: Single Crystal, Priority: High

#25573 Remove phase calculations from transform tab
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/phase_table_context.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/Muon/GUI/Common/phase_table_widget/muon_phases_tab.ui
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_view.py
  scripts/Muon/GUI/Common/test_helpers/general_test_helpers.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_view_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fft_presenter_new_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25671 Workaround a lifetime issue in Jupyter tests
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
Labels: Priority: High

#25668 Update plot gallery
  docs/source/plotting/index.rst
Labels: Component: Documentation

#25584 Adds unit tests for AlgorithmProgress widget and dialog
  .gitignore
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressDialogPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressDialogWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressPresenterBase.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/IAlgorithmProgressDialogWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/IAlgorithmProgressWidget.h
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressDialogPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressModel.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressWidget.cpp
  qt/widgets/common/test/AlgorithmProgress/AlgorithmProgressDialogPresenterTest.h
  qt/widgets/common/test/AlgorithmProgress/AlgorithmProgressPresenterTest.h
  qt/widgets/common/test/AlgorithmProgress/ManualProgressReporter.h
  qt/widgets/common/test/AlgorithmProgress/MockAlgorithmProgressDialogWidget.h
  qt/widgets/common/test/AlgorithmProgress/MockAlgorithmProgressWidget.h
Labels: Component: Workbench, Quality: Unit Tests

#25681 Fix sphinx warning
  docs/source/fitting/fitfunctions/PseudoVoigt.rst
Labels: Component: Documentation, Misc: Bug, Misc: Easy

#25644 Add sample geometries for POWGEN
  docs/source/release/v4.1.0/diffraction.rst
  instrument/sampleenvironments/SNS/POWGEN/InAir.xml
Labels: Component: Diffraction, Group: Powder

#25672 Fixed failing test on windows
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
Labels: Component: Diffraction, Component: Python, Group: Powder, Priority: High, Quality: System Tests

#25675 Changed python executor name in workbench
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: Workbench, Priority: High

#25596 Mantid Qt Icons Library for Workbench
  CMakeLists.txt
  MantidPlot/make_package.rb.in
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/dev-packages/deb/mantid-developer/ns-control
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  dev-docs/source/BuildingOnOSX.rst
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/CMakeLists.txt
  qt/applications/workbench/make_package.rb.in
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/widgets/plotselector/test/test_plotselector_view.py
  qt/applications/workbench/workbench/widgets/plotselector/view.py
  qt/icons/CMakeLists.txt
  qt/icons/inc/MantidQtIcons/CharIconEngine.h
  qt/icons/inc/MantidQtIcons/CharIconPainter.h
  qt/icons/inc/MantidQtIcons/DllOption.h
  qt/icons/inc/MantidQtIcons/Icon.h
  qt/icons/resources/README.md
  qt/icons/resources/icons.qrc
  qt/icons/resources/materialdesignicons-webfont-charmap.json
  qt/icons/resources/materialdesignicons-webfont.ttf
  qt/icons/resources/materialdesignicons.css
  qt/icons/resources/updatematerialdesignjson.py
  qt/icons/src/CharIconEngine.cpp
  qt/icons/src/CharIconPainter.cpp
  qt/icons/src/Icon.cpp
  qt/icons/test/IconTest.h
  qt/python/CMakeLists.txt
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/icons.py
  qt/python/mantidqt/icons/CMakeLists.txt
  qt/python/mantidqt/icons/__init__.py
  qt/python/mantidqt/icons/_icons.sip
  qt/python/mantidqt/icons/test/__init__.py
  qt/python/mantidqt/icons/test/test_icons.py
  qt/python/mantidqt/utils/qt/__init__.py
  qt/python/mantidqt/widgets/codeeditor/tab_widget/codeeditor_tab_view.py
  qt/python/mantidqt/widgets/embedded_find_replace_dialog/view.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
  scripts/ExternalInterfaces/CMakeLists.txt
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: GUI, Component: Workbench

#25687 Fix sliceviewer for matrix workspace
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
Labels: Misc: Bug

#25565 Flipping ratio correction
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/FlippingRatioCorrectionMD.h
  Framework/MDAlgorithms/src/FlippingRatioCorrectionMD.cpp
  Framework/MDAlgorithms/test/FlippingRatioCorrectionMDTest.h
  docs/source/algorithms/FlippingRatioCorrectionMD-v1.rst
  docs/source/release/v4.1.0/direct_geometry.rst
Labels: Component: Direct Inelastic, Group: Inelastic

#25674 Fixed SetSample not setting sample material number density
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  Framework/Kernel/test/PropertyManagerTest.h
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Diffraction

#25693 Clangformat now includes .tcc files
  Framework/API/inc/MantidAPI/IFunction1D.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBin.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBoxBase.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDGridBox.tcc
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  buildconfig/Jenkins/clangformat
Labels: Component: Framework

#25691 Fix crashing on opening interfaces in Workbench
  scripts/HFIR_4Circle_Reduction/reduce4circleGUI.py
  scripts/Interface/reduction_gui/widgets/inelastic/dgs_sample_setup.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/test/Muon/help_widget_presenter_test.py
Labels: Misc: Bug

#25680 Add OffsetData to SNSPowderReduction
  Framework/Algorithms/inc/MantidAlgorithms/Scale.h
  Framework/Algorithms/src/Scale.cpp
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  docs/source/algorithms/SNSPowderReduction-v1.rst
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder

#25682 Ensure that EnginX script works on python 2 and 3
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Engineering/EnginX.py
Labels: Component: Diffraction, Component: Python

#25697 ISIS SANS code refactor to use constants
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/test/SANS/common/general_functions_test.py
Labels: Component: SANS

#25699 Add CMake flag to enable thread sanitizer
  buildconfig/CMake/GNUSetup.cmake
Labels: Component: Tools

#25692 Add power and square axis scaling to mantid.plots
  Framework/PythonInterface/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/scales.py
  Framework/PythonInterface/test/python/mantid/plots/ScalesTest.py
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Workbench

#25708 Change cmake to use option where appropriate
  CMakeLists.txt
  Framework/CMakeLists.txt
  Framework/Doxygen/CMakeLists.txt
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/CppCheckSetup.cmake
  buildconfig/CMake/GoogleTest.cmake
  buildconfig/CMake/LinuxSetup.cmake
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/PrecompiledHeaderCommands.cmake
  docs/CMakeLists.txt
  qt/paraview_ext/CMakeLists.txt
Labels: Misc: Maintenance

#25704 Minor ISIS SANS gui changes
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
Labels: Component: GUI

#25592 Pass SANS user file to canSAS files
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/data.py
  scripts/test/SANS/user_file/state_director_test.py
Labels: Component: SANS

#25643 Changed LoadSampleShape to rotate the sample based off of the rotation of the Goniometer
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleShape.h
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/test/LoadSampleShapeTest.h
  Testing/Data/SystemTest/WISH00040503.raw.md5
  Testing/SystemTests/tests/analysis/ComplexShapeAbsorptionsTest.py
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorbRotated.nxs.md5
  docs/source/algorithms/LoadSampleShape-v1.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Diffraction, Group: Powder

#25696 Bugfix for missing ISIS SANS batch file column
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/command_interface/batch_csv_file_parser.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
Labels: Component: SANS, Misc: Bug

#25679 New format for modulated UB output
  Framework/Crystal/src/SaveIsawUB.cpp
Labels: Component: Diffraction, Group: Single Crystal

#25593 Move frequency domain analysis to workbench
  docs/source/release/v4.1.0/muon.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/GUI/Common/dock/dockable_tabs.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/Muon/GUI/Common/load_file_widget/view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_view.py
  scripts/Muon/GUI/Common/utilities/muon_file_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_view.py
  scripts/save_python.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
Labels: Component: Muon, Component: Python, Component: Workbench

#25716 Restore Windows IPython 5.x Upgrade
  buildconfig/CMake/Bootstrap.cmake
Labels: Priority: High

#25683 Fixed Engineering gui ignoring browsed to file
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/release/v4.1.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffGSASFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingQtWidget.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetModel.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffMultiRunFittingWidgetPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  qt/scientific_interfaces/EnggDiffraction/EnggVanadiumCorrectionsModel.cpp
  qt/scientific_interfaces/EnggDiffraction/IEnggDiffractionParam.h
  qt/scientific_interfaces/EnggDiffraction/RunLabel.cpp
  qt/scientific_interfaces/EnggDiffraction/RunLabel.h
  qt/scientific_interfaces/EnggDiffraction/RunMap.h
  qt/scientific_interfaces/EnggDiffraction/RunMap.tpp
  qt/scientific_interfaces/test/EnggDiffFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingModelTest.h
  qt/scientific_interfaces/test/EnggDiffGSASFittingPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetModelTest.h
  qt/scientific_interfaces/test/EnggDiffMultiRunFittingWidgetPresenterTest.h
  qt/scientific_interfaces/test/EnggDiffractionParamMock.h
  qt/scientific_interfaces/test/EnggDiffractionPresenterTest.h
  qt/scientific_interfaces/test/EnggVanadiumCorrectionsModelTest.h
  qt/scientific_interfaces/test/RunMapTest.h
Labels: Component: Diffraction

#25714 Fix SANS bug when processing with no file types selected
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI, Misc: Bug

#25740 IntegrateEllipsoids after PredictPeaks
  Framework/Crystal/src/PredictPeaks.cpp
Labels: Component: Diffraction, Group: Single Crystal, Priority: High

#25556 Fix y-axis units on 1D distribution workspace plots
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggFocusTest.py
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/test/test_functions.py
  qt/widgets/common/src/PlotAxis.cpp
  qt/widgets/common/test/PlotAxisTest.h
Labels: Component: Workbench, Priority: High

#25653 SNS theta sign
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  docs/source/release/v4.1.0/framework.rst
  instrument/ARCS_Definition_20121011-.xml
  instrument/CNCS_Definition.xml
  instrument/HYSPEC_Definition.xml
  instrument/NOMAD_Definition.xml
  instrument/NOMAD_Definition_20120801-20170131.xml
  instrument/POWGEN_Definition_2018-05-05.xml
  instrument/SEQUOIA_Definition.xml
  instrument/SNAP_Definition.xml
  instrument/VULCAN_Definition.xml
Labels: Component: Framework

#25734 BASISPowderReduction and BASISReduction: option to keep temporary workspaces
  Framework/PythonInterface/plugins/algorithms/BASISPowderDiffraction.py
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Indirect Inelastic, Group: Powder

#25731 Upgrade Poco to 1.6.1 on Windows
  Framework/Algorithms/test/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/PrecompiledHeader.h
  Framework/Kernel/src/DllOpen.cpp
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/MSVCSetup.cmake
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/inc/MantidVatesSimpleGuiViewWidgets/MdViewerWidget.h
  qt/paraview_ext/VatesSimpleGui/ViewWidgets/inc/MantidVatesSimpleGuiViewWidgets/TimeControlWidget.h
Labels: Priority: High

#25724 Deprecate total_nanoseconds method
  Framework/PythonInterface/mantid/kernel/src/Exports/DateAndTime.cpp
  Framework/PythonInterface/plugins/algorithms/MRFilterCrossSections.py
  Framework/PythonInterface/test/python/mantid/kernel/DateAndTimeTest.py
  docs/source/release/v4.1.0/framework.rst
  scripts/test/SANSUtilityTest.py
Labels: Component: Framework

#25732 10x faster Atom class
  CMakeLists.txt
  Framework/Doxygen/Mantid_template.doxyfile
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/Atom.h
  Framework/Kernel/src/Atom.cpp
  Framework/Kernel/test/AtomTest.h
  buildconfig/CMake/Span.cmake
  buildconfig/CMake/Span.in
  docs/source/release/v4.1.0/framework.rst
  tools/PeriodicTable/generate_atom_code.py
Labels: Component: Framework

#25749 Fix windows unstable package build
  images/mantid_notebookunstable.ico
Labels: Misc: Bug

#25753 Add missing poco library.
  buildconfig/CMake/WindowsNSIS.cmake
Labels: Misc: Bug

#25717 Add fitting tab outline to Muon Analysis 2
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/__init__.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector_view.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/list_selector/TableWidgetDragRows.py
  scripts/Muon/GUI/Common/list_selector/__init__.py
  scripts/Muon/GUI/Common/list_selector/list_selector.ui
  scripts/Muon/GUI/Common/list_selector/list_selector_presenter.py
  scripts/Muon/GUI/Common/list_selector/list_selector_view.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_widget.py
  scripts/Muon/GUI/Common/test_helpers/general_test_helpers.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/Muon_Analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/__init__.py
  scripts/test/Muon/fitting_tab_widget/__init__.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/fitting_tab_widget/workspace_selector_dialog_presenter_test.py
  scripts/test/Muon/help_widget_presenter_test.py
  scripts/test/Muon/list_selector/__init__.py
  scripts/test/Muon/list_selector/list_selector_presenter_test.py
  scripts/test/Muon/list_selector/list_selector_view_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/utilities/muon_group_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#25761 MDNorm bug fixes and improvements
  Framework/Kernel/src/UnitLabelTypes.cpp
  Framework/MDAlgorithms/src/MDNorm.cpp
  docs/source/algorithms/LoadDNSSCD-v1.rst
  docs/source/release/v4.1.0/diffraction.rst
  docs/source/release/v4.1.0/direct_geometry.rst
Labels: Component: Diffraction, Component: Direct Inelastic, Misc: Bug

#25664 Changed LoadSampleEnvironment to use angles instead of rotation matrix
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleEnvironment.h
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Testing/SystemTests/tests/analysis/ComplexShapeAbsorptionsTest.py
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeRotatedAbsorbEnvironment.nxs.md5
  docs/source/algorithms/LoadSampleEnvironment-v1.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Diffraction, Group: Powder

#25737 Auto update of multi plotting
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/MultiPlotting/subplot/subplot_ADS_observer.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/test/MultiPlotting/CMakeLists.txt
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
  scripts/test/MultiPlotting/SubplotADSObserver_test.py
  scripts/test/MultiPlotting/Subplot_test.py
  scripts/test/MultiPlotting/line_helper.py
Labels: Component: GUI

#25774 replace use of getName() with name()
  Framework/PythonInterface/plugins/algorithms/DNSMergeRuns.py
  Framework/PythonInterface/plugins/algorithms/MatchPeaks.py
  Framework/PythonInterface/plugins/algorithms/OptimizeCrystalPlacementByRun.py
  Framework/PythonInterface/plugins/algorithms/PoldiMerge.py
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/plugins/algorithms/ReflectometrySliceEventWorkspace.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrection.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrectionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransferTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWSTest.py
  MantidPlot/pymantidplot/__init__.py
  Testing/SystemTests/tests/analysis/ILLIndirectReductionQENS.py
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  Testing/SystemTests/tests/analysis/ISIS_PowderHRPDTest.py
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Engineering/EnggUtils.py
  scripts/Inelastic/IndirectReductionCommon.py
  scripts/Inelastic/vesuvio/commands.py
  scripts/Inelastic/vesuvio/loading.py
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/SANS/ISISCommandInterface.py
  scripts/SANS/isis_reduction_steps.py
  scripts/SANS/sans/command_interface/ISISCommandInterface.py
  scripts/SCD_Reduction/ReduceSCD_OneRun.py
  scripts/test/Muon/LoadWidgetModel_test.py
  scripts/test/SANSUtilityTest.py
  scripts/test/isis_powder/ISISPowderCommonTest.py
Labels: Misc: Maintenance

#25656 LoadILLSANS load in parallel
  Framework/DataHandling/src/LoadILLSANS.cpp
Labels: Component: SANS, Misc: Easy

#25780 Switched to doing show data in one place
  Framework/Muon/src/MuonGroupingCounts.cpp
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/transformWidget_test.py
Labels: Component: GUI, Component: Muon

#25781 Update muon interface docs
  docs/source/images/MuonAnalysis_2.png
  docs/source/images/frequency_domain_analysis_2.png
  docs/source/images/frequency_domain_analysis_2_grouping.png
  docs/source/images/frequency_domain_analysis_2_transform.png
  docs/source/images/frequency_domain_analysis_2_transform_maxent.png
  docs/source/images/muon_interface_tab_fitting.png
  docs/source/images/muon_interface_tab_grouping.png
  docs/source/images/muon_interface_tab_home.png
  docs/source/images/muon_interface_tab_phase_table.png
  docs/source/images/muon_interface_tab_transform.png
  docs/source/images/muon_interface_tab_transform_maxent.png
  docs/source/interfaces/Frequency Domain Analysis.rst
  docs/source/interfaces/Muon Analysis 2.rst
  docs/source/interfaces/muon_fitting_tab.rst
  docs/source/interfaces/muon_grouping_tab.rst
  docs/source/interfaces/muon_home_tab.rst
  docs/source/interfaces/muon_phase_table_tab.rst
  docs/source/interfaces/muon_transform_tab.rst
  scripts/Muon/GUI/Common/help_widget/help_widget_presenter.py
  scripts/Muon/GUI/Common/help_widget/help_widget_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/help_widget_presenter_test.py
Labels: Component: Muon, Quality: Documentation

#25820 Fix raw data not being shown
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
Labels: Component: GUI, Component: Muon, Priority: High

#25726 Fix MacOS warnings and errors.
  Framework/Crystal/test/PeaksOnSurfaceTest.h
  Framework/Geometry/test/CompAssemblyTest.h
  Framework/MDAlgorithms/test/ConvToMDEventsWSIndexingTest.h
Labels: OS: macOS

#25802 Add fit feedback to fitting tab
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  qt/python/mantidqt/_common.sip
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/Muon_Analysis_2.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/muon_gui_context_test.py
Labels: Component: GUI, Component: Muon
