Repository mantidproject/mantid, pull requests merged in 2019-04, with the labels that each got.

#25403 Update the buildconfig files with new cmake format
  buildconfig/class_maker.py
  buildconfig/cmakelists_utils.py
Labels: Misc: Maintenance

#25388 Enable negative indexing of WorkspaceGroups in Python API
  Framework/API/inc/MantidAPI/WorkspaceGroup.h
  Framework/API/src/WorkspaceGroup.cpp
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceGroup.cpp
  Framework/PythonInterface/test/python/mantid/api/WorkspaceGroupTest.py
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Workbench

#25375 Indirect Elwin Crash when changing Preview Spectrum after running
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Testing/SystemTests/tests/analysis/ISISIndirectAnalysisTest.py
  Testing/SystemTests/tests/analysis/reference/II.IRISElasticWindowMultiple.nxs.md5
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
Labels: Component: Indirect Inelastic, Misc: Bug

#25424 Workbench: Enable comment current line in script editor with no selection
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/codecommenter.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_codecommenter.py
Labels: Component: Workbench

#25329 Improve tracking of curves on matplotlib plots
  Framework/PythonInterface/mantid/plots/__init__.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
  qt/python/mantidqt/widgets/fitpropertybrowser/mouse_state_machine.py
Labels: Component: Workbench, Misc: Maintenance

#25411 Make Create States Error Box More Helpful
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Component: GUI, Component: SANS

#25401 Dis/Enable SANS output modes when reduction mode changes
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: GUI, Misc: Easy

#25449 BASISReduction: retain only events within a time window
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  Testing/SystemTests/tests/analysis/BASISTest.py
  docs/source/algorithms/BASISReduction-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
Labels: Component: Indirect Inelastic

#25346 Indirect Reduction - Fix error when loading Reduction from invalid facility
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.h
  qt/scientific_interfaces/Indirect/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.h
  qt/scientific_interfaces/Indirect/IndirectTransmission.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmission.h
Labels: Component: Indirect Inelastic, Misc: Bug, Priority: High

#25368 Indirect Iqt - Extra validation of input data
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/TransformToIqtTest.py
  Testing/Data/UnitTest/iris26184_multi_graphite002_red.nxs.md5
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
Labels: Component: Indirect Inelastic, Misc: Bug

#25435 Move SANS BinningType to enums
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/summation_settings_widget.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/gui_logic/models/binning_type.py
  scripts/SANS/sans/gui_logic/models/summation_settings.py
  scripts/SANS/sans/gui_logic/presenter/summation_settings_presenter.py
  scripts/test/SANS/gui_logic/summation_settings_model_test.py
  scripts/test/SANS/gui_logic/summation_settings_presenter_test.py
Labels: Component: SANS, Misc: Easy, Misc: Maintenance

#25405 Fixed bugs in engineering gui
  docs/source/release/v4.1.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffFittingPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
Labels: Component: Diffraction, Component: GUI

#25454 Fix SANS Export Table in Workbench
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Misc: Bug

#25466 Add Docker build information to dev-docs
  dev-docs/source/GettingStarted.rst
Labels: Component: Documentation

#25413 Attempt to fix conda system tests
  Framework/API/src/DetectorSearcher.cpp
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/DetectorEfficiencyCor.cpp
  Framework/Algorithms/src/He3TubeEfficiency.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/src/SofQWCentre.cpp
  Framework/Crystal/src/FindSXPeaksHelper.cpp
  Framework/Crystal/src/PeaksOnSurface.cpp
  Framework/CurveFitting/src/Algorithms/VesuvioCalculateMS.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Cone.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Cylinder.h
  Framework/Geometry/src/Crystal/IndexingUtils.cpp
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/src/Instrument/ReferenceFrame.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Geometry/src/Rasterize.cpp
  Framework/Geometry/src/Rendering/RenderingHelpers.cpp
  Framework/Geometry/src/Surfaces/Cone.cpp
  Framework/Geometry/src/Surfaces/Cylinder.cpp
  Framework/Geometry/src/Surfaces/Line.cpp
  Framework/Geometry/src/Surfaces/Plane.cpp
  Framework/Geometry/src/Surfaces/Quadratic.cpp
  Framework/Geometry/src/Surfaces/Torus.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Kernel/inc/MantidKernel/V3D.h
  Framework/Kernel/src/Quat.cpp
  Framework/Kernel/src/V3D.cpp
  Framework/Kernel/test/QuatTest.h
  Framework/Kernel/test/V3DTest.h
  Framework/MDAlgorithms/src/MDNorm.cpp
  Framework/MDAlgorithms/src/MDNormDirectSC.cpp
  Framework/MDAlgorithms/src/MDNormSCD.cpp
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/PanelsSurface.cpp
  qt/widgets/instrumentview/src/Projection3D.cpp
  qt/widgets/instrumentview/src/RotationSurface.cpp
  qt/widgets/instrumentview/src/UnwrappedCylinder.cpp
Labels: Component: Direct Inelastic, Misc: Bug

#25447 BASISPowderReduction: optional normalization by proton charge
  Framework/PythonInterface/plugins/algorithms/BASISPowderDiffraction.py
  Testing/SystemTests/tests/analysis/BASISTest.py
  Testing/SystemTests/tests/analysis/reference/BASISPowderFluxNorm.nxs.md5
  docs/source/algorithms/BASISPowderDiffraction-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  docs/source/workbench/whatisnewinworkbench.rst
Labels: Component: Diffraction

#25416 Add config file for CMake-format
  .cmake-format.json
Labels: Misc: Maintenance

#25473 Add note about dropping windows 7 support
  docs/source/release/v4.1.0/index.rst
Labels: Component: Documentation

#25344 Extend generate point in object to understand hollow cylinders
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject2D.h
  Framework/Geometry/inc/MantidGeometry/RandomPoint.h
  Framework/Geometry/inc/MantidGeometry/Rendering/GeometryHandler.h
  Framework/Geometry/inc/MantidGeometry/Rendering/ShapeInfo.h
  Framework/Geometry/src/Instrument/ObjCompAssembly.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Geometry/src/RandomPoint.cpp
  Framework/Geometry/src/Rendering/GeometryHandler.cpp
  Framework/Geometry/src/Rendering/ShapeInfo.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/MeshObject2DTest.h
  Framework/Geometry/test/ObjCompAssemblyTest.h
  Framework/Geometry/test/ParObjCompAssemblyTest.h
  Framework/Geometry/test/RandomPointTest.h
  Framework/Geometry/test/ShapeInfoTest.h
  Framework/Muon/test/MuonPairingAsymmetryTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/ComponentCreationHelper.h
  Framework/TestHelpers/src/ComponentCreationHelper.cpp
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Direct Inelastic

#25479 Direct reduction background bug
  scripts/Inelastic/Direct/DirectEnergyConversion.py
Labels: Component: Direct Inelastic, Misc: Bug

#25430 Remove deprecated FindEPP version 1
  Framework/Algorithms/src/FindEPP.cpp
  Framework/PythonInterface/plugins/algorithms/FindEPP.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/FindEPPTest.py
  docs/source/algorithms/FindEPP-v1.rst
  docs/source/algorithms/FindEPP-v2.rst
  docs/source/release/v3.10.0/framework.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Direct Inelastic, Component: Framework

#25352 Fix cppcheck 1.87 warnings in PythonInterface
  Framework/PythonInterface/mantid/api/src/Exports/DeprecatedAlgorithmChecker.cpp
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/Projection.cpp
  Framework/PythonInterface/mantid/api/src/PythonAlgorithm/AlgorithmAdapter.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/Group.cpp
  Framework/PythonInterface/mantid/kernel/src/Converters/NDArrayToVector.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/Material.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/Statistics.cpp
Labels: Component: Framework, Quality: Cppcheck

#25437 Indirect Corrections - Sample and Can cross sections for PP and MC
  Framework/PythonInterface/plugins/algorithms/CylinderPaalmanPingsCorrection2.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorption.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FlatPlatePaalmanPingsCorrection.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SimpleShapeMonteCarloAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/CylinderPaalmanPingsCorrection2Test.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FlatPlatePaalmanPingsCorrectionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SimpleShapeMonteCarloAbsorptionTest.py
  docs/source/interfaces/Indirect Corrections.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.h
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.ui
  qt/scientific_interfaces/Indirect/CorrectionsTab.h
Labels: Component: Indirect Inelastic

#25376 Workbench: Use pcolormesh for colorfill plots of single spectra workspaces
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/functions.py
Labels: Component: Workbench

#24866 Reflectometry GUI restructuring 8: Postprocess groups
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/GroupProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/GroupProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/GroupProcessingAlgorithmTest.h
Labels: Component: GUI, Component: Reflectometry

#25494 Indirect - Fix system tests for different gsl versions
  Testing/SystemTests/tests/analysis/ISISIndirectInelastic.py
  Testing/SystemTests/tests/analysis/reference/II.IRISConvFitSeq_gslv2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.IRISFuryFitSeq_gslv2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISConvFitSeq_gslv2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISFuryFitSeq_gslv2.nxs.md5
Labels: Component: Indirect Inelastic, Quality: System Tests

#25334 Convert elemental analysis to qtpy
  scripts/Elemental_Analysis.py
  scripts/Muon/GUI/Common/load_widget/load_view.py
  scripts/Muon/GUI/ElementalAnalysis/Detectors/detectors_view.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_view.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: Component: GUI

#25489 Normalised fit composite members output
  Framework/CurveFitting/src/FitMW.cpp
  Framework/CurveFitting/test/FitMWTest.h
Labels: Component: Fitting, Misc: Bug

#25240 Fix cppcheck 1.87 warnings in DataHandling
  Framework/DataHandling/inc/MantidDataHandling/SaveDiffCal.h
  Framework/DataHandling/src/DataBlockComposite.cpp
  Framework/DataHandling/src/EventWorkspaceCollection.cpp
  Framework/DataHandling/src/FindDetectorsPar.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/LoadAscii2.cpp
  Framework/DataHandling/src/LoadBBY.cpp
  Framework/DataHandling/src/LoadCanSAS1D.cpp
  Framework/DataHandling/src/LoadCanSAS1D2.cpp
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadEventNexusIndexSetup.cpp
  Framework/DataHandling/src/LoadFullprofResolution.cpp
  Framework/DataHandling/src/LoadGSASInstrumentFile.cpp
  Framework/DataHandling/src/LoadGSS.cpp
  Framework/DataHandling/src/LoadHelper.cpp
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLIndirect2.cpp
  Framework/DataHandling/src/LoadILLPolarizationFactors.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/LoadInstrument.cpp
  Framework/DataHandling/src/LoadMcStas.cpp
  Framework/DataHandling/src/LoadMuonNexus1.cpp
  Framework/DataHandling/src/LoadMuonNexus2.cpp
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/src/LoadRawHelper.cpp
  Framework/DataHandling/src/LoadSpec.cpp
  Framework/DataHandling/src/LoadSpice2D.cpp
  Framework/DataHandling/src/LoadSpiceXML2DDet.cpp
  Framework/DataHandling/src/LoadSwans.cpp
  Framework/DataHandling/src/LoadTBL.cpp
  Framework/DataHandling/src/LoadTOFRawNexus.cpp
  Framework/DataHandling/src/MaskDetectors.cpp
  Framework/DataHandling/src/MoveInstrumentComponent.cpp
  Framework/DataHandling/src/PDLoadCharacterizations.cpp
  Framework/DataHandling/src/ParallelEventLoader.cpp
  Framework/DataHandling/src/PatchBBY.cpp
  Framework/DataHandling/src/RemoveLogs.cpp
  Framework/DataHandling/src/SaveDetectorsGrouping.cpp
  Framework/DataHandling/src/SaveDiffCal.cpp
  Framework/DataHandling/src/SaveGSASInstrumentFile.cpp
  Framework/DataHandling/src/SaveGSS.cpp
  Framework/DataHandling/src/SaveISISNexus.cpp
  Framework/DataHandling/src/SaveMask.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/src/SetScalingPSD.cpp
  Framework/DataHandling/src/UpdateInstrumentFromFile.cpp
  Framework/Kernel/inc/MantidKernel/StringTokenizer.h
Labels: Quality: Cppcheck

#25417 Fix cppcheck 1.87 warnings in WorkflowAlgorithms
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  Framework/WorkflowAlgorithms/src/DgsReduction.cpp
  Framework/WorkflowAlgorithms/src/EQSANSLoad.cpp
  Framework/WorkflowAlgorithms/src/ExtractQENSMembers.cpp
  Framework/WorkflowAlgorithms/src/MuonProcess.cpp
  Framework/WorkflowAlgorithms/src/SANSBeamFluxCorrection.cpp
  Framework/WorkflowAlgorithms/src/SofTwoThetaTOF.cpp
Labels: Quality: Cppcheck

#25471 Move qtpy import outside beamcentrefinder
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  scripts/SANS/sans/algorithm_detail/beamcentrefinder_plotting.py
Labels: Component: SANS

#25510 No longer clears the tracked algorithm on any Algorithm end
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressModel.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressPresenter.cpp
Labels: Component: Workbench

#25518 Workbench: Add script path to sys.path on execution
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/python/mantidqt/utils/__init__.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
Labels: Component: Workbench

#25525 Indirect Data Analysis - Adjustable plot sizes
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitPreviewPlot.ui
Labels: Component: GUI, Component: Indirect Inelastic

#25444 Allow Event Slice Data to Save Transmission Workspaces
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
Labels: Component: SANS

#25504 changed filename for .his file
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Engineering/EnginX.py
Labels: Component: Diffraction, Component: Python

#25419 Add boost include dirs explicitly
  Framework/API/CMakeLists.txt
  Framework/Algorithms/CMakeLists.txt
  Framework/CurveFitting/CMakeLists.txt
  Framework/DataHandling/CMakeLists.txt
  Framework/Geometry/CMakeLists.txt
  Framework/HistogramData/CMakeLists.txt
  Framework/Indexing/CMakeLists.txt
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/core/CMakeLists.txt
  Framework/SINQ/CMakeLists.txt
  qt/python/mantidqtpython/CMakeLists.txt
  qt/scientific_interfaces/DynamicPDF/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISSANS/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/factory/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/legacyqwt/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/refdetectorview/CMakeLists.txt
  qt/widgets/sliceviewer/CMakeLists.txt
  qt/widgets/spectrumviewer/CMakeLists.txt
Labels: Component: Framework

#25427 Cmake-format documentation
  dev-docs/source/ToolsOverview.rst
Labels: Misc: Easy, Misc: Maintenance, Quality: Documentation

#25557 Adds COLORED_OUTPUT CMAKE flag
  buildconfig/CMake/GNUSetup.cmake
  buildconfig/Jenkins/buildscript
Labels: Component: Framework

#25541 Add ScatterFrom property to AbsorptionCorrection
  Framework/API/inc/MantidAPI/Sample.h
  Framework/API/src/Sample.cpp
  Framework/Algorithms/inc/MantidAlgorithms/AbsorptionCorrection.h
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/AnyShapeAbsorption.cpp
  Framework/Algorithms/test/AnyShapeAbsorptionTest.h
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Instrument/SampleEnvironment.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject2D.h
  Framework/Geometry/inc/MantidGeometry/Rasterize.h
  Framework/Geometry/inc/MantidGeometry/Rendering/ShapeInfo.h
  Framework/Geometry/src/Instrument/SampleEnvironment.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Geometry/src/Rasterize.cpp
  Framework/Geometry/src/Rendering/ShapeInfo.cpp
  Framework/Geometry/test/RasterizeTest.h
  Framework/Geometry/test/SampleEnvironmentTest.h
  docs/source/release/v4.1.0/framework.rst
  instrument/sampleenvironments/TEST_LIVE/ISIS_Histogram/CRYO-01.xml
Labels: Component: Framework

#25495 IndirectReplaceFitResult will replace data based on the parameter name in the y axis
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectReplaceFitResult.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectReplaceFitResultTest.py
  Testing/Data/UnitTest/conv_fit_resolution.nxs.md5
  Testing/Data/UnitTest/iris26173_graphite002_res.nxs.md5
  Testing/Data/UnitTest/iris26176_graphite002_conv_1L_s0_to_17_Result_Edit.nxs.md5
  Testing/Data/UnitTest/iris26176_graphite002_conv_1L_s0_to_17_Result_Edit_gslv2.nxs.md5
  Testing/Data/UnitTest/iris26176_graphite002_red.nxs.md5
Labels: Component: Indirect Inelastic

#25530 Remove SANS MaskFactory
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSMaskWorkspace.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSMove.py
  Testing/SystemTests/tests/analysis/SANSMoveTest.py
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
  scripts/SANS/sans/algorithm_detail/move_workspaces.py
Labels: Component: SANS, Misc: Easy, Misc: Maintenance

#25553 Add Linux desktop icon for workbench
  CMakeLists.txt
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/ConfigDialog.cpp
  MantidPlot/src/FloatingWindow.cpp
  MantidPlot/src/Mantid/AlgorithmMonitor.cpp
  MantidPlot/src/ScriptingWindow.cpp
  buildconfig/CMake/WindowsNSIS.cmake
  docs/source/release/v4.1.0/mantidworkbench.rst
  docs/source/release/v4.1.0/ui.rst
  images/images.qrc
  images/mantid_workbench.png
  images/mantid_workbench_nightly.png
  images/mantid_workbench_unstable.png
  images/mantidplot.ico
  images/mantidplot.png
  images/mantidplot_nightly.ico
  images/mantidplot_nightly.png
  images/mantidplot_unstable.ico
  images/mantidplot_unstable.png
  installers/LinuxInstaller/launcher-template.desktop.in
  qt/python/resources.qrc
  qt/widgets/common/src/AlgorithmDialog.cpp
  qt/widgets/common/src/UserSubWindow.cpp
Labels: Component: GUI, Component: Workbench

#25543 Make GenerateEventsFilter work with all MatrixWorkspace.
  Framework/Algorithms/inc/MantidAlgorithms/GenerateEventsFilter.h
  Framework/Algorithms/src/GenerateEventsFilter.cpp
  docs/source/algorithms/GenerateEventsFilter-v1.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Framework

#25042 Add exclusive bounds to ArrayBoundedValidator
  Framework/DataHandling/src/SaveGSS.cpp
  Framework/Kernel/inc/MantidKernel/ArrayBoundedValidator.h
  Framework/Kernel/inc/MantidKernel/BoundedValidator.h
  Framework/Kernel/inc/MantidKernel/IValidator.h
  Framework/Kernel/inc/MantidKernel/TypedValidator.h
  Framework/Kernel/src/ArrayBoundedValidator.cpp
  Framework/Kernel/test/ArrayBoundedValidatorTest.h
  Framework/MDAlgorithms/src/SetMDFrame.cpp
  Framework/MDAlgorithms/src/TransposeMD.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayBoundedValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/BoundedValidator.cpp
  Framework/PythonInterface/plugins/algorithms/CalibrateRectangularDetectors.py
  Framework/PythonInterface/plugins/algorithms/ConjoinFiles.py
  Framework/PythonInterface/plugins/algorithms/CreateLeBailFitInput.py
  Framework/PythonInterface/plugins/algorithms/DeltaPDF3D.py
  Framework/PythonInterface/plugins/algorithms/ExaminePowderDiffProfile.py
  Framework/PythonInterface/plugins/algorithms/LoadMultipleGSS.py
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/PythonInterface/plugins/algorithms/StatisticsOfTableWorkspace.py
  Framework/PythonInterface/plugins/algorithms/VesuvioPeakPrediction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DetectorFloodWeighting.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLDiagnostics.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectDiffScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLEfficiency.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSDarkRunBackgroundCorrection.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/USANSReduction.py
  Framework/PythonInterface/test/python/mantid/kernel/ArrayBoundedValidatorTest.py
Labels: Component: Framework, Component: Python

#25366 Formatting CMake files: qt from scientific interfaces to widgets
  qt/CMakeLists.txt
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/DynamicPDF/CMakeLists.txt
  qt/scientific_interfaces/EnggDiffraction/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/ISISSANS/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/CMakeLists.txt
  qt/widgets/factory/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/mplcpp/CMakeLists.txt
  qt/widgets/mplcpp/test/CMakeLists.txt
  qt/widgets/plugins/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/plugins/designer/CMakeLists.txt
  qt/widgets/refdetectorview/CMakeLists.txt
  qt/widgets/sliceviewer/CMakeLists.txt
  qt/widgets/spectrumviewer/CMakeLists.txt
  qt/widgets/spectrumviewer/inc/MantidQtWidgets/SpectrumViewer/MatrixWSSpectrumView.h
  qt/widgets/spectrumviewer/src/MatrixWSSpectrumView.cpp
Labels: Misc: Maintenance

#25453 Batch files to not require an output name
  Framework/PythonInterface/mantid/py3compat/__init__.py
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/command_interface/batch_csv_file_parser.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
Labels: Component: SANS

#25564 BASISReduction: option to carry out powder reduction
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  docs/source/algorithms/BASISReduction-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
Labels: Component: Indirect Inelastic

#25574 Avoiding lexical cast and locale issue when using getPropertyValueAsType<double>
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/MDAlgorithms/src/ConvertToMDMinMaxGlobal.cpp
  Framework/WorkflowAlgorithms/src/DgsReduction.cpp
  docs/source/release/v4.1.0/framework.rst
Labels: Misc: Bug

#25458 Reflectometry GUI restructuring: Plotting
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/IPlotter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/Plotter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Plotting/Plotter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenterFactory.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.h
  qt/scientific_interfaces/test/ISISReflectometry/Plotting/PlotterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenterFactory.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/DataProcessorMainPresenter.h
  qt/widgets/common/src/Batch/RowLocation.cpp
  qt/widgets/common/src/PythonRunner.cpp
Labels: Component: GUI, Component: Reflectometry

#25560 SEQUOIA detector system row "A" added 4 packs
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  instrument/SEQUOIA_Definition.xml
  instrument/SEQUOIA_Definition_20180513_20190403.xml
Labels: Component: Direct Inelastic

#25527 Indirect Reduction - Group output option
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
Labels: Component: Indirect Inelastic

#25559 Reorder export as batch keys to mirror sans table
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Misc: Easy

#25578 Load to recognise NXCanSAS files
  Framework/DataHandling/src/LoadNXcanSAS.cpp
  docs/source/release/v4.1.0/sans.rst
Labels: Misc: Bug

#25583 Double-click number on figure axis to pop up axis editor
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Component: Workbench

#25514 Fix TOFTOF GUI minor issues
  scripts/Interface/reduction_gui/reduction/toftof/toftof_reduction.py
  scripts/Interface/reduction_gui/widgets/data_table_view.py
Labels: Component: Direct Inelastic, Misc: Easy

#25594 Add header required for AppleClang 7
  Framework/CurveFitting/src/Functions/CubicSpline.cpp
Labels: Priority: High

#25581 Class_maker adding files incorrectly to some CMakeLists
  buildconfig/class_maker.py
  buildconfig/cmakelists_utils.py
Labels: Misc: Easy

#25213 Fix cppcheck 1.87 warnings in CurveFitting
  Framework/CurveFitting/src/Algorithms/ConvertToYSpace.cpp
  Framework/CurveFitting/src/Algorithms/ConvolutionFit.cpp
  Framework/CurveFitting/src/Algorithms/EstimateFitParameters.cpp
  Framework/CurveFitting/src/Algorithms/EstimatePeakErrors.cpp
  Framework/CurveFitting/src/Algorithms/Fit1D.cpp
  Framework/CurveFitting/src/Algorithms/FitPowderDiffPeaks.cpp
  Framework/CurveFitting/src/Algorithms/LeBailFit.cpp
  Framework/CurveFitting/src/Algorithms/LeBailFunction.cpp
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  Framework/CurveFitting/src/Algorithms/SplineSmoothing.cpp
  Framework/CurveFitting/src/AugmentedLagrangianOptimizer.cpp
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  Framework/CurveFitting/src/FuncMinimizers/TrustRegionMinimizer.cpp
  Framework/CurveFitting/src/Functions/BivariateNormal.cpp
  Framework/CurveFitting/src/Functions/CrystalElectricField.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldFunction.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldSpectrum.cpp
  Framework/CurveFitting/src/Functions/CubicSpline.cpp
  Framework/CurveFitting/src/Functions/IkedaCarpenterPV.cpp
  Framework/CurveFitting/src/Functions/InelasticDiffRotDiscreteCircle.cpp
  Framework/CurveFitting/src/Functions/ProcessBackground.cpp
  Framework/CurveFitting/src/GSLVector.cpp
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  Framework/CurveFitting/src/SeqDomain.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt
Labels: Quality: Cppcheck

#25531 Add ability to specify indices of MDHisto to plot
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions3D.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctions3DTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Python

#25552 Indirect Iqt - Asymmetric energy range
  docs/source/interfaces/Indirect Data Analysis.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectSpectrumSelector.ui
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/Iqt.ui
Labels: Component: Indirect Inelastic

#25587 Prevent S(Q,E) being flagged as temporary
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
Labels: Component: Indirect Inelastic, Misc: Bug

#25562 Add unit tests for TimeSeriesProperty::cloneWithTimeShift
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/Kernel/test/TimeSeriesPropertyTest.h
Labels: Quality: Unit Tests

#25607 Added interface execution enviroment as class property
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Component: GUI, Component: Python

#25432 Remove FindReflectometryLines version 1
  Framework/PythonInterface/plugins/algorithms/FindReflectometryLines.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/FindReflectometryLinesTest.py
  Testing/SystemTests/tests/analysis/ReflectometryISIS.py
  docs/source/algorithms/FindReflectometryLines-v1.rst
  docs/source/algorithms/FindReflectometryLines-v2.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#25193 Fix cppcheck 1.87 warnings in Algorithms
  Framework/Algorithms/inc/MantidAlgorithms/CalculateCountRate.h
  Framework/Algorithms/inc/MantidAlgorithms/SmoothNeighbours.h
  Framework/Algorithms/src/AddLogDerivative.cpp
  Framework/Algorithms/src/AddNote.cpp
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/src/AlignDetectors.cpp
  Framework/Algorithms/src/CalculateCountRate.cpp
  Framework/Algorithms/src/CalculateIqt.cpp
  Framework/Algorithms/src/CarpenterSampleCorrection.cpp
  Framework/Algorithms/src/ChangeBinOffset.cpp
  Framework/Algorithms/src/ConjoinXRuns.cpp
  Framework/Algorithms/src/ConvertEmptyToTof.cpp
  Framework/Algorithms/src/ConvertTableToMatrixWorkspace.cpp
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/Algorithms/src/CorrectKiKf.cpp
  Framework/Algorithms/src/CorrectToFile.cpp
  Framework/Algorithms/src/CreateFloodWorkspace.cpp
  Framework/Algorithms/src/CreateLogPropertyTable.cpp
  Framework/Algorithms/src/CreateSampleWorkspace.cpp
  Framework/Algorithms/src/CrossCorrelate.cpp
  Framework/Algorithms/src/EstimateDivergence.cpp
  Framework/Algorithms/src/EstimateResolutionDiffraction.cpp
  Framework/Algorithms/src/ExtractSpectra.cpp
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/src/FindPeaks.cpp
  Framework/Algorithms/src/FitPeak.cpp
  Framework/Algorithms/src/FixGSASInstrumentFile.cpp
  Framework/Algorithms/src/GetAllEi.cpp
  Framework/Algorithms/src/Integration.cpp
  Framework/Algorithms/src/MagFormFactorCorrection.cpp
  Framework/Algorithms/src/MaskBinsIf.cpp
  Framework/Algorithms/src/MaxEnt.cpp
  Framework/Algorithms/src/NormaliseToMonitor.cpp
  Framework/Algorithms/src/PointByPointVCorrection.cpp
  Framework/Algorithms/src/Q1D2.cpp
  Framework/Algorithms/src/Rebin.cpp
  Framework/Algorithms/src/RebinByTimeBase.cpp
  Framework/Algorithms/src/ReflectometryBeamStatistics.cpp
  Framework/Algorithms/src/RemoveLowResTOF.cpp
  Framework/Algorithms/src/RenameWorkspace.cpp
  Framework/Algorithms/src/ResampleX.cpp
  Framework/Algorithms/src/ResetNegatives.cpp
  Framework/Algorithms/src/RunCombinationHelpers/SampleLogsBehaviour.cpp
  Framework/Algorithms/src/SampleCorrections/SparseInstrument.cpp
  Framework/Algorithms/src/SmoothData.cpp
  Framework/Algorithms/src/SmoothNeighbours.cpp
  Framework/Algorithms/src/Stitch1D.cpp
  Framework/Algorithms/src/Stitch1DMany.cpp
  Framework/Algorithms/src/SumSpectra.cpp
  Framework/Algorithms/src/VesuvioL1ThetaResolution.cpp
  Framework/Algorithms/src/WorkspaceJoiners.cpp
  buildconfig/CMake/CppCheckSetup.cmake
Labels: Quality: Cppcheck

#25442 directtools: fix non-transposed plotting of S(Q,W)
  docs/source/release/v4.1.0/direct_geometry.rst
  scripts/directtools/__init__.py
  scripts/test/directtools/DirectToolsTest.py
Labels: Component: Direct Inelastic, Component: Python

#25505 Export help window to workbench
  MantidPlot/src/ApplicationWindow.cpp
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/CMake/WindowsNSISQt5.cmake
  docs/CMakeLists.txt
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/_common.sip
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/InterfaceManager.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MantidDesktopServices.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MantidHelpWindow.h
  qt/widgets/common/inc/MantidQtWidgets/Common/pqHelpWindow.h
  qt/widgets/common/inc/MantidQtWidgets/Common/pqHelpWindow.ui
  qt/widgets/common/src/InterfaceManager.cpp
  qt/widgets/common/src/MantidDesktopServices.cpp
  qt/widgets/common/src/MantidHelpWindow.cpp
  qt/widgets/common/src/pqHelpWindow.cxx
Labels: Component: Workbench

#25544 Separate q keys for ISIS SANS user and batch file
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: SANS, Misc: Easy

#25513 Link in frequency tab correctly
  scripts/Frequency_Domain_Analysis_Old.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_widget_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fft_presenter_new_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/transformWidget_test.py
Labels: Component: Muon, Component: Python

#25609 localPointInCylinder now uses correct basis vectors for random point generation
  Framework/Geometry/src/RandomPoint.cpp
  Framework/Geometry/test/RandomPointTest.h
Labels: Component: Framework

#25276 Fix cppcheck 1.87 warnings in LiveData
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/src/Kafka/private/Schema/flatbuffers/base.h
  Framework/LiveData/src/SNSLiveEventDataListener.cpp
  buildconfig/CMake/CppCheckSetup.cmake
Labels: Quality: Cppcheck

#25612 Fix doctest for SpectrumInfo.rst
  docs/source/api/python/mantid/api/SpectrumInfo.rst
Labels: Component: Documentation

#25622 SliceViewer Disable x-y selection of integrated dimensions
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
Labels: Misc: Bug

#25610 Run git clean (with exclusions) on all jenkins builds
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
Labels: Component: Framework

#25621 Remove non-existant algorithm from seeAlso
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleEnvironment.h
Labels: Component: Documentation, Misc: Easy

#25591 ErrorReporter added check before adding empty directory to path
  scripts/ErrorReporter/error_dialog_app.py
Labels: Component: Python

#25384 Polaris predict chopper mode
  Testing/Data/SystemTest/ISIS_Powder/input/POLARIS00098538.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/polaris/17_1/VanSplined_98537_cycle_16_3_silicon_all_spectra.cal.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/yaml_files/polaris_system_test_mapping.yaml.md5
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-POLARIS98533_Auto_chopper.nxs.md5
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_advanced_config.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Component: Diffraction, Component: Python, Group: Powder

#25616 IN16B properly modelled
  docs/source/images/IN16B-N.png
  docs/source/images/IN16B-R.png
  docs/source/release/v4.1.0/indirect_geometry.rst
  instrument/IN16B_Definition.xml
Labels: Component: Indirect Inelastic

#25320 Fix output bin width in ReflectometrySumInQ
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/test/ReflectometrySumInQTest.h
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry, Misc: Bug
