Repository mantidproject/mantid, pull requests merged in 2019-10, with the labels that each got.

#26855 Add MuH to fit functions
  Framework/PythonInterface/plugins/functions/MuH.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/MuHTest.py
  docs/source/fitting/fitfunctions/MuH.rst
Labels: Easy, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26909 Removed dead link from accounts creation section of DeveloperAccounts.rst
  dev-docs/source/DeveloperAccounts.rst
Labels: Documentation

#26925 New CHESS IDF file and Parameter file
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  docs/source/release/v4.2.0/direct_geometry.rst
  instrument/CHESS_Definition.xml
  instrument/CHESS_Parameters.xml
  scripts/DGSPlanner/InstrumentSetupWidget.py
  scripts/QECoverage.py
Labels: Direct Inelastic

#26929 Bump required memory for WISH SX peak system test
  Testing/SystemTests/tests/analysis/ISIS_WISHSingleCrystalReduction.py
Labels: Easy, ISIS Team: Diffraction, System Tests

#26889 Add TriangleOsc function to fit functions
  Framework/PythonInterface/plugins/functions/TriangleOsc.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/TriangleOscTest.py
  docs/source/fitting/fitfunctions/TriangleOsc.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26853 Fix leave event errors in Matplotlib figures
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#26921 Add StaticLorentzianKT to fit functions
  Framework/PythonInterface/plugins/functions/StaticLorentzianKT.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/StaticLorentzianKTTest.py
  docs/source/fitting/fitfunctions/StaticLorentzianKT.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26859 Add SilverBaseline to fit function
  Framework/PythonInterface/plugins/functions/SilverBaseline.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/SilverBaselineTest.py
  docs/source/fitting/fitfunctions/SilverBaseline.rst
Labels: Easy, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26856 Add Meier function
  Framework/PythonInterface/plugins/functions/Meier.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/MeierTest.py
  docs/source/fitting/fitfunctions/Meier.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26872 Add TFMuonium to fit functions
  Framework/PythonInterface/plugins/functions/TFMuonium.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/TFMuoniumTest.py
  docs/source/fitting/fitfunctions/TFMuonium.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26857 Add StandardSC to fit function
  Framework/PythonInterface/plugins/functions/StandardSC.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/StandardSCTest.py
  docs/source/fitting/fitfunctions/StandardSC.rst
Labels: Easy, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26876 Add HighTFMuonium to fit functions
  Framework/PythonInterface/plugins/functions/HighTFMuonium.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/HighTFMuoniumTest.py
  docs/source/fitting/fitfunctions/HighTFMuonium.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26835 Add Tools menu and slit calculator to reflectometry GUI
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ISlitCalculator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MockSlitCalculator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/SlitCalculator.h
  qt/widgets/common/src/SlitCalculator.cpp
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#26939 Add RFresonance to fit functions
  Framework/PythonInterface/plugins/functions/RFresonance.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/RFresonanceTest.py
  docs/source/fitting/fitfunctions/RFresonance.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26865 Updated Function Browser and related files
  qt/python/mantidqt/widgets/test/test_functionbrowser.py
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingView.cpp
  qt/scientific_interfaces/test/MuonAnalysisFitFunctionPresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/EditLocalParameterDialog.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser/FunctionBrowserUtils.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionMultiDomainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/LocalParameterEditor.h
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/ParameterPropertyManager.h
  qt/widgets/common/src/EditLocalParameterDialog.cpp
  qt/widgets/common/src/FunctionBrowser.cpp
  qt/widgets/common/src/FunctionBrowser/FunctionBrowserUtils.cpp
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/src/IFunctionModel.cpp
  qt/widgets/common/src/LocalParameterEditor.cpp
  qt/widgets/common/src/LocalParameterItemDelegate.cpp
  qt/widgets/common/src/QtPropertyBrowser/ParameterPropertyManager.cpp
  qt/widgets/common/test/FunctionBrowserUtilsTest.h
  qt/widgets/common/test/FunctionModelTest.h
  qt/widgets/common/test/FunctionMultiDomainPresenterTest.h
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: Fitting, ISIS Team: Spectroscopy

#26941 Fix ModHKL range, should be -0.5<q<=0.5
  Framework/Crystal/test/FindUBUsingIndexedPeaksTest.h
  Framework/Geometry/src/Crystal/IndexingUtils.cpp
  Testing/Data/UnitTest/Modulated2.peaks.md5
  docs/source/release/v4.2.0/diffraction.rst
Labels: Diffraction, Single Crystal

#26931 Fix crash when fitting tablews with column of type float
  Framework/CurveFitting/inc/MantidCurveFitting/TableWorkspaceDomainCreator.h
  Framework/CurveFitting/src/TableWorkspaceDomainCreator.cpp
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Added during Sprint, ISIS Team: CoreTeam

#26946 Add missing kwarg for SANS GUI init
  scripts/Interface/ui/sans_isis/beam_centre.py
Labels: Easy, High Priority, ISIS Team: LSS, SANS

#26932 Add SpinGlass to fit functions
  Framework/PythonInterface/plugins/functions/SpinGlass.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/SpinGlassTest.py
  docs/source/fitting/fitfunctions/SpinGlass.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26729 Updating muon alalysis to work with history
  Framework/Algorithms/src/UnGroupWorkspace.cpp
  Framework/Kernel/inc/MantidKernel/DataService.h
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/contexts/phase_table_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_load_data.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/test_helpers/general_test_helpers.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/home_plot_widget_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_context_with_frequency_test.py
  scripts/test/Muon/muon_data_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/utilities/load_utils_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_directory_test.py
  scripts/test/Muon/utilities/muon_workspace_wrapper_test.py
Labels: ISIS Team: Spectroscopy, Muon

#26936 Refactor algorithm to use Divide
  Framework/Algorithms/inc/MantidAlgorithms/ApplyTransmissionCorrection.h
  Framework/Algorithms/src/ApplyTransmissionCorrection.cpp
  Testing/SystemTests/tests/analysis/reference/EQSANSTransmissionFS.nxs.md5
  docs/source/release/v4.2.0/sans.rst
Labels: SANS

#26877 Adding basic ALFView
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/ALFView.h
  qt/scientific_interfaces/Direct/ALFView_model.cpp
  qt/scientific_interfaces/Direct/ALFView_model.h
  qt/scientific_interfaces/Direct/ALFView_presenter.cpp
  qt/scientific_interfaces/Direct/ALFView_presenter.h
  qt/scientific_interfaces/Direct/ALFView_view.cpp
  qt/scientific_interfaces/Direct/ALFView_view.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/DllConfig.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ObserverPattern.h
Labels: ISIS Team: Spectroscopy

#26822 Add StretchedKT to fit functions
  Framework/PythonInterface/plugins/functions/StretchedKT.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/StretchedKTTest.py
  docs/source/fitting/fitfunctions/StretchedKT.rst
  docs/source/images/StretchedKT.png
Labels: Easy, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26966 Fixed plotting workspace without spec num crash
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: ISIS Team: CoreTeam, Workbench

#26962 Remove SANS time assertions
  Testing/SystemTests/tests/analysis/SANSSingleReductionTest.py
Labels: ISIS Team: LSS, SANS, System Tests

#26984 Updated IDF for ALF from Russell Ewings
  instrument/ALF_Definition_20180416-.xml
Labels: ISIS Team: CoreTeam

#26987 Modify polaris scripts to merge banks
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  docs/source/algorithms/FitIncidentSpectrum-v1.rst
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#26944 Created Initial Calibration Tab for New Engineering Diffractio…
  docs/source/interfaces/Engineering Diffraction 2.rst
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/utils/asynchronous.py
  qt/python/mantidqt/utils/test/test_async.py
  qt/python/mantidqt/widgets/filefinder/__init__.py
  scripts/CMakeLists.txt
  scripts/Engineering/gui/CMakeLists.txt
  scripts/Engineering/gui/__init__.py
  scripts/Engineering/gui/engineering_diffraction/__init__.py
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/main_window.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering_Diffraction_2.py
Labels: Diffraction, ISIS Team: Diffraction, Python

#25703 IndirectQuickRun and IndirectSampleChanger algorithm update
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/EnergyWindowScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectQuickRun.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectSampleChanger.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectTwoPeakFit.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/EnergyWindowScanTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectSampleChangerTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectTwoPeakFitTest.py
  Testing/Data/UnitTest/IndirectQuickRun_osiris92762_to_osiris92766_scan_eisf.nxs.md5
  Testing/Data/UnitTest/IndirectQuickRun_osiris92762_to_osiris92766_scan_msd.nxs.md5
  Testing/Data/UnitTest/IndirectQuickRun_osiris92762_to_osiris92766_scan_red_Diffusion.nxs.md5
  Testing/Data/UnitTest/IndirectQuickRun_osiris92762_to_osiris92766_scan_red_Width.nxs.md5
  Testing/Data/UnitTest/IndirectTwoPeakFit_osiris92762_graphite002_two_peak_fit_ChiSq.nxs.md5
  Testing/Data/UnitTest/IndirectTwoPeakFit_osiris92762_graphite002_two_peak_fit_Result.nxs.md5
  Testing/Data/UnitTest/OSI92762.raw.md5
  Testing/Data/UnitTest/OSI92763.raw.md5
  Testing/Data/UnitTest/OSI92764.raw.md5
  Testing/Data/UnitTest/OSI92765.raw.md5
  Testing/Data/UnitTest/OSI92766.raw.md5
  Testing/SystemTests/tests/analysis/IndirectQuickRunTest.py
  docs/source/algorithms/IndirectQuickRun-v1.rst
  docs/source/algorithms/IndirectTwoPeakFit-v1.rst
  docs/source/release/v4.2.0/indirect_geometry.rst
  instrument/IRIS_Parameters.xml
  instrument/OSIRIS_Parameters.xml
  scripts/Inelastic/IndirectReductionCommon.py
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#26963 Fix plotting bug when removing fitting workspaces
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
Labels: Fitting, ISIS Team: CoreTeam

#26950 Move Zoom Monitor 4 rel. to self
  docs/source/release/v4.2.0/sans.rst
  scripts/SANS/sans/algorithm_detail/move_workspaces.py
  scripts/test/SANS/algorithm_detail/move_workspaces_test.py
Labels: Added during Sprint, ISIS Team: LSS, SANS

#27002 Plot legend shows label instead of spectrum number if the spectrum has a numeric label
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam

#26892 Change axis limits using scientific notation
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
Labels: ISIS Team: CoreTeam, Python

#26631 Port Indirect Data Analysis GUI
  Framework/Kernel/inc/MantidKernel/DataService.h
  Framework/PythonInterface/plugins/functions/CombGaussLorentzKT.py
  Framework/PythonInterface/test/python/plugins/functions/BesselTest.py
  Framework/PythonInterface/test/python/plugins/functions/CombGaussLorentzKTTest.py
  docs/source/fitting/fitfunctions/CombGaussLorentzKT.rst
  docs/source/images/Indirect_Data_Analysis_IqtFit.PNG
  docs/source/release/v4.2.0/indirect_geometry.rst
  instrument/unit_testing/DETGEOM_example_1.nxs
  instrument/unit_testing/DETGEOM_example_2.nxs
  instrument/unit_testing/DETGEOM_example_3.nxs
  instrument/unit_testing/DETGEOM_example_4.nxs
  qt/python/mantidqt/plotting/markers.py
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/Elwin.h
  qt/scientific_interfaces/Indirect/IIndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFitPreviewPlot.ui
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsModel.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsView.cpp
  qt/scientific_interfaces/Indirect/IndirectPlotter.cpp
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Iqt.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/LazyAsyncRunner.h
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Figure.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/FigureCanvasQt.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Plot.h
  qt/widgets/mplcpp/src/Figure.cpp
  qt/widgets/mplcpp/src/FigureCanvasQt.cpp
  qt/widgets/mplcpp/src/Plot.cpp
  qt/widgets/mplcpp/test/PlotTest.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/RangeSelector.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/SingleSelector.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Mpl/RangeSelector.cpp
  qt/widgets/plotting/src/Mpl/SingleSelector.cpp
Labels: Added during Sprint, ISIS Team: Spectroscopy, Indirect Inelastic, Workbench

#27003 output transformation matrix
  Framework/Crystal/src/SelectCellOfType.cpp
  Framework/Crystal/src/SelectCellWithForm.cpp
  docs/source/algorithms/SelectCellOfType-v1.rst
  docs/source/algorithms/SelectCellWithForm-v1.rst
  docs/source/algorithms/TransformHKL-v1.rst
  docs/source/release/v4.2.0/diffraction.rst
Labels: Single Crystal

#26975 Convert SANSMove to Python Class from Wkflw Alg.
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderMassMethod.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSLoad.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSMove.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCorePreprocess.py
  Testing/SystemTests/tests/analysis/SANSMoveTest.py
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/ISISSANSReductionBackend.rst
  docs/source/algorithms/SANSMove-v1.rst
  scripts/SANS/sans/algorithm_detail/move_sans_instrument_component.py
  scripts/SANS/sans/algorithm_detail/move_workspaces.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/move_sans_instrument_component_test.py
Labels: ISIS Team: LSS, SANS

#27016 Fix O(n2) call in loading batch files for ISIS SANS
  docs/source/release/v4.2.0/sans.rst
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Bug, ISIS Team: LSS, SANS

#26985 Remove SANSMaskWorkspace workflow alg
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderMassMethod.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSMaskWorkspace.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCorePreprocess.py
  Testing/Data/UnitTest/SANS2D00028827.nxs.md5
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/ISISSANSReductionBackend.rst
  docs/source/algorithms/SANSMaskWorkspace-v1.rst
  scripts/SANS/sans/algorithm_detail/mask_sans_workspace.py
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/mask_sans_workspace_test.py
Labels: ISIS Team: LSS, SANS

#27008 Remove SANS Calculate Transmission Wrkflw
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCalculateTransmission.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateAdjustmentWorkspaces.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateWavelengthAndPixelAdjustment.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/CMakeLists.txt
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/ISISSANSReductionBackend.rst
  docs/source/algorithms/SANSCalculateTransmission-v1.rst
  docs/source/algorithms/SANSCreateAdjustmentWorkspaces-v1.rst
  docs/source/algorithms/SANSCreateWavelengthAndPixelAdjustment-v1.rst
  scripts/SANS/sans/algorithm_detail/calculate_sans_transmission.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/calculate_sans_transmission_test.py
  scripts/test/SANS/state/calculate_transmission_test.py
Labels: ISIS Team: LSS, SANS

#26964 Expand code completion in Workbench
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/codeeditor/completion.py
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_completion.py
Labels: ISIS Team: CoreTeam, Workbench

#27010 Remove custom dialog for CreateSampleShape
  docs/source/release/v4.2.0/ui.rst
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/CreateSampleShapeDialog.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/CreateSampleShapeDialog.ui
  qt/widgets/plugins/algorithm_dialogs/src/CreateSampleShapeDialog.cpp
Labels: Easy, ISIS Team: Diffraction, MantidPlot, Workbench

#27014 26919 load ngem compiler error
  Framework/DataHandling/src/LoadNGEM.cpp
Labels: High Priority

#27009 Remove SANSCreateAdjustment workflow algorithms
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreEventSlice.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSCreateAdjustmentWorkspacesTest.py
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/ISISSANSReductionBackend.rst
  docs/source/algorithms/SANSCreateAdjustmentWorkspaces-v1.rst
  docs/source/algorithms/SANSCreateWavelengthAndPixelAdjustment-v1.rst
  scripts/SANS/sans/algorithm_detail/CreateSANSAdjustmentWorkspaces.py
  scripts/SANS/sans/algorithm_detail/CreateSANSWavelengthPixelAdjustment.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/create_sans_adjustment_workspaces_test.py
  scripts/test/SANS/algorithm_detail/create_sans_wavelength_pixel_adjustment_test.py
Labels: ISIS Team: LSS, SANS

#26930 Add missing unit tests for the Runs Table
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterDisplayTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterProcessingTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#27046 Move observer_pattern from Muon GUI to Common Location
  qt/python/mantidqt/utils/observer_pattern.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/Common/home_tab/home_tab_presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/MuonAnalysis/load_widget/load_widget_presenter.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/home_instrument_widget_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/muon_gui_context_test.py
  scripts/test/Muon/transform_widget_new_test.py
Labels: Easy, ISIS Team: Diffraction, Maintenance, Muon, Python

#27041 Update intersphinx links to https
  docs/source/conf.py
Labels: Documentation, Easy

#27063 Avoid systemtest bat script eating --classic
  Testing/SystemTests/scripts/systemtest.bat.in
Labels: Framework, System Tests

#26707 ReflectometryReductionOneAuto code tidied
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOneAuto3.h
  Framework/Algorithms/src/ReflectometryReductionOneAuto3.cpp
  Framework/Algorithms/test/ReflectometryReductionOneAuto3Test.h
Labels: ISIS Team: LSS, Reflectometry

#27026 Plot window to have better control over zoom state
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/test/python/mantid/plots/__init__.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_utility.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/plotting/markers.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
Labels: ISIS Team: CoreTeam, Workbench

#26913 Rename badly named variables
  Framework/DataHandling/inc/MantidDataHandling/LoadISISNexus2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusProcessed.h
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/LoadNexusProcessed.cpp
Labels: Code Quality

#27081 Stop script tab order changing when Workbench is closed and reopened
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/editor.py
Labels: Added during Sprint, Bug, Easy, Workbench

#26942 Add DampedBessel to fit functions
  Framework/PythonInterface/plugins/functions/DampedBessel.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/DampedBesselTest.py
  docs/source/fitting/fitfunctions/DampedBessel.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#26920 Add ZFMuonium fit function
  Framework/PythonInterface/plugins/functions/ZFMuonium.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/ZFMuoniumTest.py
  docs/source/fitting/fitfunctions/ZFMuonium.rst
Labels: Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#27073 Fix __future__ import behaviour in Workbench scripts
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
Labels: High Priority, ISIS Team: CoreTeam, Workbench

#26902 Abins documentation: update "concepts" documentation
  docs/source/concepts/DynamicalStructureFactorFromAbInitio.rst
Labels: ISIS Team: Spectroscopy

#26918 Add unit tests for reflectometry GUI clipboard
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Common/Clipboard.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/Clipboard.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/ClipboardTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry, Unit Tests

#27079 Add a shortcut to abort a running script
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/tab_widget/codeeditor_tab_view.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam, Workbench

#27084 Fix error thrown when toggling errorbars on line plot
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureerrorsmanager.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: Added during Sprint, Bug, Easy, ISIS Team: CoreTeam, Workbench

#26781 Added live data update interval to ISIS Reflectometry interface
  docs/source/images/ISISReflectometryInterface/live_data_section.png
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
Labels: Easy, ISIS Team: LSS, Reflectometry

#27047 Fit and plot guess no longer update axis limits
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/utility.py
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
Labels: ISIS Team: CoreTeam, Workbench

#27082 Updated Muon GUI's to usage report and deprecation of old
  Framework/Properties/Mantid.properties.template
  docs/source/interfaces/Muon Analysis 2.rst
  docs/source/interfaces/Muon Analysis.rst
  docs/source/release/v4.2.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysis.cpp
  qt/scientific_interfaces/Muon/MuonAnalysis.h
  scripts/Elemental_Analysis.py
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/GUI/Common/usage_report.py
  scripts/Muon_Analysis.py
Labels: ISIS Team: Spectroscopy, Muon

#27098 Fix plot drag-and-drop on matplotlib v1.5
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plotting/test/test_figurewindow.py
Labels: ISIS Team: CoreTeam, Workbench

#27101 Fix registering an algorithm duplicating the list of algorithms in the algorithm selector widget
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam, Workbench

#27105 Workbench can now save scripts containing non-ascii characters
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#27053 DirectILL swap container subtraction and self-shielding correction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLApplySelfShielding.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  docs/source/release/v4.2.0/direct_geometry.rst
Labels: Added during Sprint, Direct Inelastic, High Priority, ILL Team: All

#27109 Pass include directory via cmake argument
  qt/icons/CMakeLists.txt
Labels: Bug, Easy, Framework, ISIS Team: CoreTeam

#27095 Fix support for WISH in Load/SaveIsawPeaks
  Framework/Crystal/inc/MantidCrystal/FindUBUsingIndexedPeaks.h
  Framework/Crystal/src/FindUBUsingIndexedPeaks.cpp
  Framework/Crystal/src/IndexPeaksWithSatellites.cpp
  Framework/Crystal/src/LoadIsawPeaks.cpp
  Framework/Crystal/src/SaveIsawPeaks.cpp
  Framework/Crystal/test/SaveIsawPeaksTest.h
  docs/source/algorithms/SaveIsawPeaks-v1.rst
  docs/source/release/v4.2.0/diffraction.rst
Labels: ISIS Team: Diffraction, Single Crystal

#26910 Merge IndexPeaks and IndexPeaksWithSatellites. Deprecate IndexPeaksWithSatellites.
  Framework/Crystal/inc/MantidCrystal/IndexPeaks.h
  Framework/Crystal/inc/MantidCrystal/IndexPeaksWithSatellites.h
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/src/IndexPeaksWithSatellites.cpp
  Framework/Crystal/test/IndexPeaksTest.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/PeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IndexingUtils.h
  Framework/Geometry/src/Crystal/IndexingUtils.cpp
  Framework/Geometry/test/IndexingUtilsTest.h
  Framework/Geometry/test/MockObjects.h
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/release/v4.2.0/framework.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#27032 Report usage statistics for ISIS Reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/QtEventView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/QtInstrumentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#27086 Fix being unable to fit on a plot with no legend
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
Labels: Added during Sprint, Bug, Fitting, ISIS Team: CoreTeam, Python, Workbench

#27049 Workbench plots to stay on top of main window
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/__init__.py
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoverysaver.py
  qt/applications/workbench/workbench/utils/__init__.py
  qt/applications/workbench/workbench/utils/windowfinder.py
Labels: ISIS Team: CoreTeam, Workbench

#26903 Indirect Inelastic Fixed Window Scan
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWSTest.py
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_FWS.nxs.md5
  docs/source/release/v4.2.0/indirect_geometry.rst
Labels: Bug, Easy, ILL Team: All, Indirect Inelastic

#27147 Fix index error crash on spectrum viewer drag-drop
  docs/source/release/v4.2.0/mantidplot.rst
  qt/widgets/spectrumviewer/src/SpectrumView.cpp
Labels: High Priority, MantidPlot

#27044 Apply placzek correction to polaris workflow
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/Algorithms/test/CalculatePlaczekSelfScatteringTest.h
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/algorithms/CalculatePlaczekSelfScattering-v1.rst
  docs/source/algorithms/FitIncidentSpectrum-v1.rst
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Diffraction, ISIS Team: Diffraction

#27094 Adding ALF view
  docs/source/images/ALF_view.png
  docs/source/interfaces/ALF View.rst
  docs/source/release/v4.2.0/direct_geometry.rst
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/ALFView.h
  qt/scientific_interfaces/Direct/ALFView_model.cpp
  qt/scientific_interfaces/Direct/ALFView_model.h
  qt/scientific_interfaces/Direct/ALFView_presenter.cpp
  qt/scientific_interfaces/Direct/ALFView_presenter.h
  qt/scientific_interfaces/Direct/ALFView_view.cpp
  qt/scientific_interfaces/Direct/ALFView_view.h
  qt/scientific_interfaces/Direct/BaseInstrumentModel.cpp
  qt/scientific_interfaces/Direct/BaseInstrumentModel.h
  qt/scientific_interfaces/Direct/BaseInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/BaseInstrumentPresenter.h
  qt/scientific_interfaces/Direct/BaseInstrumentView.cpp
  qt/scientific_interfaces/Direct/BaseInstrumentView.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/PlotFitAnalysisPaneModel.cpp
  qt/scientific_interfaces/Direct/PlotFitAnalysisPaneModel.h
  qt/scientific_interfaces/Direct/PlotFitAnalysisPanePresenter.cpp
  qt/scientific_interfaces/Direct/PlotFitAnalysisPanePresenter.h
  qt/scientific_interfaces/Direct/PlotFitAnalysisPaneView.cpp
  qt/scientific_interfaces/Direct/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Direct Inelastic, ISIS Team: Spectroscopy

#27080 Add script repository in workbench
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/scriptrepository.py
  qt/python/mantidqt/widgets/test/test_scriptrepository.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/RepoModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/RepoTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptRepositoryView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptRepositoryView.ui
  qt/widgets/common/src/RepoModel.cpp
  qt/widgets/common/src/ScriptRepositoryView.cpp
  qt/widgets/common/test/MockScriptRepository.h
  qt/widgets/common/test/RepoModelTest.h
Labels: ISIS Team: CoreTeam

#26786 IN16B QENS improvements
  Framework/PythonInterface/plugins/algorithms/MatchPeaks.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionQENS.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransferTest.py
  Testing/Data/SystemTest/ILL/IN16B/251530.nxs.md5
  Testing/Data/SystemTest/ILL/IN16B/251548.nxs.md5
  Testing/Data/SystemTest/ILL/IN16B/251554.nxs.md5
  Testing/SystemTests/tests/analysis/ILLIndirectEnergyTransferBATS.py
  Testing/SystemTests/tests/analysis/ILLIndirectReductionQENS.py
  docs/source/release/v4.2.0/indirect_geometry.rst
  instrument/Grouping/IN16B_Grouping_PSD_Only.xml
  instrument/IN16B_Parameters.xml
Labels: Added during Sprint, Bug, ILL Team: All, Indirect Inelastic

#27103 Fix a bug where the GUI could not be closed
  docs/source/release/v4.2.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchJobRunnerProcessingTest.h
Labels: Bug, ISIS Team: LSS, MantidPlot, Reflectometry

#27107 Output correct transmission workspaces for debug mode
  Framework/Algorithms/inc/MantidAlgorithms/CreateTransmissionWorkspace2.h
  Framework/Algorithms/src/CreateTransmissionWorkspace2.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/test/CreateTransmissionWorkspace2Test.h
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  Testing/SystemTests/tests/analysis/INTERReductionTest.py
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v4.2.0/reflectometry.rst
Labels: Bug, Framework, ISIS Team: LSS, Reflectometry

#27031 Add usage stats to ISIS SANS
  scripts/Interface/ui/sans_isis/SANSSaveOtherWindow.py
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/diagnostics_page.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/settings_diagnostic_tab.py
Labels: ISIS Team: LSS, SANS

#27071 Add Cropping by Fraction to ISIS Powder
  Testing/Data/SystemTest/ISIS_Powder/input/HRPD66063_focused.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/16_5/ISIS_Powder-HRPD-VanSplined_66031_hrpd_new_072_01_corr.cal.nxs.md5
  Testing/SystemTests/tests/analysis/ISIS_PowderHRPDTest.py
  Testing/SystemTests/tests/analysis/reference/HRPD66063_focused.nxs.md5
  docs/source/release/v4.2.0/diffraction.rst
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_advanced_config.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/test/ISISPowderCommonTest.py
Labels: Diffraction, ISIS Team: Diffraction, Python

#27106 Load current run in muon analysis
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/test/Muon/utilities/load_utils_test.py
Labels: ISIS Team: Spectroscopy, Muon

#27171 Fix instability with multiple plot windows on Workbench
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/utils/__init__.py
Labels: High Priority, ISIS Team: CoreTeam

#26650 Abins algorithm: overhaul AbinsParameters
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsAdvancedParametersTest.py
  Testing/Data/UnitTest/BENZENE4_g03_win_LoadGAUSSIAN_data.txt.md5
  Testing/Data/UnitTest/BENZENE4_g09_win_LoadGAUSSIAN_data.txt.md5
  Testing/Data/UnitTest/C6H5Cl_LoadGAUSSIAN_data.txt.md5
  Testing/Data/UnitTest/LTA_40_O2_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/LiOH_H2O_7Li_2D2O_LoadCASTEP_data.txt.md5
  Testing/Data/UnitTest/MgO-222-DISP_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/Na2SiF6_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/Si2-phonon_LoadCASTEP_data.txt.md5
  Testing/Data/UnitTest/Si2-sc_LoadCASTEP_data.txt.md5
  Testing/Data/UnitTest/crystalB3LYP_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/crystal_set_key_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/mgo-GX_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/squaricn_no_sum_LoadCASTEP_data.txt.md5
  Testing/Data/UnitTest/squaricn_sum_LoadCASTEP_data.txt.md5
  Testing/Data/UnitTest/toluene_molecule_LoadCRYSTAL_data.txt.md5
  docs/source/algorithms/Abins-v1.rst
  docs/source/release/v4.2.0/indirect_geometry.rst
  scripts/AbinsModules/AbinsParameters.py
  scripts/AbinsModules/CalculatePowder.py
  scripts/AbinsModules/CalculateSingleCrystal.py
  scripts/AbinsModules/FrequencyPowderGenerator.py
  scripts/AbinsModules/GeneralAbInitioProgram.py
  scripts/AbinsModules/GeneralLoadAbInitioTester.py
  scripts/AbinsModules/IOmodule.py
  scripts/AbinsModules/Instruments/Instrument.py
  scripts/AbinsModules/Instruments/ToscaInstrument.py
  scripts/AbinsModules/SData.py
  scripts/AbinsModules/SPowderSemiEmpiricalCalculator.py
  scripts/test/AbinsCalculateQToscaTest.py
  scripts/test/AbinsCalculateSPowderTest.py
  scripts/test/AbinsFrequencyPowderGeneratorTest.py
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#26933 ISIS SANS Usability Fixes
  docs/source/images/ISISSansInterface/q_wavelength_release_4.2.png
  docs/source/release/v4.2.0/sans.rst
  qt/widgets/common/src/Batch/JobTreeView.cpp
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/common/general_functions_test.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/gui_common_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: ISIS Team: LSS, SANS

#27192 Updating link that was altered
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ErrorReporterTesting.rst
Labels: Documentation

#27190 Linking docs to dev-docs
  docs/source/conf.py
Labels: Documentation

#27191 Update workbench differences docs
  docs/source/tutorials/mantid_basic_course/using_workbench/04_differences.rst
Labels: Added during Sprint, Documentation, Easy, Workbench

#27181 Fix Search Results List in Reflectometry not resizing
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
Labels: Bug, Easy, ISIS Team: LSS, Reflectometry

#27160 Disallow opening multiple instances of an interface
  docs/source/release/v4.2.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/mainwindowtest.py
  qt/applications/workbench/workbench/utils/test/windowfindertest.py
  qt/applications/workbench/workbench/utils/windowfinder.py
  qt/python/mantidqt/usersubwindow.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam

#27195 Fix unhandled exceptions when pasting multiple groups
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
Labels: Bug, MantidPlot, Reflectometry

#26890 Add Pair from Context Menu Allows Name Allocation
  docs/source/interfaces/muon_grouping_tab.rst
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
Labels: Easy, ISIS Team: Spectroscopy

#27183 Create symlinks only for existing targets in macOS package
  installers/MacInstaller/make_package.rb
Labels: High Priority, macOS Only

#26937 Deadtime from table workspace not working
  docs/source/release/v4.2.0/muon.rst
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/test/Muon/home_instrument_widget_test.py
Labels: ISIS Team: Spectroscopy
