Repository mantidproject/mantid, pull requests merged in 2019-07, with the labels that each got.

#25615 Modify LoadDNSSCD to load raw data
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/LoadDNSSCD.h
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/MDAlgorithms/test/LoadDNSSCDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTestReference.h
  docs/source/algorithms/LoadDNSSCD-v1.rst
Labels: Component: Diffraction, Component: Direct Inelastic

#26000 Dis/enable beam centre component boxes on component update
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Component: SANS

#25977 Fix workbench help crash on Windows package build
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/WindowsNSISQt5.cmake
  qt/applications/workbench/CMakeLists.txt
Labels: Component: Workbench

#25939 Add Sample Geometry to Batch File
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/command_interface/batch_csv_file_parser.py
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Component: SANS

#26042 Added a CSG example to SetSample documentation
  docs/source/algorithms/SetSample-v1.rst
Labels: Component: Documentation

#25845 Indirect Diffraction - Prevent out of range spectra
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.h
  qt/scientific_interfaces/Indirect/Iqt.cpp
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Component: Indirect Inelastic, Misc: Bug

#25993 Add vulcan IDFs
  Framework/Algorithms/test/CreateLogTimeCorrectionTest.h
  Framework/DataHandling/test/LoadDetectorsGroupingFileTest.h
  Framework/DataHandling/test/LoadMaskTest.h
  Framework/DataHandling/test/LoadVulcanCalFileTest.h
  Framework/DataHandling/test/SaveDetectorsGroupingTest.h
  docs/source/algorithms/LoadDetectorsGroupingFile-v1.rst
  docs/source/algorithms/LoadVulcanCalFile-v1.rst
  docs/source/release/v4.1.0/diffraction.rst
  instrument/VULCAN_Definition_2019-06-20.xml
Labels: Component: Diffraction

#25938 New Algorithm: CalculateEfficiency v2
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CalculateEfficiency2.h
  Framework/Algorithms/src/CalculateEfficiency2.cpp
  Framework/Algorithms/test/CalculateEfficiency2Test.h
  Framework/WorkflowAlgorithms/src/EQSANSPatchSensitivity.cpp
  Framework/WorkflowAlgorithms/src/SANSSensitivityCorrection.cpp
  docs/source/algorithms/CalculateEfficiency-v1.rst
  docs/source/algorithms/CalculateEfficiency-v2.rst
  docs/source/release/v4.1.0/sans.rst
Labels: Component: Framework, Component: SANS

#26064 Update MaskBTP.py
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
Labels: Component: Direct Inelastic, Misc: Bug

#26067 Skip over empty chunks in AlignAndFocusPowderFromFiles
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#26065 Add missing property to workflow algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Misc: Easy

#26044 Fix workbench plotting options in reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Plotter.cpp
  qt/widgets/common/src/Python/QHashToDict.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Easy

#26054 Disable multiple autoprocessing processes
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
Labels: Component: GUI, Component: Reflectometry, Priority: High

#25702 Plot workpsace on double-click (workbench)
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/spectraselectordialog.ui
  qt/python/mantidqt/dialogs/spectraselectorutils.py
  qt/python/mantidqt/dialogs/test/__init__.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectorutils.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
Labels: Component: Workbench

#26045 Indirect FQFit Column Heading value is wrong
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
  Framework/WorkflowAlgorithms/src/ProcessIndirectFitParameters.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.h
Labels: Component: Indirect Inelastic, Misc: Bug

#25975 Elemental analysis exposed to workbench
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/Elemental_Analysis.py
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/navigation_toolbar.py
  scripts/MultiPlotting/subplot/subplot.py
  scripts/Muon/GUI/Common/load_widget/load_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
Labels: Component: GUI, Component: Muon, Component: Workbench

#25959 Added error copying on function cloning
  Framework/API/src/IFunction.cpp
  docs/source/release/v4.1.0/framework.rst
  qt/python/mantidqt/_common.sip
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
Labels: Component: Fitting

#26046 Reflectometry GUI: Add the ability to 'Fill Down' cells
  docs/source/images/arrow-expand-down.png
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTableView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/IJobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/JobTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/Batch/MockJobTreeView.h
  qt/widgets/common/src/Batch/JobTreeView.cpp
Labels: Component: GUI, Component: Reflectometry

#26053 Add checks to avoid crashing in reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/widgets/common/src/Batch/JobTreeView.cpp
Labels: Component: GUI, Component: Reflectometry, Priority: High

#25979 Indirect Iqt Bug with Monte Carlo Error calculation
  Framework/Algorithms/inc/MantidAlgorithms/CalculateIqt.h
  Framework/Algorithms/src/CalculateIqt.cpp
  Testing/SystemTests/tests/analysis/ISISIndirectInelastic.py
  Testing/SystemTests/tests/analysis/reference/II.IRISFury.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.IRISFuryFitMulti.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.IRISFuryFitSeq.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.IRISFuryFitSeq_gslv2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISFury.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISFuryFitSeq.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISFuryFitSeq_gslv2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISIqt.nxs.md5
  Testing/SystemTests/tests/analysis/reference/II.OSIRISIqtFitMulti.nxs.md5
  docs/source/images/Iqt_Errors_Bug.PNG
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectInterface.cpp
  qt/scientific_interfaces/Indirect/IndirectInterface.h
Labels: Component: Indirect Inelastic, Misc: Bug

#26069 muon analysis 1 - fix TFAsymm mode
  docs/source/release/v4.1.0/muon.rst
  qt/widgets/common/src/MuonFitPropertyBrowser.cpp
Labels: Component: GUI, Component: Muon

#25994 BASIS: error when reducing multiple files in individual mode
  Framework/PythonInterface/plugins/algorithms/BASISReduction.py
  Testing/SystemTests/tests/analysis/BASISTest.py
  Testing/SystemTests/tests/analysis/reference/BSS_90146_divided_Xqw.nxs.md5
Labels: Component: Indirect Inelastic, Misc: Bug

#26123 Restore workbench-script startup file on Linux package
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  qt/applications/workbench/CMakeLists.txt
Labels: Priority: High

#26010 Speedup ILL loaders
  Framework/Algorithms/src/SumOverlappingTubes.cpp
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  docs/source/release/v4.1.0/framework.rst
Labels: Quality: Code Quality

#26001 D2B load single point scans
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Testing/Data/UnitTest/ILL/D2B/543614.nxs.md5
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction

#26126 First Time Setup - Do not show until next release remove instrument check
  MantidPlot/src/ApplicationWindow.cpp
Labels: Component: GUI, Misc: Bug

#25961 Fix sorting in `CalculatePolynomialBackground`
  Framework/Algorithms/src/CalculatePolynomialBackground.cpp
  Testing/Data/SystemTest/ILL/IN5/Epp.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/Sample.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/Vmask.nxs.md5
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
Labels: Misc: Bug, Priority: High

#26132 Help failing on workbench
  buildconfig/CMake/WindowsNSISQt5.cmake
  qt/applications/workbench/CMakeLists.txt
Labels: Component: Workbench, Priority: High

#26129 Reflectometry GUI: Fix workbench plotting
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Plotter.cpp
Labels: Component: GUI, Component: Reflectometry, Component: Workbench

#25628 Improve MC absorption algorithm by refactoring code to use vectors.
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Geometry/inc/MantidGeometry/Objects/Track.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/Line.h
  Framework/Geometry/inc/MantidGeometry/Surfaces/LineIntersectVisit.h
  Framework/Geometry/src/Objects/Track.cpp
  Framework/Geometry/src/Surfaces/Line.cpp
  Framework/Geometry/test/LineIntersectVisitTest.h
  Framework/Geometry/test/LineTest.h
  Framework/Kernel/inc/MantidKernel/MersenneTwister.h
  Framework/Kernel/src/MersenneTwister.cpp
Labels: Component: Framework

#26040 Reflectometry GUI tidying
  docs/source/release/v4.0.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISavePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#26133 Add required memory to allow for WISH file
  Testing/SystemTests/tests/analysis/LoadLotsOfFiles.py
Labels: Quality: System Tests

#26148 Now uses MantidDesktopServices to open the link correctly
  MantidPlot/CMakeLists.txt
  MantidPlot/src/Mantid/FirstTimeSetup.cpp
  MantidPlot/src/Mantid/FirstTimeSetup.h
  MantidPlot/src/Mantid/FirstTimeSetup.ui
  MantidPlot/src/Mantid/ReportUsageDisableDialog.cpp
  MantidPlot/src/Mantid/ReportUsageDisableDialog.h
Labels: Misc: Bug

#26150 Cmake small fixes
  Framework/Algorithms/test/CMakeLists.txt
  Framework/CMakeLists.txt
  Framework/Muon/test/CMakeLists.txt
  buildconfig/CMake/FindSIP.cmake
  buildconfig/CMake/FindSphinx.cmake
  buildconfig/CMake/PyQtFindImpl.cmake
Labels: Misc: Maintenance

#25626 Norm MD Error with non-intersecting accumulation workspaces
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDNorm.h
  Framework/MDAlgorithms/src/MDNorm.cpp
  Testing/SystemTests/tests/analysis/MDNormCORELLITest.py
  docs/source/release/v4.1.0/diffraction.rst
Labels: Component: Diffraction, Group: Single Crystal

#26146 SNAPReduce accumulation fix
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/SNAPReduce.py
Labels: Component: Diffraction, Group: Powder, Misc: Bug

#26153 Correction to script in workspace group doc
  docs/source/concepts/WorkspaceGroup.rst
Labels: Misc: Easy, Quality: Documentation

#26156 Reflectometry GUI (Old): Push back deprecation date
  docs/source/release/v4.1.0/reflectometry.rst
  scripts/Interface/ui/reflectometer/refl_gui.py
Labels: Component: GUI, Component: Reflectometry

#26141 Mantid Basics Course Documentation - Unscripted Test changes
  docs/source/interfaces/Indirect Settings.rst
  docs/source/tutorials/mantid_basic_course/fitting_data/01_fitting_models_to_data.rst
  docs/source/tutorials/mantid_basic_course/fitting_data/02_fit_model_choices.rst
  docs/source/tutorials/mantid_basic_course/using_workbench/02_plotting_in_workbench.rst
Labels: Quality: Documentation

#26174 Reflectometry GUI: Hide Load Batch
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
Labels: Component: GUI, Component: Reflectometry

#26131 Fix unhandled exception with slicing by log value
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventWidget.ui
  qt/scientific_interfaces/test/ISISReflectometry/Event/EventPresenterTest.h
Labels: Component: GUI, Component: Reflectometry, Misc: Bug

#26176 Reflectometry GUI: Ensure there is always a batch present
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowView.cpp
Labels: Component: GUI, Component: Reflectometry

#26175 About links can now be opened with Firefox on Ubuntu
  MantidPlot/src/Mantid/MantidAbout.cpp
  MantidPlot/src/Mantid/MantidAbout.h
Labels: Misc: Bug

#26181 Fix failing SumOverlappingTubes
  Framework/Algorithms/src/SumOverlappingTubes.cpp
Labels: Priority: High

#26178 No longer tries to plot TableWorkspaces/PeaksWS
  qt/applications/workbench/workbench/plugins/workspacewidget.py
Labels: Priority: High

#26184 Remove debugging code accidentally left behind
  Framework/Kernel/src/TimeSeriesProperty.cpp
Labels: Priority: High

#26061 Indirect Fix LoadLog Error Message and Crash
  Framework/DataHandling/src/LoadRawHelper.cpp
  docs/source/algorithms/OSIRISDiffractionReduction-v1.rst
  docs/source/interfaces/Indirect Diffraction.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25907 Re-enable ISIS SANS help button
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Component: SANS, Misc: Easy

#26051 Add undo fit button to Muon Analysis
  qt/python/mantidqt/_common.sip
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/home_plot_widget_test.py
Labels: Component: GUI, Component: Muon

#26169 Fix save to workspace in instrument view
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Component: GUI

#26192 Update the version of mslice to the latest version
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Component: Direct Inelastic

#26190 MantidQtIcons: Icons display as gray when disabled.
  qt/icons/src/CharIconPainter.cpp
Labels: Component: GUI

#26055 Add python3 requirements for rhel7
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
Labels: Misc: Maintenance

#26167 Use new workflow algorithm for live data monitor
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
Labels: Component: GUI, Component: Reflectometry

#26197 Workbench: Fix error on entering invalid values in axis limit editor
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
Labels: Component: Workbench, Misc: Easy

#26198 Indirect Fix Corrections Crashes
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ResNorm2.py
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/CorrectionsTab.cpp
  qt/scientific_interfaces/Indirect/CorrectionsTab.h
  qt/scientific_interfaces/Indirect/Elwin.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#25945 Replace matplotlib plot config dialog
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/py3compat/__init__.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/colorselector.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/curves_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/curves_tab_errorbars_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/curves_tab_line_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/curves_tab_marker_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curveproperties.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/images_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/plot_config_dialog.ui
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/view.py
Labels: Component: Workbench

#26199 Indirect Remove Plot Raw from ISIS Calibration
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.ui
  qt/scientific_interfaces/Indirect/ISISDiagnostics.ui
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/IndirectMolDyn.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmission.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/src/DataSelector.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26207 Indirect - Fix Settings Cancel bug
  qt/scientific_interfaces/Indirect/IndirectInterface.cpp
  qt/scientific_interfaces/Indirect/IndirectSettings.cpp
  qt/scientific_interfaces/Indirect/IndirectSettings.h
Labels: Component: Indirect Inelastic, Misc: Bug

#26205 Reflectometry GUI: No longer duplicate first option when processing.
  qt/widgets/common/src/ParseKeyValueString.cpp
Labels: Component: GUI, Component: Reflectometry

#26206 Reflectometry GUI: Fix workspace group processing
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
Labels: Component: GUI, Component: Reflectometry

#26032 Reflectometry GUI: Add group and row when empty
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupDeletionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterGroupInsertionTest.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/RunsTablePresenterMergeJobsTest.h
Labels: Component: GUI, Component: Reflectometry, Priority: High

#26214 Added missing view update Re #26145
  scripts/Muon/GUI/Common/list_selector/list_selector_presenter.py
Labels: Component: GUI, Component: Muon

#26200 Results table fix for muon analysis 1
  docs/source/release/v4.1.0/muon.rst
  qt/scientific_interfaces/Muon/MuonAnalysisResultTableCreator.cpp
Labels: Component: Muon

#25665 Add CylinderAxis property to cylinder absorption algorithm
  Framework/Algorithms/inc/MantidAlgorithms/CylinderAbsorption.h
  Framework/Algorithms/src/CylinderAbsorption.cpp
  Framework/Algorithms/test/CylinderAbsorptionTest.h
  docs/source/release/v4.1.0/direct_geometry.rst
  docs/source/release/v4.1.0/framework.rst
Labels: Component: Framework

#26239 Release notes updates for index, framework, mantiplot and workbench
  docs/source/algorithms/RemoveSpectra-v1.rst
  docs/source/images/mantid_amber.jpeg
  docs/source/images/wb_sliceviewer.png
  docs/source/images/workbench_plotoptions.png
  docs/source/release/v4.1.0/framework.rst
  docs/source/release/v4.1.0/index.rst
  docs/source/release/v4.1.0/mantidplot.rst
  docs/source/release/v4.1.0/mantidworkbench.rst
Labels: Component: Documentation, Priority: High

#26226 Fix a bug handling existing workspace names
  qt/scientific_interfaces/ISISReflectometry/Reduction/ParseReflectometryStrings.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/PerThetaDefaultsTableValidatorTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ParseReflectometryStringsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ValidatePerThetaDefaultsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ValidateRowTest.h
Labels: Component: GUI, Component: Reflectometry

#26211 Muon Analysis 2: When the instrument changes, a plot should close.
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: Component: GUI, Component: Muon

#26240 Update muon unscripted tests
  docs/source/interfaces/MuonAnalysis_test_guides/Muon_Analysis_test_group_2_fitting.rst
  docs/source/interfaces/MuonAnalysis_test_guides/Muon_Analysis_test_group_5_MA2.rst
Labels: Component: Muon

#26038 Adding plotting, fitting and results table into FDA
  Framework/PythonInterface/plugins/algorithms/MuonMaxent.py
  Testing/SystemTests/tests/analysis/reference/MuonMaxEntMUSR00022725.nxs.md5
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector_view.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_presenter.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_view.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fitting_tab_widget/workspace_selector_dialog_presenter_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/home_plot_widget_model_test.py
  scripts/test/Muon/home_plot_widget_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
Labels: Component: GUI, Component: Muon

#26248 Make building the docs optional (default on)
  CMakeLists.txt
Labels: Component: Documentation

#26230 Add missing transmission run inputs to reflectometry GUI
  docs/source/release/v4.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/Common/ModelCreationHelper.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/PerThetaDefaultsTableValidator.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentWidget.ui
  qt/scientific_interfaces/ISISReflectometry/Reduction/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/TransmissionStitchOptions.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/TransmissionStitchOptions.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidatePerThetaDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidatePerThetaDefaults.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/MockExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/PerThetaDefaultsTableValidatorTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ValidatePerThetaDefaultsTest.h
Labels: Component: GUI, Component: Reflectometry

#26247 Muon Analysis, adding in recalculation update when loading default groups
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
Labels: Component: GUI, Component: Muon

#26233 Reset GUI to previously loaded data on load failure
  scripts/Muon/GUI/Common/load_file_widget/model.py
  scripts/Muon/GUI/Common/load_file_widget/presenter.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/utilities/run_string_utils.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
Labels: Component: GUI, Component: Muon

#26243 Indirect Data analysis interface fitting crash
  qt/widgets/common/src/PropertyHandler.cpp
Labels: Component: GUI, Component: Indirect Inelastic, Misc: Bug

#26177 Enforce synchronicity in Muon Analysis
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_figuremanager.py
  qt/applications/workbench/workbench/widgets/plotselector/view.py
  qt/python/mantidqt/utils/qt/qappthreadcall.py
  scripts/Muon/GUI/Common/observer_pattern.py
  scripts/test/Muon/fitting_context_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/muon_gui_context_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Component: GUI, Component: Muon

#26252 Indirect Tools - Added chemical formula validation check
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectTransmissionCalc.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26246 Muon Analysis 2: Update results table selection on new fit
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_view.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
  scripts/test/Muon/results_tab_widget/results_tab_presenter_test.py
Labels: Component: GUI, Component: Muon

#26258 GroupWorkspaces: Can overwrite group workspaces with input workspaces again
  Framework/Algorithms/src/GroupWorkspaces.cpp
  Framework/Algorithms/test/GroupWorkspacesTest.h
Labels: Misc: Core

#26147 FunctionBrowser crash editing Convolution
  Framework/CurveFitting/src/Functions/Convolution.cpp
  qt/scientific_interfaces/MultiDatasetFit/MultiDatasetFit.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
Labels: Component: GUI, Misc: Bug

#26265 Minor change to column labels in the reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableView.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Easy

#25673 Abins atom-resolved spectrum
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsBasicTest.py
  docs/source/algorithms/Abins-v1.rst
  docs/source/release/v4.1.0/indirect_geometry.rst
  scripts/AbinsModules/AbinsConstants.py
Labels: Component: Indirect Inelastic

#26228 Indirect Make WorkspaceSelectors empty initially
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/ContainerSubtraction.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectMolDyn.cpp
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/Iqt.cpp
  qt/scientific_interfaces/Indirect/Quasi.cpp
  qt/scientific_interfaces/Indirect/ResNorm.cpp
  qt/scientific_interfaces/Indirect/Stretch.cpp
  qt/widgets/common/src/DataSelector.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26266 Set Workbench's DPI awareness to 1 on Windows
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
Labels: Component: Workbench

#26257 Workbench sample logs: Use Run::startTime to compute t0
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/helperfunctionsTest.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: Component: Workbench

#26234 Muon Analysis 2: Output results in a table workspace that aren't numbers
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Component: GUI, Component: Muon

#26269 Fix a bug where row highlighting is lost
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
Labels: Component: GUI, Component: Reflectometry, Misc: Bug, Misc: Easy

#26283 Avoid incrementing/decrementing shared_ptr in SolidAngle
  Framework/Algorithms/inc/MantidAlgorithms/SolidAngle.h
  Framework/Algorithms/src/SolidAngle.cpp
Labels: Component: Framework, Component: SANS

#26277 refs #26238. Improved handling ESC in Remove plot
  scripts/MultiPlotting/subplot/subplot.py
  scripts/test/MultiPlotting/Subplot_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#26256 Muon Fix crash when Selector is removed
  qt/widgets/mplcpp/src/RangeMarker.cpp
  qt/widgets/mplcpp/src/SingleMarker.cpp
Labels: Component: Muon, Misc: Bug

#26224 Indirect Sqw - Check Q and E are within the plot range
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/IndirectDataValidationHelper.cpp
  qt/scientific_interfaces/Indirect/IndirectDataValidationHelper.h
  qt/scientific_interfaces/Indirect/IndirectInterfaceProperties.xml
  qt/scientific_interfaces/Indirect/IndirectInterfaceSettings.ui
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectMoments.h
  qt/scientific_interfaces/Indirect/IndirectSettingsPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectSettingsPresenter.h
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.h
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.h
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectDataValidationHelperTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserInputValidator.h
  qt/widgets/common/src/UserInputValidator.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/RangeSelector.h
  qt/widgets/plotting/src/Qwt/RangeSelector.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26268 New parameters for D2B
  instrument/D2B_Definition_2019-06-01.xml
  instrument/D2B_Parameters_2019-06-01.xml
Labels: Component: Diffraction

#26272 Indirect Connect up the Error bars for external workbench plots
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26113 refs #25326. Fixed file loader, clearing old lines
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_model.py
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: Component: GUI, Component: Muon, Component: Python

#26285 fix GetEiT0atSNS bug with pump pulses
  Framework/PythonInterface/plugins/algorithms/GetEiT0atSNS.py
  Testing/Data/SystemTest/SEQ_181261.nxs.h5.md5
  Testing/SystemTests/tests/analysis/GetEiT0atSNSSystemTest.py
  docs/source/release/v4.1.0/direct_geometry.rst
Labels: Component: Direct Inelastic

#26295 Instrument View for MantidPlot: Pick tab miniplot fixes
  docs/source/release/v4.1.0/mantidplot.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Component: GUI, Component: Tools

#26289 Elemental Analysis: fix the segfault from occuring on multiplot window close
  scripts/MultiPlotting/multi_plotting_widget.py
Labels: Component: GUI, Component: Muon

#25856 Revised MVP tutorial.
  dev-docs/source/MVPTutorial/AddButton.rst
  dev-docs/source/MVPTutorial/AddComboBox.rst
  dev-docs/source/MVPTutorial/AddLabel.rst
  dev-docs/source/MVPTutorial/AddLineEdit.rst
  dev-docs/source/MVPTutorial/AddSpinBox.rst
  dev-docs/source/MVPTutorial/CompleteGUI.rst
  dev-docs/source/MVPTutorial/CompleteGUIcode/main.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/master_presenter.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/master_view.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/model_colour.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/model_data.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/plot_presenter.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/plot_view.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/presenter.py
  dev-docs/source/MVPTutorial/CompleteGUIcode/view.py
  dev-docs/source/MVPTutorial/ExtractInfoFromView.rst
  dev-docs/source/MVPTutorial/FinalExercise.rst
  dev-docs/source/MVPTutorial/Introduction.rst
  dev-docs/source/MVPTutorial/Layouts.rst
  dev-docs/source/MVPTutorial/Matplotlib.rst
  dev-docs/source/MVPTutorial/Mocking.rst
  dev-docs/source/MVPTutorial/MockingExercise.rst
  dev-docs/source/MVPTutorial/MockingExerciseSolution.rst
  dev-docs/source/MVPTutorial/Model.rst
  dev-docs/source/MVPTutorial/ModelExercise.rst
  dev-docs/source/MVPTutorial/ModelExerciseSolution.rst
  dev-docs/source/MVPTutorial/MultipleViews.rst
  dev-docs/source/MVPTutorial/PresenterExercise.rst
  dev-docs/source/MVPTutorial/PresenterExerciseSolution.rst
  dev-docs/source/MVPTutorial/ReceivingSignalFromView.rst
  dev-docs/source/MVPTutorial/Tables.rst
  dev-docs/source/MVPTutorial/ViewExercise1.rst
  dev-docs/source/MVPTutorial/ViewExercise1Solution.rst
  dev-docs/source/MVPTutorial/index.rst
  dev-docs/source/QtDesignerForPython.rst
  dev-docs/source/images/MVPPythonViews/qtcreator_promoted.png
Labels: Component: Documentation, Quality: Documentation

#25744 Changes to remove errors for high degree polynomials
  Framework/Algorithms/src/CalculatePolynomialBackground.cpp
  Framework/Algorithms/src/ReflectometryBackgroundSubtraction.cpp
  Framework/Algorithms/test/CalculatePolynomialBackgroundTest.h
  Framework/Algorithms/test/DirectILLTubeBackgroundTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN5_SofQW.nxs.md5
  docs/source/algorithms/CalculatePolynomialBackground-v1.rst
  docs/source/algorithms/ReflectometryBackgroundSubtraction-v1.rst
  docs/source/release/v4.1.0/framework.rst
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry

#26317 Minor tidying to sans release notes
  docs/source/release/v4.1.0/sans.rst
Labels: Component: SANS, Quality: Documentation

#26276 Update reflectometry release notes
  docs/source/images/ISISReflectometryInterface_batches.png
  docs/source/images/ISISReflectometryInterface_processing.png
  docs/source/images/ISISReflectometryInterface_row_highlighting.png
  docs/source/images/ISISReflectometryInterface_table_editing.png
  docs/source/images/ISISReflectometryInterface_toolbar_and_filter.png
  docs/source/images/ISISReflectometryInterface_transmission_runs.png
  docs/source/images/ISISReflectometryInterface_validation.png
  docs/source/release/v4.1.0/reflectometry.rst
Labels: Component: Reflectometry, Quality: Documentation

#26312 Fix bad link to algorithm index in alg pages
  docs/source/_templates/algorithmcategories.html
  docs/source/algorithms/categories/hiddencategories.txt
  docs/sphinxext/mantiddoc/directives/categories.py
Labels: Component: Documentation

#26255 Fix sliceviewer crash
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/Converters/WrapWithNDArray.h
  Framework/PythonInterface/core/src/Converters/WrapWithNDArray.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
Labels: Component: Workbench, Priority: High

#26319 Workbench Single and Range Selectors disappear when moving legend
  qt/python/mantidqt/widgets/fitpropertybrowser/markers.py
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/RangeMarker.h
  qt/widgets/mplcpp/src/RangeMarker.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/RangeSelector.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/SingleSelector.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Mpl/RangeSelector.cpp
  qt/widgets/plotting/src/Mpl/SingleSelector.cpp
Labels: Component: Workbench, Misc: Bug

#26320 Added cleanup methods to muon context
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
Labels: Component: GUI, Component: Muon

#26313 Changed Elemental Analysis y-axis label to "counts"
  docs/source/release/v4.1.0/muon.rst
  scripts/MultiPlotting/multi_plotting_context.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
Labels: Component: GUI, Component: Muon, Component: Python

#26293 Reordered columns in list selector
  scripts/Muon/GUI/Common/list_selector/list_selector_view.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_view.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
  scripts/test/Muon/list_selector/list_selector_view_test.py
Labels: Component: GUI, Component: Muon

#26273 workbench setting documentation
  docs/source/images/Workbench/WorkbenchSettingsGeneral.png
  docs/source/workbench/index.rst
  docs/source/workbench/settings.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/widgets/settings/main.ui
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_presenter.py
Labels: Component: Workbench

#26309 Workbench: Fix poor plot config dialog scaling on high resolution displays
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/curves_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/errorbarstabwidget/curves_tab_errorbars_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/linetabwidget/curves_tab_line_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/curves_tab_marker_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/images_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/plot_config_dialog.ui
Labels: Component: Workbench

#26303 Multi plot canvas bug and fixes Muon grouping tab test
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/MultiPlotting/subplot/subplot_ADS_observer.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
Labels: Misc: Bug

#26322 Log selector size
  qt/widgets/common/inc/MantidQtWidgets/Common/LogValueSelector.ui
Labels: Component: GUI

#26280 Changed colour cycle of peak lines in elemental analysis to default one
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: Component: GUI, Component: Muon, Component: Python

#26308 Maintenance: Remove Ubuntu 14.04 compatibility fixes
  Framework/Parallel/inc/MantidParallel/IO/NXEventDataLoader.h
Labels: Misc: Maintenance

#26242 Elemental analysis missing documentation
  docs/source/images/MuonElementalAnalysis.png
  docs/source/images/MuonElementalAnalysisPlot.png
  docs/source/interfaces/Muon Elemental Analysis.rst
Labels: Quality: Documentation

#26292 Removed disabling of centering boxes
  docs/source/release/v4.1.0/sans.rst
  scripts/Interface/ui/sans_isis/beam_centre.py
Labels: Component: GUI, Component: Muon

#26296 Fixed FDA old bug that stopped phasequad
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter.py
Labels: Component: Muon, Misc: Bug

#26318 Prevents rename_plot being triggered by unexpected focus grab
  qt/applications/workbench/workbench/widgets/plotselector/model.py
  qt/applications/workbench/workbench/widgets/plotselector/view.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
Labels: Priority: High

#26267 Naming bug in frequency domain analysis
  docs/source/release/v4.1.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
Labels: Component: Muon

#26191 Removed GetNegMuMuonicXRDDialog, no longer used
  Framework/PythonInterface/plugins/algorithms/GetNegMuMuonicXRD.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/GetNegMuMuonicXRDTest.py
  docs/source/release/v4.1.0/muon.rst
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/GetNegMuMuonicXRDDialog.h
  qt/widgets/plugins/algorithm_dialogs/src/GetNegMuMuonicXRDDialog.cpp
Labels: Component: Muon, Quality: Dead Code

#26331 Workbench: Scale Matplotlib figure sizes with monitor's DPI
  qt/applications/workbench/workbench/plotting/config.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Component: Workbench

#26253 Default dead time muon analysis
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/test/Muon/home_instrument_widget_test.py
Labels: Component: GUI, Component: Muon, Component: Workbench

#26337 Search hidden algorithms in workbench
  docs/source/release/v4.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/algorithmselector/model.py
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
Labels: Component: Workbench

#26236 Update to Muon interface release notes
  docs/source/images/MuonALC.png
  docs/source/images/MuonAnalysisv2.png
  docs/source/images/MuonFrequencyDomainAnalysisHome.png
  docs/source/interfaces/Frequency Domain Analysis.rst
  docs/source/interfaces/Muon ALC.rst
  docs/source/interfaces/muon_fitting_tab.rst
  docs/source/interfaces/muon_results_tab.rst
  docs/source/release/v4.1.0/muon.rst
Labels: Component: Muon, Quality: Documentation

#26336 Update name of InstrumentView variable, now mask displayed
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
Labels: Component: GUI, Component: Python, Component: SANS

#26348 Handled 'None' in peak data file
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: Component: GUI, Component: Muon, Component: Python

#26345 Added plotting and fixed COM mode
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderMassMethod.py
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/sans/algorithm_detail/beamcentrefinder_plotting.py
Labels: Component: GUI, Component: SANS

#26327 Convert input workspace to histogram in CalculateEfficiency
  Framework/Algorithms/src/CalculateEfficiency2.cpp
  Framework/Algorithms/test/CalculateEfficiency2Test.h
Labels: Component: SANS

#26347 Workbench Plot Guess with NaN values
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
Labels: Component: Workbench, Misc: Bug

#26299 Adding in handling of fit numbers when fits removed
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_model_test.py
  scripts/test/Muon/load_run_widget/loadrun_model_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_data_context_test.py
Labels: Component: GUI, Component: Muon

#26356 Error Reporter: Allow resizeable window so that smaller screens can use it.
  docs/source/release/v4.1.0/mantidplot.rst
  docs/source/release/v4.1.0/mantidworkbench.rst
  scripts/ErrorReporter/errorreport.py
Labels: Component: GUI, Component: Workbench

#26354 Indirect Data Reduction - Load parameter file only once
  docs/source/release/v4.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectDataReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReduction.h
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.h
  qt/scientific_interfaces/Indirect/IndirectInstrumentConfig.cpp
  qt/scientific_interfaces/Indirect/IndirectInstrumentConfig.h
Labels: Component: Indirect Inelastic, Misc: Bug

#26350 Workbench: Enable fit button on errorbar plots
  docs/source/release/v4.1.0/mantidworkbench.rst
  docs/source/release/v4.1.0/muon.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Component: Workbench

#26355 Fix bug with GEM scripts when enabling absorption corrections
  Testing/SystemTests/tests/analysis/ISIS_PowderGemTest.py
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-GEM83605_FocusSempty_abscorr.nxs.md5
  docs/source/release/v4.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/gem.py
Labels: Component: Diffraction, Group: Powder

#26360 Indirect - Remove warning from release notes
  docs/source/release/v4.1.0/indirect_geometry.rst
Labels: Component: Documentation, Component: Indirect Inelastic

#26344 Invalid detector list message popping up continually
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/home_plot_widget/home_plot_widget_model.py
  scripts/Muon/GUI/Common/utilities/table_utils.py
Labels: Component: GUI, Component: Muon

#26335 Watch for KeyboardInterrupt and gracefully terminate all subprocesses
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/runSystemTests.py
Labels: Misc: Maintenance

#26351 Small GCC8 warning clear up
  Framework/API/inc/MantidAPI/IndexProperty.h
  Framework/API/src/Algorithm.cpp
  Framework/DataHandling/test/LoadHFIRSANSTest.h
  Framework/DataHandling/test/SaveStlTest.h
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Instrument/InstrumentOptionDefaultsTest.h
  qt/widgets/mplcpp/test/MantidAxesTest.h
Labels: Misc: Maintenance, Quality: Code Quality

#26364 Workbench: Fix errorbar toggle via context menu for multiple axes
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: Component: Workbench

#26371 Indirect Tools - No valid Analyzers bug
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectTransmissionCalc.cpp
Labels: Component: Indirect Inelastic, Misc: Bug

#26321 Add skeleton release notes for v4.2.0
  docs/source/release/index.rst
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/release/v4.2.0/direct_geometry.rst
  docs/source/release/v4.2.0/framework.rst
  docs/source/release/v4.2.0/index.rst
  docs/source/release/v4.2.0/indirect_geometry.rst
  docs/source/release/v4.2.0/mantidplot.rst
  docs/source/release/v4.2.0/mantidworkbench.rst
  docs/source/release/v4.2.0/muon.rst
  docs/source/release/v4.2.0/reflectometry.rst
  docs/source/release/v4.2.0/sans.rst
  docs/source/release/v4.2.0/ui.rst
Labels: Component: Documentation

#26373 Allow cmake to handle the future change in name of the GSL cblas library on Windows
  CMakeLists.txt
Labels: Component: Framework

#26366 Corrections for muon gui tutorial
  docs/source/images/TgoodTzero.png
  docs/source/tutorials/muon_GUI_course/basics_of_data_reductions.rst
  docs/source/tutorials/muon_GUI_course/getting_started.rst
  docs/source/tutorials/muon_GUI_course/other_mantid_functions.rst
  docs/source/tutorials/muon_GUI_course/the_tabs.rst
Labels: Component: Muon, Quality: Documentation

#25571 Remove runs with bad proton charges from added runs
  Framework/PythonInterface/mantid/kernel/src/Exports/TimeSeriesProperty.cpp
  docs/source/release/v4.1.0/sans.rst
  scripts/SANS/SANSUtility.py
  scripts/SANS/SANSadd2.py
  scripts/SANS/sans/gui_logic/models/run_summation.py
  scripts/test/SANSUtilityTest.py
Labels: Component: SANS, Misc: Bug

#26372 Update PyCharm's Linux instructions
  dev-docs/source/GettingStartedWithPyCharm.rst
Labels: Component: Documentation, Misc: Maintenance

#26382 Outputing covariance matrix from Muon Analysis
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
Labels: Component: GUI, Component: Muon

#26397 Update Abins.py
  Framework/PythonInterface/plugins/algorithms/Abins.py
Labels: Component: Python, Misc: Bug

#26400 Engineering Diffraction: Avoid exception when hitting stop focus
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
Labels: Component: Diffraction

#26402 Workbench: Fix error when setting figure title with non ascii characters
  Framework/PythonInterface/mantid/py3compat/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
Labels: Component: Workbench

#25563 Buffered Kafka event decoder
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/EventWorkspace.h
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventListener.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/src/Kafka/KafkaEventListener.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
  instrument/Facilities.xml
Labels: Component: Live Data

#26379 Fix compiler warning with llvm clang 4
  Framework/PythonInterface/mantid/kernel/src/Converters/NDArrayToVector.cpp
Labels: OS: macOS, Priority: High
