Repository mantidproject/mantid, pull requests merged in 2020-04, with the labels that each got.

#28430 cancel algorithm when cancelling script in workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/utils/asynchronous.py
Labels: ISIS Team: CoreTeam, Workbench

#27435 Corrected Fermi and sample distance on MAPS for PyChop
  scripts/PyChop/maps.yaml
  scripts/test/PyChopTest.py
Labels: Direct Inelastic

#28412 Improve Status Information in Eng Diff GUI
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
Labels: Diffraction, ISIS Team: Diffraction

#28451 Fix test_fitpropertybrowser unreliable test
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: ISIS Team: CoreTeam, Unit Tests

#28444 Fix bugs with restoring defaults on the reflectometry GUI
  docs/source/release/v5.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
Labels: Bug, ISIS Team: LSS, MantidPlot, Reflectometry

#28432 NexusFileLoader class
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/FileLoaderRegistry.h
  Framework/API/inc/MantidAPI/NexusFileLoader.h
  Framework/API/src/FileLoaderRegistry.cpp
  Framework/API/src/NexusFileLoader.cpp
  Framework/DataHandling/src/Load.cpp
  Framework/DataHandling/src/LoadGeometry.cpp
  Framework/DataHandling/src/UpdateInstrumentFromFile.cpp
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/NexusDescriptor.h
  Framework/Kernel/inc/MantidKernel/NexusHDF5Descriptor.h
  Framework/Kernel/src/NexusDescriptor.cpp
  Framework/Kernel/src/NexusHDF5Descriptor.cpp
  Framework/Kernel/test/NexusDescriptorTest.h
  Framework/Kernel/test/NexusHDF5DescriptorTest.h
  Framework/Nexus/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/SaveWorkspaces.h
Labels: Framework

#28463 IndirectReduction GUI slowing processing on workbench when open.
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/widgets/plotting/src/Mpl/ContourPreviewPlot.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#28477 Remove FrameworkManager.h from includes in any headers
  MantidPlot/src/ApplicationWindow.cpp
  MantidPlot/src/Mantid/MantidMatrix.h
  MantidPlot/src/Mantid/MantidUI.cpp
  MantidPlot/src/Mantid/MantidUI.h
  MantidPlot/src/ProjectRecovery.cpp
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam

#28465 Workbench crash after closing a plot then defining a new fit fn
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/test/FitPropertyBrowserTest.h
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#28479 Allow z-axis limits and label to be changed by double-clicking on it in 3D plots.
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Python, Workbench

#28410 Expose background subtraction options in GUI
  docs/source/images/ISISReflectometryInterface/background_subtraction.png
  docs/source/images/ISISReflectometryInterface/experiment_settings_tab.png
  docs/source/release/v5.1.0/reflectometry.rst
  instrument/unit_testing/REFL_Parameters_Experiment.xml
  instrument/unit_testing/REFL_Parameters_Subtraction_Invalid.xml
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/BackgroundSubtraction.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/BackgroundSubtraction.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidatePerThetaDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidatePerThetaDefaults.h
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/CoderCommonTester.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/MockExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/PerThetaDefaultsTableValidatorTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/ValidatePerThetaDefaultsTest.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#28459 Improve extrapolation beyond range of supplied attenuation profile
  Framework/Kernel/inc/MantidKernel/AttenuationProfile.h
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/src/AttenuationProfile.cpp
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/test/AttenuationProfileTest.h
Labels: Absorption Corrections, ISIS Team: Diffraction

#28472 Add helper functions for parsing ISIS journal files
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/ISISJournal.h
  Framework/DataHandling/src/ISISJournal.cpp
  Framework/DataHandling/test/CMakeLists.txt
  Framework/DataHandling/test/ISISJournalTest.h
Labels: Framework, ISIS Team: LSS

#28497 LoadWAND should add the duration log
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/LoadWANDTest.py
  docs/source/release/v5.1.0/diffraction.rst
Labels: Diffraction

#28467 Restrict Peaks that Can be Added to a PeaksWorkspace to the Same Instrument
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/test/AddPeakTest.h
  docs/source/release/v5.1.0/framework.rst
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction, Single Crystal

#28473 Redesign axes tab in figure options to accommodate both 2D and 3D plots
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Python, Workbench

#28501 Change boost::dynamic_pointer_cast to std::dynamic_pointer_cast in AddPeakTest
  Framework/Algorithms/test/AddPeakTest.h
Labels: High Priority

#28505 Fix MSVC nodiscard warning from shared_ptr.get()
  Framework/Geometry/test/InstrumentTest.h
Labels: Framework

#28487 Make KafkaDecoder tests run lockstep to fix races
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoStreamDecoder.h
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/test/CMakeLists.txt
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
  Framework/LiveData/test/KafkaTestThreadHelper.h
Labels: Bug, Code Quality, Unit Tests

#28456 UI plot formatting update
  docs/source/images/1DPlotmarkers.png
  docs/source/images/FigureOptionsGear.png
  docs/source/images/GenerateAScript.png
  docs/source/images/PlotClickMenus.png
  docs/source/images/PlotOptions.png
  docs/source/images/PlotOptionsColorfill.png
  docs/source/images/PlotOptionsCurves.png
  docs/source/images/PlotSettings.png
  docs/source/images/PlotToolbar.png
  docs/source/images/PlotsWindow.png
  docs/source/plotting/index.rst
  docs/source/plotting/scripting_plots.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: Documentation

#28480 Add option for butterworth filter in polaris create_total_scattering_pdf
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Diffraction, ISIS Team: Diffraction, Total Scattering

#28469 Add crystal density option to powder SampleDetails
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-SampleDetails-v1.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/routines/sample_details.py
  scripts/Diffraction/isis_powder/test/ISISPowderSampleDetailsTest.py
Labels: Diffraction, ISIS Team: Diffraction, Total Scattering

#28478 Add GUI standards docs
  .github/PULL_REQUEST_TEMPLATE.md
  dev-docs/source/ISISReflectometryInterface.rst
  dev-docs/source/MVPDesign.rst
  dev-docs/source/MVPTutorial/CalculatorExample/index.rst
  dev-docs/source/MVPTutorial/Introduction.rst
  dev-docs/source/QtDesignerForPython.rst
  dev-docs/source/Standards/CPPStandards.rst
  dev-docs/source/Standards/GUIStandards.rst
  dev-docs/source/Standards/index.rst
  dev-docs/source/Testing/index.rst
  dev-docs/source/conf.py
  dev-docs/source/index.rst
Labels: Code Quality, Documentation

#28219 Fix unhandled exception when opening figure options on plot with empty legend
  Framework/PythonInterface/mantid/plots/legend.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/legendTest.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
Labels: Bug, ISIS Team: CoreTeam, Python, Workbench

#28406 Improve Muon Analysis 2 plotting logic
  docs/source/interfaces/muon_plotting_window.rst
  docs/source/release/v5.1.0/muon.rst
  qt/python/mantidqt/utils/testing/mocks/mock_sequentialtable.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/dock/dockable_tabs.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/QSequentialTableModel.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/QSequentialTableView.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/SequentialTableDelegates.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/SequentialTableWidget.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab.ui
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_view.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_widget.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
  scripts/test/Muon/seq_fitting_tab_widget/sequential_table_test.py
Labels: ISIS Team: Spectroscopy

#28519 Add the list of known dependencies as an .md file
  DEPENDENCY_LICENSES.md
Labels: ISIS Team: CoreTeam

#28349 Remove use of logger in plotfunctions
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Bug, ISIS Team: CoreTeam, Python, Workbench

#28483 Updated HallRoss diffusion documentation
  Framework/PythonInterface/plugins/functions/HallRoss.py
  docs/source/fitting/fitfunctions/HallRoss.rst
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#28488 Add a short delay before algorithm garbage collection
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/inc/MantidAPI/IAlgorithm.h
  Framework/API/src/Algorithm.cpp
  Framework/API/src/AlgorithmManager.cpp
  Framework/Algorithms/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/NexusHDF5Descriptor.h
  Framework/PythonInterface/test/cpp/CMakeLists.txt
  Framework/RemoteAlgorithms/test/CMakeLists.txt
Labels: ISIS Team: CoreTeam

#28304 28303 ill tof channel
  Framework/DataHandling/inc/MantidDataHandling/LoadILLTOF2.h
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/algorithms/LoadILLTOF-v2.rst
  docs/source/release/v5.1.0/direct_geometry.rst
Labels: ILL Team: All

#28522 Stop importing plotly with mantid.simpleapi
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SavePlot1D.py
Labels: SANS

#28390 Advanced plotting menu in Workbench
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/Run.cpp
  Framework/PythonInterface/mantid/plots/axesfunctions3D.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/plots/surfacecontourplots.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/surfacecontourplotsTest.py
  MantidPlot/src/Mantid/MantidSurfaceContourPlotGenerator.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/dialogs/advancedplotswidget.ui
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/spectraselectordialog.ui
  qt/python/mantidqt/dialogs/spectraselectorutils.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam, Workbench

#28474 Addition of an external plot button to the Muon GUI
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/plotting_widget/external_plotting_model.py
  scripts/Muon/GUI/Common/plotting_widget/external_plotting_view.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/external_plotting_model_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
Labels: ISIS Team: Spectroscopy

#28528 Fix being unable to open plot figure options
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
Labels: Bug, Easy, Python, Workbench

#28498 Correcting naming and constraints in Indirect Data Analysis
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/FQFitConstants.h
  qt/scientific_interfaces/Indirect/IFQFitObserver.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplatePresenter.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.h
  qt/scientific_interfaces/Indirect/IqtFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.h
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFitModel.cpp
  qt/scientific_interfaces/Indirect/MSDFitModel.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitModelTest.h
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
Labels: ISIS Team: Spectroscopy

#28494 Add 3mf format support to sample environment xml
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleEnvironment.h
  Framework/DataHandling/inc/MantidDataHandling/Mantid3MFFileIO.h
  Framework/DataHandling/inc/MantidDataHandling/MeshFileIO.h
  Framework/DataHandling/inc/MantidDataHandling/SampleEnvironmentSpecParser.h
  Framework/DataHandling/inc/MantidDataHandling/SaveSampleEnvironmentAndShape.h
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/src/Mantid3MFFileIO.cpp
  Framework/DataHandling/src/SampleEnvironmentSpecParser.cpp
  Framework/DataHandling/src/SaveSampleEnvironmentAndShape.cpp
  Framework/DataHandling/test/CMakeLists.txt
  Framework/DataHandling/test/LoadSampleEnvironmentTest.h
  Framework/DataHandling/test/Mantid3MFFileIOTest.h
  Framework/DataHandling/test/SampleEnvironmentSpecParserTest.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/src/Objects/MeshObject.cpp
  Testing/Data/UnitTest/T-Rex.3mf.md5
  Testing/Data/UnitTest/box.3mf.md5
  Testing/Data/UnitTest/box_sample.3mf.md5
  Testing/Data/UnitTest/box_withInvalidMaterial.3mf.md5
  Testing/Data/UnitTest/box_withInvalidUnits.3mf.md5
  Testing/Data/UnitTest/box_withMaterial.3mf.md5
  Testing/Data/UnitTest/multiple_cylinders.3mf.md5
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/FindLib3mf.cmake
  docs/source/algorithms/LoadSampleEnvironment-v1.rst
  docs/source/algorithms/SaveSampleEnvironmentAndShape-v1.rst
  docs/source/concepts/SampleEnvironment.rst
  docs/source/release/v5.1.0/framework.rst
  instrument/sampleenvironments/ISIS/Pearl.xml
Labels: Absorption Corrections, ISIS Team: Diffraction, Windows Only

#28580 Add extra lib3mf dll into list for windows install
  buildconfig/CMake/WindowsNSIS.cmake
Labels: Bug, Framework, High Priority, ISIS Team: Diffraction

#28571 Remove a matplotlib deprecation warning from the log viewer
  Framework/PythonInterface/mantid/plots/axesfunctions.py
Labels: Easy, ISIS Team: CoreTeam

#28562 Modulation Vectors Collated When Using CombinePeaksWorkspaces
  Framework/Crystal/src/CombinePeaksWorkspaces.cpp
  Framework/Crystal/test/CombinePeaksWorkspacesTest.h
  docs/source/release/v5.1.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#28592 Do not read zero length arrays from nexus files
  Framework/Nexus/inc/MantidNexus/NexusIOHelper.h
  docs/source/release/v5.1.0/framework.rst
Labels: Bug

#28523 Avoid immediately importing scipy.signal
  Framework/PythonInterface/plugins/algorithms/DeltaPDF3D.py
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FindPeaksAutomatic.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FindPeakAutomaticTest.py
Labels: SANS

#28536 Drops Python 2 MSVC deps
  buildconfig/CMake/Bootstrap.cmake
Labels: Maintenance, Python, Windows Only

#28593 Use if constexpr where possible in NexusIOHelper
  Framework/Nexus/inc/MantidNexus/NexusIOHelper.h
Labels: Easy

#28584 Fix Being Able to Zoom In and Out of Colorbars on Colourfill Plots.
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Bug, ISIS Team: CoreTeam, ISIS Team: Diffraction, Plotting, Workbench

#28537 Make plot toolbar suitable for 3D plots
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/surfacecontourplots.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: ISIS Team: CoreTeam, Workbench

#28411 Refine goniometer angle and make consistent UBs
  Framework/PythonInterface/plugins/algorithms/FindGoniometerFromUB.py
  Framework/PythonInterface/test/python/plugins/algorithms/FindGoniometerFromUBTest.py
  Testing/Data/UnitTest/WISH00043350.mat.md5
  Testing/Data/UnitTest/WISH00043351.mat.md5
  Testing/Data/UnitTest/WISH00043353.mat.md5
  docs/source/algorithms/FindGoniometerFromUB-v1.rst
  docs/source/images/FindGoniometerFromUB_schematic.PNG
  docs/source/release/v5.1.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#28563 Add Remote Working Links to IDE Documentation
  dev-docs/source/PyCharm.rst
  dev-docs/source/VSCode.rst
  dev-docs/source/index.rst
Labels: Added during Sprint, Documentation, ISIS Team: Diffraction

#28590 Clean up internal workspace caches within an Algorithm object
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/src/Algorithm.cpp
  Framework/API/test/AlgorithmTest.h
Labels: Added during Sprint, Bug, Framework, High Priority, ISIS Team: CoreTeam

#28594 Speed up writing out of sample log averages
  Framework/API/src/LogManager.cpp
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/PythonInterface/mantid/api/src/Exports/Run.cpp
  Framework/Types/src/Core/DateAndTime.cpp
Labels: Bug, Diffraction, ISIS Team: Diffraction, Windows Only

#28506 Add tools to overlay peaks on the slice viewer in Workbench
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/alpha.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/draw.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/noshape.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/spherical.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/shapetesthelpers.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_alpha.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_draw.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_nonintegrated.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_spherical.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/modeltesthelpers.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_peaksviewercollectionpresenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_peaksworkspaceselectormodel.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_peaksworkspaceselectorpresenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/workspaceselection.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/samplingimage.py
  qt/python/mantidqt/widgets/sliceviewer/sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
Labels: Diffraction, ISIS Team: CoreTeam, ISIS Team: Diffraction, Single Crystal

#28617 Generalise PyCharm Remote Debugger Instructions
  dev-docs/source/PyCharm.rst
Labels: Added during Sprint, Diffraction, Easy, ISIS Team: Diffraction
