Repository mantidproject/mantid, pull requests merged in 2020-08, with the labels that each got.

#29037 Rework function browser in ConvFit tab of IDA GUI
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.h
  qt/scientific_interfaces/Indirect/test/ConvFunctionModelTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ConvolutionFunctionModel.h
  qt/widgets/common/src/ConvolutionFunctionModel.cpp
  qt/widgets/common/test/ConvolutionFunctionModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29092 Removing use of namespace std in ExtractMaskToTable.cpp
  Framework/Algorithms/src/ExtractMaskToTable.cpp
Labels: Induction 1, Maintenance

#28935 Use RefRoi for conversion to Q in RRO
  Framework/Reflectometry/inc/MantidReflectometry/ReflectometryReductionOne2.h
  Framework/Reflectometry/src/ReflectometryReductionOne2.cpp
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
  docs/source/algorithms/ReflectometryReductionOne-v2.rst
  docs/source/diagrams/ReflectometryReductionOne_ConvertToMomentum-v2_wkflw.dot
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Framework, ISIS Team: LSS, Reflectometry

#29068 Python: Add method to get IPF path
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/ExperimentInfo.h
  Framework/API/inc/MantidAPI/InstrumentFileFinder.h
  Framework/API/src/ExperimentInfo.cpp
  Framework/API/src/InstrumentFileFinder.cpp
  Framework/API/test/ExperimentInfoTest.h
  Framework/API/test/InstrumentFileFinderTest.h
  Framework/Algorithms/src/VesuvioL1ThetaResolution.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadInstrument.h
  Framework/DataHandling/src/AppendGeometryToSNSNexus.cpp
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/src/LoadInstrument.cpp
  Framework/DataHandling/src/LoadNXSPE.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/test/LoadMaskTest.h
  Framework/DataHandling/test/NXcanSASTestHelper.cpp
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/ExperimentInfo.cpp
  Framework/PythonInterface/mantid/api/src/Exports/InstrumentFileFinder.cpp
  docs/source/algorithms/LoadGSASInstrumentFile-v1.rst
  docs/source/algorithms/RemoveBackground-v1.rst
  docs/source/release/v5.1.0/framework.rst
  qt/widgets/common/src/SlitCalculator.cpp
  qt/widgets/sliceviewer/inc/MantidQtWidgets/SliceViewer/NonOrthogonalAxis.h
  scripts/Inelastic/Direct/ISISDirecInelasticConfig.py
Labels: Added during Sprint, Framework, ISIS Team: LSS

#29071 Make engineering diffraction a child of workbench
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering_Diffraction.py
Labels: Diffraction, ISIS Team: Diffraction

#29095 Remove plot options button from sliceviewer
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Added during Sprint, ISIS Team: Core, Workbench

#29106 Replace deprecated save algorithms in Reflectometry GUI
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v5.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/AsciiSaver.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/AsciiSaver.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/IAsciiSaver.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/IAsciiSaver.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SaveWidget.ui
  qt/scientific_interfaces/test/ISISReflectometry/Common/CoderCommonTester.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/MockSaveView.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: ISIS Team: LSS, Reflectometry, Reported By User, Workbench

#29107 Update release generator to remove mantidplot
  docs/source/release/v5.1.0/index.rst
  tools/release_generator/release.py
Labels: Documentation, Induction 1

#29133 EnggDiff Plot set checkboxes checked by default
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/focus_tab.ui
Labels: Diffraction, Induction 1

#29151 29143 Disabled fit tab on muon guis when no data present
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
Labels: ISIS Team: Spectroscopy, Induction 2, Muon

#29144 Improve RRO unit tests to use larger test workspace
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
Labels: Framework, ISIS Team: LSS, Reflectometry

#29157 Update axesfunctions.py
  Framework/PythonInterface/mantid/plots/axesfunctions.py
Labels: Bug

#29069 Display save directory in statusbar of Eng Diff UI
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/__init__.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29154 Deprecating RecordPythonScript
  Framework/Algorithms/inc/MantidAlgorithms/RecordPythonScript.h
  Framework/Algorithms/src/RecordPythonScript.cpp
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: Core, Induction 2

#29147 Remove deprecated reflectometry algorithms for saving ascii
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/AsciiPointBase.h
  Framework/DataHandling/inc/MantidDataHandling/SaveANSTOAscii.h
  Framework/DataHandling/inc/MantidDataHandling/SaveAscii2.h
  Framework/DataHandling/inc/MantidDataHandling/SaveILLCosmosAscii.h
  Framework/DataHandling/inc/MantidDataHandling/SaveReflCustomAscii.h
  Framework/DataHandling/inc/MantidDataHandling/SaveReflThreeColumnAscii.h
  Framework/DataHandling/src/AsciiPointBase.cpp
  Framework/DataHandling/src/SaveANSTOAscii.cpp
  Framework/DataHandling/src/SaveILLCosmosAscii.cpp
  Framework/DataHandling/src/SaveReflCustomAscii.cpp
  Framework/DataHandling/src/SaveReflThreeColumnAscii.cpp
  Framework/DataHandling/test/SaveANSTOAsciiTest.h
  Framework/DataHandling/test/SaveILLCosmosAsciiTest.h
  Framework/DataHandling/test/SaveReflCustomAsciiTest.h
  Framework/DataHandling/test/SaveReflThreeColumnAsciiTest.h
  MantidPlot/src/ProjectRecovery.h
  docs/source/algorithms/SaveANSTOAscii-v1.rst
  docs/source/algorithms/SaveILLCosmosAscii-v1.rst
  docs/source/algorithms/SaveReflCustomAscii-v1.rst
  docs/source/algorithms/SaveReflThreeColumnAscii-v1.rst
  docs/source/release/v3.9.0/framework.rst
  docs/source/release/v4.0.0/reflectometry.rst
  docs/source/release/v5.1.0/reflectometry.rst
  qt/applications/workbench/workbench/projectrecovery/projectrecoverysaver.py
Labels: Framework, ISIS Team: LSS, Reflectometry

#29127 28758 minimum height muon analysis gui
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view.py
Labels: ISIS Team: Spectroscopy, Induction 1, Workbench

#29097 Workbench fit slider bug
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: ISIS Team: Core, Induction 1, Workbench

#29130 Simplify FitPropertyBrowser view in Eng Diff UI
  docs/source/release/v5.1.0/diffraction.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29056 Add ConvFit temperature correction function
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/ConvTempCorrection.h
  Framework/CurveFitting/src/Functions/ConvTempCorrection.cpp
  Framework/CurveFitting/src/Functions/Convolution.cpp
  Framework/CurveFitting/test/Functions/ConvTempCorrectionTest.h
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.h
  qt/widgets/common/src/ConvolutionFunctionModel.cpp
  qt/widgets/common/test/ConvolutionFunctionModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29012 Output convolved members by default in ConvFit
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29146 Allow radio button in SANS GUI to scale
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
Labels: Induction 2, SANS

#29166 26633 update vscode docs
  dev-docs/source/VSCode.rst
Labels: Documentation, ISIS Team: Core

#29156 Fix spinbox crash in IDA GUI
  qt/scientific_interfaces/Indirect/FunctionTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplatePresenter.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/qteditorfactory.h
  qt/widgets/common/src/QtPropertyBrowser/qteditorfactory.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29125 Enable peaks overlay for the nonorthogonal slice viewer.
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_peaksviewercollectionpresenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core, ISIS Team: Diffraction, Workbench

#29170 DGSPlanner bug fixes
  docs/source/release/v5.1.0/direct_geometry.rst
  scripts/DGSPlanner/ClassicUBInputWidget.py
  scripts/DGSPlanner/InstrumentSetupWidget.py
  scripts/DGSPlanner/MatrixUBInputWidget.py
Labels: Bug, Direct Inelastic

#29129 Add Alias to Generate Python Script as ExportHistory and Add Metadata to Script
  Framework/Algorithms/inc/MantidAlgorithms/GeneratePythonScript.h
  Framework/Algorithms/inc/MantidAlgorithms/RecordPythonScript.h
  Framework/Algorithms/src/GeneratePythonScript.cpp
  Framework/Algorithms/src/RecordPythonScript.cpp
  Framework/Algorithms/test/GeneratePythonScriptTest.h
  docs/source/algorithms/GeneratePythonScript-v1.rst
  docs/source/release/v5.1.0/framework.rst
  qt/applications/workbench/workbench/utils/workspacehistorygeneration.py
Labels: ISIS Team: Core, Induction 1

#29175 Always use selected workspace in sliceviewer and don't dynamically bin MDHistoWorkspace
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
Labels: ISIS Team: Core, ISIS Team: Diffraction, Workbench

#29094 Fix crash importing mslice cli in workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/backend_workbench.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/utils/qt/qappthreadcall.py
  qt/python/mantidqt/utils/qt/test/test_qappthreadcall.py
  qt/python/mantidqt/widgets/algorithmselector/algorithm_factory_observer.py
  qt/python/mantidqt/widgets/algorithmselector/presenter.py
  qt/python/mantidqt/widgets/algorithmselector/test/observer_test.py
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithm_factory_observer.py
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: ISIS Team: Core, Workbench

#29128 Fixed template header file in algorithm dev docs
  dev-docs/source/WritingAnAlgorithm.rst
Labels: Documentation, Induction 1

#29169 Add PythonNotebook.rst to Concepts category
  docs/source/concepts/PythonNotebook.rst
Labels: Documentation, ISIS Team: Core

#29174 Implement error bars in MPL based PreviewPlot
  docs/source/release/v5.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Qwt/PreviewPlot.cpp
Labels: ISIS Team: Core, ISIS Team: Spectroscopy

#29088 Add common workbench launcher executable to harmonise startup code.
  .flake8
  Framework/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/mantid/_plugins/CMakeLists.txt
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/dataobjects/CMakeLists.txt
  Framework/PythonInterface/mantid/geometry/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  MantidPlot/CMakeLists.txt
  MantidPlot/src/Mantid/MantidApplication.cpp
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/LinuxSetup.cmake
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
  buildconfig/CMake/Packaging/launch_workbench.ps1.in
  buildconfig/CMake/Packaging/launch_workbench.pyw
  buildconfig/CMake/Packaging/osx/MantidWorkbench_osx_launcher.in
  buildconfig/CMake/Packaging/osx/mantidworkbench_Info.plist
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/Jenkins/buildscript.bat
  dev-docs/source/Python3.rst
  dev-docs/source/index.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  installers/MacInstaller/make_package.rb
  installers/MacInstaller/sitecustomize.py
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/mantidworkbench.cpp
  qt/applications/workbench/resources.qrc
  qt/applications/workbench/setup.py.in
  qt/applications/workbench/workbench/__main__.py
  qt/applications/workbench/workbench/plugins/exception_handler/__init__.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/dialogs/errorreports/README.md
  qt/python/mantidqt/dialogs/errorreports/__init__.py
  qt/python/mantidqt/dialogs/errorreports/details.py
  qt/python/mantidqt/dialogs/errorreports/errorreport.ui
  qt/python/mantidqt/dialogs/errorreports/errorreports.qrc
  qt/python/mantidqt/dialogs/errorreports/main.py
  qt/python/mantidqt/dialogs/errorreports/moredetails.ui
  qt/python/mantidqt/dialogs/errorreports/presenter.py
  qt/python/mantidqt/dialogs/errorreports/report.py
  qt/python/mantidqt/dialogs/errorreports/resources_qt4.py
  qt/python/mantidqt/dialogs/errorreports/resources_qt5.py
  qt/python/mantidqt/dialogs/errorreports/test/test_errorreport_presenter.py
  qt/python/mantidqt/icons/CMakeLists.txt
  qt/python/mantidqt/widgets/instrumentview/CMakeLists.txt
  qt/python/setup.py.in
  scripts/CMakeLists.txt
  scripts/ErrorReporter/CMakeLists.txt
  scripts/ErrorReporter/error_dialog_app.py
  scripts/ErrorReporter/errorreporter.qrc
  scripts/test/CMakeLists.txt
Labels: ISIS Team: Core, Workbench

#29091 Update line color selection in muon analysis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plot_color_queue.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/plotting_canvas/plot_color_queue_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29153 Add Troubleshooting Steps for diagnosing failed launch
  dev-docs/source/UserSupport.rst
Labels: Documentation

#29117 Added a deselect all elements button to elemental analysis gui
  docs/source/images/MuonElementalAnalysis.png
  docs/source/interfaces/Muon Elemental Analysis.rst
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_presenter.py
  scripts/Muon/GUI/ElementalAnalysis/Peaks/peaks_view.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/test/Muon/elemental_analysis/elemental_analysis_test.py
Labels: ISIS Team: Spectroscopy, Induction 1, Muon

#29028 Correct updating issues in muon analysis with current dataset index and result tab function
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/contexts/frequency_domain_analysis_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/results_tab_widget/results_tab_model_test.py
  scripts/test/Muon/results_tab_widget/results_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29135 Muon Analysis multiple plots appearing on one axis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_model.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/plot_widget/plot_widget_model_test.py
  scripts/test/Muon/plotting_canvas/plotting_canvas_model_test.py
  scripts/test/Muon/utilities/muon_group_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#29155 Added Unroll All Checkbox for Workspace History Window
  docs/source/release/v5.1.0/framework.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmHistoryWindow.h
  qt/widgets/common/src/AlgorithmHistoryWindow.cpp
Labels: ISIS Team: Core, Induction 2

#29119 28992 surface plot colorbar limits
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/test/test_functions.py
Labels: ISIS Team: Core, Induction 1, Workbench

#29105 Additional changes for loading ESS files
  Framework/DataHandling/src/BankPulseTimes.cpp
  Framework/DataHandling/src/LoadBankFromDiskTask.cpp
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/Nexus/inc/MantidNexus/NexusIOHelper.h
  Framework/Nexus/test/NexusIOHelperTest.h
Labels: Framework

#29161 Plot difference checkbox added to muon guis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/Muon/GUI/Common/plot_widget/plotting_widget_view.ui
  scripts/test/Muon/plot_widget/plot_widget_model_test.py
  scripts/test/Muon/plot_widget/plot_widget_presenter_test.py
Labels: ISIS Team: Spectroscopy, Induction 2, Muon

#29109 Muon analysis setting active groups on file load and disabling deselecting all groups/pairs
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/plotting_canvas/plotting_canvas_presenter_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy, Muon

#29180 Implement SaveGSSCW
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/SaveGSSCW.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/SaveGSSCWTest.py
  Testing/Data/UnitTest/IPTS-2005_exp719_Scan52_MANTID.dat.md5
  docs/source/algorithms/SaveGSSCW-v1.rst
  docs/source/release/v5.1.0/diffraction.rst
Labels: Diffraction

#29211 Warn users if they attempt to use Generate Recovery Script with no workspaces
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
Labels: ISIS Team: Core, Workbench

#29217 Make workbench 1D plots legends editable in-situ
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_propertiesdialog.py
Labels: Workbench

#28924 Improve performance of colorfill plot of large workspaces
  Framework/PythonInterface/mantid/api/src/Exports/Axis.cpp
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/modest_image/modest_image.py
  Framework/PythonInterface/mantid/plots/resampling_image/__init__.py
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
  qt/python/mantidqt/widgets/sliceviewer/imageinfowidget.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core, Workbench

#29219 Updated fermi distance in MERLIN.yaml
  scripts/PyChop/merlin.yaml
Labels: Direct Inelastic, ISIS Team: Spectroscopy

#29225 Remove TCMalloc on Windows
  buildconfig/CMake/MSVCSetup.cmake
Labels: ILL Team

#29196 Fix colorfill script generation for disturbution workspaces
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: ISIS Team: Core, Workbench

#29177 Muon analysis add period column to group table
  Framework/API/src/InstrumentFileFinder.cpp
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_data_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_presenter.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/grouping_tab/calculate_pair_and_group_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_model_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_context_with_frequency_test.py
  scripts/test/Muon/muon_data_context_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/utilities/muon_group_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29178 Retain globals in function browser when a new function is added
  docs/source/release/v5.1.0/muon.rst
  qt/python/mantidqt/widgets/test/test_functionbrowser.py
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
Labels: ISIS Team: Core, ISIS Team: Spectroscopy

#29222 Add exception handling for psutil access denied in Project Recovery
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/projectrecovery/projectrecovery.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverymodel.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverypresenter.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_projectrecoverypresenter.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecovery.py
Labels: ISIS Team: Core, Windows Only, Workbench

#29186 Warn people about settings that need a restart in workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_presenter.py
  qt/applications/workbench/workbench/widgets/settings/view.py
Labels: ISIS Team: Core, Workbench

#29240 Fix RPATH for MantidWorkbench on macOS
  installers/MacInstaller/make_package.rb
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/app/start.py
  qt/applications/workbench/workbench/config/__init__.py
Labels: High Priority, ISIS Team: Core, macOS Only

#29167 Fix Indirect Data Analysis not load multiple spectra from a single ws in F(Q) fit
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitModelTest.h
Labels: ISIS Team: Spectroscopy

#29182 Add function help option to fit browser
  docs/source/release/v5.1.0/indirect_geometry.rst
  docs/source/release/v5.1.0/muon.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionMultiDomainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionView.h
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/test/FunctionMultiDomainPresenterTest.h
Labels: Added during Sprint, ISIS Team: Spectroscopy, Indirect Inelastic

#29227 Updates to the release checklists
  dev-docs/source/PatchReleaseChecklist.rst
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation

#29172 Added Algorithm Aliases to Alg Toolbox on Workbench
  Framework/API/inc/MantidAPI/AlgorithmFactory.h
  Framework/API/src/AlgorithmFactory.cpp
  Framework/API/test/AlgorithmFactoryTest.h
  Framework/API/test/AlgorithmPropertyTest.h
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactory.cpp
  Framework/PythonInterface/test/python/mantid/api/AlgorithmFactoryTest.py
  qt/python/mantidqt/widgets/algorithmselector/model.py
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
  qt/widgets/common/src/AlgorithmSelectorWidget.cpp
Labels: Induction 2, Workbench

#29200 Flip spectrum numbers on Colorfill if origin=upper
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: ISIS Team: Core

#29075 Sliceviewer default scale set when opened
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core, Workbench

#29248 Use sourceforge link for older sip versions
  buildconfig/CMake/ExternalSipPyQt4.cmake
Labels: Added during Sprint, High Priority, Linux Only

#29206 Add gitconfig page to dev docs
  dev-docs/source/GitConfig.rst
  dev-docs/source/GitWorkflow.rst
Labels: Documentation

#29159 Refactoring of ILL Reflectometry Suite
  Framework/API/src/MultipleFileProperty.cpp
  Framework/Algorithms/src/Stitch1D.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadILLReflectometry.h
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/Kernel/inc/MantidKernel/PropertyWithValue.tcc
  Framework/Kernel/src/PropertyWithValue.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCor.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCorTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  Framework/Reflectometry/inc/MantidReflectometry/SpecularReflectionPositionCorrect2.h
  Framework/Reflectometry/src/ReflectometrySumInQ.cpp
  Framework/Reflectometry/src/SpecularReflectionPositionCorrect2.cpp
  Framework/Reflectometry/test/SpecularReflectionPositionCorrect2Test.h
  Testing/SystemTests/tests/analysis/ILLReflAutoProcessTest.py
  Testing/SystemTests/tests/analysis/reference/D17_SiO2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_Thick_HR_5.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_VoS11.nxs.md5
  docs/runsphinx.py.in
  docs/source/algorithms/LoadILLPolarizationFactors-v1.rst
  docs/source/algorithms/LoadILLReflectometry-v1.rst
  docs/source/algorithms/PolarizationCorrectionWildes-v1.rst
  docs/source/algorithms/ReflectometryILLAutoProcess-v1.rst
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPolarizationCor-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/algorithms/ReflectometryILLSumForeground-v1.rst
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/algorithms/SetMDFrame-v1.rst
  docs/source/algorithms/SofTwoThetaTOF-v1.rst
  docs/source/algorithms/SpecularReflectionPositionCorrect-v2.rst
  docs/source/diagrams/ReflectometryILLPreprocess-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLPreprocessDirect-v1_wkflw.dot
  docs/source/diagrams/ReflectometryILLPreprocessReflected-v1_wkflw.dot
  docs/source/release/v5.1.0/reflectometry.rst
  docs/sphinxext/mantiddoc/directives/relatedalgorithms.py
Labels: ILL Team, Reflectometry

#29242 Pull in fix for mslice cli in workbench
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: High Priority, ISIS Team: Core, ISIS Team: Spectroscopy, Workbench

#28974 ILL reduction gui
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/api/src/Algorithms/AlgorithmObserverAdapter.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmObserver.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  buildconfig/CMake/UiToPy.cmake
  docs/source/images/drill-numbers.png
  docs/source/images/drill-settings.png
  docs/source/images/drill.png
  docs/source/interfaces/DrILL.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/icons/resources/materialdesignicons.css
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/instrumentselector.py
  scripts/Drill.py
  scripts/Interface/__init__.py
  scripts/Interface/ui/CMakeLists.txt
  scripts/Interface/ui/drill/CMakeLists.txt
  scripts/Interface/ui/drill/README.md
  scripts/Interface/ui/drill/__init__.py
  scripts/Interface/ui/drill/model/DrillAlgorithmObserver.py
  scripts/Interface/ui/drill/model/DrillAlgorithmPool.py
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/model/DrillParameterController.py
  scripts/Interface/ui/drill/model/DrillTask.py
  scripts/Interface/ui/drill/model/__init__.py
  scripts/Interface/ui/drill/model/configurations.py
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/presenter/__init__.py
  scripts/Interface/ui/drill/test/CMakeLists.txt
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillParameterControllerTest.py
  scripts/Interface/ui/drill/test/DrillPresenterTest.py
  scripts/Interface/ui/drill/test/DrillSettingsDialogTest.py
  scripts/Interface/ui/drill/test/DrillTableWidgetTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/test/DrillViewTest.py
  scripts/Interface/ui/drill/view/DrillHeaderView.py
  scripts/Interface/ui/drill/view/DrillItemDelegate.py
  scripts/Interface/ui/drill/view/DrillSettingsDialog.py
  scripts/Interface/ui/drill/view/DrillTableWidget.py
  scripts/Interface/ui/drill/view/DrillView.py
  scripts/Interface/ui/drill/view/__init__.py
  scripts/Interface/ui/drill/view/ui/main.ui
  scripts/Interface/ui/drill/view/ui/settings.ui
Labels: ILL Team, Workbench

#29188 Add intensity/sigma column to peaksworkspace table view
  Framework/Algorithms/test/CheckWorkspacesMatchTest.h
  Framework/Algorithms/test/CloneWorkspaceTest.h
  Framework/Algorithms/test/CompareWorkspacesTest.h
  Framework/Crystal/src/MaskPeaksWorkspace.cpp
  Framework/Crystal/src/PeakIntegration.cpp
  Framework/Crystal/src/ShowPeakHKLOffsets.cpp
  Framework/Crystal/src/SortHKL.cpp
  Framework/Crystal/src/SortPeaksWorkspace.cpp
  Framework/Crystal/test/SetCrystalLocationTest.h
  Framework/Crystal/test/ShowPeakHKLOffsetsTest.h
  Framework/Crystal/test/SortPeaksWorkspaceTest.h
  Framework/CurveFitting/test/LatticeDomainCreatorTest.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/inc/MantidDataObjects/PeaksWorkspace.h
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/src/PeakColumn.cpp
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/DataObjects/test/PeaksWorkspaceTest.h
  Framework/PythonInterface/plugins/algorithms/LinkedUBs.py
  Framework/WorkflowAlgorithms/test/AlignAndFocusPowderTest.h
  docs/source/release/v5.1.0/diffraction.rst
Labels: Framework, ISIS Team: Core

#29208 Muon analysis update group saving and loading
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/test/Muon/xml_utils_test.py
Labels: ISIS Team: Spectroscopy, Muon
