Repository mantidproject/mantid, pull requests merged in 2020-12, with the labels that each got.

#29999 Corelli pd cal apply 29968 master
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CorelliPowderCalibrationApply.h
  Framework/Algorithms/src/CorelliPowderCalibrationApply.cpp
  Framework/Algorithms/src/CorelliPowderCalibrationDatabase.cpp
  Framework/Algorithms/test/CorelliPowderCalibrationApplyTest.h
  Framework/Algorithms/test/CorelliPowderCalibrationDatabaseTest.h
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
  docs/source/algorithms/CorelliPowderCalibrationApply-v1.rst
  docs/source/images/CorelliPowderCalibrationApply_calibrated.png
  docs/source/images/CorelliPowderCalibrationApply_original.png
  docs/source/release/v6.0.0/diffraction.rst
Labels: Powder

#30038 Refactoring WANDPowderReduction algorithm to allow group workspaces as output
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
  docs/source/algorithms/WANDPowderReduction-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Bug, Diffraction, Powder

#30039 SCD algorithm for finding peaks and UB matrix
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/HB3AFindPeaks.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB3AFindPeaksTest.py
  Testing/Data/UnitTest/HB3A_exp0724_scan0182.nxs.md5
  Testing/Data/UnitTest/HB3A_exp0724_scan0183.nxs.md5
  docs/source/algorithms/HB3AFindPeaks-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#29996 Stop SaveHKL recalculating tbar if it's already in PeaksWorkspace
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/IMCInteractionVolume.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/AddAbsorptionWeightedPathLengthsTest.h
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  Framework/Crystal/src/SaveHKL.cpp
  Framework/Crystal/test/SaveHKLTest.h
  Framework/Geometry/inc/MantidGeometry/Objects/Track.h
  Framework/Geometry/src/Objects/Track.cpp
  Framework/Geometry/test/TrackTest.h
  docs/source/release/v6.0.0/diffraction.rst
Labels: ISIS Team: Diffraction

#29995 Improve visibility of sliceviewer and colorfill zoombox
  Framework/PythonInterface/mantid/plots/mantidimage.py
  Framework/PythonInterface/mantid/plots/modest_image/modest_image.py
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/backend_workbench.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/mantidfigurecanvas.py
  qt/applications/workbench/workbench/plotting/test/test_figuremanager.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/scientific_interfaces/CMakeLists.txt
Labels: ISIS Team: Core

#30094 Disable MantidPlot in the CI scripts
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
Labels: Extra Attention, ISIS Team: Core

#30092 SampleLogs filtering
  docs/source/images/SampleLogs.png
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: ILL Team, Workbench

#30104 Get PredictPeaks working for DEMAND
  Framework/Crystal/src/PredictPeaks.cpp
  Testing/SystemTests/tests/framework/PredictPeaksTest.py
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#29998 Step scan qt5 from master
  docs/source/release/v6.0.0/mantidworkbench.rst
  docs/source/release/v6.0.0/muon.rst
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/General/StepScan.cpp
  qt/scientific_interfaces/General/StepScan.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FileFinderWidget.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Figure.h
  qt/widgets/mplcpp/src/Figure.cpp
Labels: Direct Inelastic, ORNL Team

#30099 SCD algorithm for peak integration and Lorentz correction
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/HB3AIntegratePeaks.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB3AIntegratePeaksTest.py
  docs/source/algorithms/HB3AIntegratePeaks-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30100 SCD algorithm for peak integration and Lorentz correction ornl-next
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/HB3AIntegratePeaks.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB3AIntegratePeaksTest.py
  docs/source/algorithms/HB3AIntegratePeaks-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#29992 Add Step Scan Interface to Workbench
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/General/StepScan.cpp
  qt/scientific_interfaces/General/StepScan.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FileFinderWidget.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Figure.h
  qt/widgets/mplcpp/src/Figure.cpp
Labels: Direct Inelastic, ORNL Team, Workbench

#29869 API function to replace workspace being shown by an instrument window
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/instrumentview/_instrumentview.sip
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/widgets/instrumentview/test/test_instrumentview_io.py
  qt/python/mantidqt/widgets/instrumentview/view.py
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/CollapsiblePanel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: ILL Team, Workbench

#30037 C++ version of crop workspace ragged
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/CropWorkspaceRagged.h
  Framework/Algorithms/src/CropWorkspaceRagged.cpp
  Framework/Algorithms/test/CropWorkspaceRaggedTest.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/CropWorkspaceRagged.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CropWorkspaceRaggedTest.py
  docs/source/algorithms/CropWorkspaceRagged-v1.rst
  docs/source/release/v6.0.0/framework.rst
  qt/widgets/common/src/GenericDialog.cpp
Labels: ISIS Team: Core, ISIS Team: Spectroscopy

#29958 Load Widget for new Elemental Analysis GUI
  scripts/Muon/GUI/Common/load_file_widget/presenter.py
  scripts/Muon/GUI/Common/load_file_widget/view.py
  scripts/Muon/GUI/Common/load_run_widget/load_run_view.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/Muon/GUI/ElementalAnalysis2/context/context.py
  scripts/Muon/GUI/ElementalAnalysis2/elemental_analysis.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/__init__.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/load_models.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/load_run_widget_presenter.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/load_utils_ea.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/load_widget.py
  scripts/Muon/GUI/ElementalAnalysis2/load_widget/load_widget_presenter.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_context_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_load_model_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_load_widget_presenter_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_loadfile_model_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_loadrun_model_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_loadrun_presenter_single_run_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_loadutils_test.py
Labels: ISIS Team: Spectroscopy, Muon, Workbench

#30047 Set min length and adjust policy for algorthm combo box
  qt/widgets/common/src/AlgorithmPropertiesWidget.cpp
  qt/widgets/common/src/OptionsPropertyWidget.cpp
Labels: ISIS Team: Core, Induction, Workbench

#30042 Changed bin edges to points
  Framework/Muon/src/MuonAsymmetryHelper.cpp
  Framework/Muon/src/RemoveExpDecay.cpp
  Framework/Muon/test/ApplyMuonDetectorGroupingTest.h
  Framework/Muon/test/EstimateMuonAsymmetryFromCountsTest.h
  Framework/Muon/test/MuonGroupingAsymmetryTest.h
  Framework/Muon/test/RemoveExpDecayTest.h
  Framework/WorkflowAlgorithms/test/IMuonAsymmetryCalculatorTest.h
  Testing/Data/SystemTest/EMUAnalysisAsymFwd.nxs.md5
  Testing/SystemTests/tests/framework/reference/EMUAnalysisAsymFwd.nxs.md5
  Testing/SystemTests/tests/framework/reference/HiFiAnalysisAsym0.nxs.md5
  docs/source/algorithms/EstimateMuonAsymmetryFromCounts-v1.rst
  docs/source/algorithms/MuonGroupingAsymmetry-v1.rst
  docs/source/release/v6.0.0/muon.rst
Labels: Muon

#30112 Fix the issue with changing parameters for MDHisto plots
  Framework/PythonInterface/mantid/plots/mantidaxes.py
Labels: Bug, Workbench

#30046 Fix handling image replotting when the underlying workspace updates
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/mantidaxesTest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Bug, ISIS Team: Core, Workbench

#30083 Adopt lead pressure calculation algorithm
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/LeadPressureCalc.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/LeadPressureCalcTest.py
  docs/source/algorithms/LeadPressureCalc-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30004 Return shared_pointer in Python WorkspaceGroup.getItem()
  Framework/PythonInterface/core/CMakeLists.txt
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/Policies/ToWeakPtr.h
  Framework/PythonInterface/mantid/api/src/Exports/WorkspaceGroup.cpp
  Framework/PythonInterface/test/python/mantid/api/WorkspaceGroupTest.py
Labels: Bug, Framework

#30084 D7YIGPositionCalibration new fitting approach
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibrationTest.py
  Testing/SystemTests/tests/framework/D7YIGPositionCalibrationTest.py
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: ILL Team

#30124 Fix python lib errors
  Framework/PythonInterface/core/src/PythonStdoutChannel.cpp
Labels: Bug, Framework, High Priority, ISIS Team: Core

#29805 Split out monitor/det names into file info
  Framework/PythonInterface/mantid/py36compat/__init__.py
  Framework/PythonInterface/mantid/py36compat/_dataclasses/LICENSE.txt
  Framework/PythonInterface/mantid/py36compat/_dataclasses/__init__.py
  Framework/PythonInterface/mantid/py36compat/_dataclasses/dataclasses.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderMassMethod.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSLoad.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  scripts/SANS/sans/algorithm_detail/mask_sans_workspace.py
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
  scripts/SANS/sans/algorithm_detail/move_sans_instrument_component.py
  scripts/SANS/sans/algorithm_detail/move_workspaces.py
  scripts/SANS/sans/common/general_functions.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/state/AllStates.py
  scripts/SANS/sans/state/IStateParser.py
  scripts/SANS/sans/state/StateObjects/StateMaskDetectors.py
  scripts/SANS/sans/state/StateObjects/StateMoveDetectors.py
  scripts/SANS/sans/state/StateObjects/state_instrument_info.py
  scripts/SANS/sans/state/state_functions.py
  scripts/SANS/sans/test_helper/test_director.py
  scripts/test/SANS/algorithm_detail/mask_sans_workspace_test.py
  scripts/test/SANS/algorithm_detail/move_sans_instrument_component_test.py
  scripts/test/SANS/algorithm_detail/move_workspaces_test.py
  scripts/test/SANS/state/CMakeLists.txt
  scripts/test/SANS/state/move_test.py
  scripts/test/SANS/state/state_instrument_info_test.py
Labels: ISIS Team: LSS, Maintenance, SANS

#29929 Add back to back exponential parameters in ENGIN-X parameter file
  Framework/API/inc/MantidAPI/IPeakFunction.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/BackToBackExponential.h
  Framework/PythonInterface/plugins/algorithms/EnggFitPeaks.py
  Testing/SystemTests/tests/framework/EnggCalibrationTest.py
  Testing/SystemTests/tests/framework/EnginXScriptTest.py
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_1_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_2.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_2_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_cropped.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_cropped.nxs_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_cropped_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_cropped_parameters.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_south_parameters.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_bank_south_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_banks_parameters.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_banks_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_calibration_cropped_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_difc_zero_peaks_bank_1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_difc_zero_peaks_bank_2.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_difc_zero_peaks_bank_cropped.nxs.md5
  Testing/SystemTests/tests/framework/reference/engggui_difc_zero_peaks_bank_cropped_gsl1.nxs.md5
  docs/source/algorithms/EnggFitPeaks-v1.rst
  docs/source/algorithms/EnggFitTOFFromPeaks-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
  instrument/ENGIN-X_Parameters.xml
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/PropertyHandler.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/PropertyHandler.cpp
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30077 Bug during copy/cut/paste in DrILL
  scripts/Interface/ui/drill/test/DrillTableWidgetTest.py
  scripts/Interface/ui/drill/test/DrillViewTest.py
  scripts/Interface/ui/drill/view/DrillTableWidget.py
  scripts/Interface/ui/drill/view/DrillView.py
Labels: Bug, ILL Team

#30117 Remove Tolerance Check in yIndexOfX for Histogram Data
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  Framework/Algorithms/src/CopyDataRange.cpp
Labels: Bug, ISIS Team: Core

#30123 add new functions to pre-process calibration input
  scripts/corelli/calibration/utils.py
  scripts/test/corelli/calibration/test_utils.py
Labels: Diffraction

#29985 sort instruments alphabetically by name after filling instrument list
  instrument/Facilities.xml
  qt/applications/workbench/workbench/widgets/about/presenter.py
  qt/applications/workbench/workbench/widgets/about/test/test_about_presenter.py
  qt/applications/workbench/workbench/widgets/about/view.py
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/section_general.ui
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/widgets/common/src/InstrumentSelector.cpp
Labels: ISIS Team: Core, Workbench

#29687 Allow MuonPreProcess Algorithm To Accept Multiple Time Zeros
  Framework/Algorithms/test/MuonWorkspaceCreationHelperTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonStrategy.h
  Framework/DataHandling/inc/MantidDataHandling/MultiPeriodLoadMuonStrategy.h
  Framework/DataHandling/inc/MantidDataHandling/SinglePeriodLoadMuonStrategy.h
  Framework/DataHandling/src/LoadMuonNexusV2.cpp
  Framework/DataHandling/src/LoadMuonStrategy.cpp
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  Framework/DataHandling/src/MultiPeriodLoadMuonStrategy.cpp
  Framework/DataHandling/src/SinglePeriodLoadMuonStrategy.cpp
  Framework/DataHandling/test/LoadMuonNexusV2Test.h
  Framework/DataHandling/test/LoadPSIMuonBinTest.h
  Framework/Muon/inc/MantidMuon/MuonPreProcess.h
  Framework/Muon/src/MuonPreProcess.cpp
  Framework/Muon/test/MuonPreProcessTest.h
  Framework/TestHelpers/inc/MantidTestHelpers/MuonWorkspaceCreationHelper.h
  Framework/TestHelpers/src/MuonWorkspaceCreationHelper.cpp
  docs/source/algorithms/LoadMuonNexusV2-v1.rst
  docs/source/algorithms/MuonPreProcess-v1.rst
  docs/source/release/v6.0.0/muon.rst
Labels: ISIS Team: Spectroscopy, Muon

#30142 HB3AAdjustSampleNorm: Delete loaded file immediately after converting to MD
  Framework/PythonInterface/plugins/algorithms/HB3AAdjustSampleNorm.py
Labels: High Priority

#30143 Change the default to false
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
Labels: Diffraction, Powder

#30116 Muon Analysis - Fix Global Parameter Reset Bug
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/IqtFunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionModel.h
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/test/FunctionModelTest.h
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30135 MD Algorithm to convert from Q to HKL
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/ConvertQtoHKLMDHisto.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ConvertQtoHKLMDHistoTest.py
  Testing/Data/UnitTest/CORELLI_29782.nxs.md5
  Testing/Data/UnitTest/SingleCrystalDiffuseReduction_UB.mat.md5
  docs/source/algorithms/ConvertQtoHKLMDHisto-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30136 MD Algorithm to convert from Q to HKL ornl-next
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/ConvertQtoHKLMDHisto.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ConvertQtoHKLMDHistoTest.py
  Testing/Data/UnitTest/CORELLI_29782.nxs.md5
  Testing/Data/UnitTest/SingleCrystalDiffuseReduction_UB.mat.md5
  docs/source/algorithms/ConvertQtoHKLMDHisto-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30105 29205 change method and file names in Indirect Data Analysisfor consistency
  dev-docs/source/IndirectDataAnalysis file structure.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/FqFitAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/FqFitAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/FqFitAddWorkspaceDialog.ui
  qt/scientific_interfaces/Indirect/FqFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/FqFitDataPresenter.h
  qt/scientific_interfaces/Indirect/FqFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/FqFitDataTablePresenter.h
  qt/scientific_interfaces/Indirect/FqFitModel.cpp
  qt/scientific_interfaces/Indirect/FqFitModel.h
  qt/scientific_interfaces/Indirect/IIndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IIndirectFitRegion.h
  qt/scientific_interfaces/Indirect/IIndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Indirect/IndirectAddWorkspaceDialog.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisConvFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisConvFitTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisFqFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisFqFitTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtFitTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtTab.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisMSDFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisMSDFitTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutputModel.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/IqtFitModel.h
  qt/scientific_interfaces/Indirect/MSDFitModel.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/FqFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/FqFitModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectDataTablePresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputOptionsPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
Labels: ISIS Team: Spectroscopy

#30157 Fix DynamicKuboToyabe Function Crash
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/DynamicKuboToyabe.h
  Framework/CurveFitting/src/Functions/DynamicKuboToyabe.cpp
  docs/source/release/v6.0.0/muon.rst
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30069 Add option to exclude runs in the reflectometry GUI
  docs/source/images/ISISReflectometryInterface/runs_tab.png
  docs/source/images/ISISReflectometryInterface/search.png
  docs/source/images/ISISReflectometryInterface/transfer.png
  docs/source/images/ISISReflectometryInterface/workflow_plot.png
  docs/source/images/ISISReflectometryInterface/workflow_runs.png
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v6.0.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IMessageHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearchCriteria.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchCriteria.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchCriteria.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/CoderCommonTester.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MainWindowPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowView.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/QtCatalogSearcherTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/SavePresenterTest.h
Labels: ISIS Team: LSS, Reflectometry, Reported By User, Workbench

#30160 Indirect Fix Bayes ResNorm Crash when plotting current preview
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectPlotter.cpp
  qt/scientific_interfaces/Indirect/test/IndirectPlotterTest.h
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#30085 Support loading 1D plots from MantidPlot project files
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_errorbar_plots.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_logscale_plots.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_multiple_plots.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_multiple_workspaces.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_plot_with_multiple_lines.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_simple_plot.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_tiled_plots.mantid.md5
  Testing/Data/UnitTest/project_load/Mantidplot/mantidplot_project_workspace_group.mantid.md5
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoveryloader.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/projectparser_mantidplot.py
  qt/python/mantidqt/project/projectreader.py
  qt/python/mantidqt/project/projectreader_mantidplot.py
  qt/python/mantidqt/project/projectreader_workbench.py
  qt/python/mantidqt/project/projectreaderinterface.py
  qt/python/mantidqt/project/test/test_projectloader.py
  qt/python/mantidqt/project/test/test_projectparser_mantidplot.py
Labels: ISIS Team: Core

#30165 Fixed problems in ISISIndirectBayesTest.QLWidthTest system test
  Testing/SystemTests/tests/framework/ISISIndirectBayesTest.py
Labels: Induction, Windows Only

#30151 HB3APredictPeaks and adjust HB3A workflow to work better with WorkspaceGroups
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/HB3AAdjustSampleNorm.py
  Framework/PythonInterface/plugins/algorithms/HB3AFindPeaks.py
  Framework/PythonInterface/plugins/algorithms/HB3AIntegratePeaks.py
  Framework/PythonInterface/plugins/algorithms/HB3APredictPeaks.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/ConvertQtoHKLMDHistoTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB3APredictPeaksTest.py
  Testing/SystemTests/tests/framework/HB3AWorkflowTests.py
  docs/source/algorithms/HB3AAdjustSampleNorm-v1.rst
  docs/source/algorithms/HB3AFindPeaks-v1.rst
  docs/source/algorithms/HB3AIntegratePeaks-v1.rst
  docs/source/algorithms/HB3APredictPeaks-v1.rst
  docs/source/diagrams/HB3AWorkflow.dot
  docs/source/images/HB3A_exp0724.png
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30164 Add new algorithm for SHELX76 constant wavelength format
  Framework/Crystal/inc/MantidCrystal/SaveHKL.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/SaveHKLCW.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/SaveHKLCWTest.py
  docs/source/algorithms/SaveHKLCW-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30173 Copy sample information in AlignAndFocusPowderFromFiles
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Testing/SystemTests/tests/framework/AlignAndFocusPowderFromFilesTest.py
  Testing/SystemTests/tests/framework/SNSPowderRedux.py
  docs/source/release/v6.0.0/diffraction.rst
Labels: Absorption Corrections, Diffraction

#30137 Enable LoadEventNexus multiperiod filtering of sample logs
  Framework/DataHandling/src/EventWorkspaceCollection.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  dev-docs/source/SampleLogsDev.rst
  dev-docs/source/index.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: ISIS Team: Core

#30133 Indirect - Save Custom Detector Grouping to XML
  Framework/Algorithms/inc/MantidAlgorithms/CreateGroupingWorkspace.h
  Framework/Algorithms/src/CreateGroupingWorkspace.cpp
  Framework/Algorithms/test/CreateGroupingWorkspaceTest.h
  Framework/DataHandling/src/GroupDetectors2.cpp
  docs/source/algorithms/CreateGroupingWorkspace-v1.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.h
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  scripts/Inelastic/IndirectReductionCommon.py
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#30102 Add a threshold to reciprocal lattice calculations in UnitCell
  Framework/Geometry/src/Crystal/UnitCell.cpp
  Testing/SystemTests/tests/framework/LoadCIFTest.py
Labels: Added during Sprint, ISIS Team: Core

#30109 PhaseQuad integration
  docs/source/interfaces/muon_phase_table_tab.rst
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/ADS_calls.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/data_analysis_context.py
  scripts/Muon/GUI/Common/contexts/frequency_domain_analysis_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector_view.py
  scripts/Muon/GUI/Common/muon_base_pair.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/muon_phasequad.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/muon_phases_tab.ui
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_view.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_view_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/fitting_tab_widget/workspace_selector_dialog_presenter_test.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_context_with_frequency_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/utilities/muon_base_pair_test.py
  scripts/test/Muon/utilities/muon_phasequad_test.py
  scripts/test/Muon/workspaceNaming_test.py
Labels: ISIS Team: Spectroscopy

#30079 Fix Double Click of Ragged workspaces
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/test/CompositeFunctionTest.h
  Framework/Algorithms/test/RebinByTimeBaseTest.h
  Framework/DataObjects/inc/MantidDataObjects/EventWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/Workspace2D.h
  Framework/DataObjects/inc/MantidDataObjects/WorkspaceSingleValue.h
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/DataObjects/src/Workspace2D.cpp
  Framework/DataObjects/test/EventWorkspaceTest.h
  Framework/DataObjects/test/Workspace2DTest.h
  Framework/DataObjects/test/WorkspaceSingleValueTest.h
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/plugins/algorithms/PearlMCAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadDNSLegacyTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadGudrunOutputTest.py
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
  Testing/SystemTests/tests/framework/AlignAndFocusPowderFromFilesTest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/utils/testing/mocks/mock_mantid.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/table_view_model.py
  scripts/Diffraction/isis_powder/test/ISISPowderCommonTest.py
Labels: Bug, ISIS Team: Core

#30174 Add utils module in python interface
  Framework/PythonInterface/mantid/utils/__init__.py
  Framework/PythonInterface/mantid/utils/_utils.py
Labels: Framework

#29980 Slice Viewer ADS Observer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/utils/qt/testing/qt_widget_finder.py
  qt/python/mantidqt/widgets/sliceviewer/adsobsever.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core, Workbench

#30180 Muon Analysis - Prevent errors when TF Asymmetry mode ticked
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#29942 Add Alpha (Balance Parameter) To ALC Interface
  Framework/Muon/inc/MantidMuon/PlotAsymmetryByLogValue.h
  Framework/Muon/src/PlotAsymmetryByLogValue.cpp
  docs/source/images/MuonALCDataLoading.png
  docs/source/interfaces/Muon ALC.rst
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/test/ALCDataLoadingPresenterTest.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/PlotAsymmetryByLogValueDialog.ui
  qt/widgets/plugins/algorithm_dialogs/src/PlotAsymmetryByLogValueDialog.cpp
Labels: ISIS Team: Spectroscopy, Muon

#30126 Remove python 2/3 compatibility code from bindings
  Framework/PythonInterface/mantid/api/src/Exports/IPeaksWorkspace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/SpectrumInfoPythonIterator.cpp
  Framework/PythonInterface/mantid/kernel/src/kernel.cpp.in
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: Maintenance

#30141 D7 YIG bank offset correction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibrationTest.py
  Testing/Data/UnitTest/ILL/D7/394882.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396831.nxs.md5
  Testing/Data/UnitTest/ILL/D7/403041.nxs.md5
  Testing/SystemTests/tests/framework/D7YIGPositionCalibrationTest.py
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
Labels: Bug, ILL Team

#30181 Fix Crash In MA When Pressing Clear All And Try To Simul Fit
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_view.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/Transform/transform_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30125 Make MantidPlot opt in for new builds
  CMakeLists.txt
Labels: Framework

#30161 Fix plot script generation for Bin plots
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/lines.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorlines.py
Labels: Bug, ISIS Team: Core, Workbench

#30162 Fixes For Co-Add Problems In MA
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/data_analysis_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_model.py
  scripts/test/Muon/ADSHandler/workspace_naming_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30167 Easier method of removing curves from plots
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/curves_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: ISIS Team: Core, Workbench

#30195 LoadLamp: fix parameter loading into sample logs
  Framework/PythonInterface/plugins/algorithms/LoadLamp.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadLampTest.py
  Testing/Data/UnitTest/ILL/LAMP/D1B_2D_Export.hdf.md5
  docs/source/release/v6.0.0/framework.rst
Labels: Bug, ILL Team

#30212 Generate cppcheck suppressions based on ENABLE_MANTIDPLOT
  buildconfig/CMake/CppCheckSetup.cmake
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: Added during Sprint, ISIS Team: Core

#30208 Fixes CSS styling in built-in help macOS
  qt/widgets/common/src/pqHelpWindow.cxx
Labels: Bug, ISIS Team: Core, macOS Only

#30220 Add requiredMemory check to AlignAndFocusPowderFromFiles.ChunkingCompare.
  Testing/SystemTests/tests/framework/AlignAndFocusPowderFromFilesTest.py
Labels: Added during Sprint, ISIS Team: Core

#30205 Fill in missing info from sample logs
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Testing/SystemTests/tests/framework/SNSPowderRedux.py
  docs/source/release/v6.0.0/diffraction.rst
Labels: Absorption Corrections, Diffraction, Powder

#30211 MaxEnt in FDA crash
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
Labels: Added during Sprint, High Priority, ISIS Team: Spectroscopy

#30224 Fix install location for mantid for macOS bundle
  Framework/PythonInterface/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
Labels: macOS Only

#30127 Bug in date/time loading
  Framework/DataHandling/src/LoadParameterFile.cpp
Labels: Bug

#30200 Sliceviewer exception when zooming in
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
Labels: High Priority, ISIS Team: Core

#30202 Print missing mask files instead of blank line
  docs/source/release/v6.0.0/sans.rst
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/algorithm_detail/mask_workspace_test.py
Labels: Bug, ISIS Team: LSS, SANS

#30213 Indirect Save Detector Grouping in default directory.
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#30230 Update Plot In MA/FDA When Rebin Changed
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: ISIS Team: Spectroscopy, Muon

#30231 Fix Engg system test on non-Windows/RHEL7 platforms
  Testing/SystemTests/tests/framework/EnggCalibrationTest.py
Labels: Added during Sprint, High Priority, ISIS Team: Core

#30232 Set projections below 1e-10 to 0 in BinMD calls
  Framework/MDAlgorithms/src/MDNorm.cpp
Labels: Added during Sprint, High Priority, ISIS Team: Core

#30089 Xray absorption correction Algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/XrayAbsorptionCorrection.h
  Framework/Algorithms/src/XrayAbsorptionCorrection.cpp
  Framework/Algorithms/test/XrayAbsorptionCorrectionTest.h
  Framework/DataHandling/inc/MantidDataHandling/ReadMaterial.h
  Framework/DataHandling/src/ReadMaterial.cpp
  Framework/DataHandling/src/SetSampleMaterial.cpp
  Framework/Kernel/inc/MantidKernel/AttenuationProfile.h
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/inc/MantidKernel/MaterialBuilder.h
  Framework/Kernel/src/AttenuationProfile.cpp
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/src/MaterialXMLParser.cpp
  Testing/Data/DocTest/Gold_Xray_Absorption_Coefficient.dat.md5
  docs/source/algorithms/XrayAbsorptionCorrection-v1.rst
  docs/source/concepts/Materials.rst
  docs/source/release/v6.0.0/muon.rst
Labels: Absorption Corrections, ISIS Team: Spectroscopy, Muon

#30242 Delay sliceviewer refresh from ADS update
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Added during Sprint, ISIS Team: Core

#30218 Fix 0 / False vals being defaulted isis sans
  docs/source/release/v6.0.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/model_common.py
  scripts/SANS/sans/gui_logic/models/settings_adjustment_model.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/presenter_common.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/settings_adjustment_presenter.py
  scripts/test/SANS/gui_logic/model_common_test.py
  scripts/test/SANS/gui_logic/model_tests/settings_adjustment_model_test.py
  scripts/test/SANS/gui_logic/presenter_tests/presenter_common_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Bug, ISIS Team: LSS, SANS

#30216 Fix ISIS SANS Fitting not doing anything
  docs/source/release/v6.0.0/sans.rst
  scripts/SANS/sans/gui_logic/models/model_common.py
  scripts/SANS/sans/gui_logic/models/settings_adjustment_model.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/settings_adjustment_presenter.py
Labels: Bug, ISIS Team: LSS, SANS

#30252 CorelliPowderCalibrationCreate accepts MatrixWorkspaces
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  scripts/corelli/calibration/powder.py
Labels: Diffraction, Powder
