Repository mantidproject/mantid, pull requests merged in 2020-07, with the labels that each got.

#28922 ILL SANS change properties to strings
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
Labels: ILL Team: All, SANS

#28952 Fix workbench launchscripts for windows package
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/Packaging/launch_workbench.ps1.in
Labels: High Priority, Workbench

#28931 Fix CTRQ performance test regression
  Framework/Reflectometry/test/ConvertToReflectometryQTest.h
Labels: ISIS Team: LSS, Reflectometry

#28918 Abins: remove unnecessary check on parameters dict when testing data loaders
  docs/source/concepts/AbinsImplementation.rst
  scripts/abins/input/tester.py
  scripts/abins/parameters.py
Labels: ISIS Team: Spectroscopy, Maintenance, Python

#28951 Fix typo in install rename command
  Framework/PythonInterface/plugins/CMakeLists.txt
Labels: High Priority, ISIS Team: CoreTeam, macOS Only

#28939 MantidPython and Notebook remove and add Docs
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/Packaging/osx/MantidNotebook_osx_launcher
  buildconfig/CMake/Packaging/osx/MantidPython_osx_launcher
  buildconfig/CMake/Packaging/osx/mantidnotebook_Info.plist
  buildconfig/CMake/Packaging/osx/mantidpython_Info.plist
  docs/source/concepts/PythonNotebook.rst
  installers/MacInstaller/CMakeDMGSetup.scpt
Labels: Documentation, macOS Only

#28740 Add output options to ConvFit
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  Framework/CurveFitting/test/Algorithms/ConvolutionFitSequentialTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IqtFitSequentialTest.py
  docs/source/algorithms/ExtractQENSMembers-v1.rst
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.cpp
Labels: Added during Sprint, ISIS Team: Spectroscopy

#28959 Add Ubuntu 20.04 build dependencies list
  dev-docs/source/GettingStarted.rst
Labels: Documentation, ISIS Team: CoreTeam

#28963 Fix crash when switching backgrounds in ConvFit tab of indirect GUI
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/widgets/common/src/FunctionModel.cpp
Labels: Bug, ISIS Team: Spectroscopy

#28956 Speed up function template browsers in indirect analysis GUI
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IIndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
Labels: ISIS Team: Spectroscopy

#28972 Re #28920 - Fix norm runs for LRReductionWithReference
  Framework/PythonInterface/plugins/algorithms/LRReductionWithReference.py
Labels: Framework, Reflectometry

#28923 Update introduction to python documentation
  docs/source/tutorials/introduction_to_python/more_sequence_types.rst
  docs/source/tutorials/introduction_to_python/solutions_to_exercises.rst
  docs/source/tutorials/introduction_to_python/working_with_files.rst
Labels: Documentation, Easy

#28936 Add Debug option for polaris create pdf
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Diffraction, ISIS Team: Diffraction, Total Scattering

#28958 Make PaalmanPingsMonteCarloAbsorption work for elastic datasets
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorptionTest.py
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
Labels: Absorption Corrections, ISIS Team: Diffraction

#28912 Allow convolutions of composite functions
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/Convolution.h
  Framework/CurveFitting/src/Functions/Convolution.cpp
  Framework/CurveFitting/test/Functions/ConvolutionTest.h
  docs/source/release/v5.1.0/framework.rst
Labels: ISIS Team: CoreTeam

#28973 Plot raw data after a fit in Indirect Data Analysis Interface
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#28983 Add reverse reverse colourmap for sliceviewer
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/colorbar/colorbar.py
Labels: ISIS Team: CoreTeam, Workbench

#28993 Use UNIX epoch instead of throwing error if offset attribute is not found in nexus file
  Framework/DataHandling/src/LoadEventNexus.cpp
Labels: Easy, Framework

#28875 possibility to accumulate log messages
  Framework/Kernel/inc/MantidKernel/Logger.h
  Framework/Kernel/inc/MantidKernel/ThreadSafeLogStream.h
  Framework/Kernel/src/Logger.cpp
  Framework/Kernel/src/ThreadSafeLogStream.cpp
  Framework/Kernel/test/LoggerTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/Logger.cpp
  Framework/PythonInterface/test/python/mantid/kernel/LoggerTest.py
Labels: Framework

#28929 Support rotations and translations in LoadSampleShape
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadAsciiStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadBinaryStl.h
  Framework/DataHandling/inc/MantidDataHandling/LoadOff.h
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleShape.h
  Framework/DataHandling/inc/MantidDataHandling/LoadSingleMesh.h
  Framework/DataHandling/inc/MantidDataHandling/LoadStl.h
  Framework/DataHandling/src/LoadAsciiStl.cpp
  Framework/DataHandling/src/LoadBinaryStl.cpp
  Framework/DataHandling/src/LoadOff.cpp
  Framework/DataHandling/src/LoadSampleEnvironment.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/src/LoadSingleMesh.cpp
  Framework/DataHandling/src/SampleEnvironmentSpecParser.cpp
  Framework/DataHandling/test/LoadAsciiStlTest.h
  Framework/DataHandling/test/LoadBinaryStlTest.h
  Framework/DataHandling/test/LoadSampleShapeTest.h
  Framework/DataHandling/test/MeshFileIOTest.h
  Framework/DataHandling/test/SaveSampleEnvironmentAndShapeTest.h
  Framework/DataHandling/test/SaveStlTest.h
  Testing/Data/UnitTest/cylinderOffsetZ.stl.md5
  docs/source/algorithms/LoadSampleShape-v1.rst
  docs/source/release/v5.1.0/framework.rst
  instrument/sampleenvironments/ISIS/Pearl.xml
  instrument/sampleenvironments/ISIS/Sample.stl
  instrument/sampleenvironments/ISIS/SampleRotatedAndTranslatedToOrigin.stl
Labels: Absorption Corrections, ISIS Team: Diffraction

#28675 Add support for non-periodic systems to DMOL3 Abins parser
  Testing/Data/UnitTest/methane_LoadDMOL3.outmol.md5
  Testing/Data/UnitTest/methane_LoadDMOL3_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/methane_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/methane_opt_LoadDMOL3.outmol.md5
  Testing/Data/UnitTest/methane_opt_LoadDMOL3_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/methane_opt_LoadDMOL3_data.txt.md5
  docs/source/release/v5.1.0/indirect_geometry.rst
  scripts/abins/input/dmol3loader.py
  scripts/abins/input/textparser.py
  scripts/test/Abins/AbinsLoadDMOL3Test.py
Labels: Bug, ISIS Team: Spectroscopy

#28989 Minor dgsplanner fixes
  Framework/MDAlgorithms/src/MDNorm.cpp
  scripts/DGSPlanner/DimensionSelectorWidget.py
Labels: Bug, Direct Inelastic, Plotting

#28980 Sliceviewer sub-plots follow image scaling
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28930 Add apply to all button to plot axes properties
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/workbench/plotwindow.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
Labels: ISIS Team: CoreTeam, Plotting, Workbench

#28965 Add notebook back to macOS bundle
  installers/MacInstaller/make_package.rb
  installers/MacInstaller/requirements-workbench.txt
  installers/MacInstaller/requirements.txt
Labels: ISIS Team: CoreTeam, macOS Only

#28978 Fix performance tests
  Framework/DataHandling/test/InstrumentRayTracerTest.h
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Framework/TestHelpers/src/ComponentCreationHelper.cpp
Labels: Added during Sprint, ISIS Team: CoreTeam

#28995 Suppress C++17 deprecation warnings on inheriting std::iterator
  buildconfig/CMake/MSVCSetup.cmake
  qt/applications/workbench/CMakeLists.txt
Labels: Added during Sprint, Framework, ISIS Team: CoreTeam, Windows Only

#28928 28927 ill d7 signed two theta
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Testing/Data/UnitTest/ILL/D7/394458.nxs.md5
  instrument/D7_Definition.xml
Labels: ILL Team: All

#28967 Add fit output status to Indirect Data Analysis fitting tabs
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  docs/source/algorithms/PlotPeakByLogValue-v1.rst
  docs/source/algorithms/QENSFitSequential-v1.rst
  docs/source/algorithms/QENSFitSimultaneous-v1.rst
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/FitStatusWidget.cpp
  qt/scientific_interfaces/Indirect/FitStatusWidget.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
Labels: ISIS Team: Spectroscopy

#28953 Lazily Generate Python Algorithm Function Signatures and DocStrings
  Framework/PythonInterface/mantid/api/_workspaceops.py
  Framework/PythonInterface/mantid/kernel/funcinspect.py
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/test/python/mantid/SimpleAPITest.py
  MantidPlot/test/MantidPlotPythonImportTest.py
  docs/source/release/v5.1.0/framework.rst
  qt/python/mantidqt/widgets/codeeditor/completion.py
Labels: Framework, ISIS Team: CoreTeam, ISIS Team: Diffraction

#28807 Stitching tab for ORNL SANS
  docs/source/release/v5.1.0/sans.rst
  qt/python/mantidqt/plotting/markers.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Shape2D.h
  qt/widgets/instrumentview/src/Shape2D.cpp
  scripts/Interface/reduction_gui/instruments/eqsans_interface_dev.py
  scripts/Interface/reduction_gui/instruments/hfir_interface_dev.py
  scripts/Interface/reduction_gui/widgets/sans/stitcher.py
  scripts/Interface/ui/CMakeLists.txt
  scripts/LargeScaleStructures/data_stitching.py
Labels: SANS, Workbench

#28969 Fix figure options image tab settings for ws with numeric axis
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: Bug, ISIS Team: CoreTeam, Workbench

#29003 Fix doctests/packaging for Python 3.8
  docs/source/algorithms/Pause-v1.rst
  docs/source/algorithms/StripVanadiumPeaks-v2.rst
  installers/MacInstaller/make_package.rb
Labels: Added during Sprint, Documentation, High Priority, ISIS Team: CoreTeam

#29013 Unit tests ununtu 20 04
  scripts/test/MultiPlotting/CMakeLists.txt
  scripts/test/Muon/CMakeLists.txt
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/model_tests/CMakeLists.txt
Labels: Unit Tests, Workbench

#29014 Pick off a couple more unreliable tests
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorptionTest.py
Labels: Added during Sprint, Framework, ISIS Team: CoreTeam

#29009 Reset peak HKL if outside tolerance in IndexPeaks
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/test/IndexPeaksTest.h
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction, Single Crystal

#28979 Improve the error calculation in MonteCarloAbsorption
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCAbsorptionStrategy.h
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartTranslated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorbRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeRotatedAbsorbEnvironment.nxs.md5
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_annulus.nxs.md5
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_cylinder.nxs.md5
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_flat_plate.nxs.md5
  docs/source/algorithms/MonteCarloAbsorption-v1.rst
  docs/source/release/v5.1.0/framework.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#28863 Update muon training course
  docs/source/images/datafittingfig37.gif
  docs/source/images/datareductionfig14.gif
  docs/source/images/datareductionfig15.gif
  docs/source/images/gettingstartedfig1.png
  docs/source/images/gettingstartedfig2.png
  docs/source/images/gettingstartedfig3.gif
  docs/source/images/othermantidfunctionsfig10.gif
  docs/source/images/othermantidfunctionsfig11.gif
  docs/source/images/othermantidfunctionsfig12.gif
  docs/source/images/thetabsfittingfig24.png
  docs/source/images/thetabsfittingfig25.gif
  docs/source/images/thetabsfittingfig26.gif
  docs/source/images/thetabsfittingfig27.png
  docs/source/images/thetabsfittingfig28.gif
  docs/source/images/thetabsfittingfig29.png
  docs/source/images/thetabsfittingfig30.gif
  docs/source/images/thetabsfittingfig31.gif
  docs/source/images/thetabsgroupingfig18.png
  docs/source/images/thetabsgroupingfig20.gif
  docs/source/images/thetabsgroupingfig21.gif
  docs/source/images/thetabsgroupingfig22.gif
  docs/source/images/thetabsgroupingfig23.gif
  docs/source/images/thetabshomefig16.gif
  docs/source/images/thetabshomefig17.gif
  docs/source/images/thetabsresultsfig32.png
  docs/source/images/thetabsresultsfig33.gif
  docs/source/images/thetabsresultsfig34.gif
  docs/source/tutorials/muon_GUI_course/basics_of_data_reductions.rst
  docs/source/tutorials/muon_GUI_course/data_fitting.rst
  docs/source/tutorials/muon_GUI_course/getting_started.rst
  docs/source/tutorials/muon_GUI_course/index.rst
  docs/source/tutorials/muon_GUI_course/other_mantid_functions.rst
  docs/source/tutorials/muon_GUI_course/the_tabs.rst
  docs/source/tutorials/muon_GUI_course/the_tabs_fitting.rst
  docs/source/tutorials/muon_GUI_course/the_tabs_grouping.rst
  docs/source/tutorials/muon_GUI_course/the_tabs_home.rst
  docs/source/tutorials/muon_GUI_course/the_tabs_results.rst
Labels: ISIS Team: Spectroscopy, Muon

#29011 Delay Initialization of Code Editor Algorithm Tooltips
  Framework/PythonInterface/mantid/api/src/Exports/IAlgorithm.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/completion.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_completion.py
Labels: ISIS Team: CoreTeam, ISIS Team: Diffraction, Python, Workbench

#29019 Use stable sys.platform over platform.platform
  Testing/SystemTests/tests/analysis/GUIStartupTest.py
Labels: Added during Sprint, ISIS Team: CoreTeam, System Tests, macOS Only

#29020 Pick off a couple of unreliable tests
  Framework/LiveData/test/StartLiveDataTest.h
  scripts/test/ReductionWrapperTest.py
Labels: Added during Sprint, ISIS Team: CoreTeam

#28981 Add MSD fit parameter estimation to Indirect Data Analysis GUI
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/FunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IDAFunctionParameterEstimation.cpp
  qt/scientific_interfaces/Indirect/IDAFunctionParameterEstimation.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/IqtTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/IqtTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.h
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/ParameterEstimation.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IDAFunctionParameterEstimationTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#28994 Disable ConvFit plot guess checkbox if no resolution file loaded
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29023 Corrections to PythonInMantid
  docs/source/algorithms/MultiplyRange-v1.rst
  docs/source/tutorials/mantid_basic_course/using_MantidPlot/03_differences.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/07_pim_ex_1.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/08_pim_ex_4.rst
  docs/source/tutorials/python_in_mantid/plotting/02_scripting_plots.rst
  docs/source/tutorials/python_in_mantid/plotting/03_pim_ex_3.rst
  docs/source/tutorials/python_in_mantid/script_generation/04_pim_ex_2.rst
  docs/source/tutorials/python_in_mantid/solutions/01_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/02_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/03_pim_sol.rst
Labels: ISIS Team: CoreTeam

#29030 Correct return type in sip declaration
  MantidPlot/src/qti.sip
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam

#28968 Update FDA plotting and fitting
  docs/source/release/v5.1.0/muon.rst
  scripts/Frequency_Domain_Analysis.py
  scripts/Muon/GUI/Common/contexts/data_analysis_context.py
  scripts/Muon/GUI/Common/contexts/frequency_domain_analysis_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_gui_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_widget_view.ui
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_context.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/Muon_Analysis.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_context_with_frequency_test.py
  scripts/test/Muon/plot_widget/plot_widget_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29045 Avoid changing behaviour of __round__ in numpy 1.19 in doc tests
  docs/source/algorithms/ComputeCalibrationCoefVan-v1.rst
  docs/source/algorithms/CropWorkspaceForMDNorm-v1.rst
Labels: Added during Sprint, Documentation, ISIS Team: CoreTeam

#29039 Prevent workbench settings appearing off screen
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/python/mantidqt/utils/qt/__init__.py
Labels: ISIS Team: CoreTeam, Workbench

#28945 Add lower bound to Delta function in Indirect data analysis
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.cpp
  qt/widgets/common/src/ConvolutionFunctionModel.cpp
  qt/widgets/common/test/ConvolutionFunctionModelTest.h
Labels: ISIS Team: Spectroscopy

#29038 Raw data bugs in muon analysis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/plot_widget/plot_widget_presenter_test.py
  scripts/test/Muon/workspaceNaming_test.py
Labels: ISIS Team: Spectroscopy

#28971 Add a sector shape to the instrument viewer
  docs/source/images/MaskTabToolButtons.png
  docs/source/images/PickTabSectorButton.png
  docs/source/images/PickTabToolButtons.png
  docs/source/images/instrument_view_sector.png
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/03_investigating_data.rst
  images/instrumentview.qrc
  images/selection-sector.png
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetDecoder.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetEncoder.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetMaskTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Shape2D.h
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/Shape2D.cpp
  qt/widgets/instrumentview/src/Shape2DCollection.cpp
Labels: Workbench

#29004 Remove reversible masking
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ClearMaskedSpectra.h
  Framework/Algorithms/inc/MantidAlgorithms/MaskDetectorsIf.h
  Framework/Algorithms/inc/MantidAlgorithms/MaskInstrument.h
  Framework/Algorithms/src/ClearMaskedSpectra.cpp
  Framework/Algorithms/src/MaskDetectorsIf.cpp
  Framework/Algorithms/src/MaskInstrument.cpp
  Framework/Algorithms/test/ClearMaskedSpectraTest.h
  Framework/Algorithms/test/MaskDetectorsIfTest.h
  Framework/DataHandling/inc/MantidDataHandling/MaskDetectors.h
  Framework/WorkflowAlgorithms/src/AlignAndFocusPowder.cpp
  docs/source/algorithms/ClearMaskedSpectra-v1.rst
  docs/source/algorithms/MaskDetectorsIf-v1.rst
  docs/source/algorithms/MaskInstrument-v1.rst
  docs/source/concepts/Algorithm.rst
  docs/source/release/v5.1.0/framework.rst
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
Labels: Framework, ISIS Team: CoreTeam

#29044 Minor change to give newly added script tabs focus
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
Labels: ISIS Team: CoreTeam, Workbench

#29047 Add Core Unscripted Testing
  dev-docs/source/Testing/Core/Core.rst
Labels: Documentation, ISIS Team: CoreTeam

#28982 Allow composite functions and TF Asymmetry in DoublePulseFit
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/DoublePulseFit.h
  Framework/CurveFitting/src/Algorithms/DoublePulseFit.cpp
  Framework/CurveFitting/test/Algorithms/DoublePulseFitTest.h
  Framework/Muon/src/CalculateMuonAsymmetry.cpp
  Framework/Muon/test/CalculateMuonAsymmetryTest.h
  docs/source/algorithms/CalculateMuonAsymmetry-v1.rst
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/CMakeLists.txt
  scripts/test/CalculateMuonAsymmetryTest.py
  scripts/test/DoublePulseFitTest.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29050 Muon Analysis bug fixes
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29052 Add Setting for Default Font on New Plots
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/plots/model.py
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
Labels: ISIS Team: Core, Workbench

#29051 Add F(q) default parameter estimations
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/FQFitConstants.h
  qt/scientific_interfaces/Indirect/IDAFunctionParameterEstimation.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29055 Colour fill plots fail on workspaces of monitors
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/functions.py
Labels: Bug, ISIS Team: Core

#28962 Add region/cut selection tool to the slice viewer
  Framework/Algorithms/inc/MantidAlgorithms/ExtractSpectra.h
  Framework/Algorithms/src/ExtractSpectra.cpp
  Framework/Algorithms/test/CropWorkspaceTest.h
  Framework/Algorithms/test/ExtractSpectraTest.h
  Framework/Muon/test/MuonPreProcessTest.h
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/ExtractSharedPtr.h
  Framework/PythonInterface/mantid/api/src/Exports/Axis.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MDGeometry.cpp
  docs/source/algorithms/CropWorkspace-v1.rst
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/utils/testing/compare.py
  qt/python/mantidqt/widgets/sliceviewer/cursortracker.py
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/imageinfowidget.py
  qt/python/mantidqt/widgets/sliceviewer/lineplots.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/roi.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_cursortracker.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_lineplots.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/widgets/common/inc/MantidQtWidgets/Common/IImageInfoWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMD.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMatrixWS.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoWidget.h
  qt/widgets/common/src/ImageInfoModel.cpp
  qt/widgets/common/src/ImageInfoModelMD.cpp
  qt/widgets/common/src/ImageInfoModelMatrixWS.cpp
  qt/widgets/common/src/ImageInfoPresenter.cpp
  qt/widgets/common/src/ImageInfoWidget.cpp
  qt/widgets/common/test/ImageInfoModelMDTest.h
  qt/widgets/common/test/ImageInfoModelMatrixWSTest.h
  qt/widgets/common/test/ImageInfoPresenterTest.h
Labels: ISIS Team: Core, ISIS Team: Diffraction, Workbench

#29057 Update Muon loaders to load uncorrected time and multiple time zeros
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonNexusV2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonNexusV2Helper.h
  Framework/DataHandling/src/LoadMuonNexusV2.cpp
  Framework/DataHandling/src/LoadMuonNexusV2Helper.cpp
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  Framework/DataHandling/test/LoadMuonNexusV2Test.h
  Framework/DataHandling/test/LoadPSIMuonBinTest.h
  docs/source/algorithms/LoadMuonNexusV2-v1.rst
  docs/source/algorithms/LoadPSIMuonBin-v1.rst
  docs/source/release/v5.1.0/muon.rst
Labels: ISIS Team: Spectroscopy, Muon

#29093 Check for null box pointer due to rounding errors
  Framework/DataObjects/inc/MantidDataObjects/MDEventWorkspace.tcc
Labels: Added during Sprint, Framework, ISIS Team: Core
