Repository mantidproject/mantid, pull requests merged in 2020-09, with the labels that each got.

#29220 Add error calculation to interpolated points in absorption corrections
  Framework/Algorithms/inc/MantidAlgorithms/InterpolationOption.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/DetectorGridDefinition.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/SparseInstrument.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/SparseWorkspace.h
  Framework/Algorithms/src/InterpolationOption.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/DetectorGridDefinition.cpp
  Framework/Algorithms/src/SampleCorrections/SparseWorkspace.cpp
  Framework/Algorithms/test/DetectorGridDefinitionTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Framework/Algorithms/test/SparseWorkspaceTest.h
  Framework/HistogramData/inc/MantidHistogramData/HistogramE.h
  Framework/HistogramData/inc/MantidHistogramData/Interpolate.h
  Framework/HistogramData/src/Interpolate.cpp
  Framework/HistogramData/test/InterpolateTest.h
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  docs/source/algorithms/MonteCarloAbsorption-v1.rst
  docs/source/release/v5.1.0/framework.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#29250 SliceViewer: Cut plot line width reduction
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/lineplots.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_lineplots.py
Labels: ISIS Team: Core, Workbench

#29252 Reduce invalid logs messages on loading a nexus file to one per file.
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusLogs.h
  Framework/DataHandling/src/LoadNexusLogs.cpp
Labels: Added during Sprint, Framework, ISIS Team: Core

#28331 Add Bk2BkExpConvPV documentation
  Framework/CurveFitting/src/Functions/Bk2BkExpConvPV.cpp
  docs/source/fitting/fitfunctions/Bk2BkExpConvPV.rst
Labels: Documentation, Maintenance

#29173 Handle incorrect batch file loading
  docs/source/release/v5.1.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/command_interface/batch_csv_parser.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
Labels: Bug, ISIS Team: LSS, SANS

#29189 Create circular beam profile
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/CircularBeamProfile.h
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/CircularBeamProfile.cpp
  Framework/Algorithms/test/AddAbsorptionWeightedPathLengthsTest.h
  Framework/Algorithms/test/CircularBeamProfileTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Framework/DataHandling/src/SetBeam.cpp
  Framework/DataHandling/test/SetBeamTest.h
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_annulus.nxs.md5
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_cylinder.nxs.md5
  Testing/SystemTests/tests/analysis/reference/irs_PP_MC_flat_plate.nxs.md5
  docs/source/release/v5.1.0/diffraction.rst
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
Labels: Absorption Corrections, Diffraction, Induction 2

#29234 Add warnings of non existent periods
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_view.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29224 Fix to allow 'Show Error Bars' checkbox in plot dialog to work before indices input
  qt/python/mantidqt/dialogs/spectraselectordialog.py
Labels: ISIS Team: Core, Induction 2, Workbench

#29226 Fix empty workspace name error in FDA transform tab
  scripts/Muon/GUI/Common/contexts/frequency_domain_analysis_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/test/Muon/fft_presenter_context_interaction_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#29239 Improvements to SaveReflectometryAscii
  Framework/DataHandling/inc/MantidDataHandling/SaveReflectometryAscii.h
  Framework/DataHandling/src/SaveReflectometryAscii.cpp
  Framework/DataHandling/test/SaveReflectometryAsciiTest.h
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Framework, ISIS Team: LSS, Reflectometry

#29232 Use Jemalloc on Linux
  CMakeLists.txt
  buildconfig/CMake/FindJemallocLib.cmake
  buildconfig/CMake/FindTcmalloc.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/LinuxSetup.cmake
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
  buildconfig/CMake/Packaging/mantidpython.in
  buildconfig/dev-packages/deb/mantid-developer/ns-control
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: ILL Team, Linux Only

#29245 Add canvas color to figure axes options
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/colorselector.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: ISIS Team: Core

#29257 Update view on wheel zoom
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/instrumentview/src/Projection3D.cpp
Labels: Bug, ILL Team, Workbench

#29191 Eng Diff UI load and average logs when loading runs
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_view.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_widget.ui
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29279 Fix Bayes->Quasi Plotting bug
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/Quasi.cpp
Labels: Indirect Inelastic

#29185 Change PlotAsymmetryByLogValue To Accept Range Of Runs As Input
  Framework/Muon/inc/MantidMuon/PlotAsymmetryByLogValue.h
  Framework/Muon/src/PlotAsymmetryByLogValue.cpp
  Framework/Muon/test/PlotAsymmetryByLogValueTest.h
  docs/source/algorithms/PlotAsymmetryByLogValue-v1.rst
  docs/source/release/v5.1.0/muon.rst
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/PlotAsymmetryByLogValueDialog.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/PlotAsymmetryByLogValueDialog.ui
  qt/widgets/plugins/algorithm_dialogs/src/PlotAsymmetryByLogValueDialog.cpp
Labels: ISIS Team: Spectroscopy, Induction 2

#29228 Open Recent Scripts in workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/utils/recentlyclosedscriptsmenu.py
  qt/applications/workbench/workbench/utils/test/test_recentlyclosedscriptsmenu.py
  qt/python/mantidqt/widgets/codeeditor/multifileinterpreter.py
Labels: ISIS Team: Core, Workbench

#29268 Absorption Correction Concept Page Updates
  docs/source/concepts/AbsorptionAndMultipleScattering.rst
  docs/source/concepts/SampleEnvironment.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#29246 Updated Chronus TF detector groupings
  Framework/DataHandling/test/LoadMuonNexus1Test.h
  docs/source/release/v5.1.0/muon.rst
  instrument/Grouping/CHRONUS_Detector_Grouping_TF.xml
  instrument/Grouping/CHRONUS_Detector_Grouping_TF_old.xml
Labels: ISIS Team: Spectroscopy, Muon

#29266 Sliceviewer: Capture arrow keys to move cursor while line plotting
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/cursor.py
  qt/python/mantidqt/widgets/sliceviewer/cursortracker.py
  qt/python/mantidqt/widgets/sliceviewer/lineplots.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_cursortracker.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_movemousecursor.py
Labels: Added during Sprint, ISIS Team: Core, Workbench

#29271 Added multi-domain function example
  docs/source/algorithms/PlotPeakByLogValue-v1.rst
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29274 Editable combo boxes for workspace selection
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/OptionsPropertyWidget.h
  qt/widgets/common/src/OptionsPropertyWidget.cpp
  qt/widgets/common/src/WorkspaceSelector.cpp
Labels: Workbench

#29267 Adding Vesuvio analysis
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/VesuvioAnalysis.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/VesuvioAnalysisTest.py
  Testing/Data/UnitTest/VESUVIO00038898.raw.md5
  Testing/Data/UnitTest/VESUVIO00038898_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038898_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038899.raw.md5
  Testing/Data/UnitTest/VESUVIO00038899_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038899_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038900.raw.md5
  Testing/Data/UnitTest/VESUVIO00038900_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038900_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038901.raw.md5
  Testing/Data/UnitTest/VESUVIO00038901_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038901_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038902.raw.md5
  Testing/Data/UnitTest/VESUVIO00038902_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038902_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038903.raw.md5
  Testing/Data/UnitTest/VESUVIO00038903_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038903_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038904.raw.md5
  Testing/Data/UnitTest/VESUVIO00038904_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038904_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038905.raw.md5
  Testing/Data/UnitTest/VESUVIO00038905_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038905_ICPputlog.txt.md5
  Testing/Data/UnitTest/VESUVIO00038906.raw.md5
  Testing/Data/UnitTest/VESUVIO00038906_ICPevent.txt.md5
  Testing/Data/UnitTest/VESUVIO00038906_ICPputlog.txt.md5
  Testing/Data/UnitTest/ip2018.par.md5
  docs/source/algorithms/VesuvioAnalysis-v1.rst
  docs/source/release/v5.1.0/indirect_geometry.rst
  scripts/Inelastic/vesuvio/analysisHelpers.py
Labels: ISIS Team: Spectroscopy

#29283 Include batch filename in CanSAS and NXcanSAS metadata
  Framework/DataHandling/inc/MantidDataHandling/NXcanSASDefinitions.h
  Framework/DataHandling/src/LoadCanSAS1D.cpp
  Framework/DataHandling/src/LoadNXcanSAS.cpp
  Framework/DataHandling/src/SaveCanSAS1D2.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCore.py
  docs/source/release/v5.1.0/sans.rst
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/StateObjects/StateSave.py
Labels: ISIS Team: LSS, SANS

#29322 Exclude TOML files from System Test
  Testing/SystemTests/tests/analysis/LoadLotsOfFiles.py
Labels: Bug

#29276 Fix Indirect Corrections Monte Carlo crash
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
Labels: Indirect Inelastic

#29272 Allow columns in sliceviewer peaks table to be sorted
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/tableworkspace_item.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_tableworkspace_item.py
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/workbench_table_widget_item.py
Labels: Diffraction, ISIS Team: Diffraction, Workbench

#29320 MA now has a checkbox for autoscale
  docs/source/release/v5.1.0/muon.rst
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/MultiPlotting/multi_plotting_widget.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plot_toolbar.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view_interface.py
Labels: ISIS Team: Spectroscopy

#29243 Remove First Last From ALC Interface And Replace With Single Runs Box
  Framework/Muon/inc/MantidMuon/PlotAsymmetryByLogValue.h
  Framework/Muon/src/PlotAsymmetryByLogValue.cpp
  docs/source/images/MuonALCDataLoading.png
  docs/source/interfaces/Muon ALC.rst
  docs/source/release/v5.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/test/ALCDataLoadingPresenterTest.h
Labels: ISIS Team: Spectroscopy, Induction 2, Muon

#29269 EngDiff UI Grey out Inspect Background button until usable
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#28512 Instrument view extensions
  docs/source/images/MaskTabToolButtons.png
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/04_masking_and_grouping.rst
  qt/python/mantidqt/widgets/instrumentview/test/test_instrumentview_io.py
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/CollapsiblePanel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetMaskTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/ProjectionSurface.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
  qt/widgets/instrumentview/src/XIntegrationControl.cpp
Labels: ILL Team, SANS, Workbench

#29282 Added Crystal Field Examples to Techniques Folder In Docs
  docs/source/images/FittingINSSpectrum.png
  docs/source/images/FittingMagneticSusceptibility.png
  docs/source/images/FittingMultipleINSSpectra_0.png
  docs/source/images/FittingMultipleINSSpectra_1.png
  docs/source/images/FittingMultipleINSSpectra_2.png
  docs/source/images/FittingWithResolutionFunction.png
  docs/source/techniques/CrystalField.rst
Labels: Documentation

#29351 Muon Interface Pretty XML Output for Grouping File
  scripts/Muon/GUI/Common/utilities/xml_utils.py
Labels: ISIS Team: Spectroscopy, Muon

#29357 Fixed bug that caused Muon pairs to crash when fitting
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
Labels: ISIS Team: Spectroscopy

#29340 Fix resizeDocks 0 value warning
  qt/applications/workbench/workbench/plotting/figuremanager.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: High Priority, Workbench

#29341 Workbench Segfault on exit when logger is debug
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/common/src/MessageDisplay.cpp
Labels: Workbench

#29209 Automatic stitching in SANSILLAutoProcess
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/analysis/reference/D11_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D11_AutoProcess_Wedges_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D33_AutoProcess_IPhiQ_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D33_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_D16_Gamma_Scan.nxs.md5
Labels: ILL Team, SANS

#29366 Fix Indirect Data Reduction OSIRIS crash
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#29335 Fix error reporter not launching on MantidPlot
  buildconfig/CMake/Packaging/launch_mantidplot.bat
  buildconfig/CMake/Packaging/osx/Mantid_osx_launcher.in
  qt/python/mantidqt/dialogs/errorreports/resources_qt4.py
Labels: High Priority, MantidPlot

#29373 Indirect update unscripted testing documentation
  dev-docs/source/Testing/IndirectInelastic/IndirectInelasticAcceptanceTests.rst
Labels: Documentation, ISIS Team: Spectroscopy, Indirect Inelastic, Maintenance

#29368 Fix a crash loading an old batch file in the reflectometry GUI
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
Labels: Bug, High Priority, ISIS Team: LSS, Reflectometry, Workbench

#29387 Fix issue with numpy.where tuple return
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
Labels: ISIS Team: Core

#29370 Ensure remove artists if is only called when present
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: High Priority, ISIS Team: Core, Workbench

#29363 Fix an exception exporting a batch in the SANS GUI
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Bug, High Priority, ISIS Team: LSS, SANS, Workbench

#29401 Add new NIMROD IDF to replace old NIM_Definition
  Framework/DataHandling/test/LoadInstrumentTest.h
  docs/source/release/v5.1.0/framework.rst
  instrument/NIMROD_Definition.xml
  instrument/NIM_Definition.xml
Labels: Framework, ISIS Team: Core

#29378 Remove comment from .desktop file to fix apps menu item in Ubuntu
  installers/LinuxInstaller/launcher-template.desktop.in
  tools/Copyright/copyrightupdate.py
Labels: ISIS Team: Diffraction, Linux Only

#29397 Sliceviewer fix lingering statusbar text
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core

#29406 Correct grammatical and spelling errors in sample documentation
  docs/source/concepts/Sample.rst
Labels: Documentation, ISIS Team: Core

#29359 Change generatePoint logic in CBP to ensure even distribution across disk
  Framework/Algorithms/src/SampleCorrections/CircularBeamProfile.cpp
  Framework/Algorithms/test/CircularBeamProfileTest.h
  docs/source/algorithms/SetBeam-v1.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#29436 Ensure DeadTime resets on Muon GUIs when instrument changes
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/test/Muon/home_instrument_widget_test.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#29427 Fixed issue with select data button enabling
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
Labels: Bug, ISIS Team: Spectroscopy

#29204 WedgeWorkspace support in SANSILLAutoProcess
  Framework/Kernel/inc/MantidKernel/Unit.h
  Framework/Kernel/src/Unit.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/analysis/reference/D11_AutoProcess_IQxQy_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D11_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D11_AutoProcess_Wedges_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D33_AutoProcess_IPhiQ_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D33_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_D16_Gamma_Scan.nxs.md5
  docs/source/algorithms/SANSILLAutoProcess-v1.rst
  docs/source/release/v5.1.0/sans.rst
  scripts/Interface/ui/drill/model/configurations.py
Labels: Bug, ILL Team, SANS

#29425 Update GettingStarted.rst with Visual Studio settings for machines with less than 32GB memory
  dev-docs/source/GettingStarted.rst
Labels: Documentation

#29434 Fix Y error labels in muon analysis results tables
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  docs/source/concepts/TableWorkspaces.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
Labels: Bug, ISIS Team: Spectroscopy

#29383 Fix project recovery progress bar
  qt/applications/workbench/workbench/projectrecovery/recoverygui/projectrecoverywidgetview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/recoveryfailureview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_projectrecoverywidgetview.py
  qt/applications/workbench/workbench/projectrecovery/recoverygui/test/test_recoveryfailureview.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter.py
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptEditor.h
  qt/widgets/common/src/ScriptEditor.cpp
Labels: ISIS Team: Core, Workbench

#29432 Fix OpenGL viewport size for 4K resolutions
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Projection3D.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Viewport.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/Projection3D.cpp
  qt/widgets/instrumentview/src/Viewport.cpp
Labels: ISIS Team: Core, Workbench

#29438 Added Clear All Memory Action To File Menu On Workbench
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/mainwindowtest.py
Labels: Found in Beta, Reported By User, Workbench

#29418 Fixed Bug with unselecting peak checkbox on elemental analysis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/ElementalAnalysis/PeriodicTable/PeakSelector/peak_selector_view.py
  scripts/test/Muon/elemental_analysis/peak_selector_view_test.py
Labels: ISIS Team: Spectroscopy, Reported By User

#29444 Add test for Larmor StateMove throwing if RB is None
  scripts/SANS/sans/state/StateObjects/StateMoveDetectors.py
  scripts/test/SANS/state/move_test.py
Labels: Bug, ISIS Team: LSS, SANS

#29448 Replace deprecated alg in sans
  scripts/SANS/sans/algorithm_detail/calibration.py
  scripts/SANS/sans/algorithm_detail/mask_workspace.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Bug, ISIS Team: LSS, SANS

#29445 Update A^-1 to A for wavelength step in SANS Settings
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Bug, ISIS Team: LSS, SANS

#29446 Fixed elemental analysis reload bug
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
Labels: Bug, ISIS Team: Spectroscopy

#29472 Update ConvertAxisByFormula docs to show trig functions need angle in radians
  docs/source/algorithms/ConvertAxisByFormula-v1.rst
Labels: ISIS Team: Core

#29426 Fix Muon Analysis TF asymmetry fitting crash
  Framework/Muon/src/ConvertFitFunctionForMuonTFAsymmetry.cpp
  Framework/Muon/test/ConvertFitFunctionForMuonTFAsymmetryTest.h
  docs/source/algorithms/ConvertFitFunctionForMuonTFAsymmetry-v1.rst
  docs/source/interfaces/muon_fitting_tab.rst
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy

#29452 Convert some values from metres to millimetres for display in SANS user interface
  scripts/Interface/ui/sans_isis/beam_centre.ui
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/models/settings_adjustment_model.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/presenter_common.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/gui_logic/presenter/settings_adjustment_presenter.py
  scripts/test/SANS/gui_logic/model_tests/settings_adjustment_model_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Bug, Found in Beta, High Priority, Reported By User, SANS, Workbench

#29450 Add W matrix for MDNorm output
  Framework/MDAlgorithms/src/MDNorm.cpp
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/release/v5.1.0/direct_geometry.rst
Labels: Direct Inelastic, Single Crystal, Workbench

#29458 Fix crash transferring run into empty group
  docs/source/release/v5.1.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.h
  qt/scientific_interfaces/test/ISISReflectometry/Reduction/GroupTest.h
Labels: Bug, ISIS Team: LSS, Reflectometry

#29437 ALC: Plot corrected data from latest fit only in base line modelling tab
  docs/source/release/v5.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
Labels: ISIS Team: Spectroscopy

#29413 Update input workspaces in fitproperty browser of EngDiff UI to stop exception
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_toolbar.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29431 Python3 requires key instead of cmp keyword
  Framework/PythonInterface/plugins/algorithms/LRDirectBeamSort.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/LRDirectBeamSortTest.py
  Testing/Data/UnitTest/REF_L_179926.nxs.h5.md5
  Testing/Data/UnitTest/REF_L_179927.nxs.h5.md5
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Bug, Framework, ORNL Team, Reflectometry

#29484 Adjust color cycle in Muon Analysis
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plot_color_queue.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/test/Muon/plotting_canvas/plot_color_queue_test.py
Labels: ISIS Team: Spectroscopy, Linux Only

#29476 D20 convert spectrum axis
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Testing/Data/UnitTest/ILL/D20/170607.nxs.md5
Labels: ILL Team, Powder

#29467 Fix sliceviewer extents to set correctly after axes swap
  Framework/PythonInterface/mantid/plots/axesfunctions.py
Labels: High Priority, ISIS Team: Core

#29280 Release roles
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation

#29481 Add missing Efixed parameter
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
Labels: Direct Inelastic, ILL Team

#29360 Add skeleton of release notes for v6.0.0
  docs/source/release/index.rst
  docs/source/release/v6.0.0/diffraction.rst
  docs/source/release/v6.0.0/direct_geometry.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/index.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  docs/source/release/v6.0.0/muon.rst
  docs/source/release/v6.0.0/reflectometry.rst
  docs/source/release/v6.0.0/sans.rst
  tools/release_generator/release.py
Labels: Documentation, ISIS Team: Core

#29480 Add Clear Button To Workspace Toolbox
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/IWorkspaceDockView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/ViewNotifiable.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceDockMockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspacePresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidget.h
  qt/widgets/common/src/WorkspacePresenter/WorkspacePresenter.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
  qt/widgets/common/test/WorkspacePresenter/WorkspacePresenterTest.h
Labels: ISIS Team: Core, Workbench

#29483 Fix 2d reduction button not working
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
Labels: Bug, High Priority, ISIS Team: LSS, Reported By User, SANS

#29515 In ALC Rename Auto Checkbox And Update Error Messages To Be More Meaningful
  docs/source/images/MuonALCDataLoading.png
  docs/source/interfaces/Muon ALC.rst
  docs/source/release/v5.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/test/ALCDataLoadingPresenterTest.h
Labels: Found in Beta, ISIS Team: Spectroscopy, Reported By User

#29471 [feature_enhancement] Adding support of flexible input for WANDPowderReduction workflow algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/WANDPowderReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/WANDPowderReductionTest.py
  docs/source/algorithms/WANDPowderReduction-v1.rst
  docs/source/images/WANDPowderReduction_silicon_powder_multiple_input.png
  docs/source/release/v5.1.0/diffraction.rst
Labels: Diffraction

#29518 Add bug fixes to MSlice release notes
  docs/source/release/v5.1.0/direct_geometry.rst
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Documentation, ISIS Team: Spectroscopy

#29513 Check separately for HAB coordinates in legacy SANS parser
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/user_file/txt_parsers/ParsedDictConverter.py
  scripts/test/SANS/command_interface/command_interface_state_director_test.py
  scripts/test/SANS/user_file/txt_parsers/ParsedDictConverterTest.py
Labels: Bug, Found in Beta, High Priority, ISIS Team: LSS, Reported By User, SANS, Workbench

#29529 Fix a bug clearing the distribution flag incorrectly
  Framework/Reflectometry/src/ReflectometryReductionOne2.cpp
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
Labels: Bug, High Priority, ISIS Team: LSS, Reflectometry

#29499 Keep up with nexus for D17
  Framework/DataHandling/inc/MantidDataHandling/LoadILLReflectometry.h
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcessTest.py
  Testing/Data/UnitTest/ILL/D17/564343.nxs.md5
  scripts/Interface/ui/drill/model/configurations.py
Labels: ILL Team, Reflectometry

#29512 SliceViewer - Fix squished 2D Workspace plot when transposing the data
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
Labels: Bug, High Priority, ISIS Team: Core

#29545 Fix InterpolateTestPerformance Segfault
  Framework/HistogramData/test/InterpolateTest.h
Labels: Framework

#29546 Update TroubleShoot dev-docs
  dev-docs/source/UserSupport.rst
Labels: Documentation

#29508 Reduce log level for failed plots in project recovery
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/projectsaver.py
Labels: ISIS Team: Core, Workbench

#29532 Update autoscale on masking
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: Bug, Workbench

#29531 Fixes Crash Caused By Pressing Cancel In FDA During MaxEnt
  scripts/Muon/GUI/FrequencyDomainAnalysis/MaxEnt/maxent_presenter_new.py
Labels: High Priority, ISIS Team: Spectroscopy, Muon

#29560 Fix Unhandled Exception When Plotting Single Line With Error Bar Caps
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: High Priority, ISIS Team: Core, Workbench

#29542 Fix loading NeXus file while second is loading
  Testing/SystemTests/tests/analysis/MultiThreadedLoadNeXusTest.py
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/MSVCSetup.cmake
Labels: Bug, Found in Beta, High Priority, ISIS Team: Core, Windows Only

#29543 Fix edge cases with user filename
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/algorithm_detail/single_execution.py
  scripts/SANS/sans/common/file_information.py
  scripts/SANS/sans/gui_logic/gui_common.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/models/settings_adjustment_model.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/common/file_information_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
Labels: Bug, Found in Beta, ISIS Team: LSS, Reported By User, SANS

#29530 Implement background subtraction for sum in Q
  Framework/Reflectometry/src/ReflectometryReductionOne2.cpp
  Framework/Reflectometry/src/ReflectometryWorkflowBase2.cpp
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
Labels: ISIS Team: LSS, Reflectometry

#29553 Save log averages so don't need to recalculate when refreshing EngDiff UI fitting table
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29549 Indirect - Fix a crash when plotting elwin elf workspace spectrum
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultipleTest.py
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectPlotter.cpp
Labels: Bug, Found in Beta, High Priority, ISIS Team: Spectroscopy

#29567 Correct the Y unit label on eq2 in elwin
  Framework/Algorithms/src/ElasticWindow.cpp
  Framework/Algorithms/test/ElasticWindowTest.h
  docs/source/release/v5.1.0/indirect_geometry.rst
Labels: ISIS Team: Spectroscopy, Reported By User

#29556 Skip cppcheck for .rst or .py changes
  buildconfig/Jenkins/clangformat
  buildconfig/Jenkins/cppcheck.sh
Labels: Maintenance

#29557 Mark cells in Sliceviewer ImageInfoWidget read only and remove selectable flag
  qt/widgets/common/src/ImageInfoWidget.cpp
Labels: ISIS Team: Core, Workbench

#29575 Fix Crash In Muon Analysis GUI
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: Bug, ISIS Team: Spectroscopy, Reported By User

#29574 Avoid hard crash in Indirect Energy Transfer load without TCP files
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
Labels: ISIS Team: Spectroscopy, Reported By User

#29585 Check for the existence of log files in LoadRaw
  Framework/DataHandling/src/LoadRawHelper.cpp
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: Core, Windows Only

#29596 Remove Qt.EnableHighDPIScaling attribute
  qt/applications/workbench/workbench/app/start.py
Labels: High Priority, Workbench

#29581 Reorganise Core Release Notes and Add Images
  docs/source/concepts/abins_interp_broadening_schematic.png
  docs/source/images/EditLegend.png
  docs/source/images/MinorTicks.png
  docs/source/images/ReleaseNotes_v5_1_Main.png
  docs/source/images/SXDSliceviewerRN.png
  docs/source/images/Save_settings_to_file.png
  docs/source/images/T-Rex.PNG
  docs/source/images/drill_release.png
  docs/source/release/v5.1.0/framework.rst
  docs/source/release/v5.1.0/index.rst
  docs/source/release/v5.1.0/mantidplot.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/release/v5.1.0/sliceviewer.rst
  tools/release_generator/release.py
Labels: Documentation, High Priority

#29598 Remove profiling section to prevent confusion in Basic Course
  docs/source/tutorials/mantid_basic_course/getting_started/getting_started.rst
Labels: Documentation

#29591 Add separate page for Sliceviewer release notes
  docs/source/images/wb-sliceviewer51-cursorinfo-matrix.png
  docs/source/images/wb-sliceviewer51-cursorinfo-md.png
  docs/source/images/wb-sliceviewer51-nonorthobutton.png
  docs/source/images/wb-sliceviewer51-nonorthogonal.png
  docs/source/images/wb-sliceviewer51-peaksbutton.png
  docs/source/images/wb-sliceviewer51-peaksoverlay.png
  docs/source/images/wb-sliceviewer51-roi.png
  docs/source/images/wb-sliceviewer51-roibutton.png
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/release/v5.1.0/sliceviewer.rst
Labels: Documentation, High Priority

#29597 Fix index peaks crash
  Framework/Crystal/inc/MantidCrystal/PeakAlgorithmHelpers.h
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/src/PeakAlgorithmHelpers.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/IndexPeaksTest.py
  Testing/Data/UnitTest/test_index_peaks.integrate.md5
  docs/source/release/v5.1.0/diffraction.rst
Labels: Single Crystal

#29618 Unsupported instruments in DrILL
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/test/DrillViewTest.py
  scripts/Interface/ui/drill/view/DrillView.py
Labels: High Priority, ILL Team, SANS

#29630 Fix Windows package OpenGL issue over remote connection
  buildconfig/CMake/WindowsNSISQt5.cmake
Labels: High Priority, Windows Only, Workbench

#29626 Fix Muon Analysis fit browser crash
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
Labels: High Priority, ISIS Team: Spectroscopy, Muon

#29625 Fix key/completer handling in AddFunctionDialog
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/presenter.py
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/test/test_addfunctiondialogpresenter.py
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/test/test_addfunctiondialogview.py
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/view.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
Labels: High Priority, Linux Only, Workbench, macOS Only

#29638 Fix remove workspaces in QENS interfaces
  qt/scientific_interfaces/Indirect/IndirectDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.h
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
Labels: High Priority, ISIS Team: Spectroscopy, Reported By User

#29407 Ensure unit tests pass when only workbench and qt5 is built
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_view.py
  qt/python/mantidqt/utils/qt/test/test_qappthreadcall.py
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/widgets/codeeditor/tab_widget/test/test_codeeditor_tab_view.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
  qt/python/mantidqt/widgets/codeeditor/test/test_multifileinterpreter_view.py
  qt/python/mantidqt/widgets/instrumentview/test/test_instrumentview_view.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_view.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_view.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/Testing/QApplicationGlobalFixture.h
  qt/widgets/common/test/FindFilesThreadPoolManagerTest.h
  qt/widgets/common/test/FindFilesWorkerTest.h
  scripts/Engineering/gui/CMakeLists.txt
  scripts/test/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  scripts/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  scripts/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  scripts/test/Muon/loading_tab/loadwidget_presenter_test.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
  scripts/test/TOFTOF/CMakeLists.txt
Labels: Maintenance

#29140 Diffraction loader for IN16B
  Framework/DataHandling/inc/MantidDataHandling/LoadILLIndirect2.h
  Framework/DataHandling/src/LoadILLIndirect2.cpp
  Framework/DataHandling/test/LoadILLIndirect2Test.h
  Testing/Data/UnitTest/ILL/IN16B/249290.nxs.md5
  Testing/Data/UnitTest/ILL/IN16B/276047.nxs.md5
  docs/source/algorithms/LoadILLIndirect-v2.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  instrument/IN16BD_Definition.xml
Labels: Diffraction, ILL Team

#29642 Add boxes to DGSPlanner layout
  docs/source/release/v6.0.0/direct_geometry.rst
  scripts/DGSPlanner/DGSPlannerGUI.py
Labels: Direct Inelastic, ORNL Team

#28954 Adds stale bot config file
  .github/stale.yml
Labels: Maintenance

#29223 Add check for zero vector in angle calculation of DetectorInfo
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/Algorithms/test/ConvertUnitsTest.h
  docs/source/release/v6.0.0/diffraction.rst
Labels: ISIS Team: Diffraction, Total Scattering

#29644 Add authors for release 5.1.0
  tools/DOI/authors.py
Labels: Documentation

#29637 Fix access violation in MonteCarloAbsorption
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
Labels: Absorption Corrections, ISIS Team: Diffraction, Windows Only

#29334 Improve Matrix::equals to handle NaNs
  Framework/Kernel/src/Matrix.cpp
  Framework/Kernel/test/MatrixTest.h
  docs/source/release/v6.0.0/diffraction.rst
Labels: ISIS Team: Diffraction
