Repository mantidproject/mantid, pull requests merged in 2020-10, with the labels that each got.

#29456 Use a FakeCatalog for the ICatTest tests
  Framework/ICat/test/CMakeLists.txt
  Framework/ICat/test/CatalogDownloadDataFilesTest.h
  Framework/ICat/test/CatalogGetDataFilesTest.h
  Framework/ICat/test/CatalogGetDataSetsTest.h
  Framework/ICat/test/CatalogListInstrumentsTest.h
  Framework/ICat/test/CatalogListInvestigationTypesTest.h
  Framework/ICat/test/CatalogLoginTest.h
  Framework/ICat/test/CatalogMyDataSearchTest.h
  Framework/ICat/test/CatalogSearchTest.h
  Framework/ICat/test/CompositeCatalogTest.h
  Framework/ICat/test/FakeCatalog.cpp
  Framework/ICat/test/FakeCatalog.h
  Framework/ICat/test/ICatTestHelper.cpp
  Framework/ICat/test/ICatTestHelper.h
  instrument/unit_testing/UnitTestFacilities.xml
Labels: ISIS Team: Core, Maintenance

#29650 Move system test to framework folder
  Testing/SystemTests/tests/framework/AbsorptionCorrectionTest.py
Labels: High Priority, Maintenance

#29634 Minor updates to the project recovery unscripted tests
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ProjectRecoveryTesting.rst
Labels: Manual Tests

#29647 Update BivariateGaussian documentation and throw warning for improper inputs
  Framework/PythonInterface/plugins/functions/BivariateGaussian.py
  docs/source/fitting/fitfunctions/BivariateGaussian.rst
Labels: ISIS Team: Core

#29580 Add ability to enable the MSVC address sanitizer via cmake
  buildconfig/CMake/GoogleTest.cmake
  buildconfig/CMake/Sanitizers.cmake
  dev-docs/source/RunningSanitizers.rst
Labels: ISIS Team: Diffraction, Maintenance, Windows Only

#29584 Corelli functionality to fit a bank of tubes
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_123454_bank58.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_123455_bank20.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_123555_bank20.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124018_bank45.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_bank10.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_bank14.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_bank15.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_banks_14_15.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/README.txt
  docs/source/release/v6.0.0/diffraction.rst
  scripts/corelli/calibration/bank.py
  scripts/corelli/calibration/utils.py
  scripts/test/corelli/calibration/test_bank.py
  scripts/test/corelli/calibration/test_utils.py
Labels: Diffraction

#29632 Improve unscripted testing instructions for ISIS SANS
  dev-docs/source/Testing/SANSGUI/SANSGUITests.rst
Labels: ISIS Team: LSS, Manual Tests, SANS

#29617 Refactored Unit Tests For FDA MaxEnt Presenter
  scripts/test/Muon/MaxEntPresenter_test.py
Labels: ISIS Team: Spectroscopy, Workbench

#29633 Minor improvements to Reflectometry GUI unscripted tests
  dev-docs/source/Testing/ReflectometryGUI/ReflectometryGUITests.rst
Labels: ISIS Team: LSS, Manual Tests, Reflectometry

#29658 Update Jenkins configuration docs
  dev-docs/source/JenkinsConfiguration.rst
Labels: Documentation

#29651 Enable workaround for readling segv in 3.6+
  docs/source/release/v6.0.0/reflectometry.rst
  qt/applications/workbench/workbench/app/start.py
Labels: Bug, ISIS Team: LSS, Reflectometry, Workbench

#29652 Allow packaging on macOS when ENABLE_MANTIDPLOT=OFF
  CMakeLists.txt
  Framework/ICat/CMakeLists.txt
  Framework/Kernel/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/plugins/CMakeLists.txt
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/TargetFunctions.cmake
  installers/MacInstaller/CMakeDMGSetup.scpt
  qt/python/CMakeLists.txt
  scripts/CMakeLists.txt
Labels: ISIS Team: Core, Maintenance, macOS Only

#29665 Remove _noatten workspace that was produced if perform_attenuation=true
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_output.py
Labels: Diffraction, ISIS Team: Diffraction

#29468 Beam radius in ILL SANS reduction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  docs/source/images/drill-settings.png
  docs/source/release/v6.0.0/sans.rst
  scripts/Interface/ui/drill/model/configurations.py
Labels: ILL Team, SANS

#29683 Avoid Slice Viewer option with MDEventWorkspace with 1 or fewer integrated dimensions.
  Framework/API/inc/MantidAPI/MDGeometry.h
  Framework/API/src/MDGeometry.cpp
  Framework/API/test/MDGeometryTest.h
  Framework/DataObjects/test/MDHistoWorkspaceTest.h
  Framework/MDAlgorithms/src/ReplicateMD.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MDGeometry.cpp
  Framework/PythonInterface/test/python/mantid/api/MDGeometryTest.py
  MantidPlot/pymantidplot/__init__.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: Direct Inelastic, ORNL Team, Workbench

#29592 Add copy paste for shapes in the instrument viewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/03_investigating_data.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/InputController.h
  qt/widgets/common/src/InputController.cpp
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/Shape2DCollection.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
  qt/widgets/instrumentview/src/Shape2D.cpp
  qt/widgets/instrumentview/src/Shape2DCollection.cpp
Labels: ILL Team, Workbench

#29330 Changed imports to allow script to work in python 3
  tools/scripts/OpenMostDocumentationForTesting.py
Labels: ISIS Team: Core, Maintenance

#29594 Refactor to handle changes to log tables in ADS in EngDiff UI fitting tab
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
  scripts/Engineering_Diffraction.py
Labels: Diffraction, ISIS Team: Diffraction

#29682 Add category to new engineering diffraction interface doc page
  docs/source/interfaces/Engineering Diffraction (Old).rst
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v3.7.1/diffraction.rst
Labels: ISIS Team: Diffraction

#29672 Fixed muon fitting bugs
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: Bug, ISIS Team: Spectroscopy, Patch Candidate, Reported By User

#29666 Modify output xyz file names produced by Focus in Pearl diffraction scripts
  Testing/SystemTests/tests/framework/ISIS_PowderPearlTest.py
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_advanced_config.py
Labels: Diffraction, ISIS Team: Diffraction

#29680 Settings: restart warning for 'prompt when deleting workspace'
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
Labels: ISIS Team: Core, Workbench

#29691 New member function: MDGeometry::getNumNonIntegratedDims()
  Framework/API/inc/MantidAPI/MDGeometry.h
  Framework/API/src/MDGeometry.cpp
  Framework/API/test/MDGeometryTest.h
  Framework/DataObjects/test/MDHistoWorkspaceTest.h
  Framework/MDAlgorithms/src/ReplicateMD.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MDGeometry.cpp
  Framework/PythonInterface/test/python/mantid/api/MDGeometryTest.py
  MantidPlot/pymantidplot/__init__.py
  docs/source/release/v6.0.0/framework.rst
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Framework, ORNL Team

#29693 Add missing wildcard for matching master job names
  buildconfig/Jenkins/buildscript
Labels: High Priority

#29699 Only display slice viewer widget for MDEventWorkspaces with 2 or more dimensions
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Direct Inelastic, ORNL Team, Workbench

#29702 Create release notes for patch version 5.1.1
  docs/source/release/index.rst
  docs/source/release/v5.1.1/index.rst
Labels: Documentation, Patch Candidate

#29695 Enable workaround for readling segv in 3.6+
  docs/source/release/v5.1.1/index.rst
  qt/applications/workbench/workbench/app/start.py
Labels: Bug, Patch Candidate, Workbench

#29706 Update hard-coded PV names in RROLD
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/release/v5.1.1/index.rst
Labels: Framework, ISIS Team: LSS, Patch Candidate, Reflectometry

#29719 Improve error messages in NeXusGeometryParser
  Framework/NexusGeometry/src/NexusGeometryParser.cpp
Labels: Framework

#29673 Enable plotting of individual functions in FitPropertyBrowser
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowserplotinteraction.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowserplotinteraction.py
  qt/widgets/common/inc/MantidQtWidgets/Common/PropertyHandler.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: ISIS Team: Core

#29440 Mechanism for raw data previews
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/IPreview.h
  Framework/API/inc/MantidAPI/PreviewManager.h
  Framework/API/src/PreviewManager.cpp
  Framework/API/test/IPreviewTest.h
  Framework/API/test/PreviewManagerTest.h
  Framework/PythonInterface/mantid/api/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/IPreview.cpp
  Framework/PythonInterface/mantid/api/src/Exports/PreviewManager.cpp
  Framework/PythonInterface/test/python/mantid/api/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/api/PreviewManagerTest.py
Labels: Framework

#29696 Add colorbar scale setting to Workbench
  Framework/Properties/Mantid.properties.template
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
Labels: ISIS Team: Core

#29728 Adding equations to clarify different types of density
  docs/source/concepts/Materials.rst
Labels: Absorption Corrections, Documentation

#29659 Update Mac OSX getting started instructions
  dev-docs/source/BuildingOnOSX.rst
Labels: Documentation

#29509 ILL SANS data reduction: read parameters from Nexus
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  docs/source/release/v6.0.0/sans.rst
Labels: ILL Team, SANS

#29716 Mantid Basic Course Updates
  Framework/Algorithms/src/ConvertUnits.cpp
  docs/source/images/PlotOptions.png
  docs/source/images/PlotOptions3DSurface.png
  docs/source/images/PlotOptions3DWireframe.png
  docs/source/images/PlotOptionsColorfillContour.png
  docs/source/images/PlotOptionsTiled.png
  docs/source/images/PlotSettings.png
  docs/source/images/SettingsPlots.png
  docs/source/tutorials/mantid_basic_course/algorithms_workspaces_and_histories/04_algorithm_histories.rst
  docs/source/tutorials/mantid_basic_course/algorithms_workspaces_and_histories/index.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/02_displaying_and_navigating.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/04_masking_and_grouping.rst
  docs/source/tutorials/mantid_basic_course/fitting_data/05_fitting_exercises.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/01_loading_data.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/02_the_matrix_workspace.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/03_displaying_1D_data.rst
  docs/source/tutorials/mantid_basic_course/useful/01_save_settings.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/02_ws_types.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/02_scripting_workspaces.rst
  docs/source/tutorials/python_in_mantid/solutions/01_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/03_pim_sol.rst
  docs/source/workbench/settings.rst
Labels: Documentation, ISIS Team: Core

#29723 Add missing TS_ASSERT calls to wrap Mock::VerifyAndClearExpectations
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  Framework/Algorithms/test/MaxEnt/MaxentCalculatorTest.h
Labels: Added during Sprint, Framework, ISIS Team: Core

#29738 Filtered Value is displayed in Sample logs table
  docs/source/release/v5.1.1/index.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: ISIS Team: Core, Patch Candidate

#29562 Get property default values in DrILL interface
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/model/configurations.py
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/view/DrillSettingsDialog.py
Labels: ILL Team

#29090 ILL D7 calibration algorithm
  Framework/DataHandling/inc/MantidDataHandling/LoadILLPolarizedDiffraction.h
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibrationTest.py
  Testing/Data/UnitTest/ILL/D7/394458_394882.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396442_396831.nxs.md5
  Testing/Data/UnitTest/ILL/D7/402652_403041.nxs.md5
  Testing/Data/UnitTest/ILL/D7/YIG_IPF.xml.md5
  Testing/SystemTests/tests/framework/D7YIGPositionCalibrationTest.py
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
  instrument/D7_YIG_calibration.xml
  instrument/D7_YIG_peaks.xml
Labels: ILL Team, Powder

#29752 Prevent EqualBinsChecker generating unwanted log messages
  Framework/API/inc/MantidAPI/EqualBinSizesValidator.h
  Framework/API/src/EqualBinSizesValidator.cpp
  Framework/API/test/EqualBinSizesValidatorTest.h
  Framework/Algorithms/inc/MantidAlgorithms/MaxEnt.h
  Framework/Algorithms/src/MaxEnt.cpp
  Framework/Kernel/src/EqualBinsChecker.cpp
  docs/source/release/v6.0.0/framework.rst
Labels: Bug, Framework

#29743 Clarify the usage of new git test-pr alias
  dev-docs/source/GitConfig.rst
Labels: Added during Sprint, Documentation, ISIS Team: Core

#29627 Add System Test for Launching Workbench
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigService.cpp
  Testing/SystemTests/scripts/runSystemTests.py
  Testing/SystemTests/tests/qt/GUIStartupTest.py
  Testing/SystemTests/tests/qt/WorkbenchStartupTest.py
  qt/python/mantidqt/utils/asynchronous.py
Labels: ISIS Team: Core, Maintenance

#29677 Add ability to specify multiple attenuation .out files in Pearl config
  Testing/SystemTests/tests/framework/ISIS_PowderPearlTest.py
  docs/source/release/v6.0.0/diffraction.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/pearl_routines/Examples/pearl_config_example.yaml
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
Labels: Diffraction, ISIS Team: Diffraction

#29708 Muon analysis crash when using default grouping with no runs
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/test/Muon/grouping_tab/grouping_tab_model_test.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
Labels: Added during Sprint, Bug, ISIS Team: Spectroscopy, Patch Candidate, Reported By User

#29561 Modify composite function attributes API
  Framework/API/inc/MantidAPI/CompositeFunction.h
  Framework/API/inc/MantidAPI/FunctionGenerator.h
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/src/CompositeFunction.cpp
  Framework/API/src/FunctionGenerator.cpp
  Framework/API/src/IFunction.cpp
  Framework/API/test/CompositeFunctionTest.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldFunction.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/Resolution.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/TabulatedFunction.h
  Framework/CurveFitting/src/Functions/CrystalFieldControl.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldFunction.cpp
  Framework/CurveFitting/src/Functions/Polynomial.cpp
  Framework/CurveFitting/src/Functions/Resolution.cpp
  Framework/CurveFitting/src/Functions/TabulatedFunction.cpp
  Framework/CurveFitting/test/Algorithms/DoublePulseFitTest.h
  Framework/CurveFitting/test/Functions/ConvolutionTest.h
  Framework/CurveFitting/test/Functions/ResolutionTest.h
  Framework/CurveFitting/test/Functions/TabulatedFunctionTest.h
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/src/PropertyHandler.cpp
  qt/widgets/common/test/ConvolutionFunctionModelTest.h
  scripts/test/CrystalFieldMultiSiteTest.py
Labels: ISIS Team: Core

#29646 Crystal Field - Fix Ties for Cubic Crystal Structures
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldMultiSpectrum.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldSpectrum.h
  Framework/CurveFitting/src/Functions/CrystalFieldMultiSpectrum.cpp
  Framework/CurveFitting/src/Functions/CrystalFieldSpectrum.cpp
  docs/source/release/v6.0.0/direct_geometry.rst
  scripts/Inelastic/CrystalField/fitting.py
  scripts/test/CrystalFieldTest.py
Labels: Bug, Direct Inelastic, ISIS Team: Spectroscopy

#29758 Make consecutive runs of Focus work in PEARL ISIS Powder diffraction scripts
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29749 Switch macOS system test runner to use Python from MantidWorkbench bundle
  Testing/PerformanceTests/Mantid.systemtests.properties.template
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/InstallerTests.py
  Testing/SystemTests/scripts/mantidinstaller.py
  Testing/SystemTests/tests/framework/ISIS_LETReduction.py
  Testing/SystemTests/tests/framework/ISIS_MAPS_DGSReduction.py
  Testing/SystemTests/tests/framework/ISIS_MERLINReduction.py
  Testing/SystemTests/tests/framework/ISIS_MariReduction.py
  buildconfig/Jenkins/doctests
  buildconfig/Jenkins/doctests.bat
Labels: Added during Sprint, ISIS Team: Core, macOS Only

#29754 Fix documentation build for published docs
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  docs/CMakeLists.txt
  docs/sphinxext/mantiddoc/directives/base.py
Labels: Added during Sprint, Documentation, High Priority, ISIS Team: Core

#29685 PANTHER IDF fix
  Framework/Algorithms/test/SumOverlappingTubesTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  docs/source/release/v6.0.0/direct_geometry.rst
  instrument/PANTHER_Definition.xml
Labels: Direct Inelastic, ILL Team

#29770 Add plot setting to hide/show legend by default
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
Labels: ISIS Team: Core

#29756 Fixes Spurious Instrument Warnings when editing a script
  Framework/API/src/InstrumentValidator.cpp
  Framework/API/test/InstrumentValidatorTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument.h
  Framework/Geometry/src/Instrument.cpp
  docs/source/release/v6.0.0/framework.rst
Labels: Bug, Framework

#29781 Widen tolerances D7 YIGPositionCalibration docs
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
Labels: High Priority, ILL Team

#29674 Remove algorithm dialogs from simpleapi
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/test/python/mantid/FitFunctionsTest.py
  Framework/PythonInterface/test/python/mantid/SimpleAPIFitTest.py
  Framework/PythonInterface/test/python/mantid/SimpleAPILoadTest.py
  Framework/PythonInterface/test/python/mantid/SimpleAPITest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: ISIS Team: Core, Workbench

#29595 Change columns order and visibility in DrILL
  docs/source/interfaces/DrILL.rst
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/test/DrillTableWidgetTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/test/DrillViewTest.py
  scripts/Interface/ui/drill/view/DrillHeaderView.py
  scripts/Interface/ui/drill/view/DrillTableWidget.py
  scripts/Interface/ui/drill/view/DrillView.py
  scripts/Interface/ui/drill/view/ui/main.ui
Labels: ILL Team

#29639 Don't copy det IDs in Qxy
  Framework/Algorithms/src/Qxy.cpp
  Framework/Algorithms/test/QxyTest.h
  Testing/SystemTests/tests/framework/reference/D11_AutoProcess_IQxQy_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_LAB_2D.nxs.md5
  docs/source/release/v6.0.0/sans.rst
Labels: Bug, Framework, ISIS Team: LSS, SANS

#29710 Fix fit range for multiple inputs in indirect data analysis
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/PlotPeakByLogValue.h
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitSequential.h
  Framework/CurveFitting/src/Algorithms/IqtFit.cpp
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/test/Algorithms/ConvolutionFitSequentialTest.h
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
  Framework/CurveFitting/test/Algorithms/QENSFitSequentialTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectReplaceFitResultTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IqtFitSequentialTest.py
  Testing/Data/UnitTest/iris26176_graphite002_conv_1L_s0_to_17_Result_Edit.nxs.md5
  Testing/Data/UnitTest/iris26176_graphite002_conv_1L_s0_to_17_Result_Edit_gslv2.nxs.md5
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
Labels: ISIS Team: Spectroscopy

#29284 Powder diffraction instruments D2B and D20 support in DrILL
  docs/source/interfaces/DrILL.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  scripts/Interface/ui/drill/model/configurations.py
  scripts/Interface/ui/drill/test/DrillTest.py
Labels: ILL Team

#29762 Remove resetting of the fit range on changing workspace in elwin
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/Elwin.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#29777 Fix workbench crashes when deleting peaks from IPeaksTable
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
Labels: Workbench

#29792 Cherry-pick TableWorkspace alteration fix
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
Labels: Patch Candidate, Workbench

#29796 AlC documentation update
  docs/source/interfaces/Muon ALC.rst
Labels: ISIS Team: Spectroscopy, Patch Candidate

#29747 Add packing fraction to Material
  Framework/Algorithms/src/AbsorptionCorrection.cpp
  Framework/Algorithms/src/AbsorptionCorrectionPaalmanPings.cpp
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/inc/MantidKernel/MaterialBuilder.h
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/test/MaterialTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/Material.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/MaterialBuilder.cpp
  Framework/PythonInterface/plugins/algorithms/AlignAndFocusPowderFromFiles.py
  Framework/PythonInterface/plugins/algorithms/CalculateEfficiencyCorrection.py
  Framework/PythonInterface/plugins/algorithms/IndirectTransmission.py
  Framework/PythonInterface/test/python/mantid/kernel/MaterialBuilderTest.py
  docs/source/release/v6.0.0/framework.rst
Labels: Absorption Corrections

#29786 CORELLI tube calibration: switch acceptance criterion
  scripts/Calibration/tube_calib.py
  scripts/corelli/calibration/bank.py
  scripts/corelli/calibration/utils.py
  scripts/test/corelli/calibration/test_bank.py
  scripts/test/corelli/calibration/test_utils.py
Labels: Diffraction

#29800 Rename AbsorptionCorrectionPaalmanPings to PaalmanPingsAbsorptionCorrection
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/PaalmanPingsAbsorptionCorrection.h
  Framework/Algorithms/src/PaalmanPingsAbsorptionCorrection.cpp
  Framework/Algorithms/test/PaalmanPingsAbsorptionCorrectionTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorption.py
  docs/source/algorithms/ApplyPaalmanPingsCorrection-v1.rst
  docs/source/algorithms/PaalmanPingsAbsorptionCorrection-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Absorption Corrections

#29725 Crystal Field - Extend Background class to take a list of Function objects
  docs/source/release/v6.0.0/direct_geometry.rst
  scripts/Inelastic/CrystalField/fitting.py
  scripts/Inelastic/CrystalField/function.py
  scripts/test/CrystalFieldTest.py
Labels: Direct Inelastic, ISIS Team: Spectroscopy

#29709 Improve speed of empty instrument processing in PEARL powder diffraction scripts
  docs/source/diagrams/ISISPowderCreateVanadium_wkflw.dot
  docs/source/diagrams/ISISPowderFocus_wkflw.dot
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
  scripts/Diffraction/isis_powder/routines/calibrate.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/Diffraction/isis_powder/routines/run_details.py
  scripts/Diffraction/isis_powder/test/ISISPowderCommonTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderRunDetailsTest.py
Labels: Diffraction, ISIS Team: Diffraction

#29795 Reenable the miniplot context menues in indirect data analysis
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
Labels: ISIS Team: Spectroscopy

#29790 Bug in default settings export in DrILL
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/view/DrillSettingsDialog.py
Labels: Bug, ILL Team

#29759 Improve spectra selection within Sliceviewer downsampling
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: ISIS Team: Core

#29807 Fix problem with PaalmanPingsMonteCarloAbsorptionTest on Windows
  Framework/Geometry/inc/MantidGeometry/Objects/Track.h
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/Track.cpp
  Framework/Geometry/test/TrackTest.h
  Testing/SystemTests/tests/framework/reference/irs_PP_MC_flat_plate.nxs.md5
Labels: Bug, High Priority, ISIS Team: Diffraction, Windows Only

#29789 Fix [-wunused-result] MSVC build warnings
  Framework/DataObjects/test/Histogram1DTest.h
  Testing/Tools/cxxtest/cxxtest/TestSuite.h
Labels: High Priority, ISIS Team: Core

#29797 Fix Instrument View Bug for Rendering Flat Panels
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PanelsSurface.h
  qt/widgets/instrumentview/src/PanelsSurface.cpp
Labels: Awaiting User Response, Bug, ISIS Team: LSS

#29660 Adopt Transfit resonance fitting algorithm
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/PEARLTransfit.py
  Framework/PythonInterface/plugins/functions/PEARLTransVoigt.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/PEARLTransfitTest.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/PEARLTransVoigtTest.py
  Testing/Data/UnitTest/PEARL00073987.raw.md5
  Testing/Data/UnitTest/PEARL00073988.raw.md5
  Testing/Data/UnitTest/PEARL00073989.raw.md5
  Testing/Data/UnitTest/PEARL00073990.raw.md5
  Testing/Data/UnitTest/PEARL00112777.raw.md5
  docs/source/algorithms/PEARLTransfit-v1.rst
  docs/source/fitting/fitfunctions/PEARLTransVoigt.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#29842 Ignore new PG3 files in LoadLotsOfFiles
  Testing/SystemTests/tests/framework/LoadLotsOfFiles.py
Labels: Added during Sprint, High Priority, ISIS Team: Core

#29816 Fix equations in docs
  docs/CMakeLists.txt
  docs/source/algorithms/CalculateEfficiencyCorrection-v1.rst
  docs/source/concepts/AbsorptionAndMultipleScattering.rst
  docs/source/conf.py
  docs/source/release/v6.0.0/framework.rst
  docs/source/techniques/SANS-Toml-v1.rst
Labels: Bug, Documentation

#29808 Remove plotted fit when paramiters are changed in Indirect data analysis
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
Labels: Indirect Inelastic

#29667 Display fit results in grouped workspaces and update model in custom setup
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v6.0.0/diffraction.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  scripts/Engineering/gui/engineering_diffraction/tabs/common/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29827 Add absorption to powder reduction GUI
  docs/source/concepts/AbsorptionAndMultipleScattering.rst
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_adv_setup_script.py
  scripts/Interface/reduction_gui/widgets/diffraction/diffraction_adv_setup.py
  scripts/Interface/ui/diffraction/diffraction_adv_setup.ui
Labels: Absorption Corrections, Diffraction, Powder, Total Scattering

#29841 Fix Muon Analysis Ties and Constraints which are not respected
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
Labels: Bug, ISIS Team: Spectroscopy, Muon

#29726 Add simplified sequential fitting to EngDiff UI fitting tab.
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v6.0.0/diffraction.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_view.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_widget.ui
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29788 Adding basic elemental analysis 2 GUI
  dev-docs/source/Testing/ElementalAnalysis/ElementalAnalysisTests.rst
  dev-docs/source/Testing/index.rst
  scripts/Elemental_Analysis_2.py
  scripts/Muon/GUI/ElementalAnalysis2/__init__.py
  scripts/Muon/GUI/ElementalAnalysis2/context/__init__.py
  scripts/Muon/GUI/ElementalAnalysis2/context/context.py
  scripts/Muon/GUI/ElementalAnalysis2/elemental_analysis.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/elemental_analysis_2/__init__.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_context_test.py
  scripts/test/Muon/elemental_analysis_2/elemental_analysis_main_GUI_test.py
Labels: ISIS Team: Spectroscopy

#29863 Fix various issues with documentation build
  Framework/Algorithms/inc/MantidAlgorithms/AddAbsorptionWeightedPathLengths.h
  Framework/PythonInterface/plugins/algorithms/SaveP2D.py
  docs/source/algorithms/EnggFitPeaks-v1.rst
  docs/source/algorithms/EnggFitTOFFromPeaks-v1.rst
  docs/source/algorithms/GeneratePeaks-v1.rst
  docs/source/algorithms/SANSILLParameterScan-v1.rst
  docs/source/algorithms/SaveMDWorkspaceToVTK-v1.rst
  docs/source/algorithms/VesuvioAnalysis-v1.rst
  docs/source/algorithms/VesuvioDiffractionReduction-v1.rst
  docs/source/concepts/Howtoresetdetectorscalibration.rst
  docs/source/images/Sample_Transmission_Calculator_interface.png
  docs/source/interfaces/Data Comparison.rst
  docs/source/interfaces/Sample Transmission Calculator.rst
  docs/source/release/v3.11.0/framework.rst
  docs/source/release/v3.7.1/framework.rst
  docs/source/release/v3.9.0/framework.rst
  docs/source/release/v3.9.0/ui.rst
  docs/sphinxext/mantiddoc/directives/plot_directive.py
Labels: Documentation, ISIS Team: Core
