Repository mantidproject/mantid, pull requests merged in 2020-06, with the labels that each got.

#28737 Harmonise LoadISISNexus and LoadMuonNexus interfaces.
  Framework/DataHandling/inc/MantidDataHandling/DataBlock.h
  Framework/DataHandling/inc/MantidDataHandling/DataBlockComposite.h
  Framework/DataHandling/inc/MantidDataHandling/DataBlockGenerator.h
  Framework/DataHandling/inc/MantidDataHandling/LoadISISNexus2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonNexus.h
  Framework/DataHandling/src/DataBlock.cpp
  Framework/DataHandling/src/DataBlockComposite.cpp
  Framework/DataHandling/src/DataBlockGenerator.cpp
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/LoadMuonNexus.cpp
  Framework/DataHandling/src/LoadMuonNexus1.cpp
  Framework/DataHandling/src/LoadMuonNexus2.cpp
  Framework/DataHandling/src/LoadMuonNexusV2.cpp
  Framework/DataHandling/test/DataBlockCompositeTest.h
  Framework/DataHandling/test/DataBlockGeneratorTest.h
  Framework/DataHandling/test/DataBlockTest.h
Labels: ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#28754 Add missing includes for stdexcept needed for Visual Studio 16.6.0
  Framework/API/inc/MantidAPI/Expression.h
  qt/icons/src/CharIconPainter.cpp
  qt/icons/src/Icon.cpp
  qt/widgets/common/src/QtJSONUtils.cpp
Labels: ISIS Team: CoreTeam

#28755 Make x-axis tick labels horizontal on colorfill plots
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/functions.py
Labels: Easy, ISIS Team: CoreTeam, Plotting, Python, Workbench

#28702 Workbench Project Save Dialog
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/config/__init__.py
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/test/test_project.py
  qt/python/mantidqt/widgets/saveprojectdialog/__init__.py
  qt/python/mantidqt/widgets/saveprojectdialog/presenter.py
  qt/python/mantidqt/widgets/saveprojectdialog/saveprojectdialog.ui
  qt/python/mantidqt/widgets/saveprojectdialog/test/__init__.py
  qt/python/mantidqt/widgets/saveprojectdialog/test/test_saveprojectdialog.py
  qt/python/mantidqt/widgets/saveprojectdialog/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28752 Added option to take UB from workspace integrate ellipsoids
  Framework/MDAlgorithms/src/IntegrateEllipsoids.cpp
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#28743 Add extra features to the debug logging for MC absorption calculation
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  docs/source/algorithms/AddAbsorptionWeightedPathLengths-v1.rst
  docs/source/algorithms/MonteCarloAbsorption-v1.rst
Labels: ISIS Team: Diffraction

#28763 Make colorfill plots use workspace name as the plot title
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/functions.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28765 Add new `LRReductionWithReference` algorithm
  Framework/PythonInterface/plugins/algorithms/LRReductionWithReference.py
  Testing/Data/SystemTest/REFL_119814_combined_data_with_reference.nxs.md5
  Testing/SystemTests/tests/analysis/LRReductionWithReferenceTest.py
  docs/source/algorithms/LRReductionWithReference-v1.rst
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Framework, Reflectometry

#28773 Fix typo that replaced DIFA value with DIFC value from fit
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
Labels: ISIS Team: Diffraction

#28775 Updated devdocs concerning setup of remote debugger on pycharm professional
  dev-docs/source/PyCharm.rst
Labels: Added during Sprint, Documentation, Easy

#28769 Fix peak selection mouse cursor bug
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
Labels: Bug, Fitting, ISIS Team: CoreTeam, Workbench

#28761 Quality of life improvements for fit function dialog.
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/view.py
  qt/python/mantidqt/widgets/fitpropertybrowser/interactive_tool.py
Labels: Fitting, ISIS Team: CoreTeam, Workbench

#28750 Add help button to plots in workbench.
  docs/source/plotting/1DPlotsHelp.rst
  docs/source/plotting/3DPlotsHelp.rst
  docs/source/plotting/ColorfillPlotsHelp.rst
  docs/source/plotting/WaterfallPlotsHelp.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/plothelppages.py
  qt/applications/workbench/workbench/plotting/test/test_plothelppages.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/plotting/functions.py
Labels: ISIS Team: CoreTeam, Workbench

#28772 Add help button to figure options
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
  qt/python/mantidqt/widgets/plotconfigdialog/plot_config_dialog.ui
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/view.py
Labels: ISIS Team: CoreTeam, Plotting, Workbench

#28764 Neaten up the user interface in sliceviewer
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28766 Fixes for tests with macOS brew HEAD
  Framework/Beamline/test/CMakeLists.txt
  Framework/CMakeLists.txt
  Framework/HistogramData/test/CMakeLists.txt
  Framework/Indexing/test/CMakeLists.txt
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/scripts/mantidinstaller.py
  Testing/SystemTests/scripts/performance/testresult.py
  Testing/SystemTests/scripts/runSystemTests.py
  buildconfig/CMake/Packaging/osx/mantidpython.in
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/doctests
  buildconfig/Jenkins/systemtests
  qt/python/mantidqtpython/CMakeLists.txt
  qt/widgets/factory/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam, macOS Only

#28781 Change the grid button to toggle on and off
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28780 Fix bug in MonteCarloAbsorption where spectra have diff wavelength ranges
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
Labels: Absorption Corrections, ISIS Team: Diffraction

#28785 Make workbench progress bars display the time remaining for slow algs
  Framework/API/inc/MantidAPI/AlgorithmObserver.h
  Framework/API/src/AlgorithmObserver.cpp
  Framework/Algorithms/src/Pause.cpp
  Framework/PythonInterface/mantid/api/inc/MantidPythonInterface/api/Algorithms/AlgorithmObserverAdapter.h
  Framework/PythonInterface/mantid/api/src/Algorithms/AlgorithmObserverAdapter.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmObserver.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/test/test_algorithm_observer.py
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressDialogPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressPresenterBase.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/IAlgorithmProgressWidget.h
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressDialogPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressModel.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressPresenterBase.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressWidget.cpp
  qt/widgets/common/test/AlgorithmProgress/AlgorithmProgressDialogPresenterTest.h
  qt/widgets/common/test/AlgorithmProgress/AlgorithmProgressPresenterTest.h
  qt/widgets/common/test/AlgorithmProgress/MockAlgorithmProgressWidget.h
Labels: ISIS Team: CoreTeam, Workbench

#28793 Fix workbench tests for Qt 5.14
  qt/applications/workbench/workbench/config/test/test_user.py
  qt/applications/workbench/workbench/plotting/test/test_figurewindow.py
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
Labels: Added during Sprint, ISIS Team: CoreTeam

#28783 Fix overplotting resetting axes scales
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/test/test_tiledplots.py
Labels: Bug, ISIS Team: CoreTeam, Plotting, Python, Workbench

#28683 Fixes for sliceviewer line plots
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/samplingimage.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Workbench

#28799 `LRAutoReduction` can now use `LRReductionWithReference`
  Framework/PythonInterface/plugins/algorithms/LRAutoReduction.py
  Framework/PythonInterface/plugins/algorithms/LRReductionWithReference.py
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Framework, Reflectometry

#28800 Make MonteCarloAbsorption ignore masked detectors
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  docs/source/release/v5.1.0/framework.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#28748 Fixed muon analysis rounding
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/utilities/load_utils.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/utilities/load_utils_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#28648 Ellipsoidal integration in IntegratePeaksMD
  Framework/DataObjects/inc/MantidDataObjects/CoordTransformDistance.h
  Framework/DataObjects/inc/MantidDataObjects/FakeMD.h
  Framework/DataObjects/src/CoordTransformDistance.cpp
  Framework/DataObjects/src/FakeMD.cpp
  Framework/DataObjects/test/CoordTransformDistanceTest.h
  Framework/DataObjects/test/FakeMDTest.h
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegratePeaksMD2.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDBoxMaskFunction.h
  Framework/MDAlgorithms/src/FakeMDEventData.cpp
  Framework/MDAlgorithms/src/IntegratePeaksMD2.cpp
  Framework/MDAlgorithms/test/IntegratePeaksMD2Test.h
  Framework/MDAlgorithms/test/MDBoxMaskFunctionTest.h
  Framework/TestHelpers/src/MDEventsTestHelper.cpp
Labels: Diffraction, Single Crystal

#28718 Added dockable tabs to workbench data analysis
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFit.ui
  qt/scientific_interfaces/Indirect/IIndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.ui
  qt/scientific_interfaces/Indirect/IndirectDockWidgetArea.cpp
  qt/scientific_interfaces/Indirect/IndirectDockWidgetArea.h
  qt/scientific_interfaces/Indirect/IndirectDockWidgetArea.ui
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitDataView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataView.h
  qt/scientific_interfaces/Indirect/IndirectFitDataView.ui
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPreviewPlot.ui
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitTab.ui
  qt/scientific_interfaces/Indirect/IqtFit.cpp
  qt/scientific_interfaces/Indirect/IqtFit.h
  qt/scientific_interfaces/Indirect/IqtFit.ui
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFit.ui
  qt/scientific_interfaces/Indirect/test/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
Labels: Added during Sprint, ISIS Team: Spectroscopy

#28739 Changes on all plots apply to Colorbar on Tiled Colorfill plots
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_propertiesdialog.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
Labels: ISIS Team: CoreTeam, Workbench

#28786 Add python extensions setting to workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/ManageUserDirectories.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ManageUserDirectories.ui
  qt/widgets/common/src/ManageUserDirectories.cpp
Labels: ISIS Team: CoreTeam, Workbench

#28792 Instrument view handle invalid values better
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: ISIS Team: CoreTeam

#28700 Fix plot guess for Bk2BkExpConvPV
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/Bk2BkExpConvPV.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/IkedaCarpenterPV.h
  Framework/CurveFitting/src/Functions/Bk2BkExpConvPV.cpp
  Framework/CurveFitting/src/Functions/IkedaCarpenterPV.cpp
  Framework/CurveFitting/test/Algorithms/FitTest.h
  Framework/CurveFitting/test/Functions/Bk2BkExpConvPVTest.h
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
Labels: Fitting, ISIS Team: CoreTeam

#28762 Add workspace name to sliceviewer title bar
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28575 load csns data
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadCSNSNexus.h
  Framework/DataHandling/src/LoadCSNSNexus.cpp
  Framework/DataHandling/test/LoadCSNSNexusTest.h
  Testing/Data/UnitTest/CSNS_GPPD_test.nxs.md5
Labels: Framework

#28798 Psi background
  Framework/Muon/inc/MantidMuon/PSIBackgroundSubtraction.h
  Framework/Muon/src/PSIBackgroundSubtraction.cpp
  Framework/Muon/test/PSIBackgroundSubtractionTest.h
  docs/source/algorithms/PSIBackgroundSubtraction-v1.rst
Labels: Added during Sprint, ISIS Team: Spectroscopy

#28813 Remove stale ui_ include causing builds to fail
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
Labels: High Priority, ISIS Team: Spectroscopy, Indirect Inelastic

#28796 Reset global variables in python scripts when running entire script
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_interpreter.py
Labels: ISIS Team: CoreTeam

#28760 Check Data Directories on Request, Not Startup
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/Kernel/inc/MantidKernel/ConfigService.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/test/ConfigServiceTest.h
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/kernel/src/Exports/ConfigService.cpp
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadAndMergeTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadLampTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScanTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScanTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Framework/WorkflowAlgorithms/src/EQSANSLoad.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  scripts/test/IndirectCommonTests.py
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
Labels: Framework, ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench

#28808 Fix incorrect MsdYi paper reference
  Framework/PythonInterface/plugins/functions/MsdYi.py
Labels: Documentation, Easy, ISIS Team: CoreTeam, ISIS Team: Diffraction

#28815 Fix converting Line2D into ErrorBar container when Error data not available
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
Labels: ISIS Team: CoreTeam

#28810 Add missing OpenGL ES .dll to windows package.
  buildconfig/CMake/WindowsNSISQt5.cmake
Labels: ISIS Team: CoreTeam

#28795 Fix problem with MCInteractionVolume track statistics when running multiple threads
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCAbsorptionStrategy.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionStatistics.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionStatistics.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/Algorithms/test/MCInteractionVolumeTest.h
Labels: Absorption Corrections, ISIS Team: Diffraction

#28826 Add a label to the colorbar on colorfill plots
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/python/mantidqt/plotting/functions.py
Labels: ISIS Team: CoreTeam, Plotting, Workbench

#28836 Rename remaining AbinsModules references in documentation
  docs/source/concepts/AbinsImplementation.rst
  docs/source/concepts/AbinsInterpolatedBroadening.rst
Labels: Documentation

#28829 Fix waterfall plots not replotting correctly after changing curve settings
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Plotting, Python, Workbench

#28838 Fix plot settings tests
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
Labels: Added during Sprint, Code Quality, ISIS Team: CoreTeam, Python, Unit Tests

#28819 Add option to set default drawstyle in Workbench settings
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/style.py
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
Labels: ISIS Team: CoreTeam, Workbench

#28852 Fix failing plot settings test
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
Labels: High Priority, Workbench

#28677 28450 exclude monitors from plot
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: Workbench

#28653 Add read out table to workbench sliceviewer
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/imageinfowidget.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/IImageInfoWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMD.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMatrixWS.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoWidget.h
  qt/widgets/common/src/ImageInfoModel.cpp
  qt/widgets/common/src/ImageInfoModelMD.cpp
  qt/widgets/common/src/ImageInfoModelMatrixWS.cpp
  qt/widgets/common/src/ImageInfoPresenter.cpp
  qt/widgets/common/src/ImageInfoWidget.cpp
  qt/widgets/common/test/ImageInfoModelMDTest.h
  qt/widgets/common/test/ImageInfoModelMatrixWSTest.h
  qt/widgets/common/test/ImageInfoPresenterTest.h
Labels: ISIS Team: CoreTeam, Workbench

#28837 fixed pp mc unit test setup
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorptionTest.py
Labels: Code Quality, Easy, High Priority

#28831 Script generation for colorfill plots
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/axes.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/colorfills.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorcolorfills.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: ISIS Team: CoreTeam, Workbench

#28835 Fix for repeated Rebin2D calls on data
  Framework/Algorithms/test/Rebin2DTest.h
  Framework/DataObjects/src/FractionalRebinning.cpp
  docs/source/algorithms/Rebin2D-v1.rst
  docs/source/release/v5.1.0/direct_geometry.rst
  docs/source/release/v5.1.0/framework.rst
Labels: Framework

#28841 Add Option to Copy Bins and Spectra into a Data Table
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/view.py
Labels: ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench

#28843 Add changing the colorbar label to figure options images tab
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Plotting, Python, Workbench

#28804 Disable marker colour for styles that do not use them
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/markertabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_markertabwidget_view.py
Labels: Workbench

#28850 Scale the About dialog box based on screen size - Needs Multiple testers
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/widgets/about/about.ui
  qt/applications/workbench/workbench/widgets/about/note_about_editing_about_ui.txt
  qt/applications/workbench/workbench/widgets/about/presenter.py
  qt/applications/workbench/workbench/widgets/about/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28771 Add Python Profiling to Workbench
  buildconfig/CMake/Packaging/launch_workbench.pyw
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/getting_started/getting_started.rst
  qt/applications/workbench/workbench/app/main.py
  qt/applications/workbench/workbench/app/start.py
Labels: Framework, ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench

#28869 Handle wb start pos when it is off the right or bottom of the screen
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: ISIS Team: CoreTeam, Workbench

#28866 Fix a crash when masking a ws while the ws display widget is visible
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/utils/testing/mocks/mock_observing.py
  qt/python/mantidqt/widgets/observers/observing_presenter.py
  qt/python/mantidqt/widgets/observers/observing_view.py
  qt/python/mantidqt/widgets/observers/test/test_observing_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/status_bar_view.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#28878 Make right-click while using zoom tool reset axes limits
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28858 wb plot error when no data is from a workspace
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#28828 Adding tests to ALF view
  docs/source/release/v5.1.0/direct_geometry.rst
  qt/scientific_interfaces/Direct/ALFCustomInstrumentMocks.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentPresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentView.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/BaseCustomInstrumentModel.cpp
  qt/widgets/instrumentview/src/BaseCustomInstrumentPresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneModel.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneView.cpp
  qt/widgets/instrumentview/test/BaseCustomInstrumentPresenterTest.h
  qt/widgets/instrumentview/test/PlotFitAnalysisPanePresenterTest.h
Labels: ISIS Team: Spectroscopy, Unit Tests

#28860 Stop PSIBackground crash with groups
  Framework/Muon/src/PSIBackgroundSubtraction.cpp
  Framework/Muon/test/PSIBackgroundSubtractionTest.h
Labels: Added during Sprint, Easy, ISIS Team: Spectroscopy

#28889 stop imshow calls with log plots and invalid data failing
  Framework/PythonInterface/mantid/plots/modest_image/modest_image.py
Labels: ISIS Team: CoreTeam, Workbench

#28886 Adjust about box scaling for different screen aspect ratios
  qt/applications/workbench/workbench/widgets/about/view.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#28873 Fix string quote for NSIS v>=3
  buildconfig/CMake/NSIS.template.in
Labels: Added during Sprint, ISIS Team: CoreTeam, Windows Only

#28806 Python in mantid
  Testing/Data/DocTest/164198.nxs.md5
  Testing/Data/DocTest/SANSLOQCan2D.nxs.md5
  docs/source/api/python/mantid/api/MantidAxis.rst
  docs/source/api/python/mantid/api/SpectrumInfo.rst
  docs/source/api/python/mantid/api/WorkspaceHistory.rst
  docs/source/api/python/mantid/api/index.rst
  docs/source/api/python/mantid/kernel/InstrumentInfo.rst
  docs/source/concepts/MatrixWorkspace.rst
  docs/source/concepts/WorkingWithWorspaces.rst
  docs/source/images/GeneratePlot.png
  docs/source/images/ITableWorkspaceHierachy.png
  docs/source/images/Mantid_artifact.png
  docs/source/images/Mantid_plotSpectrum.png
  docs/source/images/SineWaveLogFiltering.png
  docs/source/plotting/index.rst
  docs/source/release/v5.1.0/framework.rst
  docs/source/tutorials/index.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
  docs/source/tutorials/mantid_basic_course/useful/02_scripts.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/01_running_algorithms.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/02_ws_types.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/03_matrix_ws_py.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/04_table_ws_py.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/05_group_ws_py.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/06_alg_help.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/07_pim_ex_1.rst
  docs/source/tutorials/python_in_mantid/algorithms_and_workspaces/index.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/01_access_ws.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/02_scripting_workspaces.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/03_matrix_ws_attributes.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/04_run_logs.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/05_settings.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/06_extract_manipulate_data.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/07_running_algorithms_complex.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/08_pim_ex_4.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/index.rst
  docs/source/tutorials/python_in_mantid/index.rst
  docs/source/tutorials/python_in_mantid/plotting/01_basic_plot_scripting.rst
  docs/source/tutorials/python_in_mantid/plotting/02_scripting_plots.rst
  docs/source/tutorials/python_in_mantid/plotting/03_instrument_view.rst
  docs/source/tutorials/python_in_mantid/plotting/03_pim_ex_3.rst
  docs/source/tutorials/python_in_mantid/plotting/04_sliceviewer.rst
  docs/source/tutorials/python_in_mantid/plotting/index.rst
  docs/source/tutorials/python_in_mantid/script_generation/01_auto_generation.rst
  docs/source/tutorials/python_in_mantid/script_generation/02_extracting_alg_prop.rst
  docs/source/tutorials/python_in_mantid/script_generation/03_plot_script_generation.rst
  docs/source/tutorials/python_in_mantid/script_generation/04_pim_ex_2.rst
  docs/source/tutorials/python_in_mantid/script_generation/index.rst
  docs/source/tutorials/python_in_mantid/solutions/01_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/02_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/03_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/04_pim_sol.rst
  docs/source/tutorials/python_in_mantid/solutions/index.rst
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: Documentation, ISIS Team: CoreTeam, Workbench

#28864 Improve WorkspaceSingleValue interaction in Workbench
  Framework/Algorithms/src/IdentifyNoisyDetectors.cpp
  Framework/Algorithms/src/Stitch1D.cpp
  Framework/DataObjects/src/WorkspaceSingleValue.cpp
  Framework/PythonInterface/mantid/api/src/Exports/BinaryOperations.cpp
  Framework/WorkflowAlgorithms/src/DgsConvertToEnergyTransfer.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam

#28867 Add default legend location to settings
  Framework/PythonInterface/mantid/plots/legend.py
  Framework/PythonInterface/test/python/mantid/plots/legendTest.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/workbench/settings.rst
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
  qt/python/mantidqt/project/test/test_plotssaver.py
Labels: ISIS Team: CoreTeam, Workbench

#28848 Prevent a shape being stored against sample pos
  Framework/API/src/Sample.cpp
  Framework/API/test/InstrumentValidatorTest.h
  Framework/Algorithms/src/CreateSampleWorkspace.cpp
  Framework/Algorithms/src/EditInstrumentGeometry.cpp
  Framework/Algorithms/src/SampleCorrections/SparseInstrument.cpp
  Framework/Algorithms/test/AddAbsorptionWeightedPathLengthsTest.h
  Framework/Algorithms/test/ConvertUnitsTest.h
  Framework/Algorithms/test/DetectorEfficiencyCorTest.h
  Framework/Algorithms/test/HRPDSlabCanAbsorptionTest.h
  Framework/Algorithms/test/LorentzCorrectionTest.h
  Framework/Algorithms/test/SANSCollimationLengthEstimatorTest.h
  Framework/Algorithms/test/TOFSANSResolutionByPixelTest.h
  Framework/Crystal/src/LoadHKL.cpp
  Framework/CurveFitting/test/FitMWTest.h
  Framework/CurveFitting/test/Functions/ComptonProfileTestHelpers.h
  Framework/CurveFitting/test/Functions/DiffRotDiscreteCircleTest.h
  Framework/CurveFitting/test/Functions/DiffSphereTest.h
  Framework/DataHandling/src/LoadGSS.cpp
  Framework/DataHandling/src/LoadInstrumentFromNexus.cpp
  Framework/DataHandling/src/LoadInstrumentFromRaw.cpp
  Framework/DataHandling/src/LoadNXSPE.cpp
  Framework/DataHandling/src/LoadQKK.cpp
  Framework/DataHandling/test/FindDetectorsParTest.h
  Framework/DataHandling/test/LoadDetectorInfoTest.h
  Framework/DataHandling/test/LoadInstrumentTest.h
  Framework/DataHandling/test/RotateSourceTest.h
  Framework/DataObjects/test/WorkspaceValidatorsTest.h
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/ComponentHelper.cpp
  Framework/Geometry/src/Instrument/ComponentInfo.cpp
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  Framework/Geometry/src/Objects/BoundingBox.cpp
  Framework/Geometry/test/ComponentInfoTest.h
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  Framework/Geometry/test/InstrumentRayTracerTest.h
  Framework/Geometry/test/InstrumentTest.h
  Framework/Geometry/test/ParInstrumentTest.h
  Framework/MDAlgorithms/test/ConvertToMDMinMaxGlobalTest.h
  Framework/MDAlgorithms/test/ConvertToMDMinMaxLocalTest.h
  Framework/NexusGeometry/src/InstrumentBuilder.cpp
  Framework/PythonInterface/test/python/mantid/geometry/InstrumentTest.py
  Framework/TestHelpers/inc/MantidTestHelpers/ComponentCreationHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/InstrumentCreationHelper.h
  Framework/TestHelpers/src/ComponentCreationHelper.cpp
  Framework/TestHelpers/src/InstrumentCreationHelper.cpp
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  instrument/unit_testing/IDF_for_UNIT_TESTING.xml
  instrument/unit_testing/IDF_for_UNIT_TESTING6.xml
Labels: ISIS Team: Diffraction

#28879 Add fit to auto-generation scripts in Workbench
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/fitting.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorfitting.py
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: ISIS Team: CoreTeam, Workbench

#28887 Fix broken launch script for the packaged versions
  buildconfig/CMake/Packaging/launch_workbench.pyw
Labels: High Priority, ISIS Team: CoreTeam, ISIS Team: Diffraction, Windows Only, Workbench

#28888 Hide fit button for non 1D plots
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: ISIS Team: CoreTeam

#28868 Fix legend order changing after changing curve settings
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/legend.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28897 Fix problem in test_generate_script_compiles_script_correctly_with_fit
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: High Priority

#28881 Add beam profile to one of the PEARL instrument definition files
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098472_splined.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70Atten.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder-PEARL00098507_tt70_absorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_all.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_groups.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_mods.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISIS_Powder_PRL98472_tt70_trans.nxs.md5
  docs/source/release/v5.1.0/diffraction.rst
  instrument/PEARL_Definition_new_lowangle.xml
Labels: Absorption Corrections, ISIS Team: Diffraction

#28896 Make Indirect, Corrections UI work with new algorithm
  docs/source/release/v5.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
Labels: ISIS Team: Diffraction, Indirect Inelastic

#28844 Plot Help docs
  Testing/Data/DocTest/SANSLOQCan2D.nxs.md5
  docs/source/images/ColorPaletteWireframeContour.png
  docs/source/images/PlotClickMenus1D.png
  docs/source/images/PlotClickMenus3DSurface.png
  docs/source/images/PlotClickMenus3DWireframe.png
  docs/source/images/PlotClickMenusColorfill.png
  docs/source/images/PlotClickMenusContour.png
  docs/source/images/PlotClickMenusTiled.png
  docs/source/images/PlotClickMenusWaterfall.png
  docs/source/images/PlotOptions.png
  docs/source/images/PlotOptions3DSurface.png
  docs/source/images/PlotOptions3DWireframe.png
  docs/source/images/PlotOptionsColorfillContour.png
  docs/source/images/PlotOptionsTiled.png
  docs/source/images/PlotOptionsTiledAxes.png
  docs/source/images/PlotToolbar.png
  docs/source/images/PlotToolbar1DSpectrum.png
  docs/source/images/PlotToolbar3DSurface.png
  docs/source/images/PlotToolbar3DWireframe.png
  docs/source/images/PlotToolbarContour.png
  docs/source/images/PlotToolbarTiledColorfill.png
  docs/source/images/PlotToolbarWaterfall.png
  docs/source/images/PlotToolbarWaterfallMenus.png
  docs/source/plotting/1DPlotsHelp.rst
  docs/source/plotting/3DPlotsHelp.rst
  docs/source/plotting/ColorfillPlotsHelp.rst
  docs/source/plotting/WaterfallPlotsHelp.rst
  docs/source/plotting/index.rst
  docs/source/release/v5.1.0/framework.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
Labels: Documentation, ISIS Team: CoreTeam

#28899 Start the Sliceviewer with Zoom Selected
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28832 Workbench sliceviewer: Dynamically rebin MDEventWorkspaces on zoom
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/noshape.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_draw.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_nonintegrated.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/modeltesthelpers.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/modeltesthelpers.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_zoom.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/zoom.py
Labels: ISIS Team: CoreTeam, ISIS Team: Diffraction

#28782 Translate sample transmission calculator into workbench
  Framework/Properties/Mantid.properties.template
  MantidPlot/src/ApplicationWindow.cpp
  docs/source/release/v5.1.0/mantidworkbench.rst
  scripts/SampleTransmissionCalculator/SampleTransmission.ui
  scripts/SampleTransmissionCalculator/__init__.py
  scripts/SampleTransmissionCalculator/stc_gui.py
  scripts/SampleTransmissionCalculator/stc_model.py
  scripts/SampleTransmissionCalculator/stc_presenter.py
  scripts/SampleTransmissionCalculator/stc_view.py
  scripts/Sample_Transmission_Calculator.py
  scripts/test/CMakeLists.txt
  scripts/test/sample_transmission_calculator/CMakeLists.txt
  scripts/test/sample_transmission_calculator/__init__.py
  scripts/test/sample_transmission_calculator/stc_model_test.py
  scripts/test/sample_transmission_calculator/stc_presenter_test.py
  scripts/test/sample_transmission_calculator/stc_view_test.py
Labels: ISIS Team: CoreTeam, Workbench

#28849 Add minor ticks and minor gridlines settings
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/workbench/settings.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/axes.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotssaver.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28916 Remove unnecessary docs preventing clean build
  docs/source/tutorials/python_in_mantid/plotting/03_instrument_view.rst
  docs/source/tutorials/python_in_mantid/plotting/04_sliceviewer.rst
  docs/source/tutorials/python_in_mantid/plotting/index.rst
Labels: Documentation

#28913 Fix double click interaction for tiled plots
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: ISIS Team: CoreTeam, Workbench

#28665 28664 d7 loader
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadHelper.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLPolarizedDiffraction.h
  Framework/DataHandling/src/Load.cpp
  Framework/DataHandling/src/LoadHelper.cpp
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Testing/Data/UnitTest/ILL/D7/395850.nxs.md5
  Testing/Data/UnitTest/ILL/D7/401800.nxs.md5
  Testing/Data/UnitTest/ILL/D7/401801.nxs.md5
  Testing/Data/UnitTest/ILL/D7/YIG_IPF.xml.md5
  docs/source/algorithms/LoadILLPolarizedDiffraction-v1.rst
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/release/v5.1.0/framework.rst
  instrument/D7_Definition.xml
  instrument/Facilities.xml
Labels: ILL Team: All

#28911 Add control for axes tick format on plots
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/axiseditor.ui
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_propertiesdialog.py
Labels: ISIS Team: CoreTeam, Workbench

#28802 Increase information available to the user in the error reporter
  Framework/Kernel/inc/MantidKernel/ErrorReporter.h
  Framework/Kernel/src/ErrorReporter.cpp
  Framework/Kernel/test/ErrorReporterTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/ErrorReporter.cpp
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/Packaging/launch_workbench.ps1.in
  buildconfig/CMake/WindowsNSIS.cmake
  scripts/ErrorReporter/details_dialog.py
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/errorreport.py
  scripts/ErrorReporter/errorreport.ui
  scripts/ErrorReporter/moredetails.ui
Labels: ISIS Team: CoreTeam

#28919 Ties not being respected in Muon Analysis
  docs/source/release/v5.1.0/muon.rst
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
Labels: Added during Sprint, ISIS Team: Spectroscopy

#28902 Add a setting for default colormap
  Framework/Properties/Mantid.properties.template
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  docs/source/workbench/settings.rst
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/widgets/colorbar/colorbar.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28905 Add write access to HKL in peak workspace tables in workbench
  docs/source/release/v5.1.0/diffraction.rst
  qt/python/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_model.py
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal, Workbench

#28910 Make curves dropdown list in figure options match legend order
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Python, Workbench

#28921 Switch to explicit LRAutoReduction arguements for reduction calls
  Framework/PythonInterface/plugins/algorithms/LRAutoReduction.py
Labels: Bug, Framework, Reflectometry

#28883 Add Save Settings to File Button
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/widgets/settings/categories/presenter.py
  qt/applications/workbench/workbench/widgets/settings/categories/test/test_categories_settings.py
  qt/applications/workbench/workbench/widgets/settings/fitting/presenter.py
  qt/applications/workbench/workbench/widgets/settings/fitting/test/test_fitting_settings.py
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/applications/workbench/workbench/widgets/settings/general/view.py
  qt/applications/workbench/workbench/widgets/settings/main.ui
  qt/applications/workbench/workbench/widgets/settings/model.py
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_model.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_presenter.py
  qt/applications/workbench/workbench/widgets/settings/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28917 fixed the passing of x-sections as doubles
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorptionTest.py
Labels: Absorption Corrections, Bug

#28830 Muon double pulse analysis
  Framework/API/inc/MantidAPI/FunctionFactory.h
  Framework/API/src/FunctionFactory.cpp
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/DoublePulseFit.h
  Framework/CurveFitting/src/Algorithms/DoublePulseFit.cpp
  Framework/CurveFitting/test/Algorithms/DoublePulseFitTest.h
  Framework/PythonInterface/mantid/api/src/Exports/FunctionFactory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/MultiDomainFunction.cpp
  docs/source/algorithms/DoublePulseFit-v1.rst
  docs/source/fitting/DoublePulseFitExample.png
  docs/source/images/DoublePulseFitExample.png
  docs/source/images/muon_interface_tab_home.png
  docs/source/interfaces/muon_home_tab.rst
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_view.py
  scripts/test/CMakeLists.txt
  scripts/test/DoublePulseFitTest.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/home_tab_widget/home_instrument_widget_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#28885 Improve Performance of Loading Python Plugins During Startup
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/ConfigService.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/test/ConfigServiceTest.h
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/kernel/ConfigServiceTest.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
  scripts/test/IndirectCommonTests.py
Labels: Framework, ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench
