Repository mantidproject/mantid, pull requests merged in 2020-02, with the labels that each got.

#27842 Remove systemtests dump of version_tested/revision_tested
  Testing/SystemTests/scripts/InstallerTests.py
Labels: Added during Sprint, Windows Only

#27799 Add description of output types to PDFFourierTransform
  docs/source/algorithms/PDFFourierTransform-v1.rst
Labels: Documentation, ISIS Team: Diffraction

#27833 Eng Diff Fitting Tab - Loading Files
  docs/source/interfaces/Engineering Diffraction 2.rst
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/CMakeLists.txt
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/fitting_ads_observer.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/fitting_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27837 Preserve Lattice Parameters in PredictFractionalPeaks
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#27830 Add plotting options to context menu for WorkspaceGroups
  Framework/API/src/AnalysisDataService.cpp
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/spectraselectorutils.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectorutils.py
  qt/python/mantidqt/plotting/functions.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#27844 Edit WorkspaceGroup docs
  docs/source/concepts/WorkspaceGroup.rst
Labels: Documentation

#26818 Add section on Python debugging and clangd to VS Code docs
  dev-docs/source/.gitignore
  dev-docs/source/VSCode.rst
Labels: Documentation, Easy, Low Priority

#27782 Remove workaround for GSL library name switch.
  CMakeLists.txt
  buildconfig/CMake/CommonSetup.cmake
Labels: Framework, Maintenance

#27829 Build nightly documentation pages on Ubuntu and not RHEL7
  buildconfig/Jenkins/buildscript
Labels: Added during Sprint, Bug, Documentation, High Priority

#27811 Bundle Windows printer support plugin with Qt5 plugins.
  buildconfig/CMake/WindowsNSISQt5.cmake
Labels: Added during Sprint, Windows Only, Workbench

#27812 Merge pull request #27812 from mantidproject/27703_printsupport_macos_package
  installers/MacInstaller/make_package.rb
Labels: Added during Sprint, Workbench, macOS Only

#27832 Allow workbench to load the workspaces from mantidplot projects
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/project/project.py
  qt/python/mantidqt/project/projectloader.py
  qt/python/mantidqt/project/test/test_projectloader.py
Labels: ISIS Team: CoreTeam, Workbench

#27841 Merge pull request #27841 from mantidproject/27077_ability_to_cancel_live_data
  Framework/API/src/Algorithm.cpp
  Framework/LiveData/src/ISIS/FakeISISHistoDAE.cpp
  Framework/LiveData/src/MonitorLiveData.cpp
  Framework/LiveData/src/StartLiveData.cpp
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/PropertyWidget.h
  qt/widgets/common/src/AlgorithmDialog.cpp
Labels: ISIS Team: CoreTeam, Live Data, Workbench

#27760 Updated mantidworkbench to send stacktrace
  Framework/Kernel/inc/MantidKernel/ErrorReporter.h
  Framework/Kernel/src/ErrorReporter.cpp
  Framework/Kernel/test/ErrorReporterTest.h
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/exception_handler/__init__.py
  scripts/ErrorReporter/error_report_presenter.py
  scripts/ErrorReporter/retrieve_recovery_files.py
  scripts/test/ErrorReportPresenterTest.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#27845 fill algorithm details dialog with running algs
  Framework/API/inc/MantidAPI/AlgorithmManager.h
  Framework/API/src/AlgorithmManager.cpp
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressDialogWidget.h
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressDialogPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressDialogWidget.cpp
Labels: ISIS Team: CoreTeam, Workbench

#27836 Fix crash in workbench when fitting in script editor
  Framework/PythonInterface/mantid/fitfunctions.py
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam

#27851 Fix colorfill right-click change colorbar scale
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/test/test_imagestabwidgetpresenter.py
Labels: High Priority, ISIS Team: CoreTeam, Workbench

#27873 Update CIFS mounting instructions
  dev-docs/source/GettingStarted.rst
Labels: Documentation, Easy

#27871 Add warning message to Workbench when attempting to plot lots of spectra
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/test/test_spectraselectiondialog.py
Labels: Added during Sprint, Easy, High Priority, ISIS Team: CoreTeam, Python, Workbench

#27875 Correct typo to fix error when running a fit from script
  Framework/PythonInterface/mantid/fitfunctions.py
Labels: Added during Sprint, Easy, ISIS Team: CoreTeam

#27852 Fix incorrect sign when checking valid satellite peak if q convention is set to crystallography
  Framework/Crystal/src/PredictSatellitePeaks.cpp
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#27849 Fix error bars on normalised fits
  Framework/CurveFitting/src/FitMW.cpp
  docs/source/release/v4.3.0/framework.rst
Labels: Fitting, ISIS Team: CoreTeam

#27662 Adds Python TOML lib
  CMakeLists.txt
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/dev-packages/deb/mantid-developer/ns-control
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  installers/MacInstaller/make_package.rb
Labels: ISIS Team: LSS, Python

#27723 D33 separate panels, simplify water normalisation
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Testing/Data/UnitTest/ILL/D33/D33Mask2.nxs.md5
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/reference/D11_AbsScaleReference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D33_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  docs/source/algorithms/SANSILLAutoProcess-v1.rst
  docs/source/algorithms/SANSILLIntegration-v1.rst
  docs/source/algorithms/SANSILLReduction-v1.rst
  docs/source/release/v4.3.0/sans.rst
  instrument/D33_Parameters.xml
Labels: ILL Team: All, SANS

#27854 Use algorithm documentation for tooltips on the table
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v4.3.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.h
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#27657 Add options dialog to Reflectometry GUI [PART 3]
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IMessageHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Options/IOptionsDialogPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Options/OptionsDialogPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Options/OptionsDialogPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/ISaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/QtSaveView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/Options/MockOptionsDialogPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Save/MockSaveView.h
Labels: ISIS Team: LSS, Reflectometry

#27527 Remove RunSelectorPresenter factory
  scripts/ISIS_SANS.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/models/RunSelectionModel.py
  scripts/SANS/sans/gui_logic/models/SumRunsModel.py
  scripts/SANS/sans/gui_logic/models/SummationSettingsModel.py
  scripts/SANS/sans/gui_logic/presenter/RunSelectorPresenter.py
  scripts/SANS/sans/gui_logic/presenter/add_runs_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
  scripts/test/SANS/gui_logic/run_selector_presenter_test.py
  scripts/test/SANS/gui_logic/summation_settings_model_test.py
  scripts/test/SANS/gui_logic/summation_settings_presenter_test.py
Labels: ISIS Team: LSS, Maintenance, SANS

#27853 Added some protection around loading config files in workbench
  qt/applications/workbench/workbench/config/user.py
  qt/python/mantidqt/widgets/messagedisplay.py
Labels: ISIS Team: CoreTeam, Workbench

#27880 Fix PreviewPlot for mpl3
  qt/widgets/mplcpp/src/Axes.cpp
  qt/widgets/mplcpp/test/FigureCanvasQtTest.h
Labels: Added during Sprint, Workbench

#27886 Asserts a minimum size for colour fill plots
  qt/python/mantidqt/plotting/functions.py
Labels: ISIS Team: CoreTeam, Workbench

#27882 Remove CropWorkspaceRagged from the workflow category
  Framework/PythonInterface/plugins/algorithms/CropWorkspaceRagged.py
Labels: ISIS Team: CoreTeam

#27864 Resolve a bug with algrothim tree building in workbench settings
  qt/applications/workbench/workbench/widgets/settings/categories/presenter.py
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Workbench

#27901 Change test import to use PyCompat
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
Labels: High Priority, Windows Only

#27805 Make Simple Improvements to Engineering Diffraction 2 GUI
  qt/widgets/common/inc/MantidQtWidgets/Common/MWRunFiles.ui
  scripts/Engineering/gui/engineering_diffraction/main_window.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/focus_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27898 Add Brackets to correct eqn in docs
  docs/source/fitting/fitfunctions/StaticKuboToyabeTimesStretchExp.rst
Labels: Documentation, Fitting

#27902 Fix "is" with a literal. Did you mean "=="? warning from python 3.8
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/LoadWAND.py
Labels: ISIS Team: CoreTeam, Python

#27904 Fixed is not literal comparison warning
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
Labels: Added during Sprint, ISIS Team: Diffraction

#27807 MonteCarlo absorption calculation - reuse simulated tracks for different wavelengths
  Framework/Algorithms/inc/MantidAlgorithms/MonteCarloAbsorption.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCAbsorptionStrategy.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/AnnularRingAbsorptionTest.h
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Framework/Kernel/inc/MantidKernel/Material.h
  Framework/Kernel/src/Material.cpp
  Framework/Kernel/test/MaterialBuilderTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLSelfShielding.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLSelfShieldingTest.py
  Testing/Data/UnitTest/PearlEnvironment.stl.md5
  Testing/Data/UnitTest/PearlSample.stl.md5
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  Testing/SystemTests/tests/analysis/complexShapeAbsorptionsTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartTranslated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeAbsorbRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeRotatedAbsorbEnvironment.nxs.md5
  docs/source/algorithms/DirectILLSelfShielding-v1.rst
  docs/source/algorithms/MonteCarloAbsorption-v1.rst
  docs/source/release/v4.3.0/framework.rst
  docs/source/techniques/DirectILL.rst
  scripts/test/AbsorptionShapesTest.py
Labels: Direct Inelastic, Framework, ISIS Team: Diffraction, Indirect Inelastic

#27900 plot script generator bug fix
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: High Priority, ISIS Team: CoreTeam, Python, Workbench

#27903 Remove the save menu option for SaveASCII v1
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/IWorkspaceDockView.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
  qt/widgets/common/test/WorkspacePresenter/WorkspacePresenterTest.h
Labels: ISIS Team: CoreTeam, MantidPlot, Workbench

#27751 Add temp correction convsimfit
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTemplatePresenter.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.h
  qt/scientific_interfaces/Indirect/test/ConvFunctionModelTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ConvolutionFunctionModel.h
  qt/widgets/common/src/ConvolutionFunctionModel.cpp
  qt/widgets/common/test/ConvolutionFunctionModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#27865 Implement fourier filter to Polaris.create_total_scattering_pdf
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/release/v4.3.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Diffraction, ISIS Team: Diffraction, Total Scattering

#27866 Workbench apply settings without relaunch
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/widgets/settings/categories/section_categories.ui
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/applications/workbench/workbench/widgets/settings/main.ui
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_view.py
  qt/applications/workbench/workbench/widgets/settings/view.py
Labels: ISIS Team: CoreTeam, Workbench

#27637 Make Engineering Diffraction Calibration fit Quadratically
  Framework/PythonInterface/plugins/algorithms/EnggCalibrate.py
  Framework/PythonInterface/plugins/algorithms/EnggCalibrateFull.py
  Framework/PythonInterface/plugins/algorithms/EnggFitPeaks.py
  Framework/PythonInterface/plugins/algorithms/EnggFitTOFFromPeaks.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/EnggFitTOFFromPeaksTest.py
  Testing/SystemTests/tests/analysis/EnggCalibrationTest.py
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_cropped_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_south_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_bank_south_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_banks_parameters.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_banks_parameters_gsl1.nxs.md5
  Testing/SystemTests/tests/analysis/reference/engggui_calibration_cropped_parameters_gsl1.nxs.md5
  docs/source/algorithms/EnggCalibrate-v1.rst
  docs/source/algorithms/EnggCalibrateFull-v1.rst
  docs/source/algorithms/EnggFitDIFCFromPeaks-v1.rst
  docs/source/algorithms/EnggFitPeaks-v1.rst
  docs/source/algorithms/EnggFitTOFFromPeaks-v1.rst
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v3.7.1/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionPresenter.h
  scripts/Engineering/EnggUtils.py
  scripts/Engineering/EnginX.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction

#27917 Allow waterfall plot to be made with single spectrum number and multiple workspaces
  qt/python/mantidqt/plotting/functions.py
Labels: Added during Sprint, Bug, Easy, ISIS Team: CoreTeam, Python, Workbench

#27803 IN5 mask non overlapping bins
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLReduction.py
  Testing/Data/SystemTest/ILL/IN5/176053.nxs.md5
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN5_Tweak_sqw.nxs.md5
  docs/source/release/v4.3.0/direct_geometry.rst
Labels: Bug, Direct Inelastic, ILL Team: All

#27859 Eng Diff Fitting Tab - Workspace Viewing and Selection
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
Labels: Diffraction, ISIS Team: Diffraction

#27899 Fix plotting bugs for bin plots
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
Labels: ISIS Team: CoreTeam, Workbench

#27938 Add LogTypes parameter to AddSampleLogsMultiple
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/AddSampleLogMultiple.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/AddSampleLogMultipleTest.py
  docs/source/release/v4.3.0/framework.rst
Labels: Diffraction, Framework

#27869 Add sequential and simultaneous-sequential fitting to the Muon Analysis 2 GUI
  docs/source/release/v4.3.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/__init__.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab.ui
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_view.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/ADSHandler/__init__.py
  scripts/test/Muon/ADSHandler/workspace_naming_test.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
  scripts/test/Muon/seq_fitting_tab_widget/__init__.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy

#27874 Adds test for ILL loaders choice
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Framework/DataHandling/test/LoadILLTest.h
  Testing/Data/UnitTest/ILL/IN5/189171.nxs.md5
  Testing/Data/UnitTest/ILL/IN6/220010.nxs.md5
  Testing/Data/UnitTest/ILL/PANTHER/001723.nxs.md5
Labels: ILL Team: All, Unit Tests

#27940 Muon fitting feature branch
  docs/source/release/v4.3.0/muon.rst
  qt/python/mantidqt/_common.sip
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionMultiDomainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/qttreepropertybrowser.h
  qt/widgets/common/src/FunctionBrowser.cpp
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/src/QtPropertyBrowser/qttreepropertybrowser.cpp
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/fitting_tab_widget/workspace_selector_view.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  scripts/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/__init__.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab.ui
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_view.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_widget.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/ADSHandler/__init__.py
  scripts/test/Muon/ADSHandler/workspace_naming_test.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/fitting_tab_widget/workspace_selector_dialog_presenter_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
  scripts/test/Muon/seq_fitting_tab_widget/__init__.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy

#27930 Fix Engineering System and Doc Tests
  Testing/SystemTests/tests/analysis/EnggCalibrationTest.py
  docs/source/algorithms/EnggCalibrate-v1.rst
  docs/source/algorithms/EnggCalibrateFull-v1.rst
  docs/source/algorithms/EnggFitTOFFromPeaks-v1.rst
Labels: Added during Sprint, Bug, Diffraction, High Priority, ISIS Team: Diffraction, System Tests

#27922 Reload data sets in Muon Analysis without crash
  docs/source/release/v4.3.0/muon.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: High Priority, ISIS Team: Spectroscopy, Muon, Windows Only, Workbench

#27916 Add help button to add function dialog in fitting
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/add_function_dialog.ui
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/presenter.py
  qt/python/mantidqt/widgets/fitpropertybrowser/addfunctiondialog/view.py
  qt/widgets/common/inc/MantidQtWidgets/Common/SelectFunctionDialog.h
  qt/widgets/common/inc/MantidQtWidgets/Common/SelectFunctionDialog.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/pqHelpWindow.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/MantidHelpWindow.cpp
  qt/widgets/common/src/SelectFunctionDialog.cpp
  qt/widgets/common/src/pqHelpWindow.cxx
Labels: ISIS Team: CoreTeam, Workbench

#27936 Fix workbench double-spacing on saving Python scripts on Windows
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
Labels: ISIS Team: CoreTeam, Windows Only, Workbench

#27788 Added MSD specific files
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/FunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/MSDTemplatePresenter.h
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.h
  qt/scientific_interfaces/Indirect/MSDFit.cpp
  qt/scientific_interfaces/Indirect/MSDFit.h
  qt/scientific_interfaces/Indirect/MSDFit.ui
  qt/scientific_interfaces/Indirect/MSDFitModel.cpp
  qt/scientific_interfaces/Indirect/MSDFitModel.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/MSDFitModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#27958 Double-click algorithm with multiple versions should open dialog
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: ISIS Team: CoreTeam, Workbench

#26887 Abins thresholding changes
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Testing/Data/SystemTest/BenzeneBinWidthCASTEP.nxs.md5
  Testing/Data/SystemTest/C6H5Cl-Gaussian.nxs.md5
  Testing/Data/SystemTest/Na2SiF6_CASTEP.nxs.md5
  Testing/Data/SystemTest/Na2SiF6_DMOL3.nxs.md5
  Testing/Data/SystemTest/TolueneLargerOrderAbins.nxs.md5
  Testing/Data/SystemTest/TolueneScale.nxs.md5
  Testing/Data/SystemTest/TolueneScratchAbins.nxs.md5
  Testing/SystemTests/tests/analysis/AbinsTest.py
  docs/source/release/v4.3.0/indirect_geometry.rst
  scripts/AbinsModules/AbinsConstants.py
  scripts/AbinsModules/SData.py
  scripts/AbinsModules/SPowderSemiEmpiricalCalculator.py
  scripts/test/Abins/AbinsSDataTest.py
  scripts/test/Abins/CMakeLists.txt
Labels: ISIS Team: Spectroscopy

#27706 Add d16 loader
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/DataHandling/test/LoadILLTest.h
  Testing/Data/UnitTest/ILL/D16/218356.nxs.md5
  docs/source/release/v4.3.0/sans.rst
  instrument/D16_Definition.xml
  instrument/Facilities.xml
Labels: ILL Team: All, SANS

#27912 Workbench: Use the selected ws as the default for 1st inputws prop
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/python/mantidqt/widgets/algorithmselector/model.py
  qt/python/mantidqt/widgets/algorithmselector/presenter.py
  qt/python/mantidqt/widgets/algorithmselector/test/test_algorithmselector.py
  qt/python/mantidqt/widgets/algorithmselector/widget.py
Labels: ISIS Team: CoreTeam, Workbench

#27890 ApplyCalibration should handle bar scans
  Framework/Algorithms/src/ApplyCalibration.cpp
  Framework/Algorithms/test/ApplyCalibrationTest.h
  Framework/PythonInterface/plugins/algorithms/EnggCalibrateFull.py
  Framework/PythonInterface/plugins/algorithms/EnggFocus.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ConvertMultipleRunsToSingleCrystalMD.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SingleCrystalDiffuseReduction.py
  Testing/Data/SystemTest/HRP39180.RAW.md5
  docs/source/algorithms/ApplyCalibration-v1.rst
  docs/source/release/v4.3.0/framework.rst
  scripts/Calibration/Examples/TubeCalibDemoMaps_All.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_B1.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_C4C3.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_C4C3C2.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_D2.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_D2_WideMargins.py
  scripts/Calibration/Examples/TubeCalibDemoMaps_D4.py
  scripts/Calibration/Examples/TubeCalibDemoMerlin.py
  scripts/Calibration/Examples/TubeCalibDemoMerlin_Simple.py
  scripts/Calibration/Examples/TubeCalibDemoWish0.py
  scripts/Calibration/Examples/TubeCalibDemoWish1.py
  scripts/Calibration/Examples/TubeCalibDemoWish_Simple.py
Labels: SANS

#27888 Implement a basic plotBin and expose plotSpectrum in workbench
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/_compatability.py
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/axesfunctions3D.py
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/axesfunctions3DTest.py
  Framework/PythonInterface/test/python/mantid/plots/axesfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/compatabilityTest.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  MantidPlot/mantidplotrc.py
  docs/source/api/python/mantid/plots/index.rst
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/lines.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_tiledplots.py
  qt/python/mantidqt/project/test/test_plotsloader.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/samplingimage.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/presenter.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/test/test_waterfallplotfillareadialogpresenter.py
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/MultiPlotting/MultiPlottingContext_test.py
  scripts/test/MultiPlotting/SubPlotContext_test.py
  scripts/test/Muon/PlottingView_test.py
Labels: ISIS Team: CoreTeam, Python, Workbench

#27933 Get tooltips from ReflectometryISISLoadAndProcess
  docs/source/release/v4.3.0/reflectometry.rst
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/PerThetaDefaults.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/EncoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/PlotterTestQt5.h
  qt/scientific_interfaces/test/ScientificInterfacesTestInitialization.h
Labels: ISIS Team: LSS, Reflectometry, Unit Tests

#27956 Disable desktop notifications for Qt 4
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/src/MessageDisplay.cpp
  qt/widgets/common/src/NotificationService.cpp
Labels: High Priority, MantidPlot, Workbench

#27947 Make Engineering Diffraction 2 GUI Visible and Add Usage Reporting
  Framework/Properties/Mantid.properties.template
  docs/source/interfaces/Engineering Diffraction 2.rst
  docs/source/release/v4.3.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction

#27960 Addition of tooltip to the workbench plot 1D validation
  qt/python/mantidqt/dialogs/spectraselectordialog.py
Labels: ISIS Team: CoreTeam, Workbench

#27968 Fix Engineering System Test Failure on Windows
  Testing/SystemTests/tests/analysis/EnggCalibrationTest.py
Labels: Added during Sprint, Diffraction, High Priority, ISIS Team: Diffraction, System Tests

#27951 Remove old ISIS Reflectometry GUI
  Framework/Properties/Mantid.properties.template
  MantidPlot/test/squish_test_suites/.gitignore
  MantidPlot/test/squish_test_suites/refl_gui_tests/envvars
  MantidPlot/test/squish_test_suites/refl_gui_tests/objects.map
  MantidPlot/test/squish_test_suites/refl_gui_tests/suite.conf
  MantidPlot/test/squish_test_suites/refl_gui_tests/tst_basic_operation/test.py
  docs/source/release/v4.3.0/reflectometry.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  scripts/ISIS_Reflectometry_Old.py
  scripts/Interface/ui/CMakeLists.txt
  scripts/Interface/ui/reflectometer/CMakeLists.txt
  scripts/Interface/ui/reflectometer/__init__.py
  scripts/Interface/ui/reflectometer/refl_choose_col.py
  scripts/Interface/ui/reflectometer/refl_columns.ui
  scripts/Interface/ui/reflectometer/refl_gui.py
  scripts/Interface/ui/reflectometer/refl_gui_run.py
  scripts/Interface/ui/reflectometer/refl_options.py
  scripts/Interface/ui/reflectometer/refl_options_window.ui
  scripts/Interface/ui/reflectometer/refl_save.py
  scripts/Interface/ui/reflectometer/refl_window.ui
Labels: ISIS Team: LSS, MantidPlot, Reflectometry

#27980 Allow waterfall plot to be made with single spectrum number and multiple workspaces (again)
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Added during Sprint, Bug, Easy, Python, Workbench

#27975 Add Engineering Diffraction 2 gui unscripted tests
  dev-docs/source/Testing/Engineering Diffraction Test Guide.rst
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffraction2TestGuide.rst
  dev-docs/source/Testing/index.rst
  dev-docs/source/images/EngineeringDiffractionTest/EnggDiffExampleFitOutput.png
  dev-docs/source/images/EngineeringDiffractionTest/EnggDiffExampleFocusOutput.png
  dev-docs/source/images/EngineeringDiffractionTest/EnggDiffExampleGSASOutput.png
  dev-docs/source/images/EngineeringDiffractionTest/EnggDiffExpectedLinear.png
  dev-docs/source/images/EngineeringDiffractionTest/EnggDiffExpectedVanCurve.png
Labels: Documentation, ISIS Team: Diffraction, Manual Tests

#27988 Fix deprecation warning: h5py calls from Abins
  scripts/AbinsModules/IOmodule.py
Labels: High Priority, ISIS Team: Spectroscopy

#27771 Fix ISIS command iface expecting user file in batch
  scripts/SANS/ISISCommandInterface.py
  scripts/SANS/sans/command_interface/ISISCommandInterface.py
  scripts/test/SANS/command_interface/CMakeLists.txt
  scripts/test/SANS/command_interface/isis_command_interface_test.py
Labels: Added during Sprint, Bug, ISIS Team: LSS, SANS

#27891 Fix ties in crystal field fitting
  Framework/CurveFitting/src/Functions/CrystalFieldSpectrum.cpp
  docs/source/release/v4.3.0/framework.rst
  scripts/Inelastic/CrystalField/fitting.py
  scripts/test/CrystalFieldMultiSiteTest.py
  scripts/test/CrystalFieldTest.py
Labels: Bug, Fitting, ISIS Team: CoreTeam

#27992 Fix import path in Muon GUI
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
Labels: Added during Sprint, High Priority, ISIS Team: Spectroscopy

#27979 Fix normalisation when overplotting onto a plot with errors of distribution data
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v4.3.0/mantidworkbench.rst
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#27969 Add new commands to ISISCommandInterface
  scripts/SANS/ISISCommandInterface.py
Labels: Added during Sprint, ISIS Team: LSS, SANS

#27848 Add background subtraction child algorithm to workflow
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryReductionOne2.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryWorkflowBase2.h
  Framework/Algorithms/src/ReflectometryBackgroundSubtraction.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto3.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/ReflectometryBackgroundSubtractionTest.py
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  Framework/Algorithms/test/ReflectometryReductionOne2Test.py
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  docs/source/algorithms/ReflectometryISISLoadAndProcess-v1.rst
  docs/source/release/v4.3.0/reflectometry.rst
Labels: Framework, ISIS Team: LSS, Reflectometry

#27964 Limit progress bar updates to 1000Hz maximum
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmProgress/AlgorithmProgressPresenter.h
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressPresenter.cpp
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressWidget.cpp
Labels: ISIS Team: CoreTeam, Workbench

#27993 Fix plotting/index.rst API call
  docs/source/plotting/index.rst
Labels: Documentation, Easy, High Priority

#27907 Resolve some deprecation warnings
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/mantid/plots/utility.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/__init__.py
Labels: ISIS Team: CoreTeam, Python, Workbench

#27989 Add prevention to prevent duplicate algorithms details in dialog
  qt/widgets/common/src/AlgorithmProgress/AlgorithmProgressDialogPresenter.cpp
Labels: Added during Sprint, Bug, ISIS Team: CoreTeam, Workbench

#27796 Don't act differently on 0 offset M5
  docs/source/release/v4.3.0/sans.rst
  scripts/SANS/sans/algorithm_detail/move_workspaces.py
  scripts/test/SANS/algorithm_detail/move_workspaces_test.py
Labels: Bug, ISIS Team: LSS, SANS

#27921 Fix bugs in PSI data loader
  Framework/DataHandling/inc/MantidDataHandling/LoadPSIMuonBin.h
  Framework/DataHandling/src/LoadPSIMuonBin.cpp
  Framework/DataHandling/test/LoadPSIMuonBinTest.h
  docs/source/algorithms/LoadPSIMuonBin-v1.rst
  docs/source/release/v4.3.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/utilities/load_utils.py
Labels: ISIS Team: Spectroscopy

#27974 Eng Diff 2: Allow Focusing of Multiple Files
  docs/source/interfaces/Engineering Diffraction 2.rst
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27984 Fixed CrystalField init bug if symm is cubic
  docs/source/release/v4.3.0/direct_geometry.rst
  scripts/Inelastic/CrystalField/fitting.py
Labels: Bug, Direct Inelastic, ISIS Team: Spectroscopy

#27934 ILL SANS Absolute Scale
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/SystemTests/tests/analysis/SANSILLAbsoluteScaleTest.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  Testing/SystemTests/tests/analysis/reference/D11_AbsScaleReference.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILL_SANS_D11_IQ.nxs.md5
  docs/source/release/v4.3.0/sans.rst
Labels: ILL Team: All, SANS

#27932 Eng Fitting Tab - Plot Selected Workspaces from Table
  scripts/Engineering/gui/engineering_diffraction/main_window.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/fitting_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_toolbar.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27981 Fix normalisation of distribution workspace in fitting
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowser.py
Labels: Added during Sprint, Fitting, ISIS Team: CoreTeam, Workbench

#27987 Indirect multidataset naming
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitSequential.h
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitSimultaneous.h
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/QENSFitUtilities.h
  Framework/CurveFitting/inc/MantidCurveFitting/IFittingAlgorithm.h
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitUtilities.cpp
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
Labels: Added during Sprint, ISIS Team: Spectroscopy, Indirect Inelastic

#27998 Fix error when removing constraints
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/src/FunctionTreeView.cpp
Labels: Added during Sprint, Fitting, ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#27896 Indirect FQ simultaneous fitting
  docs/source/release/v4.3.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IFQFitObserver.h
  qt/scientific_interfaces/Indirect/IIndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplatePresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/FQTemplatePresenter.h
  qt/scientific_interfaces/Indirect/JumpFit.cpp
  qt/scientific_interfaces/Indirect/JumpFit.h
  qt/scientific_interfaces/Indirect/JumpFit.ui
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataPresenter.h
  qt/scientific_interfaces/Indirect/JumpFitDataTablePresenter.cpp
  qt/scientific_interfaces/Indirect/JumpFitDataTablePresenter.h
  qt/scientific_interfaces/Indirect/JumpFitModel.cpp
  qt/scientific_interfaces/Indirect/JumpFitModel.h
  qt/scientific_interfaces/Indirect/Notifier.h
  qt/scientific_interfaces/Indirect/test/JumpFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/JumpFitModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#27697 Fixes for reflectometry workflow algorithms history
  Framework/Algorithms/inc/MantidAlgorithms/CreateTransmissionWorkspace2.h
  Framework/Algorithms/inc/MantidAlgorithms/ReflectometryWorkflowBase2.h
  Framework/Algorithms/src/CreateTransmissionWorkspace.cpp
  Framework/Algorithms/src/CreateTransmissionWorkspace2.cpp
  Framework/Algorithms/src/ReflectometryReductionOne2.cpp
  Framework/Algorithms/src/ReflectometryReductionOneAuto3.cpp
  Framework/Algorithms/src/ReflectometryWorkflowBase2.cpp
  Framework/Algorithms/test/CreateTransmissionWorkspace2Test.h
  Framework/Algorithms/test/ReflectometryReductionOne2Test.h
  Framework/Algorithms/test/ReflectometryReductionOneAuto3Test.h
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  Testing/SystemTests/tests/analysis/INTERReductionTest.py
  Testing/SystemTests/tests/analysis/ISISReflectometryAutoreductionTest.py
  Testing/SystemTests/tests/analysis/reference/ISISReflectometryReducedRunsResult.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISReflectometryWorkflowSlicingResult.nxs.md5
  docs/source/algorithms/ReflectometryReductionOne-v2.rst
  docs/source/algorithms/ReflectometryReductionOneAuto-v2.rst
  docs/source/algorithms/ReflectometryReductionOneAuto-v3.rst
  docs/source/release/v4.3.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/AlgorithmProperties.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/ProcessingAlgorithm.h
  qt/widgets/common/inc/MantidQtWidgets/Common/DataProcessorUI/ProcessingAlgorithmBase.h
  qt/widgets/common/src/DataProcessorUI/ProcessingAlgorithm.cpp
  qt/widgets/common/src/DataProcessorUI/ProcessingAlgorithmBase.cpp
  qt/widgets/common/test/DataProcessorUI/GenerateNotebookTest.h
  qt/widgets/common/test/DataProcessorUI/GenericDataProcessorPresenterTest.h
  qt/widgets/common/test/DataProcessorUI/ProcessingAlgorithmTest.h
Labels: Framework, Reflectometry

#27884 Fix tabbing hidden columns
  docs/source/release/v4.3.0/sans.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/work_handler.py
  scripts/SANS/sans/command_interface/ISISCommandInterface.py
  scripts/SANS/sans/command_interface/batch_csv_file_parser.py
  scripts/SANS/sans/command_interface/batch_csv_parser.py
  scripts/SANS/sans/common/file_information.py
  scripts/SANS/sans/gui_logic/models/RowEntries.py
  scripts/SANS/sans/gui_logic/models/RowOptionsModel.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/models/create_state.py
  scripts/SANS/sans/gui_logic/models/diagnostics_page_model.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/GenericWorkHandlerListener.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/gui_state_director.py
  scripts/SANS/sans/gui_logic/presenter/masking_table_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/test_helper/mock_objects.py
  scripts/test/SANS/command_interface/batch_csv_file_parser_test.py
  scripts/test/SANS/gui_logic/batch_process_runner_test.py
  scripts/test/SANS/gui_logic/beam_centre_model_test.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
  scripts/test/SANS/gui_logic/create_state_test.py
  scripts/test/SANS/gui_logic/diagnostics_page_model_test.py
  scripts/test/SANS/gui_logic/gui_state_director_test.py
  scripts/test/SANS/gui_logic/masking_table_presenter_test.py
  scripts/test/SANS/gui_logic/model_tests/RowEntriesTest.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Bug, Code Quality, SANS

#28000 IN16B minor changes
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionQENS.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWSTest.py
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_BATS.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ILLIN16B_QENS.nxs.md5
  docs/source/release/v4.3.0/indirect_geometry.rst
Labels: ILL Team: All, Indirect Inelastic

#27986 Replace block-style progress reporter with C-api based one
  Framework/PythonInterface/core/CMakeLists.txt
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/UninstallTrace.h
  Framework/PythonInterface/core/src/UninstallTrace.cpp
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/FunctionFactory.cpp
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/config/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/codeeditor/execution.py
  qt/python/mantidqt/widgets/codeeditor/inputsplitter.py
  qt/python/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/Python/CodeExecution.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptEditor.h
  qt/widgets/common/src/Python/CodeExecution.cpp
  qt/widgets/common/src/ScriptEditor.cpp
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam, Workbench

#27996 Create plotting figure in overplot if doesn't exist
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plotfunctionsTest.py
  qt/python/mantidqt/plotting/test/test_tiledplots.py
Labels: Bug, Workbench

#27790 Calculate count-weighted covariance matrix in integrate ellipsoids
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/Integrate3DEvents.h
  Framework/MDAlgorithms/src/Integrate3DEvents.cpp
  Framework/MDAlgorithms/test/Integrate3DEventsTest.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsWithSatellitesTest.h
  Testing/SystemTests/tests/analysis/EllipsoidIntegr.py
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#27658 Add options dialog to Reflectometry GUI [PART 4]
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Options/OptionsDialogPresenter.cpp
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
Labels: ISIS Team: LSS, Reflectometry

#27660 Add options dialog to Reflectometry GUI [PART 5]
  qt/scientific_interfaces/ISISReflectometry/Common/Map.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/IMainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Options/OptionsDialogPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/JobsViewUpdater.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/test/ISISReflectometry/MainWindow/MockMainWindowPresenter.h
  qt/scientific_interfaces/test/ISISReflectometry/RunsTable/MockRunsTablePresenter.h
Labels: ISIS Team: LSS, Reflectometry

#28048 Fix import_qt Causing Failure of Packaged Nightly
  qt/python/mantidqt/widgets/codeeditor/execution.py
Labels: High Priority, Workbench

#27850 Fix support for OpenMP on macOS
  Framework/Beamline/CMakeLists.txt
  Framework/HistogramData/CMakeLists.txt
  Framework/Indexing/CMakeLists.txt
  Framework/TestHelpers/inc/MantidTestHelpers/ReflectometryHelper.h
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/FindPyQt.py
Labels: Added during Sprint, Framework, macOS Only

#28064 Revert engineering diffraction removal
  Framework/Properties/Mantid.properties.template
Labels: Diffraction

#28065 Fix Interface Opening Exceptions
  scripts/DGSPlanner/InstrumentSetupWidget.py
  scripts/HFIR_4Circle_Reduction/PreprocessWindow.py
Labels: High Priority, ISIS Team: Diffraction

#28070 Fix crash when remove function and closing interface
  docs/source/release/v4.3.0/mantidplot.rst
  qt/widgets/common/src/FitOptionsBrowser.cpp
  qt/widgets/common/src/FunctionModel.cpp
Labels: Bug, Fitting, ISIS Team: CoreTeam

#28084 Update Error Reporter Unscripted Test
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ErrorReporterTesting.rst
Labels: Documentation, Easy

#27678 Re-calculate duration in split-out workspaces from FilterEvents
  Framework/Algorithms/inc/MantidAlgorithms/FilterEvents.h
  Framework/Algorithms/src/FilterEvents.cpp
  Framework/Algorithms/test/FilterEventsTest.h
  docs/source/release/v4.3.0/framework.rst
Labels: Framework

#28069 Fix sans gui state bugs
  scripts/SANS/sans/gui_logic/models/RowEntries.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/run_tab_presenter_test.py
Labels: Bug, ISIS Team: LSS, SANS

#28087 Fix hard crash when extra details selected in plot error reporter
  scripts/ErrorReporter/errorreport.py
Labels: Easy, High Priority, MantidPlot

#28003 Adds support for automatic reduction for D16 SANS mode
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/Data/SystemTest/ILL/D16/003587.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003592.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003598.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003604.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003618.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003623.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003646.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003654.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003655.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003659.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003663.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003667.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003671.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003673.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003674.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003676.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003677.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003679.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003680.nxs.md5
  Testing/Data/SystemTest/ILL/D16/003682.nxs.md5
  Testing/Data/SystemTest/ILL/D16/beam_mask.nxs.md5
  Testing/Data/SystemTest/ILL/D16/side_mask.nxs.md5
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_D16_Gamma_Scan.nxs.md5
  docs/source/release/v4.3.0/sans.rst
  instrument/D16_Parameters.xml
Labels: ILL Team: All, SANS

#28056 Fix docker link in getting started page
  dev-docs/source/GettingStarted.rst
Labels: Documentation, Easy

#28098 Fix sans gui catching wrong exception
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/SANS/sans/gui_logic/models/batch_process_runner.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
Labels: Bug, ISIS Team: LSS, SANS

#28099 Fetch latest fixes from mslice
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Direct Inelastic

#28095 Sample Logs: Catch exception reading log values/metadata
  Framework/PythonInterface/mantid/plots/datafunctions.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/widgets/samplelogs/model.py
Labels: High Priority, Workbench

#28109 Fix unhandled exceptions in TOFConverter
  docs/source/release/v4.3.0/mantidworkbench.rst
  scripts/TofConverter/converterGUI.py
Labels: Bug, Workbench

#28094 Hide Engineering Diffraction 1 and Rename Eng Diff 2
  Framework/Properties/Mantid.properties.template
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffractionTestGuide.rst
  docs/source/interfaces/Engineering Diffraction (Old).rst
  docs/source/interfaces/Engineering Diffraction 2.rst
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v4.3.0/diffraction.rst
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.cpp
  qt/scientific_interfaces/EnggDiffraction/EnggDiffractionViewQtGUI.h
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering_Diffraction.py
Labels: Diffraction, ISIS Team: Diffraction

#28115 Fix crash in indirect analysis when a function is removed/changed
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#28116 Update PYTHONPATH for windows error reporter launch
  buildconfig/CMake/Packaging/launch_mantidplot.bat
Labels: High Priority, MantidPlot

#28105 Fix Misc Engineering Diffraction 2 Bugs
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffractionTestGuide.rst
  scripts/Engineering/gui/engineering_diffraction/settings/settings_view.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
Labels: Diffraction, ISIS Team: Diffraction

#28134 Do not clear variable from cmake after setting
  Framework/API/CMakeLists.txt
Labels: Bug

#28125 Fix bug with context menu for plots of MDHistoWorkspace
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Workbench

#28129 Prevent notifications for the same message within the same 5 seconds
  qt/widgets/common/inc/MantidQtWidgets/Common/NotificationService.h
  qt/widgets/common/src/NotificationService.cpp
Labels: ISIS Team: CoreTeam, Workbench

#28141 Rename v4.3.0 release notes to v5.0.0
  docs/source/release/index.rst
  docs/source/release/v5.0.0/diffraction.rst
  docs/source/release/v5.0.0/direct_geometry.rst
  docs/source/release/v5.0.0/framework.rst
  docs/source/release/v5.0.0/index.rst
  docs/source/release/v5.0.0/indirect_geometry.rst
  docs/source/release/v5.0.0/mantidplot.rst
  docs/source/release/v5.0.0/mantidworkbench.rst
  docs/source/release/v5.0.0/muon.rst
  docs/source/release/v5.0.0/reflectometry.rst
  docs/source/release/v5.0.0/sans.rst
  docs/source/release/v5.0.0/ui.rst
Labels: Documentation, High Priority

#28135 Fix File Paths After Loading in Muon Analysis
  docs/source/release/v5.0.0/muon.rst
  scripts/Muon/GUI/Common/utilities/load_utils.py
Labels: Bug, Muon

#28128 Fix Beam Centre Only Working on LAB
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinder.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  docs/source/release/v5.0.0/sans.rst
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/beam_centre.ui
  scripts/SANS/sans/algorithm_detail/centre_finder_new.py
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/test/SANS/gui_logic/beam_centre_model_test.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
Labels: Bug, ISIS Team: LSS, SANS

#28140 Add announcement to release check-list
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation, Maintenance

#28127 Fix error when changing normalisation on single spectra plot from script
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v5.0.0/mantidworkbench.rst
Labels: Bug, ISIS Team: CoreTeam, Workbench

#28124 Fix crash when adding some functions to multidataset fitting
  Framework/CurveFitting/src/Functions/GaussianComptonProfile.cpp
  Framework/CurveFitting/src/Functions/GramCharlierComptonProfile.cpp
  Framework/CurveFitting/src/Functions/MultivariateGaussianComptonProfile.cpp
  docs/source/release/v5.0.0/mantidplot.rst
  qt/scientific_interfaces/MultiDatasetFit/MDFFunctionPlotData.cpp
Labels: Bug, Fitting

#28132 Fix issue related to the Log option from the double click axis menu
  docs/source/release/v5.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
Labels: Bug, High Priority, ISIS Team: CoreTeam, Workbench

#28150 Make the help pages use the custom Mantid style sheet
  docs/source/conf-qthelp.py
  docs/source/conf.py
Labels: Bug, Documentation

#28113 Trap further exceptions when attempting to iterate over processes
  qt/applications/workbench/workbench/projectrecovery/projectrecovery.py
Labels: High Priority, Workbench

#28145 Convfit using correct resolutions
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/ConvFit.h
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/ConvFitModel.h
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
Labels: Added during Sprint, Direct Inelastic, ISIS Team: Spectroscopy

#28144 Workbench: Redirect warnings module messages to mantid warning logger
  docs/source/release/v5.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Workbench

#28111 Fixing Muon sequential TF asymmetry fits bug
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
Labels: ISIS Team: Spectroscopy
