Repository mantidproject/mantid, pull requests merged in 2020-05, with the labels that each got.

#28623 Attempt a couple of encodings when asking for units of logs
  Framework/PythonInterface/mantid/kernel/src/Exports/Property.cpp
  Framework/PythonInterface/test/python/mantid/kernel/PropertyWithValueTest.py
  docs/source/release/v5.1.0/framework.rst
Labels: Added during Sprint, Framework, ISIS Team: CoreTeam

#28625 Fix axis scale settings applying to the wrong axis
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
Labels: Bug, Easy, ISIS Team: CoreTeam, Workbench

#28427 Q binning for non zero gamma angle
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Testing/SystemTests/tests/analysis/reference/ILL_D16_Gamma_Scan.nxs.md5
  docs/source/release/v5.1.0/sans.rst
  instrument/D16_Parameters.xml
Labels: ILL Team: All, SANS

#28619 Keyboard movement in workbench sample logs gui
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_presenter.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28511 Refactor plotting in Muon and Frequency domain GUIs
  docs/source/release/v5.1.0/muon.rst
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/__init__.py
  scripts/Muon/GUI/Common/plot_widget/external_plotting/__init__.py
  scripts/Muon/GUI/Common/plot_widget/external_plotting/external_plotting_model.py
  scripts/Muon/GUI/Common/plot_widget/external_plotting/external_plotting_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/__init__.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plot_toolbar.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_model.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view_interface.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_widget.py
  scripts/Muon/GUI/Common/plot_widget/plotting_widget_view.ui
  scripts/Muon/GUI/Common/plotting_dock_widget/plotting_dock_widget.py
  scripts/Muon/GUI/Common/plotting_dock_widget/plotting_widget_view.ui
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/external_plotting_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
  scripts/test/Muon/max_ent_presenter_load_interaction_test.py
  scripts/test/Muon/plot_widget/__init__.py
  scripts/test/Muon/plot_widget/plot_widget_model_test.py
  scripts/test/Muon/plot_widget/plot_widget_presenter_test.py
  scripts/test/Muon/plotting_canvas/__init__.py
  scripts/test/Muon/plotting_canvas/plotting_canvas_model_test.py
  scripts/test/Muon/plotting_canvas/plotting_canvas_presenter_test.py
  scripts/test/Muon/plotting_widget_freq_test.py
  scripts/test/Muon/plotting_widget_model_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
  scripts/test/Muon/workspace_finder_test.py
Labels: ISIS Team: Spectroscopy

#28622 Logs and stats can be filtered or unfiltered by a checkbox
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/TimeSeriesProperty.cpp
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_presenter.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28630 Alter Toolbar Tooltips and some related plotting docs
  docs/source/images/PlotToolbar.png
  docs/source/plotting/index.rst
  docs/source/plotting/scripting_plots.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Plotting, Workbench

#28585 Filtering not applied in load processed nexus
  Framework/API/inc/MantidAPI/LogManager.h
  Framework/API/src/LogManager.cpp
  Framework/DataHandling/inc/MantidDataHandling/ISISRunLogs.h
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusProcessed.h
  Framework/DataHandling/src/ISISRunLogs.cpp
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/test/LoadNexusProcessedTest.h
  Framework/Kernel/inc/MantidKernel/IPropertyManager.h
  Framework/Kernel/inc/MantidKernel/LogParser.h
  Framework/Kernel/inc/MantidKernel/PropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManagerOwner.h
  Framework/Kernel/src/LogParser.cpp
  Framework/Kernel/src/PropertyManager.cpp
  Testing/Data/UnitTest/SaveOpenGenieAsciiEnginXReference.his.md5
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: CoreTeam

#28642 Added ApplyScalingFactor flag to LiquidsReflectometryReduction
  Framework/PythonInterface/plugins/algorithms/LiquidsReflectometryReduction.py
  Testing/SystemTests/tests/analysis/LiquidsReflectometryReductionNoScalingTest.py
  Testing/SystemTests/tests/analysis/reference/REFL_119814_combined_data_no_scaling.nxs.md5
  docs/source/release/v5.1.0/reflectometry.rst
Labels: Easy, Framework, Reflectometry, System Tests

#28640 Stop Gridlines Appearing on Colorbars
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: ISIS Team: CoreTeam, ISIS Team: Diffraction, Plotting, Workbench

#28388 Enable MC absorption for fixed window scans
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorption.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CalculateMonteCarloAbsorptionTest.py
  Testing/Data/UnitTest/ILL_IN16B_FWS_Reduced.nxs.md5
  docs/source/algorithms/CalculateMonteCarloAbsorption-v1.rst
  docs/source/release/v5.1.0/indirect_geometry.rst
Labels: ILL Team: All, Indirect Inelastic

#28655 Added <algorithm> include to CompositeValidator to fix Conda builds
  Framework/Kernel/inc/MantidKernel/CompositeValidator.h
Labels: Bug, Framework

#28507 Workspace Manipulation / ADS docs
  docs/source/api/python/mantid/api/AnalysisDataServiceImpl.rst
  docs/source/api/python/mantidplot/plotSpectrum.rst
  docs/source/concepts/scripting_workspaces.rst
  docs/source/release/v5.1.0/framework.rst
  docs/source/tutorials/mantid_basic_course/useful/02_scripts.rst
Labels: Documentation, Python

#28570 Make Lorch Filter on Polaris PDF use of PDFFourierTransform optional
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/release/v5.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: ISIS Team: Diffraction, Total Scattering

#28632 Stop surface plots spilling out of the axes when axis limits are changed
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
Labels: ISIS Team: CoreTeam, Plotting, Python, Workbench

#28629 Fix Colorfill Plots and Filled Lines Not Being Removed When Workspace is Deleted
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: Bug, ISIS Team: CoreTeam, ISIS Team: Diffraction, Plotting, Workbench

#28634 sample logs dialog: hide plot if no suitable logs in the workspace
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
  qt/python/mantidqt/widgets/samplelogs/view.py
Labels: ISIS Team: CoreTeam, Workbench

#28616 Add PSI background subtraction Algorithm
  Framework/Muon/CMakeLists.txt
  Framework/Muon/inc/MantidMuon/PSIBackgroundSubtraction.h
  Framework/Muon/src/PSIBackgroundSubtraction.cpp
  Framework/Muon/test/PSIBackgroundSubtractionTest.h
  docs/source/algorithms/PSIBackgroundSubtraction-v1.rst
  docs/source/release/v5.1.0/muon.rst
Labels: ISIS Team: Spectroscopy

#27707 Removing vms_compat dependency from LoadISISNexus
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadISISNexus2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadISISNexusHelper.h
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/LoadISISNexusHelper.cpp
  Framework/DataHandling/test/LoadISISNexusTest.h
  docs/source/release/v5.1.0/framework.rst
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#28627 Speed up workspace loading in the Muon Interface
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  scripts/Muon/GUI/Common/ADSHandler/workspace_group_definition.py
  scripts/Muon/GUI/Common/calculate_pair_and_group.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/muon_context_test.py
Labels: ISIS Team: Spectroscopy

#28658 Fix Colorfills Scaling Differently if Done From Figure Options or the Context Menu
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Bug, ISIS Team: CoreTeam, ISIS Team: Diffraction, Plotting, Workbench

#28656 Settings docs update
  docs/source/images/Workbench/WorkbenchSettingsGeneral.png
  docs/source/workbench/settings.rst
Labels: Documentation

#28663 Dynamically resize wb splash screen image based on screen resolution
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: ISIS Team: CoreTeam, Workbench

#28582 Fix incident energy calibration for PANTHER
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectDataTest.py
  Testing/Data/UnitTest/ILL/PANTHER/002687.nxs.md5
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  docs/source/release/v5.1.0/direct_geometry.rst
  instrument/IN4_Parameters.xml
  instrument/IN6_Parameters.xml
  instrument/PANTHER_Parameters.xml
Labels: Bug, Direct Inelastic, ILL Team: All

#28520 Add algorithm to get run information from ISIS journal files
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/IJournal.h
  Framework/API/src/IJournal.cpp
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/ISISJournal.h
  Framework/DataHandling/inc/MantidDataHandling/ISISJournalGetExperimentRuns.h
  Framework/DataHandling/src/ISISJournal.cpp
  Framework/DataHandling/src/ISISJournalGetExperimentRuns.cpp
  Framework/DataHandling/test/ISISJournalGetExperimentRunsTest.h
  Framework/DataHandling/test/ISISJournalTest.h
  Framework/ICat/inc/MantidICat/CatalogGetDataFiles.h
  docs/source/algorithms/ISISJournalGetExperimentRuns-v1.rst
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: LSS

#28661 Properly Update Colorfill Interpolation Option
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/view.py
Labels: Bug, ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench

#28679 Remove unused context variable in Sphinx categories processing
  docs/source/_templates/algorithmcategories.html
  docs/source/_templates/category.html
  docs/sphinxext/mantiddoc/directives/categories.py
Labels: Added during Sprint, Documentation, High Priority

#28660 Workbench: Add non-orthogonal axes support to slice viewer
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_transform.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/transform.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Workbench

#28680 Instrument View: Ignores NaN and infinite values when integrating a workspace
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  docs/source/release/v5.1.0/framework.rst
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: Framework, ISIS Team: CoreTeam

#28659 Fix a bug loading old "-add" files
  docs/source/release/v5.1.0/sans.rst
  scripts/SANS/sans/common/file_information.py
Labels: Bug, ISIS Team: LSS, SANS

#28565 Rename many Abins files, remove unused
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsAdvancedParametersTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsBasicTest.py
  Testing/SystemTests/tests/analysis/AbinsTest.py
  docs/source/release/v5.1.0/indirect_geometry.rst
  scripts/AbinsModules/CalculateDWSingleCrystal.py
  scripts/AbinsModules/CalculateSingleCrystal.py
  scripts/AbinsModules/DWSingleCrystalData.py
  scripts/AbinsModules/InstrumentProducer.py
  scripts/AbinsModules/Instruments/__init__.py
  scripts/AbinsModules/SingleCrystalData.py
  scripts/AbinsModules/__init__.py
  scripts/abins/__init__.py
  scripts/abins/abinsdata.py
  scripts/abins/atomsdata.py
  scripts/abins/constants.py
  scripts/abins/frequencypowdergenerator.py
  scripts/abins/generaldata.py
  scripts/abins/input/__init__.py
  scripts/abins/input/abinitioloader.py
  scripts/abins/input/casteploader.py
  scripts/abins/input/crystalloader.py
  scripts/abins/input/dmol3loader.py
  scripts/abins/input/gaussianloader.py
  scripts/abins/input/tester.py
  scripts/abins/input/textparser.py
  scripts/abins/instruments/__init__.py
  scripts/abins/instruments/broadening.py
  scripts/abins/instruments/instrument.py
  scripts/abins/instruments/toscainstrument.py
  scripts/abins/io.py
  scripts/abins/kpointsdata.py
  scripts/abins/parameters.py
  scripts/abins/powdercalculator.py
  scripts/abins/powderdata.py
  scripts/abins/scalculatorfactory.py
  scripts/abins/sdata.py
  scripts/abins/spowdersemiempiricalcalculator.py
  scripts/abins/test_helpers.py
  scripts/test/Abins/AbinsAtomsDataTest.py
  scripts/test/Abins/AbinsBroadeningTest.py
  scripts/test/Abins/AbinsCalculateDWSingleCrystalTest.py
  scripts/test/Abins/AbinsCalculateQToscaTest.py
  scripts/test/Abins/AbinsCalculateSPowderTest.py
  scripts/test/Abins/AbinsCalculateSingleCrystalTest.py
  scripts/test/Abins/AbinsDWSingleCrystalDataTest.py
  scripts/test/Abins/AbinsFrequencyPowderGeneratorTest.py
  scripts/test/Abins/AbinsIOmoduleTest.py
  scripts/test/Abins/AbinsInstrumentTest.py
  scripts/test/Abins/AbinsKpointsDataTest.py
  scripts/test/Abins/AbinsLoadCASTEPTest.py
  scripts/test/Abins/AbinsLoadCRYSTALTest.py
  scripts/test/Abins/AbinsLoadDMOL3Test.py
  scripts/test/Abins/AbinsLoadGAUSSIANTest.py
  scripts/test/Abins/AbinsPowderCalculatorTest.py
  scripts/test/Abins/AbinsPowderDataTest.py
  scripts/test/Abins/AbinsSDataTest.py
  scripts/test/Abins/CMakeLists.txt
Labels: ISIS Team: Spectroscopy

#28649 Clean up and refactor Muon fitting code
  docs/source/release/v5.1.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/fitting_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_model.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_model_test.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy

#28694 Disable peaks overlay button on Sliceviewer if workspace cannot support it
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
Labels: Added during Sprint, ISIS Team: CoreTeam, Workbench

#28676 Add NotFinite to MaskDetectorsIf and make it check every bin
  Framework/Algorithms/src/MaskDetectorsIf.cpp
  Framework/Algorithms/test/MaskDetectorsIfTest.h
  docs/source/algorithms/MaskDetectorsIf-v1.rst
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: CoreTeam

#28685 Prevent a Debug assertion failure when showing the instrument of CreateSampleWorkspace
  qt/widgets/instrumentview/src/BankRenderingHelpers.cpp
Labels: ISIS Team: CoreTeam

#28670 Allow exceptions in InstrumentView startup to be passed to python
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/common_sip/exceptions.sip
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/instrumentview/_instrumentview.sip
Labels: ISIS Team: CoreTeam, Workbench

#28699 Fix plt.show() Not Showing the Most Recent Figure
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/setup.py.in
  qt/applications/workbench/workbench/app/main.py
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plotting/config.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: Bug, ISIS Team: CoreTeam, ISIS Team: Diffraction, Plotting, Workbench

#28573 Stop regenerateTracksForEachLambda being hardcoded
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  docs/source/release/v5.1.0/framework.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#28711 Fix workbench start on package version on Windows
  .gitignore
  buildconfig/CMake/Packaging/launch_workbench.pyw
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  qt/applications/workbench/setup.py.in
  qt/applications/workbench/workbench/app/main.py
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/requirements.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/utils/qt/plugins.py
  qt/python/setup.py.in
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam, Windows Only, Workbench

#28587 3D plots in Workbench via right-click menu
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/mantid/plots/surfacecontourplots.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_figuretype.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam, Plotting, Workbench

#28591 Fix for nGEM data file load with truncated events
  Framework/DataHandling/inc/MantidDataHandling/LoadNGEM.h
  Framework/DataHandling/src/LoadNGEM.cpp
  docs/source/release/v5.1.0/framework.rst
Labels: Bug, ISIS Team: Diffraction

#28564 Framework support for ISIS nexus log alarms
  Framework/API/inc/MantidAPI/LogManager.h
  Framework/API/src/LogManager.cpp
  Framework/API/test/LogManagerTest.h
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/test/LoadNexusLogsTest.h
  Framework/DataHandling/test/LoadNexusProcessedTest.h
  Framework/Kernel/inc/MantidKernel/IPropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManager.h
  Framework/Kernel/src/PropertyManager.cpp
  Framework/Kernel/test/PropertyManagerTest.h
  Framework/PythonInterface/mantid/kernel/src/Exports/PropertyManager.cpp
  Framework/PythonInterface/test/python/mantid/kernel/PropertyManagerTest.py
  Testing/Data/UnitTest/ENGINX00228061_log_alarm_data.nxs.md5
  docs/source/release/v5.1.0/framework.rst
Labels: Framework, ISIS Team: CoreTeam

#28438 Abins support for VASP calculations
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Testing/Data/UnitTest/ethane_LoadVASP.xml.md5
  Testing/Data/UnitTest/ethane_LoadVASP_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/ethane_LoadVASP_data.txt.md5
  Testing/Data/UnitTest/ethane_LoadVASP_outcar.OUTCAR.md5
  Testing/Data/UnitTest/ethane_LoadVASP_outcar_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/ethane_LoadVASP_outcar_data.txt.md5
  Testing/Data/UnitTest/ethane_singlepoint.xml.md5
  Testing/Data/UnitTest/ozone_LoadVASP.xml.md5
  Testing/Data/UnitTest/ozone_LoadVASP_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/ozone_LoadVASP_data.txt.md5
  docs/source/algorithms/Abins-v1.rst
  docs/source/concepts/AbinsImplementation.rst
  docs/source/release/v5.1.0/indirect_geometry.rst
  scripts/abins/__init__.py
  scripts/abins/abinsdata.py
  scripts/abins/constants.py
  scripts/abins/input/__init__.py
  scripts/abins/input/abinitioloader.py
  scripts/abins/input/casteploader.py
  scripts/abins/input/tester.py
  scripts/abins/input/vasploader.py
  scripts/abins/io.py
  scripts/test/Abins/AbinsCalculateSPowderTest.py
  scripts/test/Abins/AbinsLoadVASPTest.py
  scripts/test/Abins/AbinsPowderCalculatorTest.py
  scripts/test/Abins/CMakeLists.txt
Labels: ISIS Team: Spectroscopy

#28701 Support nonorthogonal axes on > 3D workspaces.
  Framework/PythonInterface/mantid/api/src/Exports/IMDWorkspace.cpp
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/noshape.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/spherical.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_draw.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/modeltesthelpers.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_sliceinfo.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Added during Sprint, Direct Inelastic, ISIS Team: CoreTeam, Workbench

#28714 Update LoadISISNexus2 documentation.
  docs/source/algorithms/LoadISISNexus-v2.rst
Labels: Documentation, ISIS Team: CoreTeam

#28716 Fix SavePlot1D algorithm not working in Workbench
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SavePlot1D.py
  docs/source/release/v5.1.0/mantidworkbench.rst
Labels: Bug, ISIS Team: CoreTeam, Windows Only, Workbench, macOS Only

#28708 Remove sample waviness term
  Framework/Algorithms/src/ReflectometryMomentumTransfer.cpp
  Framework/Algorithms/test/ReflectometryMomentumTransferTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcess.py
  Testing/SystemTests/tests/analysis/reference/D17_Thick_HR_5.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_VoS11.nxs.md5
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/release/v5.1.0/reflectometry.rst
Labels: ILL Team: All, Reflectometry

#28674 Create Muon Nexus V2 loading algorithm
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/inc/MantidDataHandling/LoadISISNexus2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonNexusV2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonNexusV2Helper.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMuonStrategy.h
  Framework/DataHandling/inc/MantidDataHandling/SinglePeriodLoadMuonStrategy.h
  Framework/DataHandling/src/LoadMuonNexus1.cpp
  Framework/DataHandling/src/LoadMuonNexusV2.cpp
  Framework/DataHandling/src/LoadMuonNexusV2Helper.cpp
  Framework/DataHandling/src/LoadMuonStrategy.cpp
  Framework/DataHandling/src/SinglePeriodLoadMuonStrategy.cpp
  Framework/DataHandling/test/LoadMuonNexusV2Test.h
  Framework/DataObjects/CMakeLists.txt
  Framework/DataObjects/inc/MantidDataObjects/TableWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/TableWorkspace_fwd.h
  Framework/DataObjects/inc/MantidDataObjects/Workspace2D.h
  Framework/DataObjects/inc/MantidDataObjects/Workspace2D_fwd.h
  Testing/Data/DocTest/EMU00102347.nxs_v2.md5
  docs/source/algorithms/LoadMuonNexus-v2.rst
  docs/source/algorithms/LoadMuonNexusV2-v1.rst
  docs/source/release/v5.1.0/muon.rst
Labels: ISIS Team: Spectroscopy

#28631 Sample logs dialog highlight data with NeXus value alarms
  Framework/Kernel/inc/MantidKernel/PropertyManagerOwner.h
  docs/source/images/wb_invalid_log_shading.png
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: ISIS Team: CoreTeam, Workbench

#28725 Expose C++ method of matrix workspace getIndicesFromDetectorID to python
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/api/MatrixWorkspaceTest.py
Labels: ISIS Team: CoreTeam

#28723 Python 2 to 3 fix for tube calibration function
  scripts/Calibration/tube_calib.py
Labels: Diffraction, ISIS Team: Diffraction

#28730 Fix LoadMuonNexusV2 wrongly being called to load PSI Muon files
  Framework/DataHandling/src/LoadMuonNexusV2.cpp
Labels: Bug, High Priority, ISIS Team: Spectroscopy

#28521 Add journal search to Reflectometry GUI
  docs/source/images/ISISReflectometryInterface/runs_tab.png
  docs/source/images/ISISReflectometryInterface/search.png
  docs/source/images/ISISReflectometryInterface/transfer.png
  docs/source/images/ISISReflectometryInterface/workflow_plot.png
  docs/source/images/ISISReflectometryInterface/workflow_runs.png
  docs/source/images/Reflectometry-GUI-release5.1-search.png
  docs/source/interfaces/ISIS Reflectometry.rst
  docs/source/release/v5.1.0/reflectometry.rst
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IPythonRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/SearchResult.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/CoderCommonTester.h
  qt/scientific_interfaces/test/ISISReflectometry/Common/DecoderTest.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/MockRunsView.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/QtCatalogSearcherTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Runs/SearchResultTest.h
Labels: ISIS Team: LSS, Reflectometry, Workbench

#28717 Kafka run schema update
  Framework/LiveData/CMakeLists.txt
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoStreamDecoder.h
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/src/Kafka/private/Schema/6s4t_run_stop_generated.h
  Framework/LiveData/src/Kafka/private/Schema/pl72_run_start_generated.h
  Framework/LiveData/src/Kafka/private/Schema/y2gw_run_info_generated.h
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
  Framework/LiveData/test/KafkaTesting.h
Labels: Live Data

#28636 Crash when opening plot options on a sample logs plot
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/lines.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgeneratorlines.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: ISIS Team: CoreTeam, Workbench

#28671 Switch docs to recommend debugpy over ptvsd for VSCode
  dev-docs/source/VSCode.rst
Labels: Added during Sprint, Documentation, ISIS Team: CoreTeam

#28731 Add options for density ratio to placzek self self scattering
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TotScatCalculateSelfScattering.py
  docs/source/release/v5.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: Diffraction, ISIS Team: Diffraction, Total Scattering

#28709 IN16B improved formulae for deltaE conversion
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransferTest.py
  docs/source/release/v5.1.0/indirect_geometry.rst
Labels: ILL Team: All, Indirect Inelastic

#28703 Add absorption weighted track lengths to jana file
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/AddAbsorptionWeightedPathLengths.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCAbsorptionStrategy.h
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/test/AddAbsorptionWeightedPathLengthsTest.h
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadSampleShape.h
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/src/LoadSampleShape.cpp
  Framework/DataHandling/test/LoadSampleShapeTest.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/src/PeakColumn.cpp
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/DataObjects/test/PeaksWorkspaceTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  Framework/PythonInterface/plugins/algorithms/SaveReflections.py
  Framework/PythonInterface/test/python/plugins/algorithms/SaveReflectionsTest.py
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  Testing/Data/UnitTest/jana_format.hkl.md5
  Testing/Data/UnitTest/jana_format_modulated-m1.hkl.md5
  Testing/Data/UnitTest/jana_format_modulated-m2.hkl.md5
  Testing/Data/UnitTest/jana_format_modulated.hkl.md5
  docs/source/algorithms/AddAbsorptionWeightedPathLengths-v1.rst
  docs/source/release/v5.1.0/diffraction.rst
Labels: Absorption Corrections, Diffraction, ISIS Team: Diffraction, Single Crystal

#28746 Fix chopper gap unit in ILL reflectometry.
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Testing/SystemTests/tests/analysis/reference/D17_SiO2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_VoS11.nxs.md5
  docs/source/algorithms/ReflectometryILLAutoProcess-v1.rst
  docs/source/algorithms/ReflectometryMomentumTransfer-v1.rst
  docs/source/release/v5.1.0/reflectometry.rst
Labels: ILL Team: All, Reflectometry

#28735 Add Colormaps to Workbench Instrument View
  docs/source/release/v5.1.0/mantidworkbench.rst
  qt/widgets/mplcpp/src/MantidColorMap.cpp
Labels: ISIS Team: CoreTeam, ISIS Team: Diffraction, Workbench

#28753 Handle errors from error bar artists when looking for sample logs
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: Workbench

#28715 Improve Muon Analysis handling of deleted workspaces.
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/QSequentialTableModel.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_widget.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy
