Repository mantidproject/mantid, pull requests merged in 2020-01, with the labels that each got.

#27477 Changes to various unit and system test files to clean up temp files
  Framework/Crystal/test/SCDCalibratePanelsTest.h
  Framework/DataHandling/test/AppendGeometryToSNSNexusTest.h
  Framework/DataHandling/test/LoadNexusProcessed2Test.h
  Framework/DataHandling/test/SaveGSSTest.h
  Framework/DataHandling/test/SaveReflectometryAsciiTest.h
  Framework/Geometry/test/InstrumentDefinitionParserTest.h
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsBasicTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/ExportExperimentLogTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadNMoldyn3AsciiTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/MergeCalFilesTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/SaveNexusPDTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SaveVulcanGSSTest.py
  Testing/SystemTests/tests/analysis/ILLIndirectEnergyTransferBATS.py
  Testing/SystemTests/tests/analysis/ILLPowderD2BEfficiencyTest.py
  Testing/SystemTests/tests/analysis/ILLPowderDetectorScanTest.py
  Testing/SystemTests/tests/analysis/ILLPowderEfficiencyClosureTest.py
  Testing/SystemTests/tests/analysis/ILLPowderEfficiencyTest.py
  Testing/SystemTests/tests/analysis/ILLPowderParameterScanTest.py
  Testing/SystemTests/tests/analysis/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecovery.py
  qt/python/mantidqt/project/test/test_project.py
Labels: ISIS Team: Diffraction, Maintenance

#27537 Add User Support page to dev-docs
  dev-docs/source/UserSupport.rst
  dev-docs/source/images/errorReporter.png
  dev-docs/source/index.rst
Labels: Documentation

#27549 Create workflow algorithm for polaris pdf calculate
  Framework/PythonInterface/mantid/api/src/Exports/ADSValidator.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MatchAndMergeWorkspaces.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TotScatCalculateSelfScattering.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/MatchAndMergeWorkspacesTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/TotScatCalculateSelfScatteringTest.py
  Testing/Data/UnitTest/polaris_grouping_file.cal.md5
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/algorithms/MatchAndMergeWorkspaces-v1.rst
  docs/source/algorithms/TotScatCalculateSelfScattering-v1.rst
  docs/source/diagrams/MatchAndMergeWorkspaces-v1_wkflw.dot
  docs/source/diagrams/TotScatCalculateSelfScattering-v1_wkflw.dot
  docs/source/images/MatchAndMergeWorkspaces.png
  docs/source/release/v4.3.0/framework.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: ISIS Team: Diffraction, Total Scattering

#27547 Prevent units that are not suitable from being used in convertunits
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/Algorithms/src/ConvertUnitsUsingDetectorTable.cpp
  Framework/Kernel/inc/MantidKernel/Unit.h
  Framework/Kernel/inc/MantidKernel/UnitFactory.h
  Framework/Kernel/src/Unit.cpp
  Framework/Kernel/test/UnitFactoryTest.h
  docs/source/release/v4.3.0/framework.rst
Labels: Documentation, Framework, ISIS Team: CoreTeam

#27653 Update HDF5 docs URL to fix sphinx warning
  dev-docs/source/conf.py
  docs/source/conf.py
Labels: Documentation, Easy

#27651 Add NOW4 instrument to SNS
  docs/source/release/v4.3.0/direct_geometry.rst
  instrument/Facilities.xml
  instrument/NOW4_Definition.xml
  instrument/NOW4_Parameters.xml
Labels: Direct Inelastic

#27644 Disable wide_integer overloads for different size types
  Framework/DataObjects/inc/MantidDataObjects/MortonIndex/WideIntImpl.h
Labels: Framework, High Priority

#27577 Rename ALFView files and restructure
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.h
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/ALFView.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentPresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentView.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/BaseCustomInstrumentModel.cpp
  qt/widgets/instrumentview/src/BaseCustomInstrumentPresenter.cpp
  qt/widgets/instrumentview/src/BaseCustomInstrumentView.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneModel.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneView.cpp
Labels: ISIS Team: Spectroscopy, Maintenance

#27673 Fix speed regression when plotting spectra
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/mantid/plots/plotfunctions.py
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam, Workbench

#27612 SaveAscii support for table workspaces
  Framework/DataHandling/inc/MantidDataHandling/LoadAscii2.h
  Framework/DataHandling/inc/MantidDataHandling/SaveAscii2.h
  Framework/DataHandling/src/LoadAscii.cpp
  Framework/DataHandling/src/LoadAscii2.cpp
  Framework/DataHandling/src/LoadPreNexus.cpp
  Framework/DataHandling/src/LoadTBL.cpp
  Framework/DataHandling/src/SaveAscii2.cpp
  Framework/DataHandling/test/LoadAscii2Test.h
  Framework/DataHandling/test/SaveAscii2Test.h
  docs/source/algorithms/LoadAscii-v2.rst
  docs/source/algorithms/SaveAscii-v2.rst
  docs/source/release/v4.3.0/framework.rst
  docs/source/release/v4.3.0/mantidworkbench.rst
Labels: ISIS Team: CoreTeam

#27597 Correct error on peak intensity in IntegrateEllipsoids
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/Integrate3DEvents.h
  Framework/MDAlgorithms/src/Integrate3DEvents.cpp
  Framework/MDAlgorithms/src/IntegrateEllipsoids.cpp
  Framework/MDAlgorithms/src/IntegrateEllipsoidsTwoStep.cpp
  Framework/MDAlgorithms/test/Integrate3DEventsTest.h
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#27578 Refactor TSP Split By Vector
  Framework/Kernel/inc/MantidKernel/TimeSeriesProperty.h
  Framework/Kernel/src/TimeSeriesProperty.cpp
Labels: Code Quality, Framework

#27629 Add Settings Menu to Engineering Diffraction 2 GUI
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/CMakeLists.txt
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/main_window.ui
  scripts/Engineering/gui/engineering_diffraction/settings/__init__.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_helper.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_model.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_view.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_widget.ui
  scripts/Engineering/gui/engineering_diffraction/settings/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_helper.py
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_model.py
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/path_handling.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/test/test_vanadium_corrections.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/vanadium_corrections.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
Labels: Diffraction, ISIS Team: Diffraction

#27679 Make normalization of fit curve match the data curve
  Framework/PythonInterface/mantid/plots/helperfunctions.py
Labels: Added during Sprint, Fitting, ISIS Team: CoreTeam, Workbench

#27670 Disable show instrument if there is no spectra axis
  docs/source/release/v4.3.0/mantidplot.rst
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam

#27702 Update python path in the pycharm environment file
  buildconfig/windows/pycharm.env.in
Labels: Windows Only

#27668 Remove the dead tool code DAEServ
  tools/DAEserv/DAEserv.sln
  tools/DAEserv/DAEserv/AssemblyInfo.cpp
  tools/DAEserv/DAEserv/DAEserv.vcproj
  tools/DAEserv/DAEserv/DAEserv.vcproj.CLRC.hqs74821.user
  tools/DAEserv/DAEserv/DAEservWinService.cpp
  tools/DAEserv/DAEserv/DAEservWinService.h
  tools/DAEserv/DAEserv/DAEservWinService.resX
  tools/DAEserv/DAEserv/ProjectInstaller.cpp
  tools/DAEserv/DAEserv/ProjectInstaller.h
  tools/DAEserv/DAEserv/ProjectInstaller.resx
  tools/DAEserv/DAEserv/ReadMe.txt
  tools/DAEserv/DAEserv/app.ico
  tools/DAEserv/DAEserv/app.rc
  tools/DAEserv/DAEserv/isisds_command.cpp
  tools/DAEserv/DAEserv/isisds_command.h
  tools/DAEserv/DAEserv/resource.h
  tools/DAEserv/DAEserv/stdafx.cpp
  tools/DAEserv/DAEserv/stdafx.h
  tools/DAEserv/DAEserv/work.cpp
Labels: ISIS Team: CoreTeam

#27672 Cosmetic changes to directtools plot on Workbench
  scripts/directtools/__init__.py
Labels: Direct Inelastic, ILL Team: All

#27709 Update macOS package script to account for Python 3 requirements
  installers/MacInstaller/make_package.rb
Labels: Python, macOS Only

#27568 Workbench: Notification service and Notifications on errors
  Framework/Properties/Mantid.properties.template
  docs/source/concepts/PropertiesFile.rst
  docs/source/images/Notification_error.png
  docs/source/images/Notifications_settings.png
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/section_general.ui
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/NotificationService.h
  qt/widgets/common/src/MessageDisplay.cpp
  qt/widgets/common/src/NotificationService.cpp
Labels: ISIS Team: CoreTeam, Workbench

#27708 Fix issues with workbench plotting with matplotlib 3.1
  Framework/PythonInterface/mantid/BundlePython.cmake
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/modest_image/modest_image.py
  Framework/PythonInterface/mantid/plots/utility.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/UtilityTest.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/widgets/codeeditor/completion.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/__init__.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/widgets/common/src/Python/Sip.cpp
  scripts/PyChop/PyChopGui.py
Labels: ISIS Team: CoreTeam, Windows Only, macOS Only

#27584 27571 d33 usage example
  Testing/Data/UnitTest/ILL/D33/001461.nxs.md5
  Testing/Data/UnitTest/ILL/D33/001462.nxs.md5
  Testing/Data/UnitTest/ILL/D33/001463.nxs.md5
  Testing/Data/UnitTest/ILL/D33/001464.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002192.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002193.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002194.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002195.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002196.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002197.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002219.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002227.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002228.nxs.md5
  Testing/Data/UnitTest/ILL/D33/002229.nxs.md5
  Testing/Data/UnitTest/ILL/D33/D33Mask2.nxs.md5
  docs/source/algorithms/SANSILLAutoProcess-v1.rst
Labels: Documentation, ILL Team: All, SANS

#27719 Fix show detectors in workbench with Python 3
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
Labels: Added during Sprint, Bug, Workbench

#27721 Avoid new implicit float to int conversion warnings in Python 3.8
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/presenter.py
Labels: Python, Workbench

#27726 Use the longest form of a filename as ws name for drag drop
  qt/widgets/common/src/MantidTreeWidget.cpp
Labels: ISIS Team: CoreTeam

#27591 Merge pull request #27591 from mantidproject/v20_december_fixes
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.tcc
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/NexusGeometry/src/JSONGeometryParser.cpp
  Framework/NexusGeometry/test/JSONGeometryParserTest.h
Labels: Framework, Live Data, MantidPlot

#27667 Add option to set PDF type on polaris create_total_scattering_pdf
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/release/v4.3.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: ISIS Team: Diffraction, Total Scattering

#27737 Allow switching between Python 2/3 without cleaning CMake configuration
  Framework/PythonInterface/mantid/BundlePython.cmake
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/FindBoostPython.cmake
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  buildconfig/windows/pycharm.env.in
  buildconfig/windows/thirdpartypaths.bat.in
  dev-docs/source/Python3.rst
Labels: High Priority, Python

#27687 Fixing crash with fit constraints in the Muon Analysis 2 GUI
  docs/source/release/v4.3.0/muon.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/src/FunctionTreeView.cpp
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
Labels: ISIS Team: Spectroscopy

#27743 Windows: Fix switching between Python 2/3 without clean
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/MSVCSetup.cmake
Labels: Added during Sprint, Framework, ISIS Team: CoreTeam

#27669 Create total scattering pdf rebin output
  Testing/SystemTests/tests/analysis/ISIS_PowderPolarisTest.py
  docs/source/release/v4.3.0/diffraction.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: ISIS Team: Diffraction, Total Scattering

#27690 Remove Confusion from SaveNISTDAT example
  docs/source/algorithms/SaveNISTDAT-v1.rst
Labels: Documentation

#27512 Expand ISIS reflectometry system tests
  Framework/PythonInterface/plugins/algorithms/ReflectometrySliceEventWorkspace.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometrySliceEventWorkspaceTest.py
  Testing/Data/SystemTest/INTER/ISISReflectometryEventTestRuns.nxs.md5
  Testing/Data/SystemTest/INTER/ISISReflectometryTestRuns.nxs.md5
  Testing/SystemTests/tests/analysis/INTERReductionTest.py
  Testing/SystemTests/tests/analysis/ISISReflectometryAutoreductionTest.py
  Testing/SystemTests/tests/analysis/ISISReflectometryWorkflowBase.py
  Testing/SystemTests/tests/analysis/ISISReflectometryWorkflowPreprocessingTest.py
  Testing/SystemTests/tests/analysis/ISISReflectometryWorkflowSlicingTest.py
  Testing/SystemTests/tests/analysis/reference/ISISReflectometryReducedRunsResult.nxs.md5
  Testing/SystemTests/tests/analysis/reference/ISISReflectometryWorkflowSlicingResult.nxs.md5
Labels: Framework, ISIS Team: LSS, Reflectometry, System Tests

#27730 Fix settings test for python 3 in windows
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
Labels: Added during Sprint, ISIS Team: CoreTeam

#27740 Fix sliceviewer for matplotlib 3.1
  Framework/PythonInterface/mantid/plots/utility.py
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/toolbar.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: Added during Sprint, High Priority, ISIS Team: CoreTeam, Workbench

#27685 Fix bug with dummy detectors in MayersSampleCorrection
  Framework/Algorithms/src/SampleCorrections/MayersSampleCorrection.cpp
  docs/source/release/v4.3.0/diffraction.rst
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction, Powder

#27738 Disable the plotting context menu options if a matrix ws has 1 bin
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam, Workbench

#27733 Re Expose getting time averaged std to python
  Framework/API/inc/MantidAPI/LogManager.h
  Framework/API/src/LogManager.cpp
  Framework/API/test/LogManagerTest.h
  Framework/PythonInterface/mantid/api/src/Exports/Run.cpp
  Framework/PythonInterface/test/python/mantid/api/RunTest.py
  docs/source/release/v4.3.0/framework.rst
Labels: Framework, Python

#27714 Add Cropping Options to Eng Diff Calib Tab
  docs/source/interfaces/Engineering Diffraction 2.rst
  scripts/Engineering/EnggUtils.py
  scripts/Engineering/gui/CMakeLists.txt
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/calibration_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_widget.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_widget.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/test/test_cropping_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/test/test_cropping_presenter.py
Labels: Diffraction, ISIS Team: Diffraction

#27756 Fix bundling Python on Windows
  Framework/PythonInterface/mantid/BundlePython.cmake
  buildconfig/CMake/Bootstrap.cmake
  qt/python/CMakeLists.txt
  qt/python/mantidqtpython/CMakeLists.txt
Labels: Bug, High Priority

#27698 Add support for a Python 3 build on RHEL 7
  CMakeLists.txt
  Framework/PostInstall/CMakeLists.txt
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/legend.py
  MantidPlot/CMakeLists.txt
  buildconfig/CMake/DetermineLinuxDistro.cmake
  buildconfig/CMake/ExternalSipPyQt4.cmake
  buildconfig/CMake/FindPyQt.py
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/mantidpython.in
  buildconfig/CMake/PyQtFindImpl.cmake
  buildconfig/CMake/SipQtTargetFunctions.cmake
  buildconfig/CMake/UiToPy.cmake
  buildconfig/CMake/internal-pyuic.py.in
  buildconfig/CMake/pyqt4_disable_unnecessary_modules.patch
  buildconfig/CMake/pyqt4_qreal_float_support.patch
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/icons/CMakeLists.txt
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotssaver.py
  qt/python/mantidqt/widgets/codeeditor/completion.py
  qt/python/mantidqt/widgets/instrumentview/CMakeLists.txt
  qt/python/mantidqt/widgets/plotconfigdialog/colorselector.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/advancedlegendoptionsdialog/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
  qt/python/mantidqtpython/CMakeLists.txt
  scripts/HFIR_4Circle_Reduction/process_mask.py
Labels: Linux Only

#27715 Improve sampling of scatter points in absorption correction simulation
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCAbsorptionStrategy.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/MCAbsorptionStrategyTest.h
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  Framework/Algorithms/test/MonteCarloTesting.h
  Framework/Geometry/inc/MantidGeometry/Instrument/Container.h
  Framework/Geometry/inc/MantidGeometry/Instrument/SampleEnvironment.h
  Framework/Geometry/inc/MantidGeometry/Objects/CSGObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/IObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject.h
  Framework/Geometry/inc/MantidGeometry/Objects/MeshObject2D.h
  Framework/Geometry/src/Instrument/SampleEnvironment.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Objects/MeshObject.cpp
  Framework/Geometry/src/Objects/MeshObject2D.cpp
  Framework/Geometry/test/CSGObjectTest.h
  Framework/Geometry/test/MeshObject2DTest.h
  Framework/Geometry/test/MeshObjectTest.h
  Framework/Geometry/test/SampleEnvironmentTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLSelfShielding.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILL_common.py
  Testing/SystemTests/tests/analysis/ILLDirectGeometryReductionTest.py
  Testing/SystemTests/tests/analysis/reference/ILL_IN4_SofQW.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartRotated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentMultiPartTranslated.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentRotatedTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexEnvironmentTranslatedAbsorb.nxs.md5
  Testing/SystemTests/tests/analysis/reference/complexShapeRotatedAbsorbEnvironment.nxs.md5
  docs/source/release/v4.3.0/framework.rst
  scripts/test/AbsorptionShapesTest.py
Labels: Framework, ISIS Team: Diffraction

#27761 Fix Windows Python 3 test failures
  Framework/CMakeLists.txt
  Framework/PythonInterface/mantid/api/src/Exports/ITableWorkspace.cpp
  Framework/PythonInterface/mantid/plots/scales.py
  Framework/PythonInterface/test/python/mantid/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/api/ITableWorkspaceTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/ComputeCalibrationCoefVanTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/BayesStretchTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectReplaceFitResultTest.py
  MantidPlot/test/MantidPlotMatplotlibTest.py
  MantidPlot/test/MantidPlotProjectSerialiseTest.py
  Testing/SystemTests/tests/analysis/PVPythonTest.py
  Testing/SystemTests/tests/analysis/SXDAnalysis.py
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/FindPyQt.py
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/Packaging/mantidpython.bat.in
  qt/applications/workbench/workbench/plotting/test/test_globalfiguremanager.py
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/python/mantidqt/project/test/test_workspacesaver.py
  qt/python/mantidqt/widgets/test/test_functionbrowser.py
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
  qt/widgets/common/src/QtJSONUtils.cpp
  qt/widgets/common/test/QtJSONUtilsTest.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Colors.h
  qt/widgets/mplcpp/src/Colors.cpp
  scripts/Inelastic/Direct/CommonFunctions.py
  scripts/Inelastic/QLdata_win64.cp38-win_amd64.pyd
  scripts/Inelastic/QLres_win64.cp38-win_amd64.pyd
  scripts/Inelastic/QLse_win64.cp38-win_amd64.pyd
  scripts/Inelastic/Quest_win64.cp38-win_amd64.pyd
  scripts/Inelastic/ResNorm_win64.cp38-win_amd64.pyd
  scripts/Inelastic/cylabs_win64.cp38-win_amd64.pyd
  scripts/Inelastic/muscat_win64.cp38-win_amd64.pyd
  scripts/MultiPlotting/subplot/subplot_context.py
  scripts/test/Muon/frequency_domain_context_test.py
  scripts/test/Muon/muon_gui_context_test.py
  scripts/test/SANS/common/file_information_test.py
  scripts/test/SANS/gui_logic/table_model_test.py
Labels: Code Quality, Python, Unit Tests

#27529 Improve muon analysis plotting
  docs/source/release/v4.3.0/muon.rst
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_context_ADS_observer.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_model.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_presenter.py
  scripts/Muon/GUI/Common/home_grouping_widget/home_grouping_widget_view.py
  scripts/Muon/GUI/Common/home_tab/home_tab_widget.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_view.py
  scripts/Muon/GUI/Common/plotting_dock_widget/__init__.py
  scripts/Muon/GUI/Common/plotting_dock_widget/plotting_dock_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
  scripts/Muon/GUI/Common/test_helpers/context_setup.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/grouping_tab/grouping_table_presenter_test.py
  scripts/test/Muon/grouping_tab/pairing_table_alpha_test.py
  scripts/test/Muon/grouping_tab/pairing_table_group_selector_test.py
  scripts/test/Muon/grouping_tab/pairing_table_presenter_test.py
  scripts/test/Muon/home_grouping_widget_test.py
  scripts/test/Muon/plotting_widget_freq_test.py
  scripts/test/Muon/plotting_widget_model_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
Labels: ISIS Team: Spectroscopy

#27639 Adding plotting options to the Muon Analysis GUI
  Framework/PythonInterface/mantid/plots/__init__.py
  docs/source/release/v4.3.0/muon.rst
  scripts/MultiPlotting/AxisChanger/axis_changer_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_presenter.py
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/MultiPlotting/QuickEdit/quickEdit_widget.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_model.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_presenter.py
  scripts/Muon/GUI/Common/plotting_widget/plotting_widget_view.py
  scripts/Muon/GUI/Common/plotting_widget/workspace_finder.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/plotting_widget_freq_test.py
  scripts/test/Muon/plotting_widget_test.py
  scripts/test/Muon/plotting_widget_tiled_test.py
  scripts/test/Muon/workspace_finder_test.py
Labels: ISIS Team: Spectroscopy

#27725 Load and display data for PANTHER in diffraction mode
  Framework/Algorithms/test/SumOverlappingTubesTest.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLTOF2.h
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Testing/Data/UnitTest/ILL/PANTHER/001036.nxs.md5
  docs/source/algorithms/LoadILLTOF-v2.rst
  docs/source/release/v4.3.0/diffraction.rst
  instrument/PANTHER_Parameters.xml
Labels: Direct Inelastic, ILL Team: All

#27764 Build against Python 3 by default
  Framework/PythonInterface/mantid/api/_workspaceops.py
  Framework/PythonInterface/mantid/kernel/funcinspect.py
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/plugins/algorithms/ViewBOA.py
  Framework/PythonInterface/test/python/mantid/SimpleAPITest.py
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
  dev-docs/source/Python3.rst
  docs/source/release/v4.3.0/framework.rst
  docs/sphinxext/mantiddoc/autodoc.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: High Priority, ISIS Team: CoreTeam, Python

#27786 Add missing custom stylesheet for docs with newer sphinx_bootstrap_theme
  docs/source/_templates/layout.html
  docs/source/conf.py
Labels: Documentation, High Priority, ISIS Team: CoreTeam

#27567 Waterfall Plots in Workbench
  Framework/PythonInterface/mantid/plots/__init__.py
  Framework/PythonInterface/mantid/plots/helperfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/plots__init__Test.py
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_figureerrorsmanager.py
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/python/mantidqt/dialogs/spectraselectordialog.py
  qt/python/mantidqt/dialogs/spectraselectordialog.ui
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/__init__.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/presenter.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/test/__init__.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/test/test_waterfallplotfillareadialogpresenter.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/view.py
  qt/python/mantidqt/widgets/waterfallplotfillareadialog/waterfall_plot_fill_area_dialog.ui
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/__init__.py
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/presenter.py
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/test/__init__.py
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/test/test_waterfallplotoffsetdialogpresenter.py
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/view.py
  qt/python/mantidqt/widgets/waterfallplotoffsetdialog/waterfall_plot_offset_dialog.ui
Labels: ISIS Team: CoreTeam, Python, Workbench

#27741 Add NumberOfBins property to LoadEventNexus
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Framework/DataHandling/test/SaveDaveGrpTest.h
  Testing/SystemTests/tests/analysis/ReflectometryFloodCorrection.py
  docs/source/algorithms/ConvertToMatrixWorkspace-v1.rst
  docs/source/algorithms/LoadEventNexus-v1.rst
  docs/source/release/v4.3.0/framework.rst
Labels: Extra Attention, Framework, ISIS Team: CoreTeam

#27763 Add Full Calibration Saving and Loading to Eng Diff GUI
  Framework/PythonInterface/plugins/algorithms/EnggCalibrateFull.py
  docs/source/algorithms/EnggCalibrateFull-v1.rst
  docs/source/release/v4.3.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/settings/settings_view.py
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
Labels: Diffraction, ISIS Team: Diffraction

#27802 Restore Python 2 compatability
  Framework/PythonInterface/mantid/api/_workspaceops.py
  buildconfig/Jenkins/buildscript
Labels: High Priority, ISIS Team: CoreTeam

#27809 FitPeaks automation for pseudo-Voigt
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/test/FitPeaksTest.h
  docs/source/algorithms/FitPeaks-v1.rst
  docs/source/release/v4.3.0/diffraction.rst
Labels: Diffraction, Powder

#27755 For one bin workspaces add plot bin options
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: CoreTeam, Workbench

#27783 Delete deprecated IndexPeaksWithSatellites algorithm
  Framework/Crystal/CMakeLists.txt
  Framework/Crystal/inc/MantidCrystal/IndexPeaksWithSatellites.h
  Framework/Crystal/src/IndexPeaksWithSatellites.cpp
  Framework/Crystal/test/IndexPeaksTest.h
  Framework/Crystal/test/IndexPeaksWithSatellitesTest.h
  docs/source/algorithms/IndexPeaksWithSatellites-v1.rst
  docs/source/concepts/ModulatedStructure.rst
  docs/source/release/v4.1.0/diffraction.rst
  docs/source/release/v4.2.0/diffraction.rst
  docs/source/release/v4.2.0/framework.rst
  docs/source/release/v4.3.0/diffraction.rst
Labels: ISIS Team: Diffraction, Single Crystal

#27804 Add exclude option to the fit property browser
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Fitting, ISIS Team: CoreTeam

#27810 Correct instrument view default axis
  docs/source/release/v4.3.0/ui.rst
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
Labels: Bug

#27813 Only run system tests on RHEL Python 3 builds
  buildconfig/Jenkins/buildscript
Labels: Added during Sprint, Framework, High Priority, ISIS Team: CoreTeam

#27747 Merge pull request #27747 from mantidproject/27734_move_grouping_from_params
  Framework/Algorithms/src/DeadTimeCorrection.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/SystemTests/tests/analysis/SANSILLReductionTest.py
  instrument/D33_Parameters.xml
  instrument/Grouping/D33_Grouping.xml
Labels: Added during Sprint, ILL Team: All, SANS

#27749 Merge pull request #27749 from mantidproject/27188_eng_crop_focus
  docs/source/interfaces/Engineering Diffraction 2.rst
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/common/cropping/cropping_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/focus_tab.ui
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/view.py
Labels: Diffraction, ISIS Team: Diffraction

#27787 Add manitdplot settings to workbench - part 1
  Framework/PythonInterface/mantid/api/src/Exports/AlgorithmFactory.cpp
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/config/__init__.py
  qt/applications/workbench/workbench/plugins/editor.py
  qt/applications/workbench/workbench/widgets/settings/categories/__init__.py
  qt/applications/workbench/workbench/widgets/settings/categories/presenter.py
  qt/applications/workbench/workbench/widgets/settings/categories/section_categories.ui
  qt/applications/workbench/workbench/widgets/settings/categories/test/__init__.py
  qt/applications/workbench/workbench/widgets/settings/categories/test/test_categories_settings.py
  qt/applications/workbench/workbench/widgets/settings/categories/view.py
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/section_general.ui
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/applications/workbench/workbench/widgets/settings/general/view.py
  qt/applications/workbench/workbench/widgets/settings/main.ui
  qt/applications/workbench/workbench/widgets/settings/presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_presenter.py
  qt/applications/workbench/workbench/widgets/settings/test/test_settings_view.py
  qt/python/mantidqt/_common.sip
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: ISIS Team: CoreTeam

#27818 Add nested categories for fit functions
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/SelectFunctionDialog.cpp
Labels: ISIS Team: CoreTeam, ISIS Team: Spectroscopy

#27806 Add unit for atomic distance to unit factory
  Framework/Algorithms/src/PDFFourierTransform.cpp
  Framework/Algorithms/test/PDFFourierTransformTest.h
  Framework/Kernel/inc/MantidKernel/Unit.h
  Framework/Kernel/src/Unit.cpp
  Framework/Kernel/test/UnitTest.h
  docs/source/release/v4.3.0/diffraction.rst
Labels: ISIS Team: Diffraction

#27492 Fix unrolling consecutive workflow algorithms in workspace history
  Framework/API/src/HistoryView.cpp
  docs/source/release/v4.3.0/mantidplot.rst
  docs/source/release/v4.3.0/mantidworkbench.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmHistoryWindow.h
  qt/widgets/common/src/AlgorithmHistoryWindow.cpp
Labels: Bug, Framework, ISIS Team: CoreTeam

#27485 ILL Reflectometry workflow
  Framework/Algorithms/src/ReflectometryBeamStatistics.cpp
  Framework/Algorithms/src/ReflectometrySumInQ.cpp
  Framework/Algorithms/src/SpecularReflectionPositionCorrect2.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/Kernel/src/Property.cpp
  Framework/PythonInterface/plugins/algorithms/ExtractMonitors.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLConvertToQ.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPolarizationCor.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForeground.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_common.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLAutoProcessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLSumForegroundTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILL_commonTest.py
  Framework/PythonInterface/test/testhelpers/illhelpers.py
  Testing/Data/DocTest/ILL/D17/541838.nxs.md5
  Testing/Data/DocTest/ILL/D17/541839.nxs.md5
  Testing/Data/DocTest/ILL/D17/541853.nxs.md5
  Testing/Data/DocTest/ILL/D17/541854.nxs.md5
  Testing/Data/DocTest/ILL/D17/541882.nxs.md5
  Testing/Data/DocTest/ILL/D17/541883.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397806.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397808.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397812.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397814.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397826.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397827.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397828.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397829.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397830.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397831.nxs.md5
  Testing/Data/UnitTest/ILL/D17/397832.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541838.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541839.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541853.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541854.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541882.nxs.md5
  Testing/Data/UnitTest/ILL/D17/541883.nxs.md5
  Testing/SystemTests/tests/analysis/ILLReflAutoProcessTest.py
  Testing/SystemTests/tests/analysis/reference/D17_SiO2.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_Thick_HR_5.nxs.md5
  Testing/SystemTests/tests/analysis/reference/D17_VoS11.nxs.md5
  docs/source/algorithms/ReflectometryILLAutoProcess-v1.rst
  docs/source/algorithms/ReflectometryILLConvertToQ-v1.rst
  docs/source/algorithms/ReflectometryILLPreprocess-v1.rst
  docs/source/diagrams/ReflectometryILLAutoProcess-v1_wkflw.dot
  docs/source/release/v4.1.0/reflectometry.rst
  docs/source/release/v4.3.0/reflectometry.rst
Labels: ILL Team: All, Reflectometry

#27816 Fix crash in Indirect ILL Reduction GUI
  docs/source/release/v4.3.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectDataReductionTab.cpp
Labels: Bug, Easy, Indirect Inelastic
