Repository mantidproject/mantid, pull requests merged in 2020-11, with the labels that each got.

#29833 CORELLI Calibration: scripts for database population
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124016_bank10.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_banks_10_15.nxs.md5
  scripts/corelli/calibration/__init__.py
  scripts/corelli/calibration/bank.py
  scripts/corelli/calibration/database.py
  scripts/corelli/calibration/utils.py
  scripts/test/corelli/calibration/CMakeLists.txt
  scripts/test/corelli/calibration/test_all.py
  scripts/test/corelli/calibration/test_bank.py
  scripts/test/corelli/calibration/test_database.py
  scripts/test/corelli/calibration/test_utils.py
Labels: Diffraction

#29876 CORELLI Calibration: scripts for database population
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124016_bank10.nxs.md5
  Testing/Data/UnitTest/CORELLI/calibration/CORELLI_124023_banks_10_15.nxs.md5
  scripts/Calibration/tube_calib.py
  scripts/corelli/calibration/__init__.py
  scripts/corelli/calibration/bank.py
  scripts/corelli/calibration/database.py
  scripts/corelli/calibration/utils.py
  scripts/test/corelli/calibration/CMakeLists.txt
  scripts/test/corelli/calibration/test_all.py
  scripts/test/corelli/calibration/test_bank.py
  scripts/test/corelli/calibration/test_database.py
  scripts/test/corelli/calibration/test_utils.py
Labels: Diffraction

#29836 Fix ManageUserDirectories lifetime management when pressing escape
  CMakeLists.txt
  buildconfig/CMake/CppCheckSetup.cmake
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/ManageUserDirectories.h
  qt/widgets/common/src/ManageUserDirectories.cpp
  qt/widgets/common/test/ManageUserDirectoriesTest.h
Labels: Bug, ISIS Team: Core, Workbench

#29853 Bug in DrILL threadpool limit
  scripts/Interface/ui/drill/model/DrillModel.py
Labels: Bug, ILL Team

#29877 Fix up navigation bar in qthelp documentation pages
  docs/CMakeLists.txt
Labels: Documentation

#29771 Enable rebinning for MDHistoWorkspace with original in sliceviewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/alpha.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_alpha.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core, Workbench

#29801 waiting mode checks in ISIS direct inelastic reduction
  instrument/LET_Parameters_dr1to12.xml
  instrument/MAPS_Parameters.xml
  instrument/MARI_Parameters.xml
  instrument/MERLIN_Parameters_2018_03.xml
  scripts/Inelastic/Direct/NonIDF_Properties.py
  scripts/Inelastic/Direct/ReductionWrapper.py
  scripts/Inelastic/Direct/RunDescriptor.py
  scripts/test/DirectPropertyManagerTest.py
  scripts/test/ReductionWrapperTest.py
  scripts/test/RunDescriptorTest.py
Labels: Direct Inelastic, ISIS Team: Core

#29763 New algorithm to load elemental analysis data
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/LoadElementalAnalysisData.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/LoadElementalAnalysisRunTest.py
  Testing/Data/SystemTest/ral02683.rooth2099.dat.md5
  Testing/Data/SystemTest/ral02683.rooth4099.dat.md5
  Testing/Data/SystemTest/ral09999.rooth2010.dat.md5
  Testing/Data/SystemTest/ral09999.rooth2020.dat.md5
  Testing/Data/SystemTest/ral09999.rooth2099.dat.md5
  Testing/Data/SystemTest/ral09999.rooth3010.dat.md5
  Testing/Data/SystemTest/ral09999.rooth3020.dat.md5
  Testing/Data/SystemTest/ral09999.rooth3099.dat.md5
  Testing/Data/SystemTest/ral09999.rooth4010.dat.md5
  Testing/Data/SystemTest/ral09999.rooth4020.dat.md5
  Testing/Data/SystemTest/ral09999.rooth4099.dat.md5
  Testing/Data/SystemTest/ral09999.rooth5010.dat.md5
  Testing/Data/SystemTest/ral09999.rooth5020.dat.md5
  Testing/Data/SystemTest/ral09999.rooth5099.dat.md5
  Testing/SystemTests/tests/framework/LoadElementalAnalysisTest.py
  Testing/SystemTests/tests/framework/reference/ElementalAnalysisLoad.nxs.md5
  Testing/SystemTests/tests/framework/reference/PartialElementalAnalysisLoad.nxs.md5
  docs/source/algorithms/LoadElementalAnalysisData-v1.rst
  docs/source/release/v6.0.0/muon.rst
Labels: ISIS Team: Spectroscopy, Muon

#29884 Improved error message if insufficient permission to read a file
  Framework/Kernel/src/FileValidator.cpp
  Framework/Kernel/test/FileValidatorTest.h
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Framework, ISIS Team: Core

#29137 Changing axes title in axes tab does not update curves tab
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/curves_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
Labels: Bug, ISIS Team: Core, Induction 1, Workbench

#29724 Time validity for instrument parameters
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLPolarizedDiffraction.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadHelper.cpp
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/src/LoadParameterFile.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/DataHandling/test/LoadILLIndirect2Test.h
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Framework/DataHandling/test/LoadParameterFileTest.h
  Framework/Geometry/inc/MantidGeometry/Instrument/InstrumentDefinitionParser.h
  Framework/Geometry/src/Instrument/InstrumentDefinitionParser.cpp
  docs/source/concepts/InstrumentParameterFile.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  instrument/unit_testing/IDF_for_UNIT_TESTING2_paramFile_with_dates.xml
Labels: Framework, ILL Team

#29873 muon doc update
  docs/source/interfaces/Frequency Domain Analysis.rst
  docs/source/interfaces/Muon Analysis 2.rst
Labels: Added during Sprint, Documentation, ISIS Team: Spectroscopy

#29859 Fix crash when displaying of Ragged Workspaces
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/workspacedisplay/matrix/table_view_model.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_table_view_model.py
  qt/python/mantidqt/widgets/workspacedisplay/test/test_workspacedisplay_view.py
Labels: Bug, ISIS Team: Core

#29885 Fix labels in bin plots
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/axesfunctionsTest.py
  docs/source/release/v6.0.0/framework.rst
Labels: Workbench

#29870 Change default EngDiffUI fitting loadpath
  docs/source/release/v6.0.0/diffraction.rst
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29865 Add LogNorm option to Sliceviewer
  Framework/PythonInterface/mantid/plots/datafunctions.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
Labels: ISIS Team: Core, Workbench

#29821 Use cmake wrappers to invoke msbuild in systemtest.bat
  Testing/SystemTests/scripts/systemtest.bat.in
Labels: ISIS Team: Core, Windows Only

#29920 Fix isis direct reduction wait mode
  Testing/SystemTests/tests/framework/ISISDirectInelastic.py
  scripts/Inelastic/Direct/ReductionWrapper.py
  scripts/Inelastic/Direct/RunDescriptor.py
  scripts/test/RunDescriptorTest.py
Labels: Added during Sprint, Direct Inelastic, High Priority, ISIS Team: Core

#29880 Clone axis when replacing
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/api/MatrixWorkspaceTest.py
  docs/source/release/v6.0.0/framework.rst
Labels: Framework

#29919 Revising links to mocking in Unit Test Good practice doc
  dev-docs/source/UnitTestGoodPractice.rst
Labels: Added during Sprint, Documentation

#29794 D20 detector scan fixes
  Framework/Algorithms/src/RunCombinationHelpers/SampleLogsBehaviour.cpp
  Framework/Algorithms/test/SampleLogsBehaviourTest.h
  Framework/CurveFitting/src/Functions/CubicSpline.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLEfficiency.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PowderILLDetectorScanTest.py
  Testing/Data/UnitTest/ILL/D20/167339.nxs.md5
  Testing/Data/UnitTest/ILL/D20/167340.nxs.md5
  Testing/Data/UnitTest/ILL/D20/171414.nxs.md5
  Testing/SystemTests/tests/framework/ILLPowderDetectorScanTest.py
  Testing/SystemTests/tests/framework/ILLPowderEfficiencyTest.py
  Testing/SystemTests/tests/framework/reference/D20_DetectorScan_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_D20_calib_203.nxs.md5
  docs/source/release/v6.0.0/diffraction.rst
  instrument/D20_Parameters.xml
Labels: Diffraction, ILL Team

#29734 Loadraw logfile search cleanup
  Framework/DataHandling/inc/MantidDataHandling/LoadRawHelper.h
  Framework/DataHandling/src/LoadRawBin0.cpp
  Framework/DataHandling/src/LoadRawHelper.cpp
  Framework/DataHandling/src/LoadRawSpectrum0.cpp
  Framework/DataHandling/test/LoadRaw3Test.h
  docs/source/algorithms/LoadRaw-v3.rst
Labels: ISIS Team: Core, Maintenance, Windows Only

#29824 Docs: Do not add allowed values to property tables for workspaces
  docs/sphinxext/mantiddoc/directives/properties.py
Labels: Added during Sprint, Bug, High Priority, ISIS Team: Core

#29921 Startup scripts now default to pyqt5
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/mantidpython.bat.in
  buildconfig/CMake/Packaging/mantidpython.in
  buildconfig/CMake/Packaging/osx/mantidpython.in
Labels: Added during Sprint, Framework, ISIS Team: Core

#29845 Add Sample logs and Invalid values to training courses
  docs/source/images/FilterByLogValueTemp.png
  docs/source/images/FilterEventsInterface.png
  docs/source/images/SampleLogs.png
  docs/source/images/cryo_temp1_log.png
  docs/source/images/wb_invalid_log_shading.png
  docs/source/interfaces/Filter Events.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/06_sample_logs.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/07_invalid_sample_logs.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/08_exercises_c.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/index.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/04_run_logs.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/05_advanced_logs.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/06_settings.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/07_extract_manipulate_data.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/08_running_algorithms_complex.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/09_pim_ex_4.rst
  docs/source/tutorials/python_in_mantid/further_alg_ws/index.rst
Labels: Documentation, ISIS Team: Core

#29793 Crystal Field - Ability to Fix the parameters in a Background object
  docs/source/release/v6.0.0/direct_geometry.rst
  docs/source/techniques/CrystalField.rst
  scripts/Inelastic/CrystalField/function.py
  scripts/test/CrystalFieldTest.py
Labels: Direct Inelastic, ISIS Team: Spectroscopy

#29857 Preserve height when FWHM of BackToBackExponential changed
  Framework/Algorithms/test/FitPeaksTest.h
  Framework/CurveFitting/src/Functions/BackToBackExponential.cpp
  Framework/CurveFitting/test/Algorithms/FitPowderDiffPeaksTest.h
  docs/source/algorithms/FitPowderDiffPeaks-v1.rst
  docs/source/fitting/fitfunctions/BackToBackExponential.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#29910 Fix colorfill and sliceviewer unnecessary logging and system exception
  Framework/PythonInterface/mantid/plots/datafunctions.py
Labels: Added during Sprint, Bug, ISIS Team: Core

#29810 Show correct attribute values in Indirect Data Analysis FunctionBrowser
  Framework/API/inc/MantidAPI/IFunction.h
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionMultiDomainPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionView.h
  qt/widgets/common/src/FunctionBrowser.cpp
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/test/FunctionModelTest.h
  qt/widgets/common/test/FunctionMultiDomainPresenterTest.h
Labels: ISIS Team: Core, ISIS Team: Spectroscopy, Indirect Inelastic

#29871 Allow PaalmanPingsMCA to use tabulated density values
  Framework/DataHandling/src/SetSample.cpp
  Framework/Kernel/src/NeutronAtom.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorption.py
  docs/source/release/v6.0.0/diffraction.rst
Labels: Absorption Corrections, Diffraction, ISIS Team: Diffraction

#29941 Modernise emplace usage to ensure in place construction
  Framework/API/src/MultipleFileProperty.cpp
  Framework/Algorithms/src/CreateDetectorTable.cpp
  Framework/Crystal/src/OptimizeLatticeForCellType.cpp
  Framework/Crystal/src/PeakAlgorithmHelpers.cpp
  Framework/Crystal/src/PredictPeaks.cpp
  Framework/Crystal/src/PredictSatellitePeaks.cpp
  Framework/Crystal/src/SaveLauenorm.cpp
  Framework/Crystal/src/SortPeaksWorkspace.cpp
  Framework/Crystal/src/StatisticsOfPeaksWorkspace.cpp
  Framework/CurveFitting/src/Algorithms/EstimateFitParameters.cpp
  Framework/CurveFitting/src/Algorithms/LeBailFit.cpp
  Framework/CurveFitting/src/Functions/CubicSpline.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/LoadISISNexus2.cpp
  Framework/DataHandling/src/SaveParameterFile.cpp
  Framework/DataHandling/test/LoadNexusProcessed2Test.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/Geometry/src/Instrument/InstrumentVisitor.cpp
  Framework/Kernel/src/Interpolation.cpp
  Framework/Kernel/src/UserStringParser.cpp
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  Framework/Muon/src/ApplyMuonDetectorGroupPairing.cpp
  MantidPlot/src/Mantid/MantidTable.cpp
  qt/scientific_interfaces/ISISSANS/SANSRunWindow.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
  qt/scientific_interfaces/Muon/MuonAnalysisFitDataPresenter.cpp
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
Labels: Added during Sprint, ISIS Team: Core

#29901 Support sub dirs in System Tests
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LARMOR/LARMOR_multiperiod_event_files_TOML.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LARMOR/__init__.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQAddBatch.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQBatch.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQBatch_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQCan2D.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQCan2D_TOML.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQCan2D_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQCentreNoGrav.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQReductionGUI.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQReductionGUITest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQTransFitWorkspace2D.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/__init__.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DBatch.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DBatchTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DBatchToml.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DFrontNoGrav.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DFrontNoGrav_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DLOQReloadWorkspaces.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DLimitEventsTime.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DLimitEventsTime_TOML.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DLimitEventsTime_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DMultiPeriod.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DMultiPeriodAddFiles.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DMultiPeriodAddFilesTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DMultiPeriod_TOML.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DMultiPeriod_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReductionGUI.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReductionGUIAdded.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReductionGUIAddedTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReductionGUI_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DSearchCentreGUI.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DSlicing.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DSlicingTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DWaveloops.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DWaveloopsTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/__init__.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBatchReductionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBeamCentreFinderCoreTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSCentreSample.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSDarkRunSubtractionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSDiagnosticPageTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSFileChecking.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSLOWCentreNoGrav_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSLoadTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSLoadersTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSMergedDetectorsTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSMergedDetectorsTest_V2.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSQResolutionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSReductionCoreTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSaveTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSingleReductionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSUtilityTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSWorkspaceTypeTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/__init__.py
  Testing/SystemTests/tests/framework/ISIS/SANS/__init__.py
Labels: Framework

#29897 Minor Improvements To Plot In ALC Data Loading
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/Python/Object.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Axes.h
  qt/widgets/mplcpp/src/Axes.cpp
  qt/widgets/mplcpp/src/Figure.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Qwt/PreviewPlot.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Qwt/PreviewPlot.cpp
Labels: ISIS Team: Spectroscopy, Muon

#29949 Workaround segv in doctests & readline import
  docs/source/conf.py
Labels: Documentation, High Priority

#29928 Multi dataset Fitting Example with different fit functions
  docs/source/algorithms/Fit-v1.rst
Labels: Documentation

#29925 Fix problem with blank pages in Workbench docs in nightly build
  docs/source/conf-html.py
  docs/source/conf.py
Labels: Documentation

#29946 Short review of files involved in powder calibration
  Framework/Algorithms/inc/MantidAlgorithms/PDCalibration.h
  Framework/Algorithms/src/CalculateDIFC.cpp
  Framework/Algorithms/src/PDCalibration.cpp
  Framework/DataHandling/inc/MantidDataHandling/SaveDiffCal.h
  Framework/DataHandling/src/LoadDiffCal.cpp
  Framework/DataHandling/src/SaveDiffCal.cpp
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  docs/source/algorithms/AlignComponents-v1.rst
  docs/source/algorithms/CalculateDIFC-v1.rst
  docs/source/algorithms/PDCalibration-v1.rst
  docs/source/algorithms/SaveDiffCal-v1.rst
Labels: Powder

#29962 Short review of files involved in powder calibration
  Framework/Algorithms/inc/MantidAlgorithms/PDCalibration.h
  Framework/Algorithms/src/CalculateDIFC.cpp
  Framework/Algorithms/src/PDCalibration.cpp
  Framework/DataHandling/inc/MantidDataHandling/SaveDiffCal.h
  Framework/DataHandling/src/LoadDiffCal.cpp
  Framework/DataHandling/src/SaveDiffCal.cpp
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  docs/source/algorithms/AlignComponents-v1.rst
  docs/source/algorithms/CalculateDIFC-v1.rst
  docs/source/algorithms/PDCalibration-v1.rst
  docs/source/algorithms/SaveDiffCal-v1.rst
Labels: Powder

#29779 exterminate warnings found by clang11 and 12
  Framework/API/inc/MantidAPI/IndexProperty.h
  Framework/API/inc/MantidAPI/WorkspaceHistory.h
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/Algorithms/src/DetectorEfficiencyCor.cpp
  Framework/Algorithms/src/MaskBinsFromWorkspace.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSimultaneous.cpp
  Framework/Indexing/inc/MantidIndexing/Conversion.h
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/src/FunctionMultiDomainPresenter.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/mplcpp/src/Plot.cpp
Labels: Maintenance, macOS Only

#29931 Fix SaveHKL direction cosines
  Framework/Crystal/src/SaveHKL.cpp
  Framework/Crystal/test/SaveHKLTest.h
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#29961 Add folder to the docs-qthelp target (only affects VS)
  docs/CMakeLists.txt
  docs/source/conf-html.py
  docs/source/conf.py
Labels: Documentation, ISIS Team: Diffraction

#29940 Fix LoadCIF bug causing an error message
  Framework/PythonInterface/plugins/algorithms/LoadCIF.py
  Testing/Data/SystemTest/DyAgGe20K.cif.md5
  Testing/SystemTests/tests/framework/LoadCIFTest.py
  docs/source/release/v6.0.0/direct_geometry.rst
Labels: Bug, Direct Inelastic, ISIS Team: Spectroscopy

#29862 Fix Colorfill Plotting for Ragged Workspaces
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/test/CompositeFunctionTest.h
  Framework/Algorithms/test/RebinByTimeBaseTest.h
  Framework/DataObjects/inc/MantidDataObjects/EventWorkspace.h
  Framework/DataObjects/inc/MantidDataObjects/Workspace2D.h
  Framework/DataObjects/inc/MantidDataObjects/WorkspaceSingleValue.h
  Framework/DataObjects/src/EventWorkspace.cpp
  Framework/DataObjects/src/Workspace2D.cpp
  Framework/DataObjects/test/EventWorkspaceTest.h
  Framework/DataObjects/test/Workspace2DTest.h
  Framework/DataObjects/test/WorkspaceSingleValueTest.h
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  Framework/PythonInterface/test/python/mantid/plots/axesfunctionsTest.py
  Framework/TestHelpers/inc/MantidTestHelpers/FakeObjects.h
Labels: Bug, ISIS Team: Core

#29971 Add instructions to specify timeout for system test data download
  dev-docs/source/SystemTests.rst
Labels: Documentation, ISIS Team: Core, Low Priority

#29822 Fix spurious transmission error with workspace groups
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  Framework/Reflectometry/inc/MantidReflectometry/ReflectometryReductionOneAuto3.h
  Framework/Reflectometry/src/ReflectometryReductionOneAuto3.cpp
  docs/source/algorithms/ReflectometryReductionOneAuto-v3.rst
  docs/source/release/v6.0.0/reflectometry.rst
Labels: Framework, ISIS Team: LSS, Reflectometry, Reported By User

#29916 Fix bug in Pearl focus process when subtract_empty_instrument=False
  Testing/SystemTests/tests/framework/ISIS_PowderPearlTest.py
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098507_tt70NoEmptySub.nxs.md5
  scripts/Diffraction/isis_powder/routines/focus.py
Labels: Bug, Diffraction, ISIS Team: Diffraction, Powder

#29902 Make EngDiffUI fit plot undockable
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_widget.ui
Labels: Diffraction, ISIS Team: Diffraction, Powder

#29820 Adds SHARP IDF
  docs/source/release/v6.0.0/direct_geometry.rst
  instrument/Facilities.xml
  instrument/SHARP_Definition.xml
Labels: Direct Inelastic, ILL Team

#29943 SCD algorithm for normalization and detector adjustment
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/HB3AAdjustSampleNorm.py
  Framework/PythonInterface/test/python/plugins/algorithms/HB3AAdjustSampleNormTest.py
  docs/source/algorithms/HB3AAdjustSampleNorm-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, Single Crystal

#29866 OFFSPEC IDF Geometry Update
  instrument/OFFSPEC_Definition.xml
  instrument/OFFSPEC_Definition_2020.xml
Labels: ISIS Team: LSS

#29917 Alf View - Estimation of Fit Parameters
  docs/source/release/v6.0.0/direct_geometry.rst
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentPresenterTest.h
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneModel.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneView.cpp
  qt/widgets/instrumentview/test/PlotFitAnalysisPaneModelTest.h
  qt/widgets/instrumentview/test/PlotFitAnalysisPanePresenterTest.h
Labels: Direct Inelastic, ISIS Team: Spectroscopy

#29973 Corrected variable names in DUP_TOP workflow in funcinspect
  Framework/PythonInterface/mantid/kernel/funcinspect.py
Labels: Bug, ILL Team

#29983 Ensure legend stays on top of horizontal and vertical markers
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/plotting/markers.py
Labels: ISIS Team: Core

#29955 Stop displaying in-built methods of ReflectionFormat as allowed fmts
  Framework/PythonInterface/plugins/algorithms/SaveReflections.py
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#29977 Convert index to spectrum number in _get_data_for_plot() for plotBin()
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/datafunctions.py
  Framework/PythonInterface/test/python/mantid/plots/axesfunctionsTest.py
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Bug, ISIS Team: Core, Induction, Reported By User

#29935 Adjust confidence band interval calculation for calculated fit curve
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/CurveFitting/src/CostFunctions/CostFuncFitting.cpp
  Framework/CurveFitting/src/IMWDomainCreator.cpp
  Framework/CurveFitting/src/TableWorkspaceDomainCreator.cpp
  Testing/Data/SystemTest/BilbyReductionExampleOutput.nxs.md5
  Testing/SystemTests/lib/systemtests/systemtesting.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBatchReductionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSingleReductionTest.py
  Testing/SystemTests/tests/framework/VesuvioFittingTest.py
  Testing/SystemTests/tests/framework/reference/EQSANSTrans.nxs.md5
  Testing/SystemTests/tests/framework/reference/EQSANSTransEvent.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/framework/reference/INTERReductionResult.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQCentreNoGravSearchCentreFixed.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQCentreNoGrav_V2.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQTransFitWorkspace2D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2DWaveloops.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_event_slice_referance_t1.00_T3.00.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_event_slice_referance_t3.00_T5.00.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_wavelength_range_1.0_2.0.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_wavelength_range_2.0_3.0.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB_can.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_HAB_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_LAB_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_LAB_2D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_Merged_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_bottom.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_left.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_right.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_top.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANSLOQBatch.nxs.md5
  Testing/SystemTests/tests/framework/reference/VesuvioFittingTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/VesuvioFittingWithKFreeTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/VesuvioFittingWithQuadraticBackgroundTest.nxs.md5
  docs/source/algorithms/Fit-v1.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: ISIS Team: Core

#29932 IDA Convfit get lorentzian width from ipf
  Framework/API/inc/MantidAPI/CompositeFunction.h
  Framework/API/inc/MantidAPI/FunctionGenerator.h
  Framework/API/inc/MantidAPI/FunctionParameterDecorator.h
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/inc/MantidAPI/ParamFunction.h
  Framework/API/src/CompositeFunction.cpp
  Framework/API/src/FunctionGenerator.cpp
  Framework/API/src/FunctionParameterDecorator.cpp
  Framework/API/src/ParamFunction.cpp
  Framework/API/test/CompositeFunctionTest.h
  Framework/API/test/FunctionParameterDecoratorTest.h
  Framework/API/test/IFunctionTest.h
  Framework/API/test/ParamFunctionAttributeHolderTest.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/CrystalFieldFunction.h
  Framework/CurveFitting/src/Functions/CrystalFieldFunction.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/ConvFit.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/src/FunctionModel.cpp
  qt/widgets/common/test/FunctionModelTest.h
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#29927 Control the intregration slider using arrow keys
  docs/source/release/v6.0.0/mantidworkbench.rst
  docs/source/tutorials/mantid_basic_course/connecting_data_to_instruments/01_introduction.rst
  qt/widgets/instrumentview/src/XIntegrationControl.cpp
Labels: ILL Team, Workbench

#29909 Fixes to D7YIGPositionCalibration
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibration.py
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
Labels: ILL Team

#29914 Loader for D1B instrument
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PowderILLParameterScan.py
  Testing/Data/UnitTest/ILL/D1B/473432.nxs.md5
  docs/source/algorithms/LoadILLDiffraction-v1.rst
  docs/source/algorithms/PowderILLParameterScan-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, ILL Team

#29856 Sort peaks table by value type and not string comparison
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
Labels: Added during Sprint, Bug, High Priority, ISIS Team: Core, Workbench

#29978 Indirect Reduction - Fix Custom Grouping Bug
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferTest.py
  docs/source/interfaces/Indirect Data Reduction.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#30036 Skip PVPython system test when ParaView not available
  Testing/SystemTests/tests/framework/PVPythonTest.py
Labels: Added during Sprint, ISIS Team: Core

#30050 Use filename not path to generate variables in LoadElementalAnalysisData
  Framework/PythonInterface/plugins/algorithms/LoadElementalAnalysisData.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadElementalAnalysisRunTest.py
  Testing/SystemTests/tests/framework/LoadElementalAnalysisTest.py
Labels: High Priority, ISIS Team: Spectroscopy

#29926 Wireframe Zoom 3D plots
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: ISIS Team: Core, Workbench

#30064 Remove header and main block from instrument view file
  qt/python/mantidqt/widgets/instrumentview/api.py
Labels: Direct Inelastic, ORNL Team

#30010 Add extra input validation to IndexPeaks
  Framework/Crystal/inc/MantidCrystal/IndexPeaks.h
  Framework/Crystal/src/IndexPeaks.cpp
  Framework/Crystal/test/IndexPeaksTest.h
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#30063 Remove header and main block from instrument view file
  qt/python/mantidqt/widgets/instrumentview/api.py
Labels: Direct Inelastic, ORNL Team

#30059 Add SliceViewer Manual test
  dev-docs/source/Testing/SliceViewer/SliceViewer.rst
  docs/source/release/v5.1.0/sliceviewer.rst
Labels: Documentation, ISIS Team: Core

#30060 Fix Muon Editing Constraints Causing A Crash
  docs/source/release/v6.0.0/muon.rst
  qt/widgets/common/src/FunctionTreeView.cpp
Labels: Bug, ISIS Team: Spectroscopy, Reported By User

#30013 Add Dx tab in the data window
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/utils/testing/mocks/mock_mantid.py
  qt/python/mantidqt/utils/testing/mocks/mock_matrixworkspacedisplay.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/model.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/table_view_model.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_model.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/view.py
Labels: Workbench

#29989 Add axis autoscale checkbox to plot config dialog
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotsloader.py
  qt/python/mantidqt/project/test/test_plotssaver.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/axes_tab_widget.ui
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: Bug, ISIS Team: Core, Induction, Workbench

#29986 Swap Start And End Times If Start Is Greater In Muon Analysis Fitting
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#29593 Extend MaskBTP for ILL's SANS instruments
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  docs/source/algorithms/MaskBTP-v1.rst
  docs/source/release/v6.0.0/sans.rst
Labels: ILL Team, SANS

#30070 Windows packaging: Wrap NSIS commands with ENABLE_MANTIDPLOT
  CMakeLists.txt
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/CMake/WindowsNSISQt4.cmake
Labels: Added during Sprint, Bug, High Priority, ISIS Team: Core, Windows Only

#29847 Updates To The ALC Interface Data Loading Section
  docs/source/images/MuonALCDataLoading.png
  docs/source/interfaces/Muon ALC.rst
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/test/ALCDataLoadingPresenterTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FileFinderWidget.h
  qt/widgets/common/src/FileFinderWidget.cpp
Labels: ISIS Team: Spectroscopy

#30082 Use temp dir for settings
  scripts/Engineering/gui/engineering_diffraction/settings/test/test_settings_helper.py
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction, Induction, Powder

#30065 Change how vanadium correction is calculated in SNSPowderReduction
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Testing/SystemTests/tests/framework/reference/PG3_4844_reference.gsa.md5
  docs/source/release/v6.0.0/diffraction.rst
Labels: Absorption Corrections, Diffraction, Powder

#30075 Fixes x-axis extent in colorfill plots on ragged workspaces
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Bug, Workbench

#30078 Log errors with skipping invalid instrument info
  Framework/Kernel/src/FacilityInfo.cpp
  docs/source/release/v6.0.0/framework.rst
Labels: ISIS Team: Core, Induction
