Repository mantidproject/mantid, pull requests merged in 2021-02, with the labels that each got.

#30495 Fix Colourfill plots not allowing high precision and e notation
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/CMakeLists.txt
  qt/python/mantidqt/utils/qt/line_edit_double_validator.py
  qt/python/mantidqt/utils/qt/test/test_line_edit_double_validator.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/images_tab.ui
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/imagestabwidget/view.py
Labels: Bug, ISIS Team: Core

#30549 correct source's name
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
Labels: Powder

#30550 correct source's name
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
Labels: Powder

#30544 Muon ALC - Import data into all three pages
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCInterface.cpp
  qt/scientific_interfaces/Muon/ALCInterface.h
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30185 Export dialog in DrILL
  docs/source/images/drill-export.png
  docs/source/images/drill-numbers.png
  docs/source/interfaces/DrILL.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  scripts/Interface/ui/drill/model/DrillAlgorithmPool.py
  scripts/Interface/ui/drill/model/DrillExportModel.py
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/model/DrillRundexIO.py
  scripts/Interface/ui/drill/model/DrillSample.py
  scripts/Interface/ui/drill/model/DrillTask.py
  scripts/Interface/ui/drill/model/configurations.py
  scripts/Interface/ui/drill/presenter/DrillExportPresenter.py
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/test/CMakeLists.txt
  scripts/Interface/ui/drill/test/DrillExportModelTest.py
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillRundexIOTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/view/DrillExportDialog.py
  scripts/Interface/ui/drill/view/DrillView.py
  scripts/Interface/ui/drill/view/ui/export.ui
  scripts/Interface/ui/drill/view/ui/main.ui
Labels: ILL Team, Workbench

#30159 Allow PaalmanPingsMonteCarloAbsorption to use shape defined in workspace
  Framework/PythonInterface/mantid/api/src/Exports/Sample.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorption.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PolDiffILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorptionTest.py
  Testing/SystemTests/tests/framework/PaalmanPingsMonteCarloAbsorptionTest.py
  docs/source/algorithms/PaalmanPingsMonteCarloAbsorption-v1.rst
  docs/source/interfaces/Indirect Corrections.rst
  docs/source/release/v6.0.0/diffraction.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.h
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30515 Create Profiling dev-docs page and minor testing updates
  dev-docs/source/DeveloperAccounts.rst
  dev-docs/source/DevelopmentTeam.rst
  dev-docs/source/ProfilingOverview.rst
  dev-docs/source/ReleaseChecklist.rst
  dev-docs/source/Testing/Core/Core.rst
  dev-docs/source/Testing/ErrorReporter-ProjectRecovery/ErrorReporterTesting.rst
  dev-docs/source/Testing/index.rst
  dev-docs/source/ToolsOverview.rst
  dev-docs/source/images/ASavici.jpg
  dev-docs/source/images/GGuest.png
  dev-docs/source/images/JBilheaux.jpg
  dev-docs/source/images/JBorreguero.jpg
  dev-docs/source/images/LMoore.jpg
  dev-docs/source/images/MDoucet.jpg
  dev-docs/source/images/MGigg.jpg
  dev-docs/source/images/NDraper.jpg
  dev-docs/source/images/OArnold.jpg
  dev-docs/source/images/PPeterson.jpg
  dev-docs/source/images/RFerrazLeal.jpg
  dev-docs/source/images/RTolchenov.jpg
  dev-docs/source/images/VLynch.jpg
  dev-docs/source/images/WZhou.jpg
  dev-docs/source/index.rst
  docs/source/concepts/WorkspaceGroup.rst
Labels: Documentation

#30551 Muon ALC - Fix 'mixing together' of exported results
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCInterface.cpp
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30505 Core and Diffraction Release Notes 6.0
  docs/source/images/Bk2Bk_exp.png
  docs/source/images/IV_D1B.png
  docs/source/images/SV_scale_log.png
  docs/source/images/Ticks_gridlines_settings.png
  docs/source/images/engdiff_custom_steup.png
  docs/source/images/multiple_curves_axis_autoscale.png
  docs/source/images/step_scan_analysis.png
  docs/source/release/v6.0.0/diffraction.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/index.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Documentation

#30548 Fix Crash when showing detectors on a workspace with a missing EFixed
  Framework/Algorithms/src/CreateDetectorTable.cpp
  Testing/Data/UnitTest/TOSCA26911_show_detectors.nxs.md5
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
Labels: Bug, ISIS Team: Core

#30536 Muon ALC - Disable load when editing runs begins
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/IALCDataLoadingView.h
  qt/scientific_interfaces/Muon/test/ALCDataLoadingPresenterTest.h
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30424 Remove python 2 version (if) checks from code
  Framework/PythonInterface/mantid/api/_workspaceops.py
  Framework/PythonInterface/mantid/plots/legend.py
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/test/python/mantid/api/AlgorithmFactoryObserverTest.py
  Framework/PythonInterface/test/python/mantid/api/PythonAlgorithmPropertiesTest.py
  Framework/PythonInterface/test/python/mantid/kernel/ArrayPropertyTest.py
  Framework/PythonInterface/test/python/mantid/kernel/UnitLabelTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadCIFTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/MatchPeaksTest.py
  docs/source/algorithms/ExportSampleLogsToHDF5-v1.rst
  qt/applications/workbench/workbench/app/start.py
  qt/applications/workbench/workbench/config/__init__.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecovery.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoveryloader.py
  qt/applications/workbench/workbench/projectrecovery/test/test_projectrecoverysaver.py
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/python/mantidqt/utils/qt/testing/gui_window_test.py
  qt/python/mantidqt/widgets/codeeditor/test/test_execution.py
  qt/python/mantidqt/widgets/test/test_fitpropertybrowserbase.py
  scripts/Inelastic/IndirectImport.py
  scripts/SANS/SANSBatchMode.py
  scripts/SANS/isis_instrument.py
  scripts/SANS/isis_reducer.py
  scripts/test/Muon/elemental_analysis/name_generator_test.py
Labels: ISIS Team: Core, Maintenance

#30562 Indirect - Only exclude first detector group for SaveDetectorsGrouping xmls
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#30493 Iterate over list of dict items to prevent runtime error when renaming plotted workspace
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: ISIS Team: Core

#30521 D22B new nexus
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Testing/Data/UnitTest/ILL/D22B/000180.nxs.md5
  instrument/D22B_Definition.xml
Labels: ILL Team, SANS

#30501 Fix Autoscale y in Muon Analysis
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30543 Allow multiple goniometers to be stored in the Run object
  Framework/API/inc/MantidAPI/Run.h
  Framework/API/src/Run.cpp
  Framework/API/test/RunTest.h
  Framework/Crystal/src/SetGoniometer.cpp
  Framework/Crystal/test/SetGoniometerTest.h
  Framework/PythonInterface/mantid/api/src/Exports/Run.cpp
  Framework/PythonInterface/test/python/mantid/api/RunTest.py
  docs/source/algorithms/SetGoniometer-v1.rst
  docs/source/concepts/Run.rst
  docs/source/release/v6.1.0/framework.rst
Labels: Single Crystal

#30454 Stop StartX and EndX Going Beyond Limits Of The Data In ALC Baseline Modelling
  docs/source/release/v6.0.0/muon.rst
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/Mpl/RangeSelector.h
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plotting/src/Mpl/RangeSelector.cpp
Labels: Bug, Found in Beta, ISIS Team: Spectroscopy

#30473 Reset axes extent and limits post transpose orthog data
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core

#30430 Add semi axis length options to IntegratePeaksMD for ellipsoid integration
  Framework/Crystal/src/PeakIntensityVsRadius.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegratePeaksMD2.h
  Framework/MDAlgorithms/src/IntegratePeaksMD2.cpp
  Framework/MDAlgorithms/test/IntegratePeaksMD2Test.h
  docs/source/algorithms/IntegratePeaksMD-v2.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30555 Fix StartX EndX Function Parameters Not Updating In MA
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: Bug, Found in Beta, ISIS Team: Spectroscopy, Muon

#30566 Move GitHub api keys
  Framework/DataHandling/src/DownloadInstrument.cpp
  Framework/Kernel/CMakeLists.txt
  Framework/Kernel/inc/MantidKernel/GitHubApiHelper.h.in
  Framework/Kernel/src/GitHubApiHelper.cpp
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
  docs/source/algorithms/DownloadInstrument-v1.rst
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v6.0.0/framework.rst
Labels: Bug, Framework, High Priority

#30552 SaveNXcanSAS: Convert edges to points on save
  Framework/DataHandling/src/LoadNXcanSAS.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/test/LoadNXcanSASTest.h
  Framework/DataHandling/test/NXcanSASTestHelper.cpp
  Framework/DataHandling/test/NXcanSASTestHelper.h
  Framework/DataHandling/test/SaveNXcanSASTest.h
  Testing/Data/UnitTest/NXcanSAS-histo-lambda.h5.md5
  docs/source/release/v6.0.0/sans.rst
Labels: Bug, ISIS Team: LSS, SANS

#30586 Fix sphere background shell plot when inner radius equals peak radius
  Framework/DataObjects/src/PeakShapeSpherical.cpp
  Framework/DataObjects/test/PeakShapeSphericalTest.h
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: Bug

#30585 Fix nightly MacOS app bundle
  installers/MacInstaller/make_package.rb
Labels: High Priority, ORNL Team, Reported By User, Workbench, macOS Only

#30563 Added reminder for updating MSlice SHA to release checklist
  dev-docs/source/ReleaseChecklist.rst
Labels: Maintenance

#30470 Update 6.1 diffraction release notes with lines from PR 30052
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction, Documentation, ISIS Team: Diffraction

#30587 Added Number Of Periods To Run Info And Change Tooltip in MA/FDA
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_model.py
  scripts/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_presenter.py
  scripts/test/Muon/home_runinfo_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30595 add a wrapper detector to D22B
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  instrument/D22B_Definition.xml
  instrument/D22B_Parameters.xml
  instrument/Facilities.xml
Labels: Bug, Found in Beta, ILL Team, SANS

#30596 Add EngDiff images to Interface docs
  docs/source/images/EngDiff_Calibration.png
  docs/source/images/EngDiff_Fitting.png
  docs/source/images/EngDiff_Focus.png
  docs/source/interfaces/Engineering Diffraction.rst
Labels: Documentation, ISIS Team: Diffraction, Maintenance

#30465 Muon Analysis differences
  docs/source/images/muon_interface_tab_grouping.png
  docs/source/interfaces/muon_grouping_tab.rst
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/frequency_domain_analysis_context.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/difference_table_widget/__init__.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_table_widget_presenter.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_table_widget_view.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_widget_presenter.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_widget_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_model.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_view.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
  scripts/Muon/GUI/Common/muon_base.py
  scripts/Muon/GUI/Common/muon_base_pair.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_model.py
  scripts/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/xml_utils_test.py
Labels: High Priority, ISIS Team: Spectroscopy

#30553 Improve incremental builds of Qt .ui files
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/Jenkins/buildscript
  buildconfig/Jenkins/buildscript.bat
Labels: Maintenance

#30601 Absorption correction cache prefix option
  Framework/PythonInterface/mantid/utils/absorptioncorrutils.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/PythonInterface/test/python/mantid/utils/absorptioncorrutilsTest.py
Labels: Diffraction, Powder

#30572 Change some logs from LoadWANDSCD to be TimeSeriesProperties
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Framework/PythonInterface/plugins/algorithms/LoadWANDSCD.py
  Framework/PythonInterface/test/python/plugins/algorithms/LoadWANDSCDTest.py
  Testing/Data/SystemTest/HB2C_WANDSCD_data.nxs.md5
  Testing/SystemTests/tests/framework/ConvertHFIRSCDtoMDETest.py
  Testing/SystemTests/tests/framework/ConvertWANDSCDtoQTest.py
  docs/source/release/v6.1.0/diffraction.rst
  qt/python/mantidqt/widgets/samplelogs/model.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: Diffraction, Single Crystal

#30617 Update package version number
  buildconfig/CMake/VersionNumber.cmake
Labels: High Priority, ISIS Team: Core

#30619 Update VersionNumber for master
  buildconfig/CMake/VersionNumber.cmake
Labels: High Priority, ISIS Team: Core

#30627 Update buildscript.bat
  buildconfig/Jenkins/buildscript.bat
Labels: High Priority, ISIS Team: Core

#30623 Fix ellipsoid background integration
  Framework/MDAlgorithms/src/IntegratePeaksMD2.cpp
  Framework/MDAlgorithms/test/IntegratePeaksMD2Test.h
Labels: Bug

#30608 ConvertHFIRSCDtoMDE zero count check for vanadium
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/HB3AFindPeaksTest.py
  Testing/Data/UnitTest/HB3A_exp0722_scan0220.nxs.md5
Labels: Single Crystal

#30524 Add back and reenable SANS tests for Qt5
  scripts/test/SANS/CMakeLists.txt
  scripts/test/SANS/SANSBatchModeTest.py
  scripts/test/SANS/SANSCentreFinderTest.py
  scripts/test/SANS/SANSCommandInterfaceTest.py
  scripts/test/SANS/SANSReducerTest.py
  scripts/test/SANS/SANSReductionStepsUserFileTest.py
  scripts/test/SANS/SansIsisGuiSettings.py
Labels: Maintenance

#30661 Fix ellipsoid background shape plotting
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/spherical.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_spherical.py
Labels: Bug, Single Crystal

#30462 Support for 3D pixels in NeXus detector gemetries
  Framework/NexusGeometry/src/NexusGeometryParser.cpp
  Framework/NexusGeometry/src/NexusShapeFactory.cpp
  Framework/NexusGeometry/test/NexusGeometryParserTest.h
  instrument/unit_testing/VOXEL_example.nxs
Labels: ESS Team

#30674 Correct unit output in PEARL tof_xye files
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_output.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30510 Check usage of numerical_limits<double>::min() vs numerical_limits<double>::lowest()
  Framework/Algorithms/src/CalculateDynamicRange.cpp
  Framework/Algorithms/src/ConvertAxesToRealSpace.cpp
  Framework/Geometry/src/Objects/MeshObjectCommon.cpp
  Framework/Geometry/src/Surfaces/Cylinder.cpp
  Framework/Geometry/src/Surfaces/Plane.cpp
  Framework/Kernel/src/AttenuationProfile.cpp
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
Labels: ISIS Team: Core, Maintenance

#30688 D7AbsoluteCrossSections doc latex errors
  docs/source/algorithms/D7AbsoluteCrossSections-v1.rst
Labels: Bug, Documentation, ILL Team

#30703 Rename Consts To Capitalise Them In Muon Workspace Naming
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
Labels: Muon

#30603 Add option to use chisq to fit diff constants PDCalibration
  Framework/Algorithms/src/PDCalibration.cpp
  Framework/Algorithms/test/PDCalibrationTest.h
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30691 Improve fit peaks initial guess for BackToBackExponential profile
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/test/FitPeaksTest.h
  instrument/VULCAN_Parameters.xml
Labels: Diffraction, Powder

#30680 Improve validation on dictionary parameters in SetSample
  Framework/DataHandling/inc/MantidDataHandling/SetSample.h
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/SetSampleTest.h
  Framework/Kernel/inc/MantidKernel/IPropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManagerOwner.h
  Framework/Kernel/src/PropertyManager.cpp
  Framework/Kernel/src/PropertyManagerOwner.cpp
  Framework/Kernel/src/PropertyManagerProperty.cpp
  docs/source/release/v6.1.0/framework.rst
Labels: ISIS Team: Diffraction

#30140 Fit Script Generator - Connect FunctionTreeView to data table
  Framework/API/inc/MantidAPI/CompositeFunction.h
  Framework/API/inc/MantidAPI/ParameterTie.h
  Framework/API/src/CompositeFunction.cpp
  Framework/API/src/ParameterTie.cpp
  Framework/API/test/CompositeFunctionTest.h
  Testing/SystemTests/tests/qt/FitScriptGeneratorStartupTest.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitscriptgenerator/__init__.py
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/MultiDatasetFit/MultiDatasetFit.cpp
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/FitDomain.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitOptionsBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGenerator.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorDataTable.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorMockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FittingGlobals.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FittingMode.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionBrowser/FunctionBrowserUtils.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionTreeView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionView.h
  qt/widgets/common/src/FitDomain.cpp
  qt/widgets/common/src/FitOptionsBrowser.cpp
  qt/widgets/common/src/FitScriptGeneratorDataTable.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FitScriptGeneratorPresenter.cpp
  qt/widgets/common/src/FitScriptGeneratorView.cpp
  qt/widgets/common/src/FittingGlobals.cpp
  qt/widgets/common/src/FunctionBrowser/FunctionBrowserUtils.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/test/FitDomainTest.h
  qt/widgets/common/test/FitScriptGeneratorDataTableTest.h
  qt/widgets/common/test/FitScriptGeneratorModelTest.h
  qt/widgets/common/test/FitScriptGeneratorPresenterTest.h
  qt/widgets/common/test/FitScriptGeneratorViewTest.h
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
Labels: ISIS Team: Spectroscopy, Muon

#30713 Ignore .h5 files from generic Load system test
  Testing/SystemTests/tests/framework/LoadLotsOfFiles.py
Labels: Added during Sprint, High Priority, ISIS Team: Core

#30692 Update doi generation files
  tools/DOI/authors.py
  tools/DOI/doi.py
Labels: ISIS Team: Core

#30611 Add option to MatrixWorkspaceDisplay to overplot bins
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_view.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/view.py
Labels: ISIS Team: Core

#30705 Documentation: math mode use in Mantid docs
  Framework/Algorithms/src/GetEi2.cpp
  Framework/Algorithms/src/Q1DWeighted.cpp
  Framework/MDAlgorithms/src/ConvertToDiffractionMDWorkspace.cpp
  Framework/MDAlgorithms/src/ConvertToMD.cpp
  docs/source/algorithms/AnvredCorrection-v1.rst
  docs/source/algorithms/ComputeIncoherentDOS-v1.rst
  docs/source/algorithms/ConvertCWSDExpToMomentum-v1.rst
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
  docs/source/algorithms/DetectorEfficiencyCorUser-v1.rst
  docs/source/algorithms/DivideMD-v1.rst
  docs/source/algorithms/EnggCalibrateFull-v1.rst
  docs/source/algorithms/GenerateEventsFilter-v1.rst
  docs/source/algorithms/GetEi-v2.rst
  docs/source/algorithms/He3TubeEfficiency-v1.rst
  docs/source/algorithms/IntegrateEllipsoids-v1.rst
  docs/source/algorithms/IntegratePeaksMD-v2.rst
  docs/source/algorithms/LoadVesuvio-v1.rst
  docs/source/algorithms/LorentzCorrection-v1.rst
  docs/source/algorithms/NormaliseByDetector-v1.rst
  docs/source/algorithms/RefinePowderInstrumentParameters-v3.rst
  docs/source/algorithms/SpecularReflectionPositionCorrect-v1.rst
  docs/source/algorithms/XrayAbsorptionCorrection-v1.rst
  docs/source/fitting/fitfunctions/DiffRotDiscreteCircle.rst
  docs/source/fitting/fitfunctions/EISFDiffCylinder.rst
  docs/source/fitting/fitfunctions/FickDiffusion.rst
  docs/source/fitting/fitfunctions/GramCharlier.rst
  docs/source/fitting/fitfunctions/HallRoss.rst
  docs/source/fitting/fitfunctions/InelasticDiffRotDiscreteCircle.rst
  docs/source/fitting/fitfunctions/LogNormal.rst
  docs/source/fitting/fitfunctions/Meier.rst
  docs/source/fitting/fitfunctions/MultivariateGaussianComptonProfile.rst
  docs/source/fitting/fitfunctions/Voigt.rst
  docs/source/techniques/PolarisedDiffractionILL.rst
Labels: Documentation, ILL Team

#30702 Fix Typo Causing Crash In Muon Analysis
  docs/source/release/v6.1.0/muon.rst
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
Labels: Muon, Patch Candidate

#30671 Fix inheritance on ISIS indirect inelastic system tests
  Testing/Data/SystemTest/II.IRISFury.nxs.md5
  Testing/Data/SystemTest/II.OSIRISFury.nxs.md5
  Testing/Data/SystemTest/II.OSIRISIqt.nxs.md5
  Testing/SystemTests/tests/framework/ISISDirectInelastic.py
  Testing/SystemTests/tests/framework/ISISIndirectBayesTest.py
  Testing/SystemTests/tests/framework/ISISIndirectInelastic.py
  Testing/SystemTests/tests/framework/reference/II.IRISFury.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.IRISMSDFit.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.OSIRISFury.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.OSIRISIqt.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.OSIRISMSDFit.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpCETest.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpFickTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpTeixeiraTest.nxs.md5
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#30554 Add a selection of tests to the MainWindow class
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/mainwindowtest.py
  qt/python/mantidqt/utils/test/test_writetosignal.py
  qt/python/mantidqt/utils/writetosignal.py
Labels: ISIS Team: Core, Maintenance

#30583 Make unit test .exes run in VS without visual-studio.bat
  buildconfig/CMake/FindCxxTest.cmake
Labels: Maintenance, Windows Only

#30700 Update MDEvent to have goniometerIndex
  Framework/API/inc/MantidAPI/IMDIterator.h
  Framework/API/inc/MantidAPI/IMDNode.h
  Framework/API/inc/MantidAPI/MatrixWorkspaceMDIterator.h
  Framework/API/src/MatrixWorkspaceMDIterator.cpp
  Framework/Crystal/test/PeakBackgroundTest.h
  Framework/DataObjects/CMakeLists.txt
  Framework/DataObjects/inc/MantidDataObjects/BoxControllerNeXusIO.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.h
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDEvent.h
  Framework/DataObjects/inc/MantidDataObjects/MDEventInserter.h
  Framework/DataObjects/inc/MantidDataObjects/MDGridBox.h
  Framework/DataObjects/inc/MantidDataObjects/MDGridBox.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspaceIterator.h
  Framework/DataObjects/inc/MantidDataObjects/MDLeanEvent.h
  Framework/DataObjects/src/BoxControllerNeXusIO.cpp
  Framework/DataObjects/src/FakeMD.cpp
  Framework/DataObjects/src/MDEventFactory.cpp
  Framework/DataObjects/src/MDHistoWorkspaceIterator.cpp
  Framework/DataObjects/test/BoxControllerNeXusIOTest.h
  Framework/DataObjects/test/MDBoxBaseTest.h
  Framework/DataObjects/test/MDBoxIteratorTest.h
  Framework/DataObjects/test/MDBoxTest.h
  Framework/DataObjects/test/MDEventInserterTest.h
  Framework/DataObjects/test/MDEventTest.h
  Framework/DataObjects/test/MDGridBoxTest.h
  Framework/DataObjects/test/MDHistoWorkspaceIteratorTest.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvToMDEventsWSIndexing.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvertToDetectorFaceMD.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDEventWSWrapper.h
  Framework/MDAlgorithms/src/ConvToMDEventsWS.cpp
  Framework/MDAlgorithms/src/ConvToMDHistoWS.cpp
  Framework/MDAlgorithms/src/ConvertCWSDExpToMomentum.cpp
  Framework/MDAlgorithms/src/ConvertCWSDMDtoHKL.cpp
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Framework/MDAlgorithms/src/ConvertSpiceDataToRealSpace.cpp
  Framework/MDAlgorithms/src/ConvertToDetectorFaceMD.cpp
  Framework/MDAlgorithms/src/FitMD.cpp
  Framework/MDAlgorithms/src/ImportMDEventWorkspace.cpp
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/MDAlgorithms/src/LoadSQW.cpp
  Framework/MDAlgorithms/src/LoadSQW2.cpp
  Framework/MDAlgorithms/src/MDEventWSWrapper.cpp
  Framework/MDAlgorithms/test/ConvToMDEventsWSIndexingTest.h
  Framework/MDAlgorithms/test/FitMDTest.h
  Framework/MDAlgorithms/test/IntegratePeaksCWSDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTestReference.h
  Framework/MDAlgorithms/test/LoadMDTest.h
  Framework/MDAlgorithms/test/MDEventWSWrapperTest.h
  Framework/MDAlgorithms/test/MergeMDTest.h
Labels: Framework

#30722 Update MDEvent to have goniometerIndex
  Framework/API/inc/MantidAPI/IMDIterator.h
  Framework/API/inc/MantidAPI/IMDNode.h
  Framework/API/inc/MantidAPI/MatrixWorkspaceMDIterator.h
  Framework/API/src/MatrixWorkspaceMDIterator.cpp
  Framework/Crystal/test/PeakBackgroundTest.h
  Framework/DataObjects/CMakeLists.txt
  Framework/DataObjects/inc/MantidDataObjects/BoxControllerNeXusIO.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.h
  Framework/DataObjects/inc/MantidDataObjects/MDBoxIterator.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDEvent.h
  Framework/DataObjects/inc/MantidDataObjects/MDEventInserter.h
  Framework/DataObjects/inc/MantidDataObjects/MDGridBox.h
  Framework/DataObjects/inc/MantidDataObjects/MDGridBox.tcc
  Framework/DataObjects/inc/MantidDataObjects/MDHistoWorkspaceIterator.h
  Framework/DataObjects/inc/MantidDataObjects/MDLeanEvent.h
  Framework/DataObjects/src/BoxControllerNeXusIO.cpp
  Framework/DataObjects/src/FakeMD.cpp
  Framework/DataObjects/src/MDEventFactory.cpp
  Framework/DataObjects/src/MDHistoWorkspaceIterator.cpp
  Framework/DataObjects/test/BoxControllerNeXusIOTest.h
  Framework/DataObjects/test/MDBoxBaseTest.h
  Framework/DataObjects/test/MDBoxIteratorTest.h
  Framework/DataObjects/test/MDBoxTest.h
  Framework/DataObjects/test/MDEventInserterTest.h
  Framework/DataObjects/test/MDEventTest.h
  Framework/DataObjects/test/MDGridBoxTest.h
  Framework/DataObjects/test/MDHistoWorkspaceIteratorTest.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvToMDEventsWSIndexing.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvertToDetectorFaceMD.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDEventWSWrapper.h
  Framework/MDAlgorithms/src/ConvToMDEventsWS.cpp
  Framework/MDAlgorithms/src/ConvToMDHistoWS.cpp
  Framework/MDAlgorithms/src/ConvertCWSDExpToMomentum.cpp
  Framework/MDAlgorithms/src/ConvertCWSDMDtoHKL.cpp
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Framework/MDAlgorithms/src/ConvertSpiceDataToRealSpace.cpp
  Framework/MDAlgorithms/src/ConvertToDetectorFaceMD.cpp
  Framework/MDAlgorithms/src/FitMD.cpp
  Framework/MDAlgorithms/src/ImportMDEventWorkspace.cpp
  Framework/MDAlgorithms/src/LoadDNSSCD.cpp
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/MDAlgorithms/src/LoadSQW.cpp
  Framework/MDAlgorithms/src/LoadSQW2.cpp
  Framework/MDAlgorithms/src/MDEventWSWrapper.cpp
  Framework/MDAlgorithms/test/ConvToMDEventsWSIndexingTest.h
  Framework/MDAlgorithms/test/FitMDTest.h
  Framework/MDAlgorithms/test/IntegratePeaksCWSDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTest.h
  Framework/MDAlgorithms/test/LoadDNSSCDTestReference.h
  Framework/MDAlgorithms/test/LoadMDTest.h
  Framework/MDAlgorithms/test/MDEventWSWrapperTest.h
  Framework/MDAlgorithms/test/MergeMDTest.h
Labels: Framework

#30453 Create documentation pages for Compton functions
  docs/source/algorithms/VesuvioResolution-v1.rst
  docs/source/fitting/fitfunctions/ComptonPeakProfile.rst
  docs/source/fitting/fitfunctions/ComptonScatteringCountRate.rst
  docs/source/fitting/fitfunctions/GaussianComptonProfile.rst
  docs/source/fitting/fitfunctions/GramCharlierComptonProfile.rst
Labels: Documentation, ISIS Team: Core, Maintenance

#30715 Disable log scale if non-positive data in Sliceviewer
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
Labels: Added during Sprint, Bug, ISIS Team: Core, Patch Candidate, Workbench

#30746 Improved FileFinder Search Speed
  Framework/API/src/FileFinder.cpp
  docs/source/api/python/mantid/api/FileFinderImpl.rst
  docs/source/release/v6.1.0/framework.rst
  qt/scientific_interfaces/Muon/CMakeLists.txt
Labels: ISIS Team: Core, ISIS Team: Spectroscopy

#30628 Add Workspace History To Exported Results From ALC
  docs/source/release/v6.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCBaselineModellingModel.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingModel.cpp
Labels: Bug, Found in Beta, ISIS Team: Spectroscopy, Muon

#30755 Fix sequential fitting crash on RHEL7
  qt/widgets/common/src/SequentialFitDialog.cpp
Labels: Bug

#30753 Set QT_PLUGIN_PATH variable in mantidpython on Windows
  buildconfig/CMake/Packaging/mantidpython.bat.in
Labels: Added during Sprint, High Priority, ISIS Team: Core, Windows Only

#30754 Add missing indirect fit functions
  Framework/API/src/FunctionFactory.cpp
  docs/source/release/v6.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisConvFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.cpp
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/ConvTypes.h
  qt/widgets/common/src/PropertyHandler.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#30751 Add plot interaction for removing legend and opening plot config
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/__pycache__/start.cpython-38.pyc.1481682766864
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/view.py
Labels: ISIS Team: Core, Workbench

#30748 Fix FitScriptGeneratorStartupTest on Ubuntu
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitscriptgenerator/__init__.py
  qt/python/mantidqt/widgets/test/test_fittingmode.py
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/FittingMode.h
  qt/widgets/common/src/FitOptionsBrowser.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FitScriptGeneratorView.cpp
  qt/widgets/common/test/FitScriptGeneratorModelTest.h
Labels: Bug, High Priority, Linux Only

#30775 Removing \tag from reST latex
  docs/source/fitting/fitfunctions/GramCharlierComptonProfile.rst
Labels: Added during Sprint, ISIS Team: Core

#30773 Set max cores to 1 in PaalmanPingsMonteCarloAbsorption-v1 test
  docs/source/algorithms/PaalmanPingsMonteCarloAbsorption-v1.rst
Labels: Added during Sprint, Documentation, ISIS Team: Core

#30758 VULCAN pixel-by-pixel calibration diagnostic
  docs/source/concepts/calibration/PowderDiffractionCalibration.rst
  docs/source/images/VULCAN_192227_pixel_calibration.png
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Calibration/tofpd/__init__.py
  scripts/Calibration/tofpd/diagnostics.py
Labels: Diffraction, Powder

#30771 SANSILLAutoProcess: single-input sensitivity error
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/reference/D22_AutoProcess_Single_Sens_Reference.nxs.md5
Labels: Bug, ILL Team, SANS

#30776 Interface help
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/python/mantidqt/gui_helper.py
  scripts/DGSPlanner/DGSPlannerGUI.py
  scripts/FilterEvents/eventFilterGUI.py
  scripts/Interface/ui/sans_isis/SANSSaveOtherWindow.py
  scripts/PyChop/PyChopGui.py
  scripts/QECoverage/QECoverageGUI.py
  scripts/TofConverter/converterGUI.py
Labels: Bug, Documentation, Patch Candidate, Workbench

#30777 D11B nexus format
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Testing/Data/UnitTest/ILL/D11B/000410.nxs.md5
Labels: High Priority, ILL Team, SANS

#30693 Allow custom dataset for PEARL create_vanadium
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Diffraction/isis_powder/pearl_routines/pearl_algs.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30752 FindPeaksMD multiple goniometers
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  Testing/SystemTests/tests/framework/ConvertHFIRSCDtoMDETest.py
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction, Single Crystal

#30784 Fix no discard warning in FitDomainTest
  qt/widgets/common/test/FitDomainTest.h
Labels: Bug, ISIS Team: Spectroscopy
