Repository mantidproject/mantid, pull requests merged in 2021-01, with the labels that each got.

#30229 Update URL for ISIS ext. data cache
  buildconfig/CMake/MantidExternalData.cmake
Labels: Maintenance

#30241 Switch to https for external data
  buildconfig/CMake/MantidExternalData.cmake
  dev-docs/source/DataFilesForTesting.rst
  docs/source/algorithms/AlignAndFocusPowder-v1.rst
  docs/source/algorithms/ConvertDiffCal-v1.rst
Labels: Maintenance

#30247 Update Plot In MA/FDA When Plot Raw/Diff Changed
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
Labels: ISIS Team: Spectroscopy, Muon

#30253 Remove (unused) generic Sequential Fit button from fit menu in EngDiff UI
  docs/source/interfaces/Engineering Diffraction.rst
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
Labels: ISIS Team: Diffraction

#30068 Create Basics of Fit Script Generator Interface
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/fitscriptgenerator/__init__.py
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/MDFDataController.cpp
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceDialog.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceDialog.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGenerator.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorDataTable.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorView.h
  qt/widgets/common/src/AddWorkspaceDialog.cpp
  qt/widgets/common/src/FitScriptGeneratorDataTable.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FitScriptGeneratorPresenter.cpp
  qt/widgets/common/src/FitScriptGeneratorView.cpp
  qt/widgets/common/test/AddWorkspaceDialogTest.h
  qt/widgets/common/test/FitScriptGeneratorDataTableTest.h
  qt/widgets/common/test/FitScriptGeneratorPresenterTest.h
  qt/widgets/common/test/FitScriptGeneratorViewTest.h
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab.ui
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_view.py
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_widget.py
  scripts/test/Muon/fitting_tab_widget/fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30225 Speed up Windows installer creation
  Framework/PostInstall/CMakeLists.txt
Labels: Windows Only

#30186 Fix bug with X mask in IndirectDataAnalysis
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/PlotPeakByLogValue.h
  Framework/CurveFitting/src/Algorithms/PlotPeakByLogValue.cpp
  Framework/CurveFitting/src/Algorithms/QENSFitSequential.cpp
  Framework/CurveFitting/test/Algorithms/ConvolutionFitSequentialTest.h
  Framework/CurveFitting/test/Algorithms/PlotPeakByLogValueTest.h
  docs/source/algorithms/PlotPeakByLogValue-v1.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IIndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
Labels: ISIS Team: Spectroscopy, Indirect Inelastic

#30193 Refactor common code from SNSPowderReduction to utils
  Framework/PythonInterface/mantid/utils/_utils.py
  Framework/PythonInterface/mantid/utils/absorptioncorrutils.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/PythonInterface/test/python/mantid/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/utils/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/utils/absorptioncorrutilsTest.py
  Testing/Data/UnitTest/PG3_46577.nxs.h5.md5
  Testing/Data/UnitTest/PG3_char_2020_01_04_PAC_limit_1.4MW.txt.md5
  docs/source/api/python/mantid/index.rst
  docs/source/api/python/mantid/utils/index.rst
  docs/source/release/v6.0.0/framework.rst
Labels: Framework

#30262 Make plot toolbar non movable in EngDiffUI
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
Labels: Diffraction, ISIS Team: Diffraction

#30257 Phase Table Validation In Muon Analysis
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_view.py
  scripts/test/Muon/phase_table_widget/phase_table_presenter_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#30263 Phasequad And Co-Add Fix
  docs/source/interfaces/muon_phase_table_tab.rst
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/ADSHandler/workspace_naming.py
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  scripts/test/Muon/ADSHandler/workspace_naming_test.py
Labels: Added during Sprint, ISIS Team: Spectroscopy

#30222 Add checks on output workspace in Q in unit tests
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
Labels: Framework, ISIS Team: LSS, Reflectometry

#30248 Small Quality Of Life Improvements To Muon Analysis
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_model.py
  scripts/Muon/GUI/Common/home_instrument_widget/home_instrument_widget_presenter.py
  scripts/test/Muon/grouping_tab/grouping_tab_presenter_test.py
  scripts/test/Muon/home_instrument_widget_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30261 Add a 1 msec delay when updating sliceviewer on workspace change
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: High Priority

#30012 Use package suffixes properly for macOS builds
  MantidPlot/CMakeLists.txt
  Testing/SystemTests/scripts/mantidinstaller.py
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/Jenkins/buildscript
  docs/source/release/v6.0.0/framework.rst
  images/mantid_workbench.icns
  images/mantid_workbenchnightly.icns
  images/mantid_workbenchunstable.icns
  installers/MacInstaller/CMakeDMGSetup.scpt.in
  installers/MacInstaller/hdiutilwrap
  installers/MacInstaller/make_package.rb
  qt/applications/workbench/CMakeLists.txt
Labels: Added during Sprint, High Priority, ISIS Team: Core, macOS Only

#30275 Add LOQ system tests for SANS legacy and TOML files
  Testing/Data/SystemTest/ISIS_SANS/LOQ/DIRECT_LOQ_HAB_983.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/DIRECT_LOQ_MAIN_143B.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/FLAT_CELL_LOQ_MAIN_143.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108187.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108188.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108189.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108190.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108191.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/LOQ00108192.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/ModeratorStdDev_TS1_Hydrogen_30Jul2015.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_HAB_LIN.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_HAB_LIN.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MAIN_LIN.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MAIN_LIN.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MERGED.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MERGED.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MERGED_SHIFTED.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M3_Xpress_Campana_12mm_Changer_MERGED_SHIFTED.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M4_Xpress_Campana_12mm_Changer_MAIN_LIN.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/USER_LOQ_202B_M4_Xpress_Campana_12mm_Changer_MAIN_LIN.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/toml_legacy_file_m3.csv.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/toml_legacy_file_m4.csv.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/toml_v1_file_m3.csv.md5
  Testing/Data/SystemTest/ISIS_SANS/LOQ/toml_v1_file_m4.csv.md5
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQCentreNoGrav.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/SANSLOQLegacyUserFile.py
  Testing/SystemTests/tests/framework/reference/SANS_LOQ_m3_legacy_toml_user_file.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS_LOQ_m4_legacy_toml_user_file.nxs.md5
  docs/source/techniques/SANS-Toml-v1.rst
  scripts/SANS/sans/common/enums.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_parser.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_schema.py
Labels: Documentation, ISIS Team: LSS, SANS

#29976 Fit only TOF in EngDiffUI
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30215 Fix crash when removing last curve from plot
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/legendtabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_plotconfigdialogpresenter.py
Labels: ISIS Team: Core, Workbench

#30235 Use RefRoi instead of ConvertUnits when summing in Q
  Framework/Reflectometry/src/ReflectometryReductionOne2.cpp
  Framework/Reflectometry/test/ReflectometryReductionOne2Test.h
Labels: Framework, ISIS Team: LSS, Reflectometry

#30264 Fix interface squishing in Indirect Corrections interface
  docs/source/release/v6.0.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.ui
  qt/scientific_interfaces/Indirect/ContainerSubtraction.ui
  qt/scientific_interfaces/Indirect/IndirectPlotOptions.ui
Labels: High Priority, ISIS Team: Spectroscopy, Indirect Inelastic

#30121 Add more default plot settings to workbench
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/mantid/plots/plotfunctions.py
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/toolbar.py
  qt/applications/workbench/workbench/widgets/settings/plots/presenter.py
  qt/applications/workbench/workbench/widgets/settings/plots/section_plots.ui
  qt/applications/workbench/workbench/widgets/settings/plots/test/test_plot_settings.py
Labels: ISIS Team: Core, Workbench

#30293 Fix EngDiff fitting data model tests on master
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
Labels: High Priority

#30270 Fix Crash In MA When Autoscale Y Pressed With No Data
  docs/source/release/v6.0.0/muon.rst
  scripts/MultiPlotting/QuickEdit/quickEdit_view.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
  scripts/Muon/GUI/Common/plot_widget/plot_widget_view.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/plot_widget/plot_widget_presenter_test.py
Labels: High Priority, ISIS Team: Spectroscopy

#30276 Add clear setups button in fit browser
  docs/source/release/v6.0.0/framework.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/FitPropertyBrowser.h
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Added during Sprint, Diffraction, Framework, ISIS Team: Diffraction

#30245 Muon Analysis Manual Testing Docs Updates
  dev-docs/source/Testing/MuonAnalysis_test_guides/Muon_Analysis_test_group_1_general.rst
  dev-docs/source/Testing/MuonAnalysis_test_guides/Muon_Analysis_test_group_2_fitting.rst
  dev-docs/source/Testing/MuonAnalysis_test_guides/Muon_Analysis_test_group_3_results.rst
  dev-docs/source/Testing/MuonInterface/MuonTesting.md
  dev-docs/source/Testing/MuonInterface/MuonTesting.rst
  dev-docs/source/images/Cu-fitting.png
  dev-docs/source/images/HIFI-TF-Result.png
  dev-docs/source/images/MuonAnalysisTests/Cu-fitting.png
  dev-docs/source/images/MuonAnalysisTests/HIFI-TF-Result.png
  dev-docs/source/images/MuonAnalysisTests/MATestingIDF.png
  dev-docs/source/images/MuonAnalysisTests/emu20918.png
  dev-docs/source/images/MuonAnalysisTests/emu20918_rebin.png
  dev-docs/source/images/MuonAnalysisTests/emu20918_rebin_fitted.png
  dev-docs/source/images/MuonAnalysisTests/fitting_test1.png
  dev-docs/source/images/MuonAnalysisTests/fitting_test1_start_end_time.png
  dev-docs/source/images/MuonAnalysisTests/fitting_test3.png
  dev-docs/source/images/MuonAnalysisTests/fitting_test4.png
  dev-docs/source/images/MuonAnalysisTests/fitting_test7.png
  dev-docs/source/images/MuonAnalysisTests/results_test1.png
  dev-docs/source/images/MuonAnalysisTests/results_test1_table.png
  dev-docs/source/images/MuonAnalysisTests/results_test2.png
  dev-docs/source/images/MuonAnalysisTests/results_test2_table.png
  dev-docs/source/images/MuonAnalysisTests/results_test3.png
  dev-docs/source/images/MuonAnalysisTests/results_test3_table.png
Labels: Documentation, ISIS Team: Spectroscopy, Muon

#30219 Use correct file name for loading focused data in polaris scripts
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: ISIS Team: Diffraction, Powder

#30201 Minor change to the theta width calculation in ReflectometryTransform
  Framework/DataObjects/inc/MantidDataObjects/ReflectometryTransform.h
  Framework/DataObjects/src/ReflectometryTransform.cpp
  Framework/DataObjects/test/ReflectometryTransformTest.h
Labels: Framework, ISIS Team: LSS, Reflectometry

#29193 Data reduction algorithm for D7 at ILL
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/test/LoadILLPolarizedDiffractionTest.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7AbsoluteCrossSections.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/D7YIGPositionCalibration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PolDiffILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/D7AbsoluteCrossSectionsTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PolDiffILLReductionTest.py
  Testing/Data/UnitTest/ILL/D7/396917.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396918.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396928.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396929.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396939.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396940.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396983.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396985.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396986.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396987.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396990.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396991.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396993.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396993_reduced.nxs.md5
  Testing/Data/UnitTest/ILL/D7/396994.nxs.md5
  Testing/Data/UnitTest/ILL/D7/397000.nxs.md5
  Testing/Data/UnitTest/ILL/D7/397004.nxs.md5
  Testing/Data/UnitTest/ILL/D7/397004_reduced.nxs.md5
  Testing/Data/UnitTest/ILL/D7/397005.nxs.md5
  Testing/Data/UnitTest/ILL/D7/numerical_attenuation.nxs.md5
  Testing/Data/UnitTest/ILL/D7/vanadium_10p.nxs.md5
  Testing/Data/UnitTest/ILL/D7/vanadium_uniaxial.nxs.md5
  Testing/Data/UnitTest/ILL/D7/vanadium_xyz.nxs.md5
  Testing/SystemTests/tests/framework/PolDiffILLReductionTest.py
  docs/source/algorithms/D7AbsoluteCrossSections-v1.rst
  docs/source/algorithms/D7YIGPositionCalibration-v1.rst
  docs/source/algorithms/PolDiffILLReduction-v1.rst
  docs/source/diagrams/D7AbsoluteCrossSections-v1_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_absorber_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_all_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_beam_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_container_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_quartz_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_sample_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_transmission_wkflw.dot
  docs/source/diagrams/PolDiffILLReduction-v1_vanadium_wkflw.dot
  docs/source/release/v6.0.0/diffraction.rst
  docs/source/techniques/PolarisedDiffractionILL.rst
  instrument/D7_Parameters.xml
Labels: ILL Team

#30207 Solid angle option for ILL SANS
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLReductionTest.py
  Testing/SystemTests/tests/framework/SANSILLReductionTest.py
  Testing/SystemTests/tests/framework/reference/D33_AutoProcess_IPhiQ_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D33_AutoProcess_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D22_IQ_v2.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  docs/source/release/v6.0.0/sans.rst
  instrument/D11_Parameters.xml
  instrument/D11lr_Parameters.xml
  instrument/D16_Parameters.xml
  instrument/D22_Parameters.xml
  instrument/D22lr_Parameters.xml
  instrument/D33_Parameters.xml
  qt/python/mantidqt/widgets/samplelogs/test/test_samplelogs_model.py
Labels: ILL Team, SANS

#30336 Sliceviewer: Update visual data on axis swap
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
Labels: Workbench

#30324 Direct inelastic results compartible with indirect analysis
  scripts/Inelastic/Direct/DirectEnergyConversion.py
Labels: Direct Inelastic

#30326 Fix bug with ISISSans 'Save Other' functionality
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSave.py
  docs/source/release/v6.0.0/sans.rst
  scripts/SANS/sans/gui_logic/presenter/save_other_presenter.py
Labels: Bug, ISIS Team: LSS, Reported By User, SANS

#30328 Stop sliceviewer rebinning histo ws if have different number dimensions than origional
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
Labels: ISIS Team: Core

#30292 Fix conversion factor in StandardSC
  Framework/PythonInterface/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Exports/PhysicalConstants.cpp
  Framework/PythonInterface/plugins/functions/StandardSC.py
  Framework/PythonInterface/test/python/mantid/kernel/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/kernel/PhysicalConstantsTest.py
  Framework/PythonInterface/test/python/plugins/functions/StandardSCTest.py
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
Labels: Bug, High Priority, ISIS Team: Spectroscopy, Reported By User

#30295 Add BackToBackExponential coefficients for A,B,S to WISH parameters.xml
  Testing/Data/SystemTest/WISH40503-5_6no_absorb_raw.nxs.md5
  Testing/Data/SystemTest/WISH40503-5_6raw.nxs.md5
  Testing/Data/SystemTest/WishAnalysis.nxs.md5
  Testing/Data/SystemTest/vana19612-5foc-SF-SS.nxs.md5
  Testing/SystemTests/tests/framework/complexShapeAbsorptionsTest.py
  docs/source/release/v6.0.0/diffraction.rst
  instrument/WISH_Parameters.xml
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30327 Fix sequential fitting crash
  qt/widgets/common/src/SequentialFitDialog.cpp
Labels: High Priority, ISIS Team: Core

#29782 Group samples in DrILL interface
  docs/source/images/drill.png
  docs/source/interfaces/DrILL.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/model/DrillRundexIO.py
  scripts/Interface/ui/drill/model/DrillSample.py
  scripts/Interface/ui/drill/presenter/DrillContextMenuPresenter.py
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/test/CMakeLists.txt
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillPresenterTest.py
  scripts/Interface/ui/drill/test/DrillRundexIOTest.py
  scripts/Interface/ui/drill/test/DrillTableWidgetTest.py
  scripts/Interface/ui/drill/test/DrillTest.py
  scripts/Interface/ui/drill/test/DrillViewTest.py
  scripts/Interface/ui/drill/view/DrillContextMenu.py
  scripts/Interface/ui/drill/view/DrillTableWidget.py
  scripts/Interface/ui/drill/view/DrillView.py
  scripts/Interface/ui/drill/view/ui/main.ui
Labels: ILL Team, Workbench

#30349 Fix 'Apply to All' crash in plot config curves tab
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: ISIS Team: Core

#30347 Fix anonymous fallback in GitHub api calls
  Framework/Kernel/inc/MantidKernel/GitHubApiHelper.h.in
  Framework/Kernel/src/GitHubApiHelper.cpp
  docs/source/release/v6.0.0/framework.rst
Labels: Framework, High Priority

#30342 Fixed bug to get correct extent of bin arguments from axes limits of sliceviewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
Labels: ISIS Team: Core

#30361 Disable Unstable Test FitScriptGeneratorViewTest
  qt/widgets/common/CMakeLists.txt
Labels: High Priority, ISIS Team: Core

#30345 Fix error in MaxEnt
  scripts/Muon/GUI/Common/contexts/muon_context.py
Labels: ISIS Team: Spectroscopy, Muon

#30355 New objective function for AlignComponents
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/AlignComponentsTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
  Testing/SystemTests/tests/framework/reference/CORELLI_124036_adjustments.nxs.md5
  docs/source/algorithms/AlignComponents-v1.rst
  docs/source/release/v6.0.0/framework.rst
Labels: Powder

#30370 Fix a SliceViewer crash when x axis is not labelled TOF
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/widgets/common/src/ImageInfoModelMatrixWS.cpp
  qt/widgets/common/test/ImageInfoModelMatrixWSTest.h
Labels: Bug, High Priority, ISIS Team: Core, Reported By User

#30233 New D11B and D22B SANS machines at ILL
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/SystemTests/tests/framework/reference/D33_AutoProcess_IPhiQ_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D33_AutoProcess_Reference.nxs.md5
  docs/source/release/v6.0.0/sans.rst
  instrument/D11B_Definition.xml
  instrument/D11B_Grouping.xml
  instrument/D11B_Parameters.xml
  instrument/D22B_Definition.xml
  instrument/D22B_Parameters.xml
  instrument/D33_Definition.xml
  instrument/Facilities.xml
  scripts/Interface/ui/drill/model/configurations.py
Labels: ILL Team, SANS

#30369 Add skeleton of release notes for v6.1.0
  docs/source/release/index.rst
  docs/source/release/v6.1.0/diffraction.rst
  docs/source/release/v6.1.0/direct_geometry.rst
  docs/source/release/v6.1.0/framework.rst
  docs/source/release/v6.1.0/index.rst
  docs/source/release/v6.1.0/indirect_geometry.rst
  docs/source/release/v6.1.0/mantidworkbench.rst
  docs/source/release/v6.1.0/muon.rst
  docs/source/release/v6.1.0/reflectometry.rst
  docs/source/release/v6.1.0/sans.rst
Labels: Documentation, ISIS Team: Core

#30052 Allow detector grouping in PDCalibration and fix bug in FitPeaks
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/inc/MantidAlgorithms/PDCalibration.h
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/src/PDCalibration.cpp
  Framework/Algorithms/test/FitPeaksTest.h
  Framework/Algorithms/test/PDCalibrationTest.h
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
  docs/source/algorithms/FitPeaks-v1.rst
  docs/source/release/v6.0.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30376 Fix crash when deleting all curves from plot in figure options
  docs/source/release/v6.0.0/framework.rst
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/view.py
Labels: Bug, Framework

#30379 Pin pyzmq for macOS packaging
  installers/MacInstaller/requirements.txt
Labels: High Priority, ISIS Team: Core

#30380 Fix slice viewer bug with text axis
  Framework/API/src/TextAxis.cpp
  Framework/API/test/TextAxisTest.h
  docs/source/release/v6.0.0/mantidworkbench.rst
Labels: ISIS Team: Core

#30366 ISIS SANS Fix crash when browsing files in sum run tab
  docs/source/release/v6.0.0/sans.rst
  scripts/Interface/ui/sans_isis/run_selector_widget.py
Labels: ISIS Team: Core

#30146 Support for SANSILLParameterScan for D16 in DrILL
  docs/source/interfaces/DrILL.rst
  docs/source/release/v6.0.0/mantidworkbench.rst
  scripts/Interface/ui/drill/model/configurations.py
Labels: ILL Team, SANS

#30365 sliceviewer handle inf axes limits
  Framework/PythonInterface/mantid/plots/resampling_image/samplingimage.py
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
Labels: ISIS Team: Core

#30367 Fix issues with plotting ellipsoid peak shapes in sliceviewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/dimensionwidget.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/noshape.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/spherical.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/workspaceselection.py
Labels: Bug, Diffraction, Single Crystal

#30381 Fix Crash From Broken e Notation In Axis Limits Of Plot Settings
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
Labels: ISIS Team: Core

#30346 Fix editing legends in-situ bug on Linux
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
Labels: Bug, Found in Beta, ISIS Team: Core, Linux Only

#30353 Fix flood workspace selection bug on reflectometry GUI
  docs/source/release/v6.0.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/MockExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
Labels: Bug, ISIS Team: LSS, Reflectometry

#30352 Updated testing docs
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffractionTestGuide.rst
  docs/source/interfaces/Engineering Diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#30396 update FDA test docs
  dev-docs/source/Testing/MuonAnalysis_test_guides/Muon_Analysis_test_group_4_FDAG.rst
Labels: Documentation, ISIS Team: Spectroscopy

#30398 Fixed bug with minor peak
  docs/source/release/v6.0.0/muon.rst
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
Labels: ISIS Team: Spectroscopy, Muon

#30395 Fix the bug preventing the user from moving the camera after using reset view
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
Labels: Bug, Workbench

#30359 30155 fix error every updating plot settings
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/__init__.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curveproperties.py
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/test/test_curvestabwidgetpresenter.py
  qt/python/mantidqt/widgets/plotconfigdialog/test/test_apply_all_properties.py
Labels: ISIS Team: Core

#30272 Documentation for elemental analysis using negative muons
  docs/source/concepts/ElementalAnalysisUsingNegativeMuons.rst
  docs/source/images/MuonCascadeProcess.png
Labels: ISIS Team: Spectroscopy

#30405 Fix command to rebase branch from master to release
  dev-docs/source/GitWorkflow.rst
Labels: Documentation

#30384 Only enable errorbar tab if data contains errors
  qt/python/mantidqt/widgets/plotconfigdialog/curvestabwidget/presenter.py
Labels: Bug, ISIS Team: Core, Reported By User, Workbench

#30421 Unreliability in DrillTest
  scripts/Interface/ui/drill/test/DrillTest.py
Labels: Bug

#30386 Backward compatibility in DrILL file loading
  scripts/Interface/ui/drill/model/DrillModel.py
  scripts/Interface/ui/drill/model/DrillRundexIO.py
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/test/CMakeLists.txt
  scripts/Interface/ui/drill/test/DrillModelTest.py
  scripts/Interface/ui/drill/test/DrillRundexIOTest.py
  scripts/Interface/ui/drill/test/DrillSampleTest.py
Labels: Bug, ILL Team

#30320 Loader for D11B and D22B
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/PythonInterface/plugins/algorithms/MaskBTP.py
  Framework/PythonInterface/test/python/plugins/algorithms/MaskBTPTest.py
  Testing/Data/UnitTest/ILL/D11B/027194.nxs.md5
  Testing/Data/UnitTest/ILL/D22B/375508.nxs.md5
  docs/source/algorithms/LoadILLSANS-v1.rst
  docs/source/release/v6.0.0/sans.rst
Labels: ILL Team, SANS

#30417 Check if fit should be enabled after functions removed from fit browser
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/widgets/common/src/PropertyHandler.cpp
Labels: ISIS Team: Core

#30418 Fix Unreliable Access Violation when using QtPropertyBrowser
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/FitOptionsBrowser.h
  qt/widgets/common/src/FitOptionsBrowser.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/test/FitOptionsBrowserTest.h
  qt/widgets/common/test/FunctionTreeViewTest.h
Labels: Bug, ISIS Team: Core

#30319 Corelli powder calibration: Allow for fixed L1 in the creation of a calibration
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
  docs/source/algorithms/CorelliPowderCalibrationCreate-v1.rst
Labels: Powder

#30435 30237 compareworkspaces
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Algorithms/test/CompareWorkspacesTest.h
  Framework/Beamline/inc/MantidBeamline/ComponentInfo.h
  Framework/Beamline/src/ComponentInfo.cpp
  Framework/Geometry/inc/MantidGeometry/Instrument/ComponentInfo.h
  Framework/Geometry/src/Instrument/ComponentInfo.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/ComponentInfo.cpp
  Framework/PythonInterface/test/python/mantid/geometry/ComponentInfoTest.py
  docs/source/algorithms/CompareWorkspaces-v1.rst
  docs/source/release/v6.1.0/framework.rst
Labels: Powder

#30425 Make the Indirect unit tests run on Qt5
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectDataTablePresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectPlotterTest.h
  qt/scientific_interfaces/Indirect/test/InterfacesIndirectTestInitialization.h
Labels: High Priority, ISIS Team: Spectroscopy, Indirect Inelastic

#30403 Fix plotting of elliptical bg shell in sliceviewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/ellipsoid.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/representation/test/test_peaksviewer_representation_ellipsoid.py
Labels: ISIS Team: Core

#30368 Correctly identify display indices for non-orthog transform in sliceviewer
  docs/source/release/v6.0.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
Labels: ISIS Team: Core, ISIS Team: Diffraction

#30197 ILL TOF SANS wavelength range
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLIntegrationTest.py
  Testing/SystemTests/tests/framework/SANSILLReductionTest.py
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_IQ.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_LTOF_IQ.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D33_VTOF_IQ.nxs.md5
  docs/source/release/v6.0.0/sans.rst
  scripts/Interface/ui/drill/model/configurations.py
Labels: ILL Team, SANS

#30434 Corelli powder calibration: Allow for fixed L1 in the creation of a calibration
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
  docs/source/algorithms/CorelliPowderCalibrationCreate-v1.rst
Labels: Powder

#30350 Fix error when saving plots with normalisation
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/project/plotsloader.py
  qt/python/mantidqt/project/plotssaver.py
  qt/python/mantidqt/project/test/test_plotssaver.py
Labels: ISIS Team: Core

#30414 Update status of fit in fit browser during Sequential Fit in EngDiff UI
  docs/source/release/v6.0.0/diffraction.rst
  qt/python/mantidqt/_common.sip
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_presenter.py
Labels: Diffraction, ISIS Team: Diffraction, Maintenance

#30388 Add RebinRagged algorithm
  Framework/API/src/Algorithm.cpp
  Framework/Algorithms/test/ConjoinXRunsTest.h
  Framework/DataHandling/test/LoadILLDiffractionTest.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/RebinRagged.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/MatchPeaksTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/RebinRaggedTest.py
  Framework/Reflectometry/test/FindReflectometryLines2Test.h
  Framework/Reflectometry/test/ReflectometryBeamStatisticsTest.h
  Framework/Reflectometry/test/ReflectometryMomentumTransferTest.h
  Framework/Reflectometry/test/ReflectometrySumInQTest.h
  docs/source/algorithms/RebinRagged-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction, Powder

#30444 Add docs page for MultiDomainFunction
  docs/source/fitting/fitfunctions/MultiDomainFunction.rst
Labels: Documentation, Maintenance

#30460 Remove generated file for doxygen
  Framework/Doxygen/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
Labels: Documentation

#30461 Crystal field theory docs
  docs/source/concepts/CrystalField.rst
  docs/source/interfaces/Crystal Field Python Interface.rst
  docs/source/techniques/CrystalField.rst
Labels: Direct Inelastic, Indirect Inelastic

#30377 Disable overplot when there is no active plot
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/plotting/functions.py
  qt/python/mantidqt/plotting/test/test_functions.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: Workbench

#30300 Add system tests for ZOOM TOML version conversion
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/4m_legacy_toml.csv.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/8m_legacy_toml.csv.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/Direct_Zoom_8m_140219_v5.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ModeratorStdDev_TS2_SANS_LETexptl_07Aug2015.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/USER_ZOOM_Bergstrom_4m_SampleChanger_202A_8mm_Small_BEAMSTOP_skinny.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/USER_ZOOM_Bergstrom_4m_SampleChanger_202A_8mm_Small_BEAMSTOP_skinny.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/USER_ZOOM_Bergstrom_8m_samplechanger_smallBS_203A_8mm.toml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/USER_ZOOM_Bergstrom_8m_samplechanger_smallBS_203A_8mm.txt.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017034.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017035.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017036.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017037.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017105.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017106.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017107.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/ZOOM00017108.nxs.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/bs_arm_4m_203.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/bs_arm_8m_203.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/bs_arm_small_4m.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/bs_small_4m_203.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/edges_of_detector_184.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/fizzing_of_tubes_184.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/hotspot.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/left_beg_18_2.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tube_1120_bottom.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tube_1410_left_side.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tube_1502_left_side.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tube_1803_right_side.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tubes_beg_18_2.xml.md5
  Testing/Data/SystemTest/ISIS_SANS/ZOOM/tubes_beg_18_4.xml.md5
  Testing/SystemTests/tests/framework/ISIS/SANS/ZOOM/SANSZOOMTomlFileConversion.py
  Testing/SystemTests/tests/framework/reference/SANSZOOMTomlFileConv_m4.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANSZOOMTomlFileConv_m8.nxs.md5
  docs/source/techniques/SANS-Toml-v1.rst
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_parser.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_schema.py
  scripts/test/SANS/user_file/toml_parsers/toml_v1_parser_test.py
Labels: Documentation, ISIS Team: LSS, SANS

#30106 Processing test through DrILL interface
  Testing/SystemTests/tests/framework/DrillProcessTest.py
Labels: ILL Team

#30441 Unset factories for tree data managers just to be safe
  qt/scientific_interfaces/Indirect/FunctionTemplateBrowser.cpp
  qt/scientific_interfaces/Indirect/FunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/IndirectBayesTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisIqtTab.h
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectSymmetrise.cpp
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetMaskTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: Bug, ISIS Team: Core, Indirect Inelastic, Maintenance

#30187 SANSILLAutoProcess multiple transmissions
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/Data/SystemTest/ILL/D11/000947.nxs.md5
  Testing/Data/SystemTest/ILL/D11/000960.nxs.md5
  Testing/Data/SystemTest/ILL/D11/000973.nxs.md5
  Testing/Data/SystemTest/ILL/D11/000975.nxs.md5
  Testing/Data/SystemTest/ILL/D11/000988.nxs.md5
  Testing/Data/SystemTest/ILL/D11/000990.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001003.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001005.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001020.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001023.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001025.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001088.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001119.nxs.md5
  Testing/Data/SystemTest/ILL/D11/001204.nxs.md5
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/reference/D11_AutoProcess_Multiple_Tr_Reference.nxs.md5
  docs/source/release/v6.0.0/sans.rst
Labels: ILL Team, SANS

#30483 Display debug messages logged during workbench startup
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/base.py
Labels: Framework, ISIS Team: Diffraction, Maintenance

#30438 Fix bug to ensure engdiffui fit tab gets correct focus filename
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/focus/test/test_focus_model.py
Labels: Diffraction

#30478 Deprecation warning for getNumberBins
  Framework/PythonInterface/mantid/api/src/Exports/MatrixWorkspace.cpp
Labels: Bug, ISIS Team: Core

#30457 Fix sliceviewer exception with ADS update when closing
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
Labels: Bug, High Priority, ISIS Team: Core, Windows Only

#30472 Change ALC Tests To Run In Qt5
  qt/scientific_interfaces/CMakeLists.txt
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCPeakFittingView.cpp
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/scientific_interfaces/Muon/test/ALCBaselineModellingModelTest.h
  qt/scientific_interfaces/Muon/test/ALCBaselineModellingPresenterTest.h
  qt/scientific_interfaces/Muon/test/ALCDataLoadingPresenterTest.h
  qt/scientific_interfaces/Muon/test/ALCLatestFileFinderTest.h
  qt/scientific_interfaces/Muon/test/ALCPeakFittingModelTest.h
  qt/scientific_interfaces/Muon/test/ALCPeakFittingPresenterTest.h
  qt/scientific_interfaces/Muon/test/CMakeLists.txt
  qt/scientific_interfaces/Muon/test/InterfacesMuonTestInitialization.h
Labels: ISIS Team: Spectroscopy, Maintenance

#30468 Edit Release Notes 6.0 - Spec + LSS
  docs/source/images/ALC_alpha.png
  docs/source/images/ALF_update_estimate.png
  docs/source/images/Indirect_custom_grouping_xml.png
  docs/source/images/MA_co_add.png
  docs/source/release/v6.0.0/direct_geometry.rst
  docs/source/release/v6.0.0/indirect_geometry.rst
  docs/source/release/v6.0.0/muon.rst
  docs/source/release/v6.0.0/reflectometry.rst
  docs/source/release/v6.0.0/sans.rst
Labels: Documentation

#30506 Allow and block options for LoadNexusLogs
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusLogs.h
  Framework/DataHandling/src/LoadNexusLogs.cpp
  Framework/DataHandling/test/LoadNexusLogsTest.h
  docs/source/algorithms/LoadNexusLogs-v1.rst
  docs/source/release/v6.1.0/framework.rst
Labels: Framework

#30428 Check log exists in workspace before calculating average when loading focussed data in EngDiffUI fitting tab
  docs/source/release/v6.0.0/diffraction.rst
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
Labels: Bug, Diffraction, Maintenance

#30294 SansILLReduction sensitivity calculation with horizontal offsets
  Framework/Algorithms/inc/MantidAlgorithms/CalculateEfficiency2.h
  Framework/Algorithms/src/CalculateEfficiency2.cpp
  Framework/Algorithms/test/CalculateEfficiency2Test.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Testing/Data/SystemTest/ILL/D22/344407.nxs.md5
  Testing/Data/SystemTest/ILL/D22/344411.nxs.md5
  Testing/Data/SystemTest/ILL/D22/D22_mask_central.nxs.md5
  Testing/Data/SystemTest/ILL/D22/D22_mask_offset.nxs.md5
  Testing/Data/UnitTest/ILL/D22/D22_mask_central.nxs.md5
  Testing/Data/UnitTest/ILL/D22/D22_mask_offset.nxs.md5
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/SANSILLReductionTest.py
  Testing/SystemTests/tests/framework/reference/D22_AutoProcess_Multi_Sens_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_SANS_D22_IQ_multi_sens.nxs.md5
  docs/source/algorithms/CalculateEfficiency-v2.rst
  docs/source/release/v6.0.0/framework.rst
  docs/source/release/v6.0.0/sans.rst
Labels: ILL Team, SANS

#30511 Add missing categories directive to some doc pages
  docs/source/algorithms/AddAbsorptionWeightedPathLengths-v1.rst
  docs/source/algorithms/MatchAndMergeWorkspaces-v1.rst
  docs/source/algorithms/Segfault-v1.rst
  docs/source/algorithms/TotScatCalculateSelfScattering-v1.rst
Labels: Documentation, ISIS Team: Diffraction

#30479 Add GUI elements for caching and deleting cache
  Framework/PythonInterface/plugins/algorithms/CreateCacheFilename.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  docs/source/algorithms/SNSPowderReduction-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_adv_setup_script.py
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_reduction_script.py
  scripts/Interface/reduction_gui/widgets/base_widget.py
  scripts/Interface/reduction_gui/widgets/diffraction/diffraction_adv_setup.py
  scripts/Interface/ui/diffraction/diffraction_adv_setup.ui
Labels: Powder

#30517 Change CreateCacheFilename usage to use list comprehension
  docs/source/algorithms/CreateCacheFilename-v1.rst
Labels: Documentation

#30458 ALC Data Loading Layout Changes
  docs/source/images/MuonALCDataLoading.png
  qt/scientific_interfaces/Muon/ALCBaselineModellingView.ui
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
  qt/scientific_interfaces/Muon/ALCPeakFittingView.ui
  qt/scientific_interfaces/Muon/test/ALCDataLoadingPresenterTest.h
Labels: Found in Beta, ISIS Team: Spectroscopy

#30522 Fix qt-help documentation errors
  Framework/Algorithms/inc/MantidAlgorithms/CorelliPowderCalibrationApply.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  docs/source/concepts/CrystalField.rst
Labels: Documentation, High Priority

#30532 Add GUI elements for caching and deleting cache
  Framework/PythonInterface/plugins/algorithms/CreateCacheFilename.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  docs/source/algorithms/SNSPowderReduction-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_adv_setup_script.py
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_reduction_script.py
  scripts/Interface/reduction_gui/widgets/base_widget.py
  scripts/Interface/reduction_gui/widgets/diffraction/diffraction_adv_setup.py
  scripts/Interface/ui/diffraction/diffraction_adv_setup.ui
Labels: Powder
