Repository mantidproject/mantid, pull requests merged in 2021-11, with the labels that each got.

#32855 Improve table workspace display for vector data
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/table_model.py
Labels: ISIS Team: Core

#32869 Skip SimulatedDensityOfStatesEuphonicTest on non-linux platforms
  Testing/SystemTests/tests/framework/SimulatedDensityOfStatesEuphonicPackaging.py
Labels: Framework

#32865 Autoscale colorfill from figure options bug
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/test/python/mantid/plots/axesfunctionsTest.py
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/python/mantidqt/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
  qt/python/mantidqt/mantidqt/widgets/plotconfigdialog/axestabwidget/test/test_axestabwidgetpresenter.py
  qt/python/mantidqt/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
Labels: Bug, ISIS Team: Core, Found in Beta

#32774 Muonium-style decoupling curve fit function for MuonModelling
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/MuoniumDecouplingCurve.h
  Framework/CurveFitting/src/Functions/MuoniumDecouplingCurve.cpp
  Framework/CurveFitting/test/Functions/MuoniumDecouplingCurveTest.h
  docs/source/fitting/fitfunctions/MuoniumDecouplingCurve.rst
  docs/source/release/v6.3.0/muon.rst
Labels: Muon, ISIS Team: Spectroscopy

#32648 Enable /bigobj on MSVC by default
  Framework/DataObjects/CMakeLists.txt
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  Framework/PythonInterface/mantid/kernel/src/Exports/DateAndTime.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/V3D.cpp
  Framework/PythonInterface/test/cpp/CMakeLists.txt
  buildconfig/CMake/MSVCSetup.cmake
Labels: Bug, Windows Only

#32844 rounding in muon GUI
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/muon_group_pair_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/home_runinfo_widget/home_runinfo_widget_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/utilities/general_utils.py
  qt/python/mantidqtinterfaces/test/Muon/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/Muon/grouping_tab/pairing_table_alpha_test.py
  qt/python/mantidqtinterfaces/test/Muon/home_runinfo_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/utilities/general_muon_utils_test.py
Labels: ISIS Team: Spectroscopy

#32397 Construct transform on init of sliceinfo and remove circular dependence in sliceviewer
  dev-docs/source/Testing/SliceViewer/SliceViewer.rst
  docs/source/release/v6.3.0/framework.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/test/modeltesthelpers.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_sliceviewer_add_delete_peaks_integration.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/view.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/sliceinfo.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_sliceinfo.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_transform.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_view.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/transform.py
Labels: ISIS Team: Core

#32764 Rework CONDA_BUILD CMake build variable and add some more CMake docs
  CMakeLists.txt
  CMakePresets.json
  Framework/Catalog/CMakeLists.txt
  Framework/Crystal/CMakeLists.txt
  Framework/CurveFitting/CMakeLists.txt
  Framework/DataHandling/CMakeLists.txt
  Framework/DataHandling/test/CMakeLists.txt
  Framework/DataObjects/CMakeLists.txt
  Framework/Geometry/CMakeLists.txt
  Framework/HistogramData/CMakeLists.txt
  Framework/ICat/CMakeLists.txt
  Framework/Indexing/CMakeLists.txt
  Framework/Json/CMakeLists.txt
  Framework/Kernel/CMakeLists.txt
  Framework/LiveData/CMakeLists.txt
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/Muon/CMakeLists.txt
  Framework/Nexus/CMakeLists.txt
  Framework/NexusGeometry/CMakeLists.txt
  Framework/Parallel/CMakeLists.txt
  Framework/Reflectometry/CMakeLists.txt
  Framework/RemoteAlgorithms/CMakeLists.txt
  Framework/RemoteJobManagers/CMakeLists.txt
  Framework/SINQ/CMakeLists.txt
  Framework/ScriptRepository/CMakeLists.txt
  Framework/Types/CMakeLists.txt
  Framework/WorkflowAlgorithms/CMakeLists.txt
  buildconfig/CMake/MSVCSetup.cmake
  dev-docs/source/BuildingWithCMake.rst
  dev-docs/source/GettingStarted/GettingStartedCondaLinux.rst
  dev-docs/source/GettingStarted/GettingStartedCondaOSX.rst
  dev-docs/source/GettingStarted/GettingStartedCondaWindows.rst
Labels: Maintenance, ISIS Team: Core

#32873 Replace logging to file with in-memory buffer
  Framework/PythonInterface/mantid/utils/logging.py
  Framework/PythonInterface/test/python/mantid/utils/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/utils/deprecatorTest.py
  Framework/PythonInterface/test/python/mantid/utils/loggingTest.py
  Testing/SystemTests/tests/framework/AlignComponentsTest.py
Labels: Framework, Added during Sprint

#32885 Add MSVC version of PowderReduce reference file
  Testing/Data/SystemTest/PowderReduceP2D_reference_msvc.p2d.md5
  Testing/SystemTests/tests/framework/PowderReduceP2DTest.py
Labels: ISIS Team: Core, Windows Only, Added during Sprint

#32881 Docs updates after manual and smoke testing for 6.2
  docs/source/algorithms/Abins-v1.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/01_loading_data.rst
  tools/scripts/OpenMostDocumentationForTesting.py
Labels: Documentation

#32744 Add importance sampling according to DiscusMultipleScatteringCorrection
  Framework/Algorithms/inc/MantidAlgorithms/DiscusMultipleScatteringCorrection.h
  Framework/Algorithms/src/DiscusMultipleScatteringCorrection.cpp
  Framework/Algorithms/test/DiscusMultipleScatteringCorrectionTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/algorithms/DiscusMultipleScatteringCorrection-v1.rst
  docs/source/release/v6.3.0/framework.rst
Labels: ISIS Team: Diffraction

#32861 Source occt from conda-forge in environment files
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: Maintenance, ISIS Team: Core

#32897 Fix broken clean conda builds
  Framework/API/CMakeLists.txt
  Framework/Algorithms/CMakeLists.txt
  Framework/Beamline/CMakeLists.txt
  Framework/CMakeLists.txt
  Framework/Kernel/CMakeLists.txt
  Framework/PythonInterface/core/CMakeLists.txt
  Framework/PythonInterface/mantid/BundlePython.cmake
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/FindCxxTest.cmake
  buildconfig/CMake/FindNexus.cmake
  buildconfig/CMake/FindPoco.cmake
  buildconfig/CMake/QScintillaFindImpl.cmake
Labels: High Priority, ISIS Team: Core

#32847 Change indirect import handling
  docs/source/release/v6.3.0/indirect_geometry.rst
  scripts/Inelastic/IndirectImport.py
Labels: Indirect Inelastic, ISIS Team: Core

#32857 Muon model fit range updates on changing data
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_presenter.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_presenter_test.py
Labels: ISIS Team: Spectroscopy

#32863 Added isGroup to the python interface for ws's
  Framework/PythonInterface/mantid/api/src/Exports/Workspace.cpp
  Framework/PythonInterface/test/python/mantid/api/ITableWorkspaceTest.py
  Framework/PythonInterface/test/python/mantid/api/MatrixWorkspaceTest.py
  Framework/PythonInterface/test/python/mantid/api/WorkspaceGroupTest.py
  docs/source/release/v6.3.0/framework.rst
Labels: ISIS Team: Spectroscopy

#32816 Add algorithm to sum banks for ISIS Reflectometry
  Framework/API/inc/MantidAPI/MatrixWorkspace.h
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/test/MatrixWorkspaceTest.h
  Framework/Algorithms/src/SmoothNeighbours.cpp
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/test/InstrumentTest.h
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISSumBanks.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISSumBanksTest.py
  Framework/PythonInterface/test/testhelpers/WorkspaceCreationHelper/WorkspaceCreationHelperModule.cpp
  Testing/Data/SystemTest/INTER45455.nxs.md5
  Testing/SystemTests/tests/framework/ReflectometryISISSumBanksTest.py
  Testing/SystemTests/tests/framework/reference/INTER45455_SummedX.nxs.md5
  Testing/SystemTests/tests/framework/reference/INTER45455_SummedX_All.nxs.md5
Labels: Reflectometry, Framework, ISIS Team: LSS

#32868 ZAxisEditor initialised with wrong tick format
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/propertiesdialog.py
  qt/applications/workbench/workbench/plotting/test/test_propertiesdialog.py
Labels: Bug, ISIS Team: Core, Found in Beta

#32871 Stop algorithms hanging when workbench is closed
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
Labels: Bug, ISIS Team: LSS, Added during Sprint

#32780 Add parameter to control initial scatter point generation
  Framework/Algorithms/inc/MantidAlgorithms/DiscusMultipleScatteringCorrection.h
  Framework/Algorithms/src/DiscusMultipleScatteringCorrection.cpp
  Framework/Algorithms/test/DiscusMultipleScatteringCorrectionTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.3.0/framework.rst
Labels: ISIS Team: Diffraction

#32875 32703 muon GUI to do async threads
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/load_file_widget/model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/load_file_widget/presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/load_run_widget/load_run_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/phase_table_widget/phase_table_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/thread_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/thread_model_wrapper.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/ElementalAnalysis/LoadWidget/load_utils.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/ElementalAnalysis2/load_widget/load_models.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/FrequencyDomainAnalysis/FFT/fft_model.py
  qt/python/mantidqtinterfaces/test/Muon/elemental_analysis_2/EA_loading_tab/elemental_analysis_loadrun_presenter_increment_decrement_test.py
  qt/python/mantidqtinterfaces/test/Muon/elemental_analysis_2/EA_loading_tab/elemental_analysis_loadrun_presenter_single_run_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  qt/python/mantidqtinterfaces/test/Muon/loading_tab/loadwidget_presenter_multiple_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/loading_tab/loadwidget_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/phase_table_widget/phase_table_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/utilities/thread_model_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32846 Fix bug in Fit alg to use IgnoreInvalidData setting and add that argument to FitPeaks call of Fit
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/test/PDCalibrationTest.h
  Framework/CurveFitting/src/IFittingAlgorithm.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/concepts/calibration/PowderDiffractionCalibration.rst
  docs/source/release/v6.3.0/diffraction.rst
  docs/source/release/v6.3.0/framework.rst
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/python/mantidqt/mantidqt/_common.sip
  qt/python/mantidqt/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/mantidqt/widgets/fitpropertybrowser/fitpropertybrowserplotinteraction.py
  qt/python/mantidqt/mantidqt/widgets/test/test_fitpropertybrowserplotinteraction.py
Labels: Diffraction, Powder, ISIS Team: Diffraction

#32898 Muon workspace grouping
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/ADSHandler/ADS_calls.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/ADSHandler/muon_workspace_wrapper.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/ADSHandler/workspace_group_definition.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/muon_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/features/add_feature.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/features/add_grouping_workspaces.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/basic_fitting/basic_fitting_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/general_fitting/general_fitting_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_utils.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  qt/python/mantidqtinterfaces/test/Muon/ADSHandler/workspace_group_definition_test.py
  qt/python/mantidqtinterfaces/test/Muon/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/Muon/feature_flags/add_grouping_workspaces_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/basic_fitting/basic_fitting_model_test.py
  qt/python/mantidqtinterfaces/test/Muon/muon_context_test.py
  qt/python/mantidqtinterfaces/test/Muon/utilities/muon_workspace_wrapper_directory_test.py
Labels: ISIS Team: Spectroscopy

#32896 Fix Incorrect Runs Being Processed After Loading Batch
  docs/source/release/v6.3.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterDisplayTest.h
Labels: Bug, Reflectometry, GUI, ISIS Team: LSS

#32931 Fix pre-commit on Linux Jenkins installations
  .pre-commit-config.yaml
Labels: High Priority, Bug, Linux Only

#32884 Use better initial path in file browse dialog
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/widgets/common/src/FileFinderWidget.cpp
Labels: GUI, ISIS Team: Diffraction

#32900 Get radius from sample in AnvredCorrection
  Framework/Algorithms/src/SphericalAbsorption.cpp
  Framework/Crystal/inc/MantidCrystal/AnvredCorrection.h
  Framework/Crystal/src/AnvredCorrection.cpp
  Framework/Crystal/test/AnvredCorrectionTest.h
  docs/source/release/v6.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction

#32924 SNSPowderReduction allow manual set sample geometry
  Framework/PythonInterface/mantid/utils/absorptioncorrutils.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  Framework/PythonInterface/plugins/algorithms/SetSampleFromLogs.py
  Framework/PythonInterface/test/python/plugins/algorithms/SetSampleFromLogsTest.py
  Testing/SystemTests/tests/framework/SNSPowderRedux.py
  docs/source/release/v6.3.0/diffraction.rst
  docs/source/release/v6.3.0/framework.rst
Labels: Diffraction, Powder, ORNL Team

#32878 Check if GUIs Need to Keep Running When Closing Workbench
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/test_mainwindow.py
Labels: Bug, GUI, ISIS Team: LSS

#32921 Remove qt4agg backend references
  Framework/PythonInterface/plugins/algorithms/StringToPng.py
  Framework/PythonInterface/test/python/plugins/algorithms/StringToPngTest.py
  buildconfig/CMake/Packaging/launch_mantidplot.bat
  buildconfig/CMake/Packaging/launch_mantidplot.sh.in
  buildconfig/CMake/Packaging/launch_mantidplot.vbs
  dev-docs/source/MVPTutorial/CompleteGUIcode/plot_view.py
  dev-docs/source/MVPTutorial/Matplotlib.rst
  dev-docs/source/QtDesignerForPython.rst
  qt/python/mantidqt/mantidqt/MPLwidgets.py
  qt/python/mantidqt/mantidqt/gui_helper.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/PyChopGui.py
Labels: Maintenance, ISIS Team: Core

#32762 Add units for fit parameters to model fitting
  Framework/Kernel/inc/MantidKernel/Unit.h
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/fitting_contexts/model_fitting_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_model.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_model_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32879 Use property manager in batch algorithm runner
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/API/src/Algorithm.cpp
  Framework/Kernel/inc/MantidKernel/IPropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManager.h
  Framework/Kernel/inc/MantidKernel/PropertyManagerOwner.h
  Framework/Kernel/src/PropertyManager.cpp
  Framework/Kernel/src/PropertyManagerOwner.cpp
  Framework/Kernel/test/PropertyManagerTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/AlgorithmProperties.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/AlgorithmProperties.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/GroupProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/GroupProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowPreprocessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowPreprocessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewJobManagerTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/IndirectTab.cpp
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AlgorithmRuntimeProps.h
  qt/widgets/common/inc/MantidQtWidgets/Common/BatchAlgorithmRunner.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ConfiguredAlgorithm.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IAlgorithmRuntimeProps.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IConfiguredAlgorithm.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ParseKeyValueString.h
  qt/widgets/common/src/AlgorithmRuntimeProps.cpp
  qt/widgets/common/src/BatchAlgorithmRunner.cpp
  qt/widgets/common/src/ConfiguredAlgorithm.cpp
  qt/widgets/common/src/ParseKeyValueString.cpp
  qt/widgets/common/test/AlgorithmRuntimePropsTest.h
  qt/widgets/common/test/BatchAlgorithmRunnerTest.h
  qt/widgets/common/test/MockConfiguredAlgorithm.h
  qt/widgets/common/test/ParseKeyValueStringTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#32856 Find conda debug issue by passing debug flags into make CMake presets
  CMakePresets.json
Labels: ISIS Team: Core, Linux Only

#32760 Total Scattering improvements
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/Algorithms/src/CalculatePlaczekSelfScattering2.cpp
  Framework/Algorithms/test/CalculatePlaczekSelfScatteringTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TotScatCalculateSelfScattering.py
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/algorithms/TotScatCalculateSelfScattering-v1.rst
  docs/source/diagrams/TotScatCalculateSelfScattering-v1_wkflw.dot
  docs/source/release/v6.3.0/diffraction.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: Bug, ISIS Team: Diffraction

#32928 Fix OSX build with OCCT 7.6.0
  Framework/Geometry/src/Rendering/GeometryTriangulator.cpp
  Framework/Geometry/src/Rendering/RenderingHelpersOpenGL.cpp
Labels: Bug, macOS Only

#32940 Add test for handle_phase_table_changed
  qt/python/mantidqtinterfaces/test/Muon/phase_table_widget/phase_table_presenter_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32938 fixed muon autoscale bug
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_utils.py
Labels: High Priority, ISIS Team: Spectroscopy

#32939 Add default parameter selector to model fitting in muon analysis
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_data_selector_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/test_helpers/fitting_mock_setup.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_data_selector_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_model_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_view_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32840 Smooth Transition Fit Function for Muons
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/SmoothTransition.h
  Framework/CurveFitting/src/Functions/SmoothTransition.cpp
  Framework/CurveFitting/test/Functions/SmoothTransitionTest.h
  docs/source/fitting/fitfunctions/SmoothTransition.rst
  docs/source/release/v6.3.0/muon.rst
Labels: Muon, ISIS Team: Spectroscopy

#32946 Only build mantidqt tests if also building framework.
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/plotting/CMakeLists.txt
Labels: ISIS Team: Core

#32903 Create standalone OSX conda install
  .gitignore
  Framework/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  buildconfig/CMake/BundleOSXConda.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/PyStoG.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/CMake/TargetFunctions.cmake
  qt/applications/workbench/CMakeLists.txt
  qt/python/mantidqt/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/icons/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: macOS Only, ISIS Team: Core

#32945 Add some brief CMake guidelines developer-docs
  dev-docs/source/CMakeBestPractices.rst
  dev-docs/source/index.rst
Labels: ISIS Team: Core

#32944 Fix ErrorModHKL calculation in FindUBUsingIndexedPeak
  Framework/Crystal/inc/MantidCrystal/FindUBUsingIndexedPeaks.h
  Framework/Crystal/src/FindUBUsingIndexedPeaks.cpp
  Framework/Crystal/test/FindUBUsingIndexedPeaksTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/algorithms/FindUBUsingIndexedPeaks-v1.rst
  docs/source/release/v6.3.0/diffraction.rst
Labels: Diffraction, Single Crystal, ORNL Team

#32962 Add missing window title to plot settings dialog in Muon Analysis
  qt/python/mantidqt/mantidqt/plotting/mantid_navigation_toolbar.py
Labels: Bug, Muon, Added during Sprint

#32936 Fix problems when running system tests in single thread
  Testing/SystemTests/lib/systemtests/systemtesting.py
Labels: ISIS Team: Diffraction

#32943 Fixed VesuvioAnalysis crashes caused by single mass calculation
  Framework/PythonInterface/plugins/algorithms/VesuvioAnalysis.py
  Framework/PythonInterface/test/python/plugins/algorithms/VesuvioAnalysisTest.py
  docs/source/algorithms/VesuvioAnalysis-v1.rst
  docs/source/release/v6.3.0/indirect_geometry.rst
  scripts/Inelastic/vesuvio/analysisHelpers.py
Labels: Bug, Documentation, Added during Sprint, Reported By User, ISIS Team: Excitations/Vesuvio

#32974 Replace flakey InstrumentView view test with presenter tests
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/mantidqt/widgets/instrumentview/test/test_instrumentview_presenter.py
  qt/python/mantidqt/mantidqt/widgets/instrumentview/test/test_instrumentview_view.py
Labels: Bug, GUI

#32957 add log for run_start and _end in seconds to model fitting
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/fitting_contexts/model_fitting_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/results_tab_widget/results_tab_model.py
  qt/python/mantidqtinterfaces/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32996 Revert "Create standalone OSX conda install"
  .gitignore
  Framework/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  buildconfig/CMake/BundleOSXConda.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/PyStoG.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/CMake/TargetFunctions.cmake
  qt/applications/workbench/CMakeLists.txt
  qt/python/mantidqt/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/icons/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: ISIS Team: Core, Added during Sprint

#32968 Refl GUI error handling for incorrect workspace types
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowPreprocessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowPreprocessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewJobManagerTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#32994 Fix units for simmultainious fit in model analysis
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_model.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_model_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32899 Activation Fit Function for Muons
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/Activation.h
  Framework/CurveFitting/src/Functions/Activation.cpp
  Framework/CurveFitting/test/Functions/ActivationTest.h
  docs/source/fitting/fitfunctions/Activation.rst
  docs/source/release/v6.3.0/muon.rst
Labels: Muon, ISIS Team: Spectroscopy

#32963 Fit range
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/basic_fitting/basic_fitting_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_presenter.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/basic_fitting/basic_fitting_model_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_presenter_test.py
Labels: ISIS Team: Spectroscopy

#32941 Muon shade region
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/fit_pane/plot_fit_pane_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/fit_pane/plot_fit_pane_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_presenter_interface.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view_interface.py
  qt/python/mantidqtinterfaces/test/Muon/plot_fit_panes/plot_fit_pane_model_test.py
  qt/python/mantidqtinterfaces/test/Muon/plotting_canvas/plotting_canvas_model_test.py
  qt/python/mantidqtinterfaces/test/Muon/plotting_canvas/plotting_canvas_presenter_test.py
Labels: ISIS Team: Spectroscopy

#33006 Muon plots dont use sci notation for axis
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/plot_settings_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/plot_widget/plotting_canvas/plotting_canvas_view.py
Labels: ISIS Team: Spectroscopy, Reported By User

#33002 stop results table from selecting all when a new fit is performed.
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  qt/python/mantidqtinterfaces/test/Muon/results_tab_widget/results_tab_presenter_test.py
Labels: Muon, ISIS Team: Spectroscopy

#32958 Add button to Export Summed Ws to ADS
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33003 Muon resize fix
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/dock/dockable_tabs.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/MuonAnalysis/muon_analysis_2.py
Labels: ISIS Team: Spectroscopy

#32651 DrILL - zero filling in increment
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/presenter/DrillPresenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/test/DrillPresenterTest.py
Labels: GUI, ILL Team

#32949 Magnetic Order Parameter Fit Function
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/MagneticOrderParameter.h
  Framework/CurveFitting/src/Functions/MagneticOrderParameter.cpp
  Framework/CurveFitting/test/Functions/MagneticOrderParameterTest.h
  docs/source/fitting/fitfunctions/MagneticOrderParameter.rst
  docs/source/images/magorder_plot.png
  docs/source/release/v6.3.0/muon.rst
Labels: Muon, ISIS Team: Spectroscopy

#33009 DirectILL: Increased default width of monitor peak integration
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Testing/SystemTests/tests/framework/ILLDirectGeometryReductionTest.py
  docs/source/release/v6.3.0/direct_geometry.rst
Labels: Direct Inelastic, ILL Team

#32592 Add missing pytest files and hook to detect them
  .pre-commit-config.yaml
  Framework/PythonInterface/plugins/functions/Redfield.py
  Framework/PythonInterface/test/python/mantid/dataobjects/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/utils/deprecatorTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/CreateCacheFilenameTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/FindGlobalBMatrixTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/IndexPeaksTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSBeamCentreFinderTest.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/RedfieldTest.py
  Framework/Reflectometry/test/CMakeLists.txt
  Framework/WorkflowAlgorithms/test/CMakeLists.txt
  Testing/SystemTests/tests/framework/FindSatellitePeaksTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/LOQ/LOQReloadWorkspaces.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReloadWorkspaces.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBatchReductionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBeamCentreFinderCoreTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSDarkRunSubtractionTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSDiagnosticPageTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSLoadTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSLoadersTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSReductionCoreTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSaveTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSingleReductionTest.py
  Testing/SystemTests/tests/framework/PowderReduceP2DTest.py
  Testing/SystemTests/tests/framework/VesuvioCorrectionsTest.py
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_lineplots.py
  qt/python/mantidqt/mantidqt/widgets/waterfallplotfillareadialog/test/test_waterfallplotfillareadialogpresenter.py
  qt/python/mantidqt/mantidqt/widgets/waterfallplotoffsetdialog/test/test_waterfallplotoffsetdialogpresenter.py
  qt/python/mantidqtinterfaces/test/Muon/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/Muon/PlottingView_test.py
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/test/FileFinderWidgetTest.py
  scripts/Inelastic/Direct/DirectEnergyConversion.py
  scripts/Inelastic/Direct/dgreduce.py
  scripts/test/DirectPropertyManater_OldInterfaceXest.py
  scripts/test/SANS/algorithm_detail/CMakeLists.txt
  scripts/test/SANS/gui_logic/CMakeLists.txt
  scripts/test/SANS/gui_logic/add_runs_presenter_test.py
  scripts/test/SANS/gui_logic/assert_called.py
  scripts/test/SANS/gui_logic/run_selector_presenter_test.py
  scripts/test/SANS/gui_logic/summation_settings_presenter_test.py
  scripts/test/SANS/state/StateBuilderTest.py
Labels: Maintenance, Framework

#33001 Load now produces the history of the loader called
  Framework/API/src/ScriptBuilder.cpp
  Framework/API/test/ScriptBuilderTest.h
  docs/source/release/v6.3.0/framework.rst
  docs/source/release/v6.3.0/muon.rst
Labels: ISIS Team: Spectroscopy

#32825 D16 logbook update
  Testing/SystemTests/tests/framework/reference/D16_Logbook_Reference.nxs.md5
  instrument/D16_Parameters.xml
Labels: ILL Team, Reported By User

#33004 Fix ADS observer behaviour on Fitting tab in Engineering Diffraction UI
  docs/source/release/v6.3.0/diffraction.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/engineering_diffraction_io.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/common/calibration_info.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/test/engineering_diffraction_io_test.py
Labels: ISIS Team: Diffraction

#32904 SANS Call Convert To Wavelength Once
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderCore.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSBeamCentreFinderMassMethod.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSConvertToWavelengthAndRebin.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSCreateAdjustmentWorkspaces.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSReductionCoreBase.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSConvertToWavelengthAndRebinTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSBatchReductionTest.py
  Testing/SystemTests/tests/framework/SANS_TOML_Wav_Loops.py
  docs/source/algorithms/SANSConvertToWavelengthAndRebin-v1.rst
  docs/source/release/v6.3.0/sans.rst
  scripts/SANS/sans/algorithm_detail/CreateSANSAdjustmentWorkspaces.py
  scripts/SANS/sans/algorithm_detail/calculate_sans_transmission.py
  scripts/SANS/sans/algorithm_detail/normalize_to_sans_monitor.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/state/StateObjects/StateNormalizeToMonitor.py
  scripts/SANS/sans/state/StateObjects/StateWavelength.py
  scripts/SANS/sans/test_helper/test_director.py
  scripts/SANS/sans/user_file/parser_helpers/wavelength_parser.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_parser.py
  scripts/SANS/sans/user_file/txt_parsers/ParsedDictConverter.py
  scripts/test/SANS/algorithm_detail/create_sans_adjustment_workspaces_test.py
  scripts/test/SANS/algorithm_detail/normalize_to_sans_monitor_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/state/normalize_to_monitor_test.py
  scripts/test/SANS/state/wavelength_test.py
  scripts/test/SANS/user_file/toml_parsers/parser_helpers/wavelength_parser_test.py
  scripts/test/SANS/user_file/txt_parsers/ParsedDictConverterTest.py
Labels: SANS, ISIS Team: LSS

#33007 Muon model tab is not cleared and results warning
  docs/source/release/v6.3.0/muon.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/results_tab_widget/results_tab_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/results_tab_widget/results_tab_view.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/results_tab_widget/results_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy

#32784 Use global plot options in superplot
  qt/python/mantidqt/mantidqt/widgets/superplot/presenter.py
  qt/python/mantidqt/mantidqt/widgets/superplot/test/test_superplot_presenter.py
Labels: GUI, ILL Team

#32947 Correct Integration range in PDFFourierTransform2
  Framework/Algorithms/inc/MantidAlgorithms/PDFFourierTransform2.h
  Framework/Algorithms/src/PDFFourierTransform2.cpp
  Framework/Algorithms/test/PDFFourierTransform2Test.h
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/algorithms/CropWorkspaceRagged-v1.rst
  docs/source/algorithms/PDFFourierTransform-v2.rst
  docs/source/release/v6.3.0/diffraction.rst
Labels: ISIS Team: Diffraction, Total Scattering

#33057 PyChop update
  docs/source/release/v6.3.0/direct_geometry.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/Instruments.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/MulpyRep.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/PyChopGui.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/let.yaml
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/maps.yaml
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/mari.yaml
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/merlin.yaml
  qt/python/mantidqtinterfaces/test/PyChopTest.py
Labels: Direct Inelastic, GUI, ORNL Team, ISIS Team: Excitations/Vesuvio

#32767 Modify step calculation to give exact result in DiffractionFocussing
  Framework/Algorithms/src/DiffractionFocussing2.cpp
  Framework/WorkflowAlgorithms/test/AlignAndFocusPowderTest.h
  Testing/Data/SystemTest/ISIS_Powder/input/HRPD66031_splined.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/POLARIS00098532_splined.nxs.md5
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/16_5/ISIS_Powder-HRPD-VanSplined_66031_hrpd_new_072_01_corr.cal.nxs.md5
  Testing/Data/SystemTest/vana19612-5foc-SF-SS.nxs.md5
  Testing/SystemTests/tests/framework/EnginXScriptTest.py
  Testing/SystemTests/tests/framework/reference/HRPD66063_focused.nxs.md5
  Testing/SystemTests/tests/framework/reference/HRPD66063_focused_with_sac.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-GEM-VanSplined_83608_offsets_2011_cycle111b.cal.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-GEM83605_FocusSempty.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-GEM83605_FocusSempty_abscorr.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-GEM87618_grouped.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-GEM87618_groupedGSAS1.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098472_splined.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098507_tt70Atten.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098507_tt70NoEmptySub.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098507_tt70_absorb.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL98494_grouped.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS00098532_splined.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS00098532_unsplined.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS98533_Auto_chopper.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS98533_FocusSempty.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder_PRL98472_tt70_all.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder_PRL98472_tt70_groups.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder_PRL98472_tt70_mods.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder_PRL98472_tt70_trans.nxs.md5
  Testing/SystemTests/tests/framework/reference/OsirisDiffractionTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/PG3_4844_reference.gsa.md5
  Testing/SystemTests/tests/framework/reference/PG3_4866_reference.gsa.md5
  Testing/SystemTests/tests/framework/reference/PG3_9829_reference.gsa.md5
  Testing/SystemTests/tests/framework/reference/PG3_9829_sum_reference.gsa.md5
  Testing/SystemTests/tests/framework/reference/PG3_9830_reference.gsa.md5
  Testing/SystemTests/tests/framework/reference/WISH40503-5_6no_absorb_raw.nxs.md5
  Testing/SystemTests/tests/framework/reference/WISH40503-5_6raw.nxs.md5
  Testing/SystemTests/tests/framework/reference/WishAnalysis.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_1_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_2.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_2_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_cropped.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_focusing_output_ws_bank_cropped_gsl1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_1.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_10.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_2.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_3.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_4.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_5.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_6.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_7.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_8.nxs.md5
  Testing/SystemTests/tests/framework/reference/engg_texture_bank_9.nxs.md5
  Testing/SystemTests/tests/framework/reference/vana19612-5foc-SF-SS.nxs.md5
  docs/source/algorithms/DiffractionFocussing-v2.rst
  docs/source/algorithms/OSIRISDiffractionReduction-v1.rst
Labels: ISIS Team: Diffraction

#32922 Extend attenuation correction in AnvredCorrection higher muR
  Framework/Algorithms/test/SphericalAbsorptionTest.h
  Framework/Crystal/inc/MantidCrystal/AnvredCorrection.h
  Framework/Crystal/src/AnvredCorrection.cpp
  Framework/Crystal/src/LoadHKL.cpp
  Framework/Crystal/src/SaveHKL.cpp
  Framework/Crystal/test/AnvredCorrectionTest.h
  Framework/Crystal/test/SaveHKLTest.h
  Testing/Data/SystemTest/TOPAZ_3132_reference_04012021.hkl.md5
  Testing/SystemTests/tests/framework/Diffraction_Workflow_Test.py
  docs/source/algorithms/AnvredCorrection-v1.rst
  docs/source/algorithms/LoadHKL-v1.rst
  docs/source/algorithms/SphericalAbsorption-v1.rst
  docs/source/release/v6.3.0/diffraction.rst
Labels: Diffraction, ISIS Team: Diffraction, Absorption Corrections

#33067 Revert removal of cmake COMPONENT installs
  .gitignore
  Framework/CMakeLists.txt
  Framework/PythonInterface/CMakeLists.txt
  buildconfig/CMake/BundleOSXConda.cmake
  buildconfig/CMake/CPackCommon.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/PyStoG.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/CMake/TargetFunctions.cmake
  qt/applications/workbench/CMakeLists.txt
  qt/python/mantidqt/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/icons/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/MultiDatasetFit/CMakeLists.txt
  qt/scientific_interfaces/Muon/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/QtPropertyBrowser/CMakeLists.txt
  qt/widgets/plugins/algorithm_dialogs/CMakeLists.txt
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: ISIS Team: Core

#33058 PEARLTransfit (very!) minor documentation change
  Framework/PythonInterface/plugins/algorithms/PEARLTransfit.py
Labels: Documentation, ISIS Team: Diffraction

#33029 Add missing livedata addressses for 3 HFIR instruments and fix SNSLiveEventDataListener
  Framework/LiveData/src/SNSLiveEventDataListener.cpp
  docs/source/release/v6.3.0/framework.rst
  instrument/Facilities.xml
Labels: ORNL Team

#33074 Revert "Check if GUIs Need to Keep Running When Closing Workbench"
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/test_mainwindow.py
Labels: High Priority, Bug, ISIS Team: LSS, ISIS Team: Core

#32220 Abins: import force constants data using Euphonic
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SimulatedDensityOfStates.py
  Testing/Data/UnitTest/Al_LoadPhonopy.yaml.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_1.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_2.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_3.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_4.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_5.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_6.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_atomic_displacements_data_7.txt.md5
  Testing/Data/UnitTest/Al_LoadPhonopy_data.txt.md5
  Testing/Data/UnitTest/BENZENE4_g03_win_LoadGAUSSIAN_data.txt.md5
  Testing/Data/UnitTest/BENZENE4_g09_win_LoadGAUSSIAN_data.txt.md5
  Testing/Data/UnitTest/LTA_40_O2_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/MgO-222-DISP_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/Na2SiF6_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/crystalB3LYP_LoadCRYSTAL_data.txt.md5
  Testing/Data/UnitTest/methane_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/methane_opt_LoadDMOL3_data.txt.md5
  Testing/Data/UnitTest/mgo-GX_LoadCRYSTAL_data.txt.md5
  docs/source/algorithms/Abins-v1.rst
  docs/source/concepts/AbinsImplementation.rst
  docs/source/release/v6.3.0/indirect_geometry.rst
  scripts/Inelastic/dos/load_euphonic.py
  scripts/abins/abinsalgorithm.py
  scripts/abins/constants.py
  scripts/abins/input/__init__.py
  scripts/abins/input/euphonicloader.py
  scripts/abins/input/tester.py
  scripts/abins/io.py
  scripts/abins/parameters.py
  scripts/test/Abins/AbinsLoadPhonopyTest.py
  scripts/test/Abins/CMakeLists.txt
Labels: ISIS Team: Spectroscopy

#33078 Algorithm history uses load version for "Load"
  Framework/API/src/ScriptBuilder.cpp
  Framework/API/test/ScriptBuilderTest.h
Labels: ISIS Team: Core
