Repository mantidproject/mantid, pull requests merged in 2021-03, with the labels that each got.

#30785 Work Around For Bug When Loading A Run In Muon Analysis And Frequency Domain Analysis
  docs/source/release/v6.1.0/muon.rst
  scripts/Muon/GUI/Common/plot_widget/plot_widget_presenter.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30745 Output Bk2bkexp params to PRM file
  docs/source/release/v6.1.0/diffraction.rst
  instrument/ENGIN-X_Parameters.xml
  scripts/Engineering/EnggUtils.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/calibration/test/test_calib_model.py
Labels: Diffraction, ISIS Team: Diffraction

#30723 Update curve labels when a workspace is renamed
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  Framework/PythonInterface/test/python/mantid/plots/mantidaxesTest.py
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: ISIS Team: Core

#30658 Updated LoadElementalAnalysisData to crop workspaces
  Framework/PythonInterface/plugins/algorithms/LoadElementalAnalysisData.py
  Testing/SystemTests/tests/framework/LoadElementalAnalysisTest.py
  docs/source/release/v6.1.0/muon.rst
Labels: ISIS Team: Spectroscopy, Muon

#30804 D11B swap panels + grouping
  Framework/DataHandling/src/LoadILLSANS.cpp
  instrument/Grouping/D11B_Grouping.xml
Labels: Bug, ILL Team, SANS

#30793 Change the default fit function in F(Q) fit to none
  docs/source/release/v6.1.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/FQFitConstants.h
Labels: ISIS Team: Spectroscopy

#30269 Editted FindPeakAutomatic algorithm to take spectrum number
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FindPeaksAutomatic.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FindPeakAutomaticTest.py
  docs/source/algorithms/FindPeaksAutomatic-v1.rst
  docs/source/release/v6.1.0/framework.rst
  docs/source/release/v6.1.0/muon.rst
Labels: Framework, ISIS Team: Spectroscopy

#30770 Bug on file loading in DrILL
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
Labels: Bug, ILL Team

#30807 Qt5 Maintenance Table Utils Muon GUI
  scripts/Muon/GUI/Common/utilities/table_utils.py
Labels: ISIS Team: Spectroscopy, Maintenance, Muon

#30354 Fix WorkspaceSelector so it does not remove optional blank row
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/test/ISISReflectometry/Experiment/MockExperimentView.h
  qt/scientific_interfaces/test/ISISReflectometry/ReflMockObjects.h
  qt/widgets/common/src/WorkspaceSelector.cpp
Labels: Bug, ISIS Team: LSS, Workbench

#30791 Improve speed of table workspace display for large datasets
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/utils/testing/mocks/mock_qt.py
  qt/python/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/data_copier.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/test/test_matrixworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/io.py
  qt/python/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter_base.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter_batch.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter_standard.py
  qt/python/mantidqt/widgets/workspacedisplay/table/table_model.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
  qt/python/mantidqt/widgets/workspacedisplay/test/test_data_copier.py
Labels: ISIS Team: Core

#30669 ALC No Longer Empty's Interface On New Runs
  docs/source/release/v6.1.0/muon.rst
  qt/scientific_interfaces/Muon/ALCDataLoadingPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.h
  qt/scientific_interfaces/Muon/ALCDataLoadingView.ui
Labels: ISIS Team: Spectroscopy, Muon

#30782 Sample material dialog
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/CMakeLists.txt
  qt/python/mantidqt/_common.sip
  qt/python/mantidqt/widgets/samplematerialdialog/__init__.py
  qt/python/mantidqt/widgets/samplematerialdialog/samplematerial_presenter.py
  qt/python/mantidqt/widgets/samplematerialdialog/samplematerial_view.py
  qt/python/mantidqt/widgets/samplematerialdialog/samplematerialdialog.ui
  qt/python/mantidqt/widgets/samplematerialdialog/test/__init__.py
  qt/python/mantidqt/widgets/samplematerialdialog/test/test_samplematerial_presenter.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: Core

#30767 Remove property from corelli calibration algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  Testing/SystemTests/tests/framework/CorelliPowderCalibrationTest.py
Labels: Powder

#30605 Track function usage statistics
  Framework/API/inc/MantidAPI/CompositeFunction.h
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/src/CompositeFunction.cpp
  Framework/API/src/IFunction.cpp
  Framework/CurveFitting/src/Algorithms/Fit.cpp
  Framework/Kernel/inc/MantidKernel/UsageService.h
  Framework/Kernel/src/UsageService.cpp
Labels: ISIS Team: Core

#30482 Add a checkbox to freeze the rotation
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/python/mantidqt/widgets/instrumentview/test/test_instrumentview_io.py
  qt/widgets/common/inc/MantidQtWidgets/Common/InputController.h
  qt/widgets/common/src/InputController.cpp
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/ProjectionSurface.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetDecoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetEncoder.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
  qt/widgets/instrumentview/src/ProjectionSurface.cpp
Labels: ILL Team, Workbench

#30735 Updated CHESS geometry
  docs/source/release/v6.1.0/direct_geometry.rst
  instrument/CHESS_Definition.xml
Labels: Direct Inelastic, ORNL Team

#30823 Indirect Data Analysis - Fix wrong fit type being run.
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/widgets/common/src/FitOptionsBrowser.cpp
  qt/widgets/common/test/FitOptionsBrowserTest.h
Labels: Bug, ISIS Team: Spectroscopy, Indirect Inelastic

#30812 New LeanElasticPeak class
  Framework/DataObjects/CMakeLists.txt
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
Labels: Single Crystal

#30731 Empty default facility and instrument
  Framework/API/test/FileFinderTest.h
  Framework/CurveFitting/test/Functions/FunctionQDependsTest.h
  Framework/DataHandling/test/LoadILLTest.h
  Framework/DataHandling/test/LoadMcStasNexusTest.h
  Framework/DataHandling/test/LoadTest.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/src/FacilityInfo.cpp
  Framework/Kernel/src/InstrumentInfo.cpp
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/test/python/mantid/plots/datafunctionsTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryILLPreprocessTest.py
  Framework/Reflectometry/test/ReflectometryReductionOneAuto2Test.h
  Framework/Reflectometry/test/ReflectometryReductionOneAuto3Test.h
  Testing/SystemTests/lib/systemtests/systemtesting.py
  docs/source/conf.py
  docs/source/release/v6.1.0/mantidworkbench.rst
  instrument/Facilities.xml
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/scientific_interfaces/test/ISISReflectometry/Runs/RunsPresenterTest.h
  scripts/test/Muon/utilities/load_utils_test.py
  scripts/test/ReflectometryQuickAuxiliaryTest.py
  scripts/test/SANS/algorithm_detail/calculate_transmission_helper_test.py
Labels: ISIS Team: Core, Induction

#30809 DIFC calibration diagnostic plot
  docs/source/concepts/calibration/PowderDiffractionCalibration.rst
  docs/source/images/NOMAD_difc_calibration.png
  docs/source/release/v6.1.0/diffraction.rst
  scripts/Calibration/tofpd/diagnostics.py
Labels: Diffraction

#30858 FitPeaks bugfixes
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/Algorithms/test/XrayAbsorptionCorrectionTest.h
  docs/source/algorithms/FitPeaks-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Diffraction

#30846 TOPAZ: Problem with peak intensity assignment for satellite peaks
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegrateEllipsoids.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegrateQLabEvents.h
  Framework/MDAlgorithms/src/IntegrateEllipsoids.cpp
  Framework/MDAlgorithms/src/IntegrateQLabEvents.cpp
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Framework/MDAlgorithms/test/IntegrateQLabEventsTest.h
  Testing/SystemTests/tests/framework/EllipsoidIntegr.py
  Testing/SystemTests/tests/framework/IntegrateEllipsoidsTest.py
  Testing/SystemTests/tests/framework/reference/TOPAZ_39037_bank29.nxs.md5
  Testing/SystemTests/tests/framework/reference/TOPAZ_39037_peaks_short.nxs.md5
  docs/source/algorithms/IntegrateEllipsoids-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Single Crystal

#30849 TOPAZ: Problem with peak intensity assignment for satellite peaks
  Framework/MDAlgorithms/CMakeLists.txt
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegrateEllipsoids.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/IntegrateQLabEvents.h
  Framework/MDAlgorithms/src/IntegrateEllipsoids.cpp
  Framework/MDAlgorithms/src/IntegrateQLabEvents.cpp
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Framework/MDAlgorithms/test/IntegrateQLabEventsTest.h
  Testing/SystemTests/tests/framework/EllipsoidIntegr.py
  Testing/SystemTests/tests/framework/IntegrateEllipsoidsTest.py
  Testing/SystemTests/tests/framework/reference/TOPAZ_39037_bank29.nxs.md5
  Testing/SystemTests/tests/framework/reference/TOPAZ_39037_peaks_short.nxs.md5
  docs/source/algorithms/IntegrateEllipsoids-v1.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Single Crystal

#29837 Abins: support Lagrange instrument
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsAdvancedParametersTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsBasicTest.py
  docs/source/algorithms/Abins-v1.rst
  docs/source/release/v6.1.0/indirect_geometry.rst
  scripts/abins/abinsalgorithm.py
  scripts/abins/constants.py
  scripts/abins/input/abinitioloader.py
  scripts/abins/instruments/__init__.py
  scripts/abins/instruments/indirectinstrument.py
  scripts/abins/instruments/instrument.py
  scripts/abins/instruments/lagrangeinstrument.py
  scripts/abins/instruments/toscainstrument.py
  scripts/abins/io.py
  scripts/abins/parameters.py
  scripts/abins/sdata.py
  scripts/abins/spowdersemiempiricalcalculator.py
  scripts/test/Abins/AbinsCalculateQToscaTest.py
  scripts/test/Abins/AbinsInstrumentTest.py
  scripts/test/Abins/AbinsSDataTest.py
Labels: ISIS Team: Spectroscopy

#30799 Update stale comment to clarify Never Stale
  .github/stale.yml
Labels: Documentation

#30851 Fix typo in SANSILLAutoprocess
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcessTest.py
  docs/source/release/v6.1.0/sans.rst
Labels: Bug, ILL Team, SANS

#30818 Bug DrILL new table
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
  scripts/Interface/ui/drill/view/DrillView.py
Labels: Bug, ILL Team

#30817 Bug in DrILL custom options cell validation
  scripts/Interface/ui/drill/presenter/DrillPresenter.py
Labels: Bug, ILL Team

#30768 Bug in DrILL array settings validation
  scripts/Interface/ui/drill/view/DrillSettingsDialog.py
Labels: Bug, ILL Team

#30859 Find latest TBB
  Framework/API/src/FrameworkManager.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDEventTreeBuilder.h
  buildconfig/CMake/FindTBB.cmake
Labels: Bug

#30873 Cleanup IPeak interface: remove findDetector
  Framework/Crystal/src/PredictSatellitePeaks.cpp
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/MDAlgorithms/src/CentroidPeaksMD.cpp
  Framework/MDAlgorithms/src/CentroidPeaksMD2.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
Labels: Single Crystal

#30874 Cleanup IPeak interface: remove findDetector
  Framework/Crystal/src/PredictSatellitePeaks.cpp
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/MDAlgorithms/src/CentroidPeaksMD.cpp
  Framework/MDAlgorithms/src/CentroidPeaksMD2.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
Labels: Single Crystal

#30877 Resolve confusing variable names in SaveGDA algorithm
  Framework/DataHandling/inc/MantidDataHandling/SaveGDA.h
  Framework/DataHandling/src/SaveGDA.cpp
Labels: Diffraction, ISIS Team: Diffraction, Powder

#30128 Add project save to EngDiffUI
  Framework/Properties/Mantid.properties.template
  docs/source/release/v6.1.0/diffraction.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/test/mainwindowtest.py
  qt/python/mantidqt/project/encoderfactory.py
  qt/python/mantidqt/project/projectsaver.py
  scripts/Engineering/gui/CMakeLists.txt
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction.py
  scripts/Engineering/gui/engineering_diffraction/engineering_diffraction_io.py
  scripts/Engineering/gui/engineering_diffraction/presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_model.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/data_handling/test/test_data_presenter.py
  scripts/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  scripts/Engineering/gui/engineering_diffraction/test/__init__.py
  scripts/Engineering/gui/engineering_diffraction/test/engineering_diffraction_io_test.py
  scripts/Engineering_Diffraction_register.py
Labels: Diffraction, ISIS Team: Diffraction

#30837 Improve Kafka Listener documentation
  Framework/LiveData/inc/MantidLiveData/Kafka/IKafkaStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventListener.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaEventStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaHistoStreamDecoder.h
  Framework/LiveData/inc/MantidLiveData/Kafka/KafkaTopicSubscriber.h
  Framework/LiveData/src/Kafka/IKafkaStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaEventListener.cpp
  Framework/LiveData/src/Kafka/KafkaEventStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaHistoListener.cpp
  Framework/LiveData/src/Kafka/KafkaHistoStreamDecoder.cpp
  Framework/LiveData/src/Kafka/KafkaTopicSubscriber.cpp
  Framework/LiveData/test/KafkaEventStreamDecoderTest.h
  Framework/LiveData/test/KafkaHistoStreamDecoderTest.h
  docs/source/concepts/KafkaLiveStreams.rst
Labels: Documentation, ESS Team, Framework

#30864 Add properties to summed_empty filename to prevent long_mode confusion
  docs/source/release/v6.1.0/diffraction.rst
  docs/source/techniques/ISISPowder-Pearl-v1.rst
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/run_details.py
  scripts/Diffraction/isis_powder/test/ISISPowderRunDetailsTest.py
Labels: Added during Sprint, Diffraction, ISIS Team: Diffraction, Powder

#30886 Remove instrument getters and setters from IPeak
  Framework/Crystal/inc/MantidCrystal/IntegratePeakTimeSlices.h
  Framework/Crystal/inc/MantidCrystal/PeakHKLErrors.h
  Framework/Crystal/src/IntegratePeakTimeSlices.cpp
  Framework/Crystal/src/PeakHKLErrors.cpp
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  qt/python/mantidqt/widgets/instrumentview/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Single Crystal

#30899 Remove instrument getters and setters from IPeak
  Framework/Crystal/inc/MantidCrystal/IntegratePeakTimeSlices.h
  Framework/Crystal/inc/MantidCrystal/PeakHKLErrors.h
  Framework/Crystal/src/IntegratePeakTimeSlices.cpp
  Framework/Crystal/src/PeakHKLErrors.cpp
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  qt/python/mantidqt/widgets/instrumentview/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Single Crystal

#30833 Fix a bounding box bug in the instrument viewer
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/widgets/common/src/QtPropertyBrowser/DoubleEditorFactory.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetMaskTab.cpp
Labels: Bug, Workbench

#30904 Support for loading SHARP data
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Framework/DataHandling/test/LoadILLTest.h
  Testing/Data/UnitTest/ILL/SHARP/000102.nxs.md5
  Testing/Data/UnitTest/ILL/SHARP/000103.nxs.md5
  docs/source/algorithms/LoadILLTOF-v2.rst
  docs/source/release/v6.1.0/direct_geometry.rst
Labels: Direct Inelastic, ILL Team

#30742 Reorganise Release Checklist
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation, ISIS Team: Core

#30848 Fix bug in release notes generator script
  tools/release_generator/release.py
Labels: Bug, ISIS Team: Core

#30841 Bug in DrILL export
  scripts/Interface/ui/drill/model/DrillExportModel.py
  scripts/Interface/ui/drill/test/DrillExportModelTest.py
Labels: Bug, ILL Team

#30917 defect in sorting tube calibration for corell
  scripts/corelli/calibration/database.py
  scripts/test/corelli/calibration/test_database.py
Labels: Single Crystal

#30909 Remove detectorID getters and setters from IPeak
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Crystal/src/FindSXPeaks.cpp
  Framework/Crystal/src/PeakIntegration.cpp
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/Crystal/src/SCDCalibratePanels2ObjFunc.cpp
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/src/PeakColumn.cpp
  Framework/DataObjects/src/SpecialWorkspace2D.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/DataObjects/test/PeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsWithSatellitesTest.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeaksWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/geometry/IPeakTest.py
  Framework/TestHelpers/src/SingleCrystalDiffractionTestHelper.cpp
  Testing/SystemTests/tests/framework/ISIS_WISHSingleCrystalReduction.py
  docs/source/algorithms/AddPeakHKL-v1.rst
  docs/source/algorithms/ConvertCWSDExpToMomentum-v1.rst
  qt/widgets/instrumentview/src/PeakMarker2D.cpp
  scripts/CrystalTools/PeakReport.py
Labels: Single Crystal

#30927 defect in sorting tube calibration for corelli
  scripts/corelli/calibration/database.py
  scripts/test/corelli/calibration/test_database.py
Labels: Single Crystal

#30732 Cleaned Up Difference Table Code
  docs/source/release/v6.1.0/muon.rst
  scripts/Muon/GUI/Common/contexts/muon_context.py
  scripts/Muon/GUI/Common/contexts/muon_group_pair_context.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_table_widget_presenter.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_table_widget_view.py
  scripts/Muon/GUI/Common/difference_table_widget/difference_widget_view.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_presenter.py
  scripts/Muon/GUI/Common/muon_base_pair.py
  scripts/Muon/GUI/Common/muon_diff.py
  scripts/Muon/GUI/Common/muon_group.py
  scripts/Muon/GUI/Common/muon_pair.py
  scripts/Muon/GUI/Common/pairing_table_widget/pairing_table_widget_presenter.py
  scripts/Muon/GUI/Common/utilities/algorithm_utils.py
  scripts/Muon/GUI/Common/utilities/xml_utils.py
  scripts/test/Muon/grouping_tab/difference_table_presenter_test.py
  scripts/test/Muon/grouping_tab/difference_table_selector_test.py
  scripts/test/Muon/grouping_tab/difference_widget_presenter_test.py
  scripts/test/Muon/muon_context_test.py
  scripts/test/Muon/muon_group_pair_context_test.py
  scripts/test/Muon/utilities/muon_difference_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30567 Change the name of the output workspaces in SANSILLAutoProcess
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  docs/source/algorithms/SANSILLAutoProcess-v1.rst
  docs/source/release/v6.1.0/sans.rst
Labels: ILL Team, SANS

#30129 Add window setting (Floating/ontop) to workbench
  docs/source/images/SettingsGeneral.png
  docs/source/images/window_ontop_linux.png
  docs/source/release/v6.1.0/mantidworkbench.rst
  docs/source/workbench/settings.rst
  docs/source/workbench/windowbehaviour.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/config/__init__.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/applications/workbench/workbench/widgets/settings/general/presenter.py
  qt/applications/workbench/workbench/widgets/settings/general/section_general.ui
  qt/applications/workbench/workbench/widgets/settings/general/test/test_general_settings.py
  qt/python/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/widgets/instrumentview/view.py
  qt/python/mantidqt/widgets/samplelogs/presenter.py
  qt/python/mantidqt/widgets/samplelogs/view.py
  qt/python/mantidqt/widgets/sliceviewer/presenter.py
  qt/python/mantidqt/widgets/sliceviewer/view.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/matrix/view.py
  qt/python/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/widgets/workspacedisplay/table/view.py
  scripts/DGSPlanner.py
  scripts/DGSPlanner/DGSPlannerGUI.py
  scripts/DGS_Reduction.py
  scripts/Drill.py
  scripts/Elemental_Analysis.py
  scripts/FilterEvents.py
  scripts/FilterEvents/eventFilterGUI.py
  scripts/Frequency_Domain_Analysis.py
  scripts/HFIR_4Circle_Reduction.py
  scripts/HFIR_4Circle_Reduction/reduce4circleGUI.py
  scripts/ISIS_SANS.py
  scripts/Interface/reduction_application.py
  scripts/Interface/ui/drill/view/DrillView.py
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Muon/GUI/ElementalAnalysis/elemental_analysis.py
  scripts/Muon/GUI/FrequencyDomainAnalysis/frequency_domain_analysis_2.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/Muon_Analysis.py
  scripts/ORNL_SANS.py
  scripts/Powder_Diffraction_Reduction.py
  scripts/PyChop.py
  scripts/PyChop/PyChopGui.py
  scripts/QECoverage.py
  scripts/QECoverage/QECoverageGUI.py
  scripts/SampleTransmissionCalculator/stc_gui.py
  scripts/Sample_Transmission_Calculator.py
  scripts/TofConverter.py
  scripts/TofConverter/converterGUI.py
Labels: ISIS Team: Core, Workbench

#30928 Remove detectorID getters and setters from IPeak
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/AddPeak.cpp
  Framework/Algorithms/src/CompareWorkspaces.cpp
  Framework/Crystal/src/FindSXPeaks.cpp
  Framework/Crystal/src/PeakIntegration.cpp
  Framework/Crystal/src/PredictFractionalPeaks.cpp
  Framework/Crystal/src/SCDCalibratePanels2ObjFunc.cpp
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/src/PeakColumn.cpp
  Framework/DataObjects/src/SpecialWorkspace2D.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/DataObjects/test/PeakTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Framework/MDAlgorithms/test/IntegrateEllipsoidsWithSatellitesTest.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeaksWorkspace.cpp
  Framework/PythonInterface/test/python/mantid/geometry/IPeakTest.py
  Framework/TestHelpers/src/SingleCrystalDiffractionTestHelper.cpp
  Testing/SystemTests/tests/framework/ISIS_WISHSingleCrystalReduction.py
  docs/source/algorithms/AddPeakHKL-v1.rst
  docs/source/algorithms/ConvertCWSDExpToMomentum-v1.rst
  qt/widgets/instrumentview/src/PeakMarker2D.cpp
  scripts/CrystalTools/PeakReport.py
Labels: Single Crystal

#30850 Fix seg fault in MonteCarloAbsorption
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/PaalmanPingsMonteCarloAbsorptionTest.py
  docs/source/algorithms/PaalmanPingsMonteCarloAbsorption-v1.rst
  docs/source/release/v6.1.0/framework.rst
Labels: Bug, ISIS Team: Diffraction, Linux Only, macOS Only

#30835 Expose IFunction method setMatrixWorkspace to python
  Framework/API/inc/MantidAPI/FunctionFactory.h
  Framework/PythonInterface/mantid/api/src/Exports/FunctionFactory.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeakFunction.cpp
  Framework/PythonInterface/test/python/mantid/api/FunctionFactoryTest.py
  Framework/PythonInterface/test/python/mantid/api/IPeakFunctionTest.py
Labels: ISIS Team: Core

#30892 Fit Script Generator - Dynamically update global parameters & ties
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FittingGlobals.h
  qt/widgets/common/src/FitDomain.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FittingGlobals.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/test/FitScriptGeneratorModelTest.h
Labels: ISIS Team: Spectroscopy, Muon

#30936 Tidy up pearl system tests
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/pearl/17_1/pearl_offset_16_4.cal.md5
  Testing/Data/SystemTest/ISIS_Powder/input/yaml_files/pearl_system_test_mapping.yaml.md5
  Testing/SystemTests/tests/framework/ISIS_PowderPearlTest.py
Labels: ISIS Team: Diffraction

#30923 Fixed Bug In Ma/FDA When Using Group Asymmetry Range Source Checkbox
  docs/source/release/v6.1.0/muon.rst
  scripts/Muon/GUI/Common/grouping_tab_widget/grouping_tab_widget_model.py
  scripts/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_view.py
Labels: Bug, ISIS Team: Spectroscopy, Muon

#30915 Fit Script Generator - Only Apply Ties/Constraints on specified domains
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGenerator.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorDataTable.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorMockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFitScriptGeneratorView.h
  qt/widgets/common/src/FitDomain.cpp
  qt/widgets/common/src/FitScriptGeneratorDataTable.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FitScriptGeneratorPresenter.cpp
  qt/widgets/common/src/FitScriptGeneratorView.cpp
  qt/widgets/common/test/FitDomainTest.h
  qt/widgets/common/test/FitScriptGeneratorModelTest.h
  qt/widgets/common/test/FitScriptGeneratorPresenterTest.h
Labels: ISIS Team: Spectroscopy, Muon

#30975 Remove duplicate WISH system test files
  Testing/Data/SystemTest/WISH40503-5_6no_absorb_raw.nxs.md5
  Testing/Data/SystemTest/WISH40503-5_6raw.nxs.md5
  Testing/Data/SystemTest/WishAnalysis.nxs.md5
  Testing/SystemTests/tests/framework/reference/WISH40503-5_6no_absorb_raw.nxs.md5
  Testing/SystemTests/tests/framework/reference/WISH40503-5_6raw.nxs.md5
  Testing/SystemTests/tests/framework/reference/WishAnalysis.nxs.md5
Labels: Diffraction, ISIS Team: Diffraction, Single Crystal

#30938 Fit Script Generator - Create Basic Fit Options Browser
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/BasicFitOptionsBrowser.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FitScriptGeneratorView.h
  qt/widgets/common/src/BasicFitOptionsBrowser.cpp
  qt/widgets/common/src/FitScriptGeneratorView.cpp
  qt/widgets/common/test/BasicFitOptionsBrowserTest.h
  scripts/Muon/GUI/Common/fitting_tab_widget/fitting_tab_presenter.py
Labels: ISIS Team: Spectroscopy, Muon

#30994 Remove damaging patch changes from pre-commit and old patch files
  .pre-commit-config.yaml
  buildconfig/CMake/ExternalSipPyQt4.cmake
  buildconfig/CMake/pyqt4_disable_unnecessary_modules.patch
  buildconfig/CMake/pyqt4_qreal_float_support.patch
  buildconfig/CMake/span_disable_testing.patch
  buildconfig/pyport.patch
  buildconfig/qglobal.patch
Labels: Added during Sprint, ISIS Team: Core

#30432 Logbook generator for ILL data
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/GenerateLogbook.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/GenerateLogbookTest.py
  Testing/Data/SystemTest/ILL/D11/017038.nxs.md5
  Testing/Data/SystemTest/ILL/D11/017039.nxs.md5
  Testing/Data/SystemTest/ILL/D11B/000361.nxs.md5
  Testing/Data/SystemTest/ILL/D11B/000362.nxs.md5
  Testing/Data/SystemTest/ILL/D16/000245.nxs.md5
  Testing/Data/SystemTest/ILL/D16/000246.nxs.md5
  Testing/Data/SystemTest/ILL/D22/354717.nxs.md5
  Testing/Data/SystemTest/ILL/D22/354718.nxs.md5
  Testing/Data/SystemTest/ILL/D22B/398672.nxs.md5
  Testing/Data/SystemTest/ILL/D22B/398673.nxs.md5
  Testing/Data/SystemTest/ILL/D33/162689.nxs.md5
  Testing/Data/SystemTest/ILL/D33/162690.nxs.md5
  Testing/Data/SystemTest/ILL/IN4/092375.nxs.md5
  Testing/Data/SystemTest/ILL/IN4/092376.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/199728.nxs.md5
  Testing/Data/SystemTest/ILL/IN5/199729.nxs.md5
  Testing/Data/SystemTest/ILL/IN6/224436.nxs.md5
  Testing/Data/SystemTest/ILL/IN6/224437.nxs.md5
  Testing/SystemTests/tests/framework/DrillProcessTest.py
  Testing/SystemTests/tests/framework/GenerateLogbookTest.py
  Testing/SystemTests/tests/framework/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/reference/D11B_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D11_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D16_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D22B_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D22_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/D33_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/IN4_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/IN5_Logbook_Reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/IN6_Logbook_Reference.nxs.md5
  docs/source/algorithms/GenerateLogbook-v1.rst
  docs/source/release/v6.1.0/framework.rst
  instrument/D11B_Parameters.xml
  instrument/D11_Parameters.xml
  instrument/D16_Parameters.xml
  instrument/D22B_Parameters.xml
  instrument/D22_Parameters.xml
  instrument/D33_Parameters.xml
  instrument/D7_Parameters.xml
  instrument/IN4_Parameters.xml
  instrument/IN5_Parameters.xml
  instrument/IN6_Parameters.xml
  instrument/PANTHER_Parameters.xml
Labels: ILL Team

#30805 Replace pythons input to raise a QInputDialog
  docs/source/release/v6.1.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/plugins/jupyterconsole.py
  qt/applications/workbench/workbench/test/mainwindowtest.py
  qt/applications/workbench/workbench/utils/io.py
  qt/applications/workbench/workbench/utils/test/test_io.py
  qt/python/mantidqt/widgets/jupyterconsole.py
  qt/python/mantidqt/widgets/test/test_jupyterconsole.py
Labels: ISIS Team: Core, Workbench

#30964 new warning message for loading old log files
  Framework/DataHandling/inc/MantidDataHandling/LoadLog.h
  Framework/DataHandling/src/LoadLog.cpp
  Framework/DataHandling/test/LoadLogTest.h
  docs/source/release/v6.1.0/framework.rst
Labels: ISIS Team: Core

#30995 Fix absorption correction caching setting in reduction GUI
  scripts/Interface/reduction_gui/reduction/diffraction/diffraction_adv_setup_script.py
Labels: Diffraction

#30962 implement getSamplePos and setSamplePos in BasePeak
  Framework/Crystal/src/PeaksIntersection.cpp
  Framework/Crystal/test/AddPeakHKLTest.h
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/inc/MantidDataObjects/PeaksWorkspace.h
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/DataObjects/test/PeaksWorkspaceTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/algorithms/SaveHKLCW.py
  Framework/PythonInterface/test/python/mantid/geometry/IPeakTest.py
  qt/widgets/instrumentview/src/PeakOverlay.cpp
Labels: Single Crystal

#30985 Update macOS buildscript to remove crash report files before running …
  buildconfig/Jenkins/buildscript
Labels: Added during Sprint, ISIS Team: Core

#30989 Improve sampling of neutron start and scatter points in MonteCarloAbsorption
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/IMCInteractionVolume.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/MCInteractionVolume.h
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/src/SampleCorrections/MCInteractionVolume.cpp
  Framework/Algorithms/test/MCInteractionVolumeTest.h
  Testing/SystemTests/tests/framework/PaalmanPingsMonteCarloAbsorptionTest.py
  Testing/SystemTests/tests/framework/reference/irs_PP_MC_annulus.nxs.md5
  Testing/SystemTests/tests/framework/reference/irs_PP_MC_cylinder.nxs.md5
  Testing/SystemTests/tests/framework/reference/irs_PP_MC_flat_plate.nxs.md5
  docs/source/release/v6.1.0/framework.rst
Labels: Absorption Corrections, ISIS Team: Diffraction

#30963 implement getSamplePos and setSamplePos in BasePeak
  Framework/Crystal/src/PeaksIntersection.cpp
  Framework/Crystal/test/AddPeakHKLTest.h
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/LeanElasticPeak.h
  Framework/DataObjects/inc/MantidDataObjects/Peak.h
  Framework/DataObjects/inc/MantidDataObjects/PeaksWorkspace.h
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/test/LeanElasticPeakTest.h
  Framework/DataObjects/test/PeaksWorkspaceTest.h
  Framework/Geometry/inc/MantidGeometry/Crystal/IPeak.h
  Framework/Geometry/test/MockObjects.h
  Framework/PythonInterface/mantid/api/src/Exports/IPeak.cpp
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksProfileFitting.py
  Framework/PythonInterface/plugins/algorithms/SaveHKLCW.py
  Framework/PythonInterface/test/python/mantid/geometry/IPeakTest.py
  qt/widgets/instrumentview/src/PeakOverlay.cpp
Labels: Single Crystal

#30953 Modify FindPeaksMD to optionally produce LeanElasticPeaksWorkspace
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/FindPeaksMD.h
  Framework/MDAlgorithms/src/FindPeaksMD.cpp
  Framework/MDAlgorithms/test/FindPeaksMDTest.h
  Testing/SystemTests/tests/framework/ConvertHFIRSCDtoMDETest.py
  Testing/SystemTests/tests/framework/TOPAZPeakFinding.py
  docs/source/algorithms/FindPeaksMD-v1.rst
  docs/source/concepts/LeanElasticPeaksWorkspace.rst
  docs/source/release/v6.1.0/diffraction.rst
Labels: Single Crystal

#30990 Corelli powder calibration: Implement translational constraint
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  docs/source/release/v6.1.0/diffraction.rst
Labels: Single Crystal

#31019 Update pre-commit install guidelines for Linux
  dev-docs/source/GettingStarted.rst
Labels: ISIS Team: Core

#31007 Create patch file on jenkins job for all formatters
  buildconfig/Jenkins/pre-commit
Labels: ISIS Team: Core

#30988 Pre-commit flake8 implementation
  .pre-commit-config.yaml
  scripts/abins/atomsdata.py
  scripts/abins/kpointsdata.py
  scripts/abins/sdata.py
  scripts/test/SANS/algorithm_detail/calculate_sans_transmission_test.py
Labels: ISIS Team: Core

#30806 Muon Fitting Refactor 3 - Make Sequential Fitting tab work
  scripts/Muon/GUI/Common/fitting_widgets/basic_fitting/basic_fitting_model.py
  scripts/Muon/GUI/Common/fitting_widgets/general_fitting/general_fitting_model.py
  scripts/Muon/GUI/Common/fitting_widgets/general_fitting/general_fitting_presenter.py
  scripts/Muon/GUI/Common/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_model.py
  scripts/Muon/GUI/Common/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_presenter.py
  scripts/Muon/GUI/Common/seq_fitting_tab_widget/seq_fitting_tab_presenter.py
  scripts/Muon/GUI/MuonAnalysis/muon_analysis_2.py
  scripts/test/Muon/CMakeLists.txt
  scripts/test/Muon/fitting_widgets/basic_fitting/basic_fitting_model_test.py
  scripts/test/Muon/fitting_widgets/general_fitting/general_fitting_model_test.py
  scripts/test/Muon/fitting_widgets/general_fitting/general_fitting_presenter_test.py
  scripts/test/Muon/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_model_test.py
  scripts/test/Muon/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_presenter_test.py
  scripts/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
Labels: ISIS Team: Spectroscopy, Muon

#30991 Corelli calibration
  Framework/PythonInterface/plugins/algorithms/AlignComponents.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreate.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CorelliPowderCalibrationCreateTest.py
  docs/source/release/v6.1.0/diffraction.rst
Labels: Single Crystal
