Repository mantidproject/mantid, pull requests merged in 2021-10, with the labels that each got.

#32193 Allow separate mantidqt and workbench builds
  CMakeLists.txt
  Framework/CMakeLists.txt
  Framework/PostInstall/CMakeLists.txt
  Framework/PythonInterface/mantid/__init__.py
  buildconfig/CMake/Bootstrap.cmake
  buildconfig/CMake/CommonSetup.cmake
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/MSVCSetup.cmake
  buildconfig/CMake/PythonPackageTargetFunctions.cmake
  buildconfig/CMake/QtTargetFunctions.cmake
  buildconfig/CMake/SipQtTargetFunctions.cmake
  buildconfig/CMake/TargetFunctions.cmake
  qt/CMakeLists.txt
  qt/applications/workbench/CMakeLists.txt
  qt/icons/CMakeLists.txt
  qt/python/CMakeLists.txt
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/icons/CMakeLists.txt
  qt/python/mantidqt/mantidqt/widgets/instrumentview/CMakeLists.txt
  qt/python/mantidqtinterfaces/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/TOFTOF/CMakeLists.txt
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Muon/test/CMakeLists.txt
  qt/widgets/common/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/test/CMakeLists.txt
  qt/widgets/mplcpp/CMakeLists.txt
  qt/widgets/mplcpp/test/CMakeLists.txt
  qt/widgets/plotting/CMakeLists.txt
  scripts/test/CMakeLists.txt
Labels: ISIS Team: Core

#32286 seperate indirect plot preview model
  dev-docs/source/IndirectDataAnalysisFileStructure.rst
  dev-docs/source/images/QENS/IndirectFitTabStructure.png
  dev-docs/source/images/QENS/indirectFitClassStructure.png
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/ConvFitModel.cpp
  qt/scientific_interfaces/Indirect/ConvFitModel.h
  qt/scientific_interfaces/Indirect/FqFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IIndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IIndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisConvFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisFqFitTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.cpp
  qt/scientific_interfaces/Indirect/IndirectFitAnalysisTab.h
  qt/scientific_interfaces/Indirect/IndirectFitData.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataModel.h
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitDataPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitOutput.cpp
  qt/scientific_interfaces/Indirect/IndirectFitOutput.h
  qt/scientific_interfaces/Indirect/IndirectFitOutputOptionsPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotModel.h
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotPresenter.h
  qt/scientific_interfaces/Indirect/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
  qt/scientific_interfaces/Indirect/IndirectFittingModel.h
  qt/scientific_interfaces/Indirect/IndirectFunctionBrowser/SingleFunctionTemplateBrowser.h
  qt/scientific_interfaces/Indirect/IndirectWorkspaceNames.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/FqFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitDataTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitOutputTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFitPlotPresenterTest.h
  qt/scientific_interfaces/Indirect/test/IndirectFittingModelTest.h
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#32551 ConvertSpectrumAxis' SignedInPlaneTwoTheta fix
  Framework/Algorithms/src/ConvertSpectrumAxis2.cpp
  Framework/Algorithms/test/ConvertSpectrumAxis2Test.h
  docs/source/release/v6.3.0/mantidworkbench.rst
Labels: Bug, ILL Team

#32661 Reorganise Algorithm Categories
  Framework/DataHandling/src/ExtractPolarizationEfficiencies.cpp
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectTwoPeakFit.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISPreprocess.py
  docs/source/release/v6.3.0/mantidworkbench.rst
Labels: Maintenance, Framework, ISIS Team: LSS

#32570 Remove temporary fix from conda windows developer instructions
  dev-docs/source/GettingStarted/GettingStartedCondaWindows.rst
Labels: Documentation, ISIS Team: Core, Windows Only

#32683 Initial cull of master term in relation to git
  buildconfig/Jenkins/merge-release-next.sh
  dev-docs/source/AutomatedBuildProcess.rst
  dev-docs/source/BuildingWithCMake.rst
  dev-docs/source/DataFilesForTesting.rst
  dev-docs/source/EventWorkspaceDev.rst
  dev-docs/source/GitConfig.rst
  dev-docs/source/GitWorkflow.rst
  dev-docs/source/JenkinsConfiguration.rst
  dev-docs/source/MultiThreadingInAlgorithms.rst
  dev-docs/source/PatchReleaseChecklist.rst
  dev-docs/source/ReleaseChecklist.rst
  dev-docs/source/ReviewingAPullRequest.rst
  dev-docs/source/TestingUtilities.rst
  dev-docs/source/UnitTestGoodPractice.rst
  dev-docs/source/Widgets/Plotting.rst
  dev-docs/source/WritingPerformanceTests.rst
Labels: Documentation

#32567 Add instructions for setting up CLion & conda on linux
  dev-docs/source/GettingStarted/GettingStartedCondaLinux.rst
Labels: Documentation, Linux Only

#32593 Fix bug in Integration algorithm when using IncludePartialBins
  Framework/Algorithms/inc/MantidAlgorithms/Integration.h
  Framework/Algorithms/src/Integration.cpp
  Framework/Algorithms/test/IntegrationTest.h
  docs/source/algorithms/Integration-v1.rst
  docs/source/release/v6.3.0/framework.rst
Labels: ISIS Team: Diffraction

#32668 Create new workspace creation helper and expose to python
  Framework/Algorithms/test/DiscusMultipleScatteringCorrectionTest.h
  Framework/PythonInterface/test/testhelpers/WorkspaceCreationHelper/WorkspaceCreationHelperModule.cpp
  Framework/TestHelpers/inc/MantidTestHelpers/InstrumentCreationHelper.h
  Framework/TestHelpers/inc/MantidTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/InstrumentCreationHelper.cpp
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: ISIS Team: Diffraction

#32688 Add missing calib folder to setup.py
  qt/python/mantidqtinterfaces/MANIFEST.in
Labels: ISIS Team: Core

#32637 Stop tight_layout in EngDiff Fitting tab and custom update axes position
  docs/source/release/v6.3.0/diffraction.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_toolbar.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
Labels: Diffraction, ISIS Team: Diffraction

#32693 Enable NSIS packaging of files with long path names
  buildconfig/CMake/NSIS.template.in
Labels: High Priority, Bug, ISIS Team: Core, Windows Only
