Repository mantidproject/mantid, pull requests merged in 2022-04, with the labels that each got.

#33708 Use "defaultsave.directory" for load and save in DrILL
  docs/source/release/v6.4.0/Workbench/Improvements/33708.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/presenter/DrillPresenter.py
Labels: ILL Team

#33697 Support for SANSv2 autoprocess in DrILL
  docs/source/release/v6.4.0/Workbench/New_features/33697.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/DrillAlgorithmPool.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/DrillExportModel.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/DrillModel.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/DrillSample.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/DrillTask.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/model/configurations.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/presenter/DrillPresenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/test/DrillExportModelTest.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/test/DrillModelTest.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/test/DrillSampleTest.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/test/DrillTest.py
Labels: ILL Team

#33728 Fix failing system test on conda builds
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2D_GDW20_4m_cycle_22_02.py
Labels: High Priority, SANS

#33719 Fix cans not being saved sans
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSingleReductionBase.py
  Testing/SystemTests/tests/framework/ISIS/SANS/WORKFLOWS/SANSSingleReductionTest.py
  Testing/SystemTests/tests/framework/reference/SANSSingleReduction_Scaled_HAB.nxs.md5
  docs/source/release/v6.4.0/SANS/Bugfixes/29454.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/algorithm_detail/single_execution.py
  scripts/SANS/sans/data_objects/__init__.py
  scripts/SANS/sans/data_objects/sans_workflow_algorithm_outputs.py
Labels: Bug, SANS, ISIS Team: LSS, Reported By User

#33711 New popup warning for missing periods in MA & FDA
  docs/source/release/v6.4.0/Muon/MA_FDA/New_features/32794.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/grouping_table_widget/grouping_table_widget_presenter.py
Labels: Muon, ISIS Team: Spectroscopy

#33716 Add all variations of TOML to file filter
  docs/source/release/v6.4.0/SANS/Bugfixes/33284_ext.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
Labels: Bug, macOS Only, ISIS Team: LSS, Linux Only

#33595 Implement asymmetric Pearson-VII fit function
  Framework/CurveFitting/CMakeLists.txt
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/AsymmetricPearsonVII.h
  Framework/CurveFitting/src/Functions/AsymmetricPearsonVII.cpp
  Framework/CurveFitting/test/Functions/AsymmetricPearsonVIITest.h
  docs/source/fitting/fitfunctions/AsymmetricPearsonVII.rst
  docs/source/images/AsymmetricPearsonVII.png
  docs/source/release/v6.4.0/Framework/Fit_Functions/New_features/33595_asymmetric_pearsonVII.rst
Labels: Powder

#33705 Revision of Release Note Guide for developers
  dev-docs/source/Standards/ReleaseNotesGuide.rst
Labels: Documentation, ISIS Team: Core

#33715 Updated call to file location in release script
  tools/release_generator/release.py
Labels: Documentation, ISIS Team: Core

#33745 Fix coverity scan issues relating to dynamic casts
  Framework/Algorithms/src/DiscusMultipleScatteringCorrection.cpp
Labels: ISIS Team: Diffraction

#33758 Fix release note warning preventing Windows Nightly build
  docs/source/release/v6.4.0/Workbench/New_features/33708.rst
Labels: High Priority, Documentation, ISIS Team: Core

#33712 Added new Muon Feature Flag documentation
  docs/source/interfaces/muon/Frequency Domain Analysis.rst
  docs/source/interfaces/muon/Muon Analysis 2.rst
  docs/source/interfaces/muon/feature_flags.rst
  docs/source/release/v6.4.0/Muon/MA_FDA/New_features/33712.rst
Labels: Muon, Documentation, ISIS Team: Spectroscopy

#33724 Improvements for MSlice manual test instructions
  dev-docs/source/Testing/MSlice/MSliceTestGuide.rst
  docs/source/images/compare_mslice_ws.png
  docs/source/images/compare_mslice_ws_2.png
  docs/source/images/cut_plot.png
  docs/source/images/cut_q.png
  docs/source/images/cut_with_bragg_peaks.png
  docs/source/images/flip_integration_axis.png
  docs/source/images/interactive_cuts.png
  docs/source/images/modified_slice_plot.png
  docs/source/images/mslice_jupyter_qtconsole.png
  docs/source/images/output_mslice_script.png
  docs/source/images/recoil_line_bragg_peaks.png
  docs/source/images/slice_plot.png
  docs/source/images/waterfall_cut_plot.png
Labels: Documentation, Maintenance, ISIS Team: Excitations/Vesuvio

#33753 Add Fit Script Generator to the interface menu
  docs/source/interfaces/general/Fit Script Generator.rst
  docs/source/release/v6.4.0/Workbench/New_features/32331.rst
  qt/scientific_interfaces/General/CMakeLists.txt
  qt/scientific_interfaces/General/FitScriptGenerator.cpp
  qt/scientific_interfaces/General/FitScriptGenerator.h
Labels: ISIS Team: Spectroscopy, ISIS Team: Core

#33773 Pychop fixes
  docs/source/interfaces/direct/PyChop.rst
  docs/source/release/v6.4.0/Direct_Geometry/General/Bugfixes/33773.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/Instruments.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/PyChop/PyChopGui.py
Labels: Bug, Direct Inelastic, Documentation

#33730 Add clang and LLVM openmp to macOS conda environment
  mantid-developer-osx.yml
Labels: macOS Only, ISIS Team: Core

#33743 table WS now sends a replaced signal
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/model.py
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/presenter.py
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_model.py
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_presenter.py
  qt/python/mantidqt/mantidqt/widgets/workspacedisplay/table/test/test_tableworkspacedisplay_view.py
Labels: ISIS Team: Core

#33760 Fix error when fitting a single domain from the Fit Script Generator
  Framework/Algorithms/src/GeneratePythonFitScript.cpp
  Testing/SystemTests/tests/framework/ExecuteGeneratedPythonFitScriptTest.py
  scripts/templates/GeneratePythonFitScript_PlottingMultiOutput.py.in
  scripts/templates/GeneratePythonFitScript_PlottingSingleOutput.py.in
Labels: Bug, ISIS Team: Spectroscopy, ISIS Team: Core

#33170 Remove `QT_VERSION_CHECK`'s from Indirect interfaces
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.cpp
  qt/scientific_interfaces/Indirect/IndirectFitPlotView.h
  qt/scientific_interfaces/Indirect/IndirectPlotOptionsView.cpp
  qt/scientific_interfaces/Indirect/IndirectSettings.cpp
  qt/scientific_interfaces/Indirect/IndirectSettings.h
  qt/scientific_interfaces/Indirect/IndirectSqw.cpp
  qt/scientific_interfaces/Indirect/LazyAsyncRunner.h
  qt/widgets/common/src/EditLocalParameterDialog.cpp
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Maintenance, ISIS Team: Spectroscopy

#33714 Update LookupRow Indexes in Model when Settings Change
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SavePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/IBatch.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/MockBatch.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterDisplayTest.h
Labels: Reflectometry, ISIS Team: LSS

#33770 Make Indirect Moments MVP friendly
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IndirectMoments.cpp
  qt/scientific_interfaces/Indirect/IndirectMoments.h
  qt/scientific_interfaces/Indirect/IndirectMomentsModel.cpp
  qt/scientific_interfaces/Indirect/IndirectMomentsModel.h
  qt/scientific_interfaces/Indirect/IndirectMomentsView.cpp
  qt/scientific_interfaces/Indirect/IndirectMomentsView.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/IndirectMomentsModelTest.h
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#33748 Fix SliceViewer zoom tool crash
  docs/source/release/v6.4.0/Workbench/SliceViewer/Bugfixes/33733.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/plotting/mantidfigurecanvas.py
  qt/applications/workbench/workbench/plotting/test/test_mantidfigurecanvas.py
Labels: ISIS Team: Core

#33648 Fix default processing instructions for INTER
  Framework/Reflectometry/CMakeLists.txt
  Framework/Reflectometry/inc/MantidReflectometry/ReflectometryWorkflowBase2.h
  Framework/Reflectometry/src/CreateTransmissionWorkspaceAuto2.cpp
  Framework/Reflectometry/src/ReflectometryReductionOneAuto2.cpp
  Framework/Reflectometry/src/ReflectometryReductionOneAuto3.cpp
  Framework/Reflectometry/src/ReflectometryWorkflowBase2.cpp
  Framework/Reflectometry/test/CMakeLists.txt
  Framework/Reflectometry/test/ReflectometryWorkflowBase2Test.h
  docs/source/release/v6.4.0/Reflectometry/Bugfixes/33648.rst
  instrument/INTER_Parameters.xml
  instrument/unit_testing/REFLMULTI_Definition.xml
  instrument/unit_testing/REFLMULTI_Parameters_MultiDetector_NoStop.xml
  instrument/unit_testing/REFL_Parameters_MultiDetector.xml
  instrument/unit_testing/REFL_Parameters_MultiDetector_InvalidStart.xml
  instrument/unit_testing/REFL_Parameters_MultiDetector_InvalidStop.xml
  instrument/unit_testing/REFL_Parameters_PointDetector.xml
  instrument/unit_testing/REFL_Parameters_PointDetector2Pixels.xml
  instrument/unit_testing/REFL_Parameters_PointDetector_InvalidStart.xml
  instrument/unit_testing/REFL_Parameters_PointDetector_InvalidStop.xml
Labels: Bug, Reflectometry, Framework, Patch Candidate, ISIS Team: LSS, Added during Sprint, Reported By User

#33763 Results table observer for muons
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/ADSHandler/muon_ADS_observer.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/muon_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/contexts/results_context.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/model_fitting_tab_widget/model_fitting_tab_widget.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/ElementalAnalysis2/context/context.py
  qt/python/mantidqtinterfaces/test/Muon/muon_context_test.py
Labels: ISIS Team: Spectroscopy

#33752 Add inelastic discus workflow algorithm
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SimpleShapeDiscusInelastic.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SimpleShapeDiscusInelasticTest.py
  docs/source/algorithms/DiscusMultipleScatteringCorrection-v1.rst
  docs/source/algorithms/SimpleShapeDiscusInelastic-v1.rst
  docs/source/release/v6.4.0/Indirect/Algorithms/New_features/33752_NewSimpleShapeDiscusInelasticAlgorithm.rst
Labels: ISIS Team: Diffraction

#33768 Rename User-facing Usage of Per-angle Defaults
  docs/source/images/ISISReflectometryInterface/experiment_settings_tab.png
  docs/source/interfaces/reflectometry/ISIS Reflectometry.rst
  docs/source/release/v6.4.0/Reflectometry/New_features/33604.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentWidget.ui
Labels: Reflectometry, GUI, ISIS Team: LSS

#33756 Release GIL before posting ADS notifications
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/DataServiceExporter.h
  Framework/PythonInterface/mantid/api/src/Exports/MultipleExperimentInfos.cpp
  Framework/PythonInterface/test/python/mantid/api/MultipleExperimentInfos.py
  docs/source/release/v6.4.0/Framework/Python/Bugfixes/33664.rst
  docs/source/release/v6.4.0/Reflectometry/Bugfixes/33664.rst
Labels: High Priority, Bug, Extra Attention, Patch Candidate, ISIS Team: LSS

#33762 Add Lookup Row Index to Refl View
  docs/source/release/v6.4.0/Reflectometry/New_features/33626.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/IRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/JobsViewUpdater.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/QtRunsTableView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/MockRunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterDisplayTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterProcessingTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33785 Add Clarifying Tooltip to Refl Instrument Selectors
  docs/source/release/v6.4.0/Reflectometry/New_features/33682.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTableWidget.ui
Labels: Reflectometry, GUI, ISIS Team: LSS

#33741 Fix the width of the plotting status bar for Conda builds
  docs/source/release/v6.4.0/Workbench/Bugfixes/33732.rst
  qt/python/mantidqt/mantidqt/plotting/mantid_navigation_toolbar.py
Labels: Bug, ISIS Team: Core

#33786 Fix Misleading Cell State Checking Tests
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterProcessingTest.h
Labels: Reflectometry, ISIS Team: LSS

#33784 TabulatedFunction: no segfault with WorkspaceGroup
  Framework/CurveFitting/src/Functions/TabulatedFunction.cpp
  Framework/CurveFitting/test/Functions/TabulatedFunctionTest.h
  docs/source/release/v6.4.0/Framework/Fit_Functions/Bugfixes/33782.rst
Labels: Bug, Framework, Reported By User

#33788 Allow writing the same value in WorkspaceIndex and Workspace Index fields
  docs/source/release/v6.4.0/Framework/Fit_Functions/Bugfixes/33788.rst
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Bug, GUI, Reported By User

#33800 Fix crash when group workspace is validated by ReflectometryBackgroundSubtraction
  Framework/Reflectometry/src/ReflectometryBackgroundSubtraction.cpp
  Framework/Reflectometry/test/ReflectometryBackgroundSubtractionTest.py
  docs/source/release/v6.4.0/Reflectometry/Bugfixes/33627.rst
Labels: Bug, Reflectometry, ISIS Team: LSS

#33790 Clean internal variables inside SmoothNeighbours
  Framework/Algorithms/inc/MantidAlgorithms/SmoothNeighbours.h
  Framework/Algorithms/src/SmoothNeighbours.cpp
  Framework/Algorithms/test/SmoothNeighboursTest.h
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/FakeObjects.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.4.0/Framework/Algorithms/Bugfixes/33790.rst
Labels: ISIS Team: Core
