Repository mantidproject/mantid, pull requests merged in 2022-02, with the labels that each got.

#33341 Fix inconsistent scaling of errors on fit curves by reduced chi-squared
  Framework/CurveFitting/src/IMWDomainCreator.cpp
  Framework/CurveFitting/src/TableWorkspaceDomainCreator.cpp
  Testing/Data/SystemTest/BilbyReductionExampleOutput.nxs.md5
  Testing/SystemTests/tests/framework/reference/EQSANSTransmissionDC.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.IRISMSDFit.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.OSIRISMSDFit.nxs.md5
  Testing/SystemTests/tests/framework/reference/INTERReductionResult.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpCETest.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpFickTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISISIndirectBayes_JumpTeixeiraTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQCentreNoGravSearchCentreFixed.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQCentreNoGrav_V2.nxs.md5
  Testing/SystemTests/tests/framework/reference/LOQTransFitWorkspace2D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2DWaveloops.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_wavelength_range_2.0_3.0.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_calculated_transmission_reference_LAB_can.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_LAB_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_LAB_2D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_Merged_1D.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_bottom.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_left.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_right.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS2D_ws_D20_reference_top.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANSLOQBatch.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANSZOOMTomlFileConv_m4.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANSZOOMTomlFileConv_m8.nxs.md5
  Testing/SystemTests/tests/framework/reference/SANS_TOML_Wav_Loops_ref.nxs.md5
  Testing/SystemTests/tests/framework/reference/VesuvioFittingTest.nxs.md5
  Testing/SystemTests/tests/framework/reference/ZOOM_trans_added_ref.nxs.md5
  Testing/SystemTests/tests/framework/reference/ZOOM_trans_raw_event_ref.nxs.md5
  docs/source/algorithms/Fit-v1.rst
  docs/source/images/ScipyCurveFit_Mantid_comparison_LinearFit.png
  docs/source/release/v6.3.0/33341_framework.rst
Labels: High Priority, ISIS Team: Core

#33397 Fix autoscale color axis for nonortho view of MD(Event)Workspaces in sliceviewer
  qt/python/mantidqt/mantidqt/widgets/colorbar/colorbar.py
Labels: Bug

#33408 Add normalisation factor to Integration for RebinnedOutput #33407
  Framework/Algorithms/src/Integration.cpp
  Framework/Algorithms/test/IntegrationTest.h
  docs/source/algorithms/Integration-v1.rst
  docs/source/release/v6.3.0/33408_framework.rst
Labels: Bug

#33412 Update of v6.3 release notes (Part 3)
  docs/source/release/v6.3.0/33267_indirect_geometry.rst
  docs/source/release/v6.3.0/33349_framework.rst
  docs/source/release/v6.3.0/33357_mantidworkbench.rst
  docs/source/release/v6.3.0/33362_mantidworkbench.rst
  docs/source/release/v6.3.0/33373_direct_geometry.rst
  docs/source/release/v6.3.0/33398_framework.rst
  docs/source/release/v6.3.0/33403_indirect_geometry.rst
  docs/source/release/v6.3.0/direct_geometry.rst
  docs/source/release/v6.3.0/framework.rst
  docs/source/release/v6.3.0/indirect_geometry.rst
  docs/source/release/v6.3.0/mantidworkbench.rst
Labels: Direct Inelastic, Indirect Inelastic, Documentation, Framework, ISIS Team: Spectroscopy, ISIS Team: Core

#33418 Disabled vesuvio backscattering to avoid problems in VesuvioAnalysis
  Framework/PythonInterface/plugins/algorithms/VesuvioAnalysis.py
  Framework/PythonInterface/test/python/plugins/algorithms/VesuvioAnalysisTest.py
  docs/source/release/v6.3.0/33417_indirect_geometry.rst
Labels: Bug, Reported By User, Found in Beta, ISIS Team: Excitations/Vesuvio

#33421 Add new button to Instrument View Pick tab
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.3.0/33421_mantidworkbench.rst
  images/instrumentview.qrc
  images/selection-whole.png
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: High Priority, Bug

#33425 Last SHA and release note update for MSlice
  docs/source/release/v6.3.0/mslice_last_update_for_direct_geometry.rst
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: Documentation, ISIS Team: Excitations/Vesuvio

#33430 Move Muon Model Fitting release notes to v6.4
  docs/source/release/v6.4.0/muon.rst
Labels: Muon, Documentation

#33432 Finalize pipeline deployment step
  buildconfig/Jenkins/Conda/nightly_build_and_deploy.jenkinsfile
  buildconfig/Jenkins/Conda/publish-to-anaconda
Labels: High Priority

#33427 Expand range for scale factor in ISISCalibration
  qt/scientific_interfaces/Indirect/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/ISISCalibration.ui
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#33385 Fix long mode in pearl powder diff scripts
  Testing/SystemTests/tests/framework/ISIS_PowderPearlTest.py
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-PEARL00098507_tt70Long.nxs.md5
  scripts/Diffraction/isis_powder/CMakeLists.txt
  scripts/Diffraction/isis_powder/pearl.py
  scripts/Diffraction/isis_powder/routines/instrument_settings.py
  scripts/Diffraction/isis_powder/test/ISISPowderPearlTest.py
Labels: Bug, Diffraction, ISIS Team: Diffraction

#33404 Avoid scrolling down in comboboxes of the DrILL settings
  docs/source/release/v6.4.0/mantidworkbench.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/drill/view/DrillSettingsDialog.py
Labels: Bug, ILL Team

#33290 Fix various ISIS SANS clipboard bugs
  docs/source/release/v6.4.0/sans.rst
  scripts/SANS/sans/gui_logic/models/RowEntries.py
  scripts/SANS/sans/gui_logic/models/table_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/test/SANS/gui_logic/models/test_row_entries.py
  scripts/test/SANS/gui_logic/table_model_test.py
  scripts/test/SANS/gui_logic/test_run_tab_presenter.py
Labels: Bug, SANS, ISIS Team: LSS

#33420 Update sliceviewer manual testing docs
  dev-docs/source/Testing/SliceViewer/SliceViewer.rst
  docs/source/workbench/sliceviewer.rst
Labels: Documentation, ISIS Team: Core

#33444 New definition of SALSA instrument at ILL
  instrument/Facilities.xml
  instrument/SALSA_Definition.xml
Labels: ILL Team

#33457 Added clarification in VesuvioAnalysis doc
  Framework/PythonInterface/plugins/algorithms/VesuvioAnalysis.py
Labels: Documentation, ISIS Team: Excitations/Vesuvio

#33435 Final v6.3 release notes update
  docs/source/images/conda_logo.svg
  docs/source/release/v6.3.0/33015_mantidworkbench.rst
  docs/source/release/v6.3.0/33182_mantidworkbench.rst
  docs/source/release/v6.3.0/33341_framework.rst
  docs/source/release/v6.3.0/33399_indirect_geometry.rst
  docs/source/release/v6.3.0/33408_framework.rst
  docs/source/release/v6.3.0/33417_indirect_geometry.rst
  docs/source/release/v6.3.0/33421_mantidworkbench.rst
  docs/source/release/v6.3.0/direct_geometry.rst
  docs/source/release/v6.3.0/framework.rst
  docs/source/release/v6.3.0/index.rst
  docs/source/release/v6.3.0/indirect_geometry.rst
  docs/source/release/v6.3.0/mantidworkbench.rst
  docs/source/release/v6.3.0/mslice_direct_geometry.rst
  docs/source/release/v6.3.0/mslice_last_update_for_direct_geometry.rst
  docs/source/release/v6.3.0/muon.rst
Labels: Documentation

#33236 Update SANS Testing Instructions
  dev-docs/source/Testing/SANSGUI/ISISSANSGUITests.rst
  dev-docs/source/Testing/index.rst
Labels: SANS, Documentation

#33462 Turn off instrument view loading thread
  docs/source/release/v6.3.0/mantidworkbench.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/test/InstrumentWidget/InstrumentWidgetTest.h
Labels: High Priority, Bug, Extra Attention

#33162 Shade Groups When All Sub-Rows Complete In Refl GUI
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/images/ISISReflectometryInterface/processing_table.png
  docs/source/interfaces/reflectometry/ISIS Reflectometry.rst
  docs/source/release/v6.4.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/MainWindowPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/RunsTable/RunsTablePresenter.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Group.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/IGroup.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Item.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ItemState.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ItemState.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ReductionJobs.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Row.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/RunsTable.h
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerProcessingTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerProgressBarTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerWorkspacesTest.h
  qt/scientific_interfaces/ISISReflectometry/test/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/test/Common/ClipboardTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/GroupTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/MockGroup.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/RowTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterDisplayTest.h
  qt/scientific_interfaces/ISISReflectometry/test/RunsTable/RunsTablePresenterProcessingTest.h
Labels: Reflectometry, Maintenance, ISIS Team: LSS

#33406 Add sliceviewer integration tests
  Testing/SystemTests/tests/qt/SliceViewerIntegrationTest.py
Labels: Maintenance, GUI, ISIS Team: LSS

#33476 Update version number for release 6.3
  buildconfig/CMake/VersionNumber.cmake
Labels: Extra Attention

#33433 Update accepted file types in Indirect Corrections documentaton
  docs/source/interfaces/indirect/Indirect Corrections.rst
Labels: Documentation

#33414 Fix Style Issues on macOS (Also requires non-macOS testing)
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.4.0/mantidworkbench.rst
  qt/applications/workbench/workbench/app/mainwindow.py
  qt/applications/workbench/workbench/widgets/plotselector/view.py
  qt/python/mantidqt/mantidqt/widgets/codeeditor/tab_widget/codeeditor_tab_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/main_window.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/Indirect/IndirectBayes.ui
  qt/scientific_interfaces/Indirect/IndirectCorrections.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.ui
  qt/scientific_interfaces/Indirect/IndirectDataReduction.ui
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.ui
  qt/scientific_interfaces/Indirect/IndirectInterfaceSettings.ui
  qt/scientific_interfaces/Indirect/IndirectSimulation.ui
  qt/scientific_interfaces/Indirect/IndirectTools.ui
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: Maintenance, GUI, ISIS Team: LSS

#33509 Fix non-ortho view clim autoscaling for MDHisto workspaces in sliceviewer
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  Framework/PythonInterface/mantid/plots/quad_mesh_wrapper.py
  Framework/PythonInterface/test/python/mantid/plots/CMakeLists.txt
  Framework/PythonInterface/test/python/mantid/plots/test_quad_mesh_wrapper.py
  docs/source/release/v6.4.0/mantidworkbench.rst
Labels: ISIS Team: Core

#33535 Add regex search support in lookup table
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/GroupProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRowFinder.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRowFinder.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateLookupRow.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.cpp
  qt/scientific_interfaces/ISISReflectometry/TestHelpers/ModelCreationHelper.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/LookupRowFinderTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33163 Fix Cppcheck `useInitializationList` warnings
  Framework/API/inc/MantidAPI/IPeaksWorkspace.h
  Framework/API/inc/MantidAPI/ScriptRepository.h
  Framework/API/src/AlgorithmHistory.cpp
  Framework/API/src/IMDWorkspace.cpp
  Framework/API/src/IPeaksWorkspace.cpp
  Framework/API/src/MatrixWorkspace.cpp
  Framework/API/src/ScriptRepository.cpp
  Framework/Algorithms/src/GravitySANSHelper.cpp
  Framework/Crystal/src/PeakHKLErrors.cpp
  Framework/Crystal/src/PredictPeaks.cpp
  Framework/Crystal/src/SortHKL.cpp
  Framework/Crystal/src/StatisticsOfPeaksWorkspace.cpp
  Framework/CurveFitting/src/Algorithms/ProfileChiSquared1D.cpp
  Framework/CurveFitting/src/Functions/ComptonProfile.cpp
  Framework/CurveFitting/src/Functions/SimpleChebfun.cpp
  Framework/CurveFitting/src/GSLVector.cpp
  Framework/CurveFitting/src/LatticeDomainCreator.cpp
  Framework/CurveFitting/src/SeqDomainSpectrumCreator.cpp
  Framework/DataHandling/src/SaveNXTomo.cpp
  Framework/DataObjects/inc/MantidDataObjects/BasePeak.h
  Framework/DataObjects/inc/MantidDataObjects/MDBox.tcc
  Framework/DataObjects/src/BasePeak.cpp
  Framework/DataObjects/src/LeanElasticPeak.cpp
  Framework/DataObjects/src/LeanElasticPeaksWorkspace.cpp
  Framework/DataObjects/src/Peak.cpp
  Framework/DataObjects/src/PeaksWorkspace.cpp
  Framework/Geometry/inc/MantidGeometry/Instrument/ObjCompAssembly.h
  Framework/Geometry/inc/MantidGeometry/Rendering/vtkGeometryCacheReader.h
  Framework/Geometry/inc/MantidGeometry/Rendering/vtkGeometryCacheWriter.h
  Framework/Geometry/src/Instrument/ObjCompAssembly.cpp
  Framework/Geometry/src/MDGeometry/MDGeometryXMLBuilder.cpp
  Framework/Geometry/src/Objects/CSGObject.cpp
  Framework/Geometry/src/Rendering/vtkGeometryCacheReader.cpp
  Framework/Geometry/src/Rendering/vtkGeometryCacheWriter.cpp
  Framework/ICat/test/ICatTestHelper.cpp
  Framework/ICat/test/ICatTestHelper.h
  Framework/Indexing/inc/MantidIndexing/IndexSet.h
  Framework/Kernel/src/ConfigService.cpp
  Framework/Kernel/src/EnabledWhenProperty.cpp
  Framework/Kernel/src/FilteredTimeSeriesProperty.cpp
  Framework/Kernel/src/GitHubApiHelper.cpp
  Framework/Kernel/src/InstrumentInfo.cpp
  Framework/Kernel/src/Interpolation.cpp
  Framework/Kernel/src/LiveListenerInfo.cpp
  Framework/Kernel/src/PropertyManagerOwner.cpp
  Framework/Kernel/src/StringContainsValidator.cpp
  Framework/Kernel/src/Timer.cpp
  Framework/Kernel/src/TopicInfo.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDBoxMaskFunction.h
  Framework/NexusGeometry/src/TubeBuilder.cpp
  Framework/SINQ/src/PoldiUtilities/PoldiPeakCollection.cpp
  Framework/WorkflowAlgorithms/inc/MantidWorkflowAlgorithms/EQSANSLoad.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/Common/OptionDefaults.cpp
  qt/widgets/common/src/FindFilesThreadPoolManager.cpp
  qt/widgets/instrumentview/src/DetXMLFile.cpp
  qt/widgets/instrumentview/src/UnwrappedDetector.cpp
  qt/widgets/plugins/algorithm_dialogs/src/FitDialog.cpp
Labels: Maintenance, ISIS Team: Core

#33464 Support non-orthog view for 2D MDHisto workspaces in sliceviewer
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
Labels: ISIS Team: Core

#33240 Fractional reference bin indices for correcting TOF axis
  Framework/Algorithms/inc/MantidAlgorithms/CorrectTOFAxis.h
  Framework/Algorithms/src/CorrectTOFAxis.cpp
  Framework/Algorithms/test/CorrectTOFAxisTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLApplySelfShielding.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/DirectILLCollectData.py
  Testing/Data/SystemTest/ILL_IN4_SofQW.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_IN4_SofQW.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_IN5_SofQW.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_IN5_Tweak_sqw.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILL_IN6_SofQW.nxs.md5
  docs/source/algorithms/DirectILLCollectData-v1.rst
  docs/source/release/v6.4.0/direct_geometry.rst
  docs/source/techniques/DirectILL.rst
  instrument/IN4_Parameters.xml
  instrument/IN5_Parameters.xml
  instrument/IN6_Parameters.xml
  instrument/PANTHER_Parameters.xml
  instrument/SHARP_Parameters.xml
  scripts/test/directtools/DirectToolsTest.py
Labels: Direct Inelastic, ILL Team

#33181 Remove qApplication from muon tests.
  qt/python/mantidqtinterfaces/test/Muon/corrections_tab_widget/background_corrections_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/corrections_tab_widget/corrections_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/corrections_tab_widget/dead_time_corrections_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/data_selectors/cyclic_data_selector_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/elemental_analysis_2/EA_loading_tab/elemental_analysis_loadrun_presenter_increment_decrement_test.py
  qt/python/mantidqtinterfaces/test/Muon/elemental_analysis_2/EA_loading_tab/elemental_analysis_loadrun_presenter_single_run_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/basic_fitting/basic_fitting_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/basic_fitting/fit_controls_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/basic_fitting/fit_function_options_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/general_fitting/general_fitting_options_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/general_fitting/general_fitting_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_data_selector_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/model_fitting/model_fitting_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_options_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_fitting_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/tf_asymmetry_fitting/tf_asymmetry_mode_switcher_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_file_widget/loadfile_presenter_multiple_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_file_widget/loadfile_presenter_single_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_current_run_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_increment_decrement_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_multiple_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/load_run_widget/loadrun_presenter_single_file_test.py
  qt/python/mantidqtinterfaces/test/Muon/loading_tab/loadwidget_presenter_failure_test.py
  qt/python/mantidqtinterfaces/test/Muon/loading_tab/loadwidget_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/phase_table_widget/phase_table_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/plotting_canvas/plotting_canvas_view_test.py
  qt/python/mantidqtinterfaces/test/Muon/seq_fitting_tab_widget/seq_fitting_tab_presenter_test.py
  qt/python/mantidqtinterfaces/test/Muon/utilities/thread_model_test.py
Labels: Maintenance, ISIS Team: Spectroscopy

#33547 Refactor LookupTable and LookupRowFinder into a single class
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRowFinder.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupTable.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentOptionDefaultsTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/LookupTableValidatorTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/LookupTableTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33560 Disable processing if lookup table invalid
  docs/source/release/v6.4.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/IExperimentPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#32954 Expose save_image and replace_workspace to the python api of Instrument Viewer
  docs/source/release/v6.4.0/mantidworkbench.rst
  qt/python/mantidqt/mantidqt/widgets/instrumentview/_instrumentview.sip
  qt/python/mantidqt/mantidqt/widgets/instrumentview/api.py
  qt/python/mantidqt/mantidqt/widgets/instrumentview/presenter.py
  qt/python/mantidqt/mantidqt/widgets/instrumentview/view.py
Labels: GUI

#33452 Remove change to histogram in IqtFit
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/ConvolutionFit.h
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/IqtFit.h
  Framework/CurveFitting/src/Algorithms/ConvolutionFit.cpp
  Framework/CurveFitting/src/Algorithms/IqtFit.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IqtFitSequentialTest.py
  docs/source/release/v6.4.0/indirect_geometry.rst
  qt/scientific_interfaces/Indirect/IndirectFittingModel.cpp
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#33562 Add QtCore import for QECoverage
  qt/python/mantidqtinterfaces/mantidqtinterfaces/QECoverage/QECoverageGUI.py
Labels: ISIS Team: Core

#33548 Clang tidy: Replace typdef with using decleration
  Framework/API/inc/MantidAPI/Algorithm.h
  Framework/CurveFitting/inc/MantidCurveFitting/Functions/Bk2BkExpConvPV.h
  Framework/DataHandling/src/LoadDNSEvent.cpp
  Framework/DataHandling/src/SNSAppendGeometryToNexus.cpp
  Framework/DataObjects/test/MDEventWorkspaceTest.h
  Framework/Kernel/inc/MantidKernel/Timer.h
  Framework/Kernel/inc/MantidKernel/normal_distribution.h
  Framework/Kernel/inc/MantidKernel/uniform_int_distribution.h
  Framework/LiveData/src/ISIS/DAE/isisds_command.cpp
  Framework/LiveData/src/ISIS/DAE/isisds_command.h
  Framework/LiveData/src/ISIS/FakeISISHistoDAE.cpp
  Framework/MDAlgorithms/src/SaveMD.cpp
  Framework/PythonInterface/core/src/PythonStdoutChannel.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/widgets/common/test/MockScriptRepository.h
Labels: Maintenance

#33550 Clang tidy : Implicit int to bool
  Framework/Algorithms/src/CopySample.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/Geometry/src/Objects/ShapeFactory.cpp
  Framework/Kernel/src/SetValueWhenProperty.cpp
  Framework/MDAlgorithms/src/Integrate3DEvents.cpp
Labels: Maintenance

#33545 Improvements to DiscusCalculateMultipleScatteringCorrection to support iterative process
  Framework/Algorithms/inc/MantidAlgorithms/DiscusMultipleScatteringCorrection.h
  Framework/Algorithms/src/DiscusMultipleScatteringCorrection.cpp
  Framework/Algorithms/test/DiscusMultipleScatteringCorrectionTest.h
  Framework/PythonInterface/test/testhelpers/WorkspaceCreationHelper/WorkspaceCreationHelperModule.cpp
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/InstrumentCreationHelper.h
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/InstrumentCreationHelper.cpp
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  docs/source/release/v6.4.0/framework.rst
Labels: ISIS Team: Diffraction

#33557 IN16B minor improvements
  Framework/PythonInterface/plugins/algorithms/MatchPeaks.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWS.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionQENS.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionFWSTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IndirectILLReductionQENSTest.py
  docs/source/release/v6.4.0/indirect_geometry.rst
Labels: Indirect Inelastic, ILL Team

#33571 Refactor table validation in refl gui
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/InvalidLookupRowCells.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/InvalidLookupRowCells.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupCriteriaError.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidationError.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidationError.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/LookupTableValidatorTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33572 correct tube height and midpoint in IN16B IDF
  Testing/SystemTests/tests/framework/reference/ILLIN16B_BATS.nxs.md5
  Testing/SystemTests/tests/framework/reference/ILLIN16B_BATS_equatorial.nxs.md5
  instrument/IN16BF_Definition.xml
  instrument/IN16B_Definition.xml
Labels: Indirect Inelastic, ILL Team

#33565 Add title-matcher field in the refl gui lookup table
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/images/ISISReflectometryInterface/transmission_runs.png
  docs/source/images/ISISReflectometryInterface/workflow_settings.png
  docs/source/interfaces/reflectometry/ISIS Reflectometry.rst
  docs/source/release/v6.4.0/reflectometry.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Encoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IDecoder.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentOptionDefaults.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/ExperimentWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/InvalidLookupRowCells.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/InvalidLookupRowCells.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupCriteriaError.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/LookupTableValidator.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Experiment/QtExperimentView.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupRow.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ParseReflectometryStrings.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ParseReflectometryStrings.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateLookupRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/ValidateLookupRow.h
  qt/scientific_interfaces/ISISReflectometry/test/Common/CoderCommonTester.h
  qt/scientific_interfaces/ISISReflectometry/test/Common/DecoderTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Common/EncoderTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/ExperimentPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Experiment/LookupTableValidatorTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/LookupTableTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/ParseReflectometryStringsTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/ValidateLookupRowTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33564 Add a delete old packages step to nightly pipeline prototype
  buildconfig/Jenkins/Conda/delete-old-nightlies.sh
  buildconfig/Jenkins/Conda/nightly_build_and_deploy.jenkinsfile
Labels: High Priority, ISIS Team: Core

#33592 Remove Improvements headings from release notes for v6.4
  docs/source/release/v6.4.0/Diffraction/Engineering/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Diffraction/Powder/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Diffraction/Single_Crystal/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Direct_Geometry/CrystalField/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Direct_Geometry/General/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Direct_Geometry/MSlice/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Framework/Algorithms/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Framework/Data_Objects/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Framework/Fit_Functions/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Framework/Python/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Indirect/Algorithms/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Indirect/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/ALC/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/Algorithms/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/Elemental_Analysis/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/FDA/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/MA_FDA/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Muon/Muon_Analysis/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Reflectometry/Improvements/Improvements.rst
  docs/source/release/v6.4.0/SANS/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Workbench/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Workbench/InstrumentViewer/Improvements/Improvements.rst
  docs/source/release/v6.4.0/Workbench/SliceViewer/Improvements/Improvements.rst
Labels: Documentation

#33559 Remove mantidplot calls from Indirect
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesQuasi.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MolDyn.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/PoldiDataAnalysis.py
  scripts/Inelastic/IndirectBayes.py
  scripts/Inelastic/IndirectImport.py
  scripts/Inelastic/IndirectMuscat.py
  scripts/Inelastic/IndirectNeutron.py
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Indirect Inelastic, Maintenance, ISIS Team: Spectroscopy

#33579 Developer Release Notes documentation
  .github/PULL_REQUEST_TEMPLATE.md
  dev-docs/source/Standards/ReleaseNotesGuide.rst
  dev-docs/source/Standards/index.rst
Labels: Documentation

#33599 Suppress documentation build warnings
  docs/source/conf.py
Labels: High Priority, Added during Sprint

#33581 Replace JSON Strings with Files in DecoderTest
  Testing/Data/UnitTest/ISISReflectometry/10_col_batch.json.md5
  Testing/Data/UnitTest/ISISReflectometry/8_col_batch.json.md5
  Testing/Data/UnitTest/ISISReflectometry/9_col_batch.json.md5
  Testing/Data/UnitTest/ISISReflectometry/batch.json.md5
  Testing/Data/UnitTest/ISISReflectometry/empty_batch.json.md5
  Testing/Data/UnitTest/ISISReflectometry/mainwindow.json.md5
  qt/scientific_interfaces/ISISReflectometry/test/Common/DecoderTest.h
Labels: Reflectometry, Maintenance, ISIS Team: LSS, Added during Sprint
