Repository mantidproject/mantid, pull requests merged in 2022-11, with the labels that each got.

#34634 Default to Integrate out of plane angle on ALFView
  docs/source/release/v6.6.0/Direct_Geometry/General/New_features/34626.rst
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Direct Inelastic, ISIS Team: Excitations/Vesuvio

#34614 Added button to hide plot in the plot toolbar
  docs/source/release/v6.6.0/Workbench/New_features/34050.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_toolbar.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: GUI, ISIS Team: Core

#34593 Reordered columns for the slice viewer peak viewer
  docs/source/release/v6.6.0/Workbench/SliceViewer/New_features/32119.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/view.py
Labels: GUI, ISIS Team: Core

#34623 LoadIsawPeaks fix loading modulation vectors
  Framework/Crystal/src/LoadIsawPeaks.cpp
  Framework/Crystal/test/LoadIsawPeaksTest.h
  docs/source/release/v6.6.0/Diffraction/Single_Crystal/Bugfixes/34623.rst
Labels: Bug, Diffraction, Single Crystal

#34630 Disable region selector when no graph present
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Bug, Reflectometry, GUI, ISIS Team: LSS

#34406 Remove Notebook and mantidpython
  CMakeLists.txt
  Testing/SystemTests/scripts/mantidinstaller.py
  Testing/SystemTests/scripts/systemtest.bat.in
  Testing/SystemTests/scripts/systemtest.in
  buildconfig/CMake/DarwinSetup.cmake
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/AddPythonPath.py.in
  buildconfig/CMake/Packaging/deb/scripts/deb_post_inst.in
  buildconfig/CMake/Packaging/deb/scripts/deb_pre_inst.in
  buildconfig/CMake/Packaging/deb/scripts/deb_pre_rm.in
  buildconfig/CMake/Packaging/mantidpython.bat.in
  buildconfig/CMake/Packaging/mantidpython.in
  buildconfig/CMake/Packaging/osx/mantidpython.in
  buildconfig/CMake/Packaging/rpm/scripts/rpm_post_install.sh.in
  buildconfig/CMake/Packaging/rpm/scripts/rpm_post_uninstall.sh.in
  buildconfig/CMake/Packaging/rpm/scripts/rpm_pre_install.sh.in
  buildconfig/CMake/Packaging/rpm/scripts/rpm_pre_uninstall.sh.in
  buildconfig/CMake/PyUnitTest.cmake
  buildconfig/CMake/WindowsNSIS.cmake
  buildconfig/CMake/WindowsSetup.cmake
  buildconfig/Jenkins/systemtests
  buildconfig/Jenkins/systemtests.bat
  dev-docs/source/AlgorithmMPISupport.rst
  dev-docs/source/CodeCoverage.rst
  dev-docs/source/RunningTheUnitTests.rst
  dev-docs/source/Standards/AlgorithmDocumentation.rst
  dev-docs/source/Testing/Core/Core.rst
  dev-docs/source/UserSupport.rst
  docs/CMakeLists.txt
  docs/source/algorithms/LoadEventAndCompress-v1.rst
  docs/source/interfaces/direct/MSlice.rst
  docs/source/release/v6.6.0/Framework/Python/New_features/34406.rst
  images/mantid_notebook.ico
  images/mantid_python.ico
  installers/MacInstaller/make_package.rb
  installers/conda/win/create_package.sh
  installers/conda/win/project.nsi
Labels: Framework, ISIS Team: Core, Found in Beta

#34654 Remove FunctionBrowser in ALFView
  docs/source/release/v6.6.0/Direct_Geometry/General/New_features/34654.rst
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentPresenterTest.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneModel.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneView.cpp
  qt/widgets/instrumentview/test/PlotFitAnalysisPaneModelTest.h
  qt/widgets/instrumentview/test/PlotFitAnalysisPanePresenterTest.h
Labels: Direct Inelastic, GUI, ISIS Team: Excitations/Vesuvio

#34660 Fix for marker labels detatching when panning and zooming with the mouse
  docs/source/release/v6.6.0/Workbench/Bugfixes/33907.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: GUI, ISIS Team: Core

#34664 Fix crash in FitPeaksTest
  Framework/Algorithms/src/FitPeaks.cpp
Labels: ISIS Team: Diffraction

#34613 Add ReflectometryISISCalibration algorithm
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISCalibration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISCalibrationTest.py
  Testing/Data/UnitTest/ISISReflectometry/calibration_test_data.dat.md5
Labels: Reflectometry, ISIS Team: LSS

#34675 Fix qt docs build problem
  docs/CMakeLists.txt
Labels: Documentation, ISIS Team: Diffraction

#34643 Loader for ILL's D16 old scan data
  Framework/Algorithms/src/Q1DWeighted.cpp
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Testing/Data/UnitTest/ILL/D16/025786.nxs.md5
  docs/source/algorithms/LoadILLSANS-v1.rst
  docs/source/release/v6.6.0/SANS/New_features/34643.rst
Labels: SANS, ILL Team

#34600 Overhaul documentation for configuring a Jenkins agent
  dev-docs/source/JenkinsConfiguration.rst
Labels: Maintenance

#34632 Simple scan explorer
  Framework/Properties/Mantid.properties.template
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction2.py
  docs/source/images/scan_viewer.png
  docs/source/interfaces/ILL/SimpleScanViewer.rst
  docs/source/release/v6.6.0/SANS/New_features/34632.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/lineplots.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/SimpleScanViewer.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/__init__.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/rectangle_controller.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/rectangle_plot.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/rectangle_selection.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/simplescanviewer/view.py
  qt/python/mantidqtinterfaces/test/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/RectangleControllerTest.py
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/RectanglePlotTest.py
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/SimpleScanViewerModelTest.py
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/SimpleScanViewerPresenterTest.py
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/SimpleScanViewerViewTest.py
  qt/python/mantidqtinterfaces/test/SimpleScanViewer/__init__.py
Labels: GUI, ILL Team

#34645 Add HKL to cursor info in slice viewer
  docs/source/release/v6.6.0/Workbench/SliceViewer/New_features/34645.rst
  docs/source/workbench/sliceviewer.rst
  qt/python/mantidqt/mantidqt/_common.sip
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/models/model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/imageinfowidget.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_dataview.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_imageinfowidget.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_model.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/dataview.py
  qt/widgets/common/inc/MantidQtWidgets/Common/IImageInfoWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMD.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoModelMatrixWS.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoWidget.h
  qt/widgets/common/src/ImageInfoModelMD.cpp
  qt/widgets/common/src/ImageInfoModelMatrixWS.cpp
  qt/widgets/common/src/ImageInfoPresenter.cpp
  qt/widgets/common/src/ImageInfoWidget.cpp
  qt/widgets/common/test/ImageInfoModelMDTest.h
  qt/widgets/common/test/ImageInfoModelMatrixWSTest.h
  qt/widgets/common/test/ImageInfoPresenterTest.h
Labels: Single Crystal, ISIS Team: Diffraction

#34622 Add Logbook Export Functionality to the Search Runs Widget
  docs/source/release/v6.6.0/Reflectometry/New_features/33468.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IFileHandler.h
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/MainWindow/QtMainWindowView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/IRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/ISearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtCatalogSearcher.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtRunsView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/QtSearchModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Runs/RunsWidget.ui
  qt/scientific_interfaces/ISISReflectometry/test/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/QtCatalogSearcherTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/QtSearchModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Runs/RunsPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34627 Fix a bug with preview reduction when ROI detector IDs set
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/SumBanksAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Batch/SumBanksAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/MockBatch.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34686 Remove pre-commit from CPPCheck, Doxygen, & Unit Test Builds
  buildconfig/Jenkins/Conda/conda-buildscript
  buildconfig/Jenkins/cppcheck.sh
Labels: High Priority, Bug, ISIS Team: LSS, Added during Sprint

#34678 Refactor ALFInstrumentView
  Testing/Data/UnitTest/ALF82301.raw.md5
  qt/scientific_interfaces/Direct/ALFCustomInstrumentMocks.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFCustomInstrumentView.h
  qt/scientific_interfaces/Direct/ALFInstrumentMocks.h
  qt/scientific_interfaces/Direct/ALFInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentView.h
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/ALFView.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFCustomInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentPresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/BaseCustomInstrumentView.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/BaseCustomInstrumentModel.cpp
  qt/widgets/instrumentview/src/BaseCustomInstrumentPresenter.cpp
  qt/widgets/instrumentview/src/BaseCustomInstrumentView.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/src/PlotFitAnalysisPaneView.cpp
  qt/widgets/instrumentview/test/BaseCustomInstrumentPresenterTest.h
  qt/widgets/instrumentview/test/CMakeLists.txt
  qt/widgets/instrumentview/test/PlotFitAnalysisPanePresenterTest.h
Labels: Direct Inelastic, ISIS Team: Excitations/Vesuvio

#34701 Fix crash caused by missing method on sliceviewer base presenter
  qt/python/mantidqt/mantidqt/widgets/regionselector/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/base_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_base_presenter.py
Labels: High Priority, Bug, Reflectometry, GUI, ISIS Team: LSS

#34646 Expand plotting panel on ALFView by default
  docs/source/release/v6.6.0/Direct_Geometry/General/Bugfixes/34638.rst
  qt/scientific_interfaces/Direct/ALFInstrumentView.cpp
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/MiniPlotMpl.cpp
Labels: Direct Inelastic, GUI, ISIS Team: Excitations/Vesuvio

#34674 Only add one region if ROI button clicked again
  qt/python/mantidqt/mantidqt/widgets/regionselector/presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/test/test_regionselector_presenter.py
Labels: Reflectometry, GUI, ISIS Team: LSS

#34704 Add debugging print statements for CleanFileCache
  Framework/PythonInterface/plugins/algorithms/CleanFileCache.py
  Framework/PythonInterface/test/python/plugins/algorithms/CleanFileCacheTest.py
Labels: ISIS Team: Core

#34689 Stop Multiple SANS GUIs From Being Open
  docs/source/release/v6.6.0/SANS/Bugfixes/34120.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/ISIS_SANS.py
Labels: Bug, SANS, ISIS Team: LSS

#34685 Cppcheck conda environment setup
  CMakePresets.json
  buildconfig/Jenkins/Conda/conda-cppcheck
  buildconfig/Jenkins/Conda/cppcheck.sh
Labels: ISIS Team: Core

#34661 Add Show Sample Shape to ADS right-click menu
  Framework/API/inc/MantidAPI/Sample.h
  Framework/API/src/Sample.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/PythonInterface/mantid/api/src/Exports/Sample.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/SampleEnvironment.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/images/ShowSampleShape.png
  docs/source/plotting/MeshPlotHelp.rst
  docs/source/release/v6.6.0/Workbench/New_features/34563.rst
  qt/applications/workbench/workbench/plugins/test/test_workspacewidget.py
  qt/applications/workbench/workbench/plugins/workspacewidget.py
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/_common.sip
  qt/python/mantidqt/mantidqt/plotting/sample_shape.py
  qt/python/mantidqt/mantidqt/plotting/sample_shape_ads_observer.py
  qt/python/mantidqt/mantidqt/plotting/test/test_functions.py
  qt/python/mantidqt/mantidqt/plotting/test/test_sample_shape.py
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspacePresenter/WorkspaceTreeWidgetSimple.h
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidgetSimple.cpp
Labels: ISIS Team: Diffraction

#34693 Refactor PlotFitAnalysisPane files
  qt/scientific_interfaces/Direct/ALFAnalysisMocks.h
  qt/scientific_interfaces/Direct/ALFAnalysisModel.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisModel.h
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.h
  qt/scientific_interfaces/Direct/ALFAnalysisView.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisView.h
  qt/scientific_interfaces/Direct/ALFInstrumentMocks.h
  qt/scientific_interfaces/Direct/ALFInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/ALFView.h
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/ALFAnalysisModelTest.h
  qt/scientific_interfaces/Direct/test/ALFAnalysisPresenterTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneMocks.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneModel.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPanePresenter.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/PlotFitAnalysisPaneView.h
  qt/widgets/instrumentview/src/PlotFitAnalysisPanePresenter.cpp
  qt/widgets/instrumentview/test/CMakeLists.txt
Labels: Direct Inelastic, ISIS Team: Excitations/Vesuvio

#34733 Update flake8 pre-commit URL
  .pre-commit-config.yaml
Labels: High Priority, ISIS Team: Core

#34665 Fix problem with output workspace x range in ConvolveWorkspaces
  Framework/CurveFitting/src/Algorithms/ConvolveWorkspaces.cpp
  Framework/CurveFitting/test/Algorithms/ConvolveWorkspacesTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MolDyn.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/MolDynTest.py
  docs/source/algorithms/ConvolveWorkspaces-v1.rst
  docs/source/fitting/fitfunctions/Convolution.rst
  docs/source/release/v6.6.0/Framework/Algorithms/Bugfixes/34665.rst
Labels: ISIS Team: Diffraction

#34715 Avoid overwriting output workspace during processing
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  docs/source/release/v6.6.0/Reflectometry/Bugfixes/34575.rst
Labels: Reflectometry, Framework, ISIS Team: LSS

#34690 Avoid live data stopping for transmission runs
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/release/v6.6.0/Reflectometry/Bugfixes/34574.rst
Labels: Reflectometry, Framework, ISIS Team: LSS

#34706 Add calibration as pre-processing step to ISIS Reflectometry algorithms
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISCalibration.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISPreprocess.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISCalibrationTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISLoadAndProcessTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISPreprocessTest.py
  Testing/Data/UnitTest/INTER00045455.nxs.md5
  Testing/Data/UnitTest/ISISReflectometry/calibration_test_data_INTER45455.dat.md5
Labels: Reflectometry, Framework, ISIS Team: LSS

#34662 Fix InstrumentView rebin bug
  docs/source/release/v6.6.0/Workbench/InstrumentViewer/New_features/34625.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Bug, ISIS Team: Core, ISIS Team: Excitations/Vesuvio

#34712 Fix for D16 single scan monitors loading
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
Labels: Bug, SANS, ILL Team

#34736 Fix Crash From Toolbar Buttons When Loading 1D after 2D in Refl Preview
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34694 move Elwin and Iqt tabs into Indirect Data Manipulation
  docs/source/interfaces/indirect/Indirect Data Manipulation.rst
  docs/source/interfaces/indirect/Indirect Elwin & Iqt.rst
  docs/source/interfaces/indirect/Inelastic Data Analysis.rst
  docs/source/release/v6.6.0/Indirect/New_features/33676.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.cpp
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.h
  qt/scientific_interfaces/Indirect/IndirectDataAnalysis.ui
  qt/scientific_interfaces/Indirect/IndirectDataAnalysisElwinTab.ui
  qt/scientific_interfaces/Indirect/IndirectDataManipulation.cpp
  qt/scientific_interfaces/Indirect/IndirectDataManipulation.ui
  qt/scientific_interfaces/Indirect/IndirectDataManipulationElwinTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataManipulationElwinTab.h
  qt/scientific_interfaces/Indirect/IndirectDataManipulationElwinTab.ui
  qt/scientific_interfaces/Indirect/IndirectDataManipulationIqtTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataManipulationIqtTab.h
  qt/scientific_interfaces/Indirect/IndirectDataManipulationIqtTab.ui
  qt/scientific_interfaces/Indirect/IndirectDataManipulationTab.cpp
  qt/scientific_interfaces/Indirect/IndirectDataManipulationTab.h
  qt/scientific_interfaces/Indirect/IndirectTab.h
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#34734 Display averaged two theta on ALFView
  qt/scientific_interfaces/Direct/ALFAnalysisModel.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisModel.h
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.h
  qt/scientific_interfaces/Direct/ALFAnalysisView.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisView.h
  qt/scientific_interfaces/Direct/ALFInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFInstrumentView.cpp
  qt/scientific_interfaces/Direct/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/ALFAnalysisMocks.h
  qt/scientific_interfaces/Direct/test/ALFAnalysisModelTest.h
  qt/scientific_interfaces/Direct/test/ALFAnalysisPresenterTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentMocks.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/MockDetector.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Direct Inelastic, ISIS Team: Excitations/Vesuvio

#34771 Prevented matplotlib 3.5 deprecation error with SliceViewer
  Framework/PythonInterface/mantid/plots/axesfunctions.py
  docs/source/release/v6.6.0/Workbench/SliceViewer/Bugfixes/34648.rst
Labels: Bug, ISIS Team: Core

#34765 Remove Muscat Fortran algorithms
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/MuscatSofQW.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MuscatData.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MuscatFunc.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/MuscatSofQWTest.py
  docs/source/algorithms/DiscusMultipleScatteringCorrection-v1.rst
  docs/source/algorithms/MuscatData-v1.rst
  docs/source/algorithms/MuscatFunc-v1.rst
  docs/source/algorithms/MuscatSofQW-v1.rst
  docs/source/concepts/AbsorptionAndMultipleScattering.rst
  docs/source/diagrams/MuscatSofQW-v1_wkflw.dot
  docs/source/release/v6.6.0/Framework/Algorithms/New_features/34765.rst
  scripts/Inelastic/IndirectMuscat.py
Labels: ISIS Team: Diffraction

#34768 DAT files are also accepted by UpdateInstrumentFromFile
  Framework/DataHandling/src/UpdateInstrumentFromFile.cpp
  docs/source/release/v6.6.0/Framework/Algorithms/Bugfixes/34768.rst
Labels: Documentation

#34773 Update technical release manager instructions
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation, ISIS Team: Core

#34723 SANS: Remove Log Binning for 2D Reductions
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DReductionGUI.py
  dev-docs/source/ISISSANSReductionBackend.rst
  docs/source/release/v6.6.0/SANS/Bugfixes/34572.rst
  scripts/Interface/ui/sans_isis/sans_data_processor_gui.py
  scripts/Interface/ui/sans_isis/sans_data_processor_window.ui
  scripts/SANS/ISISCommandInterface.py
  scripts/SANS/sans/algorithm_detail/convert_to_q.py
  scripts/SANS/sans/command_interface/ISISCommandInterface.py
  scripts/SANS/sans/command_interface/command_interface_state_director.py
  scripts/SANS/sans/gui_logic/models/state_gui_model.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/state/StateObjects/StateConvertToQ.py
  scripts/SANS/sans/user_file/settings_tags.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_parser.py
  scripts/SANS/sans/user_file/txt_parsers/ParsedDictConverter.py
  scripts/test/SANS/SansIsisGuiSettings.py
  scripts/test/SANS/algorithm_detail/convert_to_q_test.py
  scripts/test/SANS/command_interface/command_interface_state_director_test.py
  scripts/test/SANS/gui_logic/state_gui_model_test.py
  scripts/test/SANS/state/convert_to_q_test.py
  scripts/test/SANS/user_file/toml_parsers/toml_v1_parser_test.py
Labels: SANS, GUI, ISIS Team: LSS

#34772 Use rectangle tool to select tubes on ALFView
  qt/scientific_interfaces/Direct/ALFAnalysisModel.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisModel.h
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisPresenter.h
  qt/scientific_interfaces/Direct/ALFAnalysisView.cpp
  qt/scientific_interfaces/Direct/ALFAnalysisView.h
  qt/scientific_interfaces/Direct/ALFInstrumentModel.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentModel.h
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentPresenter.h
  qt/scientific_interfaces/Direct/ALFInstrumentView.cpp
  qt/scientific_interfaces/Direct/ALFInstrumentView.h
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Direct/test/ALFAnalysisMocks.h
  qt/scientific_interfaces/Direct/test/ALFAnalysisModelTest.h
  qt/scientific_interfaces/Direct/test/ALFAnalysisPresenterTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentMocks.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentModelTest.h
  qt/scientific_interfaces/Direct/test/ALFInstrumentPresenterTest.h
  qt/scientific_interfaces/Direct/test/CMakeLists.txt
  qt/scientific_interfaces/Direct/test/MockDetector.h
  qt/scientific_interfaces/Direct/test/MockInstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetPickTab.h
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Direct Inelastic, ISIS Team: Excitations/Vesuvio

#34785 Fix dev-docs warning
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation, ISIS Team: Core, Added during Sprint

#34762 Add support for beam profile to DiscusMultipleScatteringCorrection
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/BeamProfileFactory.h
  Framework/Algorithms/inc/MantidAlgorithms/DiscusMultipleScatteringCorrection.h
  Framework/Algorithms/inc/MantidAlgorithms/SampleCorrections/RectangularBeamProfile.h
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/src/BeamProfileFactory.cpp
  Framework/Algorithms/src/DiscusMultipleScatteringCorrection.cpp
  Framework/Algorithms/src/MonteCarloAbsorption.cpp
  Framework/Algorithms/src/SampleCorrections/MCAbsorptionStrategy.cpp
  Framework/Algorithms/test/BeamProfileFactoryTest.h
  Framework/Algorithms/test/MonteCarloAbsorptionTest.h
  docs/source/release/v6.6.0/Framework/Algorithms/New_features/34705_AddBeamProfileToDiscus.rst
Labels: ISIS Team: Diffraction

#34681 Show Detector ROIs as Ranges on the Experiment Settings Tab
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34781 Stopped SliceViewer wobbling when moving the cursor around
  docs/source/release/v6.6.0/Workbench/SliceViewer/Bugfixes/32358.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/dataview.py
Labels: GUI, ISIS Team: Core

#34717 Enable Non-axis Cuts in Non Orthogonal View
  Testing/SystemTests/tests/qt/SliceViewerIntegrationTest.py
  docs/source/release/v6.6.0/Workbench/SliceViewer/New_features/34717.rst
  docs/source/workbench/sliceviewer.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/cutviewer/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/cutviewer/representation/cut_representation.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/cutviewer/representation/test/test_cut_representation.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/models/transform.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/test/test_peaksviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_transform.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/dataview.py
Labels: Single Crystal, ISIS Team: Diffraction

#34714 Move LoadHelper from class to namespace
  Framework/DataHandling/inc/MantidDataHandling/LoadHelper.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLDiffraction.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLIndirect2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLPolarizedDiffraction.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLReflectometry.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/inc/MantidDataHandling/LoadILLTOF2.h
  Framework/DataHandling/inc/MantidDataHandling/LoadLLB.h
  Framework/DataHandling/inc/MantidDataHandling/LoadMLZ.h
  Framework/DataHandling/inc/MantidDataHandling/LoadSINQFocus.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLIndirect2.cpp
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/src/LoadILLSALSA.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/src/LoadILLTOF2.cpp
  Framework/DataHandling/src/LoadLLB.cpp
  Framework/DataHandling/src/LoadMLZ.cpp
  Framework/DataHandling/src/LoadSINQFocus.cpp
  Framework/DataHandling/src/LoadSwans.cpp
  Framework/DataHandling/test/LoadILLIndirect2Test.h
  Framework/DataHandling/test/LoadILLReflectometryTest.h
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/DataHandling/test/LoadILLTOF2Test.h
  Framework/DataHandling/test/LoadILLTest.h
Labels: Framework, ILL Team

#34747 Fix for crashes and errors on collapsing plots
  docs/source/release/v6.6.0/Workbench/Bugfixes/34549.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/view.py
  qt/scientific_interfaces/Direct/ALFView.cpp
  qt/scientific_interfaces/Indirect/InelasticDataManipulationElwinTab.ui
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/plotting/src/PreviewPlot.cpp
Labels: GUI
