Repository mantidproject/mantid, pull requests merged in 2022-07, with the labels that each got.

#34143 Fix cppcheck warnings
  Framework/API/inc/MantidAPI/IFunction.h
  Framework/API/inc/MantidAPI/ISpectrum.h
  Framework/CurveFitting/src/Algorithms/ProfileChiSquared1D.cpp
  Framework/CurveFitting/src/FuncMinimizers/FABADAMinimizer.cpp
  Framework/DataObjects/src/EventList.cpp
  Framework/Kernel/src/TimeSeriesProperty.cpp
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/ConvertCWSDMDtoHKL.h
  Framework/MDAlgorithms/inc/MantidMDAlgorithms/MDWSDescription.h
  Framework/MDAlgorithms/src/CompareMDWorkspaces.cpp
  Framework/MDAlgorithms/src/ConvertCWPDMDToSpectra.cpp
  Framework/MDAlgorithms/src/ConvertCWSDMDtoHKL.cpp
  Framework/MDAlgorithms/src/ConvertToMDMinMaxLocal.cpp
  Framework/MDAlgorithms/src/IntegrateMDHistoWorkspace.cpp
  Framework/MDAlgorithms/src/IntegratePeaksMD2.cpp
  Framework/MDAlgorithms/src/MDNorm.cpp
  Framework/MDAlgorithms/src/MDNormSCD.cpp
  Framework/MDAlgorithms/src/MDWSDescription.cpp
  Framework/MDAlgorithms/src/MDWSTransform.cpp
  Framework/MDAlgorithms/src/SmoothMD.cpp
  Framework/NexusGeometry/src/NexusGeometrySave.cpp
  Framework/PythonInterface/mantid/api/src/Exports/BinaryOperations.cpp
  Framework/PythonInterface/mantid/api/src/Exports/IPeaksWorkspace.cpp
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/JSONGeometryParserTestHelper.h
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/MuonWorkspaceCreationHelper.h
  Framework/TestHelpers/src/JSONGeometryParserTestHelper.cpp
  Framework/TestHelpers/src/MuonWorkspaceCreationHelper.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Instrument/InstrumentPresenter.cpp
  qt/scientific_interfaces/Muon/ALCDataLoadingView.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/ObserverPattern.h
  qt/widgets/common/inc/MantidQtWidgets/Common/PropertyHandler.h
  qt/widgets/common/inc/MantidQtWidgets/Common/QtSignalChannel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/WidgetScrollbarDecorator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/pqHelpWindow.h
  qt/widgets/common/src/Batch/JobTreeView.cpp
  qt/widgets/common/src/FitDomain.cpp
  qt/widgets/common/src/FitPropertyBrowser.cpp
  qt/widgets/common/src/FitScriptGeneratorModel.cpp
  qt/widgets/common/src/FunctionTreeView.cpp
  qt/widgets/common/src/MantidTreeWidget.cpp
  qt/widgets/common/src/QtPropertyBrowser/qtpropertymanager.cpp
  qt/widgets/common/src/WidgetScrollbarDecorator.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
  qt/widgets/instrumentview/src/Projection3D.cpp
  qt/widgets/plotting/src/Mpl/ContourPreviewPlot.cpp
  qt/widgets/plotting/src/Mpl/PreviewPlot.cpp
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/FitDialog.h
  qt/widgets/plugins/algorithm_dialogs/inc/MantidQtWidgets/Plugins/AlgorithmDialogs/SampleShapeHelpers.h
  qt/widgets/plugins/algorithm_dialogs/src/FitDialog.cpp
  qt/widgets/plugins/algorithm_dialogs/src/LoadDialog.cpp
  qt/widgets/plugins/algorithm_dialogs/src/PlotAsymmetryByLogValueDialog.cpp
  qt/widgets/plugins/algorithm_dialogs/src/SampleShapeHelpers.cpp
Labels: Maintenance, ISIS Team: Core

#34156 Add IDAaaS to list of release announcements
  dev-docs/source/ReleaseChecklist.rst
Labels: ISIS Team: Core

#33538 Add PaalmanPings to Polaris Total Scattering
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/SetSampleTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ApplyPaalmanPingsCorrection.py
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS98533_FocusMayers.nxs.md5
  Testing/SystemTests/tests/framework/reference/ISIS_Powder-POLARIS98533_FocusPaalmanPings.nxs.md5
  docs/source/release/v6.5.0/Diffraction/Powder/New_features/33538.rst
  docs/source/release/v6.5.0/Framework/Algorithms/Bugfixes/33538_ApplyPaalmanPings.rst
  docs/source/release/v6.5.0/Framework/Algorithms/Bugfixes/33538_SetSample.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  docs/source/techniques/ISISPowder-SampleDetails-v1.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/gem_routines/gem_param_mapping.py
  scripts/Diffraction/isis_powder/hrpd_routines/hrpd_param_mapping.py
  scripts/Diffraction/isis_powder/pearl_routines/pearl_param_mapping.py
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
  scripts/Diffraction/isis_powder/routines/absorb_corrections.py
  scripts/Diffraction/isis_powder/routines/common.py
  scripts/Diffraction/isis_powder/routines/common_enums.py
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/Diffraction/isis_powder/routines/sample_details.py
  scripts/Diffraction/isis_powder/test/ISISPowderCommonTest.py
  scripts/Diffraction/isis_powder/test/ISISPowderSampleDetailsTest.py
Labels: Powder, ISIS Team: Diffraction

#33766 SANSILL: Input information metadata
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLCommon.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLMultiProcess.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction2.py
  docs/source/release/v6.5.0/SANS/New_features/33764.rst
  instrument/D11B_Parameters.xml
  instrument/D11_Parameters.xml
  instrument/D22B_Parameters.xml
  instrument/D22_Parameters.xml
  instrument/D33_Parameters.xml
Labels: ILL Team

#34041 Stop SliceViewer stacking delayed refreshes
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/view.py
Labels: ISIS Team: Excitations/Vesuvio

#34031 Fix problems with LoadAllLogs feature in LoadEventNexus
  Framework/DataHandling/inc/MantidDataHandling/LoadHelper.h
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadHelper.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.5.0/Framework/Algorithms/Bugfixes/34025_FixErrorOnUsingLoadAllLogs.rst
Labels: ISIS Team: Diffraction

#34173 Add a toolbar button for rectangle selection on Preview tab
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/widgets/regionselector/presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/test/test_presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/test/test_regionselector_presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/view.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/dataview.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/RegionSelectorInterface.py
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
  qt/widgets/regionselector/CMakeLists.txt
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/IRegionSelector.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/RegionSelector.h
  qt/widgets/regionselector/src/RegionSelector.cpp
  qt/widgets/regionselector/test/MockRegionSelector.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34164 Loader for new D16 data
  Framework/DataHandling/inc/MantidDataHandling/LoadILLSANS.h
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/test/LoadILLSANSTest.h
  Framework/DataHandling/test/LoadILLTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLParameterScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANSILLReduction2.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLParameterScanTest.py
  Testing/Data/UnitTest/ILL/D16/066321.nxs.md5
  docs/source/algorithms/LoadILLSANS-v1.rst
  docs/source/algorithms/SANSILLParameterScan-v1.rst
  docs/source/release/v6.5.0/SANS/New_features/34164.rst
  instrument/D16B_Definition.xml
  instrument/D16B_Parameters.xml
  instrument/D16_Parameters.xml
  instrument/Facilities.xml
Labels: SANS, ILL Team

#34184 Change sum-banks algorithm to include monitors
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISSumBanks.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ReflectometryISISSumBanksTest.py
  Testing/SystemTests/tests/framework/reference/INTER45455_SummedX.nxs.md5
  Testing/SystemTests/tests/framework/reference/INTER45455_SummedX_All.nxs.md5
Labels: Reflectometry, Framework, ISIS Team: LSS

#34155 Activate the mantid developer conda environment
  buildconfig/windows/command-prompt.bat.in
Labels: ISIS Team: Core, Windows Only

#34179 Fix Time Slicing Settings Being Incorrect After Loading a Batch
  docs/source/release/v6.5.0/Reflectometry/Bugfixes/34128_time_slicing.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/Decoder.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Event/EventPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/test/Event/EventPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34185 Add reduction algorithm to refl algorithm factory
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/AlgorithmProperties.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IReflAlgorithmFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/ReflAlgorithmFactory.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/ReflAlgorithmFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerProcessingTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/GroupProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/MockReflAlgorithmFactory.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowProcessingAlgorithmTest.h
Labels: Reflectometry, Framework, GUI, ISIS Team: LSS

#34172 Improve Instrumentview startup speed
  docs/source/release/v6.5.0/Workbench/InstrumentViewer/Bugfixes/34172.rst
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
Labels: Bug, ISIS Team: Core

#34186 Perform reduction on refl GUI when ROI changed
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/PreviewRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/PreviewRow.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewJobManagerTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/ReflMockObjects.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/IRegionSelector.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/RegionSelector.h
  qt/widgets/regionselector/src/RegionSelector.cpp
  qt/widgets/regionselector/test/MockRegionSelector.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34161 Fix Algorithm Dialog Crashes
  Framework/Algorithms/src/CalculateDynamicRange.cpp
  Framework/Algorithms/src/CopyDataRange.cpp
  Framework/Algorithms/src/CreateEPP.cpp
  Framework/Algorithms/src/CropToComponent.cpp
  Framework/Algorithms/src/GetDetectorOffsets.cpp
  Framework/Algorithms/src/LorentzCorrection.cpp
  Framework/Algorithms/src/MaskBinsIf.cpp
  Framework/Algorithms/src/MaskNonOverlappingBins.cpp
  Framework/Algorithms/src/Stitch1D.cpp
  Framework/Algorithms/src/XrayAbsorptionCorrection.cpp
  Framework/Crystal/src/AnvredCorrection.cpp
  Framework/MDAlgorithms/src/SetMDFrame.cpp
  Framework/Muon/src/MuonPairingAsymmetry.cpp
  Framework/PythonInterface/plugins/algorithms/CylinderPaalmanPingsCorrection2.py
  Framework/PythonInterface/plugins/algorithms/EnggEstimateFocussedBackground.py
  Framework/PythonInterface/plugins/algorithms/HB2AReduce.py
  Framework/PythonInterface/plugins/algorithms/HB3APredictPeaks.py
  Framework/PythonInterface/plugins/algorithms/MaskAngle.py
  Framework/PythonInterface/plugins/algorithms/PDConvertRealSpace.py
  Framework/PythonInterface/plugins/algorithms/RebinRagged.py
  Framework/PythonInterface/plugins/algorithms/Symmetrise.py
  Framework/PythonInterface/plugins/algorithms/TOFTOFCropWorkspace.py
  Framework/PythonInterface/plugins/algorithms/VesuvioResolution.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/FlatPlatePaalmanPingsCorrection.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MSDFit.py
  Testing/SystemTests/tests/qt/AlgorithmDialogsMDWorkspaceStartupTest.py
  Testing/SystemTests/tests/qt/AlgorithmDialogsMatrixWorkspaceStartupTest.py
  Testing/SystemTests/tests/qt/AlgorithmDialogsStartupTestBase.py
  Testing/SystemTests/tests/qt/AlgorithmDialogsTableWorkspaceStartupTest.py
  Testing/SystemTests/tests/qt/AlgorithmDialogsWorkspaceGroupStartupTest.py
  docs/source/release/v6.5.0/Workbench/Bugfixes/34114.rst
Labels: Bug, ISIS Team: Core

#34147 Fixing logic for V1/V2 versions of IntegrateEllipsoids
  Framework/MDAlgorithms/src/IntegrateEllipsoids.cpp
  Framework/MDAlgorithms/src/IntegrateEllipsoidsV2.cpp
  Framework/MDAlgorithms/test/IntegrateEllipsoidsTest.h
  Testing/SystemTests/tests/framework/IntegrateEllipsoidsTest.py
  docs/source/release/v6.5.0/Diffraction/Single_Crystal/Bugfixes/34147.rst
Labels: Diffraction, Single Crystal

#34199 Correction to Indirect spectrum numbers in Data Reduction when grouped
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferTest.py
  docs/source/release/v6.5.0/Indirect/Bugfixes/34183.rst
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy

#34198 GenerateLogbook: exception fixes
  Framework/PythonInterface/plugins/algorithms/GenerateLogbook.py
  docs/source/release/v6.5.0/Framework/Algorithms/Bugfixes/34091.rst
Labels: Bug, Framework, ILL Team

#34188 Plot reduced workspace on refl gui preview tab
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPlotPresenter.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Plot.h
  qt/widgets/mplcpp/src/Plot.cpp
  qt/widgets/plotting/CMakeLists.txt
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PlotWidget/IPlotView.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PlotWidget/PlotModel.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PlotWidget/PlotPresenter.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PlotWidget/QtPlotView.h
  qt/widgets/plotting/src/PlotWidget/PlotModel.cpp
  qt/widgets/plotting/src/PlotWidget/PlotPresenter.cpp
  qt/widgets/plotting/src/PlotWidget/QtPlotView.cpp
  qt/widgets/plotting/test/PlotWidget/MockPlotModel.h
  qt/widgets/plotting/test/PlotWidget/MockPlotView.h
  qt/widgets/plotting/test/PlotWidget/PlotModelTest.h
  qt/widgets/plotting/test/PlotWidget/PlotPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34218 Look up preview reduction settings by angle
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Batch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/Experiment.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/IBatch.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupTable.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/LookupTable.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/LookupTableTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Reduction/MockBatch.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34201 String logs appear as strings on Model Analysis plots
  docs/source/release/v6.5.0/Muon/MA_FDA/Bugfixes/33012.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/model_fitting/model_fitting_model.py
Labels: Bug, Muon, ISIS Team: Spectroscopy

#34219 Set default angle on preview tab
  Framework/Reflectometry/inc/MantidReflectometry/ReflectometryWorkflowBase2.h
  Framework/Reflectometry/src/ReflectometryWorkflowBase2.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#33942 pelican crystal processing algorithm (no ticket)
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/PelicanCrystalProcessing.py
  Testing/SystemTests/tests/framework/PelicanCrystalProcessingTest.py
  docs/source/algorithms/PelicanCrystalProcessing-v1.rst
  docs/source/release/v6.5.0/Direct_Geometry/CrystalField/New_features/33942.rst
Labels: ANSTO Team

#34221 Ensure that all spectrum in Indirect Detector Table start at 1
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferTest.py
  docs/source/release/v6.5.0/Indirect/Bugfixes/34183.rst
Labels: Indirect Inelastic, ISIS Team: Spectroscopy

#34222 Fix preview reduction crash when batch processing at same time
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/BatchPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/IBatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/QtBatchView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/IJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/QtJobRunner.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Common/QtJobRunner.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewJobManager.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewJobManager.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenterFactory.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/MockBatchView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewJobManagerTest.h
Labels: Reflectometry, GUI, ISIS Team: LSS

#34225 Fix Sliceviewer Autoscaling not respected
  docs/source/release/v6.5.0/Workbench/SliceViewer/Bugfixes/34225.rst
  qt/python/mantidqt/mantidqt/widgets/colorbar/colorbar.py
  qt/python/mantidqt/mantidqt/widgets/colorbar/test/test_colorbar.py
Labels: Bug, ISIS Team: Core

#34208 Add `--single-process` argument to workbench commandline arguments
  dev-docs/source/PyCharm.rst
  qt/applications/workbench/CMakeLists.txt
  qt/applications/workbench/workbench/app/main.py
  qt/applications/workbench/workbench/app/start.py
Labels: ISIS Team: Core

#34206 Crystal Field GOFit fitting
  Framework/PythonInterface/mantid/fitfunctions.py
  docs/source/interfaces/direct/Crystal Field Python Interface.rst
  docs/source/release/v6.5.0/Direct_Geometry/CrystalField/New_features/33864.rst
  scripts/Inelastic/CrystalField/fitting.py
Labels: ISIS Team: Excitations/Vesuvio

#34228 Reflectometry Preview tab Edit ROI
  qt/python/mantidqt/mantidqt/widgets/regionselector/presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/test/test_regionselector_presenter.py
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/IRegionSelector.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/RegionSelector.h
  qt/widgets/regionselector/src/RegionSelector.cpp
  qt/widgets/regionselector/test/MockRegionSelector.h
Labels: Reflectometry, ISIS Team: LSS

#34229 Validate Sample and Corrections provided in ApplyAbsorptionCorrections
  docs/source/release/v6.5.0/Indirect/Bugfixes/34117.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy, Absorption Corrections

#34224 Revise error message for Total Scattering do_van_normalisation
  docs/source/release/v6.5.0/Diffraction/Powder/Bugfixes/33552.rst
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
Labels: Bug, ISIS Team: Diffraction, Total Scattering

#34211 Add G_k(r) type to PDFFourierTransform2
  Framework/Algorithms/inc/MantidAlgorithms/PDFFourierTransform2.h
  Framework/Algorithms/src/PDFFourierTransform2.cpp
  Framework/Algorithms/test/PDFFourierTransform2Test.h
  docs/source/algorithms/PDFFourierTransform-v2.rst
  docs/source/release/v6.5.0/Diffraction/Powder/New_features/34014.rst
  scripts/Diffraction/isis_powder/polaris.py
Labels: Powder, ISIS Team: Diffraction

#34233 Allow Multiple ROI types in Reflectometry
  qt/python/mantidqt/mantidqt/widgets/regionselector/presenter.py
  qt/python/mantidqt/mantidqt/widgets/regionselector/test/test_regionselector_presenter.py
  qt/scientific_interfaces/ISISReflectometry/GUI/Batch/RowProcessingAlgorithm.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/CMakeLists.txt
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/IPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewPresenter.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/PreviewWidget.ui
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.cpp
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/QtPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/GUI/Preview/ROIType.h
  qt/scientific_interfaces/ISISReflectometry/Reduction/PreviewRow.cpp
  qt/scientific_interfaces/ISISReflectometry/Reduction/PreviewRow.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/RowProcessingAlgorithmTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewModel.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/MockPreviewView.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewModelTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Preview/PreviewPresenterTest.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/IRegionSelector.h
  qt/widgets/regionselector/inc/MantidQtWidgets/RegionSelector/RegionSelector.h
  qt/widgets/regionselector/src/RegionSelector.cpp
  qt/widgets/regionselector/test/MockRegionSelector.h
Labels: Reflectometry, ISIS Team: LSS

#34231 Exclude banks from Total scattering merge banks
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/MatchAndMergeWorkspaces.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/MatchAndMergeWorkspacesTest.py
  docs/source/release/v6.5.0/Diffraction/Powder/New_features/33830.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
Labels: ISIS Team: Diffraction

#34193 Add absolute normalisation to POLARIS powder diffraction scripts
  Framework/Algorithms/src/CalculatePlaczekSelfScattering.cpp
  Framework/Algorithms/src/SampleCorrections/MayersSampleCorrection.cpp
  Framework/DataHandling/src/ReadMaterial.cpp
  Framework/DataHandling/src/SetSample.cpp
  Framework/DataHandling/test/ReadMaterialTest.h
  Framework/DataHandling/test/SetSampleTest.h
  Framework/Kernel/src/MaterialBuilder.cpp
  Framework/Kernel/test/MaterialBuilderTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TotScatCalculateSelfScattering.py
  Testing/Data/SystemTest/ISIS_Powder/input/ISIS_Powder-POLARIS98533_TotalScatteringInput.nxs.md5
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  docs/source/concepts/Materials.rst
  docs/source/release/v6.5.0/Diffraction/Powder/New_features/34193 Absolute Normalization.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  docs/source/techniques/ISISPowder-SampleDetails-v1.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_advanced_config.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
  scripts/Diffraction/isis_powder/routines/common_enums.py
  scripts/Diffraction/isis_powder/routines/focus.py
  scripts/Diffraction/isis_powder/routines/sample_details.py
  scripts/Diffraction/isis_powder/test/ISISPowderSampleDetailsTest.py
Labels: ISIS Team: Diffraction

#34234 Delete old GitHub nightly packages
  buildconfig/Jenkins/Conda/nightly_build_and_deploy.jenkinsfile
  buildconfig/Jenkins/Conda/publish-to-github
Labels: ISIS Team: Core
