Repository mantidproject/mantid, pull requests merged in 2023-12, with the labels that each got.

#36426 Load data as group option for DataSelector
  Framework/API/inc/MantidAPI/AnalysisDataService.h
  Framework/API/src/AnalysisDataService.cpp
  Framework/API/test/AnalysisDataServiceTest.h
  Framework/Algorithms/inc/MantidAlgorithms/GroupWorkspaces.h
  Framework/Algorithms/src/GroupWorkspaces.cpp
  Framework/Algorithms/test/GroupWorkspacesTest.h
  docs/source/release/v6.9.0/Framework/Algorithms/New_features/36426.rst
  docs/source/release/v6.9.0/Indirect/Bugfixes/36410.rst
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/src/DataSelector.cpp
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy

#36478 Sqw Presenter is no longer QObject and View is passed to constructor
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Manipulation/ISqwView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulation.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulation.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTabView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationTab.h
Labels: Maintenance, ISIS Team: Spectroscopy, Inelastic

#36499 Unpin Boa
  buildconfig/Jenkins/Conda/package-conda
Labels: Maintenance, ISIS Team: Core

#36368 If StoreInADS False then set OutputWorkspace property optional
  Framework/API/CMakeLists.txt
  Framework/API/inc/MantidAPI/IWorkspaceProperty.h
  Framework/API/inc/MantidAPI/WorkspaceProperty.h
  Framework/API/inc/MantidAPI/WorkspaceProperty.tcc
  Framework/API/inc/MantidAPI/WorkspacePropertyUtils.h
  Framework/API/src/Algorithm.cpp
  Framework/API/src/WorkspacePropertyUtils.cpp
  Framework/API/test/WorkspacePropertyUtilsTest.h
  docs/source/release/v6.9.0/Framework/Algorithms/New_features/36368.rst
Labels: ISIS Team: Core

#36480 Improves usage of symmetrise tab in Data Manipulation Interface.
  docs/source/interfaces/inelastic/Inelastic Data Manipulation.rst
  docs/source/release/v6.9.0/Inelastic/New_features/36480.rst
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabView.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PreviewPlot.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/SingleSelector.h
  qt/widgets/plotting/src/PreviewPlot.cpp
  qt/widgets/plotting/src/SingleSelector.cpp
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy

#36352 Add FindPeaksConvolve algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/FindPeaksConvolve.h
  Framework/Algorithms/src/FindPeaksConvolve.cpp
  Framework/Algorithms/test/FindPeaksConvolveTest.h
  Testing/Data/UnitTest/VesuvioCalibSpec177.nxs.md5
  docs/source/algorithms/FindPeaksConvolve-v1.rst
Labels: Diffraction, ISIS Team: Spectroscopy, ISIS Team: Excitations/Vesuvio

#36452 Fixed a connection warning in the Iqt Tab of Data Manipulation interface.
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTabView.cpp
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy

#36497 Add background estimation to PEARLTransfit and option to manually specify them
  Framework/PythonInterface/plugins/algorithms/PEARLTransfit.py
  Framework/PythonInterface/test/python/plugins/algorithms/PEARLTransfitTest.py
  docs/source/release/v6.9.0/Diffraction/Powder/New_features/36497.rst
Labels: Diffraction, Powder, ISIS Team: Diffraction, Added during Sprint

#36473 Fix Slice Viewer spin box for peaks when outside of data range
  Testing/SystemTests/tests/qt/SliceViewerIntegrationTest.py
  docs/source/release/v6.9.0/Workbench/SliceViewer/Bugfixes/33952.rst
  qt/python/mantidqt/CMakeLists.txt
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_dimensionwidget.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/views/dimensionwidget.py
Labels: Bug, ISIS Team: Core

#36511 Fix mpl deprecation warning from the slice viewer
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/peaksviewer/representation/painter.py
Labels: Maintenance, ISIS Team: Core

#36470 Improve SANS Manual Testing Documentation
  dev-docs/source/Testing/SANSGUI/ISISSANSGUITests.rst
Labels: SANS, Documentation, ISIS Team: LSS

#36512 Fix order of output spectra in VesuvioCalculateGammaBackground
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/VesuvioCalculateGammaBackground.h
  docs/source/release/v6.9.0/Inelastic/Algorithms/Bugfixes/36512.rst
Labels: ISIS Team: Excitations/Vesuvio

#36016 Monitor for external changes to script file
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.9.0/Workbench/New_features/34981.rst
  qt/python/mantidqt/mantidqt/_common.sip
  qt/python/mantidqt/mantidqt/widgets/codeeditor/interpreter.py
  qt/python/mantidqt/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/mantidqt/widgets/codeeditor/test/test_multifileinterpreter.py
  qt/widgets/common/inc/MantidQtWidgets/Common/ScriptEditor.h
  qt/widgets/common/src/ScriptEditor.cpp
Labels: ISIS Team: Core

#36472 Fix miscalculated Debye-Waller factor in ComputeIncoherentDos.py
  Framework/PythonInterface/plugins/algorithms/ComputeIncoherentDOS.py
  Framework/PythonInterface/test/python/plugins/algorithms/ComputeIncoherentDOSTest.py
  docs/source/algorithms/ComputeIncoherentDOS-v1.rst
  docs/source/release/v6.9.0/Framework/Algorithms/Bugfixes/36306.rst
Labels: Bug, ISIS Team: Core

#36514 Fix Slice Viewer error on changing support for nonorthogonal axes
  docs/source/release/v6.9.0/Workbench/SliceViewer/Bugfixes/36467.rst
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/presenter.py
Labels: Bug, ISIS Team: Core

#36508 Moments presenter is no longer QObject and View is passed to constructor.
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Manipulation/IMomentsView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulation.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationMomentsTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationMomentsTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationMomentsTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationMomentsTabView.h
Labels: Indirect Inelastic, Maintenance, ISIS Team: Spectroscopy

#36522 Unpin pre-commit
  mantid-developer-win.yml
Labels: ISIS Team: Core, Added during Sprint

#36519 Fix for load dialog expanding off the bottom of the screen
  docs/source/release/v6.9.0/Workbench/Bugfixes/34977.rst
  qt/widgets/plugins/algorithm_dialogs/src/LoadDialog.cpp
Labels: Bug, ISIS Team: Core

#36210 Make user docs for ISIS single-crystal diffraction reduction
  Testing/SystemTests/tests/framework/ISIS_WISHSingleCrystalReduction.py
  docs/source/release/v6.9.0/Diffraction/Single_Crystal/Bugfixes/36210.rst
  docs/source/release/v6.9.0/Diffraction/Single_Crystal/New_features/36210.rst
  docs/source/techniques/ISIS_SingleCrystalDiffraction_Workflow.rst
  scripts/Diffraction/single_crystal/base_sx.py
  scripts/Diffraction/single_crystal/sxd.py
  scripts/Diffraction/single_crystal/test/test_sxd.py
  scripts/Diffraction/wish/wishSX.py
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#36509 36503 resolving fit properties out of sync behaviour in EngDiff fitting tab
  docs/source/release/v6.9.0/Diffraction/Engineering/Bugfixes/36503.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_model.py
  qt/widgets/common/src/FitPropertyBrowser.cpp
Labels: Bug, Diffraction

#36445 Unsquish widgets on the Indirect/Inelastic GUI's
  docs/source/release/v6.9.0/Indirect/Bugfixes/36382.rst
  docs/source/release/v6.9.0/Inelastic/Bugfixes/36382.rst
  qt/scientific_interfaces/Indirect/AbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Indirect/CalculatePaalmanPings.ui
  qt/scientific_interfaces/Indirect/ContainerSubtraction.ui
  qt/scientific_interfaces/Indirect/DensityOfStates.ui
  qt/scientific_interfaces/Indirect/ISISCalibration.ui
  qt/scientific_interfaces/Indirect/ISISDiagnostics.ui
  qt/scientific_interfaces/Indirect/IndirectDiffractionReduction.ui
  qt/scientific_interfaces/Indirect/IndirectInstrumentConfig.ui
  qt/scientific_interfaces/Indirect/IndirectMolDyn.ui
  qt/scientific_interfaces/Indirect/IndirectPlotOptions.ui
  qt/scientific_interfaces/Indirect/IndirectSassena.ui
  qt/scientific_interfaces/Indirect/IndirectTransmission.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTab.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationMomentsTab.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTab.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTab.ui
Labels: Bug, GUI, ISIS Team: Spectroscopy, Inelastic

#36500 Fix IqtFit and ConvFit error when changing plotted spectrum
  docs/source/release/v6.9.0/Inelastic/Bugfixes/36496.rst
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplateBrowser.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectDataAnalysisTab.cpp
Labels: ISIS Team: Spectroscopy, Inelastic

#36540 Fix shadow variable cppcheck warning
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.cpp
Labels: High Priority, ISIS Team: Spectroscopy

#36510 IndirectFitOutputOptionsPresenter no longer a QObject
  qt/scientific_interfaces/Inelastic/Analysis/IIndirectFitOutputOptionsView.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectDataAnalysisTab.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IndirectDataAnalysisTab.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectEditResultsDialog.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IndirectEditResultsDialog.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitOutputOptionsPresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitOutputOptionsPresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitOutputOptionsView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitOutputOptionsView.h
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/IndirectFitOutputOptionsPresenterTest.h
Labels: Maintenance, ISIS Team: Spectroscopy, Inelastic

#36544 Pin conda-build in package-conda environment to avoid massive logs
  buildconfig/Jenkins/Conda/package-conda
Labels: High Priority, ISIS Team: Core, DevOps

#36539 Populate instrument parameters in AddSampleLog - take 2
  Framework/Algorithms/src/AddSampleLog.cpp
  Framework/Algorithms/test/AddSampleLogTest.h
  docs/source/release/v6.9.0/Diffraction/Engineering/New_features/36524.rst
Labels: Diffraction, Powder

#36542 Change information message to warning in ConvertUnits
  Framework/Algorithms/src/ConvertAxisByFormula.cpp
  Framework/Algorithms/src/ConvertUnits.cpp
  docs/source/release/v6.9.0/Framework/Algorithms/Bugfixes/34256.rst
Labels: Framework, ISIS Team: Core

#36546 Clean up Instrument View controllers before replacing them
  docs/source/release/v6.9.0/Workbench/InstrumentViewer/Bugfixes/36262.rst
  qt/widgets/instrumentview/src/InstrumentWidgetPickTab.cpp
Labels: Bug, ISIS Team: Core

#36529 Symmetrise presenter is no longer QObject and View is passed to constructor.
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Manipulation/ISymmetriseView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulation.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSymmetriseTabView.h
  qt/scientific_interfaces/Inelastic/test/InelasticDataManipulationSymmetriseTabModelTest.h
Labels: Indirect Inelastic, Maintenance, ISIS Team: Spectroscopy

#36385 Support for legacy file format in DNS Reduction GUI
  docs/source/release/v6.9.0/Direct_Geometry/DNS_Reduction/Bugfixes/.gitkeep
  docs/source/release/v6.9.0/Direct_Geometry/DNS_Reduction/Bugfixes/36385.rst
  docs/source/release/v6.9.0/Direct_Geometry/DNS_Reduction/New_features/.gitkeep
  docs/source/release/v6.9.0/direct_geometry.rst
  instrument/DNS_Parameters.xml
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_elastic/data_structures/dns_elastic_powder_dataset.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_elastic/scripts/md_powder_elastic.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/data_structures/dns_file.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/data_structures/dns_tof_powder_dataset.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/file_selector/file_selector_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/file_selector/file_selector_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/file_selector/file_selector_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/helpers/file_processing.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/helpers/helpers_for_testing.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/paths/path_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/paths/path_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/paths/path_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/script_generator/tof_powder_script_generator_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/scripts/md_powder_tof.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_powder_tof/xml_dump/xml_dump_model.py
  qt/python/mantidqtinterfaces/test/dns_powder_elastic/data_structures/dns_elastic_powder_dataset_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_elastic/scripts/md_powder_elastic_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/CMakeLists.txt
  qt/python/mantidqtinterfaces/test/dns_powder_tof/data_structures/dns_file_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/data_structures/dns_tof_powder_dataset_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/file_selector/file_selector_model_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/file_selector/file_selector_presenter_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/helpers/file_processing_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/helpers/list_range_converters_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/paths/path_model_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/paths/path_presenter_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/scripts/dnstof_test.py
  qt/python/mantidqtinterfaces/test/dns_powder_tof/scripts/md_powder_tof_test.py
Labels: GUI, MLZ Team

#36414 UI elements for Single Crystal Elastic mode of DNS Reduction GUI
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_single_crystal_elastic/options/elastic_single_crystal_options.ui
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_single_crystal_elastic/plot/dialogs/dxdy.ui
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_single_crystal_elastic/plot/dialogs/omega_offset.ui
  qt/python/mantidqtinterfaces/mantidqtinterfaces/dns_single_crystal_elastic/plot/elastic_single_crystal_plot.ui
Labels: GUI, MLZ Team

#36553 Disable unused WorkspaceIndex attribute for Q dependent functions
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.9.0/Inelastic/Bugfixes/29886.rst
  qt/widgets/common/src/FunctionTreeView.cpp
Labels: ISIS Team: Spectroscopy, Inelastic

#36560 Contour Plot Widget in S(Q, w) tab of Data Manipulation Interface updates plot limits correctly.
  docs/source/release/v6.9.0/Inelastic/Bugfixes/36490.rst
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTabView.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/ContourPreviewPlot.h
  qt/widgets/plotting/src/ContourPreviewPlot.cpp
Labels: Bug, Indirect Inelastic, ISIS Team: Spectroscopy

#36562 Remove cmake code that breaks pre-commit on Windows
  buildconfig/CMake/CommonSetup.cmake
Labels: High Priority, Bug, ISIS Team: Core, Windows Only

#36440 Add documentation for Single Crystal Elastic mode of DNS_Reduction GUI
  docs/source/images/DNS_Interface_Icons/dns-arrow-down.png
  docs/source/images/DNS_Interface_Icons/dns-arrow-up.png
  docs/source/images/DNS_Interface_Icons/dns-crystal-axes.png
  docs/source/images/DNS_Interface_Icons/dns-data-export.png
  docs/source/images/DNS_Interface_Icons/dns-edge-control.png
  docs/source/images/DNS_Interface_Icons/dns-grid.png
  docs/source/images/DNS_Interface_Icons/dns-projections.png
  docs/source/images/DNS_interface_single_crystal_elastic_options_tab.png
  docs/source/images/DNS_interface_single_crystal_elastic_overview.png
  docs/source/images/DNS_interface_single_crystal_elastic_plotting_tab.png
  docs/source/images/DNS_interface_single_crystal_elastic_script_generator_tab.png
  docs/source/interfaces/direct/dns_reduction/DNS Single Crystal Elastic.rst
  docs/source/interfaces/direct/dns_reduction/dns_single_crystal_elastic_options_tab.rst
  docs/source/interfaces/direct/dns_reduction/dns_single_crystal_elastic_plotting_tab.rst
  docs/source/interfaces/direct/dns_reduction/dns_single_crystal_elastic_script_generator_tab.rst
Labels: Documentation, MLZ Team

#36156 Update live data test instructions
  dev-docs/source/Testing/LiveData/LiveDataTests.rst
  dev-docs/source/_static/videos/LiveData.htm
  dev-docs/source/_static/videos/LiveData.mp4
Labels: Documentation, Maintenance

#36555 Move Indirect Corrections to Inelastic category
  docs/source/interfaces/indirect/Indirect Settings.rst
  docs/source/interfaces/inelastic/Inelastic Corrections.rst
  docs/source/release/v6.3.0/indirect_geometry.rst
  docs/source/release/v6.5.0/indirect_geometry.rst
  docs/source/release/v6.6.0/indirect_geometry.rst
  docs/source/release/v6.9.0/Indirect/Bugfixes/36391.rst
  docs/source/release/v6.9.0/Inelastic/Bugfixes/36391.rst
  docs/source/release/v6.9.0/Inelastic/New_features/36355.rst
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.h
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.ui
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Inelastic/Corrections/CalculatePaalmanPings.cpp
  qt/scientific_interfaces/Inelastic/Corrections/CalculatePaalmanPings.h
  qt/scientific_interfaces/Inelastic/Corrections/CalculatePaalmanPings.ui
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.cpp
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.h
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.ui
  qt/scientific_interfaces/Inelastic/Corrections/Corrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/Corrections.h
  qt/scientific_interfaces/Inelastic/Corrections/Corrections.ui
  qt/scientific_interfaces/Inelastic/Corrections/CorrectionsTab.cpp
  qt/scientific_interfaces/Inelastic/Corrections/CorrectionsTab.h
Labels: Maintenance, ISIS Team: Spectroscopy, Inelastic

#36526 Change SaveIntegratedWorkspace parameter on SANSTubeCalibration algorithm to take a path to a directory
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSTubeCalibration.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/sans/SANSTubeCalibrationTest.py
  Testing/SystemTests/tests/framework/ISIS/SANS/SANS2D/SANS2DTubeCalibrationTest.py
  docs/source/release/v6.9.0/SANS/New_features/35981.rst
Labels: SANS, ISIS Team: LSS

#36548 Added warning for ADS.clear()
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/DataServiceExporter.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.9.0/Framework/Data_Objects/New_features/36548.rst
Labels: Framework, ISIS Team: Core, ISIS Team: Excitations/Vesuvio

#36574 Fix live data slit lookup values for OFFSPEC
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  docs/source/release/v6.9.0/Reflectometry/Bugfixes/36534.rst
Labels: Reflectometry, ISIS Team: LSS

#36530 Improve Usability of the SANS Beam Centre Finder
  docs/source/release/v6.9.0/SANS/Bugfixes/36518.rst
  scripts/Interface/ui/sans_isis/beam_centre.py
  scripts/Interface/ui/sans_isis/beam_centre.ui
  scripts/SANS/sans/gui_logic/models/beam_centre_model.py
  scripts/SANS/sans/gui_logic/presenter/beam_centre_presenter.py
  scripts/SANS/sans/gui_logic/presenter/run_tab_presenter.py
  scripts/SANS/sans/user_file/toml_parsers/toml_v1_parser.py
  scripts/test/SANS/gui_logic/beam_centre_presenter_test.py
  scripts/test/SANS/user_file/toml_parsers/toml_v1_parser_test.py
Labels: SANS, ISIS Team: LSS

#36563 Change exception type and message to mimic python
  Framework/PythonInterface/mantid/simpleapi.py
  Framework/PythonInterface/test/python/mantid/SimpleAPITest.py
  Framework/PythonInterface/test/python/plugins/algorithms/AbinsBasicTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggCalibrateFullTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggCalibrateTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggFitPeaksTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggFitTOFFromPeaksTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggFocusTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/EnggVanadiumCorrectionsTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/PoldiCreatePeaksFromFileTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/FindPeakAutomaticTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/InterpolateBackgroundTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/SANSILLAutoProcessTest.py
  Testing/SystemTests/tests/framework/LoadVesuvioTest.py
  docs/source/release/v6.9.0/Framework/Algorithms/New_features/36563.rst
Labels: Framework

#36550 Save Scaled Background Subtraction Metadata to Subtracted Files
  Framework/DataHandling/inc/MantidDataHandling/NXcanSASDefinitions.h
  Framework/DataHandling/src/SaveCanSAS1D2.cpp
  Framework/DataHandling/src/SaveNXcanSAS.cpp
  Framework/DataHandling/test/NXcanSASTestHelper.h
  Framework/DataHandling/test/SaveCanSAS1dTest2.h
  Framework/DataHandling/test/SaveNXcanSASTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SANS/SANSSave.py
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.9.0/SANS/New_features/35939.rst
  scripts/SANS/sans/algorithm_detail/batch_execution.py
  scripts/SANS/sans/common/constants.py
  scripts/test/SANS/algorithm_detail/batch_execution_test.py
Labels: SANS, ISIS Team: LSS

#36536 Parameter Estimation for ConvFit
  docs/source/release/v6.9.0/Inelastic/New_features/36346.rst
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTemplateBrowser.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.h
  qt/scientific_interfaces/Inelastic/test/IDAFunctionParameterEstimationTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionModel.h
  qt/widgets/common/src/FunctionModel.cpp
Labels: ISIS Team: Spectroscopy, Inelastic

#36575 Pass through ROIDetectorIDs setting in ISIS Reflectometry GUI live data
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/release/v6.9.0/Reflectometry/Bugfixes/36570.rst
Labels: Reflectometry, ISIS Team: LSS

#36580 Clean up output when running inelastic tests
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  Testing/Tools/cxxtest/cxxtest/RealDescriptions.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/Inelastic/Analysis/FunctionTemplateBrowser.h
  qt/scientific_interfaces/Inelastic/test/Analysis/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/ConvFitModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/ConvFunctionModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/FqFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/FqFitModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IDAFunctionParameterEstimationTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectDataAnalysisTabTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitDataModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitDataTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitOutputOptionsModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitOutputOptionsPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitOutputTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitPlotModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitPlotPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitPropertyBrowserTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFittingModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IqtFitModelTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/MockObjects.h
  qt/scientific_interfaces/Inelastic/test/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationElwinTabModelTest.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationIqtTabModelTest.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationMomentsTabModelTest.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationSqwTabModelTest.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationSymmetriseTabModelTest.h
Labels: ISIS Team: Spectroscopy, Inelastic

#36547 Inelastic Settings Developer feature flags option
  docs/source/interfaces/indirect/Indirect Settings.rst
  docs/source/release/v6.9.0/Inelastic/New_features/36533.rst
  qt/scientific_interfaces/Indirect/IIndirectSettingsView.h
  qt/scientific_interfaces/Indirect/IndirectInterface.cpp
  qt/scientific_interfaces/Indirect/IndirectInterfaceSettings.ui
  qt/scientific_interfaces/Indirect/IndirectSettings.cpp
  qt/scientific_interfaces/Indirect/IndirectSettingsHelper.cpp
  qt/scientific_interfaces/Indirect/IndirectSettingsHelper.h
  qt/scientific_interfaces/Indirect/IndirectSettingsPresenter.cpp
  qt/scientific_interfaces/Indirect/IndirectSettingsView.cpp
  qt/scientific_interfaces/Indirect/IndirectSettingsView.h
  qt/scientific_interfaces/Indirect/test/IndirectSettingsPresenterTest.h
Labels: ISIS Team: Spectroscopy, Inelastic

#36584 ProcessBankData accidental else if
  Framework/DataHandling/src/ProcessBankData.cpp
  Framework/DataHandling/test/LoadEventNexusTest.h
  Testing/Data/UnitTest/CG2_monotonically_increasing_pulse_times.nxs.h5.md5
Labels: Bug

#36341 Algorithm to Laue symmeterise MDHisto workspaces
  Framework/Geometry/inc/MantidGeometry/Crystal/PointGroup.h
  Framework/Geometry/src/Crystal/PointGroup.cpp
  Framework/PythonInterface/mantid/geometry/src/Exports/PointGroup.cpp
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/algorithms/SymmetriseMDHisto.py
  Framework/PythonInterface/test/python/plugins/algorithms/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/algorithms/SymmetriseMDHistoTest.py
  docs/source/algorithms/SymmetriseMDHisto-v1.rst
  docs/source/release/v6.9.0/Diffraction/Single_Crystal/New_features/36342.rst
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction
