Repository mantidproject/mantid, pull requests merged in 2024-03, with the labels that each got.

#36946 Pin orsopy version to 1.2.0
  conda/recipes/conda_build_config.yaml
  conda/recipes/mantid/meta.yaml
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: DevOps

#36924 Better code re-use for template presenters and browsers
  qt/scientific_interfaces/Inelastic/Analysis/DataAnalysisTabFactory.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FqFitDataPresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTypes.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvTypes.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FitTypes.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FitTypes.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FunctionTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ITemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ParamID.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/TemplateSubType.h
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitPropertyBrowser.cpp
  qt/scientific_interfaces/Inelastic/Analysis/IndirectFitPropertyBrowser.h
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Analysis/FqFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/IndirectFitPropertyBrowserTest.h
  qt/scientific_interfaces/Inelastic/test/Analysis/MockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/FunctionModel.h
  qt/widgets/common/inc/MantidQtWidgets/Common/IFunctionModel.h
  qt/widgets/common/src/FunctionModel.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#36952 Remove unnecessary DLLExport from anonymous namespace struct
  Framework/PythonInterface/mantid/api/src/Exports/IFunction.cpp
Labels: High Priority, Bug

#36956 36842 Fix duplicates in Selectfunctiondialog
  docs/source/release/v6.10.0/Framework/Fit_Functions/Bugfixes/36956.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/SelectFunctionDialog.h
  qt/widgets/common/src/SelectFunctionDialog.cpp
Labels: Bug, ISIS Team: Core

#36954 Fix for crash on changing 3d plot scale
  docs/source/release/v6.10.0/Workbench/Bugfixes/36950.rst
  qt/python/mantidqt/mantidqt/widgets/plotconfigdialog/axestabwidget/presenter.py
Labels: Bug, ISIS Team: Core, Reported By User

#36959 Fix for error when switching axes plot settings tab with un-entered invalid bound value
  docs/source/release/v6.10.0/Workbench/Bugfixes/36738.rst
  qt/python/mantidqt/mantidqt/widgets/plotconfigdialog/axestabwidget/view.py
Labels: Bug, ISIS Team: Core

#36955 Update regex for release note pre commit check to work for 6.10 notes
  .pre-commit-config.yaml
Labels: Bug, ISIS Team: Core

#36958 Fix pause batch execution functionality in Reflectometry GUI
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.10.0/Reflectometry/Bugfixes/36958.rst
  qt/widgets/common/inc/MantidQtWidgets/Common/BatchAlgorithmRunner.h
  qt/widgets/common/src/BatchAlgorithmRunner.cpp
  qt/widgets/common/test/BatchAlgorithmRunnerTest.h
Labels: Bug, Reflectometry, ISIS Team: LSS

#36741 Abins: support frozen atoms in GAUSSIAN calculations
  Testing/Data/UnitTest/ethanol_g16_frozen_atom_LoadGAUSSIAN.log.md5
  Testing/Data/UnitTest/ethanol_g16_frozen_atom_LoadGAUSSIAN_atomic_displacements_data_0.txt.md5
  Testing/Data/UnitTest/ethanol_g16_frozen_atom_LoadGAUSSIAN_data.txt.md5
  docs/source/release/v6.10.0/Framework/Algorithms/New_features/36741.rst
  scripts/abins/input/gaussianloader.py
  scripts/test/Abins/AbinsLoadGAUSSIANTest.py
Labels: ISIS Team: Spectroscopy

#36967 Remove libmesa from linux dev requirements
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: Bug

#36963 Add menu item for Garnet
  Framework/Properties/Mantid.properties.template
  Testing/SystemTests/tests/framework/InterfaceDocumentationTest.py
  docs/source/release/v6.10.0/Diffraction/Single_Crystal/New_features/36963.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Garnet.py
Labels: Single Crystal, ORNL Team

#36977 Add menu item to start Garnet from Mantid
  Framework/Properties/Mantid.properties.template
  Testing/SystemTests/tests/framework/InterfaceDocumentationTest.py
  docs/source/release/v6.10.0/Diffraction/Single_Crystal/New_features/36963.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Garnet.py
Labels: Single Crystal, ORNL Team

#36961 Fix a bug that could crash Mantid when Open Slice Viewer from Indirect/Inelastic interfaces is called with 1 spectra workspace.
  docs/source/release/v6.10.0/Inelastic/Bugfixes/36931.rst
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsModel.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsModel.h
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsPresenter.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsPresenter.h
  qt/scientific_interfaces/Inelastic/test/Common/OutputPlotOptionsModelTest.h
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/ExternalPlotter.h
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#36972 Add variable to External Interfaces CMake file
  scripts/ExternalInterfaces/CMakeLists.txt
Labels: DevOps

#36930 Fix muon simultaneous global tie bug
  docs/source/release/v6.10.0/Muon/Muon_Analysis/Bugfixes/36925.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/Common/fitting_widgets/general_fitting/general_fitting_model.py
  qt/python/mantidqtinterfaces/test/Muon/fitting_widgets/general_fitting/general_fitting_model_test.py
Labels: Bug, Muon, ISIS Team: Spectroscopy, Reported By User

#36968 Refactor ISIS ORSO tests
  Framework/PythonInterface/test/python/plugins/algorithms/SaveISISReflectometryORSOTest.py
  Testing/SystemTests/tests/framework/SaveISISReflectometryORSOTest.py
  Testing/SystemTests/tests/framework/reference/ISISReducedPeriodDataWorkspaceORSOFile.ort.md5
  Testing/SystemTests/tests/framework/reference/ISISReducedWorkspaceORSOFile.ort.md5
  Testing/SystemTests/tests/framework/reference/ISISStitchedWorkspaceORSOFile.ort.md5
Labels: Reflectometry, Maintenance, ISIS Team: LSS

#36982 Commented out unreliable doc test TransformToIqt
  docs/source/algorithms/TransformToIqt-v1.rst
Labels: Bug, ISIS Team: Core, DevOps

#36991 Removed comments accidently visible in documentation
  docs/source/algorithms/TransformToIqt-v1.rst
Labels: Documentation, ISIS Team: Spectroscopy, DevOps

#36947 Add method to BaseSX to plot result of IntegratePeaksMD and save in pdf
  docs/source/release/v6.10.0/Diffraction/Single_Crystal/New_features/36947.rst
  scripts/Diffraction/single_crystal/base_sx.py
  scripts/Diffraction/single_crystal/test/test_base_sx.py
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#36993 Add flood and calibration file metadata to ISIS ORSO file
  Framework/PythonInterface/plugins/algorithms/SaveISISReflectometryORSO.py
  Framework/PythonInterface/test/python/plugins/algorithms/SaveISISReflectometryORSOTest.py
  docs/source/release/v6.10.0/Reflectometry/New_features/36395.rst
Labels: Reflectometry, ISIS Team: LSS

#37000 Throw Properly from C++ when Cleared from Python
  qt/python/mantidqt/mantidqt/_common.sip
Labels: High Priority, ISIS Team: LSS, Added during Sprint

#36965 Fix bug when no peak found IntegratePeaksShoeboxTOF
  Framework/PythonInterface/plugins/algorithms/IntegratePeaksShoeboxTOF.py
  Framework/PythonInterface/test/python/plugins/algorithms/IntegratePeaksShoeboxTOFTest.py
  docs/source/release/v6.10.0/Diffraction/Single_Crystal/Bugfixes/36965.rst
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#36932 Use DetectorGroupingOptions widget in diffraction interface
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/IndirectDiffScan.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  docs/source/diagrams/ISISIndirectDiffractionReduction-v1_wkflw.dot
  docs/source/diagrams/ISISIndirectEnergyTransfer-v1_wkflw.dot
  docs/source/release/v6.10.0/Indirect/New_features/36932.rst
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.cpp
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.h
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.h
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.ui
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferModel.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferModel.h
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferValidator.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferValidator.h
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.h
  qt/scientific_interfaces/Indirect/test/Reduction/ISISEnergyTransferModelTest.h
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Common/ValidationUtils.cpp
  qt/scientific_interfaces/Inelastic/Common/ValidationUtils.h
  qt/scientific_interfaces/Inelastic/test/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Common/InterfaceUtilsTest.h
  qt/scientific_interfaces/Inelastic/test/Common/ValidationUtilsTest.h
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#36953 Allowing workspace tabs of Inelastic Elwin interface to add multiple workspaces at once
  docs/source/release/v6.10.0/Inelastic/New_features/33319.rst
  qt/scientific_interfaces/Inelastic/Manipulation/IElwinView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceDialog.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceMultiDialog.h
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceMultiDialog.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/WorkspaceMultiSelector.h
  qt/widgets/common/src/AddWorkspaceMultiDialog.cpp
  qt/widgets/common/src/WorkspaceMultiSelector.cpp
Labels: Indirect/Inelastic, GUI, ISIS Team: Spectroscopy

#36995 Remove local tags before generating nightly tag in Jenkins pipeline
  buildconfig/Jenkins/Conda/generate-version-number
  buildconfig/Jenkins/Conda/nightly_build_and_deploy.jenkinsfile
Labels: Bug, ISIS Team: Core, DevOps

#36992 Add possibility for external 3D Surface plotting in Inelastic Interfaces
  docs/source/release/v6.10.0/Inelastic/New_features/36837.rst
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Simulation/IndirectMolDyn.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsModel.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsModel.h
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsPresenter.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsPresenter.h
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsView.cpp
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsView.h
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationSqwTab.cpp
  qt/scientific_interfaces/Inelastic/test/Common/MockObjects.h
  qt/scientific_interfaces/Inelastic/test/Common/OutputPlotOptionsModelTest.h
  qt/scientific_interfaces/Inelastic/test/Common/OutputPlotOptionsPresenterTest.h
  qt/widgets/mplcpp/inc/MantidQtWidgets/MplCpp/Plot.h
  qt/widgets/mplcpp/src/Plot.cpp
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/ExternalPlotter.h
  qt/widgets/plotting/src/ExternalPlotter.cpp
Labels: Indirect/Inelastic, GUI, ISIS Team: Spectroscopy

#36971 34369 avoid engdiff fit window loading non-existing spectras
  docs/source/release/v6.10.0/Diffraction/Engineering/Bugfixes/34369.rst
  qt/python/mantidqt/mantidqt/widgets/fitpropertybrowser/fitpropertybrowser.py
  qt/python/mantidqt/mantidqt/widgets/test/test_fitpropertybrowser.py
Labels: Bug, Diffraction, ISIS Team: Diffraction

#36943 Fix OSIRIS diffspec vanadium and calibration error
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReduction.py
  Testing/SystemTests/tests/framework/ISISIndirectDiffractionReductionTest.py
  Testing/SystemTests/tests/framework/OSIRISDiffractionReductionTest.py
  Testing/SystemTests/tests/framework/reference/OSIRIS10203_diff_red.nxs.md5
  Testing/SystemTests/tests/framework/reference/OSIRIS137793_diffspec_red.nxs.md5
  docs/source/release/v6.10.0/Indirect/Algorithms/Bugfixes/36940.rst
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.h
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.ui
  qt/widgets/common/inc/MantidQtWidgets/Common/FileFinderWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserInputValidator.h
  qt/widgets/common/src/FileFinderWidget.cpp
  qt/widgets/common/src/UserInputValidator.cpp
  scripts/Inelastic/IndirectReductionCommon.py
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37005 Iqt normalization option
  Framework/Algorithms/inc/MantidAlgorithms/CalculateIqt.h
  Framework/Algorithms/src/CalculateIqt.cpp
  Framework/Algorithms/test/CalculateIqtTest.h
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  docs/source/algorithms/TransformToIqt-v1.rst
  docs/source/interfaces/inelastic/Inelastic Data Manipulation.rst
  docs/source/release/v6.10.0/Inelastic/Algorithms/New_features/37005.rst
  docs/source/release/v6.10.0/Inelastic/New_features/37005.rst
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTab.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTabModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTabModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationIqtTabView.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationIqtTabModelTest.h
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37016 Fix sliders not changing integration limits in Elwin tab
  docs/source/release/v6.10.0/Inelastic/Bugfixes/37012.rst
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.h
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy, Reported By User

#37036 Adding monochromatic Lorentz correction for single crystal diffraction MDEs
  Framework/MDAlgorithms/src/ConvertHFIRSCDtoMDE.cpp
  Testing/SystemTests/tests/framework/ConvertHFIRSCDtoMDETest.py
  docs/source/algorithms/ConvertHFIRSCDtoMDE-v1.rst
  docs/source/release/v6.10.0/Diffraction/Single_Crystal/New_features/37027.rst
Labels: Diffraction, Single Crystal

#36973 Add a temporary developer flag to allow users to test `quickBayes` in Bayes Fitting interface
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesQuasi.py
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.h
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.cpp
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#36987 Refactor setInstrumentDefault option in ISIS Energy Transfer View
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransfer.ui
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37018 Abins validator: Allow phonopy.yaml with separate force constants
  Testing/Data/UnitTest/hexane_phonopy/force_constants.hdf5.md5
  Testing/Data/UnitTest/hexane_phonopy/hexane_LoadPhonopy.yaml.md5
  Testing/Data/UnitTest/hexane_phonopy/hexane_LoadPhonopy_data.txt.md5
  docs/source/algorithms/Abins-v1.rst
  docs/source/algorithms/Abins2D-v1.rst
  docs/source/release/v6.10.0/Framework/Algorithms/New_features/37018.rst
  scripts/abins/abinsalgorithm.py
  scripts/test/Abins/AbinsLoadPhonopyTest.py
Labels: ISIS Team: Spectroscopy

#37019 Expose missing Data Objects Workspace properties to python
  Framework/PythonInterface/mantid/dataobjects/CMakeLists.txt
  Framework/PythonInterface/mantid/dataobjects/src/Exports/GroupingWorkspaceProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/OffsetsWorkspaceProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/SpecialWorkspace2DProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/SplittersWorkspaceProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/TableWorkspaceProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/Workspace2DProperty.cpp
  Framework/PythonInterface/mantid/dataobjects/src/Exports/WorkspaceSingleValueProperty.cpp
Labels: Bug, Framework, ISIS Team: Core

#36310 Fix for plot script unhiding other plots (switch plt.show() to fig.show())
  docs/source/release/v6.10.0/Workbench/Bugfixes/34978.rst
  docs/source/release/v6.10.0/Workbench/Bugfixes/36938.rst
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/__init__.py
  qt/applications/workbench/workbench/plotting/plotscriptgenerator/test/test_plotscriptgenerator.py
Labels: Bug, ISIS Team: Core

#37053 Load instrument after sample logs in ReflectometryReductionOneLiveData
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  Framework/PythonInterface/test/python/plugins/algorithms/ReflectometryReductionOneLiveDataTest.py
  docs/source/algorithms/SaveISISReflectometryORSO-v1.rst
Labels: Reflectometry, Patch Candidate, ISIS Team: LSS

#37052 Replace draw with draw_idle for some functions
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: High Priority, Bug, Patch Candidate, ISIS Team: Core

#37055 Cherry pick for 6.9.1 patch release
  Framework/PythonInterface/plugins/algorithms/ReflectometryReductionOneLiveData.py
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.h
Labels: Patch Candidate

#37051 Generate release note page for 6.9.1 patch candidates
  docs/source/release/index.rst
  docs/source/release/v6.9.1/index.rst
Labels: Documentation, Patch Candidate

#37060 Typo in automerge action
  .github/workflows/automerge.yml
Labels: ISIS Team: Core, Added during Sprint, DevOps

#37042 Add a new option for output name of the total scattering pdf
  Testing/SystemTests/tests/framework/ISIS_PowderPolarisTest.py
  docs/source/release/v6.10.0/Diffraction/Powder/New_features/37042.rst
  docs/source/techniques/ISISPowder-Polaris-v1.rst
  scripts/Diffraction/isis_powder/polaris.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_algs.py
  scripts/Diffraction/isis_powder/polaris_routines/polaris_param_mapping.py
Labels: Diffraction, Powder, ISIS Team: Diffraction

#37003 Create `MultiFunctionTemplateModel` and use in ConvFit
  qt/scientific_interfaces/Inelastic/Analysis/DataAnalysisTabFactory.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ConvFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/FunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/IqtTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplatePresenter.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplatePresenter.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/MultiFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/ParamID.h
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/Analysis/FunctionBrowser/SingleFunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/Analysis/IDAFunctionParameterEstimation.cpp
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Analysis/MockObjects.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ConvolutionFunctionModel.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37034 36593 FindpeaksConvolve at Engdiff fit browser
  Framework/PythonInterface/mantid/api/src/Exports/IPeakFunction.cpp
  docs/source/release/v6.10.0/Diffraction/Engineering/New_features/36593.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/EngDiff_fitpropertybrowser.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_toolbar.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/plot_view.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/plotting/test/test_plot_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/fitting/presenter.py
Labels: Diffraction, ISIS Team: Diffraction

#37074 Fix crash due to subscribing observer twice to notification center
  docs/source/release/v6.9.1/index.rst
  qt/widgets/plotting/src/PreviewPlot.cpp
Labels: Bug, Indirect/Inelastic, Patch Candidate, ISIS Team: Spectroscopy, Reported By User

#37054 Add method to python api of instrument view
  docs/source/release/v6.10.0/Workbench/InstrumentViewer/New_features/37054.rst
  docs/source/workbench/instrumentviewer.rst
  qt/python/mantidqt/mantidqt/widgets/instrumentview/_instrumentview.sip
  qt/python/mantidqt/mantidqt/widgets/instrumentview/api.py
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidget.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentWidgetRenderTab.h
  qt/widgets/instrumentview/src/InstrumentWidget.cpp
  qt/widgets/instrumentview/src/InstrumentWidgetRenderTab.cpp
Labels: ISIS Team: LSS, ISIS Team: Core

#37079 Replace removed conda index command
  buildconfig/Jenkins/Conda/package-conda
Labels: High Priority, Bug, ISIS Team: Core, Added during Sprint, DevOps

#37017 Detector grouping options for OSIRISDiffractionReduction algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/EnergyWindowScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransfer.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/SofQWMomentsScan.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/VesuvioDiffractionReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectEnergyTransferTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReductionTest.py
  Testing/SystemTests/tests/framework/ISISIndirectDiffractionReductionTest.py
  Testing/SystemTests/tests/framework/IndirectDiffractionTests.py
  Testing/SystemTests/tests/framework/OSIRISDiffractionReductionTest.py
  Testing/SystemTests/tests/framework/reference/OSIRIS137793_diffspec_red.nxs.md5
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.cpp
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.h
  qt/scientific_interfaces/Indirect/test/Reduction/ISISEnergyTransferModelTest.h
  qt/scientific_interfaces/Inelastic/Common/ValidationUtils.cpp
  qt/scientific_interfaces/Inelastic/test/Common/ValidationUtilsTest.h
  scripts/Inelastic/IndirectReductionCommon.py
  scripts/test/IndirectReductionCommonTest.py
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37066 Better organise CMakeLists in Indirect/Inelastic interface categories
  qt/scientific_interfaces/Indirect/CMakeLists.txt
  qt/scientific_interfaces/Indirect/Common/CMakeLists.txt
  qt/scientific_interfaces/Indirect/Diffraction/CMakeLists.txt
  qt/scientific_interfaces/Indirect/Reduction/CMakeLists.txt
  qt/scientific_interfaces/Indirect/Simulation/CMakeLists.txt
  qt/scientific_interfaces/Indirect/Tools/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/Reduction/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Analysis/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/BayesFitting/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Corrections/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Manipulation/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Analysis/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Manipulation/CMakeLists.txt
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37044 Enable ISISEnergyTransferPresenterTest
  qt/scientific_interfaces/Indirect/Common/IndirectInstrumentConfig.h
  qt/scientific_interfaces/Indirect/Reduction/ILLEnergyTransfer.cpp
  qt/scientific_interfaces/Indirect/Reduction/ILLEnergyTransfer.h
  qt/scientific_interfaces/Indirect/Reduction/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISCalibration.h
  qt/scientific_interfaces/Indirect/Reduction/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISDiagnostics.h
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferModel.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferModel.h
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.h
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.h
  qt/scientific_interfaces/Indirect/Reduction/IndirectDataReduction.cpp
  qt/scientific_interfaces/Indirect/Reduction/IndirectDataReduction.h
  qt/scientific_interfaces/Indirect/Reduction/IndirectDataReductionTab.cpp
  qt/scientific_interfaces/Indirect/Reduction/IndirectDataReductionTab.h
  qt/scientific_interfaces/Indirect/Reduction/IndirectTransmission.cpp
  qt/scientific_interfaces/Indirect/Reduction/IndirectTransmission.h
  qt/scientific_interfaces/Indirect/test/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/Common/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/Common/MockObjects.h
  qt/scientific_interfaces/Indirect/test/Reduction/CMakeLists.txt
  qt/scientific_interfaces/Indirect/test/Reduction/ISISEnergyTransferModelTest.h
  qt/scientific_interfaces/Indirect/test/Reduction/ISISEnergyTransferModelUtilsTest.h
  qt/scientific_interfaces/Indirect/test/Reduction/ISISEnergyTransferPresenterTest.h
  qt/scientific_interfaces/Indirect/test/Reduction/MockObjects.h
  qt/scientific_interfaces/Indirect/test/Reduction/ReductionAlgorithmUtilsTest.h
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsModel.h
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsView.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37048 Improve workflow in Elwin tab of Data Manipulation Interface
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  dev-docs/source/Testing/Inelastic/DataManipulationTests.rst
  docs/source/release/v6.10.0/Inelastic/New_features/36160.rst
  docs/source/release/v6.10.0/Inelastic/New_features/36372.rst
  docs/source/release/v6.10.0/Inelastic/New_features/36460.rst
  qt/scientific_interfaces/Inelastic/Common/WorkspaceUtils.cpp
  qt/scientific_interfaces/Inelastic/Common/WorkspaceUtils.h
  qt/scientific_interfaces/Inelastic/Manipulation/IElwinView.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTab.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTab.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTab.ui
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/InelasticDataManipulationElwinTabView.h
  qt/scientific_interfaces/Inelastic/test/Common/WorkspaceUtilsTest.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/InelasticDataManipulationElwinTabModelTest.h
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37078 Use ADSObserver for PreviewPlot widget
  qt/widgets/plotting/inc/MantidQtWidgets/Plotting/PreviewPlot.h
  qt/widgets/plotting/src/PreviewPlot.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37025 Increase numpy min version to 1.24 and max version 1.26
  conda/recipes/conda_build_config.yaml
  conda/recipes/mantid/meta.yaml
  docs/source/release/v6.10.0/Framework/Dependencies/New_features/36831.rst
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: Maintenance, ISIS Team: Core
