Repository mantidproject/mantid, pull requests merged in 2024-04, with the labels that each got.

#37067 Disable fitbrowser and superplot for MDHisto workspaces
  docs/source/release/v6.10.0/Workbench/Bugfixes/37067.rst
  qt/applications/workbench/workbench/plotting/test/test_toolbar.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: ISIS Team: Core

#37096 Fix wrong palette on multiple workspace dialog
  qt/widgets/common/inc/MantidQtWidgets/Common/AddWorkspaceMultiDialog.ui
Labels: Bug, Indirect/Inelastic, GUI, ISIS Team: Spectroscopy

#37098 fix cmake warning
  buildconfig/CMake/FindCppcheck.cmake
Labels: ISIS Team: Core

#37099 Fix syntax error in check_for_changes
  buildconfig/Jenkins/check_for_changes
Labels: Bug, ISIS Team: Core

#37094 Remove Individual and IPF grouping options from Indirect Diffraction
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReduction.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReduction.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ISISIndirectDiffractionReductionTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/OSIRISDiffractionReductionTest.py
  docs/source/release/v6.10.0/Indirect/Algorithms/New_features/36761.rst
  docs/source/release/v6.10.0/Indirect/New_features/36932.rst
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.cpp
  qt/scientific_interfaces/Indirect/Common/DetectorGroupingOptions.h
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.cpp
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#36939 Add DepolarizedAnalyserTransmission Algorithm
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/DepolarizedAnalyserTransmission.h
  Framework/Algorithms/src/PolarizationCorrections/DepolarizedAnalyserTransmission.cpp
  Framework/Algorithms/test/PolarizationCorrections/DepolarizedAnalyserTransmissionTest.h
  docs/source/algorithms/DepolarizedAnalyserTransmission-v1.rst
  docs/source/release/v6.10.0/SANS/New_features/36383.rst
Labels: SANS, Framework, ISIS Team: LSS

#37087 Add new fitting function for Teixeira model
  Framework/PythonInterface/plugins/CMakeLists.txt
  Framework/PythonInterface/plugins/functions/TeixeiraWaterIqt.py
  Framework/PythonInterface/test/python/plugins/functions/CMakeLists.txt
  Framework/PythonInterface/test/python/plugins/functions/TeixeiraWaterIqtTest.py
  docs/source/fitting/fitfunctions/TeixeiraWaterIqt.rst
  docs/source/release/v6.10.0/Inelastic/New_features/36502.rst
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37115 Allow specifiable number of system test threads per machine
  buildconfig/Jenkins/Conda/run-tests
Labels: ISIS Team: Core, DevOps

#37119 Fix title redraw bug
  docs/source/release/v6.10.0/Workbench/Bugfixes/36913.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
Labels: Bug, ISIS Team: Core

#37110 Add integration range info to the sample logs of output workspaces for Elastic Window algorithm
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultiple.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/ElasticWindowMultipleTest.py
  docs/source/release/v6.10.0/Inelastic/New_features/37015.rst
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37069 HRPD empty subtraction of vanadium respects subtract_empty_instrument
  Testing/Data/SystemTest/ISIS_Powder/input/calibration/hrp/16_5/ISIS_Powder-HRPD-VanSplined_NoEmpty_66031_hrpd_new_072_01_corr.cal.nxs.md5
  Testing/SystemTests/tests/framework/ISIS_PowderHRPDTest.py
  docs/source/release/v6.10.0/Diffraction/Powder/Bugfixes/37069.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/routines/calibrate.py
Labels: Diffraction, Powder, ISIS Team: Diffraction, Added during Sprint

#37127 Add safety net around reading in file contents to open in an editor tab
  docs/source/release/v6.10.0/Workbench/Bugfixes/37127.rst
  qt/python/mantidqt/mantidqt/widgets/codeeditor/multifileinterpreter.py
  qt/python/mantidqt/mantidqt/widgets/codeeditor/test/test_multifileinterpreter.py
Labels: Bug, ISIS Team: Core, Reported By User

#37134 Avoid version 1.13.0 of scipy
  conda/recipes/conda_build_config.yaml
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: High Priority, ISIS Team: Core, DevOps

#37137 Update scipy gaussian an tukey import locations
  Framework/PythonInterface/plugins/algorithms/DeltaPDF3D.py
  Framework/PythonInterface/plugins/algorithms/FitIncidentSpectrum.py
  conda/recipes/conda_build_config.yaml
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: ISIS Team: Core, DevOps

#37143 Fix failing OSIRISDiffractionFocusingWithMultipleScattering Test
  Testing/SystemTests/tests/framework/ISIS_PowderOsirisTest.py
Labels: High Priority, Indirect/Inelastic, ISIS Team: Spectroscopy

#37101 Fix for bug in Show Detectors when Efixed not available
  Framework/Algorithms/src/CreateDetectorTable.cpp
  Framework/Algorithms/test/CreateDetectorTableTest.h
  docs/source/release/v6.10.0/Direct_Geometry/General/Bugfixes/37101.rst
Labels: Bug, Reported By User, ISIS Team: Excitations/Vesuvio

#37144 Add data target for doctest builds
  buildconfig/Jenkins/Conda/build
  buildconfig/Jenkins/Conda/conda-buildscript
  docs/source/algorithms/PeakMatching-v1.rst
  docs/source/conf.py
Labels: High Priority, Documentation, ISIS Team: Core, DevOps

#37093 Fix for bug when overplotting onto a regular mpl axis
  docs/source/release/v6.10.0/Workbench/Bugfixes/37083.rst
  qt/python/mantidqt/mantidqt/plotting/figuretype.py
  qt/python/mantidqt/mantidqt/plotting/test/test_figuretype.py
Labels: Bug, ISIS Team: Core

#37139 IqtFit - Stretched Exp option is now in a combobox
  docs/source/release/v6.10.0/Inelastic/New_features/36498.rst
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTabConstants.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FitTypes.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FitTypes.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/IqtFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/IqtFunctionTemplateModel.h
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37156 Delete unused mantid-developer metapackages
  buildconfig/dev-packages/deb/mantid-developer/README
  buildconfig/dev-packages/deb/mantid-developer/ns-control
  buildconfig/dev-packages/rpm/mantid-developer/mantid-developer.spec
Labels: Maintenance

#37029 Improved numerical validation in Filter Events Interface
  dev-docs/source/Testing/Utility/FilterEventsInterfaceTest.rst
  docs/source/release/v6.10.0/Framework/Python/Bugfixes/36073.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/FilterEvents/MainWindow.ui
  qt/python/mantidqtinterfaces/mantidqtinterfaces/FilterEvents/eventFilterGUI.py
Labels: Bug, GUI, ISIS Team: Core

#37154 Move `peak_data.json` file to Mantid Framework
  Framework/PythonInterface/mantid/utils/muon/__init__.py
  Framework/PythonInterface/mantid/utils/muon/peak_data.json
  Framework/PythonInterface/plugins/algorithms/PeakMatching.py
  docs/source/algorithms/PeakMatching-v1.rst
  docs/source/conf.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Muon/GUI/ElementalAnalysis/PeriodicTable/periodic_table_model.py
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#36926 Hide signal value in sliceview non-orthog view
  docs/source/release/v6.10.0/Workbench/SliceViewer/New_features/32318.rst
  qt/python/mantidqt/mantidqt/_common.sip
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/presenters/presenter.py
  qt/python/mantidqt/mantidqt/widgets/sliceviewer/test/test_sliceviewer_presenter.py
  qt/widgets/common/inc/MantidQtWidgets/Common/IImageInfoWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoPresenter.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoWidget.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ImageInfoWidgetMini.h
  qt/widgets/common/src/ImageInfoPresenter.cpp
  qt/widgets/common/src/ImageInfoWidget.cpp
  qt/widgets/common/src/ImageInfoWidgetMini.cpp
  qt/widgets/common/test/ImageInfoPresenterTest.h
Labels: ISIS Team: Core

#37123 35710 added AllPeaksNSigma peak finding stratergy to FindSXPeaks algo…
  Framework/Crystal/inc/MantidCrystal/FindSXPeaks.h
  Framework/Crystal/inc/MantidCrystal/FindSXPeaksHelper.h
  Framework/Crystal/src/FindSXPeaks.cpp
  Framework/Crystal/src/FindSXPeaksHelper.cpp
  Framework/Crystal/test/FindSXPeaksHelperTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.10.0/Framework/Algorithms/New_features/35710.rst
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#36025 Update EngDiff UI manual testing instructions
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffractionTestGuide.rst
  docs/source/images/EngDiff_Calibration.png
  docs/source/images/EngDiff_Fitting.png
  docs/source/images/EngDiff_Focus.png
  docs/source/interfaces/diffraction/Engineering Diffraction.rst
Labels: Diffraction, Documentation, ISIS Team: Diffraction

#37114 Update patch release documentation
  dev-docs/source/PatchReleaseChecklist.rst
  dev-docs/source/ReleaseChecklist.rst
Labels: Documentation, ISIS Team: Core

#37126 Cache Load algorithm once found when setting filename property
  Framework/DataHandling/src/Load.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.10.0/Framework/Algorithms/Bugfixes/37126.rst
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy, ISIS Team: Core

#37131 Install quasielasticbayes using conda
  Framework/PythonInterface/plugins/algorithms/ResNorm.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesQuasi.py
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesStretch.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/BayesQuasiTest.py
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/BayesStretchTest.py
  Testing/SystemTests/tests/framework/ISISIndirectBayesTest.py
  conda/recipes/mantid/meta.yaml
  docs/source/algorithms/BayesQuasi-v1.rst
  docs/source/algorithms/BayesStretch-v1.rst
  docs/source/release/v6.10.0/Inelastic/New_features/37131.rst
  installers/conda/linux/create_tarball.sh
  installers/conda/win/create_package.sh
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: Indirect/Inelastic, Maintenance, macOS Only, ISIS Team: Spectroscopy, ISIS Team: Core

#37113 Connect grouping options for OSIRIS Diffonly Diffraction reduction
  docs/source/interfaces/indirect/Indirect Diffraction.rst
  docs/source/release/v6.10.0/Indirect/New_features/36932.rst
  qt/scientific_interfaces/Indirect/Diffraction/IndirectDiffractionReduction.cpp
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37174 Skip Bayes system tests on MacOS
  Testing/SystemTests/tests/framework/ISISIndirectBayesTest.py
Labels: High Priority, Indirect/Inelastic, ISIS Team: Spectroscopy

#37095 Ability to set load algorithm properties in DataSelector widget
  docs/source/release/v6.10.0/Inelastic/Bugfixes/37095.rst
  qt/scientific_interfaces/Inelastic/QENSFitting/FqFitAddWorkspaceDialog.cpp
  qt/widgets/common/inc/MantidQtWidgets/Common/DataSelector.h
  qt/widgets/common/src/DataSelector.cpp
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37170 Use NexusHDF5Descriptor for LoadNexusProcessed algorithms
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusProcessed.h
  Framework/DataHandling/inc/MantidDataHandling/LoadNexusProcessed2.h
  Framework/DataHandling/src/LoadNexusProcessed.cpp
  Framework/DataHandling/src/LoadNexusProcessed2.cpp
  docs/source/release/v6.10.0/Framework/Algorithms/Bugfixes/37164.rst
  scripts/test/corelli/calibration/test_database.py
Labels: Maintenance, ISIS Team: Core

#37165 Fix coverity scan warnings in QENS Fitting interface
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvFitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FqFitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FunctionTemplateView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/SingleFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/TemplateSubType.h
  qt/scientific_interfaces/Inelastic/QENSFitting/InelasticFitPropertyBrowser.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ParameterEstimation.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37167 QENS Fitting - fix parameters guesses not updating
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateView.h
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37177 Fix for bug with the algorithm name alias
  Framework/API/inc/MantidAPI/AlgorithmFactory.h
  Framework/API/src/AlgorithmFactory.cpp
  Framework/API/test/AlgorithmFactoryTest.h
  Framework/API/test/FakeAlgorithms.h
  docs/source/release/v6.10.0/Workbench/Bugfixes/37112.rst
Labels: Bug, ISIS Team: Core

#37163 35600 avoid overriding blank primary log setting
  docs/source/release/v6.10.0/Diffraction/Engineering/Bugfixes/35600.rst
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/settings/settings_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/settings/test/test_settings_presenter.py
Labels: Bug, Diffraction, ISIS Team: Diffraction

#37192 Fix multiple of same functions not showing in QENS Fitting
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/ConvFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateView.h
  qt/widgets/common/inc/MantidQtWidgets/Common/ConvolutionFunctionModel.h
  qt/widgets/common/src/ConvolutionFunctionModel.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37204 Fix for incorrectly flagged LaTeX
  docs/source/algorithms/DNSMergeRuns-v1.rst
  docs/source/algorithms/LoadNMoldyn4Ascii1D-v1.rst
  docs/source/algorithms/PDConvertRealSpace-v1.rst
  docs/source/algorithms/PDConvertReciprocalSpace-v1.rst
  docs/source/algorithms/ReflectometryILLAutoProcess-v1.rst
  docs/source/tutorials/python_in_mantid/plotting/01_basic_plot_scripting.rst
  docs/source/tutorials/python_in_mantid/plotting/02_scripting_plots.rst
  docs/source/tutorials/python_in_mantid/solutions/02_pim_sol.rst
Labels: High Priority, DevOps

#36999 Algorithm to calculate helium-3 analyser efficiency
  Framework/Algorithms/CMakeLists.txt
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/HeliumAnalyserEfficiency.h
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/PolarizationCorrectionsHelpers.h
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/SpinStateValidator.h
  Framework/Algorithms/src/PolarizationCorrections/HeliumAnalyserEfficiency.cpp
  Framework/Algorithms/src/PolarizationCorrections/PolarizationCorrectionsHelpers.cpp
  Framework/Algorithms/src/PolarizationCorrections/SpinStateValidator.cpp
  Framework/Algorithms/test/PolarizationCorrections/HeliumAnalyserEfficiencyTest.h
  Framework/Algorithms/test/PolarizationCorrections/PolarizationCorrectionsHelpersTest.h
  Framework/Algorithms/test/PolarizationCorrections/SpinStateValidatorTest.h
  docs/source/algorithms/HeliumAnalyserEfficiency-v1.rst
  docs/source/release/v6.10.0/SANS/New_features/36140.rst
Labels: SANS, ISIS Team: LSS

#37157 Save multiple datasets into a single ISIS ORSO file
  Framework/PythonInterface/mantid/utils/reflectometry/orso_helper.py
  Framework/PythonInterface/plugins/algorithms/SaveISISReflectometryORSO.py
  Framework/PythonInterface/test/python/mantid/utils/reflectometry/orso_helper_test.py
  Framework/PythonInterface/test/python/plugins/algorithms/SaveISISReflectometryORSOTest.py
  Testing/Data/UnitTest/POLREF00031832.nxs.md5
  Testing/Data/UnitTest/POLREF00031833.nxs.md5
  Testing/SystemTests/tests/framework/SaveISISReflectometryORSOTest.py
  Testing/SystemTests/tests/framework/reference/ISISReducedPeriodDataWorkspaceORSOFile.ort.md5
  Testing/SystemTests/tests/framework/reference/ISISReducedWorkspaceORSOFile.ort.md5
  Testing/SystemTests/tests/framework/reference/ISISStitchedWorkspaceORSOFile.ort.md5
  docs/source/algorithms/SaveISISReflectometryORSO-v1.rst
  docs/source/release/v6.10.0/Reflectometry/New_features/36396.rst
  qt/scientific_interfaces/ISISReflectometry/GUI/Save/SaveAlgorithmRunner.cpp
Labels: Reflectometry, ISIS Team: LSS

#37130 Allow custom fit functions in IqtFit
  Framework/CurveFitting/inc/MantidCurveFitting/Algorithms/IqtFit.h
  Framework/CurveFitting/src/Algorithms/IqtFit.cpp
  Framework/PythonInterface/test/python/plugins/algorithms/WorkflowAlgorithms/IqtFitSequentialTest.py
  Testing/SystemTests/tests/framework/reference/II.IRISFuryFitSeq.nxs.md5
  Testing/SystemTests/tests/framework/reference/II.OSIRISFuryFitSeq.nxs.md5
  docs/source/release/v6.10.0/Inelastic/Bugfixes/37128.rst
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37215 Fix mismatch in doctest output
  docs/source/algorithms/GenerateGroupingPowder-v1.rst
Labels: High Priority, DevOps

#37211 Remove docs sidebar
  dev-docs/source/conf.py
  docs/source/conf.py
Labels: Documentation, ISIS Team: LSS, Added during Sprint

#37220 Revert GSAS-II scriptable path
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/call_G2sc.py
Labels: Diffraction, ISIS Team: Diffraction

#37207 Update references to main_nightly_deployment pipeline
  README.md
  dev-docs/source/CondaPackageManager.rst
  dev-docs/source/ReleaseChecklist.rst
  tools/Jenkins/dependency_spotter.py
Labels: ISIS Team: Core, DevOps

#37218 Fix coverity warnings in Data Manipulations interface
  qt/scientific_interfaces/Inelastic/Manipulation/DataManipulationInterface.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/IqtModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/IqtPresenter.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/MomentsModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/SqwModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/SqwModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/SymmetriseModel.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/SymmetriseModel.h
  qt/widgets/common/src/WorkspaceUtils.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37189 Add TeixeiraWaterIqt to IqtFit
  Framework/PythonInterface/mantid/api/src/FitFunctions/IFunctionAdapter.cpp
  Framework/PythonInterface/plugins/functions/TeixeiraWaterIqt.py
  docs/source/release/v6.10.0/Inelastic/New_features/36502.rst
  qt/python/mantidqt/mantidqt/_common.sip
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTabConstants.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/ConvFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/ConvFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FitTypes.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FitTypes.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/IqtFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/IqtFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MultiFunctionTemplateModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/ParamID.h
  qt/widgets/common/src/FunctionModel.cpp
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37226 Fix Coverity issues in HeliumAnalyserEfficiency
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/PolarizationCorrectionsHelpers.h
  Framework/Algorithms/src/PolarizationCorrections/HeliumAnalyserEfficiency.cpp
  Framework/Algorithms/src/PolarizationCorrections/PolarizationCorrectionsHelpers.cpp
Labels: SANS, Maintenance, ISIS Team: LSS, Added during Sprint

#37159 37107 findsxpeaks peak size validation
  Framework/Crystal/inc/MantidCrystal/FindSXPeaksHelper.h
  Framework/Crystal/src/FindSXPeaks.cpp
  Framework/Crystal/src/FindSXPeaksHelper.cpp
  Framework/Crystal/test/FindSXPeaksHelperTest.h
  Framework/Crystal/test/FindSXPeaksTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/release/v6.10.0/Framework/Algorithms/New_features/37107.rst
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#37210 Add tests for the presenter of elwin interface
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinModel.h
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinPresenter.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinPresenter.h
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinView.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/ElwinView.h
  qt/scientific_interfaces/Inelastic/Manipulation/IElwinView.h
  qt/scientific_interfaces/Inelastic/test/Manipulation/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Manipulation/ElwinPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/MockObjects.h
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37205 CppCheck: use some stl algorithms
  Framework/API/src/AlgorithmManager.cpp
  Framework/API/src/FileProperty.cpp
  Framework/API/src/IFunction.cpp
  Framework/Algorithms/inc/MantidAlgorithms/FitPeaks.h
  Framework/Algorithms/src/Bin2DPowderDiffraction.cpp
  Framework/Algorithms/src/ConjoinWorkspaces.cpp
  Framework/Algorithms/src/ConvertUnits.cpp
  Framework/Algorithms/src/FitPeaks.cpp
  Framework/CurveFitting/src/Algorithms/LeBailFunction.cpp
  Framework/CurveFitting/src/ExcludeRangeFinder.cpp
  Framework/CurveFitting/src/Functions/ProcessBackground.cpp
  Framework/DataHandling/inc/MantidDataHandling/DetermineChunking.h
  Framework/DataHandling/inc/MantidDataHandling/LoadHelper.h
  Framework/DataHandling/inc/MantidDataHandling/LoadRawHelper.h
  Framework/DataHandling/src/DetermineChunking.cpp
  Framework/DataHandling/src/GroupDetectors2.cpp
  Framework/DataHandling/src/LoadBBY.cpp
  Framework/DataHandling/src/LoadDetectorsGroupingFile.cpp
  Framework/DataHandling/src/LoadGSASInstrumentFile.cpp
  Framework/DataHandling/src/LoadHelper.cpp
  Framework/DataHandling/src/LoadILLPolarizationFactors.cpp
  Framework/DataHandling/src/LoadMcStasNexus.cpp
  Framework/DataHandling/src/LoadNexusMonitors2.cpp
  Framework/DataHandling/src/LoadRawHelper.cpp
  Framework/DataHandling/src/LoadSESANS.cpp
  Framework/DataHandling/src/SaveAscii2.cpp
  Framework/DataHandling/src/SaveDiffCal.cpp
  Framework/DataHandling/src/SaveISISNexus.cpp
  Framework/Geometry/src/Instrument.cpp
  Framework/Geometry/src/Instrument/DetectorGroup.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: Maintenance

#37221 Fix "Save Other" Widget's Saving in ISIS SANS Interface
  dev-docs/source/Testing/SANSGUI/ISISSANSGUITests.rst
  docs/source/release/v6.10.0/SANS/Bugfixes/37219.rst
  scripts/SANS/sans/gui_logic/presenter/save_other_presenter.py
  scripts/test/SANS/gui_logic/save_other_presenter_test.py
Labels: Bug, SANS, ISIS Team: LSS

#37196 IntBoundedValidator raises set attribute error
  Framework/PythonInterface/core/inc/MantidPythonInterface/core/Converters/PyNativeTypeExtractor.h
  Framework/PythonInterface/mantid/api/src/Exports/Algorithm.cpp
  Framework/PythonInterface/mantid/api/src/FitFunctions/IFunctionAdapter.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayBoundedValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayLengthValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayOrderedPairsValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ArrayProperty.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/BoundedValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/ListValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Exports/MandatoryValidator.cpp
  Framework/PythonInterface/mantid/kernel/src/Registry/PropertyWithValueFactory.cpp
  Framework/PythonInterface/test/cpp/PropertyWithValueFactoryTest.h
  Framework/PythonInterface/test/python/mantid/api/IFunction1DValidatorTest.py
Labels: Bug, Framework, Extra Attention, ISIS Team: Core

#37209 Add instructions to sync release-next with main at code freeze
  dev-docs/source/ReleaseChecklist.rst
Labels: Extra Attention, ISIS Team: Core, DevOps
