Repository mantidproject/mantid, pull requests merged in 2024-06, with the labels that each got.

#37438 Fix key shortcuts for quickly switching plot axis
  docs/source/release/v6.11.0/Workbench/Bugfixes/37438.rst
  docs/source/tutorials/mantid_basic_course/loading_and_displaying_data/06_formatting_plots.rst
  qt/applications/workbench/workbench/plotting/config.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: ISIS Team: Core, Reported By User

#37407 Make AddAbsorptionWeightedPathLengths work for lean peaks
  Framework/Algorithms/src/AddAbsorptionWeightedPathLengths.cpp
  Framework/Algorithms/test/AddAbsorptionWeightedPathLengthsTest.h
  Framework/TestHelpers/inc/MantidFrameworkTestHelpers/WorkspaceCreationHelper.h
  Framework/TestHelpers/src/WorkspaceCreationHelper.cpp
  Testing/Data/SystemTest/SCDPeaks.nxs.md5
  Testing/Data/SystemTest/SCDPeaksAbsorptionCorrection.nxs.md5
  Testing/SystemTests/tests/framework/SingleCrystalAbsorptionTest.py
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/algorithms/AddAbsorptionWeightedPathLengths-v1.rst
  docs/source/release/v6.11.0/Diffraction/Single_Crystal/New_features/37407.rst
Labels: Single Crystal, Framework, Absorption Corrections

#37400 Enable TransformToIqt doc test
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/TransformToIqt.py
  dev-docs/source/_templates/navbar.html
  dev-docs/source/conf.py
  docs/source/_templates/navbar.html
  docs/source/algorithms/TransformToIqt-v1.rst
  docs/source/conf.py
  qt/scientific_interfaces/Inelastic/Common/OutputPlotOptionsPresenter.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37452 Update PolarizationCorrectionWildes documentation
  docs/source/algorithms/PolarizationCorrectionWildes-v1.rst
Labels: Reflectometry, Documentation, ISIS Team: LSS

#37456 Use int for algorithm property when calling python algorithm from c++
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37472 Fix accidental change of Indirect diffraction algorithm call
  qt/scientific_interfaces/Indirect/Diffraction/DiffractionReduction.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37467 Rename Inelastic Data Manipulation to Data Processor
  dev-docs/source/Testing/Indirect/DataReductionTests.rst
  dev-docs/source/Testing/Inelastic/DataProcessorTests.rst
  dev-docs/source/Testing/index.rst
  docs/source/interfaces/indirect/Indirect Settings.rst
  docs/source/interfaces/inelastic/Inelastic Data Processor.rst
  docs/source/release/v6.10.0/Inelastic/Bugfixes/Used/37321.rst
  docs/source/release/v6.10.0/Inelastic/New_features/37467.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/33319.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/36160.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/36372.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/36460.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/37005.rst
  docs/source/release/v6.10.0/Inelastic/New_features/Used/37015.rst
  docs/source/release/v6.10.0/inelastic.rst
  docs/source/techniques/ApplyingCorrections.rst
  qt/scientific_interfaces/Inelastic/Manipulation/DataManipulationInterface.cpp
  qt/scientific_interfaces/Inelastic/Manipulation/DataManipulationInterface.h
  qt/scientific_interfaces/Inelastic/Manipulation/DataManipulationInterface.ui
Labels: Indirect/Inelastic, ISIS Team: Spectroscopy

#37437 Fix OpenGL segmentation fault on Linux
  Framework/Properties/Mantid.properties.template
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  docs/source/concepts/PropertiesFile.rst
  docs/source/release/v6.10.0/Workbench/Bugfixes/36220.rst
  qt/widgets/instrumentview/CMakeLists.txt
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentActor.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRenderer.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRendererClassic.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/InstrumentRendererMultiList.h
  qt/widgets/instrumentview/inc/MantidQtWidgets/InstrumentView/OpenGLError.h
  qt/widgets/instrumentview/src/InstrumentActor.cpp
  qt/widgets/instrumentview/src/InstrumentRenderer.cpp
  qt/widgets/instrumentview/src/InstrumentRendererClassic.cpp
  qt/widgets/instrumentview/src/InstrumentRendererMultiList.cpp
  qt/widgets/instrumentview/src/OpenGLError.cpp
Labels: High Priority, Bug, ISIS Team: Core

#37471 Add manual testing docs for Indirect Diffraction
  dev-docs/source/Testing/Indirect/DiffractionTests.rst
  dev-docs/source/Testing/index.rst
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37477 Disable TransformToIqt doc test
  docs/source/algorithms/TransformToIqt-v1.rst
Labels: High Priority, Indirect/Inelastic, ISIS Team: Spectroscopy

#37442 Correct default branch name dev docs
  dev-docs/source/BuildingWithCMake.rst
  dev-docs/source/DevelopmentAndReleaseCycle.rst
  dev-docs/source/FlowchartCreation.rst
  dev-docs/source/GettingStarted/GettingStartedNoneConda.rst
  dev-docs/source/MVPDesign.rst
  dev-docs/source/QtDesignerForPython.rst
  dev-docs/source/ReleaseChecklist.rst
  dev-docs/source/ReviewingAPullRequest.rst
  dev-docs/source/TSC.rst
  dev-docs/source/WritingPerformanceTests.rst
  dev-docs/source/images/DevelopmentAndReleaseCycle.png
Labels: Documentation

#37479 Fix plotting script in the plotting tutorial
  docs/source/tutorials/python_in_mantid/plotting/01_basic_plot_scripting.rst
Labels: Maintenance, ISIS Team: Core

#37478 Amendments to FlipperEfficiency algorithm
  Framework/Algorithms/src/PolarizationCorrections/FlipperEfficiency.cpp
  Framework/Algorithms/test/PolarizationCorrections/FlipperEfficiencyTest.h
  docs/source/algorithms/FlipperEfficiency-v1.rst
Labels: SANS, ISIS Team: LSS

#37481 Only Change PxD when Fitting Polarised SANS Analyser Transmission
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/DepolarizedAnalyserTransmission.h
  Framework/Algorithms/src/PolarizationCorrections/DepolarizedAnalyserTransmission.cpp
  Framework/Algorithms/test/PolarizationCorrections/DepolarizedAnalyserTransmissionTest.h
  docs/source/algorithms/DepolarizedAnalyserTransmission-v1.rst
Labels: SANS, ISIS Team: LSS

#37482 37384 updated engineering diffraction test instructions
  dev-docs/source/Testing/EngineeringDiffraction/EngineeringDiffractionTestGuide.rst
Labels: Diffraction, Maintenance, ISIS Team: Diffraction

#37423 Create interface class for UserInputValidator
  qt/scientific_interfaces/Indirect/Reduction/DataReduction.h
  qt/scientific_interfaces/Indirect/Reduction/ISISCalibration.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISDiagnostics.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.cpp
  qt/scientific_interfaces/Indirect/Simulation/Simulation.cpp
  qt/scientific_interfaces/Indirect/Tools/Tools.cpp
  qt/scientific_interfaces/Indirect/Tools/TransmissionCalc.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/BayesFitting.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/ResNorm.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.cpp
  qt/scientific_interfaces/Inelastic/Common/InelasticInterface.cpp
  qt/scientific_interfaces/Inelastic/Common/InelasticInterface.h
  qt/scientific_interfaces/Inelastic/Common/InelasticTab.h
  qt/scientific_interfaces/Inelastic/Corrections/Corrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/CorrectionsTab.cpp
  qt/scientific_interfaces/Inelastic/Processor/DataProcessorInterface.h
  qt/scientific_interfaces/Inelastic/Processor/ElwinPresenter.cpp
  qt/scientific_interfaces/Inelastic/Processor/IqtView.cpp
  qt/scientific_interfaces/Inelastic/Processor/MomentsView.cpp
  qt/scientific_interfaces/Inelastic/Processor/SqwPresenter.cpp
  qt/scientific_interfaces/Inelastic/Processor/SqwView.cpp
  qt/scientific_interfaces/Inelastic/Processor/SymmetriseView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/IFitDataView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/IFittingModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/QENSFitting.cpp
  qt/scientific_interfaces/Inelastic/test/Common/DataValidationHelperTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FittingPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/MockObjects.h
  qt/widgets/common/CMakeLists.txt
  qt/widgets/common/inc/MantidQtWidgets/Common/MockUserInputValidator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserInputValidator.h
  qt/widgets/common/src/UserInputValidator.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37446 Add manual testing Symmetrise, S(Q,w) and Moments interfaces
  dev-docs/source/Testing/Inelastic/DataProcessorTests.rst
Labels: Documentation, Maintenance, ISIS Team: Spectroscopy

#37486 Update to sliceviewer manual testing docs
  dev-docs/source/Testing/SliceViewer/SliceViewer.rst
Labels: Documentation, ISIS Team: Core

#37476 Add manual testing docs for DGS Reduction
  dev-docs/source/Testing/Direct/DGSReductionTests.rst
  dev-docs/source/Testing/index.rst
Labels: Direct Inelastic, Documentation, Maintenance

#37440 Unpin pycifrw
  Framework/PythonInterface/plugins/algorithms/LoadCIF.py
  conda/recipes/conda_build_config.yaml
  conda/recipes/mantid/meta.yaml
  docs/source/release/v6.11.0/Framework/Dependencies/Bugfixes/37440.rst
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: Maintenance, ISIS Team: Core

#37464 Add single process flag to launch script on Linux
  buildconfig/CMake/LinuxPackageScripts.cmake
  buildconfig/CMake/Packaging/launch_mantidworkbench.sh.in
  dev-docs/source/GettingStarted/GettingStartedCondaLinux.rst
Labels: ISIS Team: Core, Linux Only

#37391 Create RunWidget for Indirect/Inelastic interfaces
  qt/scientific_interfaces/Inelastic/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Common/InelasticTab.h
  qt/scientific_interfaces/Inelastic/Common/RunWidget/IRunSubscriber.h
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunPresenter.cpp
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunPresenter.h
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunView.cpp
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunView.h
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunView.ui
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.ui
  qt/scientific_interfaces/Inelastic/test/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Common/MockObjects.h
  qt/scientific_interfaces/Inelastic/test/Common/Run/RunPresenterTest.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37490 Change (debug build) optimisation option for gcc on linux
  CMakePresets.json
Labels: ISIS Team: Core

#37487 Add note about where to find plotting example file
  docs/source/tutorials/python_in_mantid/plotting/01_basic_plot_scripting.rst
Labels: Documentation, Maintenance, ISIS Team: Core

#37492 Fix linux build warnings
  Framework/Crystal/src/IntegratePeakTimeSlices.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: Maintenance, ISIS Team: Core

#37493 Add highlights to the 6.10 release notes index page
  docs/source/images/6_10_release/IntegratePeaks1DProfile_OutputFile.png
  docs/source/release/v6.10.0/diffraction.rst
  docs/source/release/v6.10.0/direct_geometry.rst
  docs/source/release/v6.10.0/framework.rst
  docs/source/release/v6.10.0/index.rst
  docs/source/release/v6.10.0/inelastic.rst
  docs/source/release/v6.10.0/mantidworkbench.rst
  docs/source/release/v6.10.0/muon.rst
  docs/source/release/v6.10.0/sans.rst
Labels: Documentation

#37489 Optionally Output Fit Results in HeliumAnalyserEfficiency Algorithm
  Framework/Algorithms/src/PolarizationCorrections/HeliumAnalyserEfficiency.cpp
  Framework/Algorithms/test/PolarizationCorrections/HeliumAnalyserEfficiencyTest.h
Labels: SANS, Framework, ISIS Team: LSS

#37485 clarify report usage data checkbox
  docs/source/release/v6.11.0/Workbench/New_features/33275.rst
  qt/applications/workbench/workbench/widgets/about/usage_verification_view.py
  qt/applications/workbench/workbench/widgets/about/view.py
Labels: ISIS Team: Core

#37501 Fix link to Data Processor Interface in release note index for v6.10
  docs/source/release/v6.10.0/index.rst
Labels: High Priority, Documentation

#37502 Rename data manipulation to processor in release notes index to fix warning
  docs/source/release/v6.10.0/index.rst
Labels: High Priority, Bug, Documentation

#37505 Only Change PxD when Fitting Polarised SANS Analyser Transmission (`release-next` Special Edition)
  Framework/Algorithms/inc/MantidAlgorithms/PolarizationCorrections/DepolarizedAnalyserTransmission.h
  Framework/Algorithms/src/PolarizationCorrections/DepolarizedAnalyserTransmission.cpp
  Framework/Algorithms/test/PolarizationCorrections/DepolarizedAnalyserTransmissionTest.h
  docs/source/algorithms/DepolarizedAnalyserTransmission-v1.rst
Labels: SANS, ISIS Team: LSS

#37507 Fix Plot Preview in Quasi Bayes interface
  Framework/PythonInterface/plugins/algorithms/WorkflowAlgorithms/BayesQuasi2.py
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37510 Fix clang format issues in class_maker tool
  buildconfig/class_maker.py
  buildconfig/cmakelists_utils.py
Labels: Maintenance, ISIS Team: Core

#36809 Add check if sample details exists before applying absorption correction in diffraction script
  docs/source/release/v6.11.0/Diffraction/Powder/Bugfixes/36809.rst
  scripts/Diffraction/isis_powder/abstract_inst.py
  scripts/Diffraction/isis_powder/gem.py
  scripts/Diffraction/isis_powder/hrpd.py
  scripts/Diffraction/isis_powder/osiris.py
  scripts/Diffraction/isis_powder/polaris.py
Labels: Diffraction, Maintenance

#37511 Ensure Fit Single Spectrum calls correct validate method
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTab.cpp
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37484 Move FitDataModel to common location on Inelastic interfaces
  buildconfig/CMake/CppCheck_Suppressions.txt.in
  qt/scientific_interfaces/Inelastic/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/Common/DataModel.cpp
  qt/scientific_interfaces/Inelastic/Common/DataModel.h
  qt/scientific_interfaces/Inelastic/Common/FitData.cpp
  qt/scientific_interfaces/Inelastic/Common/FitData.h
  qt/scientific_interfaces/Inelastic/Common/IDataModel.h
  qt/scientific_interfaces/Inelastic/Processor/ElwinModel.h
  qt/scientific_interfaces/Inelastic/Processor/ElwinPresenter.cpp
  qt/scientific_interfaces/Inelastic/Processor/ElwinPresenter.h
  qt/scientific_interfaces/Inelastic/Processor/ElwinView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvFitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvFitDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FqFitDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FqFitDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/IFittingModel.h
  qt/scientific_interfaces/Inelastic/test/Common/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Common/DataModelTest.h
  qt/scientific_interfaces/Inelastic/test/Common/FitDataTest.h
  qt/scientific_interfaces/Inelastic/test/Common/MockObjects.h
  qt/scientific_interfaces/Inelastic/test/Processor/ElwinPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/QENSFitting/ConvFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FittingPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FqFitDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/MockObjects.h
Labels: Maintenance, ISIS Team: Spectroscopy

#37496 Add Bayes Fitting manual testing instructions
  dev-docs/source/Testing/Inelastic/BayesFittingTests.rst
  dev-docs/source/Testing/index.rst
Labels: Documentation, Maintenance, ISIS Team: Spectroscopy, Manual Tests

#37494 Use RunWidget in Indirect Diffraction
  qt/scientific_interfaces/Indirect/Diffraction/DiffractionReduction.cpp
  qt/scientific_interfaces/Indirect/Diffraction/DiffractionReduction.h
  qt/scientific_interfaces/Indirect/Diffraction/DiffractionReduction.ui
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunPresenter.cpp
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunPresenter.h
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunView.cpp
  qt/scientific_interfaces/Inelastic/Common/RunWidget/RunView.h
  qt/scientific_interfaces/Inelastic/test/Common/MockObjects.h
  qt/scientific_interfaces/Inelastic/test/Common/Run/RunPresenterTest.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37515 Update File Used in LoadNexusProcessedTest for LeanElasticPeaks Workspaces
  Framework/DataHandling/test/LoadNexusProcessedTest.h
  Testing/Data/UnitTest/SingleCrystalLeanElasticPeakTableNew.nxs.md5
Labels: Bug, Framework, macOS Only

#37508 Add two new release notes to release 6.10
  docs/source/release/v6.10.0/Inelastic/New_features/Used/37467.rst
  docs/source/release/v6.10.0/Workbench/Bugfixes/Used/36220.rst
  docs/source/release/v6.10.0/index.rst
  docs/source/release/v6.10.0/inelastic.rst
  docs/source/release/v6.10.0/mantidworkbench.rst
Labels: Documentation

#37473 37041 scrolling on plot when cursor is above legend will grab the legend
  docs/source/release/v6.11.0/Workbench/Bugfixes/37473.rst
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/test/test_figureinteraction.py
Labels: GUI, ISIS Team: Core

#37523 Add error calculation to FlipperEfficiency algorithm
  Framework/Algorithms/src/PolarizationCorrections/FlipperEfficiency.cpp
  Framework/Algorithms/test/PolarizationCorrections/FlipperEfficiencyTest.h
  docs/source/algorithms/FlipperEfficiency-v1.rst
Labels: SANS, ISIS Team: LSS

#37509 Fix bug in plotting Qspace integration in BaseSX class
  scripts/Diffraction/single_crystal/CMakeLists.txt
  scripts/Diffraction/single_crystal/base_sx.py
  scripts/Diffraction/single_crystal/test/test_base_sx.py
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#37531 Fix typo in automerge workflow
  .github/workflows/automerge.yml
Labels: ISIS Team: Core

#37536 Improve manual testing instructions for the elwin tab of the Data Processor interface
  dev-docs/source/Testing/Inelastic/DataProcessorTests.rst
Labels: Indirect/Inelastic, Documentation, ISIS Team: Spectroscopy

#37543 Use int instead of long in Inelastic Corrections tab properties
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/CalculatePaalmanPings.cpp
Labels: High Priority, Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37533 Use RunWidget in Bayes Fitting interface
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.h
  qt/scientific_interfaces/Inelastic/BayesFitting/Quasi.ui
  qt/scientific_interfaces/Inelastic/BayesFitting/ResNorm.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/ResNorm.h
  qt/scientific_interfaces/Inelastic/BayesFitting/ResNorm.ui
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.cpp
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.h
  qt/scientific_interfaces/Inelastic/BayesFitting/Stretch.ui
  qt/scientific_interfaces/Inelastic/Common/InelasticTab.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MockUserInputValidator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserInputValidator.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37532 Rename tabs of QENS Fitting interface
  dev-docs/source/IndirectDataAnalysisAddingFitType.rst
  dev-docs/source/Testing/Inelastic/QENSFittingTests.rst
  dev-docs/source/images/QENS/indirectFitClassStructure.uxf
  docs/source/interfaces/indirect/Indirect Settings.rst
  docs/source/interfaces/inelastic/Inelastic QENS Fitting.rst
  docs/source/release/v6.11.0/Inelastic/New_features/36853.rst
  qt/scientific_interfaces/Inelastic/Common/InterfaceProperties.xml
  qt/scientific_interfaces/Inelastic/QENSFitting/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionAddWorkspaceDialog.h
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionAddWorkspaceDialog.ui
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionDataView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionDataView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/ConvolutionModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FitPlotModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FitTabConstants.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FittingModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/FqFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionBrowser/MSDFunctionModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQAddWorkspaceDialog.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQAddWorkspaceDialog.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQAddWorkspaceDialog.ui
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQDataPresenter.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQDataPresenter.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQDataView.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQDataView.h
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/FunctionQModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/IqtFitModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/MSDModel.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/MSDModel.h
  qt/scientific_interfaces/Inelastic/QENSFitting/QENSFitting.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/QENSFitting.ui
  qt/scientific_interfaces/Inelastic/QENSFitting/TabFactory.cpp
  qt/scientific_interfaces/Inelastic/QENSFitting/TabFactory.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/QENSFitting/ConvolutionDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/ConvolutionModelTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FitPlotModelTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FittingModelTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FunctionQDataPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/FunctionQModelTest.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37544 Add manual testing instructions for Inelastic Corrections interface
  dev-docs/source/Testing/Inelastic/CorrectionsTests.rst
  dev-docs/source/Testing/index.rst
Labels: Indirect/Inelastic, Documentation, ISIS Team: Spectroscopy

#37578 Package .json files as part of Mantid package so `peak_data.json` is found
  Framework/PythonInterface/setup.py
Labels: High Priority, Bug, Muon, ISIS Team: Spectroscopy

#37576 Enable Slice Viewer and 3D Plottings options from Elwin tab
  docs/source/release/v6.11.0/Inelastic/New_features/37092.rst
  qt/scientific_interfaces/Inelastic/Processor/ElwinPresenter.cpp
Labels: Indirect/Inelastic, GUI, ISIS Team: Spectroscopy

#37588 Pin occt to novtk build variant
  conda/recipes/conda_build_config.yaml
  conda/recipes/mantid/meta.yaml
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: High Priority, Found in Beta

#37590 Revert adding plugin dll directory to path
  installers/conda/win/sitecustomize.py
  qt/scientific_interfaces/Inelastic/CMakeLists.txt
Labels: High Priority, Indirect/Inelastic, ISIS Team: Spectroscopy, Windows Only, Found in Beta

#37589 35956 move verify and clear to tear down method in isis reflectometry unit tests
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerProcessingTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchJobManagerWorkspacesTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Batch/BatchPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Event/EventPresenterTest.h
  qt/scientific_interfaces/ISISReflectometry/test/Instrument/InstrumentPresenterTest.h
Labels: Reflectometry, ISIS Team: LSS

#37524 Fix Issue 37040: Dragging text onto plot not handled well
  docs/source/release/v6.11.0/Workbench/Bugfixes/37040.rst
  qt/applications/workbench/workbench/plotting/figurewindow.py
  qt/applications/workbench/workbench/plotting/test/test_figurewindow.py
Labels: Bug, ISIS Team: Core

#37607 Pin scipy <1.14 due to interp2d removal
  conda/recipes/conda_build_config.yaml
  mantid-developer-linux.yml
  mantid-developer-osx.yml
  mantid-developer-win.yml
Labels: High Priority, DevOps

#37574 Use RunWidget in Inelastic Corrections
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferPresenter.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.cpp
  qt/scientific_interfaces/Indirect/Reduction/ISISEnergyTransferView.h
  qt/scientific_interfaces/Indirect/test/Reduction/MockObjects.h
  qt/scientific_interfaces/Inelastic/Common/DataValidationHelper.cpp
  qt/scientific_interfaces/Inelastic/Common/DataValidationHelper.h
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.h
  qt/scientific_interfaces/Inelastic/Corrections/AbsorptionCorrections.ui
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.cpp
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.h
  qt/scientific_interfaces/Inelastic/Corrections/ApplyAbsorptionCorrections.ui
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.cpp
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.h
  qt/scientific_interfaces/Inelastic/Corrections/ContainerSubtraction.ui
  qt/scientific_interfaces/Inelastic/Corrections/CorrectionsTab.h
  qt/scientific_interfaces/Inelastic/Processor/MomentsView.cpp
  qt/scientific_interfaces/Inelastic/Processor/SqwView.cpp
  qt/scientific_interfaces/Inelastic/Processor/SymmetriseView.cpp
  qt/scientific_interfaces/Inelastic/test/Common/DataValidationHelperTest.h
  qt/widgets/common/inc/MantidQtWidgets/Common/MockUserInputValidator.h
  qt/widgets/common/inc/MantidQtWidgets/Common/UserInputValidator.h
  qt/widgets/common/src/UserInputValidator.cpp
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy

#37595 Fix unresponsive plot sliders on Moments tab
  docs/source/release/v6.11.0/Inelastic/Bugfixes/37428.rst
  qt/scientific_interfaces/Inelastic/Processor/IMomentsView.h
  qt/scientific_interfaces/Inelastic/Processor/MomentsPresenter.cpp
  qt/scientific_interfaces/Inelastic/Processor/MomentsView.cpp
  qt/scientific_interfaces/Inelastic/Processor/MomentsView.h
  qt/scientific_interfaces/Inelastic/test/Processor/CMakeLists.txt
  qt/scientific_interfaces/Inelastic/test/Processor/MomentsModelTest.h
  qt/scientific_interfaces/Inelastic/test/Processor/MomentsPresenterTest.h
  qt/scientific_interfaces/Inelastic/test/QENSFitting/MockObjects.h
Labels: Bug, Indirect/Inelastic, ISIS Team: Spectroscopy

#37575 Add option to correct for attenuation post integration in ISIS single-crystal reduction classes
  Testing/SystemTests/tests/framework/SXDAnalysis.py
  docs/source/release/v6.11.0/Diffraction/Single_Crystal/New_features/37575.rst
  docs/source/techniques/ISIS_SingleCrystalDiffraction_Workflow.rst
  scripts/Diffraction/single_crystal/base_sx.py
  scripts/Diffraction/single_crystal/sxd.py
  scripts/Diffraction/single_crystal/test/test_sxd.py
  scripts/Diffraction/wish/wishSX.py
Labels: Diffraction, Single Crystal, ISIS Team: Diffraction

#37615 Fix typos in SXD documentation
  docs/source/techniques/ISIS_SingleCrystalDiffraction_Workflow.rst
Labels: ISIS Team: Diffraction

#37535 Update Reflectometry GUI manual testing instructions
  dev-docs/source/Testing/ReflectometryGUI/ReflectometryGUITests.rst
Labels: Reflectometry, Documentation, ISIS Team: LSS

#37611 Use RunWidget in Indirect Simulations interface
  docs/source/interfaces/indirect/Indirect Simulation.rst
  docs/source/release/v6.11.0/Indirect/Bugfixes/37611.rst
  qt/scientific_interfaces/Indirect/Simulation/DensityOfStates.cpp
  qt/scientific_interfaces/Indirect/Simulation/DensityOfStates.h
  qt/scientific_interfaces/Indirect/Simulation/DensityOfStates.ui
  qt/scientific_interfaces/Indirect/Simulation/MolDyn.cpp
  qt/scientific_interfaces/Indirect/Simulation/MolDyn.h
  qt/scientific_interfaces/Indirect/Simulation/MolDyn.ui
  qt/scientific_interfaces/Indirect/Simulation/Sassena.cpp
  qt/scientific_interfaces/Indirect/Simulation/Sassena.h
  qt/scientific_interfaces/Indirect/Simulation/Sassena.ui
  qt/scientific_interfaces/Inelastic/Common/RunWidget/IRunSubscriber.h
Labels: Indirect/Inelastic, Maintenance, ISIS Team: Spectroscopy
