Repository mantidproject/mantid, pull requests merged in 2025-06, with the labels that each got.

#39424 Remove NXinquirefile from nexus api
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi_internal.h
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/napi_test.cpp
  Framework/Nexus/test/napi_test_cpp.cpp
Labels: Technical Debt, Nexus

#39402 Fix for hidden workspaces not being hidden in a group
  docs/source/release/v6.14.0/Workbench/Bugfixes/39402.rst
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: GUI, ORNL Team

#39427 Fix for hidden workspaces not being hidden in a group
  docs/source/release/v6.14.0/Workbench/Bugfixes/39402.rst
  qt/widgets/common/src/WorkspacePresenter/WorkspaceTreeWidget.cpp
Labels: ornl-next

#39431 Remove NXinquirefile from nexus api
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi_internal.h
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/napi_test.cpp
  Framework/Nexus/test/napi_test_cpp.cpp
Labels: ornl-next

#39425 Replace `NXhandle*` with `NXhandle&`
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi5.h
  Framework/Nexus/inc/MantidNexus/napi_internal.h
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/leak_test1.cpp
  Framework/Nexus/test/leak_test2.cpp
  Framework/Nexus/test/leak_test3.cpp
  Framework/Nexus/test/napi_test.cpp
  Framework/Nexus/test/test_nxunlimited.cpp
Labels: Nexus

#39433 Add additional tests to NexusClasses.
  Framework/Nexus/test/NexusClassesTest.h
Labels: Technical Debt, Nexus

#39432 Change address method, simplify `nxstack`
  Framework/DataHandling/src/LoadILLLagrange.cpp
  Framework/DataHandling/src/LoadILLSALSA.cpp
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/Nexus/inc/MantidNexus/NexusFile_fwd.h
  Framework/Nexus/inc/MantidNexus/nxstack.h
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/src/nxstack.cpp
Labels: Technical Debt, Nexus

#39401 Update SNSPowderReduction to use new absorption calculations
  Framework/PythonInterface/mantid/utils/absorptioncorrutils.py
  Framework/PythonInterface/plugins/algorithms/SNSPowderReduction.py
  docs/source/release/v6.14.0/Framework/Algorithms/New_features/39401.rst
Labels: Powder, Absorption Corrections

#39458 Revert small change to NexusClassesTest
  Framework/Nexus/test/NexusClassesTest.h
Labels: Nexus

#39435 Add time integer series test for Export Results Table in Muon Analysis Interface
  qt/python/mantidqtinterfaces/test/Muon/results_tab_widget/results_tab_model_test.py
Labels: Muon, Maintenance

#39441 Batch of Nexus Refactors -- `ornl-next`
  Framework/DataHandling/inc/MantidDataHandling/PrecompiledHeader.h
  Framework/DataHandling/src/LoadILLLagrange.cpp
  Framework/DataHandling/src/LoadILLSALSA.cpp
  Framework/Kernel/inc/MantidKernel/PrecompiledHeader.h
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/Nexus/CMakeLists.txt
  Framework/Nexus/inc/MantidNexus/NexusFile_fwd.h
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi5.h
  Framework/Nexus/inc/MantidNexus/napi_internal.h
  Framework/Nexus/inc/MantidNexus/nxstack.h
  Framework/Nexus/src/H5Util.cpp
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/src/nxstack.cpp
  Framework/Nexus/test/NapiUnitTest.h
  Framework/Nexus/test/NexusClassesTest.h
  Framework/Nexus/test/leak_test1.cpp
  Framework/Nexus/test/leak_test2.cpp
  Framework/Nexus/test/leak_test3.cpp
  Framework/Nexus/test/napi_test.cpp
  Framework/Nexus/test/test_nxunlimited.cpp
Labels: ornl-next, Nexus

#39477 Remove ReadBanksInThread option from AlignAndFocusPowderSlim
  Framework/DataHandling/src/AlignAndFocusPowderSlim.cpp
  docs/source/release/v6.14.0/Diffraction/Powder/New_features/39459.rst
Labels: ornl-next

#39481 Enable use of a unit test thread limit in Jenkins.
  buildconfig/Jenkins/Conda/run-tests
Labels: High Priority, macOS Only, ISIS Team: Core, DevOps

#39474 Undo UnwrapMonitor deprecation
  Framework/Algorithms/inc/MantidAlgorithms/UnwrapMonitor.h
  Framework/Algorithms/src/UnwrapMonitor.cpp
  docs/source/release/v6.13.0/Framework/Algorithms/Deprecated/Used/39218.rst
  docs/source/release/v6.13.0/framework.rst
Labels: ORNL Team

#39483 Minor refactors for char data in napi5
  Framework/DataHandling/test/SaveNexusProcessedTest.h
  Framework/Nexus/inc/MantidNexus/NexusFile.h
  Framework/Nexus/src/NexusClasses.cpp
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/NeXusFileTest.h
  Framework/Nexus/test/napi_test_cpp.cpp
Labels: Nexus

#39510 Minor refactors for char data in napi5 -- `ornl-next`
  Framework/DataHandling/test/SaveNexusProcessedTest.h
  Framework/Nexus/inc/MantidNexus/NexusFile.h
  Framework/Nexus/src/NexusClasses.cpp
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/NeXusFileTest.h
  Framework/Nexus/test/napi_test_cpp.cpp
Labels: ornl-next, Nexus

#39484 Move function contents from napi5 to NexusFile
  Framework/Nexus/CMakeLists.txt
  Framework/Nexus/inc/MantidNexus/NexusFile.h
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/test/NexusFileLeakTest.h
  Framework/Nexus/test/NexusFileNapiTest.h
  Framework/Nexus/test/NexusFileReadWriteTest.h
  Framework/Nexus/test/NexusFileTest.h
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: Technical Debt, Nexus

#39521 Change how AlignAndFocusPowderSlim is histogramming events
  Framework/DataHandling/src/AlignAndFocusPowderSlim.cpp
Labels: ornl-next

#39503 Edit v6.13.0 Diffraction Release Notes
  docs/source/release/v6.13.0/diffraction.rst
Labels: Documentation

#39509 More `napi5` changes
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/test/NexusFileTest.h
Labels: Nexus

#39505 Crosshair subplots
  docs/source/release/v6.14.0/Workbench/New_features/39491.rst
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_toolbar.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: ornl-next

#39529 Update developer documentation
  .clang-tidy
  dev-docs/source/GettingStarted/MantidDeveloperSetup.rst
  dev-docs/source/ToolsOverview.rst
Labels: ornl-next

#39531 Dependencies and buildscripts from main
  CMakePresets.json
  Framework/PythonInterface/plugins/algorithms/Abins.py
  Framework/PythonInterface/plugins/algorithms/Abins2D.py
  Framework/PythonInterface/test/python/plugins/algorithms/Abins2BasicTest.py
  buildconfig/CMake/WindowsSetup.cmake
  buildconfig/Jenkins/Conda/download-and-install-mambaforge
  buildconfig/Jenkins/Conda/publish-to-github
  buildconfig/Jenkins/Conda/run-tests
  conda/recipes/conda_build_config.yaml
  conda/recipes/mantid-developer/meta.yaml
  conda/recipes/mantidworkbench/post-link.bat
  conda/recipes/mantidworkbench/pre-unlink.bat
  dev-docs/source/CodeCoverage.rst
  dev-docs/source/CondaPackageManager.rst
  dev-docs/source/GettingStarted/GettingStarted.rst
  dev-docs/source/GettingStarted/GettingStartedCondaLinux.rst
  dev-docs/source/GettingStarted/GettingStartedCondaOSX.rst
  dev-docs/source/GettingStarted/GettingStartedCondaWindows.rst
  dev-docs/source/GettingStarted/GettingStartedNoneConda.rst
  dev-docs/source/GettingStarted/MantidDeveloperSetup.rst
  dev-docs/source/JenkinsConfiguration.rst
  dev-docs/source/MVPDesign.rst
  dev-docs/source/Packaging.rst
  dev-docs/source/PyCharm.rst
  dev-docs/source/WritingPerformanceTests.rst
  dev-docs/source/index.rst
  docs/source/concepts/CaChannel.rst
  docs/source/concepts/PipInstall.rst
  docs/source/concepts/PythonNotebook.rst
  docs/source/release/v6.14.0/mantidworkbench.rst
  installers/conda/linux/create_tarball.sh
  installers/conda/osx/BundleExecutable
  installers/conda/osx/create_bundle.sh
  installers/conda/win/create_package.sh
  qt/applications/workbench/workbench/app/mantidworkbench_launch_wrapper.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/common/output_settings.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/call_G2sc.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/gsas2_handler.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/parse_inputs.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/test/test_call_G2sc.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/test/test_gsas2_model.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/test/test_gsas2_presenter.py
  qt/python/mantidqtinterfaces/mantidqtinterfaces/Engineering/gui/engineering_diffraction/tabs/gsas2/test/test_gsas_handler.py
  scripts/abins/__init__.py
  scripts/abins/abins2.py
  scripts/abins/abinsalgorithm.py
  scripts/abins/constants.py
  scripts/abins/instruments/instrument.py
  scripts/abins/instruments/pychop.py
  scripts/abins/parameters.py
  scripts/abins/sdata.py
  scripts/abins/spowdersemiempiricalcalculator.py
  scripts/test/Abins/AbinsAlgorithmTest.py
  scripts/test/Abins/AbinsCalculateSPowderTest.py
  scripts/test/Abins/AbinsSDataTest.py
  setup.py
  tools/MVP/templates/CMakeLists.txt.in
Labels: ornl-next

#39534 Update mantid pre-commit-hooks commit sha
  .pre-commit-config.yaml
Labels: Maintenance

#39520 Edit Mantid Workbench Release Notes for v6.13.0
  docs/source/release/v6.13.0/mantidworkbench.rst
Labels: Documentation

#39511 Move `napi5` --> `napi`-- round 1
  Framework/Nexus/CMakeLists.txt
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi5.h
  Framework/Nexus/inc/MantidNexus/napi_helper.h
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/src/napi_helper.cpp
  Framework/Nexus/test/napi_test.cpp
Labels: Nexus

#39540 Nexus refactor batch into `ornl-next`
  Framework/Nexus/CMakeLists.txt
  Framework/Nexus/inc/MantidNexus/NexusFile.h
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi5.h
  Framework/Nexus/inc/MantidNexus/napi_helper.h
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/src/napi_helper.cpp
  Framework/Nexus/test/NexusFileLeakTest.h
  Framework/Nexus/test/NexusFileNapiTest.h
  Framework/Nexus/test/NexusFileReadWriteTest.h
  Framework/Nexus/test/NexusFileTest.h
  Framework/Nexus/test/napi_test.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: ornl-next, Nexus

#39578 Allow different binning for each output histogram in AlignAndFocusPowderSlim
  Framework/DataHandling/inc/MantidDataHandling/AlignAndFocusPowderSlim.h
  Framework/DataHandling/src/AlignAndFocusPowderSlim.cpp
  Framework/DataHandling/test/AlignAndFocusPowderSlimTest.h
  docs/source/algorithms/AlignAndFocusPowderSlim-v1.rst
  docs/source/release/v6.14.0/Diffraction/Powder/New_features/39533.rst
Labels: ornl-next

#39579 Use `std::move` to pass `rotMat` to `setR`
  Framework/Geometry/src/Instrument/Goniometer.cpp
Labels: Maintenance

#39577 AlignAndFocusPowderSlim change disk access
  Framework/DataHandling/inc/MantidDataHandling/AlignAndFocusPowderSlim.h
  Framework/DataHandling/src/AlignAndFocusPowderSlim.cpp
  Framework/Nexus/src/H5Util.cpp
Labels: Diffraction, Powder

#39595 AlignAndFocusPowderSlim change disk access
  Framework/DataHandling/inc/MantidDataHandling/AlignAndFocusPowderSlim.h
  Framework/DataHandling/src/AlignAndFocusPowderSlim.cpp
  Framework/Nexus/src/H5Util.cpp
Labels: ornl-next

#39598 Crosshair bugfix release next
  Framework/PythonInterface/mantid/plots/mantidaxes.py
  qt/applications/workbench/workbench/plotting/figureinteraction.py
  qt/applications/workbench/workbench/plotting/figuremanager.py
  qt/applications/workbench/workbench/plotting/test/test_toolbar.py
  qt/applications/workbench/workbench/plotting/toolbar.py
Labels: High Priority, Framework, ORNL Team

#39599 Change Journal Link
  Framework/DataHandling/src/ISISJournal.cpp
  Framework/DataHandling/test/ISISJournalTest.h
Labels: High Priority

#39601 Nexus batch `ornl-next`
  Framework/API/test/ExperimentInfoTest.h
  Framework/API/test/FileBackedExperimentInfoTest.h
  Framework/API/test/WorkspaceHistoryIOTest.h
  Framework/DataHandling/src/LoadCSNSNexus.cpp
  Framework/DataHandling/src/LoadDetectorInfo.cpp
  Framework/DataHandling/src/LoadEventNexus.cpp
  Framework/DataHandling/src/LoadILLDiffraction.cpp
  Framework/DataHandling/src/LoadILLIndirect2.cpp
  Framework/DataHandling/src/LoadILLLagrange.cpp
  Framework/DataHandling/src/LoadILLPolarizedDiffraction.cpp
  Framework/DataHandling/src/LoadILLReflectometry.cpp
  Framework/DataHandling/src/LoadILLSALSA.cpp
  Framework/DataHandling/src/LoadILLSANS.cpp
  Framework/DataHandling/src/LoadILLTOF3.cpp
  Framework/DataHandling/src/SNSAppendGeometryToNexus.cpp
  Framework/DataHandling/src/SaveNXSPE.cpp
  Framework/DataHandling/src/SaveNXTomo.cpp
  Framework/DataHandling/src/SaveNexusProcessedHelper.cpp
  Framework/DataHandling/src/StartAndEndTimeFromNexusFileExtractor.cpp
  Framework/DataHandling/test/LoadDetectorInfoTest.h
  Framework/DataHandling/test/LoadNexusMonitorsTest.h
  Framework/DataObjects/src/MDBoxFlatTree.cpp
  Framework/Geometry/test/ComponentParserTest.h
  Framework/MDAlgorithms/src/LoadMD.cpp
  Framework/MDAlgorithms/src/SaveMD.cpp
  Framework/MDAlgorithms/src/SaveMD2.cpp
  Framework/MDAlgorithms/src/SaveZODS.cpp
  Framework/Nexus/inc/MantidNexus/NexusClasses.h
  Framework/Nexus/inc/MantidNexus/NexusDescriptor.h
  Framework/Nexus/inc/MantidNexus/NexusFile.h
  Framework/Nexus/inc/MantidNexus/NexusFile_fwd.h
  Framework/Nexus/inc/MantidNexus/napi.h
  Framework/Nexus/inc/MantidNexus/napi5.h
  Framework/Nexus/src/NexusClasses.cpp
  Framework/Nexus/src/NexusDescriptor.cpp
  Framework/Nexus/src/NexusFile.cpp
  Framework/Nexus/src/napi.cpp
  Framework/Nexus/src/napi5.cpp
  Framework/Nexus/src/napi_helper.cpp
  Framework/Nexus/test/NapiUnitTest.h
  Framework/Nexus/test/NexusFileLeakTest.h
  Framework/Nexus/test/NexusFileNapiTest.h
  Framework/Nexus/test/NexusFileReadWriteTest.h
  Framework/Nexus/test/NexusFileTest.h
  Framework/Nexus/test/leak_test1.cpp
  Framework/Nexus/test/leak_test2.cpp
  Framework/Nexus/test/leak_test3.cpp
  Framework/Nexus/test/napi_test.cpp
  Framework/Nexus/test/napi_test_cpp.cpp
  Framework/Nexus/test/napi_test_util.cpp
  Framework/Nexus/test/test_nxunlimited.cpp
  Framework/TestHelpers/src/NexusTestHelper.cpp
  Framework/WorkflowAlgorithms/src/SANSSensitivityCorrection.cpp
  buildconfig/CMake/CppCheck_Suppressions.txt.in
Labels: ornl-next, Nexus
